; Use RST instructions, or calls...
userst	equ	0

esc	equ	27

 if userst

rst2v	equ	0010h	; in case not "RST 2"
rst2	macro
	rst	10h
	endm

rst3v	equ	0018h	; in case not "RST 3"
rst3	macro
	rst	18h
	endm

rst4v	equ	0020h	; in case not "RST 4"
rst4	macro
	rst	20h
	endm

 else

rst2	macro
	call	L8c82
	endm

rst3	macro
	call	L8c87
	endm

rst4	macro
	call	L8ca6
	endm

 endif

	org	00100h
L0100:	jp	L4d49		;program entry

L0103:	db	0,0
L0105:	db	0,0,86h,11h,1
L010a:	db	35,'COPYRIGHT (C) 1986 JOHN WASHINGTON ',0
	db	0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0
	db	1ah
L0143:	db	7,'H19/H89',0
	rept	017ch-$
	db	0
	endm
L017c:	db	0ffh
L017d:	db	'P'
L017e:	db	11h
L017f:	db	3
L0180:	db	' '
L0181:	db	0
L0182:	db	1
L0183:	db	7fh
L0184:	db	7fh
L0185:	db	7fh
L0186:	db	'_'
L0187:	db	1
L0188:	db	1
L0189:	db	12h
L018a:	db	14h
L018b:	db	17h
L018c:	db	1
L018d:	db	1fh
L018e:	db	1eh
L018f:	db	16h,1ah,1fh,''''
L0193:	db	'-',0,8,10h,18h,' '
L0199:	db	4,'LST'
L019d:	db	':'
L019e:	db	4,'.MAC'
L01a3:	db	1
L01a4:	db	'HF'
L01a6:	db	10h
L01a7:	db	7
L01a8:	db	1,'D',0,0
L01ac:	db	'C'
L01ad:	db	0
L01ae:	db	'H'
L01af:	db	'B'
L01b0:	db	0ch
L01b1:	db	'DZENGMNU.OVR',0,0
L01bf:	db	0ch,'DZENGHLP.OVR',0,0
L01ce:	db	0ch,'DZENGMSG.OVR',0,0
L01dd:	db	0e8h,3
L01df:	db	24,80	; terminal rows, cols
; term init
L01e1:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
; term exit
L01f1:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
; cursor addr pre seq
L0201:	db	2,esc,'Y',0,0,0,0,0,0,0,0,0,0,0,0,0
; cursor addr sep seq
L0211:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
; cursor addr end seq
L0221:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L0231:	db	0	; 0=row first curs addr
L0232:	db	' '	; cursor addr row off
L0233:	db	' '	; cursor addr col off
L0234:	db	0	; 0=binary curs addr
; erase to EOL seq
L0235:	db	2,esc,'K',0,0,0,0,0,0,0,0,0,0,0,0,0
; delete line seq
	db	2,esc,'M',0,0,0,0,0,0,0,0,0,0,0,0,0
; insert line seq
	db	2,esc,'L',0,0,0,0,0,0,0,0,0,0,0,0,0
; clear screen seq
	db	2,esc,'E',0,0,0,0,0,0,0,0,0,0,0,0,0
; rev video seq
L0275:	db	2,esc,'p',0,0,0,0,0,0,0,0,0,0,0,0,0
; norm video seq
L0285:	db	2,esc,'q',0,0,0,0,0,0,0,0,0,0,0,0,0
L0295:	db	8
L0296:	db	0
L0297:	db	0
L0298:	db	0,0
L029a:	db	0,0,0

L029d:	nop			;; 029d: 00          .
	ret			;; 029e: c9          .
	nop			;; 029f: 00          .

L02a0:	nop			;; 02a0: 00          .
	ret			;; 02a1: c9          .
	nop			;; 02a2: 00          .

L02a3:	nop			;; 02a3: 00          .
	ret			;; 02a4: c9          .
	nop			;; 02a5: 00          .

L02a6:	nop			;; 02a6: 00          .
	ret			;; 02a7: c9          .
	nop			;; 02a8: 00          .

L02a9:	nop			;; 02a9: 00          .
	ret			;; 02aa: c9          .
	nop			;; 02ab: 00          .

L02ac:	nop			;; 02ac: 00          .
	ret			;; 02ad: c9          .
	nop			;; 02ae: 00          .

	db	0,0
L02b1:	db	1
L02b2:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,'k'
L02e1:	db	0
L02e2:	db	0
L02e3:	db	0
L02e4:	db	0
L02e5:	db	0
L02e6:	db	0
L02e7:	db	0
L02e8:	db	0
L02e9:	db	0
L02ea:	db	0
L02eb:	db	0
L02ec:	db	0,0
L02ee:	db	0
L02ef:	db	0
L02f0:	db	0
L02f1:	db	0
L02f2:	db	0
L02f3:	db	0,0
L02f5:	db	0
L02f6:	db	0
L02f7:	db	0
L02f8:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L0348:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0
L038f:	db	0
L0390:	db	0
L0391:	db	0
L0392:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0
L03c4:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0
L03dd:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0
L03f6:	db	0
L03f7:	db	0
L03f8:	db	0
L03f9:	db	0
L03fa:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0
L0413:	db	0
L0414:	call	L8d27		;; 0414: cd 27 8d    .'.
	db	0,8
	ld	a,(L02f2)	;; 0419: 3a f2 02    :..
	call	L0455		;; 041c: cd 55 04    .U.
L041f:	ld	a,(L02ac)	;; 041f: 3a ac 02    :..
	or	a,a		;; 0422: b7          .
	jr	z,L042e		;; 0423: 28 09       (.
	ld	hl,L02ac	;; 0425: 21 ac 02    ...
	push	hl		;; 0428: e5          .
	call	L72e8		;; 0429: cd e8 72    ..r
	jr	L0438		;; 042c: 18 0a       ..

L042e:	ld	a,00ch		;BIOS conout
	push	af		;; 0430: f5          .
	ld	a,(ix-125)	;; 0431: dd 7e 83    .~.
	push	af		;; 0434: f5          .
	call	L72d5		;; 0435: cd d5 72    ..r
L0438:	jr	L0463		;; 0438: 18 29       .)

L043a:	call	L7643		;; 043a: cd 43 76    .Cv
	ld	hl,(L02f3)	;; 043d: 2a f3 02    *..
	push	hl		;; 0440: e5          .
	call	L7682		;; 0441: cd 82 76    ..v
	ld	a,(ix-125)	;; 0444: dd 7e 83    .~.
	push	af		;; 0447: f5          .
	ld	a,001h		;; 0448: 3e 01       >.
	push	af		;; 044a: f5          .
	call	L77a2		;; 044b: cd a2 77    ..w
	call	L768c		;; 044e: cd 8c 76    ..v
	jr	L0463		;; 0451: 18 10       ..

L0453:	jr	L0463		;; 0453: 18 0e       ..

L0455:	ld	bc,00003h	;; 0455: 01 03 00    ...
	call	L8d90		;; 0458: cd 90 8d    ...
	dw	L041f
	dw	L043a
	dw	L0453
	dw	L8e06
L0463:	jp	L8d56		;; 0463: c3 56 8d    .V.

L0466:	call	L8d27		;; 0466: cd 27 8d    .'.
	db	0,8
	ld	a,(L038f)	;; 046b: 3a 8f 03    :..
	or	a,a		;; 046e: b7          .
	jr	nz,L0478	;; 046f: 20 07        .
	ld	hl,L038f	;; 0471: 21 8f 03    ...
	ld	(hl),046h	;; 0474: 36 46       6F
	jr	L047f		;; 0476: 18 07       ..

L0478:	ld	a,(L038f)	;; 0478: 3a 8f 03    :..
	dec	a		;; 047b: 3d          =
	ld	(L038f),a	;; 047c: 32 8f 03    2..
L047f:	ld	a,(L038f)	;; 047f: 3a 8f 03    :..
	rst4			;; 0482: e7          .
	db	84h
	ld	de,L0348	;; 0484: 11 48 03    .H.
	add	hl,de		;; 0487: 19          .
	push	hl		;; 0488: e5          .
	ld	a,(ix-125)	;; 0489: dd 7e 83    .~.
	pop	hl		;; 048c: e1          .
	ld	(hl),a		;; 048d: 77          w
	ld	hl,L02f1	;; 048e: 21 f1 02    ...
	ld	(hl),001h	;; 0491: 36 01       6.
	jp	L8d56		;; 0493: c3 56 8d    .V.

L0496:	call	L8d27		;; 0496: cd 27 8d    .'.
	db	0fdh,9
	ld	(ix-126),000h	;; 049b: dd 36 82 00 .6..
	ld	a,(L02b1)	;; 049f: 3a b1 02    :..
	rra			;; 04a2: 1f          .
	jr	nc,L04c8	;; 04a3: 30 23       0#
	ld	a,006h		;BIOS const
	push	af		;; 04a7: f5          .
	ld	a,000h		;; 04a8: 3e 00       >.
	push	af		;; 04aa: f5          .
	call	L72d5		;; 04ab: cd d5 72    ..r
	ld	(ix-126),a	;; 04ae: dd 77 82    .w.
	or	a,a		;; 04b1: b7          .
	jr	z,L04c8		;; 04b2: 28 14       (.
	ld	a,009h		;BIOS conin
	push	af		;; 04b6: f5          .
	ld	a,000h		;; 04b7: 3e 00       >.
	push	af		;; 04b9: f5          .
	call	L72d5		;; 04ba: cd d5 72    ..r
	ld	(ix-126),a	;; 04bd: dd 77 82    .w.
	cp	a,07fh		;; 04c0: fe 7f       ..
	jr	nz,L04c8	;; 04c2: 20 04        .
	ld	(ix-126),008h	;; 04c4: dd 36 82 08 .6..
L04c8:	ld	a,(ix-126)	;; 04c8: dd 7e 82    .~.
	ld	(ix-125),a	;; 04cb: dd 77 83    .w.
	or	a,a		;; 04ce: b7          .
	jr	z,L0506		;; 04cf: 28 35       (5
	ld	a,(L0390)	;; 04d1: 3a 90 03    :..
	rst4			;; 04d4: e7          .
	db	84h
	ld	de,L0348	;; 04d6: 11 48 03    .H.
	add	hl,de		;; 04d9: 19          .
	push	hl		;; 04da: e5          .
	ld	a,(ix-125)	;; 04db: dd 7e 83    .~.
	pop	hl		;; 04de: e1          .
	ld	(hl),a		;; 04df: 77          w
	ld	a,(L0390)	;; 04e0: 3a 90 03    :..
	inc	a		;; 04e3: 3c          <
	push	af		;; 04e4: f5          .
	ld	a,047h		;; 04e5: 3e 47       >G
	call	L896c		;; 04e7: cd 6c 89    .l.
	ld	(L0390),a	;; 04ea: 32 90 03    2..
	ld	hl,L0391	;; 04ed: 21 91 03    ...
	ld	(hl),000h	;; 04f0: 36 00       6.
	ld	hl,L02f1	;; 04f2: 21 f1 02    ...
	ld	(hl),001h	;; 04f5: 36 01       6.
	ld	a,(ix-126)	;; 04f7: dd 7e 82    .~.
	cp	a,015h		;; 04fa: fe 15       ..
	call	L8c09		;; 04fc: cd 09 8c    ...
	ld	hl,L02f0	;; 04ff: 21 f0 02    ...
	or	a,(hl)		;; 0502: b6          .
	ld	(L02f0),a	;; 0503: 32 f0 02    2..
L0506:	ld	a,(L02f0)	;; 0506: 3a f0 02    :..
	ld	(ix-124),a	;; 0509: dd 77 84    .w.
	jp	L8d56		;; 050c: c3 56 8d    .V.

L050f:	call	L8d27		;; 050f: cd 27 8d    .'.
	db	0ffh,7
	ld	hl,L029d	;; 0514: 21 9d 02    ...
	push	hl		;; 0517: e5          .
	call	L72e8		;; 0518: cd e8 72    ..r
	ld	a,(L02e3)	;; 051b: 3a e3 02    :..
	ld	l,a		;; 051e: 6f          o
	ld	h,000h		;; 051f: 26 00       &.
	add	hl,hl		;; 0521: 29          )
	ld	de,L0392	;; 0522: 11 92 03    ...
	add	hl,de		;; 0525: 19          .
	rst4			;; 0526: e7          .
	db	80h
	push	hl		;; 0528: e5          .
	ld	a,(L02ee)	;; 0529: 3a ee 02    :..
	ld	l,a		;; 052c: 6f          o
	ld	h,000h		;; 052d: 26 00       &.
	pop	de		;; 052f: d1          .
	add	hl,de		;; 0530: 19          .
	ld	a,(hl)		;; 0531: 7e          ~
	ld	(ix-126),a	;; 0532: dd 77 82    .w.
	ld	hl,L02a0	;; 0535: 21 a0 02    ...
	push	hl		;; 0538: e5          .
	call	L72e8		;; 0539: cd e8 72    ..r
	ld	a,(ix-126)	;; 053c: dd 7e 82    .~.
	jp	L8d56		;; 053f: c3 56 8d    .V.

L0542:	call	L8d27		;; 0542: cd 27 8d    .'.
	db	0ffh,0bh
	ld	hl,L029d	;; 0547: 21 9d 02    ...
	push	hl		;; 054a: e5          .
	call	L72e8		;; 054b: cd e8 72    ..r
	ld	l,(ix-122)	;; 054e: dd 6e 86    .n.
	ld	h,000h		;; 0551: 26 00       &.
	add	hl,hl		;; 0553: 29          )
	ld	de,L0392	;; 0554: 11 92 03    ...
	add	hl,de		;; 0557: 19          .
	rst4			;; 0558: e7          .
	db	80h
	push	hl		;; 055a: e5          .
	ld	l,(ix-124)	;; 055b: dd 6e 84    .n.
	ld	h,000h		;; 055e: 26 00       &.
	pop	de		;; 0560: d1          .
	add	hl,de		;; 0561: 19          .
	ld	a,(hl)		;; 0562: 7e          ~
	ld	(ix-126),a	;; 0563: dd 77 82    .w.
	ld	hl,L02a0	;; 0566: 21 a0 02    ...
	push	hl		;; 0569: e5          .
	call	L72e8		;; 056a: cd e8 72    ..r
	ld	a,(ix-126)	;; 056d: dd 7e 82    .~.
	jp	L8d56		;; 0570: c3 56 8d    .V.

L0573:	call	L8d27		;; 0573: cd 27 8d    .'.
	db	0,8
	ld	a,(ix-125)	;; 0578: dd 7e 83    .~.
	rra			;; 057b: 1f          .
	jr	nc,L0587	;; 057c: 30 09       0.
	ld	hl,L0275	;; 057e: 21 75 02    .u.
	push	hl		;; 0581: e5          .
	call	L5b56		;; 0582: cd 56 5b    .V[
	jr	L058e		;; 0585: 18 07       ..

L0587:	ld	hl,L0285	;; 0587: 21 85 02    ...
	push	hl		;; 058a: e5          .
	call	L5b56		;; 058b: cd 56 5b    .V[
L058e:	ld	a,(ix-125)	;; 058e: dd 7e 83    .~.
	ld	(L03f9),a	;; 0591: 32 f9 03    2..
	jp	L8d56		;; 0594: c3 56 8d    .V.

L0597:	call	L8d27		;; 0597: cd 27 8d    .'.
	db	0feh,0ah
	ld	a,(L02f6)	;; 059c: 3a f6 02    :..
	rra			;; 059f: 1f          .
	jr	nc,L05d5	;; 05a0: 30 33       03
	ld	a,(L02ee)	;; 05a2: 3a ee 02    :..
	ld	l,a		;; 05a5: 6f          o
	ld	h,000h		;; 05a6: 26 00       &.
	ld	de,L02f8	;; 05a8: 11 f8 02    ...
	add	hl,de		;; 05ab: 19          .
	push	hl		;; 05ac: e5          .
	ld	a,(ix-123)	;; 05ad: dd 7e 85    .~.
	pop	hl		;; 05b0: e1          .
	ld	(hl),a		;; 05b1: 77          w
	ld	a,(L02ee)	;; 05b2: 3a ee 02    :..
	ld	hl,L02f7	;; 05b5: 21 f7 02    ...
	cp	a,(hl)		;; 05b8: be          .
	jr	c,L05c2		;; 05b9: 38 07       8.
	ld	a,(L02ee)	;; 05bb: 3a ee 02    :..
	inc	a		;; 05be: 3c          <
	ld	(L02f7),a	;; 05bf: 32 f7 02    2..
L05c2:	ld	a,(L02ee)	;; 05c2: 3a ee 02    :..
	ld	hl,L0413	;; 05c5: 21 13 04    ...
	cp	a,(hl)		;; 05c8: be          .
	jr	nc,L05d2	;; 05c9: 30 07       0.
	ld	a,(L02ee)	;; 05cb: 3a ee 02    :..
	inc	a		;; 05ce: 3c          <
	ld	(L02ee),a	;; 05cf: 32 ee 02    2..
L05d2:	jp	L071d		;; 05d2: c3 1d 07    ...

L05d5:	call	L0496		;; 05d5: cd 96 04    ...
	ld	(ix-125),a	;; 05d8: dd 77 83    .w.
	ld	a,(L02ee)	;; 05db: 3a ee 02    :..
	ld	hl,L0413	;; 05de: 21 13 04    ...
	cp	a,(hl)		;; 05e1: be          .
	jp	nc,L071d	;; 05e2: d2 1d 07    ...
	ld	a,(L02ee)	;; 05e5: 3a ee 02    :..
	ld	hl,L02ef	;; 05e8: 21 ef 02    ...
	cp	a,(hl)		;; 05eb: be          .
	call	L8c0e		;; 05ec: cd 0e 8c    ...
	ld	hl,L0296	;; 05ef: 21 96 02    ...
	or	a,(hl)		;; 05f2: b6          .
	push	af		;; 05f3: f5          .
	ld	a,(L02e3)	;; 05f4: 3a e3 02    :..
	ld	hl,L02e4	;; 05f7: 21 e4 02    ...
	cp	a,(hl)		;; 05fa: be          .
	call	L8c0e		;; 05fb: cd 0e 8c    ...
	ld	b,a		;; 05fe: 47          G
	pop	af		;; 05ff: f1          .
	or	a,b		;; 0600: b0          .
	rra			;; 0601: 1f          .
	jp	nc,L071d	;; 0602: d2 1d 07    ...
	ld	a,(L0297)	;; 0605: 3a 97 02    :..
	rra			;; 0608: 1f          .
	jr	nc,L0620	;; 0609: 30 15       0.
	ld	a,(L029a)	;; 060b: 3a 9a 02    :..
	xor	a,001h		;; 060e: ee 01       ..
	rra			;; 0610: 1f          .
	jr	nc,L0620	;; 0611: 30 0d       0.
	ld	a,(ix-123)	;; 0613: dd 7e 85    .~.
	push	af		;; 0616: f5          .
	ld	a,07fh		;; 0617: 3e 7f       >.
	push	af		;; 0619: f5          .
	call	L72f2		;; 061a: cd f2 72    ..r
	ld	(ix-123),a	;; 061d: dd 77 85    .w.
L0620:	ld	hl,L029d	;; 0620: 21 9d 02    ...
	push	hl		;; 0623: e5          .
	call	L72e8		;; 0624: cd e8 72    ..r
	ld	a,(L02e3)	;; 0627: 3a e3 02    :..
	ld	l,a		;; 062a: 6f          o
	ld	h,000h		;; 062b: 26 00       &.
	add	hl,hl		;; 062d: 29          )
	ld	de,L0392	;; 062e: 11 92 03    ...
	add	hl,de		;; 0631: 19          .
	rst4			;; 0632: e7          .
	db	80h
	push	hl		;; 0634: e5          .
	ld	a,(L02ee)	;; 0635: 3a ee 02    :..
	ld	l,a		;; 0638: 6f          o
	ld	h,000h		;; 0639: 26 00       &.
	pop	de		;; 063b: d1          .
	add	hl,de		;; 063c: 19          .
	push	hl		;; 063d: e5          .
	ld	a,(ix-123)	;; 063e: dd 7e 85    .~.
	pop	hl		;; 0641: e1          .
	ld	(hl),a		;; 0642: 77          w
	ld	hl,L02a0	;; 0643: 21 a0 02    ...
	push	hl		;; 0646: e5          .
	call	L72e8		;; 0647: cd e8 72    ..r
	ld	a,(L02e3)	;; 064a: 3a e3 02    :..
	or	a,a		;; 064d: b7          .
	call	L8c09		;; 064e: cd 09 8c    ...
	ld	hl,L0391	;; 0651: 21 91 03    ...
	or	a,(hl)		;; 0654: b6          .
	rra			;; 0655: 1f          .
	jr	nc,L06cd	;; 0656: 30 75       0u
	ld	a,(L0275)	;; 0658: 3a 75 02    :u.
	or	a,a		;; 065b: b7          .
	jr	z,L0677		;; 065c: 28 19       (.
	ld	a,(ix-123)	;; 065e: dd 7e 85    .~.
	cp	a,080h		;; 0661: fe 80       ..
	ld	a,000h		;; 0663: 3e 00       >.
	ccf			;; 0665: 3f          ?
	rla			;; 0666: 17          .
	ld	(ix-126),a	;; 0667: dd 77 82    .w.
	ld	hl,L03f9	;; 066a: 21 f9 03    ...
	cp	a,(hl)		;; 066d: be          .
	jr	z,L0677		;; 066e: 28 07       (.
	ld	a,(ix-126)	;; 0670: dd 7e 82    .~.
	push	af		;; 0673: f5          .
	call	L0573		;; 0674: cd 73 05    .s.
L0677:	ld	a,(L029a)	;; 0677: 3a 9a 02    :..
	xor	a,001h		;; 067a: ee 01       ..
	rra			;; 067c: 1f          .
	jr	nc,L068c	;; 067d: 30 0d       0.
	ld	a,(ix-123)	;; 067f: dd 7e 85    .~.
	push	af		;; 0682: f5          .
	ld	a,07fh		;; 0683: 3e 7f       >.
	push	af		;; 0685: f5          .
	call	L72f2		;; 0686: cd f2 72    ..r
	ld	(ix-123),a	;; 0689: dd 77 85    .w.
L068c:	ld	a,(ix-123)	;; 068c: dd 7e 85    .~.
	push	af		;; 068f: f5          .
	call	L0414		;; 0690: cd 14 04    ...
	ld	a,(L03f6)	;; 0693: 3a f6 03    :..
	rra			;; 0696: 1f          .
	jr	nc,L06bb	;; 0697: 30 22       0"
	ld	a,(L02e3)	;; 0699: 3a e3 02    :..
	ld	l,a		;; 069c: 6f          o
	ld	h,000h		;; 069d: 26 00       &.
	ld	de,L03c4	;; 069f: 11 c4 03    ...
	add	hl,de		;; 06a2: 19          .
	ld	a,(hl)		;; 06a3: 7e          ~
	ld	hl,L02ee	;; 06a4: 21 ee 02    ...
	cp	a,(hl)		;; 06a7: be          .
	jr	nz,L06bb	;; 06a8: 20 11        .
	ld	a,(L02e3)	;; 06aa: 3a e3 02    :..
	ld	l,a		;; 06ad: 6f          o
	ld	h,000h		;; 06ae: 26 00       &.
	ld	de,L03c4	;; 06b0: 11 c4 03    ...
	add	hl,de		;; 06b3: 19          .
	push	hl		;; 06b4: e5          .
	ld	a,(L02ee)	;; 06b5: 3a ee 02    :..
	inc	a		;; 06b8: 3c          <
	pop	hl		;; 06b9: e1          .
	ld	(hl),a		;; 06ba: 77          w
L06bb:	ld	a,(L02ee)	;; 06bb: 3a ee 02    :..
	ld	hl,L0413	;; 06be: 21 13 04    ...
	cp	a,(hl)		;; 06c1: be          .
	jr	nc,L06cb	;; 06c2: 30 07       0.
	ld	a,(L02ee)	;; 06c4: 3a ee 02    :..
	inc	a		;; 06c7: 3c          <
	ld	(L03f7),a	;; 06c8: 32 f7 03    2..
L06cb:	jr	L0716		;; 06cb: 18 49       .I

L06cd:	ld	a,(L02e3)	;; 06cd: 3a e3 02    :..
	ld	l,a		;; 06d0: 6f          o
	ld	h,000h		;; 06d1: 26 00       &.
	ld	de,L03c4	;; 06d3: 11 c4 03    ...
	add	hl,de		;; 06d6: 19          .
	ld	a,(hl)		;; 06d7: 7e          ~
	push	af		;; 06d8: f5          .
	ld	a,(L02ee)	;; 06d9: 3a ee 02    :..
	pop	bc		;; 06dc: c1          .
	cp	a,b		;; 06dd: b8          .
	jr	nc,L06f0	;; 06de: 30 10       0.
	ld	a,(L02e3)	;; 06e0: 3a e3 02    :..
	ld	l,a		;; 06e3: 6f          o
	ld	h,000h		;; 06e4: 26 00       &.
	ld	de,L03c4	;; 06e6: 11 c4 03    ...
	add	hl,de		;; 06e9: 19          .
	push	hl		;; 06ea: e5          .
	ld	a,(L02ee)	;; 06eb: 3a ee 02    :..
	pop	hl		;; 06ee: e1          .
	ld	(hl),a		;; 06ef: 77          w
L06f0:	ld	a,(L02e3)	;; 06f0: 3a e3 02    :..
	ld	l,a		;; 06f3: 6f          o
	ld	h,000h		;; 06f4: 26 00       &.
	ld	de,L03dd	;; 06f6: 11 dd 03    ...
	add	hl,de		;; 06f9: 19          .
	ld	a,(hl)		;; 06fa: 7e          ~
	ld	hl,L02ee	;; 06fb: 21 ee 02    ...
	cp	a,(hl)		;; 06fe: be          .
	jr	nc,L0711	;; 06ff: 30 10       0.
	ld	a,(L02e3)	;; 0701: 3a e3 02    :..
	ld	l,a		;; 0704: 6f          o
	ld	h,000h		;; 0705: 26 00       &.
	ld	de,L03dd	;; 0707: 11 dd 03    ...
	add	hl,de		;; 070a: 19          .
	push	hl		;; 070b: e5          .
	ld	a,(L02ee)	;; 070c: 3a ee 02    :..
	pop	hl		;; 070f: e1          .
	ld	(hl),a		;; 0710: 77          w
L0711:	ld	hl,L03f6	;; 0711: 21 f6 03    ...
	ld	(hl),001h	;; 0714: 36 01       6.
L0716:	ld	a,(L02ee)	;; 0716: 3a ee 02    :..
	inc	a		;; 0719: 3c          <
	ld	(L02ee),a	;; 071a: 32 ee 02    2..
L071d:	jp	L8d56		;; 071d: c3 56 8d    .V.

L0720:	call	L8d27		;; 0720: cd 27 8d    .'.
	db	0feh,0ch
	ld	a,(ix-121)	;; 0725: dd 7e 87    .~.
	ld	b,a		;; 0728: 47          G
	ld	a,001h		;; 0729: 3e 01       >.
	call	L894e		;; 072b: cd 4e 89    .N.
	ld	(ix-126),b	;; 072e: dd 70 82    .p.
	jr	c,L0746		;; 0731: 38 13       8.
L0733:	ld	(ix-125),a	;; 0733: dd 77 83    .w.
	ld	a,(ix-123)	;; 0736: dd 7e 85    .~.
	push	af		;; 0739: f5          .
	call	L0597		;; 073a: cd 97 05    ...
	ld	a,(ix-125)	;; 073d: dd 7e 83    .~.
	inc	a		;; 0740: 3c          <
	dec	(ix-126)	;; 0741: dd 35 82    .5.
	jr	nz,L0733	;; 0744: 20 ed        .
L0746:	jp	L8d56		;; 0746: c3 56 8d    .V.

L0749:	call	L8d27		;; 0749: cd 27 8d    .'.
	db	0feh,0ah
	ld	a,(ix-123)	;; 074e: dd 7e 85    .~.
	ld	b,a		;; 0751: 47          G
	ld	a,001h		;; 0752: 3e 01       >.
	call	L894e		;; 0754: cd 4e 89    .N.
	ld	(ix-126),b	;; 0757: dd 70 82    .p.
	jr	c,L076e		;; 075a: 38 12       8.
L075c:	ld	(ix-125),a	;; 075c: dd 77 83    .w.
	ld	a,020h		;; 075f: 3e 20       > 
	push	af		;; 0761: f5          .
	call	L0414		;; 0762: cd 14 04    ...
	ld	a,(ix-125)	;; 0765: dd 7e 83    .~.
	inc	a		;; 0768: 3c          <
	dec	(ix-126)	;; 0769: dd 35 82    .5.
	jr	nz,L075c	;; 076c: 20 ee        .
L076e:	jp	L8d56		;; 076e: c3 56 8d    .V.

L0771:	call	L8d27		;; 0771: cd 27 8d    .'.
	db	0feh,0ah
	ld	a,(ix-123)	;; 0776: dd 7e 85    .~.
	ld	b,a		;; 0779: 47          G
	ld	a,001h		;; 077a: 3e 01       >.
	call	L894e		;; 077c: cd 4e 89    .N.
	ld	(ix-126),b	;; 077f: dd 70 82    .p.
	jr	c,L0796		;; 0782: 38 12       8.
L0784:	ld	(ix-125),a	;; 0784: dd 77 83    .w.
	ld	a,020h		;; 0787: 3e 20       > 
	push	af		;; 0789: f5          .
	call	L0597		;; 078a: cd 97 05    ...
	ld	a,(ix-125)	;; 078d: dd 7e 83    .~.
	inc	a		;; 0790: 3c          <
	dec	(ix-126)	;; 0791: dd 35 82    .5.
	jr	nz,L0784	;; 0794: 20 ee        .
L0796:	jp	L8d56		;; 0796: c3 56 8d    .V.

L0799:	call	L8d27		;; 0799: cd 27 8d    .'.
	db	0,6
	ld	a,020h		;; 079e: 3e 20       > 
	push	af		;; 07a0: f5          .
	call	L0597		;; 07a1: cd 97 05    ...
	jp	L8d56		;; 07a4: c3 56 8d    .V.

L07a7:	call	L8d27		;; 07a7: cd 27 8d    .'.
	db	0,8
	ld	a,(ix-125)	;; 07ac: dd 7e 83    .~.
	cp	a,00ah		;; 07af: fe 0a       ..
	jr	c,L07c0		;; 07b1: 38 0d       8.
	ld	a,(ix-125)	;; 07b3: dd 7e 83    .~.
	push	af		;; 07b6: f5          .
	ld	a,00ah		;; 07b7: 3e 0a       >.
	call	L89b1		;; 07b9: cd b1 89    ...
	push	af		;; 07bc: f5          .
	call	L07a7		;; 07bd: cd a7 07    ...
L07c0:	ld	a,(ix-125)	;; 07c0: dd 7e 83    .~.
	push	af		;; 07c3: f5          .
	ld	a,00ah		;; 07c4: 3e 0a       >.
	call	L8965		;; 07c6: cd 65 89    .e.
	add	a,030h		;; 07c9: c6 30       .0
	push	af		;; 07cb: f5          .
	call	L0597		;; 07cc: cd 97 05    ...
	jp	L8d56		;; 07cf: c3 56 8d    .V.

L07d2:	call	L8d27		;; 07d2: cd 27 8d    .'.
	db	0,8
	ld	bc,0000ah	;; 07d7: 01 0a 00    ...
	rst3			;; 07da: df          .
	db	82h
	or	a,a		;; 07dc: b7          .
	sbc	hl,bc		;; 07dd: ed 42       .B
	jr	c,L07ee		;; 07df: 38 0d       8.
	rst3			;; 07e1: df          .
	db	82h
	push	hl		;; 07e3: e5          .
	ld	hl,0000ah	;; 07e4: 21 0a 00    ...
	call	L8758		;; 07e7: cd 58 87    .X.
	push	hl		;; 07ea: e5          .
	call	L07d2		;; 07eb: cd d2 07    ...
L07ee:	rst3			;; 07ee: df          .
	db	82h
	push	hl		;; 07f0: e5          .
	ld	hl,0000ah	;; 07f1: 21 0a 00    ...
	call	L86fe		;; 07f4: cd fe 86    ...
	ld	bc,00030h	;; 07f7: 01 30 00    .0.
	add	hl,bc		;; 07fa: 09          .
	ld	a,l		;; 07fb: 7d          }
	push	af		;; 07fc: f5          .
	call	L0597		;; 07fd: cd 97 05    ...
	jp	L8d56		;; 0800: c3 56 8d    .V.

L0803:	call	L8d27		;; 0803: cd 27 8d    .'.
	db	0feh,'@'
	ld	a,(ix-124)	;; 0808: dd 7e 84    .~.
	ld	b,a		;; 080b: 47          G
	ld	a,001h		;; 080c: 3e 01       >.
	call	L894e		;; 080e: cd 4e 89    .N.
	ld	(ix-126),b	;; 0811: dd 70 82    .p.
	jr	c,L082f		;; 0814: 38 19       8.
L0816:	ld	(ix-125),a	;; 0816: dd 77 83    .w.
	ld	l,a		;; 0819: 6f          o
	ld	h,000h		;; 081a: 26 00       &.
	rst2			;; 081c: d7          .
	ld	de,0ff84h	;; 081d: 11 84 ff    ...
	add	hl,de		;; 0820: 19          .
	ld	a,(hl)		;; 0821: 7e          ~
	push	af		;; 0822: f5          .
	call	L0597		;; 0823: cd 97 05    ...
	ld	a,(ix-125)	;; 0826: dd 7e 83    .~.
	inc	a		;; 0829: 3c          <
	dec	(ix-126)	;; 082a: dd 35 82    .5.
	jr	nz,L0816	;; 082d: 20 e7        .
L082f:	jp	L8d56		;; 082f: c3 56 8d    .V.

L0832:	call	L8d27		;; 0832: cd 27 8d    .'.
	db	0,0ah
	ld	a,(ix-125)	;; 0837: dd 7e 83    .~.
	or	a,a		;; 083a: b7          .
	jr	z,L084f		;; 083b: 28 12       (.
	ld	a,(ix-123)	;; 083d: dd 7e 85    .~.
	push	af		;; 0840: f5          .
	ld	a,00ah		;; 0841: 3e 0a       >.
	call	L89b1		;; 0843: cd b1 89    ...
	push	af		;; 0846: f5          .
	ld	a,(ix-125)	;; 0847: dd 7e 83    .~.
	dec	a		;; 084a: 3d          =
	push	af		;; 084b: f5          .
	call	L0832		;; 084c: cd 32 08    .2.
L084f:	ld	a,(ix-123)	;; 084f: dd 7e 85    .~.
	push	af		;; 0852: f5          .
	ld	a,00ah		;; 0853: 3e 0a       >.
	call	L8965		;; 0855: cd 65 89    .e.
	add	a,030h		;; 0858: c6 30       .0
	push	af		;; 085a: f5          .
	call	L0414		;; 085b: cd 14 04    ...
	jp	L8d56		;; 085e: c3 56 8d    .V.

L0861:	call	L8d27		;; 0861: cd 27 8d    .'.
	db	0,0ah
	rst3			;; 0866: df          .
	db	84h
	push	hl		;; 0868: e5          .
	call	L5b56		;; 0869: cd 56 5b    .V[
	ld	a,(L0234)	;; 086c: 3a 34 02    :4.
	or	a,a		;; 086f: b7          .
	jr	nz,L087b	;; 0870: 20 09        .
	ld	a,(ix-125)	;; 0872: dd 7e 83    .~.
	push	af		;; 0875: f5          .
	call	L0414		;; 0876: cd 14 04    ...
	jr	L0886		;; 0879: 18 0b       ..

L087b:	ld	a,(ix-125)	;; 087b: dd 7e 83    .~.
	push	af		;; 087e: f5          .
	ld	a,(L0234)	;; 087f: 3a 34 02    :4.
	push	af		;; 0882: f5          .
	call	L0832		;; 0883: cd 32 08    .2.
L0886:	jp	L8d56		;; 0886: c3 56 8d    .V.

L0889:	call	L8d27		;; 0889: cd 27 8d    .'.
	db	0fch,0eh
	ld	a,(L02e4)	;; 088e: 3a e4 02    :..
	cp	a,(ix-119)	;; 0891: dd be 89    ...
	jr	nc,L089c	;; 0894: 30 06       0.
	ld	a,(L02e4)	;; 0896: 3a e4 02    :..
	ld	(ix-119),a	;; 0899: dd 77 89    .w.
L089c:	ld	a,(L02f6)	;; 089c: 3a f6 02    :..
	xor	a,001h		;; 089f: ee 01       ..
	push	af		;; 08a1: f5          .
	ld	a,(ix-119)	;; 08a2: dd 7e 89    .~.
	or	a,a		;; 08a5: b7          .
	call	L8c09		;; 08a6: cd 09 8c    ...
	ld	hl,L0391	;; 08a9: 21 91 03    ...
	or	a,(hl)		;; 08ac: b6          .
	ld	b,a		;; 08ad: 47          G
	pop	af		;; 08ae: f1          .
	and	a,b		;; 08af: a0          .
	rra			;; 08b0: 1f          .
	jp	nc,L093e	;; 08b1: d2 3e 09    .>.
	ld	a,(L0275)	;; 08b4: 3a 75 02    :u.
	or	a,a		;; 08b7: b7          .
	jr	z,L08c6		;; 08b8: 28 0c       (.
	ld	a,(L03f9)	;; 08ba: 3a f9 03    :..
	rra			;; 08bd: 1f          .
	jr	nc,L08c6	;; 08be: 30 06       0.
	ld	a,000h		;; 08c0: 3e 00       >.
	push	af		;; 08c2: f5          .
	call	L0573		;; 08c3: cd 73 05    .s.
L08c6:	ld	a,(ix-119)	;; 08c6: dd 7e 89    .~.
	ld	(L03f8),a	;; 08c9: 32 f8 03    2..
	ld	a,(ix-121)	;; 08cc: dd 7e 87    .~.
	ld	(L03f7),a	;; 08cf: 32 f7 03    2..
	ld	a,(L0201)	;; 08d2: 3a 01 02    :..
	or	a,a		;; 08d5: b7          .
	jr	nz,L08e1	;; 08d6: 20 09        .
	ld	hl,L02a3	;; 08d8: 21 a3 02    ...
	push	hl		;; 08db: e5          .
	call	L72e8		;; 08dc: cd e8 72    ..r
	jr	L093e		;; 08df: 18 5d       .]

L08e1:	ld	a,(ix-119)	;; 08e1: dd 7e 89    .~.
	ld	hl,L0232	;; 08e4: 21 32 02    .2.
	add	a,(hl)		;; 08e7: 86          .
	ld	(ix-123),a	;; 08e8: dd 77 85    .w.
	ld	a,(ix-121)	;; 08eb: dd 7e 87    .~.
	ld	(ix-124),a	;; 08ee: dd 77 84    .w.
	ld	a,(L02ef)	;; 08f1: 3a ef 02    :..
	cp	a,(ix-121)	;; 08f4: dd be 87    ...
	jr	nc,L08ff	;; 08f7: 30 06       0.
	ld	a,(L02ef)	;; 08f9: 3a ef 02    :..
	ld	(ix-124),a	;; 08fc: dd 77 84    .w.
L08ff:	ld	a,(ix-124)	;; 08ff: dd 7e 84    .~.
	ld	hl,L0233	;; 0902: 21 33 02    .3.
	add	a,(hl)		;; 0905: 86          .
	ld	(ix-124),a	;; 0906: dd 77 84    .w.
	ld	a,(L0231)	;; 0909: 3a 31 02    :1.
	rra			;; 090c: 1f          .
	jr	nc,L0921	;; 090d: 30 12       0.
	ld	a,(ix-124)	;; 090f: dd 7e 84    .~.
	ld	(ix-126),a	;; 0912: dd 77 82    .w.
	ld	a,(ix-123)	;; 0915: dd 7e 85    .~.
	ld	(ix-124),a	;; 0918: dd 77 84    .w.
	ld	a,(ix-126)	;; 091b: dd 7e 82    .~.
	ld	(ix-123),a	;; 091e: dd 77 85    .w.
L0921:	ld	hl,L0201	;; 0921: 21 01 02    ...
	push	hl		;; 0924: e5          .
	ld	a,(ix-123)	;; 0925: dd 7e 85    .~.
	push	af		;; 0928: f5          .
	call	L0861		;; 0929: cd 61 08    .a.
	ld	hl,L0211	;; 092c: 21 11 02    ...
	push	hl		;; 092f: e5          .
	ld	a,(ix-124)	;; 0930: dd 7e 84    .~.
	push	af		;; 0933: f5          .
	call	L0861		;; 0934: cd 61 08    .a.
	ld	hl,L0221	;; 0937: 21 21 02    ...
	push	hl		;; 093a: e5          .
	call	L5b56		;; 093b: cd 56 5b    .V[
L093e:	call	L0496		;; 093e: cd 96 04    ...
	ld	(ix-125),a	;; 0941: dd 77 83    .w.
	ld	a,(ix-119)	;; 0944: dd 7e 89    .~.
	ld	(L02e3),a	;; 0947: 32 e3 02    2..
	ld	a,(ix-121)	;; 094a: dd 7e 87    .~.
	ld	(L02ee),a	;; 094d: 32 ee 02    2..
	jp	L8d56		;; 0950: c3 56 8d    .V.

L0953:	call	L8d27		;; 0953: cd 27 8d    .'.
	db	0,8
	ld	a,(ix-125)	;; 0958: dd 7e 83    .~.
	push	af		;; 095b: f5          .
	ld	a,000h		;; 095c: 3e 00       >.
	push	af		;; 095e: f5          .
	call	L0889		;; 095f: cd 89 08    ...
	jp	L8d56		;; 0962: c3 56 8d    .V.

L0965:	call	L8d27		;; 0965: cd 27 8d    .'.
	db	0,6
	ld	a,(L02e3)	;; 096a: 3a e3 02    :..
	push	af		;; 096d: f5          .
	ld	a,000h		;; 096e: 3e 00       >.
	push	af		;; 0970: f5          .
	call	L0889		;; 0971: cd 89 08    ...
	jp	L8d56		;; 0974: c3 56 8d    .V.

L0977:	call	L8d27		;; 0977: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02f6)	;; 097c: 3a f6 02    :..
	xor	a,001h		;; 097f: ee 01       ..
	rra			;; 0981: 1f          .
	jp	nc,L0a62	;; 0982: d2 62 0a    .b.
	ld	a,(L02ee)	;; 0985: 3a ee 02    :..
	ld	(ix-126),a	;; 0988: dd 77 82    .w.
	ld	a,(L02e3)	;; 098b: 3a e3 02    :..
	ld	l,a		;; 098e: 6f          o
	ld	h,000h		;; 098f: 26 00       &.
	ld	de,L03fa	;; 0991: 11 fa 03    ...
	add	hl,de		;; 0994: 19          .
	ld	a,(hl)		;; 0995: 7e          ~
	ld	hl,L02ee	;; 0996: 21 ee 02    ...
	cp	a,(hl)		;; 0999: be          .
	jp	c,L0a52		;; 099a: da 52 0a    .R.
	ld	a,(L0235)	;; 099d: 3a 35 02    :5.
	or	a,a		;; 09a0: b7          .
	jr	nz,L09c4	;; 09a1: 20 21        .
	ld	a,(L02e3)	;; 09a3: 3a e3 02    :..
	ld	l,a		;; 09a6: 6f          o
	ld	h,000h		;; 09a7: 26 00       &.
	ld	de,L03fa	;; 09a9: 11 fa 03    ...
	add	hl,de		;; 09ac: 19          .
	push	hl		;; 09ad: e5          .
	ld	a,(L02ee)	;; 09ae: 3a ee 02    :..
	ld	c,a		;; 09b1: 4f          O
	ld	b,000h		;; 09b2: 06 00       ..
	pop	hl		;; 09b4: e1          .
	ld	a,(hl)		;; 09b5: 7e          ~
	ld	l,a		;; 09b6: 6f          o
	ld	h,000h		;; 09b7: 26 00       &.
	or	a,a		;; 09b9: b7          .
	sbc	hl,bc		;; 09ba: ed 42       .B
	ld	a,l		;; 09bc: 7d          }
	push	af		;; 09bd: f5          .
	call	L0771		;; 09be: cd 71 07    .q.
	jp	L0a52		;; 09c1: c3 52 0a    .R.

L09c4:	ld	a,(L02e3)	;; 09c4: 3a e3 02    :..
	or	a,a		;; 09c7: b7          .
	call	L8c09		;; 09c8: cd 09 8c    ...
	ld	hl,L0391	;; 09cb: 21 91 03    ...
	or	a,(hl)		;; 09ce: b6          .
	rra			;; 09cf: 1f          .
	jr	nc,L09db	;; 09d0: 30 09       0.
	ld	hl,L0235	;; 09d2: 21 35 02    .5.
	push	hl		;; 09d5: e5          .
	call	L5b56		;; 09d6: cd 56 5b    .V[
	jr	L0a13		;; 09d9: 18 38       .8

L09db:	ld	a,(L02e3)	;; 09db: 3a e3 02    :..
	ld	l,a		;; 09de: 6f          o
	ld	h,000h		;; 09df: 26 00       &.
	ld	de,L03c4	;; 09e1: 11 c4 03    ...
	add	hl,de		;; 09e4: 19          .
	ld	a,(hl)		;; 09e5: 7e          ~
	push	af		;; 09e6: f5          .
	ld	a,(L02ee)	;; 09e7: 3a ee 02    :..
	pop	bc		;; 09ea: c1          .
	cp	a,b		;; 09eb: b8          .
	jr	nc,L09fe	;; 09ec: 30 10       0.
	ld	a,(L02e3)	;; 09ee: 3a e3 02    :..
	ld	l,a		;; 09f1: 6f          o
	ld	h,000h		;; 09f2: 26 00       &.
	ld	de,L03c4	;; 09f4: 11 c4 03    ...
	add	hl,de		;; 09f7: 19          .
	push	hl		;; 09f8: e5          .
	ld	a,(L02ee)	;; 09f9: 3a ee 02    :..
	pop	hl		;; 09fc: e1          .
	ld	(hl),a		;; 09fd: 77          w
L09fe:	ld	a,(L02e3)	;; 09fe: 3a e3 02    :..
	ld	l,a		;; 0a01: 6f          o
	ld	h,000h		;; 0a02: 26 00       &.
	ld	de,L03dd	;; 0a04: 11 dd 03    ...
	add	hl,de		;; 0a07: 19          .
	push	hl		;; 0a08: e5          .
	ld	a,(L02ef)	;; 0a09: 3a ef 02    :..
	pop	hl		;; 0a0c: e1          .
	ld	(hl),a		;; 0a0d: 77          w
	ld	hl,L03f6	;; 0a0e: 21 f6 03    ...
	ld	(hl),001h	;; 0a11: 36 01       6.
L0a13:	ld	a,(L02e3)	;; 0a13: 3a e3 02    :..
	ld	l,a		;; 0a16: 6f          o
	ld	h,000h		;; 0a17: 26 00       &.
	ld	de,L03fa	;; 0a19: 11 fa 03    ...
	add	hl,de		;; 0a1c: 19          .
	ld	a,(L02ee)	;; 0a1d: 3a ee 02    :..
	cp	a,(hl)		;; 0a20: be          .
	jr	nc,L0a52	;; 0a21: 30 2f       0/
	ld	hl,L029d	;; 0a23: 21 9d 02    ...
	push	hl		;; 0a26: e5          .
	call	L72e8		;; 0a27: cd e8 72    ..r
	ld	a,(L02e3)	;; 0a2a: 3a e3 02    :..
	ld	l,a		;; 0a2d: 6f          o
	ld	h,000h		;; 0a2e: 26 00       &.
	add	hl,hl		;; 0a30: 29          )
	ld	de,L0392	;; 0a31: 11 92 03    ...
	add	hl,de		;; 0a34: 19          .
	rst4			;; 0a35: e7          .
	db	80h
	push	hl		;; 0a37: e5          .
	ld	a,(L02ee)	;; 0a38: 3a ee 02    :..
	ld	l,a		;; 0a3b: 6f          o
	ld	h,000h		;; 0a3c: 26 00       &.
	pop	de		;; 0a3e: d1          .
	add	hl,de		;; 0a3f: 19          .
	ld	(hl),020h	;; 0a40: 36 20       6 
	ld	hl,L02a0	;; 0a42: 21 a0 02    ...
	push	hl		;; 0a45: e5          .
	call	L72e8		;; 0a46: cd e8 72    ..r
	ld	a,(L02ee)	;; 0a49: 3a ee 02    :..
	inc	a		;; 0a4c: 3c          <
	ld	(L02ee),a	;; 0a4d: 32 ee 02    2..
	jr	L0a13		;; 0a50: 18 c1       ..

L0a52:	ld	a,(L02e3)	;; 0a52: 3a e3 02    :..
	ld	l,a		;; 0a55: 6f          o
	ld	h,000h		;; 0a56: 26 00       &.
	ld	de,L03fa	;; 0a58: 11 fa 03    ...
	add	hl,de		;; 0a5b: 19          .
	push	hl		;; 0a5c: e5          .
	ld	a,(ix-126)	;; 0a5d: dd 7e 82    .~.
	pop	hl		;; 0a60: e1          .
	ld	(hl),a		;; 0a61: 77          w
L0a62:	jp	L8d56		;; 0a62: c3 56 8d    .V.

L0a65:	call	L8d27		;; 0a65: cd 27 8d    .'.
	db	0feh,0ch
	ld	a,(ix-121)	;; 0a6a: dd 7e 87    .~.
	ld	b,a		;; 0a6d: 47          G
	ld	a,(ix-123)	;; 0a6e: dd 7e 85    .~.
	call	L8953		;; 0a71: cd 53 89    .S.
	ld	(ix-126),b	;; 0a74: dd 70 82    .p.
	jr	c,L0a8c		;; 0a77: 38 13       8.
L0a79:	ld	(ix-125),a	;; 0a79: dd 77 83    .w.
	push	af		;; 0a7c: f5          .
	call	L0953		;; 0a7d: cd 53 09    .S.
	call	L0977		;; 0a80: cd 77 09    .w.
	ld	a,(ix-125)	;; 0a83: dd 7e 83    .~.
	dec	a		;; 0a86: 3d          =
	dec	(ix-126)	;; 0a87: dd 35 82    .5.
	jr	nz,L0a79	;; 0a8a: 20 ed        .
L0a8c:	jp	L8d56		;; 0a8c: c3 56 8d    .V.

L0a8f:	call	L8d27		;; 0a8f: cd 27 8d    .'.
	db	0feh,8
	ld	a,007h		;; 0a94: 3e 07       >.
	push	af		;; 0a96: f5          .
	call	L0414		;; 0a97: cd 14 04    ...
	ld	a,(L02e3)	;; 0a9a: 3a e3 02    :..
	ld	(ix-125),a	;; 0a9d: dd 77 83    .w.
	ld	a,(L02ee)	;; 0aa0: 3a ee 02    :..
	ld	(ix-126),a	;; 0aa3: dd 77 82    .w.
	ld	a,000h		;; 0aa6: 3e 00       >.
	push	af		;; 0aa8: f5          .
	ld	bc,0fffdh	;; 0aa9: 01 fd ff    ...
	ld	a,(L02ef)	;; 0aac: 3a ef 02    :..
	ld	l,a		;; 0aaf: 6f          o
	ld	h,000h		;; 0ab0: 26 00       &.
	add	hl,bc		;; 0ab2: 09          .
	ld	a,l		;; 0ab3: 7d          }
	push	af		;; 0ab4: f5          .
	call	L0889		;; 0ab5: cd 89 08    ...
	ld	a,003h		;; 0ab8: 3e 03       >.
	push	af		;; 0aba: f5          .
	ld	a,02ah		;; 0abb: 3e 2a       >*
	push	af		;; 0abd: f5          .
	call	L0720		;; 0abe: cd 20 07    . .
	call	L0977		;; 0ac1: cd 77 09    .w.
	ld	a,(ix-125)	;; 0ac4: dd 7e 83    .~.
	push	af		;; 0ac7: f5          .
	ld	a,(ix-126)	;; 0ac8: dd 7e 82    .~.
	push	af		;; 0acb: f5          .
	call	L0889		;; 0acc: cd 89 08    ...
	jp	L8d56		;; 0acf: c3 56 8d    .V.

L0ad2:	call	L8d27		;; 0ad2: cd 27 8d    .'.
	db	0,6
	ld	a,(L03f7)	;; 0ad7: 3a f7 03    :..
	ld	hl,L02ee	;; 0ada: 21 ee 02    ...
	cp	a,(hl)		;; 0add: be          .
	call	L8c0e		;; 0ade: cd 0e 8c    ...
	push	af		;; 0ae1: f5          .
	ld	a,(L03f8)	;; 0ae2: 3a f8 03    :..
	ld	hl,L02e3	;; 0ae5: 21 e3 02    ...
	cp	a,(hl)		;; 0ae8: be          .
	call	L8c0e		;; 0ae9: cd 0e 8c    ...
	ld	b,a		;; 0aec: 47          G
	pop	af		;; 0aed: f1          .
	or	a,b		;; 0aee: b0          .
	rra			;; 0aef: 1f          .
	jr	nc,L0afd	;; 0af0: 30 0b       0.
	ld	a,(L02e3)	;; 0af2: 3a e3 02    :..
	push	af		;; 0af5: f5          .
	ld	a,(L02ee)	;; 0af6: 3a ee 02    :..
	push	af		;; 0af9: f5          .
	call	L0889		;; 0afa: cd 89 08    ...
L0afd:	jp	L8d56		;; 0afd: c3 56 8d    .V.

L0b00:	call	L8d27		;; 0b00: cd 27 8d    .'.
	db	0f8h,0eh
	ld	a,(L02e3)	;; 0b05: 3a e3 02    :..
	ld	(ix-120),a	;; 0b08: dd 77 88    .w.
	ld	a,(L02ee)	;; 0b0b: 3a ee 02    :..
	ld	(ix-122),a	;; 0b0e: dd 77 86    .w.
	call	L0ad2		;; 0b11: cd d2 0a    ...
	ld	(ix-119),000h	;; 0b14: dd 36 89 00 .6..
L0b18:	ld	a,(L02e4)	;; 0b18: 3a e4 02    :..
	cp	a,(ix-119)	;; 0b1b: dd be 89    ...
	ld	a,000h		;; 0b1e: 3e 00       >.
	ccf			;; 0b20: 3f          ?
	rla			;; 0b21: 17          .
	ld	hl,L0391	;; 0b22: 21 91 03    ...
	and	a,(hl)		;; 0b25: a6          .
	rra			;; 0b26: 1f          .
	jp	nc,L0c3a	;; 0b27: d2 3a 0c    .:.
	ld	l,(ix-119)	;; 0b2a: dd 6e 89    .n.
	ld	h,000h		;; 0b2d: 26 00       &.
	ld	de,L03c4	;; 0b2f: 11 c4 03    ...
	add	hl,de		;; 0b32: 19          .
	push	hl		;; 0b33: e5          .
	ld	l,(ix-119)	;; 0b34: dd 6e 89    .n.
	ld	h,000h		;; 0b37: 26 00       &.
	ld	de,L03dd	;; 0b39: 11 dd 03    ...
	add	hl,de		;; 0b3c: 19          .
	ex	(sp),hl		;; 0b3d: e3          .
	ld	a,(hl)		;; 0b3e: 7e          ~
	pop	hl		;; 0b3f: e1          .
	push	af		;; 0b40: f5          .
	ld	a,(hl)		;; 0b41: 7e          ~
	pop	bc		;; 0b42: c1          .
	cp	a,b		;; 0b43: b8          .
	jp	c,L0c30		;; 0b44: da 30 0c    .0.
	ld	a,(ix-119)	;; 0b47: dd 7e 89    .~.
	push	af		;; 0b4a: f5          .
	ld	l,(ix-119)	;; 0b4b: dd 6e 89    .n.
	ld	h,000h		;; 0b4e: 26 00       &.
	ld	de,L03c4	;; 0b50: 11 c4 03    ...
	add	hl,de		;; 0b53: 19          .
	ld	a,(hl)		;; 0b54: 7e          ~
	push	af		;; 0b55: f5          .
	call	L0889		;; 0b56: cd 89 08    ...
	ld	a,(ix-119)	;; 0b59: dd 7e 89    .~.
	ld	hl,L02e4	;; 0b5c: 21 e4 02    ...
	cp	a,(hl)		;; 0b5f: be          .
	jr	nz,L0b8a	;; 0b60: 20 28        (
	ld	a,(L0296)	;; 0b62: 3a 96 02    :..
	xor	a,001h		;; 0b65: ee 01       ..
	rra			;; 0b67: 1f          .
	jr	nc,L0b8a	;; 0b68: 30 20       0 
	ld	l,(ix-119)	;; 0b6a: dd 6e 89    .n.
	ld	h,000h		;; 0b6d: 26 00       &.
	ld	de,L03dd	;; 0b6f: 11 dd 03    ...
	add	hl,de		;; 0b72: 19          .
	ld	a,(hl)		;; 0b73: 7e          ~
	ld	hl,L02ef	;; 0b74: 21 ef 02    ...
	cp	a,(hl)		;; 0b77: be          .
	jr	c,L0b8a		;; 0b78: 38 10       8.
	ld	l,(ix-119)	;; 0b7a: dd 6e 89    .n.
	ld	h,000h		;; 0b7d: 26 00       &.
	ld	de,L03dd	;; 0b7f: 11 dd 03    ...
	add	hl,de		;; 0b82: 19          .
	push	hl		;; 0b83: e5          .
	ld	a,(L02ef)	;; 0b84: 3a ef 02    :..
	dec	a		;; 0b87: 3d          =
	pop	hl		;; 0b88: e1          .
	ld	(hl),a		;; 0b89: 77          w
L0b8a:	ld	l,(ix-119)	;; 0b8a: dd 6e 89    .n.
	ld	h,000h		;; 0b8d: 26 00       &.
	ld	de,L03c4	;; 0b8f: 11 c4 03    ...
	add	hl,de		;; 0b92: 19          .
	push	hl		;; 0b93: e5          .
	ld	l,(ix-119)	;; 0b94: dd 6e 89    .n.
	ld	h,000h		;; 0b97: 26 00       &.
	ld	de,L03dd	;; 0b99: 11 dd 03    ...
	add	hl,de		;; 0b9c: 19          .
	ld	a,(hl)		;; 0b9d: 7e          ~
	ld	b,a		;; 0b9e: 47          G
	pop	hl		;; 0b9f: e1          .
	ld	a,(hl)		;; 0ba0: 7e          ~
	call	L894e		;; 0ba1: cd 4e 89    .N.
	ld	(ix-126),b	;; 0ba4: dd 70 82    .p.
	jr	c,L0c16		;; 0ba7: 38 6d       8m
L0ba9:	ld	(ix-121),a	;; 0ba9: dd 77 87    .w.
	ld	a,(L0297)	;; 0bac: 3a 97 02    :..
	xor	a,001h		;; 0baf: ee 01       ..
	rra			;; 0bb1: 1f          .
	jr	nc,L0c07	;; 0bb2: 30 53       0S
	ld	l,(ix-119)	;; 0bb4: dd 6e 89    .n.
	ld	h,000h		;; 0bb7: 26 00       &.
	add	hl,hl		;; 0bb9: 29          )
	ld	de,L0392	;; 0bba: 11 92 03    ...
	add	hl,de		;; 0bbd: 19          .
	rst4			;; 0bbe: e7          .
	db	80h
	push	hl		;; 0bc0: e5          .
	ld	l,(ix-121)	;; 0bc1: dd 6e 87    .n.
	ld	h,000h		;; 0bc4: 26 00       &.
	pop	de		;; 0bc6: d1          .
	add	hl,de		;; 0bc7: 19          .
	ld	a,(hl)		;; 0bc8: 7e          ~
	ld	(ix-124),a	;; 0bc9: dd 77 84    .w.
	ld	a,(L0275)	;; 0bcc: 3a 75 02    :u.
	or	a,a		;; 0bcf: b7          .
	jr	z,L0beb		;; 0bd0: 28 19       (.
	ld	a,(ix-124)	;; 0bd2: dd 7e 84    .~.
	cp	a,080h		;; 0bd5: fe 80       ..
	ld	a,000h		;; 0bd7: 3e 00       >.
	ccf			;; 0bd9: 3f          ?
	rla			;; 0bda: 17          .
	ld	(ix-125),a	;; 0bdb: dd 77 83    .w.
	ld	hl,L03f9	;; 0bde: 21 f9 03    ...
	cp	a,(hl)		;; 0be1: be          .
	jr	z,L0beb		;; 0be2: 28 07       (.
	ld	a,(ix-125)	;; 0be4: dd 7e 83    .~.
	push	af		;; 0be7: f5          .
	call	L0573		;; 0be8: cd 73 05    .s.
L0beb:	ld	a,(L029a)	;; 0beb: 3a 9a 02    :..
	xor	a,001h		;; 0bee: ee 01       ..
	rra			;; 0bf0: 1f          .
	jr	nc,L0c00	;; 0bf1: 30 0d       0.
	ld	a,(ix-124)	;; 0bf3: dd 7e 84    .~.
	push	af		;; 0bf6: f5          .
	ld	a,07fh		;; 0bf7: 3e 7f       >.
	push	af		;; 0bf9: f5          .
	call	L72f2		;; 0bfa: cd f2 72    ..r
	ld	(ix-124),a	;; 0bfd: dd 77 84    .w.
L0c00:	ld	a,(ix-124)	;; 0c00: dd 7e 84    .~.
	push	af		;; 0c03: f5          .
	call	L0414		;; 0c04: cd 14 04    ...
L0c07:	call	L0496		;; 0c07: cd 96 04    ...
	ld	(ix-123),a	;; 0c0a: dd 77 85    .w.
	ld	a,(ix-121)	;; 0c0d: dd 7e 87    .~.
	inc	a		;; 0c10: 3c          <
	dec	(ix-126)	;; 0c11: dd 35 82    .5.
	jr	nz,L0ba9	;; 0c14: 20 93        .
L0c16:	ld	l,(ix-119)	;; 0c16: dd 6e 89    .n.
	ld	h,000h		;; 0c19: 26 00       &.
	ld	de,L03c4	;; 0c1b: 11 c4 03    ...
	add	hl,de		;; 0c1e: 19          .
	push	hl		;; 0c1f: e5          .
	ld	a,(L02ef)	;; 0c20: 3a ef 02    :..
	pop	hl		;; 0c23: e1          .
	ld	(hl),a		;; 0c24: 77          w
	ld	l,(ix-119)	;; 0c25: dd 6e 89    .n.
	ld	h,000h		;; 0c28: 26 00       &.
	ld	de,L03dd	;; 0c2a: 11 dd 03    ...
	add	hl,de		;; 0c2d: 19          .
	ld	(hl),000h	;; 0c2e: 36 00       6.
L0c30:	ld	a,(ix-119)	;; 0c30: dd 7e 89    .~.
	inc	a		;; 0c33: 3c          <
	ld	(ix-119),a	;; 0c34: dd 77 89    .w.
	jp	L0b18		;; 0c37: c3 18 0b    ...

L0c3a:	ld	hl,L03f6	;; 0c3a: 21 f6 03    ...
	ld	(hl),000h	;; 0c3d: 36 00       6.
	ld	(ix-119),000h	;; 0c3f: dd 36 89 00 .6..
L0c43:	ld	a,(L03f6)	;; 0c43: 3a f6 03    :..
	xor	a,001h		;; 0c46: ee 01       ..
	push	af		;; 0c48: f5          .
	ld	a,(L02e4)	;; 0c49: 3a e4 02    :..
	cp	a,(ix-119)	;; 0c4c: dd be 89    ...
	ld	a,000h		;; 0c4f: 3e 00       >.
	ccf			;; 0c51: 3f          ?
	rla			;; 0c52: 17          .
	ld	b,a		;; 0c53: 47          G
	pop	af		;; 0c54: f1          .
	and	a,b		;; 0c55: a0          .
	rra			;; 0c56: 1f          .
	jr	nc,L0c83	;; 0c57: 30 2a       0*
	ld	l,(ix-119)	;; 0c59: dd 6e 89    .n.
	ld	h,000h		;; 0c5c: 26 00       &.
	ld	de,L03c4	;; 0c5e: 11 c4 03    ...
	add	hl,de		;; 0c61: 19          .
	push	hl		;; 0c62: e5          .
	ld	l,(ix-119)	;; 0c63: dd 6e 89    .n.
	ld	h,000h		;; 0c66: 26 00       &.
	ld	de,L03dd	;; 0c68: 11 dd 03    ...
	add	hl,de		;; 0c6b: 19          .
	ex	(sp),hl		;; 0c6c: e3          .
	ld	a,(hl)		;; 0c6d: 7e          ~
	pop	hl		;; 0c6e: e1          .
	push	af		;; 0c6f: f5          .
	ld	a,(hl)		;; 0c70: 7e          ~
	pop	bc		;; 0c71: c1          .
	cp	a,b		;; 0c72: b8          .
	jr	c,L0c7a		;; 0c73: 38 05       8.
	ld	hl,L03f6	;; 0c75: 21 f6 03    ...
	ld	(hl),001h	;; 0c78: 36 01       6.
L0c7a:	ld	a,(ix-119)	;; 0c7a: dd 7e 89    .~.
	inc	a		;; 0c7d: 3c          <
	ld	(ix-119),a	;; 0c7e: dd 77 89    .w.
	jr	L0c43		;; 0c81: 18 c0       ..

L0c83:	ld	a,(ix-120)	;; 0c83: dd 7e 88    .~.
	push	af		;; 0c86: f5          .
	ld	a,(ix-122)	;; 0c87: dd 7e 86    .~.
	push	af		;; 0c8a: f5          .
	call	L0889		;; 0c8b: cd 89 08    ...
	jp	L8d56		;; 0c8e: c3 56 8d    .V.

L0c91:	call	L8d27		;; 0c91: cd 27 8d    .'.
	db	0fbh,0bh
	ld	a,(L02f2)	;; 0c96: 3a f2 02    :..
	call	L0d8a		;; 0c99: cd 8a 0d    ...
L0c9c:	ld	a,(L02e3)	;; 0c9c: 3a e3 02    :..
	inc	a		;; 0c9f: 3c          <
	push	af		;; 0ca0: f5          .
	call	L0953		;; 0ca1: cd 53 09    .S.
	call	L0496		;; 0ca4: cd 96 04    ...
	ld	(ix-123),a	;; 0ca7: dd 77 85    .w.
	jp	L0d98		;; 0caa: c3 98 0d    ...

L0cad:	ld	a,(L02f6)	;; 0cad: 3a f6 02    :..
	rra			;; 0cb0: 1f          .
	jp	nc,L0d5f	;; 0cb1: d2 5f 0d    ._.
	ld	a,(L02f5)	;; 0cb4: 3a f5 02    :..
	xor	a,001h		;; 0cb7: ee 01       ..
	push	af		;; 0cb9: f5          .
	ld	a,(L019d)	;; 0cba: 3a 9d 01    :..
	cp	a,03ah		;; 0cbd: fe 3a       .:
	call	L8c09		;; 0cbf: cd 09 8c    ...
	ld	b,a		;; 0cc2: 47          G
	pop	af		;; 0cc3: f1          .
	and	a,b		;; 0cc4: a0          .
	rra			;; 0cc5: 1f          .
	jr	nc,L0ccf	;; 0cc6: 30 07       0.
	ld	a,(L01ad)	;; 0cc8: 3a ad 01    :..
	push	af		;; 0ccb: f5          .
	call	L0749		;; 0ccc: cd 49 07    .I.
L0ccf:	ld	(ix-122),000h	;; 0ccf: dd 36 86 00 .6..
	ld	(ix-125),000h	;; 0cd3: dd 36 83 00 .6..
	ld	a,(L02f5)	;; 0cd7: 3a f5 02    :..
	ld	(ix-126),a	;; 0cda: dd 77 82    .w.
L0cdd:	ld	a,(ix-122)	;; 0cdd: dd 7e 86    .~.
	ld	hl,L02f7	;; 0ce0: 21 f7 02    ...
	cp	a,(hl)		;; 0ce3: be          .
	jr	nc,L0d5a	;; 0ce4: 30 74       0t
	ld	l,(ix-122)	;; 0ce6: dd 6e 86    .n.
	ld	h,000h		;; 0ce9: 26 00       &.
	ld	de,L02f8	;; 0ceb: 11 f8 02    ...
	add	hl,de		;; 0cee: 19          .
	ld	a,(hl)		;; 0cef: 7e          ~
	ld	(ix-124),a	;; 0cf0: dd 77 84    .w.
	cp	a,020h		;; 0cf3: fe 20       . 
	jr	nz,L0d19	;; 0cf5: 20 22        "
	ld	a,(ix-125)	;; 0cf7: dd 7e 83    .~.
	inc	a		;; 0cfa: 3c          <
	ld	(ix-125),a	;; 0cfb: dd 77 83    .w.
	ld	a,(ix-126)	;; 0cfe: dd 7e 82    .~.
	rra			;; 0d01: 1f          .
	jr	nc,L0d17	;; 0d02: 30 13       0.
	ld	a,(ix-122)	;; 0d04: dd 7e 86    .~.
	inc	a		;; 0d07: 3c          <
	and	a,007h		;; 0d08: e6 07       ..
	or	a,a		;; 0d0a: b7          .
	jr	nz,L0d17	;; 0d0b: 20 0a        .
	ld	a,009h		;; 0d0d: 3e 09       >.
	push	af		;; 0d0f: f5          .
	call	L0414		;; 0d10: cd 14 04    ...
	ld	(ix-125),000h	;; 0d13: dd 36 83 00 .6..
L0d17:	jr	L0d46		;; 0d17: 18 2d       .-

L0d19:	ld	a,(ix-125)	;; 0d19: dd 7e 83    .~.
	push	af		;; 0d1c: f5          .
	call	L0749		;; 0d1d: cd 49 07    .I.
	ld	(ix-125),000h	;; 0d20: dd 36 83 00 .6..
	ld	a,(ix-124)	;; 0d24: dd 7e 84    .~.
	push	af		;; 0d27: f5          .
	call	L0414		;; 0d28: cd 14 04    ...
	ld	a,(ix-124)	;; 0d2b: dd 7e 84    .~.
	cp	a,03bh		;; 0d2e: fe 3b       .;
	call	L8c09		;; 0d30: cd 09 8c    ...
	push	af		;; 0d33: f5          .
	ld	a,(ix-124)	;; 0d34: dd 7e 84    .~.
	cp	a,027h		;; 0d37: fe 27       .'
	call	L8c09		;; 0d39: cd 09 8c    ...
	ld	b,a		;; 0d3c: 47          G
	pop	af		;; 0d3d: f1          .
	or	a,b		;; 0d3e: b0          .
	rra			;; 0d3f: 1f          .
	jr	nc,L0d46	;; 0d40: 30 04       0.
	ld	(ix-126),000h	;; 0d42: dd 36 82 00 .6..
L0d46:	ld	l,(ix-122)	;; 0d46: dd 6e 86    .n.
	ld	h,000h		;; 0d49: 26 00       &.
	ld	de,L02f8	;; 0d4b: 11 f8 02    ...
	add	hl,de		;; 0d4e: 19          .
	ld	(hl),020h	;; 0d4f: 36 20       6 
	ld	a,(ix-122)	;; 0d51: dd 7e 86    .~.
	inc	a		;; 0d54: 3c          <
	ld	(ix-122),a	;; 0d55: dd 77 86    .w.
	jr	L0cdd		;; 0d58: 18 83       ..

L0d5a:	ld	hl,L02f7	;; 0d5a: 21 f7 02    ...
	ld	(hl),000h	;; 0d5d: 36 00       6.
L0d5f:	call	L7650		;; 0d5f: cd 50 76    .Pv
	ld	hl,(L02f3)	;; 0d62: 2a f3 02    *..
	push	hl		;; 0d65: e5          .
	call	L7682		;; 0d66: cd 82 76    ..v
	call	L768c		;; 0d69: cd 8c 76    ..v
	ld	hl,L02ee	;; 0d6c: 21 ee 02    ...
	ld	(hl),000h	;; 0d6f: 36 00       6.
	ld	a,(L02e3)	;; 0d71: 3a e3 02    :..
	ld	hl,L02e4	;; 0d74: 21 e4 02    ...
	cp	a,(hl)		;; 0d77: be          .
	jr	nc,L0d81	;; 0d78: 30 07       0.
	ld	a,(L02e3)	;; 0d7a: 3a e3 02    :..
	inc	a		;; 0d7d: 3c          <
	ld	(L02e3),a	;; 0d7e: 32 e3 02    2..
L0d81:	jr	L0d98		;; 0d81: 18 15       ..

L0d83:	ld	hl,L02ee	;; 0d83: 21 ee 02    ...
	ld	(hl),000h	;; 0d86: 36 00       6.
	jr	L0d98		;; 0d88: 18 0e       ..

L0d8a:	ld	bc,00003h	;; 0d8a: 01 03 00    ...
	call	L8d90		;; 0d8d: cd 90 8d    ...
	dw	L0c9c
	dw	L0cad
	dw	L0d83
	dw	L8e06
L0d98:	jp	L8d56		;; 0d98: c3 56 8d    .V.

L0d9b:	call	L8d27		;; 0d9b: cd 27 8d    .'.
	db	0,8
L0da0:	call	L0799		;; 0da0: cd 99 07    ...
	ld	a,(L02f5)	;; 0da3: 3a f5 02    :..
	ld	l,a		;; 0da6: 6f          o
	ld	h,000h		;; 0da7: 26 00       &.
	ld	bc,00005h	;; 0da9: 01 05 00    ...
	call	L88e9		;; 0dac: cd e9 88    ...
	ld	de,L018f	;; 0daf: 11 8f 01    ...
	add	hl,de		;; 0db2: 19          .
	push	hl		;; 0db3: e5          .
	ld	l,(ix-125)	;; 0db4: dd 6e 83    .n.
	ld	h,000h		;; 0db7: 26 00       &.
	pop	de		;; 0db9: d1          .
	add	hl,de		;; 0dba: 19          .
	ld	a,(L02ee)	;; 0dbb: 3a ee 02    :..
	cp	a,(hl)		;; 0dbe: be          .
	jr	c,L0da0		;; 0dbf: 38 df       8.
	jp	L8d56		;; 0dc1: c3 56 8d    .V.

L0dc4:	call	L8d27		;; 0dc4: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02e4)	;; 0dc9: 3a e4 02    :..
	ld	b,a		;; 0dcc: 47          G
	ld	a,000h		;; 0dcd: 3e 00       >.
	call	L894e		;; 0dcf: cd 4e 89    .N.
	ld	(ix-126),b	;; 0dd2: dd 70 82    .p.
	jr	c,L0df0		;; 0dd5: 38 19       8.
L0dd7:	ld	(ix-125),a	;; 0dd7: dd 77 83    .w.
	ld	l,a		;; 0dda: 6f          o
	ld	h,000h		;; 0ddb: 26 00       &.
	ld	de,L03fa	;; 0ddd: 11 fa 03    ...
	add	hl,de		;; 0de0: 19          .
	push	hl		;; 0de1: e5          .
	ld	a,(L0413)	;; 0de2: 3a 13 04    :..
	pop	hl		;; 0de5: e1          .
	ld	(hl),a		;; 0de6: 77          w
	ld	a,(ix-125)	;; 0de7: dd 7e 83    .~.
	inc	a		;; 0dea: 3c          <
	dec	(ix-126)	;; 0deb: dd 35 82    .5.
	jr	nz,L0dd7	;; 0dee: 20 e7        .
L0df0:	ld	a,(L02e4)	;; 0df0: 3a e4 02    :..
	ld	l,a		;; 0df3: 6f          o
	ld	h,000h		;; 0df4: 26 00       &.
	ld	de,L03fa	;; 0df6: 11 fa 03    ...
	add	hl,de		;; 0df9: 19          .
	push	hl		;; 0dfa: e5          .
	ld	a,(L02ef)	;; 0dfb: 3a ef 02    :..
	pop	hl		;; 0dfe: e1          .
	ld	(hl),a		;; 0dff: 77          w
	jp	L8d56		;; 0e00: c3 56 8d    .V.

L0e03:	call	L8d27		;; 0e03: cd 27 8d    .'.
	db	0fah,0ch
	ld	a,(L01df)	;; 0e08: 3a df 01    :..
	dec	a		;; 0e0b: 3d          =
	ld	(L02e4),a	;; 0e0c: 32 e4 02    2..
	push	af		;; 0e0f: f5          .
	ld	a,018h		;; 0e10: 3e 18       >.
	pop	bc		;; 0e12: c1          .
	cp	a,b		;; 0e13: b8          .
	jr	nc,L0e1b	;; 0e14: 30 05       0.
	ld	hl,L02e4	;; 0e16: 21 e4 02    ...
	ld	(hl),017h	;; 0e19: 36 17       6.
L0e1b:	ld	hl,L02ef	;; 0e1b: 21 ef 02    ...
	ld	(hl),04fh	;; 0e1e: 36 4f       6O
	ld	a,(L02ef)	;; 0e20: 3a ef 02    :..
	inc	a		;; 0e23: 3c          <
	ld	(L0413),a	;; 0e24: 32 13 04    2..
	ld	hl,L02f2	;; 0e27: 21 f2 02    ...
	ld	(hl),000h	;; 0e2a: 36 00       6.
	ld	hl,L0391	;; 0e2c: 21 91 03    ...
	ld	(hl),001h	;; 0e2f: 36 01       6.
	ld	bc,00002h	;; 0e31: 01 02 00    ...
	ld	hl,0ff84h	;; 0e34: 21 84 ff    ...
	rst2			;; 0e37: d7          .
	push	hl		;; 0e38: e5          .
	ld	hl,L0298	;; 0e39: 21 98 02    ...
	pop	de		;; 0e3c: d1          .
	ldir			;; 0e3d: ed b0       ..
	ld	a,(L02e4)	;; 0e3f: 3a e4 02    :..
	ld	b,a		;; 0e42: 47          G
	ld	a,000h		;; 0e43: 3e 00       >.
	call	L894e		;; 0e45: cd 4e 89    .N.
	ld	(ix-125),b	;; 0e48: dd 70 83    .p.
	jp	c,L0ef4		;; 0e4b: da f4 0e    ...
L0e4e:	ld	(ix-121),a	;; 0e4e: dd 77 87    .w.
	ld	a,(L0297)	;; 0e51: 3a 97 02    :..
	xor	a,001h		;; 0e54: ee 01       ..
	rra			;; 0e56: 1f          .
	jr	nc,L0e6d	;; 0e57: 30 14       0.
	ld	l,(ix-121)	;; 0e59: dd 6e 87    .n.
	ld	h,000h		;; 0e5c: 26 00       &.
	add	hl,hl		;; 0e5e: 29          )
	ld	de,L0392	;; 0e5f: 11 92 03    ...
	add	hl,de		;; 0e62: 19          .
	push	hl		;; 0e63: e5          .
	ld	hl,00050h	;; 0e64: 21 50 00    .P.
	push	hl		;; 0e67: e5          .
	call	L9016		;; 0e68: cd 16 90    ...
	jr	L0e92		;; 0e6b: 18 25       .%

L0e6d:	ld	l,(ix-121)	;; 0e6d: dd 6e 87    .n.
	ld	h,000h		;; 0e70: 26 00       &.
	add	hl,hl		;; 0e72: 29          )
	ld	de,L0392	;; 0e73: 11 92 03    ...
	add	hl,de		;; 0e76: 19          .
	ld	bc,00002h	;; 0e77: 01 02 00    ...
	push	hl		;; 0e7a: e5          .
	ld	hl,0ff84h	;; 0e7b: 21 84 ff    ...
	rst2			;; 0e7e: d7          .
	pop	de		;; 0e7f: d1          .
	ldir			;; 0e80: ed b0       ..
	ld	bc,00050h	;; 0e82: 01 50 00    .P.
	ld	l,(ix-124)	;; 0e85: dd 6e 84    .n.
	ld	h,(ix-123)	;; 0e88: dd 66 85    .f.
	add	hl,bc		;; 0e8b: 09          .
	ld	(ix-124),l	;; 0e8c: dd 75 84    .u.
	ld	(ix-123),h	;; 0e8f: dd 74 85    .t.
L0e92:	ld	l,(ix-121)	;; 0e92: dd 6e 87    .n.
	ld	h,000h		;; 0e95: 26 00       &.
	ld	de,L03c4	;; 0e97: 11 c4 03    ...
	add	hl,de		;; 0e9a: 19          .
	push	hl		;; 0e9b: e5          .
	ld	a,(L02ef)	;; 0e9c: 3a ef 02    :..
	pop	hl		;; 0e9f: e1          .
	ld	(hl),a		;; 0ea0: 77          w
	ld	l,(ix-121)	;; 0ea1: dd 6e 87    .n.
	ld	h,000h		;; 0ea4: 26 00       &.
	ld	de,L03dd	;; 0ea6: 11 dd 03    ...
	add	hl,de		;; 0ea9: 19          .
	ld	(hl),000h	;; 0eaa: 36 00       6.
	ld	a,(L02ef)	;; 0eac: 3a ef 02    :..
	ld	b,a		;; 0eaf: 47          G
	ld	a,000h		;; 0eb0: 3e 00       >.
	call	L894e		;; 0eb2: cd 4e 89    .N.
	ld	(ix-126),b	;; 0eb5: dd 70 82    .p.
	jr	c,L0eea		;; 0eb8: 38 30       80
L0eba:	ld	(ix-122),a	;; 0eba: dd 77 86    .w.
	ld	hl,L029d	;; 0ebd: 21 9d 02    ...
	push	hl		;; 0ec0: e5          .
	call	L72e8		;; 0ec1: cd e8 72    ..r
	ld	l,(ix-121)	;; 0ec4: dd 6e 87    .n.
	ld	h,000h		;; 0ec7: 26 00       &.
	add	hl,hl		;; 0ec9: 29          )
	ld	de,L0392	;; 0eca: 11 92 03    ...
	add	hl,de		;; 0ecd: 19          .
	rst4			;; 0ece: e7          .
	db	80h
	push	hl		;; 0ed0: e5          .
	ld	l,(ix-122)	;; 0ed1: dd 6e 86    .n.
	ld	h,000h		;; 0ed4: 26 00       &.
	pop	de		;; 0ed6: d1          .
	add	hl,de		;; 0ed7: 19          .
	ld	(hl),020h	;; 0ed8: 36 20       6 
	ld	hl,L02a0	;; 0eda: 21 a0 02    ...
	push	hl		;; 0edd: e5          .
	call	L72e8		;; 0ede: cd e8 72    ..r
	ld	a,(ix-122)	;; 0ee1: dd 7e 86    .~.
	inc	a		;; 0ee4: 3c          <
	dec	(ix-126)	;; 0ee5: dd 35 82    .5.
	jr	nz,L0eba	;; 0ee8: 20 d0        .
L0eea:	ld	a,(ix-121)	;; 0eea: dd 7e 87    .~.
	inc	a		;; 0eed: 3c          <
	dec	(ix-125)	;; 0eee: dd 35 83    .5.
	jp	nz,L0e4e	;; 0ef1: c2 4e 0e    .N.
L0ef4:	ld	hl,L01e1	;; 0ef4: 21 e1 01    ...
	push	hl		;; 0ef7: e5          .
	call	L5b56		;; 0ef8: cd 56 5b    .V[
	ld	hl,L02a6	;; 0efb: 21 a6 02    ...
	push	hl		;; 0efe: e5          .
	call	L72e8		;; 0eff: cd e8 72    ..r
	jp	L8d56		;; 0f02: c3 56 8d    .V.

L0f05:	call	L8d27		;; 0f05: cd 27 8d    .'.
	db	0,6
	ld	a,000h		;; 0f0a: 3e 00       >.
	push	af		;; 0f0c: f5          .
	ld	a,(L02e4)	;; 0f0d: 3a e4 02    :..
	push	af		;; 0f10: f5          .
	call	L0a65		;; 0f11: cd 65 0a    .e.
	ld	hl,L01f1	;; 0f14: 21 f1 01    ...
	push	hl		;; 0f17: e5          .
	call	L5b56		;; 0f18: cd 56 5b    .V[
	ld	hl,L02a9	;; 0f1b: 21 a9 02    ...
	push	hl		;; 0f1e: e5          .
	call	L72e8		;; 0f1f: cd e8 72    ..r
	jp	L8d56		;; 0f22: c3 56 8d    .V.

L0f25:	call	L8d27		;; 0f25: cd 27 8d    .'.
	db	0,8
	call	L0496		;; 0f2a: cd 96 04    ...
	ld	(L02f0),a	;; 0f2d: 32 f0 02    2..
	ld	a,(L038f)	;; 0f30: 3a 8f 03    :..
	ld	hl,L0390	;; 0f33: 21 90 03    ...
	cp	a,(hl)		;; 0f36: be          .
	jr	nz,L0f4c	;; 0f37: 20 13        .
	ld	a,(L03f6)	;; 0f39: 3a f6 03    :..
	rra			;; 0f3c: 1f          .
	jr	nc,L0f42	;; 0f3d: 30 03       0.
	call	L0b00		;; 0f3f: cd 00 0b    ...
L0f42:	ld	l,(ix-126)	;; 0f42: dd 6e 82    .n.
	ld	h,(ix-125)	;; 0f45: dd 66 83    .f.
	ld	(hl),000h	;; 0f48: 36 00       6.
	jr	L0f7f		;; 0f4a: 18 33       .3

L0f4c:	ld	l,(ix-126)	;; 0f4c: dd 6e 82    .n.
	ld	h,(ix-125)	;; 0f4f: dd 66 83    .f.
	push	hl		;; 0f52: e5          .
	ld	a,(L038f)	;; 0f53: 3a 8f 03    :..
	rst4			;; 0f56: e7          .
	db	84h
	ld	de,L0348	;; 0f58: 11 48 03    .H.
	add	hl,de		;; 0f5b: 19          .
	ld	a,(hl)		;; 0f5c: 7e          ~
	pop	hl		;; 0f5d: e1          .
	ld	(hl),a		;; 0f5e: 77          w
	ld	a,(L038f)	;; 0f5f: 3a 8f 03    :..
	inc	a		;; 0f62: 3c          <
	push	af		;; 0f63: f5          .
	ld	a,047h		;; 0f64: 3e 47       >G
	call	L896c		;; 0f66: cd 6c 89    .l.
	ld	(L038f),a	;; 0f69: 32 8f 03    2..
	ld	hl,L0390	;; 0f6c: 21 90 03    ...
	cp	a,(hl)		;; 0f6f: be          .
	jr	nz,L0f7f	;; 0f70: 20 0d        .
	ld	hl,L0391	;; 0f72: 21 91 03    ...
	ld	(hl),001h	;; 0f75: 36 01       6.
	ld	hl,L02f1	;; 0f77: 21 f1 02    ...
	ld	(hl),000h	;; 0f7a: 36 00       6.
	call	L0ad2		;; 0f7c: cd d2 0a    ...
L0f7f:	jp	L8d56		;; 0f7f: c3 56 8d    .V.

L0f82:	call	L8d27		;; 0f82: cd 27 8d    .'.
	db	0,8
L0f87:	ld	l,(ix-126)	;; 0f87: dd 6e 82    .n.
	ld	h,(ix-125)	;; 0f8a: dd 66 83    .f.
	push	hl		;; 0f8d: e5          .
	call	L0f25		;; 0f8e: cd 25 0f    .%.
	ld	l,(ix-126)	;; 0f91: dd 6e 82    .n.
	ld	h,(ix-125)	;; 0f94: dd 66 83    .f.
	ld	a,(hl)		;; 0f97: 7e          ~
	or	a,a		;; 0f98: b7          .
	jr	z,L0f87		;; 0f99: 28 ec       (.
	jp	L8d56		;; 0f9b: c3 56 8d    .V.

L0f9e:	db	0
L0f9f:	db	'*** DazzleStar *'
	db	'**     (Nov 86)'
L0fbe:	call	L8d27		;; 0fbe: cd 27 8d    .'.
	db	0c5h,'A'
	ld	(ix-125),003h	;; 0fc3: dd 36 83 03 .6..
	ld	hl,L0143	;; 0fc7: 21 43 01    .C.
	call	L75ea		;; 0fca: cd ea 75    ..u
	ld	hl,0ff85h	;; 0fcd: 21 85 ff    ...
	rst2			;; 0fd0: d7          .
	ld	a,037h		;; 0fd1: 3e 37       >7
	call	L8b81		;; 0fd3: cd 81 8b    ...
	ld	a,(L02e4)	;; 0fd6: 3a e4 02    :..
	ld	b,a		;; 0fd9: 47          G
	ld	a,000h		;; 0fda: 3e 00       >.
	call	L894e		;; 0fdc: cd 4e 89    .N.
	ld	(ix-126),b	;; 0fdf: dd 70 82    .p.
	jr	c,L1049		;; 0fe2: 38 65       8e
L0fe4:	ld	(ix-124),a	;; 0fe4: dd 77 84    .w.
	push	af		;; 0fe7: f5          .
	call	L0953		;; 0fe8: cd 53 09    .S.
	ld	a,(ix-125)	;; 0feb: dd 7e 83    .~.
	push	af		;; 0fee: f5          .
	call	L0771		;; 0fef: cd 71 07    .q.
	ld	hl,0ff85h	;; 0ff2: 21 85 ff    ...
	rst2			;; 0ff5: d7          .
	call	L75ea		;; 0ff6: cd ea 75    ..u
	ld	a,037h		;; 0ff9: 3e 37       >7
	call	L8bb0		;; 0ffb: cd b0 8b    ...
	call	L0803		;; 0ffe: cd 03 08    ...
	call	L0977		;; 1001: cd 77 09    .w.
	ld	a,(ix-124)	;; 1004: dd 7e 84    .~.
	or	a,a		;; 1007: b7          .
	jr	nz,L1020	;; 1008: 20 16        .
	ld	hl,L0f9f	;; 100a: 21 9f 0f    ...
	call	L75be		;; 100d: cd be 75    ..u
	db	1fh
	ld	hl,0ff85h	;; 1011: 21 85 ff    ...
	rst2			;; 1014: d7          .
	ld	a,037h		;; 1015: 3e 37       >7
	call	L8b81		;; 1017: cd 81 8b    ...
	ld	a,(L0f9e)	;; 101a: 3a 9e 0f    :..
	ld	(ix-118),a	;; 101d: dd 77 8a    .w.
L1020:	ld	a,(ix-125)	;; 1020: dd 7e 83    .~.
	inc	a		;; 1023: 3c          <
	ld	(ix-125),a	;; 1024: dd 77 83    .w.
	ld	hl,L0189	;; 1027: 21 89 01    ...
	cp	a,(hl)		;; 102a: be          .
	jr	nz,L1040	;; 102b: 20 13        .
	ld	(ix-125),001h	;; 102d: dd 36 83 01 .6..
	ld	hl,L010a	;; 1031: 21 0a 01    ...
	call	L75ea		;; 1034: cd ea 75    ..u
	ld	hl,0ff85h	;; 1037: 21 85 ff    ...
	rst2			;; 103a: d7          .
	ld	a,037h		;; 103b: 3e 37       >7
	call	L8b81		;; 103d: cd 81 8b    ...
L1040:	ld	a,(ix-124)	;; 1040: dd 7e 84    .~.
	inc	a		;; 1043: 3c          <
	dec	(ix-126)	;; 1044: dd 35 82    .5.
	jr	nz,L0fe4	;; 1047: 20 9b        .
L1049:	jp	L8d56		;; 1049: c3 56 8d    .V.

L104c:	db	0,0
L104e:	db	0,0
L1050:	db	0
L1051:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0
L1074:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0
L1098:	db	0,0,0,0
L109c:	db	0
L109d:	db	0,0
L109f:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L10af:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L10bf:	db	0
L10c0:	db	0,0
L10c2:	db	0,0,0,0,0,0,0,0
L10ca:	db	0,0
L10cc:	db	0,0
L10ce:	db	0,0
L10d0:	db	0
L10d1:	db	0
L10d2:	db	0
L10d3:	call	L8d27		;; 10d3: cd 27 8d    .'.
	db	0fbh,0dh
	ld	(ix-122),001h	;; 10d8: dd 36 86 01 .6..
	ld	hl,0ffffh	;; 10dc: 21 ff ff    ...
	ld	(L10cc),hl	;; 10df: 22 cc 10    "..
	ld	hl,(L10ce)	;; 10e2: 2a ce 10    *..
	rst3			;; 10e5: df          .
	db	4
L10e7:	ld	a,(ix-123)	;; 10e7: dd 7e 85    .~.
	or	a,a		;; 10ea: b7          .
	jp	z,L1158		;; 10eb: 28 6b       (k
	rst3			;; 10ed: df          .
	db	84h
	inc	hl		;; 10ef: 23          #
	inc	hl		;; 10f0: 23          #
	rst4			;; 10f1: e7          .
	db	80h
	rst3			;; 10f3: df          .
	db	2
	ld	c,(ix-126)	;; 10f5: dd 4e 82    .N.
	ld	b,(ix-125)	;; 10f8: dd 46 83    .F.
	rst3			;; 10fb: df          .
	db	87h
	or	a,a		;; 10fd: b7          .
	sbc	hl,bc		;; 10fe: ed 42       .B
	jr	nc,L1114	;; 1100: 30 12       0.
	ld	bc,(L10cc)	;; 1102: ed 4b cc 10 .K..
	rst3			;; 1106: df          .
	db	82h
	or	a,a		;; 1108: b7          .
	sbc	hl,bc		;; 1109: ed 42       .B
	jr	nc,L1112	;; 110b: 30 05       0.
	rst3			;; 110d: df          .
	db	82h
	ld	(L10cc),hl	;; 110f: 22 cc 10    "..
L1112:	jr	L114c		;; 1112: 18 38       .8

L1114:	rst3			;; 1114: df          .
	db	84h
	ld	de,00004h	;; 1116: 11 04 00    ...
	add	hl,de		;; 1119: 19          .
	ld	c,(hl)		;; 111a: 4e          N
	inc	hl		;; 111b: 23          #
	ld	b,(hl)		;; 111c: 46          F
	rst3			;; 111d: df          .
	db	82h
	add	hl,bc		;; 111f: 09          .
	ld	b,h		;; 1120: 44          D
	ld	c,l		;; 1121: 4d          M
	rst3			;; 1122: df          .
	db	87h
	or	a,a		;; 1124: b7          .
	sbc	hl,bc		;; 1125: ed 42       .B
	jr	nc,L114c	;; 1127: 30 23       0#
	ld	(ix-122),000h	;; 1129: dd 36 86 00 .6..
	rst3			;; 112d: df          .
	db	87h
	rst4			;; 112f: e7          .
	db	87h
	push	hl		;; 1131: e5          .
	push	bc		;; 1132: c5          .
	rst3			;; 1133: df          .
	db	82h
	rst4			;; 1135: e7          .
	db	87h
	call	L87f6		;; 1137: cd f6 87    ...
	push	hl		;; 113a: e5          .
	push	bc		;; 113b: c5          .
	rst3			;; 113c: df          .
	db	84h
	rst4			;; 113e: e7          .
	db	80h
	rst4			;; 1140: e7          .
	db	87h
	call	L87e7		;; 1142: cd e7 87    ...
	ld	h,b		;; 1145: 60          `
	ld	l,c		;; 1146: 69          i
	ld	(L10ca),hl	;; 1147: 22 ca 10    "..
	jr	L1158		;; 114a: 18 0c       ..

L114c:	rst3			;; 114c: df          .
	db	84h
	ld	de,00006h	;; 114e: 11 06 00    ...
	add	hl,de		;; 1151: 19          .
	rst4			;; 1152: e7          .
	db	80h
	rst3			;; 1154: df          .
	db	4
	jp	L10e7		;; 1156: 18 8f       ..

L1158:	ld	a,(ix-122)	;; 1158: dd 7e 86    .~.
	jp	L8d56		;; 115b: c3 56 8d    .V.

L115e:	call	L8d27		;; 115e: cd 27 8d    .'.
	db	0feh,8
	ld	hl,(L10cc)	;; 1163: 2a cc 10    *..
	rst3			;; 1166: df          .
	db	2
	jp	L8d56		;; 1168: c3 56 8d    .V.

L116b:	call	L8d27		;; 116b: cd 27 8d    .'.
	db	0f6h,10h
	call	L66d1		;; 1170: cd d1 66    ..f
	ld	hl,(L10ce)	;; 1173: 2a ce 10    *..
	rst3			;; 1176: df          .
	db	0ah
	inc	hl		;; 1178: 23          #
	inc	hl		;; 1179: 23          #
	rst4			;; 117a: e7          .
	db	80h
	rst3			;; 117c: df          .
	db	4
	ld	bc,00000h	;; 117e: 01 00 00    ...
	ld	hl,00000h	;; 1181: 21 00 00    ...
	call	L8d71		;; 1184: cd 71 8d    .q.
	dw	L104c
L1189:	ld	a,(ix-117)	;; 1189: dd 7e 8b    .~.
	or	a,a		;; 118c: b7          .
	jr	z,L11dd		;; 118d: 28 4e       (N
	rst3			;; 118f: df          .
	db	8ah
	inc	hl		;; 1191: 23          #
	inc	hl		;; 1192: 23          #
	rst4			;; 1193: e7          .
	db	80h
	rst3			;; 1195: df          .
	db	2
	rst3			;; 1197: df          .
	db	84h
	push	hl		;; 1199: e5          .
	rst3			;; 119a: df          .
	db	82h
	push	hl		;; 119c: e5          .
	call	L671c		;; 119d: cd 1c 67    ..g
	rst3			;; 11a0: df          .
	db	8ah
	inc	hl		;; 11a2: 23          #
	inc	hl		;; 11a3: 23          #
	push	hl		;; 11a4: e5          .
	rst3			;; 11a5: df          .
	db	8ah
	ld	de,00004h	;; 11a7: 11 04 00    ...
	add	hl,de		;; 11aa: 19          .
	ld	c,(hl)		;; 11ab: 4e          N
	inc	hl		;; 11ac: 23          #
	ld	b,(hl)		;; 11ad: 46          F
	pop	hl		;; 11ae: e1          .
	rst4			;; 11af: e7          .
	db	80h
	add	hl,bc		;; 11b1: 09          .
	rst3			;; 11b2: df          .
	db	4
	dec	hl		;; 11b4: 2b          +
	rst4			;; 11b5: e7          .
	db	87h
	call	L8c3a		;; 11b7: cd 3a 8c    .:.
	db	86h
	push	hl		;; 11bb: e5          .
	push	bc		;; 11bc: c5          .
	call	L8d60		;; 11bd: cd 60 8d    .`.
	dw	L104c
	call	L8870		;; 11c2: cd 70 88    .p.
	jp	m,L11d1		;; 11c5: fa d1 11    ...
	call	L8c26		;; 11c8: cd 26 8c    .&.
	db	86h
	call	L8d71		;; 11cc: cd 71 8d    .q.
	dw	L104c
L11d1:	rst3			;; 11d1: df          .
	db	8ah
	ld	de,00006h	;; 11d3: 11 06 00    ...
	add	hl,de		;; 11d6: 19          .
	rst4			;; 11d7: e7          .
	db	80h
	rst3			;; 11d9: df          .
	db	0ah
	jr	L1189		;; 11db: 18 ac       ..

L11dd:	jp	L8d56		;; 11dd: c3 56 8d    .V.

L11e0:	call	L8d27		;; 11e0: cd 27 8d    .'.
	db	0ffh,0bh
	ld	a,(L10d0)	;; 11e5: 3a d0 10    :..
	xor	a,001h		;; 11e8: ee 01       ..
	rra			;; 11ea: 1f          .
	jr	nc,L11f3	;; 11eb: 30 06       0.
	ld	hl,(L10ce)	;; 11ed: 2a ce 10    *..
	ld	(L10d1),hl	;; 11f0: 22 d1 10    "..
L11f3:	ld	hl,L10d0	;; 11f3: 21 d0 10    ...
	ld	(hl),000h	;; 11f6: 36 00       6.
	ld	a,(L10d2)	;; 11f8: 3a d2 10    :..
	or	a,a		;; 11fb: b7          .
	jr	z,L1227		;; 11fc: 28 29       ()
	rst3			;; 11fe: df          .
	db	85h
	push	hl		;; 1200: e5          .
	ld	hl,(L10d1)	;; 1201: 2a d1 10    *..
	pop	de		;; 1204: d1          .
	ldi			;; 1205: ed a0       ..
	ldi			;; 1207: ed a0       ..
	rst3			;; 1209: df          .
	db	83h
	push	hl		;; 120b: e5          .
	ld	hl,(L10d1)	;; 120c: 2a d1 10    *..
	inc	hl		;; 120f: 23          #
	inc	hl		;; 1210: 23          #
	pop	de		;; 1211: d1          .
	ldi			;; 1212: ed a0       ..
	ldi			;; 1214: ed a0       ..
	ld	hl,(L10d1)	;; 1216: 2a d1 10    *..
	ld	de,00006h	;; 1219: 11 06 00    ...
	add	hl,de		;; 121c: 19          .
	rst4			;; 121d: e7          .
	db	80h
	ld	(L10d1),hl	;; 121f: 22 d1 10    "..
	ld	hl,L10d0	;; 1222: 21 d0 10    ...
	ld	(hl),001h	;; 1225: 36 01       6.
L1227:	ld	a,(L10d0)	;; 1227: 3a d0 10    :..
	ld	(ix-126),a	;; 122a: dd 77 82    .w.
	jp	L8d56		;; 122d: c3 56 8d    .V.

L1230:	call	L8d27		;; 1230: cd 27 8d    .'.
	db	0f7h
L1234:	db	13h
	ld	(ix-118),000h	;; 1235: dd 36 8a 00 .6..
	ld	hl,(L10ce)	;; 1239: 2a ce 10    *..
	rst3			;; 123c: df          .
	db	8
L123e:	ld	a,(ix-119)	;; 123e: dd 7e 89    .~.
	or	a,a		;; 1241: b7          .
	jp	z,L131f		;; 1242: ca 1f 13    ...
	rst3			;; 1245: df          .
	db	88h
	push	hl		;; 1247: e5          .
	rst3			;; 1248: df          .
	db	8dh
	rst4			;; 124a: e7          .
	db	87h
	pop	de		;; 124c: d1          .
	push	hl		;; 124d: e5          .
	push	bc		;; 124e: c5          .
	ex	de,hl		;; 124f: eb          .
	rst4			;; 1250: e7          .
	db	80h
	rst4			;; 1252: e7          .
	db	87h
	call	L87f6		;; 1254: cd f6 87    ...
	call	L8c3a		;; 1257: cd 3a 8c    .:.
	db	82h
	ld	a,h		;; 125b: 7c          |
	or	a,l		;; 125c: b5          .
	or	a,b		;; 125d: b0          .
	or	a,c		;; 125e: b1          .
	jr	nz,L1270	;; 125f: 20 0f        .
	rst3			;; 1261: df          .
	db	88h
	inc	hl		;; 1263: 23          #
	inc	hl		;; 1264: 23          #
	push	hl		;; 1265: e5          .
	rst3			;; 1266: df          .
	db	8bh
	rst4			;; 1268: e7          .
	db	81h
	jp	L1321		;; 126a: c3 21 13    ...

	jp	L1312		;; 126d: c3 12 13    ...

L1270:	call	L8c26		;; 1270: cd 26 8c    .&.
	db	82h
	ld	a,h		;; 1274: 7c          |
	or	a,a		;; 1275: b7          .
	call	L8c18		;; 1276: cd 18 8c    ...
	push	af		;; 1279: f5          .
	call	L8c26		;; 127a: cd 26 8c    .&.
	db	82h
	push	hl		;; 127e: e5          .
	push	bc		;; 127f: c5          .
	rst3			;; 1280: df          .
	db	88h
	ld	de,00004h	;; 1282: 11 04 00    ...
	add	hl,de		;; 1285: 19          .
	rst4			;; 1286: e7          .
	db	80h
	rst4			;; 1288: e7          .
	db	87h
	call	L8870		;; 128a: cd 70 88    .p.
	call	L8c13		;; 128d: cd 13 8c    ...
	ld	b,a		;; 1290: 47          G
	pop	af		;; 1291: f1          .
	and	a,b		;; 1292: a0          .
	rra			;; 1293: 1f          .
	jp	nc,L1312	;; 1294: 30 7c       0|
	ld	hl,0ff86h	;; 1296: 21 86 ff    ...
	rst2			;; 1299: d7          .
	push	hl		;; 129a: e5          .
	ld	hl,00008h	;; 129b: 21 08 00    ...
	push	hl		;; 129e: e5          .
	call	L9016		;; 129f: cd 16 90    ...
	rst3			;; 12a2: df          .
	db	86h
	inc	hl		;; 12a4: 23          #
	inc	hl		;; 12a5: 23          #
	push	hl		;; 12a6: e5          .
	rst3			;; 12a7: df          .
	db	8bh
	rst4			;; 12a9: e7          .
	db	81h
	rst3			;; 12ab: df          .
	db	86h
	ld	de,00004h	;; 12ad: 11 04 00    ...
	add	hl,de		;; 12b0: 19          .
	push	hl		;; 12b1: e5          .
	rst3			;; 12b2: df          .
	db	88h
	ld	de,00004h	;; 12b4: 11 04 00    ...
	add	hl,de		;; 12b7: 19          .
	push	hl		;; 12b8: e5          .
	call	L8c26		;; 12b9: cd 26 8c    .&.
	db	82h
	ex	(sp),hl		;; 12bd: e3          .
	push	bc		;; 12be: c5          .
	rst4			;; 12bf: e7          .
	db	80h
	rst4			;; 12c1: e7          .
	db	87h
	call	L8d87		;; 12c3: cd 87 8d    ...
	call	L87f6		;; 12c6: cd f6 87    ...
	ld	h,b		;; 12c9: 60          `
	ld	l,c		;; 12ca: 69          i
	rst4			;; 12cb: e7          .
	db	81h
	rst3			;; 12cd: df          .
	db	86h
	push	hl		;; 12cf: e5          .
	rst3			;; 12d0: df          .
	db	88h
	push	hl		;; 12d2: e5          .
	call	L8c26		;; 12d3: cd 26 8c    .&.
	db	82h
	ex	(sp),hl		;; 12d7: e3          .
	push	bc		;; 12d8: c5          .
	rst4			;; 12d9: e7          .
	db	80h
	rst4			;; 12db: e7          .
	db	87h
	call	L87e7		;; 12dd: cd e7 87    ...
	ld	h,b		;; 12e0: 60          `
	ld	l,c		;; 12e1: 69          i
	rst4			;; 12e2: e7          .
	db	81h
	rst3			;; 12e4: df          .
	db	88h
	ld	de,00004h	;; 12e6: 11 04 00    ...
	add	hl,de		;; 12e9: 19          .
	push	hl		;; 12ea: e5          .
	call	L8c26		;; 12eb: cd 26 8c    .&.
	db	82h
	ld	h,b		;; 12ef: 60          `
	ld	l,c		;; 12f0: 69          i
	rst4			;; 12f1: e7          .
	db	81h
	rst3			;; 12f3: df          .
	db	86h
	ld	de,00006h	;; 12f5: 11 06 00    ...
	add	hl,de		;; 12f8: 19          .
	push	hl		;; 12f9: e5          .
	rst3			;; 12fa: df          .
	db	88h
	ld	de,00006h	;; 12fc: 11 06 00    ...
	add	hl,de		;; 12ff: 19          .
	pop	de		;; 1300: d1          .
	ldi			;; 1301: ed a0       ..
	ldi			;; 1303: ed a0       ..
	rst3			;; 1305: df          .
	db	88h
	ld	de,00006h	;; 1307: 11 06 00    ...
	add	hl,de		;; 130a: 19          .
	push	hl		;; 130b: e5          .
	rst3			;; 130c: df          .
	db	86h
	rst4			;; 130e: e7          .
	db	81h
	jr	L1321		;; 1310: 18 0f       ..

L1312:	rst3			;; 1312: df          .
	db	88h
	ld	de,00006h	;; 1314: 11 06 00    ...
	add	hl,de		;; 1317: 19          .
	rst4			;; 1318: e7          .
	db	80h
	rst3			;; 131a: df          .
	db	8
	jp	L123e		;; 131c: c3 3e 12    .>.

L131f:	jr	L1328		;; 131f: 18 07       ..

L1321:	ld	(ix-118),001h	;; 1321: dd 36 8a 01 .6..
	call	L116b		;; 1325: cd 6b 11    .k.
L1328:	ld	a,(ix-118)	;; 1328: dd 7e 8a    .~.
	jp	L8d56		;; 132b: c3 56 8d    .V.

L132e:	call	L8d27		;; 132e: cd 27 8d    .'.
	db	0ffh,0bh
	ld	(ix-126),000h	;; 1333: dd 36 82 00 .6..
	rst3			;; 1337: df          .
	db	85h
	push	hl		;; 1339: e5          .
	call	L10d3		;; 133a: cd d3 10    ...
	xor	a,001h		;; 133d: ee 01       ..
	rra			;; 133f: 1f          .
	jr	nc,L134f	;; 1340: 30 0d       0.
	ld	hl,(L10ca)	;; 1342: 2a ca 10    *..
	push	hl		;; 1345: e5          .
	rst3			;; 1346: df          .
	db	83h
	push	hl		;; 1348: e5          .
	call	L1230		;; 1349: cd 30 12    .0.
	ld	(ix-126),a	;; 134c: dd 77 82    .w.
L134f:	ld	a,(ix-126)	;; 134f: dd 7e 82    .~.
	jp	L8d56		;; 1352: c3 56 8d    .V.

L1355:	call	L8d27		;; 1355: cd 27 8d    .'.
	db	0f8h,10h
	rst3			;; 135a: df          .
	db	8ah
	push	hl		;; 135c: e5          .
	call	L10d3		;; 135d: cd d3 10    ...
	rra			;; 1360: 1f          .
	jr	nc,L136a	;; 1361: 30 07       0.
	ld	(ix-119),000h	;; 1363: dd 36 89 00 .6..
	jp	L14ab		;; 1367: c3 ab 14    ...

L136a:	ld	hl,(L10ca)	;; 136a: 2a ca 10    *..
	push	hl		;; 136d: e5          .
	ld	hl,00080h	;; 136e: 21 80 00    ...
	call	L8758		;; 1371: cd 58 87    .X.
	rst3			;; 1374: df          .
	db	7
	ld	bc,(L10c0)	;; 1376: ed 4b c0 10 .K..
	or	a,a		;; 137a: b7          .
	sbc	hl,bc		;; 137b: ed 42       .B
	jr	c,L1386		;; 137d: 38 07       8.
	ld	(ix-119),0ffh	;; 137f: dd 36 89 ff .6..
	jp	L14ab		;; 1383: c3 ab 14    ...

L1386:	ld	(ix-125),000h	;; 1386: dd 36 83 00 .6..
	ld	a,(L10bf)	;; 138a: 3a bf 10    :..
	ld	(ix-126),a	;; 138d: dd 77 82    .w.
	ld	(ix-124),000h	;; 1390: dd 36 84 00 .6..
L1394:	ld	a,(L10bf)	;; 1394: 3a bf 10    :..
	rst4			;; 1397: e7          .
	db	84h
	add	hl,hl		;; 1399: 29          )
	ld	de,L109f	;; 139a: 11 9f 10    ...
	add	hl,de		;; 139d: 19          .
	ld	c,(hl)		;; 139e: 4e          N
	inc	hl		;; 139f: 23          #
	ld	b,(hl)		;; 13a0: 46          F
	rst3			;; 13a1: df          .
	db	87h
	or	a,a		;; 13a3: b7          .
	sbc	hl,bc		;; 13a4: ed 42       .B
	jr	nz,L13b9	;; 13a6: 20 11        .
	ld	(ix-124),001h	;; 13a8: dd 36 84 01 .6..
	ld	a,(L10bf)	;; 13ac: 3a bf 10    :..
	rst4			;; 13af: e7          .
	db	84h
	ld	de,L10c2	;; 13b1: 11 c2 10    ...
	add	hl,de		;; 13b4: 19          .
	ld	(hl),001h	;; 13b5: 36 01       6.
	jr	L1410		;; 13b7: 18 57       .W

L13b9:	ld	a,(ix-125)	;; 13b9: dd 7e 83    .~.
	cp	a,002h		;; 13bc: fe 02       ..
	call	pe,L8c01	;; 13be: ec 01 8c    ...
	jp	m,L13e2		;; 13c1: fa e2 13    ...
	ld	a,(L10bf)	;; 13c4: 3a bf 10    :..
	rst4			;; 13c7: e7          .
	db	84h
	ld	de,L10c2	;; 13c9: 11 c2 10    ...
	add	hl,de		;; 13cc: 19          .
	ld	a,(hl)		;; 13cd: 7e          ~
	xor	a,001h		;; 13ce: ee 01       ..
	ld	(ix-124),a	;; 13d0: dd 77 84    .w.
	ld	a,(L10bf)	;; 13d3: 3a bf 10    :..
	rst4			;; 13d6: e7          .
	db	84h
	ld	de,L10c2	;; 13d8: 11 c2 10    ...
	add	hl,de		;; 13db: 19          .
	push	hl		;; 13dc: e5          .
	ld	a,(ix-124)	;; 13dd: dd 7e 84    .~.
	pop	hl		;; 13e0: e1          .
	ld	(hl),a		;; 13e1: 77          w
L13e2:	ld	a,(ix-124)	;; 13e2: dd 7e 84    .~.
	xor	a,001h		;; 13e5: ee 01       ..
	rra			;; 13e7: 1f          .
	jr	nc,L1410	;; 13e8: 30 26       0&
	ld	a,(L10bf)	;; 13ea: 3a bf 10    :..
	cp	a,(ix-126)	;; 13ed: dd be 82    ...
	jr	nz,L13f9	;; 13f0: 20 07        .
	ld	a,(ix-125)	;; 13f2: dd 7e 83    .~.
	inc	a		;; 13f5: 3c          <
	ld	(ix-125),a	;; 13f6: dd 77 83    .w.
L13f9:	ld	a,(L10bf)	;; 13f9: 3a bf 10    :..
	ld	hl,L01a7	;; 13fc: 21 a7 01    ...
	cp	a,(hl)		;; 13ff: be          .
	jr	nz,L1409	;; 1400: 20 07        .
	ld	hl,L10bf	;; 1402: 21 bf 10    ...
	ld	(hl),000h	;; 1405: 36 00       6.
	jr	L1410		;; 1407: 18 07       ..

L1409:	ld	a,(L10bf)	;; 1409: 3a bf 10    :..
	inc	a		;; 140c: 3c          <
	ld	(L10bf),a	;; 140d: 32 bf 10    2..
L1410:	ld	a,(ix-124)	;; 1410: dd 7e 84    .~.
	rra			;; 1413: 1f          .
	jp	nc,L1394	;; 1414: d2 94 13    ...
	ld	hl,(L10ca)	;; 1417: 2a ca 10    *..
	ld	a,l		;; 141a: 7d          }
	and	a,07fh		;; 141b: e6 7f       ..
	ld	l,a		;; 141d: 6f          o
	ld	h,000h		;; 141e: 26 00       &.
	rst3			;; 1420: df          .
	db	5
	ld	a,(L10bf)	;; 1422: 3a bf 10    :..
	rst4			;; 1425: e7          .
	db	84h
	add	hl,hl		;; 1427: 29          )
	ld	de,L109f	;; 1428: 11 9f 10    ...
	add	hl,de		;; 142b: 19          .
	ld	c,(hl)		;; 142c: 4e          N
	inc	hl		;; 142d: 23          #
	ld	b,(hl)		;; 142e: 46          F
	rst3			;; 142f: df          .
	db	87h
	or	a,a		;; 1431: b7          .
	sbc	hl,bc		;; 1432: ed 42       .B
	jr	z,L148b		;; 1434: 28 55       (U
	ld	a,(L10bf)	;; 1436: 3a bf 10    :..
	rst4			;; 1439: e7          .
	db	84h
	add	hl,hl		;; 143b: 29          )
	ld	de,L109f	;; 143c: 11 9f 10    ...
	add	hl,de		;; 143f: 19          .
	push	hl		;; 1440: e5          .
	rst3			;; 1441: df          .
	db	87h
	rst4			;; 1443: e7          .
	db	81h
	ld	hl,(L109d)	;; 1445: 2a 9d 10    *..
	push	hl		;; 1448: e5          .
	rst3			;; 1449: df          .
	db	87h
	ld	de,00000h	;; 144b: 11 00 00    ...
	push	de		;; 144e: d5          .
	push	hl		;; 144f: e5          .
	call	L7813		;; 1450: cd 13 78    ..x
	ld	hl,(L109d)	;; 1453: 2a 9d 10    *..
	push	hl		;; 1456: e5          .
	call	L7ba1		;; 1457: cd a1 7b    ..{
	rra			;; 145a: 1f          .
	jr	nc,L1465	;; 145b: 30 08       0.
	ld	a,062h		;; 145d: 3e 62       >b
	push	af		;; 145f: f5          .
	call	L0597		;; 1460: cd 97 05    ...
	jr	L148b		;; 1463: 18 26       .&

L1465:	call	L763d		;; 1465: cd 3d 76    .=v
	ld	hl,(L109d)	;; 1468: 2a 9d 10    *..
	push	hl		;; 146b: e5          .
	call	L7682		;; 146c: cd 82 76    ..v
	ld	a,(L10bf)	;; 146f: 3a bf 10    :..
	rst4			;; 1472: e7          .
	db	84h
	add	hl,hl		;; 1474: 29          )
	ld	de,L10af	;; 1475: 11 af 10    ...
	add	hl,de		;; 1478: 19          .
	rst4			;; 1479: e7          .
	db	80h
	push	hl		;; 147b: e5          .
	call	L7bf4		;; 147c: cd f4 7b    ..{
	pop	de		;; 147f: d1          .
	ld	bc,00080h	;; 1480: 01 80 00    ...
	ldir			;; 1483: ed b0       ..
	call	L7aed		;; 1485: cd ed 7a    ..z
	call	L768c		;; 1488: cd 8c 76    ..v
L148b:	ld	a,(L10bf)	;; 148b: 3a bf 10    :..
	rst4			;; 148e: e7          .
	db	84h
	add	hl,hl		;; 1490: 29          )
	ld	de,L10af	;; 1491: 11 af 10    ...
	add	hl,de		;; 1494: 19          .
	rst4			;; 1495: e7          .
	db	80h
	push	hl		;; 1497: e5          .
	rst3			;; 1498: df          .
	db	85h
	pop	de		;; 149a: d1          .
	add	hl,de		;; 149b: 19          .
	ld	a,(hl)		;; 149c: 7e          ~
	ld	(ix-119),a	;; 149d: dd 77 89    .w.
	ld	a,(L10bf)	;; 14a0: 3a bf 10    :..
	rst4			;; 14a3: e7          .
	db	84h
	ld	de,L10c2	;; 14a5: 11 c2 10    ...
	add	hl,de		;; 14a8: 19          .
	ld	(hl),001h	;; 14a9: 36 01       6.
L14ab:	ld	a,(ix-119)	;; 14ab: dd 7e 89    .~.
	jp	L8d56		;; 14ae: c3 56 8d    .V.

L14b1:	call	L8d27		;; 14b1: cd 27 8d    .'.
	db	0feh,0ah
	rst3			;; 14b6: df          .
	db	84h
	inc	hl		;; 14b8: 23          #
	push	hl		;; 14b9: e5          .
	call	L1355		;; 14ba: cd 55 13    .U.
	ld	h,a		;; 14bd: 67          g
	ld	l,000h		;; 14be: 2e 00       ..
	push	hl		;; 14c0: e5          .
	rst3			;; 14c1: df          .
	db	84h
	push	hl		;; 14c3: e5          .
	call	L1355		;; 14c4: cd 55 13    .U.
	ld	c,a		;; 14c7: 4f          O
	ld	b,000h		;; 14c8: 06 00       ..
	pop	hl		;; 14ca: e1          .
	add	hl,bc		;; 14cb: 09          .
	rst3			;; 14cc: df          .
	db	2
	jp	L8d56		;; 14ce: c3 56 8d    .V.

L14d1:	call	L8d27		;; 14d1: cd 27 8d    .'.
	db	0fah,0ch
	ld	a,007h		;; 14d6: 3e 07       >.
	ld	hl,L01a7	;; 14d8: 21 a7 01    ...
	cp	a,(hl)		;; 14db: be          .
	jr	nc,L14e3	;; 14dc: 30 05       0.
	ld	hl,L01a7	;; 14de: 21 a7 01    ...
	ld	(hl),007h	;; 14e1: 36 07       6.
L14e3:	ld	a,(L01a7)	;; 14e3: 3a a7 01    :..
	ld	c,a		;; 14e6: 4f          O
	ld	b,000h		;; 14e7: 06 00       ..
	ld	a,000h		;; 14e9: 3e 00       >.
	rst4			;; 14eb: e7          .
	db	84h
	call	L88a6		;; 14ed: cd a6 88    ...
	ld	(ix-126),c	;; 14f0: dd 71 82    .q.
	jr	c,L1520		;; 14f3: 38 2b       8+
	ld	a,l		;; 14f5: 7d          }
L14f6:	ld	(ix-121),a	;; 14f6: dd 77 87    .w.
	rst4			;; 14f9: e7          .
	db	84h
	add	hl,hl		;; 14fb: 29          )
	ld	de,L109f	;; 14fc: 11 9f 10    ...
	add	hl,de		;; 14ff: 19          .
	ld	(hl),0ffh	;; 1500: 36 ff       6.
	inc	hl		;; 1502: 23          #
	ld	(hl),0ffh	;; 1503: 36 ff       6.
	ld	a,(ix-121)	;; 1505: dd 7e 87    .~.
	rst4			;; 1508: e7          .
	db	84h
	add	hl,hl		;; 150a: 29          )
	ld	de,L10af	;; 150b: 11 af 10    ...
	add	hl,de		;; 150e: 19          .
	push	hl		;; 150f: e5          .
	ld	hl,00080h	;; 1510: 21 80 00    ...
	push	hl		;; 1513: e5          .
	call	L9016		;; 1514: cd 16 90    ...
	ld	a,(ix-121)	;; 1517: dd 7e 87    .~.
	inc	a		;; 151a: 3c          <
	dec	(ix-126)	;; 151b: dd 35 82    .5.
	jr	nz,L14f6	;; 151e: 20 d6        .
L1520:	ld	hl,L1050	;; 1520: 21 50 10    .P.
	push	hl		;; 1523: e5          .
	ld	a,024h		;; 1524: 3e 24       >$
	push	af		;; 1526: f5          .
	call	L7604		;; 1527: cd 04 76    ..v
L152a:	ld	a,(L1050)	;; 152a: 3a 50 10    :P.
	push	af		;; 152d: f5          .
	ld	a,000h		;; 152e: 3e 00       >.
	pop	bc		;; 1530: c1          .
	cp	a,b		;; 1531: b8          .
	ld	a,000h		;; 1532: 3e 00       >.
	rla			;; 1534: 17          .
	push	af		;; 1535: f5          .
	ld	a,(L1051)	;; 1536: 3a 51 10    :Q.
	cp	a,020h		;; 1539: fe 20       . 
	call	L8c09		;; 153b: cd 09 8c    ...
	ld	b,a		;; 153e: 47          G
	pop	af		;; 153f: f1          .
	and	a,b		;; 1540: a0          .
	rra			;; 1541: 1f          .
	jr	nc,L1553	;; 1542: 30 0f       0.
	ld	hl,L1050	;; 1544: 21 50 10    .P.
	push	hl		;; 1547: e5          .
	ld	a,001h		;; 1548: 3e 01       >.
	push	af		;; 154a: f5          .
	ld	a,001h		;; 154b: 3e 01       >.
	push	af		;; 154d: f5          .
	call	L8a48		;; 154e: cd 48 8a    .H.
	jr	L152a		;; 1551: 18 d7       ..

L1553:	ld	hl,L1074	;; 1553: 21 74 10    .t.
	ld	(hl),000h	;; 1556: 36 00       6.
	ld	a,(L1050)	;; 1558: 3a 50 10    :P.
	or	a,a		;; 155b: b7          .
	jr	nz,L1561	;; 155c: 20 03        .
	jp	L1695		;; 155e: c3 95 16    ...

L1561:	ld	bc,02e01h	;; 1561: 01 01 2e    ...
	push	bc		;; 1564: c5          .
	ld	hl,L1050	;; 1565: 21 50 10    .P.
	call	L75ea		;; 1568: cd ea 75    ..u
	call	L8ad7		;; 156b: cd d7 8a    ...
	ld	a,h		;; 156e: 7c          |
	or	a,l		;; 156f: b5          .
	or	a,b		;; 1570: b0          .
	or	a,c		;; 1571: b1          .
	jr	nz,L1590	;; 1572: 20 1c        .
	ld	hl,L1050	;; 1574: 21 50 10    .P.
	call	L75ea		;; 1577: cd ea 75    ..u
	call	L1581		;; 157a: cd 81 15    ...
	db	'.COM'
L1581:	call	L75e5		;; 1581: cd e5 75    ..u
	db	4
	call	L8b20		;; 1585: cd 20 8b    . .
	ld	hl,L1050	;; 1588: 21 50 10    .P.
	ld	a,023h		;; 158b: 3e 23       >#
	call	L8b81		;; 158d: cd 81 8b    ...
L1590:	ld	hl,L1050	;; 1590: 21 50 10    .P.
	call	L75ea		;; 1593: cd ea 75    ..u
	ld	hl,L1074	;; 1596: 21 74 10    .t.
	ld	a,023h		;; 1599: 3e 23       >#
	call	L8b81		;; 159b: cd 81 8b    ...
	ld	bc,02e01h	;; 159e: 01 01 2e    ...
	push	bc		;; 15a1: c5          .
	ld	hl,L1074	;; 15a2: 21 74 10    .t.
	call	L75ea		;; 15a5: cd ea 75    ..u
	call	L8ad7		;; 15a8: cd d7 8a    ...
	ld	a,c		;; 15ab: 79          y
	ld	(ix-123),a	;; 15ac: dd 77 85    .w.
	ld	a,(L1074)	;; 15af: 3a 74 10    :t.
	push	af		;; 15b2: f5          .
	ld	a,(ix-123)	;; 15b3: dd 7e 85    .~.
	ld	c,a		;; 15b6: 4f          O
	ld	b,000h		;; 15b7: 06 00       ..
	pop	af		;; 15b9: f1          .
	ld	l,a		;; 15ba: 6f          o
	ld	h,000h		;; 15bb: 26 00       &.
	or	a,a		;; 15bd: b7          .
	sbc	hl,bc		;; 15be: ed 42       .B
	inc	hl		;; 15c0: 23          #
	ld	a,l		;; 15c1: 7d          }
	ld	(ix-122),a	;; 15c2: dd 77 86    .w.
	ld	hl,L1074	;; 15c5: 21 74 10    .t.
	push	hl		;; 15c8: e5          .
	ld	a,(ix-123)	;; 15c9: dd 7e 85    .~.
	push	af		;; 15cc: f5          .
	ld	a,(ix-122)	;; 15cd: dd 7e 86    .~.
	push	af		;; 15d0: f5          .
	call	L8a48		;; 15d1: cd 48 8a    .H.
	ld	hl,L1050	;; 15d4: 21 50 10    .P.
	call	L75ea		;; 15d7: cd ea 75    ..u
	call	L793e		;; 15da: cd 3e 79    .>y
	xor	a,001h		;; 15dd: ee 01       ..
	rra			;; 15df: 1f          .
	jr	nc,L15ea	;; 15e0: 30 08       0.
	ld	hl,L1050	;; 15e2: 21 50 10    .P.
	ld	(hl),000h	;; 15e5: 36 00       6.
	jp	L1695		;; 15e7: c3 95 16    ...

L15ea:	ld	hl,L109d	;; 15ea: 21 9d 10    ...
	push	hl		;; 15ed: e5          .
	ld	hl,00080h	;; 15ee: 21 80 00    ...
	push	hl		;; 15f1: e5          .
	ld	hl,L1050	;; 15f2: 21 50 10    .P.
	call	L75ea		;; 15f5: cd ea 75    ..u
	call	L7995		;; 15f8: cd 95 79    ..y
	ld	hl,L109d	;; 15fb: 21 9d 10    ...
	push	hl		;; 15fe: e5          .
	ld	hl,00080h	;; 15ff: 21 80 00    ...
	push	hl		;; 1602: e5          .
	call	L78b6		;; 1603: cd b6 78    ..x
L1606:	ld	hl,(L109d)	;; 1606: 2a 9d 10    *..
	push	hl		;; 1609: e5          .
	ld	hl,(L10c0)	;; 160a: 2a c0 10    *..
	ld	de,00000h	;; 160d: 11 00 00    ...
	push	de		;; 1610: d5          .
	push	hl		;; 1611: e5          .
	call	L7813		;; 1612: cd 13 78    ..x
	ld	hl,(L10c0)	;; 1615: 2a c0 10    *..
	inc	hl		;; 1618: 23          #
	ld	(L10c0),hl	;; 1619: 22 c0 10    "..
	ld	hl,(L109d)	;; 161c: 2a 9d 10    *..
	push	hl		;; 161f: e5          .
	call	L7ba1		;; 1620: cd a1 7b    ..{
	rra			;; 1623: 1f          .
	jr	nc,L1606	;; 1624: 30 e0       0.
	ld	hl,(L10c0)	;; 1626: 2a c0 10    *..
	dec	hl		;; 1629: 2b          +
	ld	(L10c0),hl	;; 162a: 22 c0 10    "..
	ld	bc,001feh	;; 162d: 01 fe 01    ...
	or	a,a		;; 1630: b7          .
	sbc	hl,bc		;; 1631: ed 42       .B
	jr	c,L163b		;; 1633: 38 06       8.
	ld	hl,001feh	;; 1635: 21 fe 01    ...
	ld	(L10c0),hl	;; 1638: 22 c0 10    "..
L163b:	ld	hl,(L10c0)	;; 163b: 2a c0 10    *..
	push	hl		;; 163e: e5          .
	ld	hl,00080h	;; 163f: 21 80 00    ...
	call	L87b7		;; 1642: cd b7 87    ...
	call	L885c		;; 1645: cd 5c 88    .\.
	ld	h,b		;; 1648: 60          `
	ld	l,c		;; 1649: 69          i
	rst3			;; 164a: df          .
	db	3
	ld	bc,00100h	;; 164c: 01 00 01    ...
	rst3			;; 164f: df          .
	db	83h
	add	hl,bc		;; 1651: 09          .
	rst4			;; 1652: e7          .
	db	87h
	call	L8d71		;; 1654: cd 71 8d    .q.
	dw	L104c
	ld	hl,00000h	;; 1659: 21 00 00    ...
	ld	(L10ca),hl	;; 165c: 22 ca 10    "..
	ld	hl,L10ce	;; 165f: 21 ce 10    ...
	push	hl		;; 1662: e5          .
	ld	hl,00008h	;; 1663: 21 08 00    ...
	push	hl		;; 1666: e5          .
	call	L9016		;; 1667: cd 16 90    ...
	ld	hl,(L10ce)	;; 166a: 2a ce 10    *..
	ld	de,00006h	;; 166d: 11 06 00    ...
	add	hl,de		;; 1670: 19          .
	ld	(hl),080h	;; 1671: 36 80       6.
	inc	hl		;; 1673: 23          #
	ld	(hl),000h	;; 1674: 36 00       6.
	ld	hl,(L10ce)	;; 1676: 2a ce 10    *..
	ld	(hl),000h	;; 1679: 36 00       6.
	inc	hl		;; 167b: 23          #
	ld	(hl),000h	;; 167c: 36 00       6.
	ld	hl,(L10ce)	;; 167e: 2a ce 10    *..
	inc	hl		;; 1681: 23          #
	inc	hl		;; 1682: 23          #
	ld	(hl),000h	;; 1683: 36 00       6.
	inc	hl		;; 1685: 23          #
	ld	(hl),001h	;; 1686: 36 01       6.
	ld	hl,(L10ce)	;; 1688: 2a ce 10    *..
	ld	de,00004h	;; 168b: 11 04 00    ...
	add	hl,de		;; 168e: 19          .
	push	hl		;; 168f: e5          .
	rst3			;; 1690: df          .
	db	83h
	inc	hl		;; 1692: 23          #
	rst4			;; 1693: e7          .
	db	81h
L1695:	jp	L8d56		;; 1695: c3 56 8d    .V.

L1698:	call	L8d27		;; 1698: cd 27 8d    .'.
	db	0,6
	ld	hl,L0f9e	;; 169d: 21 9e 0f    ...
	ld	(hl),044h	;; 16a0: 36 44       6D
	call	L16a8		;; 16a2: cd a8 16    ...
	db	'.DZ'
L16a8:	call	L75e5		;; 16a8: cd e5 75    ..u
	db	3
	ld	hl,L1098	;; 16ac: 21 98 10    ...
	ld	a,003h		;; 16af: 3e 03       >.
	call	L8b81		;; 16b1: cd 81 8b    ...
	ld	hl,L109c	;; 16b4: 21 9c 10    ...
	ld	(hl),001h	;; 16b7: 36 01       6.
	jp	L8d56		;; 16b9: c3 56 8d    .V.

L16bc:	db	0

L16bd:	call	L8d27		;; 16bd: cd 27 8d    .'.
	db	0fbh,0fh
	jr	L16c4		;; 16c2: 18 00       ..

L16c3	equ	$-1
L16c4:	ld	a,L16d5-L16c4	;; 16c4: 3e 11       >.
	ld	(L16c3),a	;; 16c6: 32 c3 16    2..
	ld	hl,L01ce	;; 16c9: 21 ce 01    ...
	call	L75ea		;; 16cc: cd ea 75    ..u
	call	L793e		;; 16cf: cd 3e 79    .>y
	ld	(L16bc),a	;; 16d2: 32 bc 16    2..
L16d5:	rst3			;; 16d5: df          .
	db	87h
	push	hl		;; 16d7: e5          .
	call	L16df		;; 16d8: cd df 16    ...
	db	'@@@@'
L16df:	call	L75e5		;; 16df: cd e5 75    ..u
	db	4
	call	L8b95		;; 16e3: cd 95 8b    ...
	pop	hl		;; 16e6: e1          .
	ld	a,037h		;; 16e7: 3e 37       >7
	call	L8b81		;; 16e9: cd 81 8b    ...
	ld	a,(L16bc)	;; 16ec: 3a bc 16    :..
	rra			;; 16ef: 1f          .
	jp	nc,L175c	;; 16f0: d2 5c 17    .\.
	ld	hl,0ff85h	;; 16f3: 21 85 ff    ...
	rst2			;; 16f6: d7          .
	push	hl		;; 16f7: e5          .
	push	hl		;; 16f8: e5          .
	ld	hl,00000h	;; 16f9: 21 00 00    ...
	push	hl		;; 16fc: e5          .
	ld	hl,L01ce	;; 16fd: 21 ce 01    ...
	call	L75ea		;; 1700: cd ea 75    ..u
	call	L7995		;; 1703: cd 95 79    ..y
	ld	hl,00000h	;; 1706: 21 00 00    ...
	push	hl		;; 1709: e5          .
	call	L78b6		;; 170a: cd b6 78    ..x
	ld	a,(ix-118)	;; 170d: dd 7e 8a    .~.
	ld	b,a		;; 1710: 47          G
	inc	b		;; 1711: 04          .
	jr	L1726		;; 1712: 18 12       ..

L1714:	push	bc		;; 1714: c5          .
	call	L7649		;; 1715: cd 49 76    .Iv
	ld	l,(ix-123)	;; 1718: dd 6e 85    .n.
	ld	h,(ix-122)	;; 171b: dd 66 86    .f.
	push	hl		;; 171e: e5          .
	call	L7682		;; 171f: cd 82 76    ..v
	call	L768c		;; 1722: cd 8c 76    ..v
	pop	bc		;; 1725: c1          .
L1726:	djnz	L1714		;; 1726: 10 ec       ..
L1728:	call	L763d		;; 1728: cd 3d 76    .=v
	rst3			;; 172b: df          .
	db	85h
	push	hl		;; 172d: e5          .
	call	L7682		;; 172e: cd 82 76    ..v
	call	L7bf4		;; 1731: cd f4 7b    ..{
	ld	a,(hl)		;; 1734: 7e          ~
	push	af		;; 1735: f5          .
	call	L7aed		;; 1736: cd ed 7a    ..z
	call	L768c		;; 1739: cd 8c 76    ..v
	pop	af		;; 173c: f1          .
	cp	a,020h		;; 173d: fe 20       . 
	jr	nz,L1728	;; 173f: 20 e7        .
	call	L7649		;; 1741: cd 49 76    .Iv
	rst3			;; 1744: df          .
	db	85h
	push	hl		;; 1746: e5          .
	call	L7682		;; 1747: cd 82 76    ..v
	rst3			;; 174a: df          .
	db	87h
	push	hl		;; 174c: e5          .
	ld	a,037h		;; 174d: 3e 37       >7
	push	af		;; 174f: f5          .
	call	L7777		;; 1750: cd 77 77    .ww
	call	L768c		;; 1753: cd 8c 76    ..v
	rst3			;; 1756: df          .
	db	85h
	push	hl		;; 1758: e5          .
	call	L78e7		;; 1759: cd e7 78    ..x
L175c:	call	L76d6		;; 175c: cd d6 76    ..v
	jp	L8d56		;; 175f: c3 56 8d    .V.

L1762:	call	L8d27		;; 1762: cd 27 8d    .'.
	db	0c8h,'@'
	ld	a,(ix-69)	;; 1767: dd 7e bb    .~.
	push	af		;; 176a: f5          .
	ld	hl,0ff82h	;; 176b: 21 82 ff    ...
	rst2			;; 176e: d7          .
	push	hl		;; 176f: e5          .
	call	L16bd		;; 1770: cd bd 16    ...
	ld	hl,0ff82h	;; 1773: 21 82 ff    ...
	rst2			;; 1776: d7          .
	call	L75ea		;; 1777: cd ea 75    ..u
	ld	a,037h		;; 177a: 3e 37       >7
	call	L8bb0		;; 177c: cd b0 8b    ...
	call	L0803		;; 177f: cd 03 08    ...
	jp	L8d56		;; 1782: c3 56 8d    .V.

L1785:	db	0
L1786:	db	0
L1787:	db	0,0
L1789:	db	0,0
L178b:	db	0
L178c:	db	0
L178d:	db	'Space to continu'
	db	'e, or ^U to inte'
	db	'rrupt'
L17b2:	call	L8d27		;; 17b2: cd 27 8d    .'.
	db	0,0ah
	ld	a,07fh		;; 17b7: 3e 7f       >.
	rst4			;; 17b9: e7          .
	db	8ah
	cp	a,(iy-121)	;; 17bb: fd be 87    ...
	jr	nc,L17f8	;; 17be: 30 38       08
	ld	(iy-121),000h	;; 17c0: fd 36 87 00 .6..
	rst3			;; 17c4: df          .
	db	84h
	rst4			;; 17c6: e7          .
	db	80h
	push	hl		;; 17c8: e5          .
	call	L7ba1		;; 17c9: cd a1 7b    ..{
	rra			;; 17cc: 1f          .
	jr	nc,L17d7	;; 17cd: 30 08       0.
	rst4			;; 17cf: e7          .
	db	8ah
	ld	(iy-120),01ah	;; 17d1: fd 36 88 1a .6..
	jr	L17f8		;; 17d5: 18 21       ..

L17d7:	call	L763d		;; 17d7: cd 3d 76    .=v
	rst3			;; 17da: df          .
	db	84h
	rst4			;; 17dc: e7          .
	db	80h
	push	hl		;; 17de: e5          .
	call	L7682		;; 17df: cd 82 76    ..v
	call	L7bf4		;; 17e2: cd f4 7b    ..{
	push	hl		;; 17e5: e5          .
	ld	hl,0ff88h	;; 17e6: 21 88 ff    ...
	rst4			;; 17e9: e7          .
	db	8bh
	pop	de		;; 17eb: d1          .
	ex	de,hl		;; 17ec: eb          .
	ld	bc,00080h	;; 17ed: 01 80 00    ...
	ldir			;; 17f0: ed b0       ..
	call	L7aed		;; 17f2: cd ed 7a    ..z
	call	L768c		;; 17f5: cd 8c 76    ..v
L17f8:	rst4			;; 17f8: e7          .
	db	8ah
	ld	l,(iy-121)	;; 17fa: fd 6e 87    .n.
	ld	h,000h		;; 17fd: 26 00       &.
	rst4			;; 17ff: e7          .
	db	8bh
	ld	de,0ff88h	;; 1801: 11 88 ff    ...
	add	hl,de		;; 1804: 19          .
	ld	a,(hl)		;; 1805: 7e          ~
	rst3			;; 1806: df          .
	db	82h
	ld	(hl),a		;; 1808: 77          w
	rst4			;; 1809: e7          .
	db	8ah
	inc	(iy-121)	;; 180b: fd 34 87    .4.
	jp	L8d56		;; 180e: c3 56 8d    .V.

L1811:	call	L8d27		;; 1811: cd 27 8d    .'.
	db	'x',90h
L1816:	ld	a,(ix+11)	;; 1816: dd 7e 0b    .~.
	call	L199d		;; 1819: cd 9d 19    ...
L181c:	call	L1e41		;; 181c: cd 41 1e    .A.
	ld	a,(L1785)	;; 181f: 3a 85 17    :..
	ld	(ix+11),a	;; 1822: dd 77 0b    .w.
	jr	L1816		;; 1825: 18 ef       ..

L1827:	ld	a,(ix+11)	;; 1827: dd 7e 0b    .~.
	add	a,0d0h		;; 182a: c6 d0       ..
	ld	(L017f),a	;; 182c: 32 7f 01    2..
	jp	L19b6		;; 182f: c3 b6 19    ...

L1832:	ld	hl,L01bf	;; 1832: 21 bf 01    ...
	call	L75ea		;; 1835: cd ea 75    ..u
	call	L793e		;; 1838: cd 3e 79    .>y
	rra			;; 183b: 1f          .
	jp	nc,L1971	;; 183c: d2 71 19    .q.
	ld	hl,00008h	;; 183f: 21 08 00    ...
	rst2			;; 1842: d7          .
	push	hl		;; 1843: e5          .
	push	hl		;; 1844: e5          .
	ld	hl,00080h	;; 1845: 21 80 00    ...
	push	hl		;; 1848: e5          .
	ld	hl,L01bf	;; 1849: 21 bf 01    ...
	call	L75ea		;; 184c: cd ea 75    ..u
	call	L7995		;; 184f: cd 95 79    ..y
	ld	hl,00080h	;; 1852: 21 80 00    ...
	push	hl		;; 1855: e5          .
	call	L78b6		;; 1856: cd b6 78    ..x
	ld	(ix-121),080h	;; 1859: dd 36 87 80 .6..
	ld	(ix-123),001h	;; 185d: dd 36 85 01 .6..
	ld	(ix-124),000h	;; 1861: dd 36 84 00 .6..
	ld	(ix-122),000h	;; 1865: dd 36 86 00 .6..
	ld	(ix-126),020h	;; 1869: dd 36 82 20 .6. 
	xor	a,a		;; 186d: af          .
	push	af		;; 186e: f5          .
	call	L0953		;; 186f: cd 53 09    .S.
L1872:	ld	a,(ix-123)	;; 1872: dd 7e 85    .~.
	rra			;; 1875: 1f          .
	jp	nc,L1965	;; 1876: d2 65 19    .e.
	ld	hl,00008h	;; 1879: 21 08 00    ...
	rst2			;; 187c: d7          .
	push	hl		;; 187d: e5          .
	ld	hl,L178c	;; 187e: 21 8c 17    ...
	push	hl		;; 1881: e5          .
	rst4			;; 1882: e7          .
	db	82h
	call	L17b2		;; 1884: cd b2 17    ...
	ld	hl,L178c	;; 1887: 21 8c 17    ...
	res	7,(hl)		;; 188a: cb be       ..
	ld	a,(hl)		;; 188c: 7e          ~
	cp	a,01fh		;; 188d: fe 1f       ..
	jr	nz,L1893	;; 188f: 20 02        .
	ld	(hl),02dh	;; 1891: 36 2d       6-
L1893:	ld	a,(hl)		;; 1893: 7e          ~
	cp	a,01ah		;; 1894: fe 1a       ..
	jr	nz,L18a2	;; 1896: 20 0a        .
	ld	(ix-123),000h	;; 1898: dd 36 85 00 .6..
	ld	(ix-124),001h	;; 189c: dd 36 84 01 .6..
	jr	L18f7		;; 18a0: 18 55       .U

L18a2:	ld	a,(L178c)	;; 18a2: 3a 8c 17    :..
	cp	a,02eh		;; 18a5: fe 2e       ..
	jr	nz,L18b6	;; 18a7: 20 0d        .
	ld	a,(ix-125)	;; 18a9: dd 7e 83    .~.
	cp	a,00ah		;; 18ac: fe 0a       ..
	jr	nz,L18b6	;; 18ae: 20 06        .
	ld	(ix-124),001h	;; 18b0: dd 36 84 01 .6..
	jr	L18c4		;; 18b4: 18 0e       ..

L18b6:	ld	a,(L178c)	;; 18b6: 3a 8c 17    :..
	cp	a,02dh		;; 18b9: fe 2d       .-
	jr	nz,L18ca	;; 18bb: 20 0d        .
	ld	a,(ix-125)	;; 18bd: dd 7e 83    .~.
	cp	a,00ah		;; 18c0: fe 0a       ..
	jr	nz,L18ca	;; 18c2: 20 06        .
L18c4:	ld	(ix-122),001h	;; 18c4: dd 36 86 01 .6..
	jr	L18f7		;; 18c8: 18 2d       .-

L18ca:	ld	a,(ix-122)	;; 18ca: dd 7e 86    .~.
	rra			;; 18cd: 1f          .
	jr	nc,L18dd	;; 18ce: 30 0d       0.
	ld	a,(L178c)	;; 18d0: 3a 8c 17    :..
	cp	a,00ah		;; 18d3: fe 0a       ..
	jr	nz,L18db	;; 18d5: 20 04        .
	ld	(ix-122),000h	;; 18d7: dd 36 86 00 .6..
L18db:	jr	L18f7		;; 18db: 18 1a       ..

L18dd:	ld	a,(L178c)	;; 18dd: 3a 8c 17    :..
	cp	a,00dh		;; 18e0: fe 0d       ..
	jr	z,L18f7		;; 18e2: 28 13       (.
	ld	a,(L178c)	;; 18e4: 3a 8c 17    :..
	cp	a,00ah		;; 18e7: fe 0a       ..
	jr	nz,L18f3	;; 18e9: 20 08        .
	call	L0977		;; 18eb: cd 77 09    .w.
	call	L0c91		;; 18ee: cd 91 0c    ...
	jr	L18f7		;; 18f1: 18 04       ..

L18f3:	push	af		;; 18f3: f5          .
	call	L0597		;; 18f4: cd 97 05    ...
L18f7:	ld	(ix-126),020h	;; 18f7: dd 36 82 20 .6. 
	ld	a,(ix-124)	;; 18fb: dd 7e 84    .~.
	rra			;; 18fe: 1f          .
	jr	nc,L195c	;; 18ff: 30 5b       0[
L1901:	ld	a,(L02e3)	;; 1901: 3a e3 02    :..
	ld	hl,L02e4	;; 1904: 21 e4 02    ...
	cp	a,(hl)		;; 1907: be          .
	jr	nc,L1912	;; 1908: 30 08       0.
	call	L0977		;; 190a: cd 77 09    .w.
	call	L0c91		;; 190d: cd 91 0c    ...
	jr	L1901		;; 1910: 18 ef       ..

L1912:	ld	a,(L02ef)	;; 1912: 3a ef 02    :..
	add	a,0dah		;; 1915: c6 da       ..
	push	af		;; 1917: f5          .
	ld	a,020h		;; 1918: 3e 20       > 
	push	af		;; 191a: f5          .
	call	L0720		;; 191b: cd 20 07    . .
	ld	hl,L178d	;; 191e: 21 8d 17    ...
	call	L75be		;; 1921: cd be 75    ..u
	db	'%'
	ld	a,037h		;; 1925: 3e 37       >7
	call	L8bb0		;; 1927: cd b0 8b    ...
	call	L0803		;; 192a: cd 03 08    ...
	call	L0977		;; 192d: cd 77 09    .w.
	ld	hl,0ff82h	;; 1930: 21 82 ff    ...
	rst2			;; 1933: d7          .
	push	hl		;; 1934: e5          .
	call	L0f82		;; 1935: cd 82 0f    ...
	ld	a,(ix-123)	;; 1938: dd 7e 85    .~.
	rra			;; 193b: 1f          .
	jr	nc,L1949	;; 193c: 30 0b       0.
	ld	a,(ix-126)	;; 193e: dd 7e 82    .~.
	cp	a,015h		;; 1941: fe 15       ..
	call	L8c0e		;; 1943: cd 0e 8c    ...
	ld	(ix-123),a	;; 1946: dd 77 85    .w.
L1949:	ld	a,(L02e4)	;; 1949: 3a e4 02    :..
	push	af		;; 194c: f5          .
	call	L0953		;; 194d: cd 53 09    .S.
	call	L0977		;; 1950: cd 77 09    .w.
	xor	a,a		;; 1953: af          .
	push	af		;; 1954: f5          .
	call	L0953		;; 1955: cd 53 09    .S.
	ld	(ix-124),000h	;; 1958: dd 36 84 00 .6..
L195c:	ld	a,(L178c)	;; 195c: 3a 8c 17    :..
	ld	(ix-125),a	;; 195f: dd 77 83    .w.
	jp	L1872		;; 1962: c3 72 18    .r.

L1965:	ld	l,(ix+8)	;; 1965: dd 6e 08    .n.
	ld	h,(ix+9)	;; 1968: dd 66 09    .f.
	push	hl		;; 196b: e5          .
	call	L78e7		;; 196c: cd e7 78    ..x
	jr	L1993		;; 196f: 18 22       ."

L1971:	call	L0c91		;; 1971: cd 91 0c    ...
	ld	hl,L01bf	;; 1974: 21 bf 01    ...
	call	L75ea		;; 1977: cd ea 75    ..u
	ld	a,037h		;; 197a: 3e 37       >7
	call	L8bb0		;; 197c: cd b0 8b    ...
	call	L0803		;; 197f: cd 03 08    ...
	ld	a,03fh		;; 1982: 3e 3f       >?
	push	af		;; 1984: f5          .
	call	L0597		;; 1985: cd 97 05    ...
	call	L0977		;; 1988: cd 77 09    .w.
	ld	hl,0ff82h	;; 198b: 21 82 ff    ...
	rst2			;; 198e: d7          .
	push	hl		;; 198f: e5          .
	call	L0f82		;; 1990: cd 82 0f    ...
L1993:	xor	a,a		;; 1993: af          .
	push	af		;; 1994: f5          .
	call	L0953		;; 1995: cd 53 09    .S.
	call	L0977		;; 1998: cd 77 09    .w.
	jr	L19b6		;; 199b: 18 19       ..

L199d:	ld	b,006h		;; 199d: 06 06       ..
	call	L8ddc		;; 199f: cd dc 8d    ...
	db ' ' ! dw L19b6
	db '0' ! dw L1827
	db '1' ! dw L1827
	db '2' ! dw L1827
	db '3' ! dw L1827
	db 'H' ! dw L181c
	dw	L1832
L19b6:	call	L76d6		;; 19b6: cd d6 76    ..v
	jp	L8d56		;; 19b9: c3 56 8d    .V.

	pop	hl		;; 19bc: e1          .
	pop	af		;; 19bd: f1          .
	cp	a,00ah		;; 19be: fe 0a       ..
	jr	nc,L19c5	;; 19c0: 30 03       0.
	add	a,030h		;; 19c2: c6 30       .0
	jp	(hl)		;; 19c4: e9          .

L19c5:	add	a,037h		;; 19c5: c6 37       .7
	jp	(hl)		;; 19c7: e9          .

L19c8:	call	L8d27		;; 19c8: cd 27 8d    .'.
	db	0ffh,0bh
	ld	(ix-126),000h	;; 19cd: dd 36 82 00 .6..
	ld	a,(ix-122)	;; 19d1: dd 7e 86    .~.
	cp	a,030h		;; 19d4: fe 30       .0
	ld	a,000h		;; 19d6: 3e 00       >.
	ccf			;; 19d8: 3f          ?
	rla			;; 19d9: 17          .
	push	af		;; 19da: f5          .
	ld	a,039h		;; 19db: 3e 39       >9
	cp	a,(ix-122)	;; 19dd: dd be 86    ...
	ld	a,000h		;; 19e0: 3e 00       >.
	ccf			;; 19e2: 3f          ?
	rla			;; 19e3: 17          .
	ld	b,a		;; 19e4: 47          G
	pop	af		;; 19e5: f1          .
	and	a,b		;; 19e6: a0          .
	rra			;; 19e7: 1f          .
	jr	nc,L19f8	;; 19e8: 30 0e       0.
	ld	a,(ix-122)	;; 19ea: dd 7e 86    .~.
	add	a,0d0h		;; 19ed: c6 d0       ..
	rst3			;; 19ef: df          .
	db	83h
	ld	(hl),a		;; 19f1: 77          w
	ld	(ix-126),001h	;; 19f2: dd 36 82 01 .6..
	jr	L1a22		;; 19f6: 18 2a       .*

L19f8:	ld	a,(ix-122)	;; 19f8: dd 7e 86    .~.
	and	a,0dfh		;; 19fb: e6 df       ..
	ld	(ix-122),a	;; 19fd: dd 77 86    .w.
	cp	a,041h		;; 1a00: fe 41       .A
	ld	a,000h		;; 1a02: 3e 00       >.
	ccf			;; 1a04: 3f          ?
	rla			;; 1a05: 17          .
	push	af		;; 1a06: f5          .
	ld	a,046h		;; 1a07: 3e 46       >F
	cp	a,(ix-122)	;; 1a09: dd be 86    ...
	ld	a,000h		;; 1a0c: 3e 00       >.
	ccf			;; 1a0e: 3f          ?
	rla			;; 1a0f: 17          .
	ld	b,a		;; 1a10: 47          G
	pop	af		;; 1a11: f1          .
	and	a,b		;; 1a12: a0          .
	rra			;; 1a13: 1f          .
	jr	nc,L1a22	;; 1a14: 30 0c       0.
	ld	a,(ix-122)	;; 1a16: dd 7e 86    .~.
	add	a,0c9h		;; 1a19: c6 c9       ..
	rst3			;; 1a1b: df          .
	db	83h
	ld	(hl),a		;; 1a1d: 77          w
	ld	(ix-126),001h	;; 1a1e: dd 36 82 01 .6..
L1a22:	ld	a,(ix-126)	;; 1a22: dd 7e 82    .~.
	jp	L8d56		;; 1a25: c3 56 8d    .V.

L1a28:	db	0,0
L1a2a:	db	0,0
L1a2c:	db	0,0,0,0
L1a30:	call	L8d27		;; 1a30: cd 27 8d    .'.
	db	0fch,0ah
	ld	a,(L02e3)	;; 1a35: 3a e3 02    :..
	ld	(ix-123),a	;; 1a38: dd 77 85    .w.
	ld	a,(L02ee)	;; 1a3b: 3a ee 02    :..
	ld	(ix-124),a	;; 1a3e: dd 77 84    .w.
	ld	a,(L1786)	;; 1a41: 3a 86 17    :..
	ld	(ix-125),a	;; 1a44: dd 77 83    .w.
	ld	a,(L1786)	;; 1a47: 3a 86 17    :..
	cp	a,020h		;; 1a4a: fe 20       . 
	jr	nc,L1a52	;; 1a4c: 30 04       0.
	ld	(ix-125),021h	;; 1a4e: dd 36 83 21 .6..
L1a52:	ld	a,(L1785)	;; 1a52: 3a 85 17    :..
	ld	(ix-126),a	;; 1a55: dd 77 82    .w.
	ld	a,(L1785)	;; 1a58: 3a 85 17    :..
	cp	a,020h		;; 1a5b: fe 20       . 
	jr	nc,L1a63	;; 1a5d: 30 04       0.
	ld	(ix-126),021h	;; 1a5f: dd 36 82 21 .6..
L1a63:	ld	a,(L1785)	;; 1a63: 3a 85 17    :..
	or	a,a		;; 1a66: b7          .
	jr	nz,L1a6d	;; 1a67: 20 04        .
	ld	(ix-126),020h	;; 1a69: dd 36 82 20 .6. 
L1a6d:	ld	a,000h		;; 1a6d: 3e 00       >.
	push	af		;; 1a6f: f5          .
	call	L0953		;; 1a70: cd 53 09    .S.
	ld	a,(ix-125)	;; 1a73: dd 7e 83    .~.
	or	a,a		;; 1a76: b7          .
	call	L8c09		;; 1a77: cd 09 8c    ...
	push	af		;; 1a7a: f5          .
	ld	a,(ix-125)	;; 1a7b: dd 7e 83    .~.
	cp	a,020h		;; 1a7e: fe 20       . 
	call	L8c09		;; 1a80: cd 09 8c    ...
	ld	b,a		;; 1a83: 47          G
	pop	af		;; 1a84: f1          .
	or	a,b		;; 1a85: b0          .
	rra			;; 1a86: 1f          .
	jr	nc,L1a94	;; 1a87: 30 0b       0.
	ld	a,004h		;; 1a89: 3e 04       >.
	push	af		;; 1a8b: f5          .
	ld	a,020h		;; 1a8c: 3e 20       > 
	push	af		;; 1a8e: f5          .
	call	L0720		;; 1a8f: cd 20 07    . .
	jr	L1aa8		;; 1a92: 18 14       ..

L1a94:	ld	a,020h		;; 1a94: 3e 20       > 
	push	af		;; 1a96: f5          .
	call	L0597		;; 1a97: cd 97 05    ...
	ld	a,(ix-125)	;; 1a9a: dd 7e 83    .~.
	push	af		;; 1a9d: f5          .
	call	L0597		;; 1a9e: cd 97 05    ...
	ld	a,(ix-126)	;; 1aa1: dd 7e 82    .~.
	push	af		;; 1aa4: f5          .
	call	L0597		;; 1aa5: cd 97 05    ...
L1aa8:	ld	a,(ix-123)	;; 1aa8: dd 7e 85    .~.
	push	af		;; 1aab: f5          .
	ld	a,(ix-124)	;; 1aac: dd 7e 84    .~.
	push	af		;; 1aaf: f5          .
	call	L0889		;; 1ab0: cd 89 08    ...
	jp	L8d56		;; 1ab3: c3 56 8d    .V.

L1ab6:	call	L8d27		;; 1ab6: cd 27 8d    .'.
	db	0,6
	ld	a,000h		;; 1abb: 3e 00       >.
	push	af		;; 1abd: f5          .
	ld	a,00ah		;; 1abe: 3e 0a       >.
	push	af		;; 1ac0: f5          .
	call	L0889		;; 1ac1: cd 89 08    ...
	ld	hl,(L1789)	;; 1ac4: 2a 89 17    *..
	push	hl		;; 1ac7: e5          .
	call	L5428		;; 1ac8: cd 28 54    .(T
	jp	L8d56		;; 1acb: c3 56 8d    .V.

L1ace:	call	L8d27		;; 1ace: cd 27 8d    .'.
	db	0,6
	ld	a,000h		;; 1ad3: 3e 00       >.
	push	af		;; 1ad5: f5          .
	ld	a,010h		;; 1ad6: 3e 10       >.
	push	af		;; 1ad8: f5          .
	call	L0889		;; 1ad9: cd 89 08    ...
	ld	hl,(L1787)	;; 1adc: 2a 87 17    *..
	push	hl		;; 1adf: e5          .
	call	L5428		;; 1ae0: cd 28 54    .(T
	jp	L8d56		;; 1ae3: c3 56 8d    .V.

L1ae6:	call	L8d27		;; 1ae6: cd 27 8d    .'.
	db	0fch,0ah
	ld	a,000h		;; 1aeb: 3e 00       >.
	push	af		;; 1aed: f5          .
	ld	a,033h		;; 1aee: 3e 33       >3
	push	af		;; 1af0: f5          .
	call	L0889		;; 1af1: cd 89 08    ...
	call	L7611		;; 1af4: cd 11 76    ..v
	call	L8c3a		;; 1af7: cd 3a 8c    .:.
	db	82h
	push	hl		;; 1afb: e5          .
	push	bc		;; 1afc: c5          .
	call	L8d60		;; 1afd: cd 60 8d    .`.
	dw	L1a2c
	call	L8870		;; 1b02: cd 70 88    .p.
	call	L8c13		;; 1b05: cd 13 8c    ...
	push	af		;; 1b08: f5          .
	call	L8d60		;; 1b09: cd 60 8d    .`.
	dw	L1a2c
	ld	a,h		;; 1b0e: 7c          |
	or	a,l		;; 1b0f: b5          .
	or	a,b		;; 1b10: b0          .
	or	a,c		;; 1b11: b1          .
	call	L8c09		;; 1b12: cd 09 8c    ...
	ld	b,a		;; 1b15: 47          G
	pop	af		;; 1b16: f1          .
	or	a,b		;; 1b17: b0          .
	rra			;; 1b18: 1f          .
	jr	nc,L1b24	;; 1b19: 30 09       0.
	call	L8c26		;; 1b1b: cd 26 8c    .&.
	db	82h
	call	L8d71		;; 1b1f: cd 71 8d    .q.
	dw	L1a2c
L1b24:	call	L8d60		;; 1b24: cd 60 8d    .`.
	dw	L1a2c
	ld	h,b		;; 1b29: 60          `
	ld	l,c		;; 1b2a: 69          i
	push	hl		;; 1b2b: e5          .
	call	L07d2		;; 1b2c: cd d2 07    ...
	ld	a,02bh		;; 1b2f: 3e 2b       >+
	push	af		;; 1b31: f5          .
	call	L0597		;; 1b32: cd 97 05    ...
	ld	hl,(L1a28)	;; 1b35: 2a 28 1a    *(.
	rst4			;; 1b38: e7          .
	db	87h
	push	hl		;; 1b3a: e5          .
	push	bc		;; 1b3b: c5          .
	ld	hl,(L1a2a)	;; 1b3c: 2a 2a 1a    **.
	rst4			;; 1b3f: e7          .
	db	87h
	call	L87f6		;; 1b41: cd f6 87    ...
	ld	h,b		;; 1b44: 60          `
	ld	l,c		;; 1b45: 69          i
	push	hl		;; 1b46: e5          .
	call	L07d2		;; 1b47: cd d2 07    ...
	call	L0977		;; 1b4a: cd 77 09    .w.
	jp	L8d56		;; 1b4d: c3 56 8d    .V.

L1b50:	call	L8d27		;; 1b50: cd 27 8d    .'.
	db	0c6h,'@'
	ld	a,000h		;; 1b55: 3e 00       >.
	push	af		;; 1b57: f5          .
	ld	a,003h		;; 1b58: 3e 03       >.
	push	af		;; 1b5a: f5          .
	call	L0889		;; 1b5b: cd 89 08    ...
	ld	a,007h		;; 1b5e: 3e 07       >.
	push	af		;; 1b60: f5          .
	ld	a,020h		;; 1b61: 3e 20       > 
	push	af		;; 1b63: f5          .
	call	L0720		;; 1b64: cd 20 07    . .
	call	L1ab6		;; 1b67: cd b6 1a    ...
	ld	a,02eh		;; 1b6a: 3e 2e       >.
	push	af		;; 1b6c: f5          .
	call	L0597		;; 1b6d: cd 97 05    ...
	ld	a,02eh		;; 1b70: 3e 2e       >.
	push	af		;; 1b72: f5          .
	call	L0597		;; 1b73: cd 97 05    ...
	call	L1ace		;; 1b76: cd ce 1a    ...
	ld	a,006h		;; 1b79: 3e 06       >.
	push	af		;; 1b7b: f5          .
	ld	a,020h		;; 1b7c: 3e 20       > 
	push	af		;; 1b7e: f5          .
	call	L0720		;; 1b7f: cd 20 07    . .
	ld	a,(L1050)	;; 1b82: 3a 50 10    :P.
	ld	b,a		;; 1b85: 47          G
	ld	a,001h		;; 1b86: 3e 01       >.
	call	L894e		;; 1b88: cd 4e 89    .N.
	ld	(ix-126),b	;; 1b8b: dd 70 82    .p.
	jr	c,L1ba8		;; 1b8e: 38 18       8.
L1b90:	ld	(ix-69),a	;; 1b90: dd 77 bb    .w.
	ld	l,a		;; 1b93: 6f          o
	ld	h,000h		;; 1b94: 26 00       &.
	ld	de,L1050	;; 1b96: 11 50 10    .P.
	add	hl,de		;; 1b99: 19          .
	ld	a,(hl)		;; 1b9a: 7e          ~
	push	af		;; 1b9b: f5          .
	call	L0597		;; 1b9c: cd 97 05    ...
	ld	a,(ix-69)	;; 1b9f: dd 7e bb    .~.
	inc	a		;; 1ba2: 3c          <
	dec	(ix-126)	;; 1ba3: dd 35 82    .5.
	jr	nz,L1b90	;; 1ba6: 20 e8        .
L1ba8:	call	L1bb2		;; 1ba8: cd b2 1b    ...
	db	'       '
L1bb2:	call	L75e5		;; 1bb2: cd e5 75    ..u
	db	7
	ld	hl,0ff83h	;; 1bb6: 21 83 ff    ...
	rst2			;; 1bb9: d7          .
	ld	a,037h		;; 1bba: 3e 37       >7
	call	L8b81		;; 1bbc: cd 81 8b    ...
	ld	a,(L178b)	;; 1bbf: 3a 8b 17    :..
	rra			;; 1bc2: 1f          .
	jr	nc,L1bdc	;; 1bc3: 30 17       0.
	call	L1bcf		;; 1bc5: cd cf 1b    ...
	db	'   WAIT'
L1bcf:	call	L75e5		;; 1bcf: cd e5 75    ..u
	db	7
	ld	hl,0ff83h	;; 1bd3: 21 83 ff    ...
	rst2			;; 1bd6: d7          .
	ld	a,037h		;; 1bd7: 3e 37       >7
	call	L8b81		;; 1bd9: cd 81 8b    ...
L1bdc:	ld	hl,0ff83h	;; 1bdc: 21 83 ff    ...
	rst2			;; 1bdf: d7          .
	call	L75ea		;; 1be0: cd ea 75    ..u
	ld	a,037h		;; 1be3: 3e 37       >7
	call	L8bb0		;; 1be5: cd b0 8b    ...
	call	L0803		;; 1be8: cd 03 08    ...
	call	L1bf5		;; 1beb: cd f5 1b    ...
	db	' Free ='
L1bf5:	call	L75e5		;; 1bf5: cd e5 75    ..u
	db	7
	ld	a,037h		;; 1bf9: 3e 37       >7
	call	L8bb0		;; 1bfb: cd b0 8b    ...
	call	L0803		;; 1bfe: cd 03 08    ...
	call	L0977		;; 1c01: cd 77 09    .w.
	call	L1ae6		;; 1c04: cd e6 1a    ...
	jp	L8d56		;; 1c07: c3 56 8d    .V.

L1c0a:	db	0
L1c0b:	db	0
L1c0c:	db	0
L1c0d:	db	0
L1c0e:	db	0
L1c0f:	db	0
L1c10:	db	0
L1c11:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0
L1c53:	db	0
L1c54:	db	0
L1c55:	db	0
L1c56:	db	0,0
L1c58:	db	0
L1c59:	db	0
L1c5a:	db	0
L1c5b:	db	0
L1c5c:	db	0
L1c5d:	db	0
L1c5e:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0
L1c90:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0
L1cc2:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0
L1cf4:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0
L1d26:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0
L1d3f:	db	0
L1d40:	db	0
L1d41:	db	0,0
L1d43:	db	0,0
L1d45:	db	0
L1d46:	db	0
L1d47:	db	0
L1d48:	db	0
L1d49:	db	0
L1d4a:	db	0,0
L1d4c:	db	0,0,0,0
L1d50:	db	0
L1d51:	db	0
L1d52:	db	0,0
L1d54:	db	0
L1d55:	db	0
L1d56:	db	0
L1d57:	db	0
L1d58:	db	0,0
L1d5a:	db	0,0
L1d5c:	db	0
L1d5d:	call	L8d27		;; 1d5d: cd 27 8d    .'.
	db	0,8
	ld	a,(ix-125)	;; 1d62: dd 7e 83    .~.
	ld	(L02e1),a	;; 1d65: 32 e1 02    2..
	ld	a,(L02ea)	;; 1d68: 3a ea 02    :..
	or	a,a		;; 1d6b: b7          .
	jr	nz,L1d73	;; 1d6c: 20 05        .
	ld	hl,L02ea	;; 1d6e: 21 ea 02    ...
	ld	(hl),001h	;; 1d71: 36 01       6.
L1d73:	ld	a,(L02ea)	;; 1d73: 3a ea 02    :..
	dec	a		;; 1d76: 3d          =
	ld	b,a		;; 1d77: 47          G
	ld	a,(L02e9)	;; 1d78: 3a e9 02    :..
	cp	a,b		;; 1d7b: b8          .
	jr	nc,L1d85	;; 1d7c: 30 07       0.
	ld	a,(L02ea)	;; 1d7e: 3a ea 02    :..
	dec	a		;; 1d81: 3d          =
	ld	(L02e9),a	;; 1d82: 32 e9 02    2..
L1d85:	ld	a,(L02e9)	;; 1d85: 3a e9 02    :..
	inc	a		;; 1d88: 3c          <
	ld	b,a		;; 1d89: 47          G
	ld	a,(L02e8)	;; 1d8a: 3a e8 02    :..
	cp	a,b		;; 1d8d: b8          .
	jr	nc,L1d97	;; 1d8e: 30 07       0.
	ld	a,(L02e9)	;; 1d90: 3a e9 02    :..
	inc	a		;; 1d93: 3c          <
	ld	(L02e8),a	;; 1d94: 32 e8 02    2..
L1d97:	ld	a,(L02e8)	;; 1d97: 3a e8 02    :..
	dec	a		;; 1d9a: 3d          =
	ld	b,a		;; 1d9b: 47          G
	ld	a,(L02e7)	;; 1d9c: 3a e7 02    :..
	cp	a,b		;; 1d9f: b8          .
	jr	nc,L1da9	;; 1da0: 30 07       0.
	ld	a,(L02e8)	;; 1da2: 3a e8 02    :..
	dec	a		;; 1da5: 3d          =
	ld	(L02e7),a	;; 1da6: 32 e7 02    2..
L1da9:	ld	a,(ix-125)	;; 1da9: dd 7e 83    .~.
	call	L1dcb		;; 1dac: cd cb 1d    ...
L1daf:	ld	a,(L02ea)	;; 1daf: 3a ea 02    :..
	ld	(L02e6),a	;; 1db2: 32 e6 02    2..
	ld	a,(L02e9)	;; 1db5: 3a e9 02    :..
	ld	(L02e5),a	;; 1db8: 32 e5 02    2..
	jr	L1dd7		;; 1dbb: 18 1a       ..

L1dbd:	ld	a,(L02e8)	;; 1dbd: 3a e8 02    :..
	ld	(L02e6),a	;; 1dc0: 32 e6 02    2..
	ld	a,(L02e7)	;; 1dc3: 3a e7 02    :..
	ld	(L02e5),a	;; 1dc6: 32 e5 02    2..
	jr	L1dd7		;; 1dc9: 18 0c       ..

L1dcb:	ld	bc,00102h	;; 1dcb: 01 02 01    ...
	call	L8d90		;; 1dce: cd 90 8d    ...
	dw	L1daf
	dw	L1dbd
	dw	L8e06
L1dd7:	jp	L8d56		;; 1dd7: c3 56 8d    .V.

L1dda:	call	L8d27		;; 1dda: cd 27 8d    .'.
	db	0,6
	ld	a,(L02e6)	;; 1ddf: 3a e6 02    :..
	push	af		;; 1de2: f5          .
	call	L0953		;; 1de3: cd 53 09    .S.
	jp	L8d56		;; 1de6: c3 56 8d    .V.

L1de9:	call	L8d27		;; 1de9: cd 27 8d    .'.
	db	0ffh,9
	ld	a,(ix-124)	;; 1dee: dd 7e 84    .~.
	ld	(ix-126),a	;; 1df1: dd 77 82    .w.
	ld	a,(ix-124)	;; 1df4: dd 7e 84    .~.
	or	a,a		;; 1df7: b7          .
	jr	z,L1e2c		;; 1df8: 28 32       (2
	ld	a,01fh		;; 1dfa: 3e 1f       >.
	cp	a,(ix-124)	;; 1dfc: dd be 84    ...
	jr	c,L1e0b		;; 1dff: 38 0a       8.
	ld	a,(ix-124)	;; 1e01: dd 7e 84    .~.
	add	a,040h		;; 1e04: c6 40       .@
	ld	(ix-126),a	;; 1e06: dd 77 82    .w.
	jr	L1e2c		;; 1e09: 18 21       ..

L1e0b:	ld	a,(ix-124)	;; 1e0b: dd 7e 84    .~.
	cp	a,061h		;; 1e0e: fe 61       .a
	ld	a,000h		;; 1e10: 3e 00       >.
	ccf			;; 1e12: 3f          ?
	rla			;; 1e13: 17          .
	push	af		;; 1e14: f5          .
	ld	a,07ah		;; 1e15: 3e 7a       >z
	cp	a,(ix-124)	;; 1e17: dd be 84    ...
	ld	a,000h		;; 1e1a: 3e 00       >.
	ccf			;; 1e1c: 3f          ?
	rla			;; 1e1d: 17          .
	ld	b,a		;; 1e1e: 47          G
	pop	af		;; 1e1f: f1          .
	and	a,b		;; 1e20: a0          .
	rra			;; 1e21: 1f          .
	jr	nc,L1e2c	;; 1e22: 30 08       0.
	ld	a,(ix-124)	;; 1e24: dd 7e 84    .~.
	add	a,0e0h		;; 1e27: c6 e0       ..
	ld	(ix-126),a	;; 1e29: dd 77 82    .w.
L1e2c:	ld	a,(ix-126)	;; 1e2c: dd 7e 82    .~.
	jp	L8d56		;; 1e2f: c3 56 8d    .V.

L1e32:	call	L8d27		;; 1e32: cd 27 8d    .'.
	db	0,6
	ld	a,(L02e2)	;; 1e37: 3a e2 02    :..
	push	af		;; 1e3a: f5          .
	call	L0953		;; 1e3b: cd 53 09    .S.
	jp	L8d56		;; 1e3e: c3 56 8d    .V.

L1e41:	call	L8d27		;; 1e41: cd 27 8d    .'.
	db	0fch,0ah
	ld	a,(L017e)	;; 1e46: 3a 7e 01    :~.
	push	af		;; 1e49: f5          .
	ld	a,080h		;; 1e4a: 3e 80       >.
	call	L8a08		;; 1e4c: cd 08 8a    ...
	rst4			;; 1e4f: e7          .
	db	87h
	call	L8c3a		;; 1e51: cd 3a 8c    .:.
	db	82h
L1e55:	ld	hl,L1785	;; 1e55: 21 85 17    ...
	push	hl		;; 1e58: e5          .
	call	L0f25		;; 1e59: cd 25 0f    .%.
	call	L8c26		;; 1e5c: cd 26 8c    .&.
	db	82h
	ld	a,h		;; 1e60: 7c          |
	or	a,l		;; 1e61: b5          .
	or	a,b		;; 1e62: b0          .
	or	a,c		;; 1e63: b1          .
	jr	nz,L1e6d	;; 1e64: 20 07        .
	ld	a,(L1786)	;; 1e66: 3a 86 17    :..
	push	af		;; 1e69: f5          .
	call	L50de		;; 1e6a: cd de 50    ..P
L1e6d:	call	L8c26		;; 1e6d: cd 26 8c    .&.
	db	82h
	call	L885c		;; 1e71: cd 5c 88    .\.
	call	L8c3a		;; 1e74: cd 3a 8c    .:.
	db	82h
	ld	a,(L1785)	;; 1e78: 3a 85 17    :..
	or	a,a		;; 1e7b: b7          .
	jr	z,L1e55		;; 1e7c: 28 d7       (.
	ld	a,(L1785)	;; 1e7e: 3a 85 17    :..
	push	af		;; 1e81: f5          .
	call	L1de9		;; 1e82: cd e9 1d    ...
	ld	(L1785),a	;; 1e85: 32 85 17    2..
	call	L1a30		;; 1e88: cd 30 1a    .0.
	jp	L8d56		;; 1e8b: c3 56 8d    .V.

L1e8e:	call	L8d27		;; 1e8e: cd 27 8d    .'.
	db	0,6
	ld	hl,L1c5c	;; 1e93: 21 5c 1c    .\.
	push	hl		;; 1e96: e5          .
	call	L0f82		;; 1e97: cd 82 0f    ...
	jp	L8d56		;; 1e9a: c3 56 8d    .V.

L1e9d:	call	L8d27		;; 1e9d: cd 27 8d    .'.
	db	0,6
	ld	a,(L1c5c)	;; 1ea2: 3a 5c 1c    :\.
	push	af		;; 1ea5: f5          .
	call	L0597		;; 1ea6: cd 97 05    ...
	jp	L8d56		;; 1ea9: c3 56 8d    .V.

L1eac:	call	L8d27		;; 1eac: cd 27 8d    .'.
	db	0,6
	ld	a,(L0295)	;; 1eb1: 3a 95 02    :..
	push	af		;; 1eb4: f5          .
	call	L0414		;; 1eb5: cd 14 04    ...
	ld	a,(L02ee)	;; 1eb8: 3a ee 02    :..
	dec	a		;; 1ebb: 3d          =
	ld	(L02ee),a	;; 1ebc: 32 ee 02    2..
	call	L0799		;; 1ebf: cd 99 07    ...
	ld	a,(L0295)	;; 1ec2: 3a 95 02    :..
	push	af		;; 1ec5: f5          .
	call	L0414		;; 1ec6: cd 14 04    ...
	ld	a,(L02ee)	;; 1ec9: 3a ee 02    :..
	dec	a		;; 1ecc: 3d          =
	ld	(L02ee),a	;; 1ecd: 32 ee 02    2..
	jp	L8d56		;; 1ed0: c3 56 8d    .V.

L1ed3:	call	L8d27		;; 1ed3: cd 27 8d    .'.
	db	0ffh,9
	ld	a,(ix-124)	;; 1ed8: dd 7e 84    .~.
	add	a,002h		;; 1edb: c6 02       ..
	ld	(ix-126),a	;; 1edd: dd 77 82    .w.
	ld	a,001h		;; 1ee0: 3e 01       >.
	push	af		;; 1ee2: f5          .
	ld	a,(ix-126)	;; 1ee3: dd 7e 82    .~.
	push	af		;; 1ee6: f5          .
	call	L0a65		;; 1ee7: cd 65 0a    .e.
	ld	a,(L1c5b)	;; 1eea: 3a 5b 1c    :[.
	cp	a,(ix-126)	;; 1eed: dd be 82    ...
	jr	nc,L1ef8	;; 1ef0: 30 06       0.
	ld	a,(ix-126)	;; 1ef2: dd 7e 82    .~.
	ld	(L1c5b),a	;; 1ef5: 32 5b 1c    2[.
L1ef8:	ld	a,(ix-126)	;; 1ef8: dd 7e 82    .~.
	ld	hl,L1d57	;; 1efb: 21 57 1d    .W.
	cp	a,(hl)		;; 1efe: be          .
	jr	c,L1f06		;; 1eff: 38 05       8.
	ld	hl,L1d57	;; 1f01: 21 57 1d    .W.
	ld	(hl),000h	;; 1f04: 36 00       6.
L1f06:	ld	a,002h		;; 1f06: 3e 02       >.
	push	af		;; 1f08: f5          .
	ld	a,003h		;; 1f09: 3e 03       >.
	push	af		;; 1f0b: f5          .
	call	L0889		;; 1f0c: cd 89 08    ...
	jp	L8d56		;; 1f0f: c3 56 8d    .V.

L1f12:	call	L8d27		;; 1f12: cd 27 8d    .'.
	db	0f1h,19h
	ld	a,001h		;; 1f17: 3e 01       >.
	push	af		;; 1f19: f5          .
	call	L1ed3		;; 1f1a: cd d3 1e    ...
	ld	a,(ix-108)	;; 1f1d: dd 7e 94    .~.
	push	af		;; 1f20: f5          .
	call	L1762		;; 1f21: cd 62 17    .b.
	call	L0799		;; 1f24: cd 99 07    ...
	ld	a,05bh		;; 1f27: 3e 5b       >[
	push	af		;; 1f29: f5          .
	call	L0597		;; 1f2a: cd 97 05    ...
	rst3			;; 1f2d: df          .
	db	91h
	push	hl		;; 1f2f: e5          .
	call	L5428		;; 1f30: cd 28 54    .(T
	ld	a,05dh		;; 1f33: 3e 5d       >]
	push	af		;; 1f35: f5          .
	call	L0597		;; 1f36: cd 97 05    ...
	call	L0799		;; 1f39: cd 99 07    ...
	ld	a,03fh		;; 1f3c: 3e 3f       >?
	push	af		;; 1f3e: f5          .
	call	L0597		;; 1f3f: cd 97 05    ...
	call	L0799		;; 1f42: cd 99 07    ...
	ld	hl,00000h	;; 1f45: 21 00 00    ...
	rst3			;; 1f48: df          .
	db	2
	ld	(ix-124),001h	;; 1f4a: dd 36 84 01 .6..
L1f4e:	call	L1e8e		;; 1f4e: cd 8e 1e    ...
	ld	l,(ix-124)	;; 1f51: dd 6e 84    .n.
	ld	h,000h		;; 1f54: 26 00       &.
	rst2			;; 1f56: d7          .
	ld	de,0ff84h	;; 1f57: 11 84 ff    ...
	add	hl,de		;; 1f5a: 19          .
	push	hl		;; 1f5b: e5          .
	ld	a,(L1c5c)	;; 1f5c: 3a 5c 1c    :\.
	pop	hl		;; 1f5f: e1          .
	ld	(hl),a		;; 1f60: 77          w
	ld	a,(L1c5c)	;; 1f61: 3a 5c 1c    :\.
	cp	a,008h		;; 1f64: fe 08       ..
	jr	nz,L1f86	;; 1f66: 20 1e        .
	ld	a,001h		;; 1f68: 3e 01       >.
	cp	a,(ix-124)	;; 1f6a: dd be 84    ...
	jr	nc,L1f84	;; 1f6d: 30 15       0.
	call	L1eac		;; 1f6f: cd ac 1e    ...
	ld	a,(ix-124)	;; 1f72: dd 7e 84    .~.
	dec	a		;; 1f75: 3d          =
	ld	(ix-124),a	;; 1f76: dd 77 84    .w.
	rst3			;; 1f79: df          .
	db	82h
	push	hl		;; 1f7b: e5          .
	ld	hl,00010h	;; 1f7c: 21 10 00    ...
	call	L8758		;; 1f7f: cd 58 87    .X.
	rst3			;; 1f82: df          .
	db	2
L1f84:	jr	L1fca		;; 1f84: 18 44       .D

L1f86:	ld	a,(L1c5c)	;; 1f86: 3a 5c 1c    :\.
	push	af		;; 1f89: f5          .
	ld	hl,L1c5d	;; 1f8a: 21 5d 1c    .].
	push	hl		;; 1f8d: e5          .
	call	L19c8		;; 1f8e: cd c8 19    ...
	rra			;; 1f91: 1f          .
	jr	nc,L1fb3	;; 1f92: 30 1f       0.
	rst3			;; 1f94: df          .
	db	82h
	push	hl		;; 1f96: e5          .
	ld	hl,00010h	;; 1f97: 21 10 00    ...
	call	L87b7		;; 1f9a: cd b7 87    ...
	push	hl		;; 1f9d: e5          .
	push	bc		;; 1f9e: c5          .
	ld	a,(L1c5d)	;; 1f9f: 3a 5d 1c    :].
	call	L8807		;; 1fa2: cd 07 88    ...
	call	L87e7		;; 1fa5: cd e7 87    ...
	ld	h,b		;; 1fa8: 60          `
	ld	l,c		;; 1fa9: 69          i
	rst3			;; 1faa: df          .
	db	2
	rst3			;; 1fac: df          .
	db	0fh
	call	L1e9d		;; 1fae: cd 9d 1e    ...
	jr	L1fca		;; 1fb1: 18 17       ..

L1fb3:	ld	a,(L1c5c)	;; 1fb3: 3a 5c 1c    :\.
	cp	a,00dh		;; 1fb6: fe 0d       ..
	jr	nz,L1fc7	;; 1fb8: 20 0d        .
	ld	a,(ix-124)	;; 1fba: dd 7e 84    .~.
	cp	a,001h		;; 1fbd: fe 01       ..
	jr	nz,L1fc5	;; 1fbf: 20 04        .
	rst3			;; 1fc1: df          .
	db	91h
	rst3			;; 1fc3: df          .
	db	0fh
L1fc5:	jr	L1fca		;; 1fc5: 18 03       ..

L1fc7:	call	L0a8f		;; 1fc7: cd 8f 0a    ...
L1fca:	ld	a,(ix-124)	;; 1fca: dd 7e 84    .~.
	inc	a		;; 1fcd: 3c          <
	ld	(ix-124),a	;; 1fce: dd 77 84    .w.
	ld	a,(L1c5c)	;; 1fd1: 3a 5c 1c    :\.
	cp	a,00dh		;; 1fd4: fe 0d       ..
	call	L8c09		;; 1fd6: cd 09 8c    ...
	push	af		;; 1fd9: f5          .
	ld	a,(ix-124)	;; 1fda: dd 7e 84    .~.
	cp	a,00ah		;; 1fdd: fe 0a       ..
	ld	a,000h		;; 1fdf: 3e 00       >.
	ccf			;; 1fe1: 3f          ?
	rla			;; 1fe2: 17          .
	ld	b,a		;; 1fe3: 47          G
	pop	af		;; 1fe4: f1          .
	or	a,b		;; 1fe5: b0          .
	ld	hl,L02f0	;; 1fe6: 21 f0 02    ...
	or	a,(hl)		;; 1fe9: b6          .
	rra			;; 1fea: 1f          .
	jp	nc,L1f4e	;; 1feb: d2 4e 1f    .N.
	call	L0977		;; 1fee: cd 77 09    .w.
	call	L0965		;; 1ff1: cd 65 09    .e.
	rst3			;; 1ff4: df          .
	db	8fh
	jp	L8d56		;; 1ff6: c3 56 8d    .V.

L1ff9:	call	L8d27		;; 1ff9: cd 27 8d    .'.
	db	0fbh,0bh
	ld	a,(L017d)	;; 1ffe: 3a 7d 01    :}.
	push	af		;; 2001: f5          .
	ld	a,008h		;; 2002: 3e 08       >.
	call	L8a08		;; 2004: cd 08 8a    ...
	rst4			;; 2007: e7          .
	db	87h
	call	L8c3a		;; 2009: cd 3a 8c    .:.
	db	83h
L200d:	call	L0496		;; 200d: cd 96 04    ...
	ld	(ix-126),a	;; 2010: dd 77 82    .w.
	call	L8c26		;; 2013: cd 26 8c    .&.
	db	83h
	call	L885c		;; 2017: cd 5c 88    .\.
	call	L8c3a		;; 201a: cd 3a 8c    .:.
	db	83h
	ld	a,h		;; 201e: 7c          |
	or	a,l		;; 201f: b5          .
	or	a,b		;; 2020: b0          .
	or	a,c		;; 2021: b1          .
	jr	nz,L200d	;; 2022: 20 e9        .
	jp	L8d56		;; 2024: c3 56 8d    .V.

L2027:	call	L8d27		;; 2027: cd 27 8d    .'.
	db	0ffh,7
	ld	a,000h		;; 202c: 3e 00       >.
	push	af		;; 202e: f5          .
	ld	bc,0fff7h	;; 202f: 01 f7 ff    ...
	ld	a,(L02ef)	;; 2032: 3a ef 02    :..
	ld	l,a		;; 2035: 6f          o
	ld	h,000h		;; 2036: 26 00       &.
	add	hl,bc		;; 2038: 09          .
	ld	a,l		;; 2039: 7d          }
	push	af		;; 203a: f5          .
	call	L0889		;; 203b: cd 89 08    ...
	ld	a,00ah		;; 203e: 3e 0a       >.
	push	af		;; 2040: f5          .
	call	L1762		;; 2041: cd 62 17    .b.
	call	L0977		;; 2044: cd 77 09    .w.
L2047:	call	L1dda		;; 2047: cd da 1d    ...
	call	L1ff9		;; 204a: cd f9 1f    ...
	ld	a,000h		;; 204d: 3e 00       >.
	push	af		;; 204f: f5          .
	ld	bc,0fffch	;; 2050: 01 fc ff    ...
	ld	a,(L02ef)	;; 2053: 3a ef 02    :..
	ld	l,a		;; 2056: 6f          o
	ld	h,000h		;; 2057: 26 00       &.
	add	hl,bc		;; 2059: 09          .
	ld	a,l		;; 205a: 7d          }
	push	af		;; 205b: f5          .
	call	L0889		;; 205c: cd 89 08    ...
	call	L1ff9		;; 205f: cd f9 1f    ...
	ld	hl,L1c5c	;; 2062: 21 5c 1c    .\.
	push	hl		;; 2065: e5          .
	call	L0f25		;; 2066: cd 25 0f    .%.
	ld	a,(L1c5c)	;; 2069: 3a 5c 1c    :\.
	push	af		;; 206c: f5          .
	call	L1de9		;; 206d: cd e9 1d    ...
	ld	(L1c5c),a	;; 2070: 32 5c 1c    2\.
	push	af		;; 2073: f5          .
	call	L75c9		;; 2074: cd c9 75    ..u
	db	0ch,0,0,0,0,0,0,0,0,0,'@',0,2
	call	L7450		;; 2084: cd 50 74    .Pt
	jr	z,L208e		;; 2087: 28 05       (.
	call	L1e9d		;; 2089: cd 9d 1e    ...
	jr	L209c		;; 208c: 18 0e       ..

L208e:	ld	a,(L1c5c)	;; 208e: 3a 5c 1c    :\.
	or	a,a		;; 2091: b7          .
	jr	z,L209c		;; 2092: 28 08       (.
	call	L0a8f		;; 2094: cd 8f 0a    ...
	ld	hl,L1c5c	;; 2097: 21 5c 1c    .\.
	ld	(hl),000h	;; 209a: 36 00       6.
L209c:	ld	a,(L1c5c)	;; 209c: 3a 5c 1c    :\.
	or	a,a		;; 209f: b7          .
	call	L8c0e		;; 20a0: cd 0e 8c    ...
	ld	hl,L02f0	;; 20a3: 21 f0 02    ...
	or	a,(hl)		;; 20a6: b6          .
	rra			;; 20a7: 1f          .
	jr	nc,L2047	;; 20a8: 30 9d       0.
	ld	a,(L1c5c)	;; 20aa: 3a 5c 1c    :\.
	cp	a,059h		;; 20ad: fe 59       .Y
	call	L8c09		;; 20af: cd 09 8c    ...
	ld	(ix-126),a	;; 20b2: dd 77 82    .w.
	jp	L8d56		;; 20b5: c3 56 8d    .V.

L20b8:	call	L8d27		;; 20b8: cd 27 8d    .'.
	db	0ffh,9
	ld	a,(ix-124)	;; 20bd: dd 7e 84    .~.
	cp	a,020h		;; 20c0: fe 20       . 
	ld	a,000h		;; 20c2: 3e 00       >.
	ccf			;; 20c4: 3f          ?
	rla			;; 20c5: 17          .
	push	af		;; 20c6: f5          .
	ld	a,07dh		;; 20c7: 3e 7d       >}
	cp	a,(ix-124)	;; 20c9: dd be 84    ...
	ld	a,000h		;; 20cc: 3e 00       >.
	ccf			;; 20ce: 3f          ?
	rla			;; 20cf: 17          .
	ld	b,a		;; 20d0: 47          G
	pop	af		;; 20d1: f1          .
	and	a,b		;; 20d2: a0          .
	push	af		;; 20d3: f5          .
	ld	a,(ix-124)	;; 20d4: dd 7e 84    .~.
	cp	a,027h		;; 20d7: fe 27       .'
	call	L8c0e		;; 20d9: cd 0e 8c    ...
	ld	b,a		;; 20dc: 47          G
	pop	af		;; 20dd: f1          .
	and	a,b		;; 20de: a0          .
	ld	(ix-126),a	;; 20df: dd 77 82    .w.
	jp	L8d56		;; 20e2: c3 56 8d    .V.

L20e5:	call	L8d27		;; 20e5: cd 27 8d    .'.
	db	0,0ah
	ld	a,001h		;; 20ea: 3e 01       >.
	cp	a,(ix-125)	;; 20ec: dd be 83    ...
	jr	nc,L20ff	;; 20ef: 30 0e       0.
	ld	a,(ix-123)	;; 20f1: dd 7e 85    .~.
	srl	a		;; 20f4: cb 3f       .?
	push	af		;; 20f6: f5          .
	ld	a,(ix-125)	;; 20f7: dd 7e 83    .~.
	dec	a		;; 20fa: 3d          =
	push	af		;; 20fb: f5          .
	call	L20e5		;; 20fc: cd e5 20    .. 
L20ff:	ld	a,(ix-123)	;; 20ff: dd 7e 85    .~.
	and	a,001h		;; 2102: e6 01       ..
	add	a,030h		;; 2104: c6 30       .0
	push	af		;; 2106: f5          .
	call	L0597		;; 2107: cd 97 05    ...
	jp	L8d56		;; 210a: c3 56 8d    .V.

L210d:	call	L8d27		;; 210d: cd 27 8d    .'.
	db	0,8
	ld	a,(L1c0d)	;; 2112: 3a 0d 1c    :..
	cp	a,044h		;; 2115: fe 44       .D
	jr	nz,L2122	;; 2117: 20 09        .
	ld	a,(ix-125)	;; 2119: dd 7e 83    .~.
	push	af		;; 211c: f5          .
	call	L07a7		;; 211d: cd a7 07    ...
	jr	L2143		;; 2120: 18 21       ..

L2122:	ld	a,(L1c0d)	;; 2122: 3a 0d 1c    :..
	cp	a,032h		;; 2125: fe 32       .2
	jr	nz,L213c	;; 2127: 20 13        .
	ld	a,(ix-125)	;; 2129: dd 7e 83    .~.
	push	af		;; 212c: f5          .
	ld	a,008h		;; 212d: 3e 08       >.
	push	af		;; 212f: f5          .
	call	L20e5		;; 2130: cd e5 20    .. 
	ld	a,(L01af)	;; 2133: 3a af 01    :..
	push	af		;; 2136: f5          .
	call	L0597		;; 2137: cd 97 05    ...
	jr	L2143		;; 213a: 18 07       ..

L213c:	ld	a,(ix-125)	;; 213c: dd 7e 83    .~.
	push	af		;; 213f: f5          .
	call	L538e		;; 2140: cd 8e 53    ..S
L2143:	jp	L8d56		;; 2143: c3 56 8d    .V.

L2146:	call	L8d27		;; 2146: cd 27 8d    .'.
	db	0,8
	ld	a,(L1c0d)	;; 214b: 3a 0d 1c    :..
	cp	a,044h		;; 214e: fe 44       .D
	jr	nz,L215a	;; 2150: 20 08        .
	rst3			;; 2152: df          .
	db	82h
	push	hl		;; 2154: e5          .
	call	L07d2		;; 2155: cd d2 07    ...
	jr	L2160		;; 2158: 18 06       ..

L215a:	rst3			;; 215a: df          .
	db	82h
	push	hl		;; 215c: e5          .
	call	L53c1		;; 215d: cd c1 53    ..S
L2160:	jp	L8d56		;; 2160: c3 56 8d    .V.

L2163:	call	L8d27		;; 2163: cd 27 8d    .'.
	db	0,6
	ld	a,(L1d5c)	;; 2168: 3a 5c 1d    :\.
	rra			;; 216b: 1f          .
	jr	nc,L2178	;; 216c: 30 0a       0.
	ld	hl,L1d5c	;; 216e: 21 5c 1d    .\.
	ld	(hl),000h	;; 2171: 36 00       6.
	ld	hl,L1c0f	;; 2173: 21 0f 1c    ...
	ld	(hl),049h	;; 2176: 36 49       6I
L2178:	jp	L8d56		;; 2178: c3 56 8d    .V.

L217b:	call	L8d27		;; 217b: cd 27 8d    .'.
	db	0f2h,16h
	ld	a,001h		;; 2180: 3e 01       >.
	push	af		;; 2182: f5          .
	call	L0d9b		;; 2183: cd 9b 0d    ...
	ld	a,(L1c0f)	;; 2186: 3a 0f 1c    :..
	ld	(ix-125),a	;; 2189: dd 77 83    .w.
	push	af		;; 218c: f5          .
	call	L75c9		;; 218d: cd c9 75    ..u
	db	8,0,0,0,0,0,0,0feh,3
	call	L7450		;; 2199: cd 50 74    .Pt
	jr	z,L21a2		;; 219c: 28 04       (.
	ld	(ix-125),042h	;; 219e: dd 36 83 42 .6.B
L21a2:	ld	a,(ix-125)	;; 21a2: dd 7e 83    .~.
	call	L252d		;; 21a5: cd 2d 25    .-%
L21a8:	rst3			;; 21a8: df          .
	db	90h
	rst4			;; 21aa: e7          .
	db	80h
	rst4			;; 21ac: e7          .
	db	87h
	push	hl		;; 21ae: e5          .
	push	bc		;; 21af: c5          .
	ld	hl,(L1d52)	;; 21b0: 2a 52 1d    *R.
	rst4			;; 21b3: e7          .
	db	87h
	call	L87f6		;; 21b5: cd f6 87    ...
	push	hl		;; 21b8: e5          .
	push	bc		;; 21b9: c5          .
	ld	a,(L1d54)	;; 21ba: 3a 54 1d    :T.
	rst4			;; 21bd: e7          .
	db	86h
	call	L855b		;; 21bf: cd 5b 85    .[.
	ld	a,h		;; 21c2: 7c          |
	or	a,l		;; 21c3: b5          .
	or	a,b		;; 21c4: b0          .
	or	a,c		;; 21c5: b1          .
	jr	z,L21cf		;; 21c6: 28 07       (.
	ld	(ix-125),04ch	;; 21c8: dd 36 83 4c .6.L
	jp	L2461		;; 21cc: c3 61 24    .a$

L21cf:	ld	(ix-116),001h	;; 21cf: dd 36 8c 01 .6..
	ld	a,(ix-125)	;; 21d3: dd 7e 83    .~.
	cp	a,054h		;; 21d6: fe 54       .T
	jr	nz,L21dc	;; 21d8: 20 02        .
	jr	L21e6		;; 21da: 18 0a       ..

L21dc:	jp	L2461		;; 21dc: c3 61 24    .a$

	jp	L2549		;; 21df: c3 49 25    .I%

L21e2:	ld	(ix-116),000h	;; 21e2: dd 36 8c 00 .6..
L21e6:	ld	(ix-113),000h	;; 21e6: dd 36 8f 00 .6..
	ld	(ix-115),000h	;; 21ea: dd 36 8d 00 .6..
	ld	(ix-114),000h	;; 21ee: dd 36 8e 00 .6..
	ld	hl,L01a8	;; 21f2: 21 a8 01    ...
	call	L75ea		;; 21f5: cd ea 75    ..u
	ld	a,037h		;; 21f8: 3e 37       >7
	call	L8bb0		;; 21fa: cd b0 8b    ...
	call	L0803		;; 21fd: cd 03 08    ...
	ld	a,042h		;; 2200: 3e 42       >B
	push	af		;; 2202: f5          .
	call	L0597		;; 2203: cd 97 05    ...
	ld	a,(L02ee)	;; 2206: 3a ee 02    :..
	ld	(ix-123),a	;; 2209: dd 77 85    .w.
	ld	a,002h		;; 220c: 3e 02       >.
	push	af		;; 220e: f5          .
	call	L0d9b		;; 220f: cd 9b 0d    ...
	rst3			;; 2212: df          .
	db	90h
	rst4			;; 2214: e7          .
	db	80h
	push	hl		;; 2216: e5          .
	call	L1355		;; 2217: cd 55 13    .U.
	ld	(ix-117),a	;; 221a: dd 77 8b    .w.
L221d:	ld	a,(ix-117)	;; 221d: dd 7e 8b    .~.
	ld	(ix-118),a	;; 2220: dd 77 8a    .w.
	ld	a,(L1c0f)	;; 2223: 3a 0f 1c    :..
	cp	a,043h		;; 2226: fe 43       .C
	jr	nz,L2232	;; 2228: 20 08        .
	ld	a,(ix-117)	;; 222a: dd 7e 8b    .~.
	and	a,07fh		;; 222d: e6 7f       ..
	ld	(ix-118),a	;; 222f: dd 77 8a    .w.
L2232:	ld	a,(ix-118)	;; 2232: dd 7e 8a    .~.
	push	af		;; 2235: f5          .
	call	L20b8		;; 2236: cd b8 20    .. 
	push	af		;; 2239: f5          .
	ld	a,(L1c0e)	;; 223a: 3a 0e 1c    :..
	cp	a,04dh		;; 223d: fe 4d       .M
	call	L8c09		;; 223f: cd 09 8c    ...
	ld	b,a		;; 2242: 47          G
	pop	af		;; 2243: f1          .
	and	a,b		;; 2244: a0          .
	rra			;; 2245: 1f          .
	jr	nc,L227b	;; 2246: 30 33       03
	ld	a,(ix-113)	;; 2248: dd 7e 8f    .~.
	or	a,a		;; 224b: b7          .
	jr	nz,L2258	;; 224c: 20 0a        .
	ld	a,027h		;; 224e: 3e 27       >'
	push	af		;; 2250: f5          .
	call	L0597		;; 2251: cd 97 05    ...
	ld	(ix-115),001h	;; 2254: dd 36 8d 01 .6..
L2258:	ld	a,(ix-118)	;; 2258: dd 7e 8a    .~.
	push	af		;; 225b: f5          .
	call	L0597		;; 225c: cd 97 05    ...
	ld	a,(ix-118)	;; 225f: dd 7e 8a    .~.
	cp	a,024h		;; 2262: fe 24       .$
	jr	nz,L226a	;; 2264: 20 04        .
	ld	(ix-116),001h	;; 2266: dd 36 8c 01 .6..
L226a:	ld	a,(ix-117)	;; 226a: dd 7e 8b    .~.
	cp	a,080h		;; 226d: fe 80       ..
	jr	c,L2279		;; 226f: 38 08       8.
	ld	(ix-114),001h	;; 2271: dd 36 8e 01 .6..
	ld	(ix-116),001h	;; 2275: dd 36 8c 01 .6..
L2279:	jr	L22b4		;; 2279: 18 39       .9

L227b:	ld	a,(ix-113)	;; 227b: dd 7e 8f    .~.
	or	a,a		;; 227e: b7          .
	jr	z,L2287		;; 227f: 28 06       (.
	ld	a,02ch		;; 2281: 3e 2c       >,
	push	af		;; 2283: f5          .
	call	L0597		;; 2284: cd 97 05    ...
L2287:	ld	a,(ix-117)	;; 2287: dd 7e 8b    .~.
	push	af		;; 228a: f5          .
	call	L210d		;; 228b: cd 0d 21    ...
	ld	a,(ix-117)	;; 228e: dd 7e 8b    .~.
	or	a,a		;; 2291: b7          .
	jr	nz,L22b4	;; 2292: 20 20         
	ld	a,(L1c0e)	;; 2294: 3a 0e 1c    :..
	cp	a,04dh		;; 2297: fe 4d       .M
	call	L8c09		;; 2299: cd 09 8c    ...
	push	af		;; 229c: f5          .
	rst3			;; 229d: df          .
	db	90h
	rst4			;; 229f: e7          .
	db	80h
	dec	hl		;; 22a1: 2b          +
	push	hl		;; 22a2: e5          .
	call	L1355		;; 22a3: cd 55 13    .U.
	push	af		;; 22a6: f5          .
	call	L20b8		;; 22a7: cd b8 20    .. 
	ld	b,a		;; 22aa: 47          G
	pop	af		;; 22ab: f1          .
	and	a,b		;; 22ac: a0          .
	rra			;; 22ad: 1f          .
	jr	nc,L22b4	;; 22ae: 30 04       0.
	ld	(ix-116),001h	;; 22b0: dd 36 8c 01 .6..
L22b4:	ld	a,(ix-113)	;; 22b4: dd 7e 8f    .~.
	inc	a		;; 22b7: 3c          <
	ld	(ix-113),a	;; 22b8: dd 77 8f    .w.
	rst3			;; 22bb: df          .
	db	90h
	push	hl		;; 22bd: e5          .
	rst3			;; 22be: df          .
	db	90h
	rst4			;; 22c0: e7          .
	db	80h
	inc	hl		;; 22c2: 23          #
	rst4			;; 22c3: e7          .
	db	81h
	ld	a,(ix-117)	;; 22c5: dd 7e 8b    .~.
	ld	(ix-126),a	;; 22c8: dd 77 82    .w.
	rst3			;; 22cb: df          .
	db	90h
	rst4			;; 22cd: e7          .
	db	80h
	push	hl		;; 22cf: e5          .
	call	L1355		;; 22d0: cd 55 13    .U.
	ld	(ix-117),a	;; 22d3: dd 77 8b    .w.
	ld	(ix-118),a	;; 22d6: dd 77 8a    .w.
	ld	a,(L1c0f)	;; 22d9: 3a 0f 1c    :..
	cp	a,043h		;; 22dc: fe 43       .C
	jr	nz,L22e8	;; 22de: 20 08        .
	ld	a,(ix-117)	;; 22e0: dd 7e 8b    .~.
	and	a,07fh		;; 22e3: e6 7f       ..
	ld	(ix-118),a	;; 22e5: dd 77 8a    .w.
L22e8:	ld	a,(L1d5c)	;; 22e8: 3a 5c 1d    :\.
	rra			;; 22eb: 1f          .
	jr	nc,L2334	;; 22ec: 30 46       0F
	ld	a,(L1c0f)	;; 22ee: 3a 0f 1c    :..
	push	af		;; 22f1: f5          .
	call	L75c9		;; 22f2: cd c9 75    ..u
	db	8,0,0,0,0,0,0,0feh,3
	call	L7450		;; 22fe: cd 50 74    .Pt
	jr	z,L2317		;; 2301: 28 14       (.
	ld	a,(L1c0f)	;; 2303: 3a 0f 1c    :..
	dec	a		;; 2306: 3d          =
	ld	(L1c0f),a	;; 2307: 32 0f 1c    2..
	cp	a,030h		;; 230a: fe 30       .0
	jr	nz,L2315	;; 230c: 20 07        .
	call	L2163		;; 230e: cd 63 21    .c.
	ld	(ix-116),001h	;; 2311: dd 36 8c 01 .6..
L2315:	jr	L2334		;; 2315: 18 1d       ..

L2317:	ld	a,(L1c0f)	;; 2317: 3a 0f 1c    :..
	cp	a,030h		;; 231a: fe 30       .0
	jr	nz,L232d	;; 231c: 20 0f        .
	ld	a,(ix-126)	;; 231e: dd 7e 82    .~.
	or	a,a		;; 2321: b7          .
	jr	nz,L232b	;; 2322: 20 07        .
	call	L2163		;; 2324: cd 63 21    .c.
	ld	(ix-116),001h	;; 2327: dd 36 8c 01 .6..
L232b:	jr	L2334		;; 232b: 18 07       ..

L232d:	call	L2163		;; 232d: cd 63 21    .c.
	ld	(ix-116),001h	;; 2330: dd 36 8c 01 .6..
L2334:	ld	a,(ix-116)	;; 2334: dd 7e 8c    .~.
	xor	a,001h		;; 2337: ee 01       ..
	rra			;; 2339: 1f          .
	jr	nc,L2358	;; 233a: 30 1c       0.
	ld	a,(ix-118)	;; 233c: dd 7e 8a    .~.
	push	af		;; 233f: f5          .
	call	L20b8		;; 2340: cd b8 20    .. 
	cp	a,(ix-115)	;; 2343: dd be 8d    ...
	call	L8c0e		;; 2346: cd 0e 8c    ...
	push	af		;; 2349: f5          .
	ld	a,(L1c0e)	;; 234a: 3a 0e 1c    :..
	cp	a,04dh		;; 234d: fe 4d       .M
	call	L8c09		;; 234f: cd 09 8c    ...
	ld	b,a		;; 2352: 47          G
	pop	af		;; 2353: f1          .
	and	a,b		;; 2354: a0          .
	ld	(ix-116),a	;; 2355: dd 77 8c    .w.
L2358:	ld	a,(ix-116)	;; 2358: dd 7e 8c    .~.
	xor	a,001h		;; 235b: ee 01       ..
	rra			;; 235d: 1f          .
	jr	nc,L23be	;; 235e: 30 5e       0^
	ld	a,(ix-117)	;; 2360: dd 7e 8b    .~.
	cp	a,020h		;; 2363: fe 20       . 
	call	L8c09		;; 2365: cd 09 8c    ...
	push	af		;; 2368: f5          .
	ld	a,(ix-113)	;; 2369: dd 7e 8f    .~.
	ld	hl,L01a6	;; 236c: 21 a6 01    ...
	cp	a,(hl)		;; 236f: be          .
	ld	a,000h		;; 2370: 3e 00       >.
	ccf			;; 2372: 3f          ?
	rla			;; 2373: 17          .
	ld	b,a		;; 2374: 47          G
	pop	af		;; 2375: f1          .
	and	a,b		;; 2376: a0          .
	rra			;; 2377: 1f          .
	jr	nc,L2380	;; 2378: 30 06       0.
	ld	(ix-116),001h	;; 237a: dd 36 8c 01 .6..
	jr	L23be		;; 237e: 18 3e       .>

L2380:	ld	a,(L02f5)	;; 2380: 3a f5 02    :..
	ld	l,a		;; 2383: 6f          o
	ld	h,000h		;; 2384: 26 00       &.
	ld	de,L01a4	;; 2386: 11 a4 01    ...
	add	hl,de		;; 2389: 19          .
	ld	a,(L02ee)	;; 238a: 3a ee 02    :..
	cp	a,(hl)		;; 238d: be          .
	jr	c,L2396		;; 238e: 38 06       8.
	ld	(ix-116),001h	;; 2390: dd 36 8c 01 .6..
	jr	L23be		;; 2394: 18 28       .(

L2396:	rst3			;; 2396: df          .
	db	90h
	rst4			;; 2398: e7          .
	db	80h
	push	hl		;; 239a: e5          .
	call	L10d3		;; 239b: cd d3 10    ...
	rra			;; 239e: 1f          .
	jr	nc,L23a7	;; 239f: 30 06       0.
	ld	(ix-116),001h	;; 23a1: dd 36 8c 01 .6..
	jr	L23be		;; 23a5: 18 17       ..

L23a7:	ld	a,(L1d40)	;; 23a7: 3a 40 1d    :@.
	rra			;; 23aa: 1f          .
	jr	nc,L23be	;; 23ab: 30 11       0.
	rst3			;; 23ad: df          .
	db	90h
	ld	c,(hl)		;; 23af: 4e          N
	inc	hl		;; 23b0: 23          #
	ld	b,(hl)		;; 23b1: 46          F
	ld	hl,(L1d43)	;; 23b2: 2a 43 1d    *C.
	rst4			;; 23b5: e7          .
	db	85h
	ld	a,000h		;; 23b7: 3e 00       >.
	ccf			;; 23b9: 3f          ?
	rla			;; 23ba: 17          .
	ld	(ix-116),a	;; 23bb: dd 77 8c    .w.
L23be:	ld	a,(ix-116)	;; 23be: dd 7e 8c    .~.
	rra			;; 23c1: 1f          .
	jp	nc,L221d	;; 23c2: d2 1d 22    .."
	rst3			;; 23c5: df          .
	db	90h
	push	hl		;; 23c7: e5          .
	rst3			;; 23c8: df          .
	db	90h
	rst4			;; 23ca: e7          .
	db	80h
	dec	hl		;; 23cc: 2b          +
	rst4			;; 23cd: e7          .
	db	81h
	ld	a,(ix-115)	;; 23cf: dd 7e 8d    .~.
	rra			;; 23d2: 1f          .
	jr	nc,L23db	;; 23d3: 30 06       0.
	ld	a,027h		;; 23d5: 3e 27       >'
	push	af		;; 23d7: f5          .
	call	L0597		;; 23d8: cd 97 05    ...
L23db:	ld	a,(ix-114)	;; 23db: dd 7e 8e    .~.
	rra			;; 23de: 1f          .
	jr	nc,L2405	;; 23df: 30 24       0$
	ld	a,(L02ee)	;; 23e1: 3a ee 02    :..
	ld	(ix-124),a	;; 23e4: dd 77 84    .w.
	ld	a,(L02e3)	;; 23e7: 3a e3 02    :..
	push	af		;; 23ea: f5          .
	ld	a,(ix-123)	;; 23eb: dd 7e 85    .~.
	dec	a		;; 23ee: 3d          =
	push	af		;; 23ef: f5          .
	call	L0889		;; 23f0: cd 89 08    ...
	ld	a,(L01ac)	;; 23f3: 3a ac 01    :..
	push	af		;; 23f6: f5          .
	call	L0597		;; 23f7: cd 97 05    ...
	ld	a,(L02e3)	;; 23fa: 3a e3 02    :..
	push	af		;; 23fd: f5          .
	ld	a,(ix-124)	;; 23fe: dd 7e 84    .~.
	push	af		;; 2401: f5          .
	call	L0889		;; 2402: cd 89 08    ...
L2405:	jp	L2549		;; 2405: c3 49 25    .I%

L2408:	rst3			;; 2408: df          .
	db	90h
	rst4			;; 240a: e7          .
	db	80h
	push	hl		;; 240c: e5          .
	call	L7175		;; 240d: cd 75 71    .uq
	ld	a,(L02e3)	;; 2410: 3a e3 02    :..
	ld	l,a		;; 2413: 6f          o
	ld	h,000h		;; 2414: 26 00       &.
	ld	de,L1d26	;; 2416: 11 26 1d    .&.
	add	hl,de		;; 2419: 19          .
	push	hl		;; 241a: e5          .
	ld	a,(L1c55)	;; 241b: 3a 55 1c    :U.
	pop	hl		;; 241e: e1          .
	ld	(hl),a		;; 241f: 77          w
	ld	a,(L02e3)	;; 2420: 3a e3 02    :..
	ld	l,a		;; 2423: 6f          o
	ld	h,000h		;; 2424: 26 00       &.
	add	hl,hl		;; 2426: 29          )
	ld	de,L1cc2	;; 2427: 11 c2 1c    ...
	add	hl,de		;; 242a: 19          .
	push	hl		;; 242b: e5          .
	ld	hl,(L1c56)	;; 242c: 2a 56 1c    *V.
	rst4			;; 242f: e7          .
	db	81h
	ld	a,(L1c58)	;; 2431: 3a 58 1c    :X.
	or	a,a		;; 2434: b7          .
	jr	nz,L244b	;; 2435: 20 14        .
	ld	a,00bh		;; 2437: 3e 0b       >.
	push	af		;; 2439: f5          .
	call	L1762		;; 243a: cd 62 17    .b.
	rst3			;; 243d: df          .
	db	90h
	rst4			;; 243f: e7          .
	db	80h
	push	hl		;; 2441: e5          .
	call	L1355		;; 2442: cd 55 13    .U.
	push	af		;; 2445: f5          .
	call	L538e		;; 2446: cd 8e 53    ..S
	jr	L245e		;; 2449: 18 13       ..

L244b:	rst3			;; 244b: df          .
	db	90h
	push	hl		;; 244d: e5          .
	rst3			;; 244e: df          .
	db	90h
	push	hl		;; 2450: e5          .
	ld	a,(L1c58)	;; 2451: 3a 58 1c    :X.
	ld	c,a		;; 2454: 4f          O
	ld	b,000h		;; 2455: 06 00       ..
	pop	hl		;; 2457: e1          .
	rst4			;; 2458: e7          .
	db	80h
	add	hl,bc		;; 245a: 09          .
	dec	hl		;; 245b: 2b          +
	rst4			;; 245c: e7          .
	db	81h
L245e:	jp	L2549		;; 245e: c3 49 25    .I%

L2461:	rst3			;; 2461: df          .
	db	90h
	rst4			;; 2463: e7          .
	db	80h
	push	hl		;; 2465: e5          .
	call	L14b1		;; 2466: cd b1 14    ...
	rst3			;; 2469: df          .
	db	8
	ld	(ix-122),020h	;; 246b: dd 36 86 20 .6. 
	ld	a,(ix-125)	;; 246f: dd 7e 83    .~.
	push	af		;; 2472: f5          .
	call	L75c9		;; 2473: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,0,10h,4
	call	L7450		;; 2482: cd 50 74    .Pt
	jr	z,L249b		;; 2485: 28 14       (.
	ld	a,(ix-125)	;; 2487: dd 7e 83    .~.
	ld	(ix-122),a	;; 248a: dd 77 86    .w.
	cp	a,052h		;; 248d: fe 52       .R
	jr	nz,L249b	;; 248f: 20 0a        .
	rst3			;; 2491: df          .
	db	90h
	ld	c,(hl)		;; 2493: 4e          N
	inc	hl		;; 2494: 23          #
	ld	b,(hl)		;; 2495: 46          F
	rst3			;; 2496: df          .
	db	88h
	add	hl,bc		;; 2498: 09          .
	rst3			;; 2499: df          .
	db	8
L249b:	ld	hl,L01a8	;; 249b: 21 a8 01    ...
	call	L75ea		;; 249e: cd ea 75    ..u
	ld	a,037h		;; 24a1: 3e 37       >7
	call	L8bb0		;; 24a3: cd b0 8b    ...
	call	L0803		;; 24a6: cd 03 08    ...
	ld	a,057h		;; 24a9: 3e 57       >W
	push	af		;; 24ab: f5          .
	call	L0597		;; 24ac: cd 97 05    ...
	ld	a,002h		;; 24af: 3e 02       >.
	push	af		;; 24b1: f5          .
	call	L0d9b		;; 24b2: cd 9b 0d    ...
	ld	a,(L1c0f)	;; 24b5: 3a 0f 1c    :..
	cp	a,058h		;; 24b8: fe 58       .X
	jr	nz,L24d8	;; 24ba: 20 1c        .
	rst3			;; 24bc: df          .
	db	90h
	rst4			;; 24be: e7          .
	db	80h
	push	hl		;; 24c0: e5          .
	call	L1355		;; 24c1: cd 55 13    .U.
	ld	h,a		;; 24c4: 67          g
	ld	l,000h		;; 24c5: 2e 00       ..
	push	hl		;; 24c7: e5          .
	rst3			;; 24c8: df          .
	db	90h
	rst4			;; 24ca: e7          .
	db	80h
	inc	hl		;; 24cc: 23          #
	push	hl		;; 24cd: e5          .
	call	L1355		;; 24ce: cd 55 13    .U.
	ld	c,a		;; 24d1: 4f          O
	ld	b,000h		;; 24d2: 06 00       ..
	pop	hl		;; 24d4: e1          .
	add	hl,bc		;; 24d5: 09          .
	rst3			;; 24d6: df          .
	db	8
L24d8:	ld	a,(ix-122)	;; 24d8: dd 7e 86    .~.
	cp	a,020h		;; 24db: fe 20       . 
	jr	nz,L24e7	;; 24dd: 20 08        .
	rst3			;; 24df: df          .
	db	88h
	push	hl		;; 24e1: e5          .
	call	L2146		;; 24e2: cd 46 21    .F.
	jr	L24f1		;; 24e5: 18 0a       ..

L24e7:	rst3			;; 24e7: df          .
	db	88h
	push	hl		;; 24e9: e5          .
	ld	a,(ix-122)	;; 24ea: dd 7e 86    .~.
	push	af		;; 24ed: f5          .
	call	L57cd		;; 24ee: cd cd 57    ..W
L24f1:	ld	a,(L02e3)	;; 24f1: 3a e3 02    :..
	ld	l,a		;; 24f4: 6f          o
	ld	h,000h		;; 24f5: 26 00       &.
	ld	de,L1d26	;; 24f7: 11 26 1d    .&.
	add	hl,de		;; 24fa: 19          .
	push	hl		;; 24fb: e5          .
	ld	a,(ix-122)	;; 24fc: dd 7e 86    .~.
	pop	hl		;; 24ff: e1          .
	ld	(hl),a		;; 2500: 77          w
	ld	a,(L02e3)	;; 2501: 3a e3 02    :..
	ld	l,a		;; 2504: 6f          o
	ld	h,000h		;; 2505: 26 00       &.
	add	hl,hl		;; 2507: 29          )
	ld	de,L1cc2	;; 2508: 11 c2 1c    ...
	add	hl,de		;; 250b: 19          .
	push	hl		;; 250c: e5          .
	rst3			;; 250d: df          .
	db	88h
	rst4			;; 250f: e7          .
	db	81h
	rst3			;; 2511: df          .
	db	90h
	push	hl		;; 2513: e5          .
	rst3			;; 2514: df          .
	db	90h
	rst4			;; 2516: e7          .
	db	80h
	inc	hl		;; 2518: 23          #
	rst4			;; 2519: e7          .
	db	81h
	ld	a,(ix-122)	;; 251b: dd 7e 86    .~.
	cp	a,052h		;; 251e: fe 52       .R
	jr	nz,L2528	;; 2520: 20 06        .
	ld	a,00ch		;; 2522: 3e 0c       >.
	push	af		;; 2524: f5          .
	call	L1762		;; 2525: cd 62 17    .b.
L2528:	call	L2163		;; 2528: cd 63 21    .c.
	jr	L2549		;; 252b: 18 1c       ..

L252d:	ld	b,007h		;; 252d: 06 07       ..
	call	L8ddc		;; 252f: cd dc 8d    ...
	db '0' ! dw L21e2
	db 'B' ! dw L21e2
	db 'C' ! dw L21e2
	db 'I' ! dw L2408
	db 'Q' ! dw L21a8
	db 'T' ! dw L21a8
	db 'U' ! dw L21e2
	dw	L2461
L2549:	call	L5c3d		;; 2549: cd 3d 5c    .=\
	rst3			;; 254c: df          .
	db	90h
	push	hl		;; 254e: e5          .
	rst3			;; 254f: df          .
	db	90h
	rst4			;; 2551: e7          .
	db	80h
	inc	hl		;; 2553: 23          #
	rst4			;; 2554: e7          .
	db	81h
	jp	L8d56		;; 2556: c3 56 8d    .V.

L2559:	call	L8d27		;; 2559: cd 27 8d    .'.
	db	0ffh,7
	ld	a,(L1d45)	;; 255e: 3a 45 1d    :E.
	cp	a,02fh		;; 2561: fe 2f       ./
	jr	nz,L256b	;; 2563: 20 06        .
	ld	a,004h		;; 2565: 3e 04       >.
	push	af		;; 2567: f5          .
	call	L0d9b		;; 2568: cd 9b 0d    ...
L256b:	ld	a,03bh		;; 256b: 3e 3b       >;
	push	af		;; 256d: f5          .
	call	L0597		;; 256e: cd 97 05    ...
	ld	a,(L0180)	;; 2571: 3a 80 01    :..
	ld	(ix-126),a	;; 2574: dd 77 82    .w.
	ld	hl,L0180	;; 2577: 21 80 01    ...
	ld	(hl),000h	;; 257a: 36 00       6.
	ld	hl,L1d43	;; 257c: 21 43 1d    .C.
	push	hl		;; 257f: e5          .
	call	L5c84		;; 2580: cd 84 5c    ..\
	ld	a,(ix-126)	;; 2583: dd 7e 82    .~.
	ld	(L0180),a	;; 2586: 32 80 01    2..
	jp	L8d56		;; 2589: c3 56 8d    .V.

L258c:	call	L8d27		;; 258c: cd 27 8d    .'.
	db	0,6
	ld	a,001h		;; 2591: 3e 01       >.
	push	af		;; 2593: f5          .
	call	L0d9b		;; 2594: cd 9b 0d    ...
	call	L259d		;; 2597: cd 9d 25    ..%
	db	'EQU'
L259d:	call	L75e5		;; 259d: cd e5 75    ..u
	db	3
	ld	a,037h		;; 25a1: 3e 37       >7
	call	L8bb0		;; 25a3: cd b0 8b    ...
	call	L0803		;; 25a6: cd 03 08    ...
	ld	a,002h		;; 25a9: 3e 02       >.
	push	af		;; 25ab: f5          .
	call	L0d9b		;; 25ac: cd 9b 0d    ...
	jp	L8d56		;; 25af: c3 56 8d    .V.

L25b2:	call	L8d27		;; 25b2: cd 27 8d    .'.
	db	0,6
	call	L258c		;; 25b7: cd 8c 25    ..%
	call	L25bf		;; 25ba: cd bf 25    ..%
	db	'$-'
L25bf:	call	L75e5		;; 25bf: cd e5 75    ..u
	db	2
	ld	a,037h		;; 25c3: 3e 37       >7
	call	L8bb0		;; 25c5: cd b0 8b    ...
	call	L0803		;; 25c8: cd 03 08    ...
	jp	L8d56		;; 25cb: c3 56 8d    .V.

L25ce:	call	L8d27		;; 25ce: cd 27 8d    .'.
	db	0f6h,12h
	ld	a,(L02f5)	;; 25d3: 3a f5 02    :..
	xor	a,001h		;; 25d6: ee 01       ..
	rra			;; 25d8: 1f          .
	jr	nc,L25f8	;; 25d9: 30 1d       0.
	ld	a,004h		;; 25db: 3e 04       >.
	push	af		;; 25dd: f5          .
	call	L0771		;; 25de: cd 71 07    .q.
	rst3			;; 25e1: df          .
	db	8ch
	rst4			;; 25e3: e7          .
	db	80h
	push	hl		;; 25e5: e5          .
	call	L5428		;; 25e6: cd 28 54    .(T
	call	L0799		;; 25e9: cd 99 07    ...
	ld	a,(L02ee)	;; 25ec: 3a ee 02    :..
	ld	(ix-121),a	;; 25ef: dd 77 87    .w.
	ld	a,000h		;; 25f2: 3e 00       >.
	push	af		;; 25f4: f5          .
	call	L0d9b		;; 25f5: cd 9b 0d    ...
L25f8:	ld	a,(L1c5a)	;; 25f8: 3a 5a 1c    :Z.
	rra			;; 25fb: 1f          .
	jr	nc,L2609	;; 25fc: 30 0b       0.
	ld	hl,L1c5a	;; 25fe: 21 5a 1c    .Z.
	ld	(hl),000h	;; 2601: 36 00       6.
	call	L0977		;; 2603: cd 77 09    .w.
	jp	L29dc		;; 2606: c3 dc 29    ..)

L2609:	ld	hl,(L1d43)	;; 2609: 2a 43 1d    *C.
	rst3			;; 260c: df          .
	db	4
	ld	a,(L1d51)	;; 260e: 3a 51 1d    :Q.
	rra			;; 2611: 1f          .
	jr	nc,L2639	;; 2612: 30 25       0%
	ld	a,(L1d40)	;; 2614: 3a 40 1d    :@.
	rra			;; 2617: 1f          .
	jr	nc,L2639	;; 2618: 30 1f       0.
	ld	a,(L1c0f)	;; 261a: 3a 0f 1c    :..
	push	af		;; 261d: f5          .
	call	L75c9		;; 261e: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,4,0,' '
	call	L7450		;; 262d: cd 50 74    .Pt
	jr	z,L2639		;; 2630: 28 07       (.
	rst3			;; 2632: df          .
	db	8ch
	push	hl		;; 2634: e5          .
	rst3			;; 2635: df          .
	db	84h
	rst4			;; 2637: e7          .
	db	81h
L2639:	rst3			;; 2639: df          .
	db	8ch
	rst4			;; 263b: e7          .
	db	80h
	push	hl		;; 263d: e5          .
	call	L10d3		;; 263e: cd d3 10    ...
	xor	a,001h		;; 2641: ee 01       ..
	ld	(ix-122),a	;; 2643: dd 77 86    .w.
	rst3			;; 2646: df          .
	db	8ch
	ld	c,(hl)		;; 2648: 4e          N
	inc	hl		;; 2649: 23          #
	ld	b,(hl)		;; 264a: 46          F
	rst3			;; 264b: df          .
	db	84h
	rst4			;; 264d: e7          .
	db	85h
	ld	a,000h		;; 264f: 3e 00       >.
	ccf			;; 2651: 3f          ?
	rla			;; 2652: 17          .
	ld	hl,L1d40	;; 2653: 21 40 1d    .@.
	and	a,(hl)		;; 2656: a6          .
	rra			;; 2657: 1f          .
	jp	nc,L284c	;; 2658: d2 4c 28    .L(
	ld	a,(L02e3)	;; 265b: 3a e3 02    :..
	ld	l,a		;; 265e: 6f          o
	ld	h,000h		;; 265f: 26 00       &.
	add	hl,hl		;; 2661: 29          )
	ld	de,L1c5e	;; 2662: 11 5e 1c    .^.
	add	hl,de		;; 2665: 19          .
	push	hl		;; 2666: e5          .
	ld	hl,(L1d41)	;; 2667: 2a 41 1d    *A.
	rst4			;; 266a: e7          .
	db	81h
	ld	a,(L1d45)	;; 266c: 3a 45 1d    :E.
	or	a,a		;; 266f: b7          .
	jp	nz,L2792	;; 2670: c2 92 27    ..'
	ld	a,(L02e3)	;; 2673: 3a e3 02    :..
	ld	l,a		;; 2676: 6f          o
	ld	h,000h		;; 2677: 26 00       &.
	add	hl,hl		;; 2679: 29          )
	ld	de,L1c5e	;; 267a: 11 5e 1c    .^.
	add	hl,de		;; 267d: 19          .
	ld	(hl),000h	;; 267e: 36 00       6.
	inc	hl		;; 2680: 23          #
	ld	(hl),000h	;; 2681: 36 00       6.
	ld	a,(L02e3)	;; 2683: 3a e3 02    :..
	ld	l,a		;; 2686: 6f          o
	ld	h,000h		;; 2687: 26 00       &.
	add	hl,hl		;; 2689: 29          )
	ld	de,L1c90	;; 268a: 11 90 1c    ...
	add	hl,de		;; 268d: 19          .
	push	hl		;; 268e: e5          .
	ld	hl,(L1d41)	;; 268f: 2a 41 1d    *A.
	rst4			;; 2692: e7          .
	db	81h
	ld	hl,L1d43	;; 2694: 21 43 1d    .C.
	push	hl		;; 2697: e5          .
	call	L62c4		;; 2698: cd c4 62    ..b
	ld	a,(L02f5)	;; 269b: 3a f5 02    :..
	xor	a,001h		;; 269e: ee 01       ..
	rra			;; 26a0: 1f          .
	jr	nc,L26b8	;; 26a1: 30 15       0.
	call	L0965		;; 26a3: cd 65 09    .e.
	ld	hl,L1d43	;; 26a6: 21 43 1d    .C.
	push	hl		;; 26a9: e5          .
	call	L6273		;; 26aa: cd 73 62    .sb
	ld	a,(L02e3)	;; 26ad: 3a e3 02    :..
	push	af		;; 26b0: f5          .
	ld	a,(L018f)	;; 26b1: 3a 8f 01    :..
	push	af		;; 26b4: f5          .
	call	L0889		;; 26b5: cd 89 08    ...
L26b8:	rst3			;; 26b8: df          .
	db	8ch
	ld	c,(hl)		;; 26ba: 4e          N
	inc	hl		;; 26bb: 23          #
	ld	b,(hl)		;; 26bc: 46          F
	rst3			;; 26bd: df          .
	db	84h
	or	a,a		;; 26bf: b7          .
	sbc	hl,bc		;; 26c0: ed 42       .B
	jr	z,L26df		;; 26c2: 28 1b       (.
	call	L25b2		;; 26c4: cd b2 25    ..%
	rst3			;; 26c7: df          .
	db	8ch
	rst4			;; 26c9: e7          .
	db	80h
	rst4			;; 26cb: e7          .
	db	87h
	push	hl		;; 26cd: e5          .
	push	bc		;; 26ce: c5          .
	rst3			;; 26cf: df          .
	db	84h
	rst4			;; 26d1: e7          .
	db	87h
	call	L87f6		;; 26d3: cd f6 87    ...
	ld	h,b		;; 26d6: 60          `
	ld	l,c		;; 26d7: 69          i
	push	hl		;; 26d8: e5          .
	call	L07d2		;; 26d9: cd d2 07    ...
	jp	L278f		;; 26dc: c3 8f 27    ..'

L26df:	ld	a,(L1d46)	;; 26df: 3a 46 1d    :F.
	call	L2782		;; 26e2: cd 82 27    ..'
L26e5:	ld	a,001h		;; 26e5: 3e 01       >.
	push	af		;; 26e7: f5          .
	call	L0d9b		;; 26e8: cd 9b 0d    ...
	ld	hl,L01a8	;; 26eb: 21 a8 01    ...
	call	L75ea		;; 26ee: cd ea 75    ..u
	ld	a,037h		;; 26f1: 3e 37       >7
	call	L8bb0		;; 26f3: cd b0 8b    ...
	call	L0803		;; 26f6: cd 03 08    ...
	ld	a,053h		;; 26f9: 3e 53       >S
	push	af		;; 26fb: f5          .
	call	L0597		;; 26fc: cd 97 05    ...
	ld	a,002h		;; 26ff: 3e 02       >.
	push	af		;; 2701: f5          .
	call	L0d9b		;; 2702: cd 9b 0d    ...
	ld	a,(L1d49)	;; 2705: 3a 49 1d    :I.
	xor	a,001h		;; 2708: ee 01       ..
	rra			;; 270a: 1f          .
	jr	nc,L271b	;; 270b: 30 0e       0.
	rst3			;; 270d: df          .
	db	8ch
	push	hl		;; 270f: e5          .
	call	L8d60		;; 2710: cd 60 8d    .`.
	dw	L104c
	ld	h,b		;; 2715: 60          `
	ld	l,c		;; 2716: 69          i
	rst4			;; 2717: e7          .
	db	81h
	jr	L2723		;; 2719: 18 08       ..

L271b:	rst3			;; 271b: df          .
	db	8ch
	push	hl		;; 271d: e5          .
	ld	hl,(L1d4a)	;; 271e: 2a 4a 1d    *J.
	rst4			;; 2721: e7          .
	db	81h
L2723:	rst3			;; 2723: df          .
	db	8ch
	rst4			;; 2725: e7          .
	db	80h
	rst4			;; 2727: e7          .
	db	87h
	push	hl		;; 2729: e5          .
	push	bc		;; 272a: c5          .
	rst3			;; 272b: df          .
	db	84h
	rst4			;; 272d: e7          .
	db	87h
	call	L87f6		;; 272f: cd f6 87    ...
	ld	h,b		;; 2732: 60          `
	ld	l,c		;; 2733: 69          i
	push	hl		;; 2734: e5          .
	call	L2146		;; 2735: cd 46 21    .F.
	jr	L278f		;; 2738: 18 55       .U

L273a:	ld	a,001h		;; 273a: 3e 01       >.
	push	af		;; 273c: f5          .
	call	L0d9b		;; 273d: cd 9b 0d    ...
	ld	a,00dh		;; 2740: 3e 0d       >.
	push	af		;; 2742: f5          .
	call	L1762		;; 2743: cd 62 17    .b.
	ld	a,002h		;; 2746: 3e 02       >.
	push	af		;; 2748: f5          .
	call	L0d9b		;; 2749: cd 9b 0d    ...
	ld	hl,(L1d47)	;; 274c: 2a 47 1d    *G.
	push	hl		;; 274f: e5          .
	call	L53c1		;; 2750: cd c1 53    ..S
	jr	L278f		;; 2753: 18 3a       .:

L2755:	ld	a,(L1d49)	;; 2755: 3a 49 1d    :I.
	xor	a,001h		;; 2758: ee 01       ..
	push	af		;; 275a: f5          .
	rst3			;; 275b: df          .
	db	8ch
	ld	c,(hl)		;; 275d: 4e          N
	inc	hl		;; 275e: 23          #
	ld	b,(hl)		;; 275f: 46          F
	ld	hl,(L1d4a)	;; 2760: 2a 4a 1d    *J.
	or	a,a		;; 2763: b7          .
	sbc	hl,bc		;; 2764: ed 42       .B
	call	L8c0e		;; 2766: cd 0e 8c    ...
	ld	b,a		;; 2769: 47          G
	pop	af		;; 276a: f1          .
	or	a,b		;; 276b: b0          .
	push	af		;; 276c: f5          .
	ld	a,(L1d4c)	;; 276d: 3a 4c 1d    :L.
	or	a,a		;; 2770: b7          .
	call	L8c0e		;; 2771: cd 0e 8c    ...
	ld	b,a		;; 2774: 47          G
	pop	af		;; 2775: f1          .
	or	a,b		;; 2776: b0          .
	rra			;; 2777: 1f          .
	jr	nc,L2780	;; 2778: 30 06       0.
	call	L67a6		;; 277a: cd a6 67    ..g
	jp	L2609		;; 277d: c3 09 26    ..&

L2780:	jr	L278f		;; 2780: 18 0d       ..

L2782:	ld	b,002h		;; 2782: 06 02       ..
	call	L8ddc		;; 2784: cd dc 8d    ...
	db 'O' ! dw L273a
	db 'S' ! dw L26e5
	dw	L2755
L278f:	jp	L2843		;; 278f: c3 43 28    .C(

L2792:	ld	a,(L1d45)	;; 2792: 3a 45 1d    :E.
	push	af		;; 2795: f5          .
	call	L75c9		;; 2796: cd c9 75    ..u
	db	8,0,0,0,0,0,80h,0,8
	call	L7450		;; 27a2: cd 50 74    .Pt
	jr	z,L27ad		;; 27a5: 28 06       (.
	call	L2559		;; 27a7: cd 59 25    .Y%
	jp	L2843		;; 27aa: c3 43 28    .C(

L27ad:	ld	hl,L1d43	;; 27ad: 21 43 1d    .C.
	push	hl		;; 27b0: e5          .
	call	L5c84		;; 27b1: cd 84 5c    ..\
	ld	a,(ix-122)	;; 27b4: dd 7e 86    .~.
	rra			;; 27b7: 1f          .
	jr	nc,L280c	;; 27b8: 30 52       0R
	ld	a,(L1c0f)	;; 27ba: 3a 0f 1c    :..
	cp	a,055h		;; 27bd: fe 55       .U
	jr	nz,L27de	;; 27bf: 20 1d        .
	ld	a,(L1d45)	;; 27c1: 3a 45 1d    :E.
	push	af		;; 27c4: f5          .
	call	L75c9		;; 27c5: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,8,10h,4
	call	L7450		;; 27d4: cd 50 74    .Pt
	jr	z,L27de		;; 27d7: 28 05       (.
	ld	hl,L1c0f	;; 27d9: 21 0f 1c    ...
	ld	(hl),049h	;; 27dc: 36 49       6I
L27de:	rst3			;; 27de: df          .
	db	8ch
	ld	c,(hl)		;; 27e0: 4e          N
	inc	hl		;; 27e1: 23          #
	ld	b,(hl)		;; 27e2: 46          F
	rst3			;; 27e3: df          .
	db	84h
	or	a,a		;; 27e5: b7          .
	sbc	hl,bc		;; 27e6: ed 42       .B
	jr	nz,L27f2	;; 27e8: 20 08        .
	ld	a,03ah		;; 27ea: 3e 3a       >:
	push	af		;; 27ec: f5          .
	call	L0597		;; 27ed: cd 97 05    ...
	jr	L280a		;; 27f0: 18 18       ..

L27f2:	call	L25b2		;; 27f2: cd b2 25    ..%
	rst3			;; 27f5: df          .
	db	8ch
	rst4			;; 27f7: e7          .
	db	80h
	rst4			;; 27f9: e7          .
	db	87h
	push	hl		;; 27fb: e5          .
	push	bc		;; 27fc: c5          .
	rst3			;; 27fd: df          .
	db	84h
	rst4			;; 27ff: e7          .
	db	87h
	call	L87f6		;; 2801: cd f6 87    ...
	ld	h,b		;; 2804: 60          `
	ld	l,c		;; 2805: 69          i
	push	hl		;; 2806: e5          .
	call	L07d2		;; 2807: cd d2 07    ...
L280a:	jr	L2815		;; 280a: 18 09       ..

L280c:	call	L258c		;; 280c: cd 8c 25    ..%
	rst3			;; 280f: df          .
	db	84h
	push	hl		;; 2811: e5          .
	call	L2146		;; 2812: cd 46 21    .F.
L2815:	ld	a,(L1d48)	;; 2815: 3a 48 1d    :H.
	or	a,a		;; 2818: b7          .
	jr	z,L2840		;; 2819: 28 25       (%
	ld	a,003h		;; 281b: 3e 03       >.
	push	af		;; 281d: f5          .
	call	L0d9b		;; 281e: cd 9b 0d    ...
	call	L2827		;; 2821: cd 27 28    .'(
	db	'; ('
L2827:	call	L75e5		;; 2827: cd e5 75    ..u
	db	3
	ld	a,037h		;; 282b: 3e 37       >7
	call	L8bb0		;; 282d: cd b0 8b    ...
	call	L0803		;; 2830: cd 03 08    ...
	ld	a,(L1d48)	;; 2833: 3a 48 1d    :H.
	push	af		;; 2836: f5          .
	call	L0597		;; 2837: cd 97 05    ...
	ld	a,029h		;; 283a: 3e 29       >)
	push	af		;; 283c: f5          .
	call	L0597		;; 283d: cd 97 05    ...
L2840:	call	L5c3d		;; 2840: cd 3d 5c    .=\
L2843:	call	L67a6		;; 2843: cd a6 67    ..g
	call	L0977		;; 2846: cd 77 09    .w.
	jp	L2965		;; 2849: c3 65 29    .e)

L284c:	ld	a,(ix-122)	;; 284c: dd 7e 86    .~.
	rra			;; 284f: 1f          .
	jp	nc,L2962	;; 2850: d2 62 29    .b)
	rst3			;; 2853: df          .
	db	8ch
	rst4			;; 2855: e7          .
	db	80h
	rst3			;; 2857: df          .
	db	0ah
	ld	hl,L1c59	;; 2859: 21 59 1c    .Y.
	ld	(hl),000h	;; 285c: 36 00       6.
	ld	hl,(L1d41)	;; 285e: 2a 41 1d    *A.
	rst3			;; 2861: df          .
	db	2
	ld	a,(L1d50)	;; 2863: 3a 50 1d    :P.
	or	a,a		;; 2866: b7          .
	jr	z,L2879		;; 2867: 28 10       (.
	ld	hl,L1d5c	;; 2869: 21 5c 1d    .\.
	ld	(hl),001h	;; 286c: 36 01       6.
	ld	a,(L1d50)	;; 286e: 3a 50 1d    :P.
	ld	(L1c0f),a	;; 2871: 32 0f 1c    2..
	ld	hl,L1d50	;; 2874: 21 50 1d    .P.
	ld	(hl),000h	;; 2877: 36 00       6.
L2879:	rst3			;; 2879: df          .
	db	8ch
	push	hl		;; 287b: e5          .
	call	L217b		;; 287c: cd 7b 21    .{.
	rst3			;; 287f: df          .
	db	82h
	push	hl		;; 2881: e5          .
	call	L6760		;; 2882: cd 60 67    .`g
	rst3			;; 2885: df          .
	db	8ch
	rst4			;; 2887: e7          .
	db	80h
	rst3			;; 2889: df          .
	db	8
	rst4			;; 288b: e7          .
	db	87h
	push	hl		;; 288d: e5          .
	push	bc		;; 288e: c5          .
	rst3			;; 288f: df          .
	db	8ah
	rst4			;; 2891: e7          .
	db	87h
	call	L87f6		;; 2893: cd f6 87    ...
	push	hl		;; 2896: e5          .
	push	bc		;; 2897: c5          .
	ld	bc,00004h	;; 2898: 01 04 00    ...
	ld	hl,00000h	;; 289b: 21 00 00    ...
	call	L8890		;; 289e: cd 90 88    ...
	jp	p,L28ac		;; 28a1: f2 ac 28    ..(
	ld	bc,00004h	;; 28a4: 01 04 00    ...
	rst3			;; 28a7: df          .
	db	8ah
	add	hl,bc		;; 28a9: 09          .
	rst3			;; 28aa: df          .
	db	8
L28ac:	rst3			;; 28ac: df          .
	db	8ch
	ld	c,(ix-124)	;; 28ae: dd 4e 84    .N.
	ld	b,(ix-123)	;; 28b1: dd 46 85    .F.
	rst4			;; 28b4: e7          .
	db	80h
	or	a,a		;; 28b6: b7          .
	sbc	hl,bc		;; 28b7: ed 42       .B
	jr	c,L28eb		;; 28b9: 38 30       80
	ld	a,(L1d45)	;; 28bb: 3a 45 1d    :E.
	cp	a,02fh		;; 28be: fe 2f       ./
	call	L8c09		;; 28c0: cd 09 8c    ...
	push	af		;; 28c3: f5          .
	ld	a,(L02f5)	;; 28c4: 3a f5 02    :..
	ld	l,a		;; 28c7: 6f          o
	ld	h,000h		;; 28c8: 26 00       &.
	ld	bc,00005h	;; 28ca: 01 05 00    ...
	call	L88e9		;; 28cd: cd e9 88    ...
	ld	de,L018f	;; 28d0: 11 8f 01    ...
	add	hl,de		;; 28d3: 19          .
	ld	a,(L02ee)	;; 28d4: 3a ee 02    :..
	ld	de,00004h	;; 28d7: 11 04 00    ...
	add	hl,de		;; 28da: 19          .
	cp	a,(hl)		;; 28db: be          .
	ld	a,000h		;; 28dc: 3e 00       >.
	rla			;; 28de: 17          .
	ld	b,a		;; 28df: 47          G
	pop	af		;; 28e0: f1          .
	and	a,b		;; 28e1: a0          .
	rra			;; 28e2: 1f          .
	jr	nc,L28eb	;; 28e3: 30 06       0.
	call	L2559		;; 28e5: cd 59 25    .Y%
	call	L67a6		;; 28e8: cd a6 67    ..g
L28eb:	call	L0977		;; 28eb: cd 77 09    .w.
	ld	a,(L02f5)	;; 28ee: 3a f5 02    :..
	xor	a,001h		;; 28f1: ee 01       ..
	rra			;; 28f3: 1f          .
	jr	nc,L2960	;; 28f4: 30 6a       0j
	ld	a,(L02e3)	;; 28f6: 3a e3 02    :..
	push	af		;; 28f9: f5          .
	ld	a,(ix-121)	;; 28fa: dd 7e 87    .~.
	push	af		;; 28fd: f5          .
	call	L0889		;; 28fe: cd 89 08    ...
L2901:	ld	c,(ix-120)	;; 2901: dd 4e 88    .N.
	ld	b,(ix-119)	;; 2904: dd 46 89    .F.
	rst3			;; 2907: df          .
	db	8ah
	or	a,a		;; 2909: b7          .
	sbc	hl,bc		;; 290a: ed 42       .B
	ld	a,000h		;; 290c: 3e 00       >.
	rla			;; 290e: 17          .
	push	af		;; 290f: f5          .
	rst3			;; 2910: df          .
	db	8ah
	push	hl		;; 2912: e5          .
	call	L10d3		;; 2913: cd d3 10    ...
	xor	a,001h		;; 2916: ee 01       ..
	ld	b,a		;; 2918: 47          G
	pop	af		;; 2919: f1          .
	and	a,b		;; 291a: a0          .
	rra			;; 291b: 1f          .
	jr	nc,L2932	;; 291c: 30 14       0.
	call	L0799		;; 291e: cd 99 07    ...
	rst3			;; 2921: df          .
	db	8ah
	push	hl		;; 2923: e5          .
	call	L1355		;; 2924: cd 55 13    .U.
	push	af		;; 2927: f5          .
	call	L5412		;; 2928: cd 12 54    ..T
	rst3			;; 292b: df          .
	db	8ah
	inc	hl		;; 292d: 23          #
	rst3			;; 292e: df          .
	db	0ah
	jr	L2901		;; 2930: 18 cf       ..

L2932:	rst3			;; 2932: df          .
	db	8ch
	ld	c,(hl)		;; 2934: 4e          N
	inc	hl		;; 2935: 23          #
	ld	b,(hl)		;; 2936: 46          F
	rst3			;; 2937: df          .
	db	8ah
	or	a,a		;; 2939: b7          .
	sbc	hl,bc		;; 293a: ed 42       .B
	jr	z,L2947		;; 293c: 28 09       (.
	ld	a,002h		;; 293e: 3e 02       >.
	push	af		;; 2940: f5          .
	ld	a,02eh		;; 2941: 3e 2e       >.
	push	af		;; 2943: f5          .
	call	L0720		;; 2944: cd 20 07    . .
L2947:	ld	a,(L1c59)	;; 2947: 3a 59 1c    :Y.
	or	a,a		;; 294a: b7          .
	jr	z,L2960		;; 294b: 28 13       (.
	ld	a,(L02e3)	;; 294d: 3a e3 02    :..
	push	af		;; 2950: f5          .
	ld	a,(L018f)	;; 2951: 3a 8f 01    :..
	dec	a		;; 2954: 3d          =
	push	af		;; 2955: f5          .
	call	L0889		;; 2956: cd 89 08    ...
	ld	a,(L1c59)	;; 2959: 3a 59 1c    :Y.
	push	af		;; 295c: f5          .
	call	L0597		;; 295d: cd 97 05    ...
L2960:	jr	L2965		;; 2960: 18 03       ..

L2962:	call	L0977		;; 2962: cd 77 09    .w.
L2965:	ld	a,(ix-122)	;; 2965: dd 7e 86    .~.
	xor	a,001h		;; 2968: ee 01       ..
	rra			;; 296a: 1f          .
	jp	nc,L29dc	;; 296b: 30 6f       0o
	ld	hl,(L1d43)	;; 296d: 2a 43 1d    *C.
	rst3			;; 2970: df          .
	db	4
	ld	a,(L1d40)	;; 2972: 3a 40 1d    :@.
	xor	a,001h		;; 2975: ee 01       ..
	rra			;; 2977: 1f          .
	jr	nc,L299c	;; 2978: 30 22       0"
	ld	hl,0ffffh	;; 297a: 21 ff ff    ...
	rst3			;; 297d: df          .
	db	4
	rst3			;; 297f: df          .
	db	8ch
	push	hl		;; 2981: e5          .
	call	L8d60		;; 2982: cd 60 8d    .`.
	dw	L104c
	ex	(sp),hl		;; 2987: e3          .
	push	bc		;; 2988: c5          .
	rst4			;; 2989: e7          .
	db	80h
	rst4			;; 298b: e7          .
	db	87h
	call	L8890		;; 298d: cd 90 88    ...
	jp	m,L299c		;; 2990: fa 9c 29    ..)
	rst3			;; 2993: df          .
	db	8ch
	ld	(hl),0ffh	;; 2995: 36 ff       6.
	inc	hl		;; 2997: 23          #
	ld	(hl),0ffh	;; 2998: 36 ff       6.
	jr	L29dc		;; 299a: 18 40       .@

L299c:	rst3			;; 299c: df          .
	db	8ch
	ld	c,(ix-124)	;; 299e: dd 4e 84    .N.
	ld	b,(ix-123)	;; 29a1: dd 46 85    .F.
	rst4			;; 29a4: e7          .
	db	80h
	or	a,a		;; 29a6: b7          .
	sbc	hl,bc		;; 29a7: ed 42       .B
	jr	c,L29ad		;; 29a9: 38 02       8.
	jr	L29dc		;; 29ab: 18 2f       ./

L29ad:	rst3			;; 29ad: df          .
	db	8ch
	rst4			;; 29af: e7          .
	db	80h
	push	hl		;; 29b1: e5          .
	call	L10d3		;; 29b2: cd d3 10    ...
	xor	a,001h		;; 29b5: ee 01       ..
	rra			;; 29b7: 1f          .
	jr	nc,L29bc	;; 29b8: 30 02       0.
	jr	L29dc		;; 29ba: 18 20       . 

L29bc:	rst3			;; 29bc: df          .
	db	8ch
	push	hl		;; 29be: e5          .
	call	L115e		;; 29bf: cd 5e 11    .^.
	rst4			;; 29c2: e7          .
	db	81h
	rst3			;; 29c4: df          .
	db	8ch
	ld	c,(ix-124)	;; 29c6: dd 4e 84    .N.
	ld	b,(ix-123)	;; 29c9: dd 46 85    .F.
	rst4			;; 29cc: e7          .
	db	80h
	or	a,a		;; 29ce: b7          .
	sbc	hl,bc		;; 29cf: ed 42       .B
	jr	c,L29da		;; 29d1: 38 07       8.
	rst3			;; 29d3: df          .
	db	8ch
	push	hl		;; 29d5: e5          .
	rst3			;; 29d6: df          .
	db	84h
	rst4			;; 29d8: e7          .
	db	81h
L29da:	jr	L299c		;; 29da: 18 c0       ..

L29dc:	jp	L8d56		;; 29dc: c3 56 8d    .V.

L29df:	call	L8d27		;; 29df: cd 27 8d    .'.
	db	0f8h,10h
	ld	a,(ix-117)	;; 29e4: dd 7e 8b    .~.
	push	af		;; 29e7: f5          .
	call	L0953		;; 29e8: cd 53 09    .S.
	ld	a,(L02ea)	;; 29eb: 3a ea 02    :..
	ld	(ix-122),a	;; 29ee: dd 77 86    .w.
	ld	a,(L02e9)	;; 29f1: 3a e9 02    :..
	ld	(ix-123),a	;; 29f4: dd 77 85    .w.
	ld	hl,(L1789)	;; 29f7: 2a 89 17    *..
	rst3			;; 29fa: df          .
	db	7
	ld	a,(ix-117)	;; 29fc: dd 7e 8b    .~.
	ld	hl,L02ea	;; 29ff: 21 ea 02    ...
	cp	a,(hl)		;; 2a02: be          .
	jr	z,L2a13		;; 2a03: 28 0e       (.
	ld	l,(ix-117)	;; 2a05: dd 6e 8b    .n.
	ld	h,000h		;; 2a08: 26 00       &.
	add	hl,hl		;; 2a0a: 29          )
	ld	de,L1cf4	;; 2a0b: 11 f4 1c    ...
	add	hl,de		;; 2a0e: 19          .
	rst4			;; 2a0f: e7          .
	db	80h
	rst3			;; 2a11: df          .
	db	7
L2a13:	ld	a,(ix-117)	;; 2a13: dd 7e 8b    .~.
	ld	hl,L02e8	;; 2a16: 21 e8 02    ...
	cp	a,(hl)		;; 2a19: be          .
	jr	c,L2a2a		;; 2a1a: 38 0e       8.
	ld	a,(L02e8)	;; 2a1c: 3a e8 02    :..
	ld	(ix-122),a	;; 2a1f: dd 77 86    .w.
	ld	a,(L02e7)	;; 2a22: 3a e7 02    :..
	ld	(ix-123),a	;; 2a25: dd 77 85    .w.
	jr	L2a30		;; 2a28: 18 06       ..

L2a2a:	ld	a,(ix-117)	;; 2a2a: dd 7e 8b    .~.
	ld	(L1d56),a	;; 2a2d: 32 56 1d    2V.
L2a30:	rst3			;; 2a30: df          .
	db	87h
	push	hl		;; 2a32: e5          .
	call	L6343		;; 2a33: cd 43 63    .Cc
	ld	a,(L1d55)	;; 2a36: 3a 55 1d    :U.
	rra			;; 2a39: 1f          .
	jr	nc,L2a4a	;; 2a3a: 30 0e       0.
	ld	a,(L1d54)	;; 2a3c: 3a 54 1d    :T.
	push	af		;; 2a3f: f5          .
	call	L5412		;; 2a40: cd 12 54    ..T
	ld	hl,(L1d52)	;; 2a43: 2a 52 1d    *R.
	push	hl		;; 2a46: e5          .
	call	L5428		;; 2a47: cd 28 54    .(T
L2a4a:	ld	a,(L1d54)	;; 2a4a: 3a 54 1d    :T.
	or	a,a		;; 2a4d: b7          .
	call	L8c0e		;; 2a4e: cd 0e 8c    ...
	push	af		;; 2a51: f5          .
	ld	a,(ix-117)	;; 2a52: dd 7e 8b    .~.
	ld	hl,L02e6	;; 2a55: 21 e6 02    ...
	cp	a,(hl)		;; 2a58: be          .
	call	L8c09		;; 2a59: cd 09 8c    ...
	ld	b,a		;; 2a5c: 47          G
	pop	af		;; 2a5d: f1          .
	and	a,b		;; 2a5e: a0          .
	rra			;; 2a5f: 1f          .
	jr	nc,L2a90	;; 2a60: 30 2e       0.
	rst3			;; 2a62: df          .
	db	87h
	rst4			;; 2a64: e7          .
	db	87h
	push	hl		;; 2a66: e5          .
	push	bc		;; 2a67: c5          .
	ld	hl,(L1d52)	;; 2a68: 2a 52 1d    *R.
	rst4			;; 2a6b: e7          .
	db	87h
	call	L87f6		;; 2a6d: cd f6 87    ...
	push	hl		;; 2a70: e5          .
	push	bc		;; 2a71: c5          .
	ld	a,(L1d54)	;; 2a72: 3a 54 1d    :T.
	rst4			;; 2a75: e7          .
	db	86h
	call	L855b		;; 2a77: cd 5b 85    .[.
	ld	a,c		;; 2a7a: 79          y
	ld	(ix-125),a	;; 2a7b: dd 77 83    .w.
	rst3			;; 2a7e: df          .
	db	87h
	rst4			;; 2a80: e7          .
	db	87h
	push	hl		;; 2a82: e5          .
	push	bc		;; 2a83: c5          .
	ld	a,(ix-125)	;; 2a84: dd 7e 83    .~.
	rst4			;; 2a87: e7          .
	db	86h
	call	L87f6		;; 2a89: cd f6 87    ...
	ld	h,b		;; 2a8c: 60          `
	ld	l,c		;; 2a8d: 69          i
	rst3			;; 2a8e: df          .
	db	7
L2a90:	ld	a,(ix-117)	;; 2a90: dd 7e 8b    .~.
	cp	a,(ix-122)	;; 2a93: dd be 86    ...
	call	L8c09		;; 2a96: cd 09 8c    ...
	push	af		;; 2a99: f5          .
	ld	l,(ix-117)	;; 2a9a: dd 6e 8b    .n.
	ld	h,000h		;; 2a9d: 26 00       &.
	add	hl,hl		;; 2a9f: 29          )
	ld	de,L1cf4	;; 2aa0: 11 f4 1c    ...
	add	hl,de		;; 2aa3: 19          .
	push	hl		;; 2aa4: e5          .
	ld	a,(ix-117)	;; 2aa5: dd 7e 8b    .~.
	dec	a		;; 2aa8: 3d          =
	ld	l,a		;; 2aa9: 6f          o
	ld	h,000h		;; 2aaa: 26 00       &.
	add	hl,hl		;; 2aac: 29          )
	ld	de,L1cf4	;; 2aad: 11 f4 1c    ...
	add	hl,de		;; 2ab0: 19          .
	ld	c,(hl)		;; 2ab1: 4e          N
	inc	hl		;; 2ab2: 23          #
	ld	b,(hl)		;; 2ab3: 46          F
	pop	hl		;; 2ab4: e1          .
	rst4			;; 2ab5: e7          .
	db	80h
	or	a,a		;; 2ab7: b7          .
	sbc	hl,bc		;; 2ab8: ed 42       .B
	call	L8c0e		;; 2aba: cd 0e 8c    ...
	ld	b,a		;; 2abd: 47          G
	pop	af		;; 2abe: f1          .
	or	a,b		;; 2abf: b0          .
	rra			;; 2ac0: 1f          .
	jr	nc,L2acf	;; 2ac1: 30 0c       0.
	rst3			;; 2ac3: df          .
	db	87h
	push	hl		;; 2ac5: e5          .
	call	L5e78		;; 2ac6: cd 78 5e    .x^
	push	hl		;; 2ac9: e5          .
	call	L6760		;; 2aca: cd 60 67    .`g
	jr	L2b33		;; 2acd: 18 64       .d

L2acf:	ld	hl,L1d40	;; 2acf: 21 40 1d    .@.
	ld	(hl),000h	;; 2ad2: 36 00       6.
	ld	a,(ix-117)	;; 2ad4: dd 7e 8b    .~.
	ld	(ix-124),a	;; 2ad7: dd 77 84    .w.
L2ada:	ld	a,(ix-123)	;; 2ada: dd 7e 85    .~.
	cp	a,(ix-124)	;; 2add: dd be 84    ...
	ld	a,000h		;; 2ae0: 3e 00       >.
	ccf			;; 2ae2: 3f          ?
	rla			;; 2ae3: 17          .
	push	af		;; 2ae4: f5          .
	ld	a,(L1d40)	;; 2ae5: 3a 40 1d    :@.
	xor	a,001h		;; 2ae8: ee 01       ..
	ld	b,a		;; 2aea: 47          G
	pop	af		;; 2aeb: f1          .
	and	a,b		;; 2aec: a0          .
	rra			;; 2aed: 1f          .
	jr	nc,L2b21	;; 2aee: 30 31       01
	ld	l,(ix-124)	;; 2af0: dd 6e 84    .n.
	ld	h,000h		;; 2af3: 26 00       &.
	add	hl,hl		;; 2af5: 29          )
	ld	de,L1c90	;; 2af6: 11 90 1c    ...
	add	hl,de		;; 2af9: 19          .
	rst4			;; 2afa: e7          .
	db	80h
	push	hl		;; 2afc: e5          .
	call	L6760		;; 2afd: cd 60 67    .`g
	ld	a,(L1d40)	;; 2b00: 3a 40 1d    :@.
	xor	a,001h		;; 2b03: ee 01       ..
	rra			;; 2b05: 1f          .
	jr	nc,L2b18	;; 2b06: 30 10       0.
	ld	l,(ix-124)	;; 2b08: dd 6e 84    .n.
	ld	h,000h		;; 2b0b: 26 00       &.
	add	hl,hl		;; 2b0d: 29          )
	ld	de,L1c5e	;; 2b0e: 11 5e 1c    .^.
	add	hl,de		;; 2b11: 19          .
	rst4			;; 2b12: e7          .
	db	80h
	push	hl		;; 2b14: e5          .
	call	L6760		;; 2b15: cd 60 67    .`g
L2b18:	ld	a,(ix-124)	;; 2b18: dd 7e 84    .~.
	inc	a		;; 2b1b: 3c          <
	ld	(ix-124),a	;; 2b1c: dd 77 84    .w.
	jr	L2ada		;; 2b1f: 18 b9       ..

L2b21:	ld	a,(L1d40)	;; 2b21: 3a 40 1d    :@.
	xor	a,001h		;; 2b24: ee 01       ..
	rra			;; 2b26: 1f          .
	jr	nc,L2b33	;; 2b27: 30 0a       0.
	rst3			;; 2b29: df          .
	db	87h
	push	hl		;; 2b2b: e5          .
	call	L5ebd		;; 2b2c: cd bd 5e    ..^
	push	hl		;; 2b2f: e5          .
	call	L6760		;; 2b30: cd 60 67    .`g
L2b33:	ld	a,(ix-123)	;; 2b33: dd 7e 85    .~.
	ld	b,a		;; 2b36: 47          G
	ld	a,(ix-117)	;; 2b37: dd 7e 8b    .~.
	call	L894e		;; 2b3a: cd 4e 89    .N.
	ld	(ix-126),b	;; 2b3d: dd 70 82    .p.
	jr	c,L2bae		;; 2b40: 38 6c       8l
L2b42:	ld	(ix-119),a	;; 2b42: dd 77 89    .w.
	ld	l,a		;; 2b45: 6f          o
	ld	h,000h		;; 2b46: 26 00       &.
	add	hl,hl		;; 2b48: 29          )
	ld	de,L1cf4	;; 2b49: 11 f4 1c    ...
	add	hl,de		;; 2b4c: 19          .
	push	hl		;; 2b4d: e5          .
	ld	l,(ix-121)	;; 2b4e: dd 6e 87    .n.
	ld	h,(ix-120)	;; 2b51: dd 66 88    .f.
	rst4			;; 2b54: e7          .
	db	81h
	ld	l,(ix-119)	;; 2b56: dd 6e 89    .n.
	ld	h,000h		;; 2b59: 26 00       &.
	add	hl,hl		;; 2b5b: 29          )
	ld	de,L1cc2	;; 2b5c: 11 c2 1c    ...
	add	hl,de		;; 2b5f: 19          .
	push	hl		;; 2b60: e5          .
	ld	l,(ix-121)	;; 2b61: dd 6e 87    .n.
	ld	h,(ix-120)	;; 2b64: dd 66 88    .f.
	rst4			;; 2b67: e7          .
	db	81h
	ld	l,(ix-119)	;; 2b69: dd 6e 89    .n.
	ld	h,000h		;; 2b6c: 26 00       &.
	add	hl,hl		;; 2b6e: 29          )
	ld	de,L1c90	;; 2b6f: 11 90 1c    ...
	add	hl,de		;; 2b72: 19          .
	ld	(hl),000h	;; 2b73: 36 00       6.
	inc	hl		;; 2b75: 23          #
	ld	(hl),000h	;; 2b76: 36 00       6.
	ld	l,(ix-119)	;; 2b78: dd 6e 89    .n.
	ld	h,000h		;; 2b7b: 26 00       &.
	add	hl,hl		;; 2b7d: 29          )
	ld	de,L1c5e	;; 2b7e: 11 5e 1c    .^.
	add	hl,de		;; 2b81: 19          .
	ld	(hl),000h	;; 2b82: 36 00       6.
	inc	hl		;; 2b84: 23          #
	ld	(hl),000h	;; 2b85: 36 00       6.
	ld	l,(ix-119)	;; 2b87: dd 6e 89    .n.
	ld	h,000h		;; 2b8a: 26 00       &.
	ld	de,L1d26	;; 2b8c: 11 26 1d    .&.
	add	hl,de		;; 2b8f: 19          .
	ld	(hl),020h	;; 2b90: 36 20       6 
	ld	hl,0ff87h	;; 2b92: 21 87 ff    ...
	rst2			;; 2b95: d7          .
	push	hl		;; 2b96: e5          .
	call	L25ce		;; 2b97: cd ce 25    ..%
	ld	a,(L02e3)	;; 2b9a: 3a e3 02    :..
	cp	a,(ix-123)	;; 2b9d: dd be 85    ...
	jr	nc,L2ba5	;; 2ba0: 30 03       0.
	call	L0c91		;; 2ba2: cd 91 0c    ...
L2ba5:	ld	a,(ix-119)	;; 2ba5: dd 7e 89    .~.
	inc	a		;; 2ba8: 3c          <
	dec	(ix-126)	;; 2ba9: dd 35 82    .5.
	jr	nz,L2b42	;; 2bac: 20 94        .
L2bae:	ld	a,(L02e5)	;; 2bae: 3a e5 02    :..
	ld	l,a		;; 2bb1: 6f          o
	ld	h,000h		;; 2bb2: 26 00       &.
	add	hl,hl		;; 2bb4: 29          )
	ld	de,L1cf4	;; 2bb5: 11 f4 1c    ...
	add	hl,de		;; 2bb8: 19          .
	rst4			;; 2bb9: e7          .
	db	80h
	ld	(L1787),hl	;; 2bbb: 22 87 17    "..
	call	L1b50		;; 2bbe: cd 50 1b    .P.
	ld	hl,L1d50	;; 2bc1: 21 50 1d    .P.
	ld	(hl),000h	;; 2bc4: 36 00       6.
	call	L1e32		;; 2bc6: cd 32 1e    .2.
	jp	L8d56		;; 2bc9: c3 56 8d    .V.

L2bcc:	call	L8d27		;; 2bcc: cd 27 8d    .'.
	db	0ffh,9
	ld	a,(L02ea)	;; 2bd1: 3a ea 02    :..
	ld	(ix-126),a	;; 2bd4: dd 77 82    .w.
	ld	a,(ix-124)	;; 2bd7: dd 7e 84    .~.
	ld	hl,L02e8	;; 2bda: 21 e8 02    ...
	cp	a,(hl)		;; 2bdd: be          .
	jr	c,L2be6		;; 2bde: 38 06       8.
	ld	a,(L02e8)	;; 2be0: 3a e8 02    :..
	ld	(ix-126),a	;; 2be3: dd 77 82    .w.
L2be6:	ld	a,(ix-126)	;; 2be6: dd 7e 82    .~.
	cp	a,(ix-124)	;; 2be9: dd be 84    ...
	ld	a,000h		;; 2bec: 3e 00       >.
	rla			;; 2bee: 17          .
	push	af		;; 2bef: f5          .
	ld	a,(ix-124)	;; 2bf0: dd 7e 84    .~.
	dec	a		;; 2bf3: 3d          =
	ld	l,a		;; 2bf4: 6f          o
	ld	h,000h		;; 2bf5: 26 00       &.
	add	hl,hl		;; 2bf7: 29          )
	ld	de,L1cf4	;; 2bf8: 11 f4 1c    ...
	add	hl,de		;; 2bfb: 19          .
	push	hl		;; 2bfc: e5          .
	ld	l,(ix-124)	;; 2bfd: dd 6e 84    .n.
	ld	h,000h		;; 2c00: 26 00       &.
	add	hl,hl		;; 2c02: 29          )
	ld	de,L1cf4	;; 2c03: 11 f4 1c    ...
	add	hl,de		;; 2c06: 19          .
	ld	c,(hl)		;; 2c07: 4e          N
	inc	hl		;; 2c08: 23          #
	ld	b,(hl)		;; 2c09: 46          F
	pop	hl		;; 2c0a: e1          .
	rst4			;; 2c0b: e7          .
	db	80h
	or	a,a		;; 2c0d: b7          .
	sbc	hl,bc		;; 2c0e: ed 42       .B
	call	L8c09		;; 2c10: cd 09 8c    ...
	ld	b,a		;; 2c13: 47          G
	pop	af		;; 2c14: f1          .
	and	a,b		;; 2c15: a0          .
	rra			;; 2c16: 1f          .
	jr	nc,L2c22	;; 2c17: 30 09       0.
	ld	a,(ix-124)	;; 2c19: dd 7e 84    .~.
	dec	a		;; 2c1c: 3d          =
	ld	(ix-124),a	;; 2c1d: dd 77 84    .w.
	jr	L2be6		;; 2c20: 18 c4       ..

L2c22:	ld	a,(L1c5b)	;; 2c22: 3a 5b 1c    :[.
	cp	a,(ix-126)	;; 2c25: dd be 82    ...
	jr	c,L2c34		;; 2c28: 38 0a       8.
	ld	a,(ix-126)	;; 2c2a: dd 7e 82    .~.
	ld	(ix-124),a	;; 2c2d: dd 77 84    .w.
	dec	a		;; 2c30: 3d          =
	ld	(L1c5b),a	;; 2c31: 32 5b 1c    2[.
L2c34:	ld	a,(ix-124)	;; 2c34: dd 7e 84    .~.
	push	af		;; 2c37: f5          .
	call	L29df		;; 2c38: cd df 29    ..)
	jp	L8d56		;; 2c3b: c3 56 8d    .V.

L2c3e:	call	L8d27		;; 2c3e: cd 27 8d    .'.
	db	0,6
	ld	a,(L02ea)	;; 2c43: 3a ea 02    :..
	push	af		;; 2c46: f5          .
	call	L29df		;; 2c47: cd df 29    ..)
	ld	hl,L1d3f	;; 2c4a: 21 3f 1d    .?.
	ld	(hl),000h	;; 2c4d: 36 00       6.
	jp	L8d56		;; 2c4f: c3 56 8d    .V.

L2c52:	call	L8d27		;; 2c52: cd 27 8d    .'.
	db	0f4h,12h
	ld	a,(L02e9)	;; 2c57: 3a e9 02    :..
	ld	hl,L02e4	;; 2c5a: 21 e4 02    ...
	cp	a,(hl)		;; 2c5d: be          .
	jp	nc,L2ec6	;; 2c5e: d2 c6 2e    ...
	ld	bc,0fffeh	;; 2c61: 01 fe ff    ...
	ld	a,(L02e8)	;; 2c64: 3a e8 02    :..
	ld	l,a		;; 2c67: 6f          o
	ld	h,000h		;; 2c68: 26 00       &.
	add	hl,bc		;; 2c6a: 09          .
	push	hl		;; 2c6b: e5          .
	ld	a,(L02e9)	;; 2c6c: 3a e9 02    :..
	ld	c,a		;; 2c6f: 4f          O
	ld	b,000h		;; 2c70: 06 00       ..
	pop	hl		;; 2c72: e1          .
	or	a,a		;; 2c73: b7          .
	sbc	hl,bc		;; 2c74: ed 42       .B
	call	pe,L8c01	;; 2c76: ec 01 8c    ...
	call	L8c18		;; 2c79: cd 18 8c    ...
	push	af		;; 2c7c: f5          .
	ld	a,(L02e8)	;; 2c7d: 3a e8 02    :..
	dec	a		;; 2c80: 3d          =
	ld	b,a		;; 2c81: 47          G
	ld	a,(L1d57)	;; 2c82: 3a 57 1d    :W.
	cp	a,b		;; 2c85: b8          .
	call	L8c0e		;; 2c86: cd 0e 8c    ...
	ld	b,a		;; 2c89: 47          G
	pop	af		;; 2c8a: f1          .
	and	a,b		;; 2c8b: a0          .
	rra			;; 2c8c: 1f          .
	jr	nc,L2cf4	;; 2c8d: 30 65       0e
	ld	a,(L02e8)	;; 2c8f: 3a e8 02    :..
	dec	a		;; 2c92: 3d          =
	ld	(L1d57),a	;; 2c93: 32 57 1d    2W.
	push	af		;; 2c96: f5          .
	call	L0953		;; 2c97: cd 53 09    .S.
	ld	a,004h		;; 2c9a: 3e 04       >.
	push	af		;; 2c9c: f5          .
	call	L0771		;; 2c9d: cd 71 07    .q.
	ld	a,000h		;; 2ca0: 3e 00       >.
	ld	(ix-125),002h	;; 2ca2: dd 36 83 02 .6..
L2ca6:	ld	(ix-119),a	;; 2ca6: dd 77 89    .w.
	call	L0799		;; 2ca9: cd 99 07    ...
	ld	a,000h		;; 2cac: 3e 00       >.
	ld	(ix-126),010h	;; 2cae: dd 36 82 10 .6..
L2cb2:	ld	(ix-120),a	;; 2cb2: dd 77 88    .w.
	and	a,007h		;; 2cb5: e6 07       ..
	or	a,a		;; 2cb7: b7          .
	call	L8c09		;; 2cb8: cd 09 8c    ...
	push	af		;; 2cbb: f5          .
	ld	a,(ix-119)	;; 2cbc: dd 7e 89    .~.
	or	a,a		;; 2cbf: b7          .
	call	L8c09		;; 2cc0: cd 09 8c    ...
	ld	b,a		;; 2cc3: 47          G
	pop	af		;; 2cc4: f1          .
	and	a,b		;; 2cc5: a0          .
	rra			;; 2cc6: 1f          .
	jr	nc,L2ccc	;; 2cc7: 30 03       0.
	call	L0799		;; 2cc9: cd 99 07    ...
L2ccc:	ld	a,(ix-120)	;; 2ccc: dd 7e 88    .~.
	push	af		;; 2ccf: f5          .
	call	L5400		;; 2cd0: cd 00 54    ..T
	ld	a,(ix-119)	;; 2cd3: dd 7e 89    .~.
	or	a,a		;; 2cd6: b7          .
	jr	nz,L2cdf	;; 2cd7: 20 06        .
	call	L0799		;; 2cd9: cd 99 07    ...
	call	L0799		;; 2cdc: cd 99 07    ...
L2cdf:	ld	a,(ix-120)	;; 2cdf: dd 7e 88    .~.
	inc	a		;; 2ce2: 3c          <
	dec	(ix-126)	;; 2ce3: dd 35 82    .5.
	jr	nz,L2cb2	;; 2ce6: 20 ca        .
	ld	a,(ix-119)	;; 2ce8: dd 7e 89    .~.
	inc	a		;; 2ceb: 3c          <
	dec	(ix-125)	;; 2cec: dd 35 83    .5.
	jr	nz,L2ca6	;; 2cef: 20 b5        .
	call	L0977		;; 2cf1: cd 77 09    .w.
L2cf4:	ld	hl,(L1789)	;; 2cf4: 2a 89 17    *..
	ld	(ix-116),l	;; 2cf7: dd 75 8c    .u.
	ld	(ix-115),h	;; 2cfa: dd 74 8d    .t.
	ld	bc,(L104c)	;; 2cfd: ed 4b 4c 10 .KL.
	ld	hl,(L104e)	;; 2d01: 2a 4e 10    *N.
	push	hl		;; 2d04: e5          .
	push	bc		;; 2d05: c5          .
	ld	a,(L02e8)	;; 2d06: 3a e8 02    :..
	ld	c,a		;; 2d09: 4f          O
	ld	b,000h		;; 2d0a: 06 00       ..
	ld	a,(L02e7)	;; 2d0c: 3a e7 02    :..
	ld	l,a		;; 2d0f: 6f          o
	ld	h,000h		;; 2d10: 26 00       &.
	or	a,a		;; 2d12: b7          .
	sbc	hl,bc		;; 2d13: ed 42       .B
	inc	hl		;; 2d15: 23          #
	push	hl		;; 2d16: e5          .
	ld	hl,00010h	;; 2d17: 21 10 00    ...
	call	L8791		;; 2d1a: cd 91 87    ...
	call	L87f6		;; 2d1d: cd f6 87    ...
	call	L8852		;; 2d20: cd 52 88    .R.
	ld	h,b		;; 2d23: 60          `
	ld	l,c		;; 2d24: 69          i
	ld	(ix-124),l	;; 2d25: dd 75 84    .u.
	ld	(ix-123),h	;; 2d28: dd 74 85    .t.
	ld	c,(ix-116)	;; 2d2b: dd 4e 8c    .N.
	ld	b,(ix-115)	;; 2d2e: dd 46 8d    .F.
	ld	l,(ix-124)	;; 2d31: dd 6e 84    .n.
	ld	h,(ix-123)	;; 2d34: dd 66 85    .f.
	or	a,a		;; 2d37: b7          .
	sbc	hl,bc		;; 2d38: ed 42       .B
	jr	nc,L2d48	;; 2d3a: 30 0c       0.
	ld	l,(ix-124)	;; 2d3c: dd 6e 84    .n.
	ld	h,(ix-123)	;; 2d3f: dd 66 85    .f.
	ld	(ix-116),l	;; 2d42: dd 75 8c    .u.
	ld	(ix-115),h	;; 2d45: dd 74 8d    .t.
L2d48:	ld	l,(ix-116)	;; 2d48: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2d4b: dd 66 8d    .f.
	ld	a,l		;; 2d4e: 7d          }
	and	a,00fh		;; 2d4f: e6 0f       ..
	ld	c,a		;; 2d51: 4f          O
	rla			;; 2d52: 17          .
	sbc	a,a		;; 2d53: 9f          .
	ld	b,a		;; 2d54: 47          G
	ld	l,(ix-116)	;; 2d55: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2d58: dd 66 8d    .f.
	or	a,a		;; 2d5b: b7          .
	sbc	hl,bc		;; 2d5c: ed 42       .B
	ld	(ix-116),l	;; 2d5e: dd 75 8c    .u.
	ld	(ix-115),h	;; 2d61: dd 74 8d    .t.
	ld	a,(L02e8)	;; 2d64: 3a e8 02    :..
	dec	a		;; 2d67: 3d          =
	push	af		;; 2d68: f5          .
	call	L0953		;; 2d69: cd 53 09    .S.
L2d6c:	ld	a,(L02e3)	;; 2d6c: 3a e3 02    :..
	ld	hl,L02e7	;; 2d6f: 21 e7 02    ...
	cp	a,(hl)		;; 2d72: be          .
	jp	nc,L2ec6	;; 2d73: d2 c6 2e    ...
	call	L0c91		;; 2d76: cd 91 0c    ...
	ld	l,(ix-116)	;; 2d79: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2d7c: dd 66 8d    .f.
	push	hl		;; 2d7f: e5          .
	call	L5428		;; 2d80: cd 28 54    .(T
	call	L0799		;; 2d83: cd 99 07    ...
	ld	l,(ix-116)	;; 2d86: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2d89: dd 66 8d    .f.
	ld	(ix-118),l	;; 2d8c: dd 75 8a    .u.
	ld	(ix-117),h	;; 2d8f: dd 74 8b    .t.
	ld	a,(L02e3)	;; 2d92: 3a e3 02    :..
	ld	l,a		;; 2d95: 6f          o
	ld	h,000h		;; 2d96: 26 00       &.
	add	hl,hl		;; 2d98: 29          )
	ld	de,L1cf4	;; 2d99: 11 f4 1c    ...
	add	hl,de		;; 2d9c: 19          .
	push	hl		;; 2d9d: e5          .
	ld	l,(ix-116)	;; 2d9e: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2da1: dd 66 8d    .f.
	rst4			;; 2da4: e7          .
	db	81h
	ld	a,(L02e3)	;; 2da6: 3a e3 02    :..
	ld	l,a		;; 2da9: 6f          o
	ld	h,000h		;; 2daa: 26 00       &.
	add	hl,hl		;; 2dac: 29          )
	ld	de,L1cc2	;; 2dad: 11 c2 1c    ...
	add	hl,de		;; 2db0: 19          .
	push	hl		;; 2db1: e5          .
	ld	l,(ix-116)	;; 2db2: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2db5: dd 66 8d    .f.
	rst4			;; 2db8: e7          .
	db	81h
	ld	a,(L02e3)	;; 2dba: 3a e3 02    :..
	ld	l,a		;; 2dbd: 6f          o
	ld	h,000h		;; 2dbe: 26 00       &.
	add	hl,hl		;; 2dc0: 29          )
	ld	de,L1c90	;; 2dc1: 11 90 1c    ...
	add	hl,de		;; 2dc4: 19          .
	ld	(hl),000h	;; 2dc5: 36 00       6.
	inc	hl		;; 2dc7: 23          #
	ld	(hl),000h	;; 2dc8: 36 00       6.
	ld	a,(L02e3)	;; 2dca: 3a e3 02    :..
	ld	l,a		;; 2dcd: 6f          o
	ld	h,000h		;; 2dce: 26 00       &.
	add	hl,hl		;; 2dd0: 29          )
	ld	de,L1c5e	;; 2dd1: 11 5e 1c    .^.
	add	hl,de		;; 2dd4: 19          .
	ld	(hl),000h	;; 2dd5: 36 00       6.
	inc	hl		;; 2dd7: 23          #
	ld	(hl),000h	;; 2dd8: 36 00       6.
	ld	a,(L02e3)	;; 2dda: 3a e3 02    :..
	ld	l,a		;; 2ddd: 6f          o
	ld	h,000h		;; 2dde: 26 00       &.
	ld	de,L1d26	;; 2de0: 11 26 1d    .&.
	add	hl,de		;; 2de3: 19          .
	ld	(hl),020h	;; 2de4: 36 20       6 
	ld	a,000h		;; 2de6: 3e 00       >.
	ld	(ix-125),010h	;; 2de8: dd 36 83 10 .6..
L2dec:	ld	(ix-120),a	;; 2dec: dd 77 88    .w.
	cp	a,008h		;; 2def: fe 08       ..
	jr	nz,L2df6	;; 2df1: 20 03        .
	call	L0799		;; 2df3: cd 99 07    ...
L2df6:	call	L0799		;; 2df6: cd 99 07    ...
	ld	l,(ix-116)	;; 2df9: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2dfc: dd 66 8d    .f.
	push	hl		;; 2dff: e5          .
	call	L10d3		;; 2e00: cd d3 10    ...
	rra			;; 2e03: 1f          .
	jr	nc,L2e0e	;; 2e04: 30 08       0.
	call	L0799		;; 2e06: cd 99 07    ...
	call	L0799		;; 2e09: cd 99 07    ...
	jr	L2e1c		;; 2e0c: 18 0e       ..

L2e0e:	ld	l,(ix-116)	;; 2e0e: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2e11: dd 66 8d    .f.
	push	hl		;; 2e14: e5          .
	call	L1355		;; 2e15: cd 55 13    .U.
	push	af		;; 2e18: f5          .
	call	L5412		;; 2e19: cd 12 54    ..T
L2e1c:	ld	l,(ix-116)	;; 2e1c: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2e1f: dd 66 8d    .f.
	inc	hl		;; 2e22: 23          #
	ld	(ix-116),l	;; 2e23: dd 75 8c    .u.
	ld	(ix-115),h	;; 2e26: dd 74 8d    .t.
	ld	a,(ix-120)	;; 2e29: dd 7e 88    .~.
	inc	a		;; 2e2c: 3c          <
	dec	(ix-125)	;; 2e2d: dd 35 83    .5.
	jr	nz,L2dec	;; 2e30: 20 ba        .
	call	L0799		;; 2e32: cd 99 07    ...
	call	L0799		;; 2e35: cd 99 07    ...
	ld	l,(ix-118)	;; 2e38: dd 6e 8a    .n.
	ld	h,(ix-117)	;; 2e3b: dd 66 8b    .f.
	ld	(ix-116),l	;; 2e3e: dd 75 8c    .u.
	ld	(ix-115),h	;; 2e41: dd 74 8d    .t.
	ld	a,000h		;; 2e44: 3e 00       >.
	ld	(ix-125),010h	;; 2e46: dd 36 83 10 .6..
L2e4a:	ld	(ix-120),a	;; 2e4a: dd 77 88    .w.
	ld	l,(ix-116)	;; 2e4d: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2e50: dd 66 8d    .f.
	push	hl		;; 2e53: e5          .
	call	L10d3		;; 2e54: cd d3 10    ...
	rra			;; 2e57: 1f          .
	jr	nc,L2e60	;; 2e58: 30 06       0.
	ld	(ix-121),020h	;; 2e5a: dd 36 87 20 .6. 
	jr	L2e6d		;; 2e5e: 18 0d       ..

L2e60:	ld	l,(ix-116)	;; 2e60: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2e63: dd 66 8d    .f.
	push	hl		;; 2e66: e5          .
	call	L1355		;; 2e67: cd 55 13    .U.
	ld	(ix-121),a	;; 2e6a: dd 77 87    .w.
L2e6d:	ld	a,(ix-121)	;; 2e6d: dd 7e 87    .~.
	push	af		;; 2e70: f5          .
	ld	a,(L0183)	;; 2e71: 3a 83 01    :..
	push	af		;; 2e74: f5          .
	call	L72f2		;; 2e75: cd f2 72    ..r
	ld	(ix-122),a	;; 2e78: dd 77 86    .w.
	cp	a,020h		;; 2e7b: fe 20       . 
	ld	a,000h		;; 2e7d: 3e 00       >.
	ccf			;; 2e7f: 3f          ?
	rla			;; 2e80: 17          .
	push	af		;; 2e81: f5          .
	ld	a,(ix-122)	;; 2e82: dd 7e 86    .~.
	ld	hl,L0185	;; 2e85: 21 85 01    ...
	cp	a,(hl)		;; 2e88: be          .
	ld	a,000h		;; 2e89: 3e 00       >.
	rla			;; 2e8b: 17          .
	ld	b,a		;; 2e8c: 47          G
	pop	af		;; 2e8d: f1          .
	and	a,b		;; 2e8e: a0          .
	rra			;; 2e8f: 1f          .
	jr	nc,L2ea3	;; 2e90: 30 11       0.
	ld	a,(ix-121)	;; 2e92: dd 7e 87    .~.
	push	af		;; 2e95: f5          .
	ld	a,(L0184)	;; 2e96: 3a 84 01    :..
	push	af		;; 2e99: f5          .
	call	L72f2		;; 2e9a: cd f2 72    ..r
	push	af		;; 2e9d: f5          .
	call	L0597		;; 2e9e: cd 97 05    ...
	jr	L2eaa		;; 2ea1: 18 07       ..

L2ea3:	ld	a,(L0186)	;; 2ea3: 3a 86 01    :..
	push	af		;; 2ea6: f5          .
	call	L0597		;; 2ea7: cd 97 05    ...
L2eaa:	ld	l,(ix-116)	;; 2eaa: dd 6e 8c    .n.
	ld	h,(ix-115)	;; 2ead: dd 66 8d    .f.
	inc	hl		;; 2eb0: 23          #
	ld	(ix-116),l	;; 2eb1: dd 75 8c    .u.
	ld	(ix-115),h	;; 2eb4: dd 74 8d    .t.
	ld	a,(ix-120)	;; 2eb7: dd 7e 88    .~.
	inc	a		;; 2eba: 3c          <
	dec	(ix-125)	;; 2ebb: dd 35 83    .5.
	jr	nz,L2e4a	;; 2ebe: 20 8a        .
	call	L0977		;; 2ec0: cd 77 09    .w.
	jp	L2d6c		;; 2ec3: c3 6c 2d    .l-

L2ec6:	ld	a,(L02e5)	;; 2ec6: 3a e5 02    :..
	ld	l,a		;; 2ec9: 6f          o
	ld	h,000h		;; 2eca: 26 00       &.
	add	hl,hl		;; 2ecc: 29          )
	ld	de,L1cf4	;; 2ecd: 11 f4 1c    ...
	add	hl,de		;; 2ed0: 19          .
	rst4			;; 2ed1: e7          .
	db	80h
	ld	(L1787),hl	;; 2ed3: 22 87 17    "..
	ld	hl,(L1d58)	;; 2ed6: 2a 58 1d    *X.
	ld	(L1d5a),hl	;; 2ed9: 22 5a 1d    "Z.
	jp	L8d56		;; 2edc: c3 56 8d    .V.

L2edf:	call	L8d27		;; 2edf: cd 27 8d    .'.
	db	0f9h,11h
	ld	hl,(L1d58)	;; 2ee4: 2a 58 1d    *X.
	ld	(ix-121),l	;; 2ee7: dd 75 87    .u.
	ld	(ix-120),h	;; 2eea: dd 74 88    .t.
	ld	(ix-126),000h	;; 2eed: dd 36 82 00 .6..
L2ef1:	ld	bc,(L1d5a)	;; 2ef1: ed 4b 5a 1d .KZ.
	ld	l,(ix-121)	;; 2ef5: dd 6e 87    .n.
	ld	h,(ix-120)	;; 2ef8: dd 66 88    .f.
	or	a,a		;; 2efb: b7          .
	sbc	hl,bc		;; 2efc: ed 42       .B
	jp	nc,L301c	;; 2efe: d2 1c 30    ..0
	ld	a,(L02e8)	;; 2f01: 3a e8 02    :..
	ld	(ix-122),a	;; 2f04: dd 77 86    .w.
L2f07:	ld	a,(L02e7)	;; 2f07: 3a e7 02    :..
	cp	a,(ix-122)	;; 2f0a: dd be 86    ...
	jr	c,L2f32		;; 2f0d: 38 23       8#
	ld	l,(ix-122)	;; 2f0f: dd 6e 86    .n.
	ld	h,000h		;; 2f12: 26 00       &.
	add	hl,hl		;; 2f14: 29          )
	ld	de,L1cf4	;; 2f15: 11 f4 1c    ...
	add	hl,de		;; 2f18: 19          .
	ld	c,(hl)		;; 2f19: 4e          N
	inc	hl		;; 2f1a: 23          #
	ld	b,(hl)		;; 2f1b: 46          F
	ld	l,(ix-121)	;; 2f1c: dd 6e 87    .n.
	ld	h,(ix-120)	;; 2f1f: dd 66 88    .f.
	or	a,a		;; 2f22: b7          .
	sbc	hl,bc		;; 2f23: ed 42       .B
	jr	nc,L2f29	;; 2f25: 30 02       0.
	jr	L2f32		;; 2f27: 18 09       ..

L2f29:	ld	a,(ix-122)	;; 2f29: dd 7e 86    .~.
	inc	a		;; 2f2c: 3c          <
	ld	(ix-122),a	;; 2f2d: dd 77 86    .w.
	jr	L2f07		;; 2f30: 18 d5       ..

L2f32:	ld	a,(ix-122)	;; 2f32: dd 7e 86    .~.
	dec	a		;; 2f35: 3d          =
	ld	(ix-122),a	;; 2f36: dd 77 86    .w.
	ld	l,(ix-122)	;; 2f39: dd 6e 86    .n.
	ld	h,000h		;; 2f3c: 26 00       &.
	add	hl,hl		;; 2f3e: 29          )
	ld	de,L1cf4	;; 2f3f: 11 f4 1c    ...
	add	hl,de		;; 2f42: 19          .
	push	hl		;; 2f43: e5          .
	ld	l,(ix-121)	;; 2f44: dd 6e 87    .n.
	ld	h,(ix-120)	;; 2f47: dd 66 88    .f.
	rst4			;; 2f4a: e7          .
	db	87h
	pop	de		;; 2f4c: d1          .
	push	hl		;; 2f4d: e5          .
	push	bc		;; 2f4e: c5          .
	ex	de,hl		;; 2f4f: eb          .
	rst4			;; 2f50: e7          .
	db	80h
	rst4			;; 2f52: e7          .
	db	87h
	call	L87f6		;; 2f54: cd f6 87    ...
	ld	h,b		;; 2f57: 60          `
	ld	l,c		;; 2f58: 69          i
	ld	(ix-124),l	;; 2f59: dd 75 84    .u.
	ld	(ix-123),h	;; 2f5c: dd 74 85    .t.
	ld	bc,00010h	;; 2f5f: 01 10 00    ...
	or	a,a		;; 2f62: b7          .
	sbc	hl,bc		;; 2f63: ed 42       .B
	jr	c,L2f6a		;; 2f65: 38 03       8.
	jp	L301c		;; 2f67: c3 1c 30    ..0

L2f6a:	ld	a,(ix-118)	;; 2f6a: dd 7e 8a    .~.
	rra			;; 2f6d: 1f          .
	jr	nc,L2fa3	;; 2f6e: 30 33       03
	ld	l,(ix-124)	;; 2f70: dd 6e 84    .n.
	ld	h,(ix-123)	;; 2f73: dd 66 85    .f.
	push	hl		;; 2f76: e5          .
	ld	hl,00003h	;; 2f77: 21 03 00    ...
	call	L87b7		;; 2f7a: cd b7 87    ...
	push	hl		;; 2f7d: e5          .
	push	bc		;; 2f7e: c5          .
	ld	bc,00006h	;; 2f7f: 01 06 00    ...
	ld	hl,00000h	;; 2f82: 21 00 00    ...
	call	L87e7		;; 2f85: cd e7 87    ...
	ld	a,c		;; 2f88: 79          y
	ld	(ix-125),a	;; 2f89: dd 77 83    .w.
	ld	bc,00008h	;; 2f8c: 01 08 00    ...
	ld	l,(ix-124)	;; 2f8f: dd 6e 84    .n.
	ld	h,(ix-123)	;; 2f92: dd 66 85    .f.
	or	a,a		;; 2f95: b7          .
	sbc	hl,bc		;; 2f96: ed 42       .B
	jr	c,L2fa1		;; 2f98: 38 07       8.
	ld	a,(ix-125)	;; 2f9a: dd 7e 83    .~.
	inc	a		;; 2f9d: 3c          <
	ld	(ix-125),a	;; 2f9e: dd 77 83    .w.
L2fa1:	jr	L2fb1		;; 2fa1: 18 0e       ..

L2fa3:	ld	bc,00038h	;; 2fa3: 01 38 00    .8.
	ld	l,(ix-124)	;; 2fa6: dd 6e 84    .n.
	ld	h,(ix-123)	;; 2fa9: dd 66 85    .f.
	add	hl,bc		;; 2fac: 09          .
	ld	a,l		;; 2fad: 7d          }
	ld	(ix-125),a	;; 2fae: dd 77 83    .w.
L2fb1:	ld	a,(L02e3)	;; 2fb1: 3a e3 02    :..
	cp	a,(ix-122)	;; 2fb4: dd be 86    ...
	call	L8c09		;; 2fb7: cd 09 8c    ...
	and	a,(ix-126)	;; 2fba: dd a6 82    ...
	rra			;; 2fbd: 1f          .
	jr	nc,L2fd5	;; 2fbe: 30 15       0.
L2fc0:	ld	a,(L02ee)	;; 2fc0: 3a ee 02    :..
	cp	a,(ix-125)	;; 2fc3: dd be 83    ...
	jr	nc,L2fd3	;; 2fc6: 30 0b       0.
	ld	a,(ix-116)	;; 2fc8: dd 7e 8c    .~.
	add	a,020h		;; 2fcb: c6 20       . 
	push	af		;; 2fcd: f5          .
	call	L0597		;; 2fce: cd 97 05    ...
	jr	L2fc0		;; 2fd1: 18 ed       ..

L2fd3:	jr	L2fe4		;; 2fd3: 18 0f       ..

L2fd5:	ld	a,(ix-122)	;; 2fd5: dd 7e 86    .~.
	push	af		;; 2fd8: f5          .
	ld	a,(ix-125)	;; 2fd9: dd 7e 83    .~.
	push	af		;; 2fdc: f5          .
	call	L0889		;; 2fdd: cd 89 08    ...
	ld	(ix-126),001h	;; 2fe0: dd 36 82 01 .6..
L2fe4:	call	L050f		;; 2fe4: cd 0f 05    ...
	push	af		;; 2fe7: f5          .
	ld	a,07fh		;; 2fe8: 3e 7f       >.
	push	af		;; 2fea: f5          .
	call	L72f2		;; 2feb: cd f2 72    ..r
	add	a,(ix-116)	;; 2fee: dd 86 8c    ...
	push	af		;; 2ff1: f5          .
	call	L0597		;; 2ff2: cd 97 05    ...
	ld	a,(ix-118)	;; 2ff5: dd 7e 8a    .~.
	rra			;; 2ff8: 1f          .
	jr	nc,L300c	;; 2ff9: 30 11       0.
	call	L050f		;; 2ffb: cd 0f 05    ...
	push	af		;; 2ffe: f5          .
	ld	a,07fh		;; 2fff: 3e 7f       >.
	push	af		;; 3001: f5          .
	call	L72f2		;; 3002: cd f2 72    ..r
	add	a,(ix-116)	;; 3005: dd 86 8c    ...
	push	af		;; 3008: f5          .
	call	L0597		;; 3009: cd 97 05    ...
L300c:	ld	l,(ix-121)	;; 300c: dd 6e 87    .n.
	ld	h,(ix-120)	;; 300f: dd 66 88    .f.
	inc	hl		;; 3012: 23          #
	ld	(ix-121),l	;; 3013: dd 75 87    .u.
	ld	(ix-120),h	;; 3016: dd 74 88    .t.
	jp	L2ef1		;; 3019: c3 f1 2e    ...

L301c:	jp	L8d56		;; 301c: c3 56 8d    .V.

L301f:	call	L8d27		;; 301f: cd 27 8d    .'.
	db	0,8
	ld	a,(ix-125)	;; 3024: dd 7e 83    .~.
	push	af		;; 3027: f5          .
	ld	a,001h		;; 3028: 3e 01       >.
	push	af		;; 302a: f5          .
	call	L2edf		;; 302b: cd df 2e    ...
	ld	a,(L0188)	;; 302e: 3a 88 01    :..
	rra			;; 3031: 1f          .
	jr	nc,L303e	;; 3032: 30 0a       0.
	ld	a,(ix-125)	;; 3034: dd 7e 83    .~.
	push	af		;; 3037: f5          .
	ld	a,000h		;; 3038: 3e 00       >.
	push	af		;; 303a: f5          .
	call	L2edf		;; 303b: cd df 2e    ...
L303e:	jp	L8d56		;; 303e: c3 56 8d    .V.

L3041:	call	L8d27		;; 3041: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02e8)	;; 3046: 3a e8 02    :..
	dec	a		;; 3049: 3d          =
	ld	b,a		;; 304a: 47          G
	ld	a,(L02e7)	;; 304b: 3a e7 02    :..
	cp	a,b		;; 304e: b8          .
	ld	a,000h		;; 304f: 3e 00       >.
	ccf			;; 3051: 3f          ?
	rla			;; 3052: 17          .
	push	af		;; 3053: f5          .
	ld	a,(L1d57)	;; 3054: 3a 57 1d    :W.
	or	a,a		;; 3057: b7          .
	call	L8c0e		;; 3058: cd 0e 8c    ...
	ld	b,a		;; 305b: 47          G
	pop	af		;; 305c: f1          .
	and	a,b		;; 305d: a0          .
	ld	hl,L0187	;; 305e: 21 87 01    ...
	and	a,(hl)		;; 3061: a6          .
	rra			;; 3062: 1f          .
	jr	nc,L30c8	;; 3063: 30 63       0c
	ld	a,(L02e3)	;; 3065: 3a e3 02    :..
	ld	(ix-125),a	;; 3068: dd 77 83    .w.
	ld	a,(L02ee)	;; 306b: 3a ee 02    :..
	ld	(ix-126),a	;; 306e: dd 77 82    .w.
	ld	a,000h		;; 3071: 3e 00       >.
	push	af		;; 3073: f5          .
	call	L301f		;; 3074: cd 1f 30    ..0
	ld	l,(ix-125)	;; 3077: dd 6e 83    .n.
	ld	h,000h		;; 307a: 26 00       &.
	add	hl,hl		;; 307c: 29          )
	ld	de,L1cf4	;; 307d: 11 f4 1c    ...
	add	hl,de		;; 3080: 19          .
	rst4			;; 3081: e7          .
	db	80h
	ld	(L1d58),hl	;; 3083: 22 58 1d    "X.
	inc	hl		;; 3086: 23          #
	ld	(L1d5a),hl	;; 3087: 22 5a 1d    "Z.
	ld	a,(ix-125)	;; 308a: dd 7e 83    .~.
	ld	hl,L02e9	;; 308d: 21 e9 02    ...
	cp	a,(hl)		;; 3090: be          .
	jr	nc,L30a4	;; 3091: 30 11       0.
	ld	a,(ix-125)	;; 3093: dd 7e 83    .~.
	inc	a		;; 3096: 3c          <
	ld	l,a		;; 3097: 6f          o
	ld	h,000h		;; 3098: 26 00       &.
	add	hl,hl		;; 309a: 29          )
	ld	de,L1cf4	;; 309b: 11 f4 1c    ...
	add	hl,de		;; 309e: 19          .
	rst4			;; 309f: e7          .
	db	80h
	ld	(L1d5a),hl	;; 30a1: 22 5a 1d    "Z.
L30a4:	ld	bc,(L1d58)	;; 30a4: ed 4b 58 1d .KX.
	ld	hl,(L1d5a)	;; 30a8: 2a 5a 1d    *Z.
	or	a,a		;; 30ab: b7          .
	sbc	hl,bc		;; 30ac: ed 42       .B
	jr	nz,L30b7	;; 30ae: 20 07        .
	ld	hl,(L1d58)	;; 30b0: 2a 58 1d    *X.
	inc	hl		;; 30b3: 23          #
	ld	(L1d5a),hl	;; 30b4: 22 5a 1d    "Z.
L30b7:	ld	a,080h		;; 30b7: 3e 80       >.
	push	af		;; 30b9: f5          .
	call	L301f		;; 30ba: cd 1f 30    ..0
	ld	a,(ix-125)	;; 30bd: dd 7e 83    .~.
	push	af		;; 30c0: f5          .
	ld	a,(ix-126)	;; 30c1: dd 7e 82    .~.
	push	af		;; 30c4: f5          .
	call	L0889		;; 30c5: cd 89 08    ...
L30c8:	jp	L8d56		;; 30c8: c3 56 8d    .V.

L30cb:	call	L8d27		;; 30cb: cd 27 8d    .'.
	db	0fbh,0bh
	ld	a,(L02e8)	;; 30d0: 3a e8 02    :..
	ld	l,a		;; 30d3: 6f          o
	ld	h,000h		;; 30d4: 26 00       &.
	add	hl,hl		;; 30d6: 29          )
	ld	de,L1cf4	;; 30d7: 11 f4 1c    ...
	add	hl,de		;; 30da: 19          .
	rst4			;; 30db: e7          .
	db	80h
	ld	(ix-126),l	;; 30dd: dd 75 82    .u.
	ld	(ix-125),h	;; 30e0: dd 74 83    .t.
	ld	c,(ix-126)	;; 30e3: dd 4e 82    .N.
	ld	b,(ix-125)	;; 30e6: dd 46 83    .F.
	ld	hl,(L1789)	;; 30e9: 2a 89 17    *..
	or	a,a		;; 30ec: b7          .
	sbc	hl,bc		;; 30ed: ed 42       .B
	ld	a,000h		;; 30ef: 3e 00       >.
	rla			;; 30f1: 17          .
	push	af		;; 30f2: f5          .
	ld	a,(L02e1)	;; 30f3: 3a e1 02    :..
	cp	a,002h		;; 30f6: fe 02       ..
	call	L8c09		;; 30f8: cd 09 8c    ...
	ld	b,a		;; 30fb: 47          G
	pop	af		;; 30fc: f1          .
	or	a,b		;; 30fd: b0          .
	ld	(ix-122),a	;; 30fe: dd 77 86    .w.
	ld	a,(L02e7)	;; 3101: 3a e7 02    :..
	ld	l,a		;; 3104: 6f          o
	ld	h,000h		;; 3105: 26 00       &.
	add	hl,hl		;; 3107: 29          )
	ld	de,L1cf4	;; 3108: 11 f4 1c    ...
	add	hl,de		;; 310b: 19          .
	ld	bc,00010h	;; 310c: 01 10 00    ...
	rst4			;; 310f: e7          .
	db	80h
	add	hl,bc		;; 3111: 09          .
	ld	b,h		;; 3112: 44          D
	ld	c,l		;; 3113: 4d          M
	ld	hl,(L1787)	;; 3114: 2a 87 17    *..
	or	a,a		;; 3117: b7          .
	sbc	hl,bc		;; 3118: ed 42       .B
	ld	a,000h		;; 311a: 3e 00       >.
	ccf			;; 311c: 3f          ?
	rla			;; 311d: 17          .
	ld	(ix-123),a	;; 311e: dd 77 85    .w.
	ld	bc,00010h	;; 3121: 01 10 00    ...
	ld	l,(ix-126)	;; 3124: dd 6e 82    .n.
	ld	h,(ix-125)	;; 3127: dd 66 83    .f.
	add	hl,bc		;; 312a: 09          .
	ld	b,h		;; 312b: 44          D
	ld	c,l		;; 312c: 4d          M
	ld	hl,(L1789)	;; 312d: 2a 89 17    *..
	or	a,a		;; 3130: b7          .
	sbc	hl,bc		;; 3131: ed 42       .B
	ld	a,000h		;; 3133: 3e 00       >.
	ccf			;; 3135: 3f          ?
	rla			;; 3136: 17          .
	ld	(ix-124),a	;; 3137: dd 77 84    .w.
	ld	a,(ix-123)	;; 313a: dd 7e 85    .~.
	and	a,(ix-124)	;; 313d: dd a6 84    ...
	or	a,(ix-122)	;; 3140: dd b6 86    ...
	rra			;; 3143: 1f          .
	jr	nc,L3149	;; 3144: 30 03       0.
	call	L2c52		;; 3146: cd 52 2c    .R,
L3149:	jp	L8d56		;; 3149: c3 56 8d    .V.

L314c:	call	L8d27		;; 314c: cd 27 8d    .'.
	db	0,6
	ld	a,(L02e8)	;; 3151: 3a e8 02    :..
	ld	l,a		;; 3154: 6f          o
	ld	h,000h		;; 3155: 26 00       &.
	add	hl,hl		;; 3157: 29          )
	ld	de,L1cf4	;; 3158: 11 f4 1c    ...
	add	hl,de		;; 315b: 19          .
	ld	(hl),0ffh	;; 315c: 36 ff       6.
	inc	hl		;; 315e: 23          #
	ld	(hl),0ffh	;; 315f: 36 ff       6.
	ld	hl,L1d57	;; 3161: 21 57 1d    .W.
	ld	(hl),000h	;; 3164: 36 00       6.
	jp	L8d56		;; 3166: c3 56 8d    .V.

L3169:	db	0,0
L316b:	db	0,0
L316d:	db	0,0
L316f:	db	0
L3170:	db	0
L3171:	db	0
L3172:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0
L319a:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0
L31ae:	db	0
L31af:	db	0,0
L31b1:	db	0
L31b2:	db	0,0,0,0,0,0,0,0,0,0
L31bc:	db	0
L31bd:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0
L31f5:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0
L321e:	db	0
L321f:	db	0
L3220:	db	0
L3221:	db	0
L3222:	db	0
L3223:	db	0
L3224:	db	0
L3225:	db	0,0,0,0,0
L322a:	db	0
L322b:	db	0,0
L322d:	db	0
L322e:	call	L8d27		;; 322e: cd 27 8d    .'.
	db	0f5h,11h
	ld	hl,00000h	;; 3233: 21 00 00    ...
	rst3			;; 3236: df          .
	db	9
	ld	hl,00000h	;; 3238: 21 00 00    ...
	push	hl		;; 323b: e5          .
	call	L10d3		;; 323c: cd d3 10    ...
	rra			;; 323f: 1f          .
	jr	nc,L3247	;; 3240: 30 05       0.
	call	L115e		;; 3242: cd 5e 11    .^.
	rst3			;; 3245: df          .
	db	9
L3247:	ld	hl,0ff83h	;; 3247: 21 83 ff    ...
	rst2			;; 324a: d7          .
	push	hl		;; 324b: e5          .
	ld	hl,L1d43	;; 324c: 21 43 1d    .C.
	pop	de		;; 324f: d1          .
	ld	bc,00006h	;; 3250: 01 06 00    ...
	ldir			;; 3253: ed b0       ..
	ld	a,(L1d40)	;; 3255: 3a 40 1d    :@.
	ld	(ix-126),a	;; 3258: dd 77 82    .w.
	ld	hl,00000h	;; 325b: 21 00 00    ...
	push	hl		;; 325e: e5          .
	call	L5e78		;; 325f: cd 78 5e    .x^
	push	hl		;; 3262: e5          .
	call	L6760		;; 3263: cd 60 67    .`g
	rst3			;; 3266: df          .
	db	89h
	rst3			;; 3268: df          .
	db	0bh
	ld	bc,(L1d43)	;; 326a: ed 4b 43 1d .KC.
	rst3			;; 326e: df          .
	db	89h
	or	a,a		;; 3270: b7          .
	sbc	hl,bc		;; 3271: ed 42       .B
	ld	a,000h		;; 3273: 3e 00       >.
	ccf			;; 3275: 3f          ?
	rla			;; 3276: 17          .
	ld	hl,L1d40	;; 3277: 21 40 1d    .@.
	and	a,(hl)		;; 327a: a6          .
	rra			;; 327b: 1f          .
	jr	nc,L3283	;; 327c: 30 05       0.
	ld	hl,(L1d43)	;; 327e: 2a 43 1d    *C.
	rst3			;; 3281: df          .
	db	0bh
L3283:	ld	hl,0ff83h	;; 3283: 21 83 ff    ...
	rst2			;; 3286: d7          .
	ld	de,L1d43	;; 3287: 11 43 1d    .C.
	ld	bc,00006h	;; 328a: 01 06 00    ...
	ldir			;; 328d: ed b0       ..
	ld	a,(ix-126)	;; 328f: dd 7e 82    .~.
	ld	(L1d40),a	;; 3292: 32 40 1d    2@.
	rst3			;; 3295: df          .
	db	8bh
	jp	L8d56		;; 3297: c3 56 8d    .V.

L329a:	call	L8d27		;; 329a: cd 27 8d    .'.
	db	0fbh,0dh
	ld	a,(ix-120)	;; 329f: dd 7e 88    .~.
	ld	(ix-126),a	;; 32a2: dd 77 82    .w.
	ld	l,a		;; 32a5: 6f          o
	ld	h,000h		;; 32a6: 26 00       &.
	add	hl,hl		;; 32a8: 29          )
	ld	de,L1c90	;; 32a9: 11 90 1c    ...
	add	hl,de		;; 32ac: 19          .
	rst4			;; 32ad: e7          .
	db	80h
	rst3			;; 32af: df          .
	db	3
L32b1:	ld	a,(L02e6)	;; 32b1: 3a e6 02    :..
	cp	a,(ix-126)	;; 32b4: dd be 82    ...
	ld	a,000h		;; 32b7: 3e 00       >.
	rla			;; 32b9: 17          .
	push	af		;; 32ba: f5          .
	rst3			;; 32bb: df          .
	db	83h
	ld	a,h		;; 32bd: 7c          |
	or	a,l		;; 32be: b5          .
	call	L8c09		;; 32bf: cd 09 8c    ...
	ld	b,a		;; 32c2: 47          G
	pop	af		;; 32c3: f1          .
	and	a,b		;; 32c4: a0          .
	rra			;; 32c5: 1f          .
	jr	nc,L32ef	;; 32c6: 30 27       0'
	ld	a,(ix-126)	;; 32c8: dd 7e 82    .~.
	dec	a		;; 32cb: 3d          =
	ld	(ix-126),a	;; 32cc: dd 77 82    .w.
	ld	l,a		;; 32cf: 6f          o
	ld	h,000h		;; 32d0: 26 00       &.
	add	hl,hl		;; 32d2: 29          )
	ld	de,L1c5e	;; 32d3: 11 5e 1c    .^.
	add	hl,de		;; 32d6: 19          .
	rst4			;; 32d7: e7          .
	db	80h
	rst3			;; 32d9: df          .
	db	3
	ld	a,h		;; 32db: 7c          |
	or	a,l		;; 32dc: b5          .
	jr	nz,L32ed	;; 32dd: 20 0e        .
	ld	l,(ix-126)	;; 32df: dd 6e 82    .n.
	ld	h,000h		;; 32e2: 26 00       &.
	add	hl,hl		;; 32e4: 29          )
	ld	de,L1c90	;; 32e5: 11 90 1c    ...
	add	hl,de		;; 32e8: 19          .
	rst4			;; 32e9: e7          .
	db	80h
	rst3			;; 32eb: df          .
	db	3
L32ed:	jr	L32b1		;; 32ed: 18 c2       ..

L32ef:	rst3			;; 32ef: df          .
	db	83h
	ld	a,h		;; 32f1: 7c          |
	or	a,l		;; 32f2: b5          .
	jr	nz,L3307	;; 32f3: 20 12        .
	ld	l,(ix-120)	;; 32f5: dd 6e 88    .n.
	ld	h,000h		;; 32f8: 26 00       &.
	add	hl,hl		;; 32fa: 29          )
	ld	de,L1cf4	;; 32fb: 11 f4 1c    ...
	add	hl,de		;; 32fe: 19          .
	rst4			;; 32ff: e7          .
	db	80h
	push	hl		;; 3301: e5          .
	call	L5f05		;; 3302: cd 05 5f    .._
	rst3			;; 3305: df          .
	db	3
L3307:	rst3			;; 3307: df          .
	db	83h
	rst3			;; 3309: df          .
	db	5
	jp	L8d56		;; 330b: c3 56 8d    .V.

L330e:	call	L8d27		;; 330e: cd 27 8d    .'.
	db	0fdh,9
L3313:	ld	hl,00000h	;; 3313: 21 00 00    ...
	push	hl		;; 3316: e5          .
	call	L5e78		;; 3317: cd 78 5e    .x^
	push	hl		;; 331a: e5          .
	call	L6760		;; 331b: cd 60 67    .`g
	ld	(ix-124),000h	;; 331e: dd 36 84 00 .6..
L3322:	ld	a,(L02f0)	;; 3322: 3a f0 02    :..
	xor	a,001h		;; 3325: ee 01       ..
	ld	hl,L1d40	;; 3327: 21 40 1d    .@.
	and	a,(hl)		;; 332a: a6          .
	rra			;; 332b: 1f          .
	jp	nc,L33b4	;; 332c: d2 b4 33    ..3
	ld	a,(L1d45)	;; 332f: 3a 45 1d    :E.
	or	a,a		;; 3332: b7          .
	jp	nz,L33ae	;; 3333: c2 ae 33    ..3
	ld	hl,(L1d43)	;; 3336: 2a 43 1d    *C.
	ld	(L1787),hl	;; 3339: 22 87 17    "..
	call	L1ace		;; 333c: cd ce 1a    ...
	ld	a,(L1d46)	;; 333f: 3a 46 1d    :F.
	cp	a,(ix-124)	;; 3342: dd be 84    ...
	jr	nz,L33a1	;; 3345: 20 5a        Z
	ld	a,(L1d46)	;; 3347: 3a 46 1d    :F.
	push	af		;; 334a: f5          .
	call	L75c9		;; 334b: cd c9 75    ..u
	db	0ah,0,0,0,0,0,0,0,0,4,2
	call	L7450		;; 3359: cd 50 74    .Pt
	jr	z,L339f		;; 335c: 28 41       (A
	ld	a,(L1d47)	;; 335e: 3a 47 1d    :G.
	cp	a,020h		;; 3361: fe 20       . 
	jr	nz,L339f	;; 3363: 20 3a        :
	ld	a,(L1d48)	;; 3365: 3a 48 1d    :H.
	cp	a,020h		;; 3368: fe 20       . 
	jr	nz,L339f	;; 336a: 20 33        3
	ld	hl,(L1d43)	;; 336c: 2a 43 1d    *C.
	push	hl		;; 336f: e5          .
	call	L75c9		;; 3370: cd c9 75    ..u
	db	0ch,0,0,0,0,0,0,0,80h,0feh,0ffh,0ffh,7
	call	L7397		;; 3380: cd 97 73    ..s
	db	10h
	ld	hl,0ff82h	;; 3384: 21 82 ff    ...
	rst2			;; 3387: d7          .
	push	hl		;; 3388: e5          .
	call	L60f2		;; 3389: cd f2 60    ..`
	ld	a,(L1c53)	;; 338c: 3a 53 1c    :S.
	rra			;; 338f: 1f          .
	jr	nc,L339f	;; 3390: 30 0d       0.
	ld	hl,(L1d41)	;; 3392: 2a 41 1d    *A.
	push	hl		;; 3395: e5          .
	call	L657c		;; 3396: cd 7c 65    .|e
	call	L1ae6		;; 3399: cd e6 1a    ...
	jp	L3313		;; 339c: c3 13 33    ..3

L339f:	jr	L33ae		;; 339f: 18 0d       ..

L33a1:	ld	a,(L1d46)	;; 33a1: 3a 46 1d    :F.
	cp	a,04fh		;; 33a4: fe 4f       .O
	jr	z,L33ae		;; 33a6: 28 06       (.
	ld	a,(L1d46)	;; 33a8: 3a 46 1d    :F.
	ld	(ix-124),a	;; 33ab: dd 77 84    .w.
L33ae:	call	L67a6		;; 33ae: cd a6 67    ..g
	jp	L3322		;; 33b1: c3 22 33    ."3

L33b4:	jp	L8d56		;; 33b4: c3 56 8d    .V.

L33b7:	call	L8d27		;; 33b7: cd 27 8d    .'.
	db	0fdh,0dh
	rst4			;; 33bc: e7          .
	db	8ah
	ld	l,(iy-123)	;; 33be: fd 6e 85    .n.
	ld	h,(iy-122)	;; 33c1: fd 66 86    .f.
	push	hl		;; 33c4: e5          .
	ld	a,(ix-120)	;; 33c5: dd 7e 88    .~.
	push	af		;; 33c8: f5          .
	rst4			;; 33c9: e7          .
	db	8ah
	ld	l,(iy-126)	;; 33cb: fd 6e 82    .n.
	ld	h,(iy-125)	;; 33ce: fd 66 83    .f.
	push	hl		;; 33d1: e5          .
	call	L6475		;; 33d2: cd 75 64    .ud
	rst3			;; 33d5: df          .
	db	3
L33d7:	rst4			;; 33d7: e7          .
	db	8ah
	ld	l,(iy-123)	;; 33d9: fd 6e 85    .n.
	ld	h,(iy-122)	;; 33dc: fd 66 86    .f.
	push	hl		;; 33df: e5          .
	call	L1355		;; 33e0: cd 55 13    .U.
	ld	(ix-126),a	;; 33e3: dd 77 82    .w.
	rst4			;; 33e6: e7          .
	db	8ah
	ld	l,(iy-123)	;; 33e8: fd 6e 85    .n.
	ld	h,(iy-122)	;; 33eb: fd 66 86    .f.
	inc	hl		;; 33ee: 23          #
	rst4			;; 33ef: e7          .
	db	8ah
	ld	(iy-123),l	;; 33f1: fd 75 85    .u.
	ld	(iy-122),h	;; 33f4: fd 74 86    .t.
	ld	a,(ix-126)	;; 33f7: dd 7e 82    .~.
	cp	a,(ix-122)	;; 33fa: dd be 86    ...
	jr	nz,L3401	;; 33fd: 20 02        .
	jr	L341a		;; 33ff: 18 19       ..

L3401:	ld	a,(ix-120)	;; 3401: dd 7e 88    .~.
	cp	a,043h		;; 3404: fe 43       .C
	call	L8c0e		;; 3406: cd 0e 8c    ...
	push	af		;; 3409: f5          .
	ld	a,(ix-126)	;; 340a: dd 7e 82    .~.
	cp	a,080h		;; 340d: fe 80       ..
	ld	a,000h		;; 340f: 3e 00       >.
	rla			;; 3411: 17          .
	ld	b,a		;; 3412: 47          G
	pop	af		;; 3413: f1          .
	or	a,b		;; 3414: b0          .
	rra			;; 3415: 1f          .
	jr	nc,L341a	;; 3416: 30 02       0.
	jr	L33d7		;; 3418: 18 bd       ..

L341a:	rst4			;; 341a: e7          .
	db	8ah
	ld	l,(iy-123)	;; 341c: fd 6e 85    .n.
	ld	h,(iy-122)	;; 341f: fd 66 86    .f.
	push	hl		;; 3422: e5          .
	ld	a,049h		;; 3423: 3e 49       >I
	push	af		;; 3425: f5          .
	rst4			;; 3426: e7          .
	db	8ah
	ld	l,(iy-123)	;; 3428: fd 6e 85    .n.
	ld	h,(iy-122)	;; 342b: fd 66 86    .f.
	push	hl		;; 342e: e5          .
	call	L5f05		;; 342f: cd 05 5f    .._
	push	hl		;; 3432: e5          .
	call	L6475		;; 3433: cd 75 64    .ud
	rst3			;; 3436: df          .
	db	3
	jp	L8d56		;; 3438: c3 56 8d    .V.

L343b:	call	L8d27		;; 343b: cd 27 8d    .'.
	db	0fbh,0bh
	ld	a,(L02e3)	;; 3440: 3a e3 02    :..
	ld	(ix-124),a	;; 3443: dd 77 84    .w.
	call	L1e41		;; 3446: cd 41 1e    .A.
	ld	hl,(L322b)	;; 3449: 2a 2b 32    *+2
	rst3			;; 344c: df          .
	db	5
	ld	a,(L02e3)	;; 344e: 3a e3 02    :..
	push	af		;; 3451: f5          .
	call	L329a		;; 3452: cd 9a 32    ..2
	rst3			;; 3455: df          .
	db	2
	ld	a,(L1785)	;; 3457: 3a 85 17    :..
	call	L34c8		;; 345a: cd c8 34    ..4
L345d:	ld	a,042h		;; 345d: 3e 42       >B
	push	af		;; 345f: f5          .
	ld	a,024h		;; 3460: 3e 24       >$
	push	af		;; 3462: f5          .
	rst4			;; 3463: e7          .
	db	82h
	call	L33b7		;; 3465: cd b7 33    ..3
	jp	L350e		;; 3468: c3 0e 35    ..5

L346b:	ld	a,042h		;; 346b: 3e 42       >B
	push	af		;; 346d: f5          .
	ld	a,000h		;; 346e: 3e 00       >.
	push	af		;; 3470: f5          .
	rst4			;; 3471: e7          .
	db	82h
	call	L33b7		;; 3473: cd b7 33    ..3
	jp	L350e		;; 3476: c3 0e 35    ..5

L3479:	ld	a,043h		;; 3479: 3e 43       >C
	push	af		;; 347b: f5          .
	ld	a,080h		;; 347c: 3e 80       >.
	push	af		;; 347e: f5          .
	rst4			;; 347f: e7          .
	db	82h
	call	L33b7		;; 3481: cd b7 33    ..3
	jp	L350e		;; 3484: c3 0e 35    ..5

L3487:	rst3			;; 3487: df          .
	db	85h
	push	hl		;; 3489: e5          .
	ld	a,00eh		;; 348a: 3e 0e       >.
	push	af		;; 348c: f5          .
	rst3			;; 348d: df          .
	db	85h
	push	hl		;; 348f: e5          .
	call	L1f12		;; 3490: cd 12 1f    ...
	push	hl		;; 3493: e5          .
	call	L6747		;; 3494: cd 47 67    .Gg
	ld	a,(L02ea)	;; 3497: 3a ea 02    :..
	ld	(ix-124),a	;; 349a: dd 77 84    .w.
	jr	L350e		;; 349d: 18 6f       .o

L349f:	ld	a,(L02e3)	;; 349f: 3a e3 02    :..
	ld	l,a		;; 34a2: 6f          o
	ld	h,000h		;; 34a3: 26 00       &.
	add	hl,hl		;; 34a5: 29          )
	ld	de,L1c90	;; 34a6: 11 90 1c    ...
	add	hl,de		;; 34a9: 19          .
	push	hl		;; 34aa: e5          .
	rst3			;; 34ab: df          .
	db	85h
	push	hl		;; 34ad: e5          .
	ld	a,(L1785)	;; 34ae: 3a 85 17    :..
	push	af		;; 34b1: f5          .
	rst3			;; 34b2: df          .
	db	82h
	push	hl		;; 34b4: e5          .
	call	L6475		;; 34b5: cd 75 64    .ud
	rst4			;; 34b8: e7          .
	db	81h
	jr	L350e		;; 34ba: 18 52       .R

L34bc:	call	L330e		;; 34bc: cd 0e 33    ..3
	jr	L350e		;; 34bf: 18 4d       .M

L34c1:	jr	L350e		;; 34c1: 18 4b       .K

L34c3:	call	L0a8f		;; 34c3: cd 8f 0a    ...
	jr	L350e		;; 34c6: 18 46       .F

L34c8:	ld	b,015h		;; 34c8: 06 15       ..
	call	L8ddc		;; 34ca: cd dc 8d    ...
	db ' ' ! dw L34c1
	db '$' ! dw L345d
	db '0' ! dw L346b
	db '2' ! dw L349f
	db '7' ! dw L3479
	db 'B' ! dw L349f
	db 'C' ! dw L349f
	db 'D' ! dw L349f
	db 'H' ! dw L349f
	db 'I' ! dw L349f
	db 'L' ! dw L349f
	db 'M' ! dw L349f
	db 'N' ! dw L349f
	db 'O' ! dw L3487
	db 'Q' ! dw L349f
	db 'R' ! dw L349f
	db 'S' ! dw L349f
	db 'T' ! dw L349f
	db 'W' ! dw L349f
	db 'X' ! dw L349f
	db 'Y' ! dw L34bc
	dw	L34c3
L350e:	ld	hl,(L1789)	;; 350e: 2a 89 17    *..
	push	hl		;; 3511: e5          .
	call	L65f5		;; 3512: cd f5 65    ..e
	ld	a,(ix-124)	;; 3515: dd 7e 84    .~.
	push	af		;; 3518: f5          .
	call	L2bcc		;; 3519: cd cc 2b    ..+
	jp	L8d56		;; 351c: c3 56 8d    .V.

L351f:	call	L8d27		;; 351f: cd 27 8d    .'.
	db	0,6
	ld	hl,(L1789)	;; 3524: 2a 89 17    *..
	push	hl		;; 3527: e5          .
	call	L65f5		;; 3528: cd f5 65    ..e
	call	L2c3e		;; 352b: cd 3e 2c    .>,
	call	L30cb		;; 352e: cd cb 30    ..0
	call	L1dda		;; 3531: cd da 1d    ...
	jp	L8d56		;; 3534: c3 56 8d    .V.

L3537:	call	L8d27		;; 3537: cd 27 8d    .'.
	db	0fch,'.'
	ld	a,00fh		;; 353c: 3e 0f       >.
	push	af		;; 353e: f5          .
	call	L322e		;; 353f: cd 2e 32    ..2
	push	hl		;; 3542: e5          .
	call	L1f12		;; 3543: cd 12 1f    ...
	rst3			;; 3546: df          .
	db	4
	ld	a,(L02f0)	;; 3548: 3a f0 02    :..
	xor	a,001h		;; 354b: ee 01       ..
	rra			;; 354d: 1f          .
	jr	nc,L355c	;; 354e: 30 0c       0.
	ld	a,010h		;; 3550: 3e 10       >.
	push	af		;; 3552: f5          .
	ld	hl,0ffffh	;; 3553: 21 ff ff    ...
	push	hl		;; 3556: e5          .
	call	L1f12		;; 3557: cd 12 1f    ...
	rst3			;; 355a: df          .
	db	2
L355c:	rst3			;; 355c: df          .
	db	84h
	ld	(L1789),hl	;; 355e: 22 89 17    "..
	rst3			;; 3561: df          .
	db	84h
	push	hl		;; 3563: e5          .
	call	L6343		;; 3564: cd 43 63    .Cc
	rst3			;; 3567: df          .
	db	82h
	ld	(L1787),hl	;; 3569: 22 87 17    "..
	ld	hl,L178b	;; 356c: 21 8b 17    ...
	ld	(hl),001h	;; 356f: 36 01       6.
	call	L1b50		;; 3571: cd 50 1b    .P.
	ld	hl,L02f6	;; 3574: 21 f6 02    ...
	ld	(hl),001h	;; 3577: 36 01       6.
	ld	hl,L02f3	;; 3579: 21 f3 02    ...
	push	hl		;; 357c: e5          .
	ld	hl,00000h	;; 357d: 21 00 00    ...
	push	hl		;; 3580: e5          .
	ld	hl,0ff86h	;; 3581: 21 86 ff    ...
	rst2			;; 3584: d7          .
	call	L75ea		;; 3585: cd ea 75    ..u
	call	L7995		;; 3588: cd 95 79    ..y
	ld	hl,L02f3	;; 358b: 21 f3 02    ...
	push	hl		;; 358e: e5          .
	ld	hl,00000h	;; 358f: 21 00 00    ...
	push	hl		;; 3592: e5          .
	call	L78ba		;; 3593: cd ba 78    ..x
	ld	hl,L02f2	;; 3596: 21 f2 02    ...
	ld	(hl),001h	;; 3599: 36 01       6.
	ld	a,(L1785)	;; 359b: 3a 85 17    :..
	cp	a,057h		;; 359e: fe 57       .W
	call	L8c09		;; 35a0: cd 09 8c    ...
	ld	(L02f5),a	;; 35a3: 32 f5 02    2..
	xor	a,001h		;; 35a6: ee 01       ..
	rra			;; 35a8: 1f          .
	jr	nc,L35b2	;; 35a9: 30 07       0.
	ld	hl,L02b2	;; 35ab: 21 b2 02    ...
	push	hl		;; 35ae: e5          .
	call	L5b56		;; 35af: cd 56 5b    .V[
L35b2:	rst3			;; 35b2: df          .
	db	84h
	push	hl		;; 35b4: e5          .
	call	L5e78		;; 35b5: cd 78 5e    .x^
	push	hl		;; 35b8: e5          .
	call	L6760		;; 35b9: cd 60 67    .`g
	call	L0c91		;; 35bc: cd 91 0c    ...
	ld	a,001h		;; 35bf: 3e 01       >.
	push	af		;; 35c1: f5          .
	call	L0d9b		;; 35c2: cd 9b 0d    ...
	ld	a,000h		;; 35c5: 3e 00       >.
	push	af		;; 35c7: f5          .
	call	L1762		;; 35c8: cd 62 17    .b.
	ld	a,002h		;; 35cb: 3e 02       >.
	push	af		;; 35cd: f5          .
	call	L0d9b		;; 35ce: cd 9b 0d    ...
	ld	a,03bh		;; 35d1: 3e 3b       >;
	push	af		;; 35d3: f5          .
	call	L0597		;; 35d4: cd 97 05    ...
	ld	hl,L1050	;; 35d7: 21 50 10    .P.
	call	L75ea		;; 35da: cd ea 75    ..u
	ld	a,037h		;; 35dd: 3e 37       >7
	call	L8bb0		;; 35df: cd b0 8b    ...
	call	L0803		;; 35e2: cd 03 08    ...
	call	L0799		;; 35e5: cd 99 07    ...
	rst3			;; 35e8: df          .
	db	84h
	push	hl		;; 35ea: e5          .
	call	L5428		;; 35eb: cd 28 54    .(T
	ld	a,002h		;; 35ee: 3e 02       >.
	push	af		;; 35f0: f5          .
	ld	a,02eh		;; 35f1: 3e 2e       >.
	push	af		;; 35f3: f5          .
	call	L0720		;; 35f4: cd 20 07    . .
	rst3			;; 35f7: df          .
	db	82h
	push	hl		;; 35f9: e5          .
	call	L5428		;; 35fa: cd 28 54    .(T
	call	L0c91		;; 35fd: cd 91 0c    ...
L3600:	ld	c,(ix-126)	;; 3600: dd 4e 82    .N.
	ld	b,(ix-125)	;; 3603: dd 46 83    .F.
	rst3			;; 3606: df          .
	db	84h
	or	a,a		;; 3608: b7          .
	sbc	hl,bc		;; 3609: ed 42       .B
	ld	a,000h		;; 360b: 3e 00       >.
	rla			;; 360d: 17          .
	push	af		;; 360e: f5          .
	ld	c,(ix-126)	;; 360f: dd 4e 82    .N.
	ld	b,(ix-125)	;; 3612: dd 46 83    .F.
	rst3			;; 3615: df          .
	db	84h
	or	a,a		;; 3617: b7          .
	sbc	hl,bc		;; 3618: ed 42       .B
	call	L8c09		;; 361a: cd 09 8c    ...
	ld	hl,L1d40	;; 361d: 21 40 1d    .@.
	and	a,(hl)		;; 3620: a6          .
	ld	b,a		;; 3621: 47          G
	pop	af		;; 3622: f1          .
	or	a,b		;; 3623: b0          .
	push	af		;; 3624: f5          .
	ld	a,(L02f0)	;; 3625: 3a f0 02    :..
	xor	a,001h		;; 3628: ee 01       ..
	ld	b,a		;; 362a: 47          G
	pop	af		;; 362b: f1          .
	and	a,b		;; 362c: a0          .
	rra			;; 362d: 1f          .
	jr	nc,L364c	;; 362e: 30 1c       0.
	ld	hl,0ff84h	;; 3630: 21 84 ff    ...
	rst2			;; 3633: d7          .
	push	hl		;; 3634: e5          .
	call	L25ce		;; 3635: cd ce 25    ..%
	call	L0c91		;; 3638: cd 91 0c    ...
	ld	a,(L02e4)	;; 363b: 3a e4 02    :..
	ld	hl,L02e3	;; 363e: 21 e3 02    ...
	cp	a,(hl)		;; 3641: be          .
	jr	nc,L364a	;; 3642: 30 06       0.
	ld	a,(L02e4)	;; 3644: 3a e4 02    :..
	ld	(L02e3),a	;; 3647: 32 e3 02    2..
L364a:	jr	L3600		;; 364a: 18 b4       ..

L364c:	ld	a,001h		;; 364c: 3e 01       >.
	push	af		;; 364e: f5          .
	call	L0d9b		;; 364f: cd 9b 0d    ...
	ld	a,001h		;; 3652: 3e 01       >.
	push	af		;; 3654: f5          .
	call	L1762		;; 3655: cd 62 17    .b.
	call	L0c91		;; 3658: cd 91 0c    ...
	ld	hl,L02f2	;; 365b: 21 f2 02    ...
	ld	(hl),000h	;; 365e: 36 00       6.
	ld	hl,(L02f3)	;; 3660: 2a f3 02    *..
	push	hl		;; 3663: e5          .
	call	L78e7		;; 3664: cd e7 78    ..x
	ld	hl,L02f6	;; 3667: 21 f6 02    ...
	ld	(hl),000h	;; 366a: 36 00       6.
	ld	hl,L02f5	;; 366c: 21 f5 02    ...
	ld	(hl),000h	;; 366f: 36 00       6.
	ld	hl,L178b	;; 3671: 21 8b 17    ...
	ld	(hl),000h	;; 3674: 36 00       6.
	call	L1b50		;; 3676: cd 50 1b    .P.
	jp	L8d56		;; 3679: c3 56 8d    .V.

L367c:	call	L8d27		;; 367c: cd 27 8d    .'.
	db	0dch,'*'
	call	L1e41		;; 3681: cd 41 1e    .A.
	ld	a,(L1785)	;; 3684: 3a 85 17    :..
	call	L3746		;; 3687: cd 46 37    .F7
L368a:	ld	hl,L3171	;; 368a: 21 71 31    .q1
	ld	(hl),001h	;; 368d: 36 01       6.
	ld	a,(L1c54)	;; 368f: 3a 54 1c    :T.
	xor	a,001h		;; 3692: ee 01       ..
	rra			;; 3694: 1f          .
	jr	nc,L36a9	;; 3695: 30 12       0.
	ld	a,001h		;; 3697: 3e 01       >.
	push	af		;; 3699: f5          .
	call	L1ed3		;; 369a: cd d3 1e    ...
	ld	a,002h		;; 369d: 3e 02       >.
	push	af		;; 369f: f5          .
	call	L1762		;; 36a0: cd 62 17    .b.
	call	L2027		;; 36a3: cd 27 20    .' 
	ld	(L3171),a	;; 36a6: 32 71 31    2q1
L36a9:	jp	L3765		;; 36a9: c3 65 37    .e7

L36ac:	ld	hl,L178b	;; 36ac: 21 8b 17    ...
	ld	(hl),001h	;; 36af: 36 01       6.
	call	L1b50		;; 36b1: cd 50 1b    .P.
	call	L685e		;; 36b4: cd 5e 68    .^h
	ld	hl,L178b	;; 36b7: 21 8b 17    ...
	ld	(hl),000h	;; 36ba: 36 00       6.
	ld	hl,(L1789)	;; 36bc: 2a 89 17    *..
	push	hl		;; 36bf: e5          .
	call	L65f5		;; 36c0: cd f5 65    ..e
	jp	L3765		;; 36c3: c3 65 37    .e7

L36c6:	ld	hl,L178b	;; 36c6: 21 8b 17    ...
	ld	(hl),001h	;; 36c9: 36 01       6.
	call	L1b50		;; 36cb: cd 50 1b    .P.
	call	L6b78		;; 36ce: cd 78 6b    .xk
	ld	hl,L178b	;; 36d1: 21 8b 17    ...
	ld	(hl),000h	;; 36d4: 36 00       6.
	ld	a,(L1785)	;; 36d6: 3a 85 17    :..
	cp	a,058h		;; 36d9: fe 58       .X
	call	L8c09		;; 36db: cd 09 8c    ...
	ld	(L3171),a	;; 36de: 32 71 31    2q1
	ld	hl,L1c54	;; 36e1: 21 54 1c    .T.
	ld	(hl),001h	;; 36e4: 36 01       6.
	jp	L3765		;; 36e6: c3 65 37    .e7

L36e9:	ld	hl,L0199	;; 36e9: 21 99 01    ...
	call	L75ea		;; 36ec: cd ea 75    ..u
	ld	hl,0ff82h	;; 36ef: 21 82 ff    ...
	rst2			;; 36f2: d7          .
	ld	a,023h		;; 36f3: 3e 23       >#
	call	L8b81		;; 36f5: cd 81 8b    ...
	ld	a,(L1785)	;; 36f8: 3a 85 17    :..
	cp	a,057h		;; 36fb: fe 57       .W
	jr	nz,L370e	;; 36fd: 20 0f        .
	ld	hl,L019e	;; 36ff: 21 9e 01    ...
	call	L75ea		;; 3702: cd ea 75    ..u
	ld	hl,0ff82h	;; 3705: 21 82 ff    ...
	rst2			;; 3708: d7          .
	ld	a,023h		;; 3709: 3e 23       >#
	call	L8b81		;; 370b: cd 81 8b    ...
L370e:	ld	a,(ix-122)	;; 370e: dd 7e 86    .~.
	cp	a,03ah		;; 3711: fe 3a       .:
	jr	z,L372e		;; 3713: 28 19       (.
	ld	hl,L1074	;; 3715: 21 74 10    .t.
	call	L75ea		;; 3718: cd ea 75    ..u
	ld	hl,0ff82h	;; 371b: 21 82 ff    ...
	rst2			;; 371e: d7          .
	call	L75ea		;; 371f: cd ea 75    ..u
	call	L8b20		;; 3722: cd 20 8b    . .
	ld	hl,0ff82h	;; 3725: 21 82 ff    ...
	rst2			;; 3728: d7          .
	ld	a,023h		;; 3729: 3e 23       >#
	call	L8b81		;; 372b: cd 81 8b    ...
L372e:	ld	hl,0ff82h	;; 372e: 21 82 ff    ...
	rst2			;; 3731: d7          .
	call	L75ea		;; 3732: cd ea 75    ..u
	ld	a,023h		;; 3735: 3e 23       >#
	call	L8bb0		;; 3737: cd b0 8b    ...
	call	L3537		;; 373a: cd 37 35    .75
	jr	L3765		;; 373d: 18 26       .&

L373f:	jr	L3765		;; 373f: 18 24       .$

L3741:	call	L0a8f		;; 3741: cd 8f 0a    ...
	jr	L3765		;; 3744: 18 1f       ..

L3746:	ld	b,008h		;; 3746: 06 08       ..
	call	L8ddc		;; 3748: cd dc 8d    ...
	db ' ' ! dw L373f
	db 'G' ! dw L36ac
	db 'P' ! dw L36e9
	db 'Q' ! dw L368a
	db 'R' ! dw L36ac
	db 'S' ! dw L36c6
	db 'W' ! dw L36e9
	db 'X' ! dw L36c6
	dw	L3741
L3765:	ld	a,(L3171)	;; 3765: 3a 71 31    :q1
	xor	a,001h		;; 3768: ee 01       ..
	rra			;; 376a: 1f          .
	jr	nc,L3770	;; 376b: 30 03       0.
	call	L351f		;; 376d: cd 1f 35    ..5
L3770:	jp	L8d56		;; 3770: c3 56 8d    .V.

L3773:	call	L8d27		;; 3773: cd 27 8d    .'.
	db	0,8
	ld	a,(L02e8)	;; 3778: 3a e8 02    :..
	ld	l,a		;; 377b: 6f          o
	ld	h,000h		;; 377c: 26 00       &.
	add	hl,hl		;; 377e: 29          )
	ld	de,L1cf4	;; 377f: 11 f4 1c    ...
	add	hl,de		;; 3782: 19          .
	push	hl		;; 3783: e5          .
	ld	l,(ix-125)	;; 3784: dd 6e 83    .n.
	ld	h,000h		;; 3787: 26 00       &.
	add	hl,hl		;; 3789: 29          )
	ld	de,L1cc2	;; 378a: 11 c2 1c    ...
	add	hl,de		;; 378d: 19          .
	pop	de		;; 378e: d1          .
	ldi			;; 378f: ed a0       ..
	ldi			;; 3791: ed a0       ..
	ld	a,(L02e8)	;; 3793: 3a e8 02    :..
	ld	l,a		;; 3796: 6f          o
	ld	h,000h		;; 3797: 26 00       &.
	add	hl,hl		;; 3799: 29          )
	ld	de,L1c90	;; 379a: 11 90 1c    ...
	add	hl,de		;; 379d: 19          .
	ld	(hl),000h	;; 379e: 36 00       6.
	inc	hl		;; 37a0: 23          #
	ld	(hl),000h	;; 37a1: 36 00       6.
	ld	a,(L02e8)	;; 37a3: 3a e8 02    :..
	ld	l,a		;; 37a6: 6f          o
	ld	h,000h		;; 37a7: 26 00       &.
	add	hl,hl		;; 37a9: 29          )
	ld	de,L1c5e	;; 37aa: 11 5e 1c    .^.
	add	hl,de		;; 37ad: 19          .
	ld	(hl),000h	;; 37ae: 36 00       6.
	inc	hl		;; 37b0: 23          #
	ld	(hl),000h	;; 37b1: 36 00       6.
	ld	a,(L02e8)	;; 37b3: 3a e8 02    :..
	push	af		;; 37b6: f5          .
	call	L2bcc		;; 37b7: cd cc 2b    ..+
	call	L314c		;; 37ba: cd 4c 31    .L1
	jp	L8d56		;; 37bd: c3 56 8d    .V.

L37c0:	call	L8d27		;; 37c0: cd 27 8d    .'.
	db	0f2h,16h
	call	L8d60		;; 37c5: cd 60 8d    .`.
	dw	L104c
	ld	h,b		;; 37ca: 60          `
	ld	l,c		;; 37cb: 69          i
	rst3			;; 37cc: df          .
	db	0eh
	ld	hl,L178b	;; 37ce: 21 8b 17    ...
	ld	(hl),001h	;; 37d1: 36 01       6.
	rst3			;; 37d3: df          .
	db	90h
	ld	(L1789),hl	;; 37d5: 22 89 17    "..
	ld	hl,00000h	;; 37d8: 21 00 00    ...
	ld	(L1787),hl	;; 37db: 22 87 17    "..
	call	L1b50		;; 37de: cd 50 1b    .P.
	ld	hl,00001h	;; 37e1: 21 01 00    ...
	ld	(L1787),hl	;; 37e4: 22 87 17    "..
	call	L1ace		;; 37e7: cd ce 1a    ...
	ld	hl,L1d51	;; 37ea: 21 51 1d    .Q.
	ld	(hl),001h	;; 37ed: 36 01       6.
	call	L1dda		;; 37ef: cd da 1d    ...
	ld	hl,L3169	;; 37f2: 21 69 31    .i1
	ld	(hl),001h	;; 37f5: 36 01       6.
	ld	hl,L316f	;; 37f7: 21 6f 31    .o1
	ld	(hl),000h	;; 37fa: 36 00       6.
L37fc:	ld	c,(ix-114)	;; 37fc: dd 4e 8e    .N.
	ld	b,(ix-113)	;; 37ff: dd 46 8f    .F.
	rst3			;; 3802: df          .
	db	90h
	or	a,a		;; 3804: b7          .
	sbc	hl,bc		;; 3805: ed 42       .B
	ld	a,000h		;; 3807: 3e 00       >.
	rla			;; 3809: 17          .
	push	af		;; 380a: f5          .
	ld	a,(L02f0)	;; 380b: 3a f0 02    :..
	xor	a,001h		;; 380e: ee 01       ..
	ld	b,a		;; 3810: 47          G
	pop	af		;; 3811: f1          .
	and	a,b		;; 3812: a0          .
	push	af		;; 3813: f5          .
	ld	a,(L316f)	;; 3814: 3a 6f 31    :o1
	xor	a,001h		;; 3817: ee 01       ..
	ld	b,a		;; 3819: 47          G
	pop	af		;; 381a: f1          .
	and	a,b		;; 381b: a0          .
	rra			;; 381c: 1f          .
	jp	nc,L38d9	;; 381d: d2 d9 38    ..8
	rst3			;; 3820: df          .
	db	90h
	ld	(L1789),hl	;; 3822: 22 89 17    "..
	ld	a,(L3169)	;; 3825: 3a 69 31    :i1
	rra			;; 3828: 1f          .
	jr	nc,L3840	;; 3829: 30 15       0.
	rst3			;; 382b: df          .
	db	90h
	push	hl		;; 382d: e5          .
	call	L5e78		;; 382e: cd 78 5e    .x^
	push	hl		;; 3831: e5          .
	call	L6760		;; 3832: cd 60 67    .`g
	rst3			;; 3835: df          .
	db	90h
	push	hl		;; 3837: e5          .
	call	L6343		;; 3838: cd 43 63    .Cc
	ld	hl,L3169	;; 383b: 21 69 31    .i1
	ld	(hl),000h	;; 383e: 36 00       6.
L3840:	rst3			;; 3840: df          .
	db	90h
	ld	(L316b),hl	;; 3842: 22 6b 31    "k1
	ld	hl,0ff90h	;; 3845: 21 90 ff    ...
	rst2			;; 3848: d7          .
	push	hl		;; 3849: e5          .
	call	L25ce		;; 384a: cd ce 25    ..%
	ld	a,(L3170)	;; 384d: 3a 70 31    :p1
	xor	a,001h		;; 3850: ee 01       ..
	rra			;; 3852: 1f          .
	jr	nc,L385a	;; 3853: 30 05       0.
	rst3			;; 3855: df          .
	db	90h
	ld	(L316b),hl	;; 3857: 22 6b 31    "k1
L385a:	call	L0c91		;; 385a: cd 91 0c    ...
	ld	a,(L1c5a)	;; 385d: 3a 5a 1c    :Z.
	rra			;; 3860: 1f          .
	jp	nc,L38d6	;; 3861: 30 73       0s
	rst3			;; 3863: df          .
	db	90h
	push	hl		;; 3865: e5          .
	call	L6343		;; 3866: cd 43 63    .Cc
	ld	a,(L1c0c)	;; 3869: 3a 0c 1c    :..
	cp	a,020h		;; 386c: fe 20       . 
	jr	nz,L38d1	;; 386e: 20 61        a
	ld	(ix-125),001h	;; 3870: dd 36 83 01 .6..
	rst3			;; 3874: df          .
	db	90h
	push	hl		;; 3876: e5          .
	call	L5e78		;; 3877: cd 78 5e    .x^
	rst3			;; 387a: df          .
	db	0ah
	ld	a,h		;; 387c: 7c          |
	or	a,l		;; 387d: b5          .
	jr	z,L38b4		;; 387e: 28 34       (4
	rst3			;; 3880: df          .
	db	8ah
	push	hl		;; 3882: e5          .
	ld	hl,0ff84h	;; 3883: 21 84 ff    ...
	rst2			;; 3886: d7          .
	push	hl		;; 3887: e5          .
	call	L5e1e		;; 3888: cd 1e 5e    ..^
	ld	c,(ix-112)	;; 388b: dd 4e 90    .N.
	ld	b,(ix-111)	;; 388e: dd 46 91    .F.
	rst3			;; 3891: df          .
	db	84h
	or	a,a		;; 3893: b7          .
	sbc	hl,bc		;; 3894: ed 42       .B
	jr	nz,L38b4	;; 3896: 20 1c        .
	ld	a,(ix-122)	;; 3898: dd 7e 86    .~.
	push	af		;; 389b: f5          .
	call	L75c9		;; 389c: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,8,10h,4
	call	L7450		;; 38ab: cd 50 74    .Pt
	jr	z,L38b4		;; 38ae: 28 04       (.
	ld	(ix-125),000h	;; 38b0: dd 36 83 00 .6..
L38b4:	ld	a,(ix-125)	;; 38b4: dd 7e 83    .~.
	rra			;; 38b7: 1f          .
	jr	nc,L38d1	;; 38b8: 30 17       0.
	rst3			;; 38ba: df          .
	db	90h
	push	hl		;; 38bc: e5          .
	ld	a,055h		;; 38bd: 3e 55       >U
	push	af		;; 38bf: f5          .
	rst3			;; 38c0: df          .
	db	90h
	push	hl		;; 38c2: e5          .
	call	L5f05		;; 38c3: cd 05 5f    .._
	push	hl		;; 38c6: e5          .
	call	L6475		;; 38c7: cd 75 64    .ud
	rst3			;; 38ca: df          .
	db	0ch
	ld	hl,L3169	;; 38cc: 21 69 31    .i1
	ld	(hl),001h	;; 38cf: 36 01       6.
L38d1:	ld	hl,L1c5a	;; 38d1: 21 5a 1c    .Z.
	ld	(hl),000h	;; 38d4: 36 00       6.
L38d6:	jp	L37fc		;; 38d6: c3 fc 37    ..7

L38d9:	ld	c,(ix-114)	;; 38d9: dd 4e 8e    .N.
	ld	b,(ix-113)	;; 38dc: dd 46 8f    .F.
	rst3			;; 38df: df          .
	db	90h
	or	a,a		;; 38e1: b7          .
	sbc	hl,bc		;; 38e2: ed 42       .B
	jr	c,L38f4		;; 38e4: 38 0e       8.
	ld	hl,(L316d)	;; 38e6: 2a 6d 31    *m1
	ld	(L316b),hl	;; 38e9: 22 6b 31    "k1
	rst3			;; 38ec: df          .
	db	8eh
	ld	(L316d),hl	;; 38ee: 22 6d 31    "m1
	ld	(L1789),hl	;; 38f1: 22 89 17    "..
L38f4:	ld	hl,L1d51	;; 38f4: 21 51 1d    .Q.
	ld	(hl),000h	;; 38f7: 36 00       6.
	ld	hl,L178b	;; 38f9: 21 8b 17    ...
	ld	(hl),000h	;; 38fc: 36 00       6.
	call	L1b50		;; 38fe: cd 50 1b    .P.
	ld	hl,(L1789)	;; 3901: 2a 89 17    *..
	push	hl		;; 3904: e5          .
	call	L65f5		;; 3905: cd f5 65    ..e
	call	L2c3e		;; 3908: cd 3e 2c    .>,
	ld	a,(L02e8)	;; 390b: 3a e8 02    :..
	dec	a		;; 390e: 3d          =
	push	af		;; 390f: f5          .
	call	L0953		;; 3910: cd 53 09    .S.
	ld	a,028h		;; 3913: 3e 28       >(
	push	af		;; 3915: f5          .
	ld	a,02dh		;; 3916: 3e 2d       >-
	push	af		;; 3918: f5          .
	call	L0720		;; 3919: cd 20 07    . .
	call	L0977		;; 391c: cd 77 09    .w.
	ld	a,(L02ea)	;; 391f: 3a ea 02    :..
	ld	(ix-126),a	;; 3922: dd 77 82    .w.
L3925:	ld	a,(ix-126)	;; 3925: dd 7e 82    .~.
	ld	hl,L02e9	;; 3928: 21 e9 02    ...
	cp	a,(hl)		;; 392b: be          .
	ld	a,000h		;; 392c: 3e 00       >.
	rla			;; 392e: 17          .
	push	af		;; 392f: f5          .
	ld	l,(ix-126)	;; 3930: dd 6e 82    .n.
	ld	h,000h		;; 3933: 26 00       &.
	add	hl,hl		;; 3935: 29          )
	ld	de,L1cc2	;; 3936: 11 c2 1c    ...
	add	hl,de		;; 3939: 19          .
	ld	bc,(L1789)	;; 393a: ed 4b 89 17 .K..
	rst4			;; 393e: e7          .
	db	80h
	or	a,a		;; 3940: b7          .
	sbc	hl,bc		;; 3941: ed 42       .B
	call	L8c09		;; 3943: cd 09 8c    ...
	ld	b,a		;; 3946: 47          G
	pop	af		;; 3947: f1          .
	and	a,b		;; 3948: a0          .
	rra			;; 3949: 1f          .
	jr	nc,L3955	;; 394a: 30 09       0.
	ld	a,(ix-126)	;; 394c: dd 7e 82    .~.
	inc	a		;; 394f: 3c          <
	ld	(ix-126),a	;; 3950: dd 77 82    .w.
	jr	L3925		;; 3953: 18 d0       ..

L3955:	ld	a,(ix-126)	;; 3955: dd 7e 82    .~.
	push	af		;; 3958: f5          .
	call	L3773		;; 3959: cd 73 37    .s7
	ld	a,(ix-126)	;; 395c: dd 7e 82    .~.
	push	af		;; 395f: f5          .
	call	L0953		;; 3960: cd 53 09    .S.
	jp	L8d56		;; 3963: c3 56 8d    .V.

L3966:	call	L8d27		;; 3966: cd 27 8d    .'.
	db	0ffh,7
	ld	a,(L31ae)	;; 396b: 3a ae 31    :.1
	ld	l,a		;; 396e: 6f          o
	ld	h,000h		;; 396f: 26 00       &.
	add	hl,hl		;; 3971: 29          )
	ld	de,L3172	;; 3972: 11 72 31    .r1
	add	hl,de		;; 3975: 19          .
	rst4			;; 3976: e7          .
	db	80h
	ld	(L1789),hl	;; 3978: 22 89 17    "..
	ld	a,(L31ae)	;; 397b: 3a ae 31    :.1
	ld	l,a		;; 397e: 6f          o
	ld	h,000h		;; 397f: 26 00       &.
	ld	de,L319a	;; 3981: 11 9a 31    ..1
	add	hl,de		;; 3984: 19          .
	ld	a,(hl)		;; 3985: 7e          ~
	ld	(ix-126),a	;; 3986: dd 77 82    .w.
	ld	a,(L31ae)	;; 3989: 3a ae 31    :.1
	dec	a		;; 398c: 3d          =
	push	af		;; 398d: f5          .
	ld	a,014h		;; 398e: 3e 14       >.
	call	L8965		;; 3990: cd 65 89    .e.
	ld	(L31ae),a	;; 3993: 32 ae 31    2.1
	call	L351f		;; 3996: cd 1f 35    ..5
	ld	a,(ix-126)	;; 3999: dd 7e 82    .~.
	push	af		;; 399c: f5          .
	call	L0953		;; 399d: cd 53 09    .S.
	jp	L8d56		;; 39a0: c3 56 8d    .V.

L39a3:	call	L8d27		;; 39a3: cd 27 8d    .'.
	db	0,6
	call	L8d60		;; 39a8: cd 60 8d    .`.
	dw	L104c
	push	hl		;; 39ad: e5          .
	push	bc		;; 39ae: c5          .
	ld	a,(L02e6)	;; 39af: 3a e6 02    :..
	ld	c,a		;; 39b2: 4f          O
	ld	b,000h		;; 39b3: 06 00       ..
	ld	a,(L02e5)	;; 39b5: 3a e5 02    :..
	ld	l,a		;; 39b8: 6f          o
	ld	h,000h		;; 39b9: 26 00       &.
	or	a,a		;; 39bb: b7          .
	sbc	hl,bc		;; 39bc: ed 42       .B
	call	L880e		;; 39be: cd 0e 88    ...
	call	L87f6		;; 39c1: cd f6 87    ...
	ld	h,b		;; 39c4: 60          `
	ld	l,c		;; 39c5: 69          i
	ld	(L1789),hl	;; 39c6: 22 89 17    "..
	jp	L8d56		;; 39c9: c3 56 8d    .V.

L39cc:	call	L8d27		;; 39cc: cd 27 8d    .'.
	db	0f7h,0fh
	ld	a,(L3222)	;; 39d1: 3a 22 32    :"2
	rra			;; 39d4: 1f          .
	jr	nc,L39df	;; 39d5: 30 08       0.
	ld	hl,(L322b)	;; 39d7: 2a 2b 32    *+2
	ld	(L31af),hl	;; 39da: 22 af 31    ".1
	jr	L3a19		;; 39dd: 18 3a       .:

L39df:	ld	bc,(L322b)	;; 39df: ed 4b 2b 32 .K+2
	ld	hl,(L31af)	;; 39e3: 2a af 31    *.1
	or	a,a		;; 39e6: b7          .
	sbc	hl,bc		;; 39e7: ed 42       .B
	jr	nz,L3a13	;; 39e9: 20 28        (
	ld	a,(L02e2)	;; 39eb: 3a e2 02    :..
	ld	hl,L02e5	;; 39ee: 21 e5 02    ...
	cp	a,(hl)		;; 39f1: be          .
	jr	nc,L3a07	;; 39f2: 30 13       0.
	ld	a,(L02e2)	;; 39f4: 3a e2 02    :..
	inc	a		;; 39f7: 3c          <
	ld	l,a		;; 39f8: 6f          o
	ld	h,000h		;; 39f9: 26 00       &.
	add	hl,hl		;; 39fb: 29          )
	ld	de,L1cf4	;; 39fc: 11 f4 1c    ...
	add	hl,de		;; 39ff: 19          .
	rst4			;; 3a00: e7          .
	db	80h
	ld	(L31af),hl	;; 3a02: 22 af 31    ".1
	jr	L3a11		;; 3a05: 18 0a       ..

L3a07:	ld	bc,00002h	;; 3a07: 01 02 00    ...
	ld	hl,(L31af)	;; 3a0a: 2a af 31    *.1
	add	hl,bc		;; 3a0d: 09          .
	ld	(L31af),hl	;; 3a0e: 22 af 31    ".1
L3a11:	jr	L3a19		;; 3a11: 18 06       ..

L3a13:	ld	hl,(L322b)	;; 3a13: 2a 2b 32    *+2
	ld	(L31af),hl	;; 3a16: 22 af 31    ".1
L3a19:	ld	a,(L3223)	;; 3a19: 3a 23 32    :#2
	rra			;; 3a1c: 1f          .
	jr	nc,L3a4a	;; 3a1d: 30 2b       0+
	ld	hl,L3223	;; 3a1f: 21 23 32    .#2
	ld	(hl),000h	;; 3a22: 36 00       6.
	ld	hl,00000h	;; 3a24: 21 00 00    ...
	ld	(L31af),hl	;; 3a27: 22 af 31    ".1
	ld	hl,00000h	;; 3a2a: 21 00 00    ...
	push	hl		;; 3a2d: e5          .
	call	L10d3		;; 3a2e: cd d3 10    ...
	rra			;; 3a31: 1f          .
	jr	nc,L3a3a	;; 3a32: 30 06       0.
	call	L115e		;; 3a34: cd 5e 11    .^.
	ld	(L31af),hl	;; 3a37: 22 af 31    ".1
L3a3a:	ld	a,(L3222)	;; 3a3a: 3a 22 32    :"2
	rra			;; 3a3d: 1f          .
	jr	nc,L3a4a	;; 3a3e: 30 0a       0.
	call	L8d60		;; 3a40: cd 60 8d    .`.
	dw	L104c
	ld	h,b		;; 3a45: 60          `
	ld	l,c		;; 3a46: 69          i
	ld	(L31af),hl	;; 3a47: 22 af 31    ".1
L3a4a:	ld	hl,L178b	;; 3a4a: 21 8b 17    ...
	ld	(hl),001h	;; 3a4d: 36 01       6.
L3a4f:	ld	a,(L3222)	;; 3a4f: 3a 22 32    :"2
	rra			;; 3a52: 1f          .
	jr	nc,L3a5e	;; 3a53: 30 09       0.
	ld	hl,(L31af)	;; 3a55: 2a af 31    *.1
	dec	hl		;; 3a58: 2b          +
	ld	(L31af),hl	;; 3a59: 22 af 31    ".1
	jr	L3a65		;; 3a5c: 18 07       ..

L3a5e:	ld	hl,(L31af)	;; 3a5e: 2a af 31    *.1
	inc	hl		;; 3a61: 23          #
	ld	(L31af),hl	;; 3a62: 22 af 31    ".1
L3a65:	ld	(ix-119),000h	;; 3a65: dd 36 89 00 .6..
	ld	(ix-118),000h	;; 3a69: dd 36 8a 00 .6..
	call	L322e		;; 3a6d: cd 2e 32    ..2
	rst3			;; 3a70: df          .
	db	3
L3a72:	ld	hl,(L31af)	;; 3a72: 2a af 31    *.1
	push	hl		;; 3a75: e5          .
	call	L1355		;; 3a76: cd 55 13    .U.
	ld	hl,L31b1	;; 3a79: 21 b1 31    ..1
	cp	a,(hl)		;; 3a7c: be          .
	call	L8c0e		;; 3a7d: cd 0e 8c    ...
	push	af		;; 3a80: f5          .
	ld	a,(ix-118)	;; 3a81: dd 7e 8a    .~.
	xor	a,001h		;; 3a84: ee 01       ..
	ld	b,a		;; 3a86: 47          G
	pop	af		;; 3a87: f1          .
	and	a,b		;; 3a88: a0          .
	rra			;; 3a89: 1f          .
	jr	nc,L3ad1	;; 3a8a: 30 45       0E
	ld	a,(L3222)	;; 3a8c: 3a 22 32    :"2
	rra			;; 3a8f: 1f          .
	jr	nc,L3a9b	;; 3a90: 30 09       0.
	ld	hl,(L31af)	;; 3a92: 2a af 31    *.1
	dec	hl		;; 3a95: 2b          +
	ld	(L31af),hl	;; 3a96: 22 af 31    ".1
	jr	L3aa2		;; 3a99: 18 07       ..

L3a9b:	ld	hl,(L31af)	;; 3a9b: 2a af 31    *.1
	inc	hl		;; 3a9e: 23          #
	ld	(L31af),hl	;; 3a9f: 22 af 31    ".1
L3aa2:	call	L8d60		;; 3aa2: cd 60 8d    .`.
	dw	L104c
	push	hl		;; 3aa7: e5          .
	push	bc		;; 3aa8: c5          .
	ld	hl,(L31af)	;; 3aa9: 2a af 31    *.1
	rst4			;; 3aac: e7          .
	db	87h
	call	L8890		;; 3aae: cd 90 88    ...
	call	L8c18		;; 3ab1: cd 18 8c    ...
	push	af		;; 3ab4: f5          .
	ld	bc,(L31af)	;; 3ab5: ed 4b af 31 .K.1
	rst3			;; 3ab9: df          .
	db	83h
	or	a,a		;; 3abb: b7          .
	sbc	hl,bc		;; 3abc: ed 42       .B
	ld	a,000h		;; 3abe: 3e 00       >.
	ccf			;; 3ac0: 3f          ?
	rla			;; 3ac1: 17          .
	ld	b,a		;; 3ac2: 47          G
	pop	af		;; 3ac3: f1          .
	or	a,b		;; 3ac4: b0          .
	push	af		;; 3ac5: f5          .
	call	L0496		;; 3ac6: cd 96 04    ...
	ld	b,a		;; 3ac9: 47          G
	pop	af		;; 3aca: f1          .
	or	a,b		;; 3acb: b0          .
	ld	(ix-118),a	;; 3acc: dd 77 8a    .w.
	jr	L3a72		;; 3acf: 18 a1       ..

L3ad1:	ld	hl,(L31af)	;; 3ad1: 2a af 31    *.1
	ld	(L1787),hl	;; 3ad4: 22 87 17    "..
	call	L1ace		;; 3ad7: cd ce 1a    ...
	ld	a,(ix-118)	;; 3ada: dd 7e 8a    .~.
	xor	a,001h		;; 3add: ee 01       ..
	rra			;; 3adf: 1f          .
	jr	nc,L3b41	;; 3ae0: 30 5f       0_
	ld	(ix-121),001h	;; 3ae2: dd 36 87 01 .6..
	ld	(ix-120),001h	;; 3ae6: dd 36 88 01 .6..
	ld	a,(L3220)	;; 3aea: 3a 20 32    : 2
	rra			;; 3aed: 1f          .
	jr	nc,L3b02	;; 3aee: 30 12       0.
	ld	hl,(L31af)	;; 3af0: 2a af 31    *.1
	push	hl		;; 3af3: e5          .
	call	L6343		;; 3af4: cd 43 63    .Cc
	ld	a,(L1c0f)	;; 3af7: 3a 0f 1c    :..
	cp	a,049h		;; 3afa: fe 49       .I
	call	L8c09		;; 3afc: cd 09 8c    ...
	ld	(ix-120),a	;; 3aff: dd 77 88    .w.
L3b02:	ld	a,(ix-121)	;; 3b02: dd 7e 87    .~.
	ld	hl,L31bc	;; 3b05: 21 bc 31    ..1
	cp	a,(hl)		;; 3b08: be          .
	ld	a,000h		;; 3b09: 3e 00       >.
	rla			;; 3b0b: 17          .
	and	a,(ix-120)	;; 3b0c: dd a6 88    ...
	rra			;; 3b0f: 1f          .
	jr	nc,L3b3b	;; 3b10: 30 29       0)
	ld	a,(ix-121)	;; 3b12: dd 7e 87    .~.
	ld	c,a		;; 3b15: 4f          O
	ld	b,000h		;; 3b16: 06 00       ..
	ld	hl,(L31af)	;; 3b18: 2a af 31    *.1
	add	hl,bc		;; 3b1b: 09          .
	push	hl		;; 3b1c: e5          .
	call	L1355		;; 3b1d: cd 55 13    .U.
	push	af		;; 3b20: f5          .
	ld	l,(ix-121)	;; 3b21: dd 6e 87    .n.
	ld	h,000h		;; 3b24: 26 00       &.
	ld	de,L31b1	;; 3b26: 11 b1 31    ..1
	add	hl,de		;; 3b29: 19          .
	pop	af		;; 3b2a: f1          .
	cp	a,(hl)		;; 3b2b: be          .
	call	L8c09		;; 3b2c: cd 09 8c    ...
	ld	(ix-120),a	;; 3b2f: dd 77 88    .w.
	ld	a,(ix-121)	;; 3b32: dd 7e 87    .~.
	inc	a		;; 3b35: 3c          <
	ld	(ix-121),a	;; 3b36: dd 77 87    .w.
	jr	L3b02		;; 3b39: 18 c7       ..

L3b3b:	ld	a,(ix-120)	;; 3b3b: dd 7e 88    .~.
	ld	(ix-119),a	;; 3b3e: dd 77 89    .w.
L3b41:	ld	a,(ix-119)	;; 3b41: dd 7e 89    .~.
	or	a,(ix-118)	;; 3b44: dd b6 8a    ...
	rra			;; 3b47: 1f          .
	jp	nc,L3a4f	;; 3b48: d2 4f 3a    .O:
	ld	hl,(L31af)	;; 3b4b: 2a af 31    *.1
	push	hl		;; 3b4e: e5          .
	call	L6343		;; 3b4f: cd 43 63    .Cc
	ld	a,(L1c0c)	;; 3b52: 3a 0c 1c    :..
	cp	a,020h		;; 3b55: fe 20       . 
	call	L8c09		;; 3b57: cd 09 8c    ...
	push	af		;; 3b5a: f5          .
	ld	a,(L1c0f)	;; 3b5b: 3a 0f 1c    :..
	cp	a,049h		;; 3b5e: fe 49       .I
	call	L8c09		;; 3b60: cd 09 8c    ...
	ld	b,a		;; 3b63: 47          G
	pop	af		;; 3b64: f1          .
	and	a,b		;; 3b65: a0          .
	ld	hl,L31bd	;; 3b66: 21 bd 31    ..1
	and	a,(hl)		;; 3b69: a6          .
	push	af		;; 3b6a: f5          .
	ld	a,(L31bc)	;; 3b6b: 3a bc 31    :.1
	cp	a,002h		;; 3b6e: fe 02       ..
	call	L8c09		;; 3b70: cd 09 8c    ...
	ld	b,a		;; 3b73: 47          G
	pop	af		;; 3b74: f1          .
	and	a,b		;; 3b75: a0          .
	rra			;; 3b76: 1f          .
	jr	nc,L3ba6	;; 3b77: 30 2d       0-
	ld	hl,(L31af)	;; 3b79: 2a af 31    *.1
	dec	hl		;; 3b7c: 2b          +
	ld	(L31af),hl	;; 3b7d: 22 af 31    ".1
	dec	hl		;; 3b80: 2b          +
	push	hl		;; 3b81: e5          .
	call	L1355		;; 3b82: cd 55 13    .U.
	call	L3b93		;; 3b85: cd 93 3b    ..;
L3b88:	ld	hl,(L31af)	;; 3b88: 2a af 31    *.1
	dec	hl		;; 3b8b: 2b          +
	ld	(L31af),hl	;; 3b8c: 22 af 31    ".1
	jr	L3ba6		;; 3b8f: 18 15       ..

L3b91:	jr	L3ba6		;; 3b91: 18 13       ..

L3b93:	ld	b,004h		;; 3b93: 06 04       ..
	call	L8ddc		;; 3b95: cd dc 8d    ...
	db 0cbh ! dw L3b88
	db 0ddh ! dw L3b88
	db 0edh ! dw L3b88
	db 0fdh ! dw L3b88
	dw	L3b91
L3ba6:	ld	hl,(L31af)	;; 3ba6: 2a af 31    *.1
	ld	(L1789),hl	;; 3ba9: 22 89 17    "..
	ld	hl,L178b	;; 3bac: 21 8b 17    ...
	ld	(hl),000h	;; 3baf: 36 00       6.
	call	L351f		;; 3bb1: cd 1f 35    ..5
	ld	a,(ix-119)	;; 3bb4: dd 7e 89    .~.
	rra			;; 3bb7: 1f          .
	jr	nc,L3c0a	;; 3bb8: 30 50       0P
	ld	(ix-123),001h	;; 3bba: dd 36 85 01 .6..
	ld	a,(L3221)	;; 3bbe: 3a 21 32    :.2
	xor	a,001h		;; 3bc1: ee 01       ..
	ld	hl,L3224	;; 3bc3: 21 24 32    .$2
	and	a,(hl)		;; 3bc6: a6          .
	rra			;; 3bc7: 1f          .
	jr	nc,L3bd0	;; 3bc8: 30 06       0.
	call	L2027		;; 3bca: cd 27 20    .' 
	ld	(ix-123),a	;; 3bcd: dd 77 85    .w.
L3bd0:	ld	a,(L321f)	;; 3bd0: 3a 1f 32    :.2
	rra			;; 3bd3: 1f          .
	jr	nc,L3bdc	;; 3bd4: 30 06       0.
	ld	a,04ch		;; 3bd6: 3e 4c       >L
	push	af		;; 3bd8: f5          .
	call	L0466		;; 3bd9: cd 66 04    .f.
L3bdc:	ld	a,(L3224)	;; 3bdc: 3a 24 32    :$2
	and	a,(ix-123)	;; 3bdf: dd a6 85    ...
	rra			;; 3be2: 1f          .
	jr	nc,L3c0a	;; 3be3: 30 25       0%
	ld	a,(L321e)	;; 3be5: 3a 1e 32    :.2
	ld	b,001h		;; 3be8: 06 01       ..
	call	L8953		;; 3bea: cd 53 89    .S.
	ld	(ix-126),b	;; 3bed: dd 70 82    .p.
	jr	c,L3c0a		;; 3bf0: 38 18       8.
L3bf2:	ld	(ix-122),a	;; 3bf2: dd 77 86    .w.
	ld	l,a		;; 3bf5: 6f          o
	ld	h,000h		;; 3bf6: 26 00       &.
	ld	de,L31f5	;; 3bf8: 11 f5 31    ..1
	add	hl,de		;; 3bfb: 19          .
	ld	a,(hl)		;; 3bfc: 7e          ~
	push	af		;; 3bfd: f5          .
	call	L0466		;; 3bfe: cd 66 04    .f.
	ld	a,(ix-122)	;; 3c01: dd 7e 86    .~.
	dec	a		;; 3c04: 3d          =
	dec	(ix-126)	;; 3c05: dd 35 82    .5.
	jr	nz,L3bf2	;; 3c08: 20 e8        .
L3c0a:	jp	L8d56		;; 3c0a: c3 56 8d    .V.

L3c0d:	call	L8d27		;; 3c0d: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02e1)	;; 3c12: 3a e1 02    :..
	cp	a,001h		;; 3c15: fe 01       ..
	jr	nz,L3c20	;; 3c17: 20 07        .
	ld	hl,00001h	;; 3c19: 21 01 00    ...
	rst3			;; 3c1c: df          .
	db	2
	jr	L3c25		;; 3c1e: 18 05       ..

L3c20:	ld	hl,00010h	;; 3c20: 21 10 00    ...
	rst3			;; 3c23: df          .
	db	2
L3c25:	rst3			;; 3c25: df          .
	db	82h
	jp	L8d56		;; 3c27: c3 56 8d    .V.

L3c2a:	call	L8d27		;; 3c2a: cd 27 8d    .'.
	db	0b4h,'X'
	ld	(ix-117),000h	;; 3c2f: dd 36 8b 00 .6..
L3c33:	call	L1e8e		;; 3c33: cd 8e 1e    ...
	ld	a,(L1c5c)	;; 3c36: 3a 5c 1c    :\.
	cp	a,020h		;; 3c39: fe 20       . 
	jr	nc,L3c66	;; 3c3b: 30 29       0)
	ld	a,(L1c5c)	;; 3c3d: 3a 5c 1c    :\.
	cp	a,008h		;; 3c40: fe 08       ..
	jr	nz,L3c62	;; 3c42: 20 1e        .
	ld	a,(ix-117)	;; 3c44: dd 7e 8b    .~.
	push	af		;; 3c47: f5          .
	ld	a,000h		;; 3c48: 3e 00       >.
	pop	bc		;; 3c4a: c1          .
	cp	a,b		;; 3c4b: b8          .
	jr	nc,L3c60	;; 3c4c: 30 12       0.
	ld	hl,0ff8bh	;; 3c4e: 21 8b ff    ...
	rst2			;; 3c51: d7          .
	push	hl		;; 3c52: e5          .
	ld	a,(ix-117)	;; 3c53: dd 7e 8b    .~.
	push	af		;; 3c56: f5          .
	ld	a,001h		;; 3c57: 3e 01       >.
	push	af		;; 3c59: f5          .
	call	L8a48		;; 3c5a: cd 48 8a    .H.
	call	L1eac		;; 3c5d: cd ac 1e    ...
L3c60:	jr	L3c64		;; 3c60: 18 02       ..

L3c62:	jr	L3c8d		;; 3c62: 18 29       .)

L3c64:	jr	L3c87		;; 3c64: 18 21       ..

L3c66:	call	L1e9d		;; 3c66: cd 9d 1e    ...
	ld	a,(ix-117)	;; 3c69: dd 7e 8b    .~.
	cp	a,042h		;; 3c6c: fe 42       .B
	jr	nc,L3c87	;; 3c6e: 30 17       0.
	ld	a,(L1c5c)	;; 3c70: 3a 5c 1c    :\.
	ld	b,a		;; 3c73: 47          G
	ld	c,001h		;; 3c74: 0e 01       ..
	push	bc		;; 3c76: c5          .
	ld	hl,0ff8bh	;; 3c77: 21 8b ff    ...
	rst2			;; 3c7a: d7          .
	push	hl		;; 3c7b: e5          .
	ld	a,042h		;; 3c7c: 3e 42       >B
	push	af		;; 3c7e: f5          .
	ld	a,(ix-117)	;; 3c7f: dd 7e 8b    .~.
	inc	a		;; 3c82: 3c          <
	push	af		;; 3c83: f5          .
	call	L8a7e		;; 3c84: cd 7e 8a    .~.
L3c87:	ld	a,(L02f0)	;; 3c87: 3a f0 02    :..
	rra			;; 3c8a: 1f          .
	jr	nc,L3c33	;; 3c8b: 30 a6       0.
L3c8d:	call	L0977		;; 3c8d: cd 77 09    .w.
	call	L0965		;; 3c90: cd 65 09    .e.
	ld	a,(L02f0)	;; 3c93: 3a f0 02    :..
	xor	a,001h		;; 3c96: ee 01       ..
	rra			;; 3c98: 1f          .
	jr	nc,L3cc0	;; 3c99: 30 25       0%
	rst3			;; 3c9b: df          .
	db	0d0h
	rst3			;; 3c9d: df          .
	db	2
	ld	a,(ix-45)	;; 3c9f: dd 7e d3    .~.
	ld	(ix-124),a	;; 3ca2: dd 77 84    .w.
	ld	(ix-121),000h	;; 3ca5: dd 36 87 00 .6..
	ld	hl,0ff82h	;; 3ca9: 21 82 ff    ...
	rst2			;; 3cac: d7          .
	push	hl		;; 3cad: e5          .
	ld	hl,0ff8bh	;; 3cae: 21 8b ff    ...
	rst2			;; 3cb1: d7          .
	call	L75ea		;; 3cb2: cd ea 75    ..u
	ld	a,042h		;; 3cb5: 3e 42       >B
	call	L8bb0		;; 3cb7: cd b0 8b    ...
	rst3			;; 3cba: df          .
	db	0ceh
	push	hl		;; 3cbc: e5          .
	call	L6241		;; 3cbd: cd 41 62    .Ab
L3cc0:	jp	L8d56		;; 3cc0: c3 56 8d    .V.

L3cc3:	call	L8d27		;; 3cc3: cd 27 8d    .'.
	db	0f9h,'K'
	ld	a,001h		;; 3cc8: 3e 01       >.
	push	af		;; 3cca: f5          .
	call	L1ed3		;; 3ccb: cd d3 1e    ...
	ld	a,(ix-58)	;; 3cce: dd 7e c6    .~.
	push	af		;; 3cd1: f5          .
	call	L0597		;; 3cd2: cd 97 05    ...
	rst3			;; 3cd5: df          .
	db	0c3h
	push	hl		;; 3cd7: e5          .
	call	L5428		;; 3cd8: cd 28 54    .(T
	call	L0799		;; 3cdb: cd 99 07    ...
	ld	hl,0ff8bh	;; 3cde: 21 8b ff    ...
	rst2			;; 3ce1: d7          .
	call	L75ea		;; 3ce2: cd ea 75    ..u
	ld	a,037h		;; 3ce5: 3e 37       >7
	call	L8bb0		;; 3ce7: cd b0 8b    ...
	call	L0803		;; 3cea: cd 03 08    ...
	ld	a,(ix-58)	;; 3ced: dd 7e c6    .~.
	push	af		;; 3cf0: f5          .
	rst3			;; 3cf1: df          .
	db	0c3h
	push	hl		;; 3cf3: e5          .
	rst3			;; 3cf4: df          .
	db	89h
	push	hl		;; 3cf6: e5          .
	call	L3c2a		;; 3cf7: cd 2a 3c    .*<
	jp	L8d56		;; 3cfa: c3 56 8d    .V.

L3cfd:	call	L8d27		;; 3cfd: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02e3)	;; 3d02: 3a e3 02    :..
	inc	a		;; 3d05: 3c          <
	push	af		;; 3d06: f5          .
	ld	a,005h		;; 3d07: 3e 05       >.
	push	af		;; 3d09: f5          .
	call	L0889		;; 3d0a: cd 89 08    ...
	ld	a,004h		;; 3d0d: 3e 04       >.
	push	af		;; 3d0f: f5          .
	call	L1762		;; 3d10: cd 62 17    .b.
	ld	(ix-126),001h	;; 3d13: dd 36 82 01 .6..
	ld	hl,L321f	;; 3d17: 21 1f 32    ..2
	ld	(hl),000h	;; 3d1a: 36 00       6.
	ld	hl,L3220	;; 3d1c: 21 20 32    . 2
	ld	(hl),000h	;; 3d1f: 36 00       6.
	ld	hl,L3221	;; 3d21: 21 21 32    ..2
	ld	(hl),000h	;; 3d24: 36 00       6.
	ld	hl,L3222	;; 3d26: 21 22 32    ."2
	ld	(hl),000h	;; 3d29: 36 00       6.
	ld	hl,L3223	;; 3d2b: 21 23 32    .#2
	ld	(hl),000h	;; 3d2e: 36 00       6.
L3d30:	ld	a,(L02f0)	;; 3d30: 3a f0 02    :..
	xor	a,001h		;; 3d33: ee 01       ..
	and	a,(ix-126)	;; 3d35: dd a6 82    ...
	rra			;; 3d38: 1f          .
	jr	nc,L3da6	;; 3d39: 30 6b       0k
	call	L1e8e		;; 3d3b: cd 8e 1e    ...
	ld	(ix-125),001h	;; 3d3e: dd 36 83 01 .6..
	ld	a,(L1c5c)	;; 3d42: 3a 5c 1c    :\.
	push	af		;; 3d45: f5          .
	call	L1de9		;; 3d46: cd e9 1d    ...
	call	L3d85		;; 3d49: cd 85 3d    ..=
L3d4c:	ld	hl,L321f	;; 3d4c: 21 1f 32    ..2
	ld	(hl),001h	;; 3d4f: 36 01       6.
	jr	L3d9b		;; 3d51: 18 48       .H

L3d53:	ld	hl,L3220	;; 3d53: 21 20 32    . 2
	ld	(hl),001h	;; 3d56: 36 01       6.
	jr	L3d9b		;; 3d58: 18 41       .A

L3d5a:	ld	hl,L3221	;; 3d5a: 21 21 32    ..2
	ld	(hl),001h	;; 3d5d: 36 01       6.
	jr	L3d9b		;; 3d5f: 18 3a       .:

L3d61:	ld	hl,L3222	;; 3d61: 21 22 32    ."2
	ld	(hl),001h	;; 3d64: 36 01       6.
	jr	L3d9b		;; 3d66: 18 33       .3

L3d68:	ld	hl,L3223	;; 3d68: 21 23 32    .#2
	ld	(hl),001h	;; 3d6b: 36 01       6.
	jr	L3d9b		;; 3d6d: 18 2c       .,

L3d6f:	ld	(ix-125),000h	;; 3d6f: dd 36 83 00 .6..
	ld	a,(L1c5c)	;; 3d73: 3a 5c 1c    :\.
	cp	a,00dh		;; 3d76: fe 0d       ..
	jr	nz,L3d80	;; 3d78: 20 06        .
	ld	(ix-126),000h	;; 3d7a: dd 36 82 00 .6..
	jr	L3d83		;; 3d7e: 18 03       ..

L3d80:	call	L0a8f		;; 3d80: cd 8f 0a    ...
L3d83:	jr	L3d9b		;; 3d83: 18 16       ..

L3d85:	ld	b,005h		;; 3d85: 06 05       ..
	call	L8ddc		;; 3d87: cd dc 8d    ...
	db 'B' ! dw L3d61
	db 'G' ! dw L3d4c
	db 'I' ! dw L3d53
	db 'N' ! dw L3d5a
	db 'S' ! dw L3d68
	dw	L3d6f
L3d9b:	ld	a,(ix-125)	;; 3d9b: dd 7e 83    .~.
	rra			;; 3d9e: 1f          .
	jr	nc,L3da4	;; 3d9f: 30 03       0.
	call	L1e9d		;; 3da1: cd 9d 1e    ...
L3da4:	jr	L3d30		;; 3da4: 18 8a       ..

L3da6:	call	L0977		;; 3da6: cd 77 09    .w.
	call	L0965		;; 3da9: cd 65 09    .e.
	jp	L8d56		;; 3dac: c3 56 8d    .V.

L3daf:	call	L8d27		;; 3daf: cd 27 8d    .'.
	db	0,6
	ld	a,(L31bc)	;; 3db4: 3a bc 31    :.1
	ld	l,a		;; 3db7: 6f          o
	ld	h,000h		;; 3db8: 26 00       &.
	ld	de,L31b1	;; 3dba: 11 b1 31    ..1
	add	hl,de		;; 3dbd: 19          .
	push	hl		;; 3dbe: e5          .
	rst4			;; 3dbf: e7          .
	db	8ah
	ld	l,(iy-123)	;; 3dc1: fd 6e 85    .n.
	ld	h,(iy-122)	;; 3dc4: fd 66 86    .f.
	ld	h,000h		;; 3dc7: 26 00       &.
	ld	a,l		;; 3dc9: 7d          }
	pop	hl		;; 3dca: e1          .
	ld	(hl),a		;; 3dcb: 77          w
	ld	a,(L31bc)	;; 3dcc: 3a bc 31    :.1
	cp	a,00ah		;; 3dcf: fe 0a       ..
	jr	nc,L3dda	;; 3dd1: 30 07       0.
	ld	a,(L31bc)	;; 3dd3: 3a bc 31    :.1
	inc	a		;; 3dd6: 3c          <
	ld	(L31bc),a	;; 3dd7: 32 bc 31    2.1
L3dda:	ld	hl,L31bd	;; 3dda: 21 bd 31    ..1
	ld	(hl),000h	;; 3ddd: 36 00       6.
	ld	a,002h		;; 3ddf: 3e 02       >.
	rst4			;; 3de1: e7          .
	db	8ah
	cp	a,(iy-121)	;; 3de3: fd be 87    ...
	jr	nc,L3e11	;; 3de6: 30 29       0)
	ld	a,(L31bc)	;; 3de8: 3a bc 31    :.1
	ld	l,a		;; 3deb: 6f          o
	ld	h,000h		;; 3dec: 26 00       &.
	ld	de,L31b1	;; 3dee: 11 b1 31    ..1
	add	hl,de		;; 3df1: 19          .
	push	hl		;; 3df2: e5          .
	rst4			;; 3df3: e7          .
	db	8ah
	ld	l,(iy-123)	;; 3df5: fd 6e 85    .n.
	ld	h,(iy-122)	;; 3df8: fd 66 86    .f.
	ld	a,h		;; 3dfb: 7c          |
	pop	hl		;; 3dfc: e1          .
	ld	(hl),a		;; 3dfd: 77          w
	ld	a,(L31bc)	;; 3dfe: 3a bc 31    :.1
	cp	a,00ah		;; 3e01: fe 0a       ..
	jr	nc,L3e0c	;; 3e03: 30 07       0.
	ld	a,(L31bc)	;; 3e05: 3a bc 31    :.1
	inc	a		;; 3e08: 3c          <
	ld	(L31bc),a	;; 3e09: 32 bc 31    2.1
L3e0c:	ld	hl,L31bd	;; 3e0c: 21 bd 31    ..1
	ld	(hl),001h	;; 3e0f: 36 01       6.
L3e11:	rst4			;; 3e11: e7          .
	db	8ah
	ld	(iy-121),000h	;; 3e13: fd 36 87 00 .6..
	ld	hl,00000h	;; 3e17: 21 00 00    ...
	rst4			;; 3e1a: e7          .
	db	8ah
	ld	(iy-123),l	;; 3e1c: fd 75 85    .u.
	ld	(iy-122),h	;; 3e1f: fd 74 86    .t.
	jp	L8d56		;; 3e22: c3 56 8d    .V.

L3e25:	call	L8d27		;; 3e25: cd 27 8d    .'.
	db	0fah,0ch
	ld	hl,L31bc	;; 3e2a: 21 bc 31    ..1
	ld	(hl),000h	;; 3e2d: 36 00       6.
	ld	(ix-125),000h	;; 3e2f: dd 36 83 00 .6..
	ld	(ix-126),002h	;; 3e33: dd 36 82 02 .6..
	ld	a,(L1785)	;; 3e37: 3a 85 17    :..
	cp	a,041h		;; 3e3a: fe 41       .A
	jr	nz,L3e42	;; 3e3c: 20 04        .
	ld	(ix-126),003h	;; 3e3e: dd 36 82 03 .6..
L3e42:	ld	a,(ix-126)	;; 3e42: dd 7e 82    .~.
	push	af		;; 3e45: f5          .
	call	L1ed3		;; 3e46: cd d3 1e    ...
	ld	a,005h		;; 3e49: 3e 05       >.
	push	af		;; 3e4b: f5          .
	call	L1762		;; 3e4c: cd 62 17    .b.
	ld	hl,00000h	;; 3e4f: 21 00 00    ...
	rst3			;; 3e52: df          .
	db	5
	ld	(ix-121),000h	;; 3e54: dd 36 87 00 .6..
	ld	(ix-124),001h	;; 3e58: dd 36 84 01 .6..
L3e5c:	ld	a,(L02f0)	;; 3e5c: 3a f0 02    :..
	xor	a,001h		;; 3e5f: ee 01       ..
	and	a,(ix-124)	;; 3e61: dd a6 84    ...
	rra			;; 3e64: 1f          .
	jp	nc,L3f2a	;; 3e65: d2 2a 3f    .*?
	call	L1e8e		;; 3e68: cd 8e 1e    ...
	ld	a,(ix-125)	;; 3e6b: dd 7e 83    .~.
	rra			;; 3e6e: 1f          .
	jr	nc,L3eae	;; 3e6f: 30 3d       0=
	ld	a,(L1c5c)	;; 3e71: 3a 5c 1c    :\.
	cp	a,020h		;; 3e74: fe 20       . 
	jr	c,L3e9b		;; 3e76: 38 23       8#
	call	L1e9d		;; 3e78: cd 9d 1e    ...
	ld	a,(L31bc)	;; 3e7b: 3a bc 31    :.1
	ld	l,a		;; 3e7e: 6f          o
	ld	h,000h		;; 3e7f: 26 00       &.
	ld	de,L31b1	;; 3e81: 11 b1 31    ..1
	add	hl,de		;; 3e84: 19          .
	push	hl		;; 3e85: e5          .
	ld	a,(L1c5c)	;; 3e86: 3a 5c 1c    :\.
	pop	hl		;; 3e89: e1          .
	ld	(hl),a		;; 3e8a: 77          w
	ld	a,(L31bc)	;; 3e8b: 3a bc 31    :.1
	cp	a,00ah		;; 3e8e: fe 0a       ..
	jr	nc,L3e99	;; 3e90: 30 07       0.
	ld	a,(L31bc)	;; 3e92: 3a bc 31    :.1
	inc	a		;; 3e95: 3c          <
	ld	(L31bc),a	;; 3e96: 32 bc 31    2.1
L3e99:	jr	L3eab		;; 3e99: 18 10       ..

L3e9b:	ld	a,(L1c5c)	;; 3e9b: 3a 5c 1c    :\.
	cp	a,00dh		;; 3e9e: fe 0d       ..
	jr	nz,L3ea8	;; 3ea0: 20 06        .
	ld	(ix-124),000h	;; 3ea2: dd 36 84 00 .6..
	jr	L3eab		;; 3ea6: 18 03       ..

L3ea8:	call	L0a8f		;; 3ea8: cd 8f 0a    ...
L3eab:	jp	L3f27		;; 3eab: c3 27 3f    .'?

L3eae:	ld	a,(L1c5c)	;; 3eae: 3a 5c 1c    :\.
	push	af		;; 3eb1: f5          .
	ld	hl,L1c5d	;; 3eb2: 21 5d 1c    .].
	push	hl		;; 3eb5: e5          .
	call	L19c8		;; 3eb6: cd c8 19    ...
	rra			;; 3eb9: 1f          .
	jr	nc,L3ee0	;; 3eba: 30 24       0$
	ld	a,(ix-121)	;; 3ebc: dd 7e 87    .~.
	inc	a		;; 3ebf: 3c          <
	ld	(ix-121),a	;; 3ec0: dd 77 87    .w.
	call	L1e9d		;; 3ec3: cd 9d 1e    ...
	rst3			;; 3ec6: df          .
	db	85h
	push	hl		;; 3ec8: e5          .
	ld	hl,00010h	;; 3ec9: 21 10 00    ...
	call	L87b7		;; 3ecc: cd b7 87    ...
	push	hl		;; 3ecf: e5          .
	push	bc		;; 3ed0: c5          .
	ld	a,(L1c5d)	;; 3ed1: 3a 5d 1c    :].
	call	L8807		;; 3ed4: cd 07 88    ...
	call	L87e7		;; 3ed7: cd e7 87    ...
	ld	h,b		;; 3eda: 60          `
	ld	l,c		;; 3edb: 69          i
	rst3			;; 3edc: df          .
	db	5
	jr	L3f27		;; 3ede: 18 47       .G

L3ee0:	ld	a,(L1c5c)	;; 3ee0: 3a 5c 1c    :\.
	call	L3f17		;; 3ee3: cd 17 3f    ..?
L3ee6:	rst4			;; 3ee6: e7          .
	db	82h
	call	L3daf		;; 3ee8: cd af 3d    ..=
	ld	(ix-124),000h	;; 3eeb: dd 36 84 00 .6..
	jr	L3f27		;; 3eef: 18 36       .6

L3ef1:	call	L0799		;; 3ef1: cd 99 07    ...
	rst4			;; 3ef4: e7          .
	db	82h
	call	L3daf		;; 3ef6: cd af 3d    ..=
	jr	L3f27		;; 3ef9: 18 2c       .,

L3efb:	ld	a,(ix-121)	;; 3efb: dd 7e 87    .~.
	or	a,a		;; 3efe: b7          .
	jr	nz,L3f0d	;; 3eff: 20 0c        .
	ld	a,027h		;; 3f01: 3e 27       >'
	push	af		;; 3f03: f5          .
	call	L0597		;; 3f04: cd 97 05    ...
	ld	(ix-125),001h	;; 3f07: dd 36 83 01 .6..
	jr	L3f10		;; 3f0b: 18 03       ..

L3f0d:	call	L0a8f		;; 3f0d: cd 8f 0a    ...
L3f10:	jr	L3f27		;; 3f10: 18 15       ..

L3f12:	call	L0a8f		;; 3f12: cd 8f 0a    ...
	jr	L3f27		;; 3f15: 18 10       ..

L3f17:	ld	b,003h		;; 3f17: 06 03       ..
	call	L8ddc		;; 3f19: cd dc 8d    ...
	db 0dh ! dw L3ee6
	db ' ' ! dw L3ef1
	db '''' ! dw L3efb
	dw	L3f12
L3f27:	jp	L3e5c		;; 3f27: c3 5c 3e    .\>

L3f2a:	call	L0977		;; 3f2a: cd 77 09    .w.
	call	L0965		;; 3f2d: cd 65 09    .e.
	jp	L8d56		;; 3f30: c3 56 8d    .V.

L3f33:	call	L8d27		;; 3f33: cd 27 8d    .'.
	db	0fdh,9
	ld	a,(L02e3)	;; 3f38: 3a e3 02    :..
	inc	a		;; 3f3b: 3c          <
	push	af		;; 3f3c: f5          .
	ld	a,005h		;; 3f3d: 3e 05       >.
	push	af		;; 3f3f: f5          .
	call	L0889		;; 3f40: cd 89 08    ...
	ld	a,006h		;; 3f43: 3e 06       >.
	push	af		;; 3f45: f5          .
	call	L1762		;; 3f46: cd 62 17    .b.
	ld	(ix-125),001h	;; 3f49: dd 36 83 01 .6..
	ld	hl,L321e	;; 3f4d: 21 1e 32    ..2
	ld	(hl),000h	;; 3f50: 36 00       6.
L3f52:	ld	a,(L02f0)	;; 3f52: 3a f0 02    :..
	xor	a,001h		;; 3f55: ee 01       ..
	and	a,(ix-125)	;; 3f57: dd a6 83    ...
	rra			;; 3f5a: 1f          .
	jr	nc,L3fb8	;; 3f5b: 30 5b       0[
	call	L1e8e		;; 3f5d: cd 8e 1e    ...
	ld	a,(L1c5c)	;; 3f60: 3a 5c 1c    :\.
	cp	a,020h		;; 3f63: fe 20       . 
	jr	nc,L3f93	;; 3f65: 30 2c       0,
	ld	a,(L1c5c)	;; 3f67: 3a 5c 1c    :\.
	cp	a,00eh		;; 3f6a: fe 0e       ..
	jr	nz,L3f81	;; 3f6c: 20 13        .
	ld	a,05eh		;; 3f6e: 3e 5e       >^
	push	af		;; 3f70: f5          .
	call	L0597		;; 3f71: cd 97 05    ...
	ld	a,04eh		;; 3f74: 3e 4e       >N
	push	af		;; 3f76: f5          .
	call	L0597		;; 3f77: cd 97 05    ...
	ld	hl,L1c5c	;; 3f7a: 21 5c 1c    .\.
	ld	(hl),00dh	;; 3f7d: 36 0d       6.
	jr	L3f96		;; 3f7f: 18 15       ..

L3f81:	ld	a,(L1c5c)	;; 3f81: 3a 5c 1c    :\.
	cp	a,00dh		;; 3f84: fe 0d       ..
	jr	nz,L3f8e	;; 3f86: 20 06        .
	ld	(ix-125),000h	;; 3f88: dd 36 83 00 .6..
	jr	L3f91		;; 3f8c: 18 03       ..

L3f8e:	call	L0a8f		;; 3f8e: cd 8f 0a    ...
L3f91:	jr	L3fb6		;; 3f91: 18 23       .#

L3f93:	call	L1e9d		;; 3f93: cd 9d 1e    ...
L3f96:	ld	a,(L321e)	;; 3f96: 3a 1e 32    :.2
	cp	a,028h		;; 3f99: fe 28       .(
	jr	nc,L3fb3	;; 3f9b: 30 16       0.
	ld	a,(L321e)	;; 3f9d: 3a 1e 32    :.2
	inc	a		;; 3fa0: 3c          <
	ld	(L321e),a	;; 3fa1: 32 1e 32    2.2
	ld	l,a		;; 3fa4: 6f          o
	ld	h,000h		;; 3fa5: 26 00       &.
	ld	de,L31f5	;; 3fa7: 11 f5 31    ..1
	add	hl,de		;; 3faa: 19          .
	push	hl		;; 3fab: e5          .
	ld	a,(L1c5c)	;; 3fac: 3a 5c 1c    :\.
	pop	hl		;; 3faf: e1          .
	ld	(hl),a		;; 3fb0: 77          w
	jr	L3fb6		;; 3fb1: 18 03       ..

L3fb3:	call	L0a8f		;; 3fb3: cd 8f 0a    ...
L3fb6:	jr	L3f52		;; 3fb6: 18 9a       ..

L3fb8:	call	L0977		;; 3fb8: cd 77 09    .w.
	call	L0965		;; 3fbb: cd 65 09    .e.
	jp	L8d56		;; 3fbe: c3 56 8d    .V.

L3fc1:	call	L8d27		;; 3fc1: cd 27 8d    .'.
	db	0ffh,9
	ld	a,(ix-124)	;; 3fc6: dd 7e 84    .~.
	push	af		;; 3fc9: f5          .
	call	L75c9		;; 3fca: cd c9 75    ..u
	db	8,0,0,0,0,0,80h,0,8
	call	L7450		;; 3fd6: cd 50 74    .Pt
	call	L8c0e		;; 3fd9: cd 0e 8c    ...
	ld	(ix-126),a	;; 3fdc: dd 77 82    .w.
	jp	L8d56		;; 3fdf: c3 56 8d    .V.

L3fe2:	call	L8d27		;; 3fe2: cd 27 8d    .'.
	db	0fbh,0bh
	ld	hl,(L322b)	;; 3fe7: 2a 2b 32    *+2
	rst3			;; 3fea: df          .
	db	5
	ld	a,(L02e3)	;; 3fec: 3a e3 02    :..
	ld	l,a		;; 3fef: 6f          o
	ld	h,000h		;; 3ff0: 26 00       &.
	add	hl,hl		;; 3ff2: 29          )
	ld	de,L1c90	;; 3ff3: 11 90 1c    ...
	add	hl,de		;; 3ff6: 19          .
	rst4			;; 3ff7: e7          .
	db	80h
	push	hl		;; 3ff9: e5          .
	call	L6760		;; 3ffa: cd 60 67    .`g
	ld	a,(L1d40)	;; 3ffd: 3a 40 1d    :@.
	xor	a,001h		;; 4000: ee 01       ..
	rra			;; 4002: 1f          .
	jr	nc,L4016	;; 4003: 30 11       0.
	ld	a,(L02e3)	;; 4005: 3a e3 02    :..
	ld	l,a		;; 4008: 6f          o
	ld	h,000h		;; 4009: 26 00       &.
	add	hl,hl		;; 400b: 29          )
	ld	de,L1c5e	;; 400c: 11 5e 1c    .^.
	add	hl,de		;; 400f: 19          .
	rst4			;; 4010: e7          .
	db	80h
	push	hl		;; 4012: e5          .
	call	L6760		;; 4013: cd 60 67    .`g
L4016:	ld	a,(L1d40)	;; 4016: 3a 40 1d    :@.
	xor	a,001h		;; 4019: ee 01       ..
	rra			;; 401b: 1f          .
	jr	nc,L4028	;; 401c: 30 0a       0.
	rst3			;; 401e: df          .
	db	85h
	push	hl		;; 4020: e5          .
	call	L5e78		;; 4021: cd 78 5e    .x^
	push	hl		;; 4024: e5          .
	call	L6760		;; 4025: cd 60 67    .`g
L4028:	ld	a,(L1d40)	;; 4028: 3a 40 1d    :@.
	rra			;; 402b: 1f          .
	jp	nc,L40fd	;; 402c: d2 fd 40    ..@
	ld	hl,(L1d43)	;; 402f: 2a 43 1d    *C.
	rst3			;; 4032: df          .
	db	3
	ld	a,(L1d45)	;; 4034: 3a 45 1d    :E.
	ld	(ix-126),a	;; 4037: dd 77 82    .w.
	ld	a,(L1785)	;; 403a: 3a 85 17    :..
	call	L40e1		;; 403d: cd e1 40    ..@
L4040:	ld	c,(ix-123)	;; 4040: dd 4e 85    .N.
	ld	b,(ix-122)	;; 4043: dd 46 86    .F.
	rst3			;; 4046: df          .
	db	83h
	or	a,a		;; 4048: b7          .
	sbc	hl,bc		;; 4049: ed 42       .B
	jr	z,L4050		;; 404b: 28 03       (.
	jp	L40fd		;; 404d: c3 fd 40    ..@

L4050:	jp	L40f7		;; 4050: c3 f7 40    ..@

L4053:	ld	c,(ix-123)	;; 4053: dd 4e 85    .N.
	ld	b,(ix-122)	;; 4056: dd 46 86    .F.
	rst3			;; 4059: df          .
	db	83h
	or	a,a		;; 405b: b7          .
	sbc	hl,bc		;; 405c: ed 42       .B
	call	L8c0e		;; 405e: cd 0e 8c    ...
	push	af		;; 4061: f5          .
	ld	a,(ix-126)	;; 4062: dd 7e 82    .~.
	or	a,a		;; 4065: b7          .
	call	L8c09		;; 4066: cd 09 8c    ...
	ld	b,a		;; 4069: 47          G
	pop	af		;; 406a: f1          .
	and	a,b		;; 406b: a0          .
	rra			;; 406c: 1f          .
	jr	nc,L4072	;; 406d: 30 03       0.
	jp	L40fd		;; 406f: c3 fd 40    ..@

L4072:	jp	L40f7		;; 4072: c3 f7 40    ..@

L4075:	ld	c,(ix-123)	;; 4075: dd 4e 85    .N.
	ld	b,(ix-122)	;; 4078: dd 46 86    .F.
	rst3			;; 407b: df          .
	db	83h
	or	a,a		;; 407d: b7          .
	sbc	hl,bc		;; 407e: ed 42       .B
	call	L8c0e		;; 4080: cd 0e 8c    ...
	push	af		;; 4083: f5          .
	ld	a,(L1d46)	;; 4084: 3a 46 1d    :F.
	cp	a,055h		;; 4087: fe 55       .U
	call	L8c09		;; 4089: cd 09 8c    ...
	ld	b,a		;; 408c: 47          G
	pop	af		;; 408d: f1          .
	and	a,b		;; 408e: a0          .
	push	af		;; 408f: f5          .
	ld	a,(ix-126)	;; 4090: dd 7e 82    .~.
	or	a,a		;; 4093: b7          .
	call	L8c09		;; 4094: cd 09 8c    ...
	ld	b,a		;; 4097: 47          G
	pop	af		;; 4098: f1          .
	and	a,b		;; 4099: a0          .
	rra			;; 409a: 1f          .
	jr	nc,L409f	;; 409b: 30 02       0.
	jr	L40fd		;; 409d: 18 5e       .^

L409f:	jr	L40f7		;; 409f: 18 56       .V

L40a1:	ld	c,(ix-123)	;; 40a1: dd 4e 85    .N.
	ld	b,(ix-122)	;; 40a4: dd 46 86    .F.
	rst3			;; 40a7: df          .
	db	83h
	or	a,a		;; 40a9: b7          .
	sbc	hl,bc		;; 40aa: ed 42       .B
	call	L8c0e		;; 40ac: cd 0e 8c    ...
	push	af		;; 40af: f5          .
	ld	a,(ix-126)	;; 40b0: dd 7e 82    .~.
	or	a,a		;; 40b3: b7          .
	call	L8c0e		;; 40b4: cd 0e 8c    ...
	ld	b,a		;; 40b7: 47          G
	pop	af		;; 40b8: f1          .
	and	a,b		;; 40b9: a0          .
	rra			;; 40ba: 1f          .
	jr	nc,L40bf	;; 40bb: 30 02       0.
	jr	L40fd		;; 40bd: 18 3e       .>

L40bf:	jr	L40f7		;; 40bf: 18 36       .6

L40c1:	ld	c,(ix-123)	;; 40c1: dd 4e 85    .N.
	ld	b,(ix-122)	;; 40c4: dd 46 86    .F.
	rst3			;; 40c7: df          .
	db	83h
	or	a,a		;; 40c9: b7          .
	sbc	hl,bc		;; 40ca: ed 42       .B
	call	L8c0e		;; 40cc: cd 0e 8c    ...
	push	af		;; 40cf: f5          .
	ld	a,(ix-126)	;; 40d0: dd 7e 82    .~.
	push	af		;; 40d3: f5          .
	call	L3fc1		;; 40d4: cd c1 3f    ..?
	ld	b,a		;; 40d7: 47          G
	pop	af		;; 40d8: f1          .
	and	a,b		;; 40d9: a0          .
	rra			;; 40da: 1f          .
	jr	nc,L40df	;; 40db: 30 02       0.
	jr	L40fd		;; 40dd: 18 1e       ..

L40df:	jr	L40f7		;; 40df: 18 16       ..

L40e1:	ld	b,005h		;; 40e1: 06 05       ..
	call	L8ddc		;; 40e3: cd dc 8d    ...
	db ';' ! dw L40c1
	db 'B' ! dw L4053
	db 'S' ! dw L40a1
	db 'T' ! dw L4040
	db 'U' ! dw L4075
	dw	L8e06
L40f7:	call	L67a6		;; 40f7: cd a6 67    ..g
	jp	L4028		;; 40fa: c3 28 40    .(@

L40fd:	ld	a,(L1d40)	;; 40fd: 3a 40 1d    :@.
	xor	a,001h		;; 4100: ee 01       ..
	rra			;; 4102: 1f          .
	jr	nc,L410a	;; 4103: 30 05       0.
	call	L39a3		;; 4105: cd a3 39    ..9
	jr	L4110		;; 4108: 18 06       ..

L410a:	ld	hl,(L1d43)	;; 410a: 2a 43 1d    *C.
	ld	(L1789),hl	;; 410d: 22 89 17    "..
L4110:	call	L351f		;; 4110: cd 1f 35    ..5
	jp	L8d56		;; 4113: c3 56 8d    .V.

L4116:	call	L8d27		;; 4116: cd 27 8d    .'.
	db	0feh,8
	call	L1e41		;; 411b: cd 41 1e    .A.
	ld	a,(L1785)	;; 411e: 3a 85 17    :..
	call	L41d4		;; 4121: cd d4 41    ..A
L4124:	call	L3fe2		;; 4124: cd e2 3f    ..?
	jp	L4208		;; 4127: c3 08 42    ..B

L412a:	call	L322e		;; 412a: cd 2e 32    ..2
	ld	(L1789),hl	;; 412d: 22 89 17    "..
	call	L351f		;; 4130: cd 1f 35    ..5
	jp	L4208		;; 4133: c3 08 42    ..B

L4136:	call	L39a3		;; 4136: cd a3 39    ..9
	call	L351f		;; 4139: cd 1f 35    ..5
	jp	L4208		;; 413c: c3 08 42    ..B

L413f:	call	L3966		;; 413f: cd 66 39    .f9
	jp	L4208		;; 4142: c3 08 42    ..B

L4145:	call	L3e25		;; 4145: cd 25 3e    .%>
	ld	hl,L3224	;; 4148: 21 24 32    .$2
	ld	(hl),000h	;; 414b: 36 00       6.
	ld	a,(L1785)	;; 414d: 3a 85 17    :..
	cp	a,041h		;; 4150: fe 41       .A
	jr	nz,L415c	;; 4152: 20 08        .
	ld	hl,L3224	;; 4154: 21 24 32    .$2
	ld	(hl),001h	;; 4157: 36 01       6.
	call	L3f33		;; 4159: cd 33 3f    .3?
L415c:	call	L3cfd		;; 415c: cd fd 3c    ..<
	call	L39cc		;; 415f: cd cc 39    ..9
	ld	a,020h		;; 4162: 3e 20       > 
	push	af		;; 4164: f5          .
	call	L50de		;; 4165: cd de 50    ..P
	call	L1dda		;; 4168: cd da 1d    ...
	jp	L4208		;; 416b: c3 08 42    ..B

L416e:	ld	hl,(L322b)	;; 416e: 2a 2b 32    *+2
	rst3			;; 4171: df          .
	db	2
	ld	a,(L1785)	;; 4173: 3a 85 17    :..
	cp	a,049h		;; 4176: fe 49       .I
	jr	nz,L4189	;; 4178: 20 0f        .
	ld	a,(L02e3)	;; 417a: 3a e3 02    :..
	ld	l,a		;; 417d: 6f          o
	ld	h,000h		;; 417e: 26 00       &.
	add	hl,hl		;; 4180: 29          )
	ld	de,L1cc2	;; 4181: 11 c2 1c    ...
	add	hl,de		;; 4184: 19          .
	rst4			;; 4185: e7          .
	db	80h
	rst3			;; 4187: df          .
	db	2
L4189:	rst3			;; 4189: df          .
	db	82h
	ld	h,000h		;; 418b: 26 00       &.
	ld	a,l		;; 418d: 7d          }
	ld	(L31b1),a	;; 418e: 32 b1 31    2.1
	rst3			;; 4191: df          .
	db	82h
	ld	a,h		;; 4193: 7c          |
	ld	(L31b2),a	;; 4194: 32 b2 31    2.1
	ld	hl,L31bd	;; 4197: 21 bd 31    ..1
	ld	(hl),001h	;; 419a: 36 01       6.
	ld	hl,L31bc	;; 419c: 21 bc 31    ..1
	ld	(hl),002h	;; 419f: 36 02       6.
	ld	a,001h		;; 41a1: 3e 01       >.
	push	af		;; 41a3: f5          .
	call	L1ed3		;; 41a4: cd d3 1e    ...
	call	L3cfd		;; 41a7: cd fd 3c    ..<
	call	L39cc		;; 41aa: cd cc 39    ..9
	jr	L4208		;; 41ad: 18 59       .Y

L41af:	ld	a,(L02e6)	;; 41af: 3a e6 02    :..
	push	af		;; 41b2: f5          .
	call	L0953		;; 41b3: cd 53 09    .S.
	ld	a,(L02e3)	;; 41b6: 3a e3 02    :..
	ld	hl,L1d56	;; 41b9: 21 56 1d    .V.
	cp	a,(hl)		;; 41bc: be          .
	jr	nc,L41c2	;; 41bd: 30 03       0.
	call	L2c3e		;; 41bf: cd 3e 2c    .>,
L41c2:	jr	L4208		;; 41c2: 18 44       .D

L41c4:	ld	a,(L02e5)	;; 41c4: 3a e5 02    :..
	push	af		;; 41c7: f5          .
	call	L0953		;; 41c8: cd 53 09    .S.
	jr	L4208		;; 41cb: 18 3b       .;

L41cd:	jr	L4208		;; 41cd: 18 39       .9

L41cf:	call	L0a8f		;; 41cf: cd 8f 0a    ...
	jr	L4208		;; 41d2: 18 34       .4

L41d4:	ld	b,00fh		;; 41d4: 06 0f       ..
	call	L8ddc		;; 41d6: cd dc 8d    ...
	db ' ' ! dw L41cd
	db ';' ! dw L4124
	db 'A' ! dw L4145
	db 'B' ! dw L4124
	db 'C' ! dw L4136
	db 'E' ! dw L41af
	db 'F' ! dw L4145
	db 'I' ! dw L416e
	db 'L' ! dw L416e
	db 'R' ! dw L412a
	db 'S' ! dw L4124
	db 'T' ! dw L4124
	db 'U' ! dw L4124
	db 'V' ! dw L413f
	db 'X' ! dw L41c4
	dw	L41cf
L4208:	jp	L8d56		;; 4208: c3 56 8d    .V.

L420b:	call	L8d27		;; 420b: cd 27 8d    .'.
	db	0,6
	ld	a,(L31ae)	;; 4210: 3a ae 31    :.1
	inc	a		;; 4213: 3c          <
	push	af		;; 4214: f5          .
	ld	a,014h		;; 4215: 3e 14       >.
	call	L8965		;; 4217: cd 65 89    .e.
	ld	(L31ae),a	;; 421a: 32 ae 31    2.1
	ld	l,a		;; 421d: 6f          o
	ld	h,000h		;; 421e: 26 00       &.
	add	hl,hl		;; 4220: 29          )
	ld	de,L3172	;; 4221: 11 72 31    .r1
	add	hl,de		;; 4224: 19          .
	push	hl		;; 4225: e5          .
	ld	hl,(L1789)	;; 4226: 2a 89 17    *..
	rst4			;; 4229: e7          .
	db	81h
	ld	a,(L31ae)	;; 422b: 3a ae 31    :.1
	ld	l,a		;; 422e: 6f          o
	ld	h,000h		;; 422f: 26 00       &.
	ld	de,L319a	;; 4231: 11 9a 31    ..1
	add	hl,de		;; 4234: 19          .
	push	hl		;; 4235: e5          .
	ld	a,(L02e3)	;; 4236: 3a e3 02    :..
	pop	hl		;; 4239: e1          .
	ld	(hl),a		;; 423a: 77          w
	jp	L8d56		;; 423b: c3 56 8d    .V.

L423e:	call	L8d27		;; 423e: cd 27 8d    .'.
	db	0fch,0ah
	ld	a,(L02e3)	;; 4243: 3a e3 02    :..
	ld	l,a		;; 4246: 6f          o
	ld	h,000h		;; 4247: 26 00       &.
	add	hl,hl		;; 4249: 29          )
	ld	de,L1c90	;; 424a: 11 90 1c    ...
	add	hl,de		;; 424d: 19          .
	rst4			;; 424e: e7          .
	db	80h
	rst3			;; 4250: df          .
	db	4
	ld	a,(L02e3)	;; 4252: 3a e3 02    :..
	ld	l,a		;; 4255: 6f          o
	ld	h,000h		;; 4256: 26 00       &.
	add	hl,hl		;; 4258: 29          )
	ld	de,L1c5e	;; 4259: 11 5e 1c    .^.
	add	hl,de		;; 425c: 19          .
	rst4			;; 425d: e7          .
	db	80h
	rst3			;; 425f: df          .
	db	2
	rst3			;; 4261: df          .
	db	84h
	ld	a,h		;; 4263: 7c          |
	or	a,l		;; 4264: b5          .
	jr	nz,L427d	;; 4265: 20 16        .
	rst3			;; 4267: df          .
	db	82h
	rst3			;; 4269: df          .
	db	4
	ld	a,(L02e3)	;; 426b: 3a e3 02    :..
	ld	l,a		;; 426e: 6f          o
	ld	h,000h		;; 426f: 26 00       &.
	add	hl,hl		;; 4271: 29          )
	ld	de,L1c5e	;; 4272: 11 5e 1c    .^.
	add	hl,de		;; 4275: 19          .
	ld	(hl),000h	;; 4276: 36 00       6.
	inc	hl		;; 4278: 23          #
	ld	(hl),000h	;; 4279: 36 00       6.
	jr	L42b2		;; 427b: 18 35       .5

L427d:	ld	a,(L02e3)	;; 427d: 3a e3 02    :..
	ld	l,a		;; 4280: 6f          o
	ld	h,000h		;; 4281: 26 00       &.
	add	hl,hl		;; 4283: 29          )
	ld	de,L1c90	;; 4284: 11 90 1c    ...
	add	hl,de		;; 4287: 19          .
	ld	(hl),000h	;; 4288: 36 00       6.
	inc	hl		;; 428a: 23          #
	ld	(hl),000h	;; 428b: 36 00       6.
	rst3			;; 428d: df          .
	db	82h
	ld	a,h		;; 428f: 7c          |
	or	a,l		;; 4290: b5          .
	jr	z,L42b2		;; 4291: 28 1f       (.
	ld	a,(L02e3)	;; 4293: 3a e3 02    :..
	ld	l,a		;; 4296: 6f          o
	ld	h,000h		;; 4297: 26 00       &.
	add	hl,hl		;; 4299: 29          )
	ld	de,L1c5e	;; 429a: 11 5e 1c    .^.
	add	hl,de		;; 429d: 19          .
	push	hl		;; 429e: e5          .
	rst3			;; 429f: df          .
	db	82h
	rst4			;; 42a1: e7          .
	db	87h
	push	hl		;; 42a3: e5          .
	push	bc		;; 42a4: c5          .
	ld	bc,00006h	;; 42a5: 01 06 00    ...
	ld	hl,00000h	;; 42a8: 21 00 00    ...
	call	L87f6		;; 42ab: cd f6 87    ...
	ld	h,b		;; 42ae: 60          `
	ld	l,c		;; 42af: 69          i
	rst4			;; 42b0: e7          .
	db	81h
L42b2:	rst3			;; 42b2: df          .
	db	84h
	push	hl		;; 42b4: e5          .
	call	L6760		;; 42b5: cd 60 67    .`g
	ld	a,(L1d40)	;; 42b8: 3a 40 1d    :@.
	xor	a,001h		;; 42bb: ee 01       ..
	push	af		;; 42bd: f5          .
	ld	bc,(L1d43)	;; 42be: ed 4b 43 1d .KC.
	ld	hl,(L322b)	;; 42c2: 2a 2b 32    *+2
	or	a,a		;; 42c5: b7          .
	sbc	hl,bc		;; 42c6: ed 42       .B
	ld	a,000h		;; 42c8: 3e 00       >.
	rla			;; 42ca: 17          .
	ld	b,a		;; 42cb: 47          G
	pop	af		;; 42cc: f1          .
	or	a,b		;; 42cd: b0          .
	rra			;; 42ce: 1f          .
	jr	nc,L42d6	;; 42cf: 30 05       0.
	call	L0a8f		;; 42d1: cd 8f 0a    ...
	jr	L42e3		;; 42d4: 18 0d       ..

L42d6:	rst3			;; 42d6: df          .
	db	84h
	push	hl		;; 42d8: e5          .
	call	L657c		;; 42d9: cd 7c 65    .|e
	ld	a,(L02e2)	;; 42dc: 3a e2 02    :..
	push	af		;; 42df: f5          .
	call	L2bcc		;; 42e0: cd cc 2b    ..+
L42e3:	jp	L8d56		;; 42e3: c3 56 8d    .V.

L42e6:	call	L8d27		;; 42e6: cd 27 8d    .'.
	db	0feh,8
	ld	hl,00000h	;; 42eb: 21 00 00    ...
	push	hl		;; 42ee: e5          .
	call	L5e78		;; 42ef: cd 78 5e    .x^
	push	hl		;; 42f2: e5          .
	call	L6760		;; 42f3: cd 60 67    .`g
L42f6:	ld	a,(L1d40)	;; 42f6: 3a 40 1d    :@.
	rra			;; 42f9: 1f          .
	jr	nc,L433c	;; 42fa: 30 40       0@
	ld	a,(L1d45)	;; 42fc: 3a 45 1d    :E.
	or	a,a		;; 42ff: b7          .
	call	L8c0e		;; 4300: cd 0e 8c    ...
	push	af		;; 4303: f5          .
	ld	a,(L1d45)	;; 4304: 3a 45 1d    :E.
	push	af		;; 4307: f5          .
	call	L3fc1		;; 4308: cd c1 3f    ..?
	xor	a,001h		;; 430b: ee 01       ..
	ld	b,a		;; 430d: 47          G
	pop	af		;; 430e: f1          .
	and	a,b		;; 430f: a0          .
	push	af		;; 4310: f5          .
	ld	hl,(L1d46)	;; 4311: 2a 46 1d    *F.
	ld	a,h		;; 4314: 7c          |
	or	a,l		;; 4315: b5          .
	call	L8c09		;; 4316: cd 09 8c    ...
	ld	b,a		;; 4319: 47          G
	pop	af		;; 431a: f1          .
	and	a,b		;; 431b: a0          .
	rra			;; 431c: 1f          .
	jr	nc,L4337	;; 431d: 30 18       0.
	ld	hl,(L1d43)	;; 431f: 2a 43 1d    *C.
	rst3			;; 4322: df          .
	db	2
	ld	hl,(L1d41)	;; 4324: 2a 41 1d    *A.
	push	hl		;; 4327: e5          .
	call	L657c		;; 4328: cd 7c 65    .|e
	rst3			;; 432b: df          .
	db	82h
	push	hl		;; 432d: e5          .
	call	L5e78		;; 432e: cd 78 5e    .x^
	push	hl		;; 4331: e5          .
	call	L6760		;; 4332: cd 60 67    .`g
	jr	L433a		;; 4335: 18 03       ..

L4337:	call	L67a6		;; 4337: cd a6 67    ..g
L433a:	jr	L42f6		;; 433a: 18 ba       ..

L433c:	jp	L8d56		;; 433c: c3 56 8d    .V.

L433f:	call	L8d27		;; 433f: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02e3)	;; 4344: 3a e3 02    :..
	ld	l,a		;; 4347: 6f          o
	ld	h,000h		;; 4348: 26 00       &.
	add	hl,hl		;; 434a: 29          )
	ld	de,L1c5e	;; 434b: 11 5e 1c    .^.
	add	hl,de		;; 434e: 19          .
	rst4			;; 434f: e7          .
	db	80h
	rst3			;; 4351: df          .
	db	2
	ld	a,h		;; 4353: 7c          |
	or	a,l		;; 4354: b5          .
	jr	nz,L435c	;; 4355: 20 05        .
	call	L0a8f		;; 4357: cd 8f 0a    ...
	jr	L439c		;; 435a: 18 40       .@

L435c:	rst3			;; 435c: df          .
	db	82h
	push	hl		;; 435e: e5          .
	call	L6760		;; 435f: cd 60 67    .`g
	ld	a,(L1d40)	;; 4362: 3a 40 1d    :@.
	xor	a,001h		;; 4365: ee 01       ..
	push	af		;; 4367: f5          .
	ld	a,(L1d45)	;; 4368: 3a 45 1d    :E.
	or	a,a		;; 436b: b7          .
	call	L8c09		;; 436c: cd 09 8c    ...
	ld	b,a		;; 436f: 47          G
	pop	af		;; 4370: f1          .
	or	a,b		;; 4371: b0          .
	rra			;; 4372: 1f          .
	jr	nc,L437a	;; 4373: 30 05       0.
	call	L0a8f		;; 4375: cd 8f 0a    ...
	jr	L439c		;; 4378: 18 22       ."

L437a:	call	L1e41		;; 437a: cd 41 1e    .A.
	ld	a,(L1785)	;; 437d: 3a 85 17    :..
	ld	(L1d48),a	;; 4380: 32 48 1d    2H.
	ld	a,(L1785)	;; 4383: 3a 85 17    :..
	cp	a,020h		;; 4386: fe 20       . 
	jr	z,L4395		;; 4388: 28 0b       (.
	ld	hl,(L1d41)	;; 438a: 2a 41 1d    *A.
	push	hl		;; 438d: e5          .
	ld	hl,L1d43	;; 438e: 21 43 1d    .C.
	push	hl		;; 4391: e5          .
	call	L5e33		;; 4392: cd 33 5e    .3^
L4395:	ld	a,(L02e3)	;; 4395: 3a e3 02    :..
	push	af		;; 4398: f5          .
	call	L2bcc		;; 4399: cd cc 2b    ..+
L439c:	jp	L8d56		;; 439c: c3 56 8d    .V.

L439f:	call	L8d27		;; 439f: cd 27 8d    .'.
	db	0c4h,'B'
	ld	a,009h		;; 43a4: 3e 09       >.
	push	af		;; 43a6: f5          .
	ld	hl,0ff85h	;; 43a7: 21 85 ff    ...
	rst2			;; 43aa: d7          .
	push	hl		;; 43ab: e5          .
	call	L16bd		;; 43ac: cd bd 16    ...
	call	L1e41		;; 43af: cd 41 1e    .A.
	ld	a,(L1785)	;; 43b2: 3a 85 17    :..
	call	L44bc		;; 43b5: cd bc 44    ..D
L43b8:	ld	a,(L1785)	;; 43b8: 3a 85 17    :..
	ld	(ix-122),a	;; 43bb: dd 77 86    .w.
	ld	hl,(L322b)	;; 43be: 2a 2b 32    *+2
	rst3			;; 43c1: df          .
	db	3
	ld	a,(L02e3)	;; 43c3: 3a e3 02    :..
	push	af		;; 43c6: f5          .
	call	L329a		;; 43c7: cd 9a 32    ..2
	push	hl		;; 43ca: e5          .
	call	L6760		;; 43cb: cd 60 67    .`g
	ld	a,(L1785)	;; 43ce: 3a 85 17    :..
	push	af		;; 43d1: f5          .
	rst3			;; 43d2: df          .
	db	83h
	push	hl		;; 43d4: e5          .
	ld	hl,0ff85h	;; 43d5: 21 85 ff    ...
	rst2			;; 43d8: d7          .
	call	L75ea		;; 43d9: cd ea 75    ..u
	ld	a,037h		;; 43dc: 3e 37       >7
	call	L8bb0		;; 43de: cd b0 8b    ...
	ld	hl,(L1d41)	;; 43e1: 2a 41 1d    *A.
	push	hl		;; 43e4: e5          .
	call	L3cc3		;; 43e5: cd c3 3c    ..<
	call	L1e32		;; 43e8: cd 32 1e    .2.
	ld	a,(L1d40)	;; 43eb: 3a 40 1d    :@.
	xor	a,001h		;; 43ee: ee 01       ..
	rra			;; 43f0: 1f          .
	jr	nc,L4400	;; 43f1: 30 0d       0.
	ld	hl,00000h	;; 43f3: 21 00 00    ...
	push	hl		;; 43f6: e5          .
	call	L5e78		;; 43f7: cd 78 5e    .x^
	push	hl		;; 43fa: e5          .
	call	L6760		;; 43fb: cd 60 67    .`g
	jr	L4403		;; 43fe: 18 03       ..

L4400:	call	L67a6		;; 4400: cd a6 67    ..g
L4403:	ld	a,(L02e3)	;; 4403: 3a e3 02    :..
	ld	l,a		;; 4406: 6f          o
	ld	h,000h		;; 4407: 26 00       &.
	add	hl,hl		;; 4409: 29          )
	ld	de,L1c5e	;; 440a: 11 5e 1c    .^.
	add	hl,de		;; 440d: 19          .
	push	hl		;; 440e: e5          .
	ld	hl,(L1d41)	;; 440f: 2a 41 1d    *A.
	rst4			;; 4412: e7          .
	db	81h
	ld	a,(L02e3)	;; 4414: 3a e3 02    :..
	push	af		;; 4417: f5          .
	call	L2bcc		;; 4418: cd cc 2b    ..+
	jp	L44e4		;; 441b: c3 e4 44    ..D

L441e:	ld	a,(L02e3)	;; 441e: 3a e3 02    :..
	ld	l,a		;; 4421: 6f          o
	ld	h,000h		;; 4422: 26 00       &.
	ld	de,L1d26	;; 4424: 11 26 1d    .&.
	add	hl,de		;; 4427: 19          .
	ld	a,(hl)		;; 4428: 7e          ~
	ld	(ix-67),a	;; 4429: dd 77 bd    .w.
	cp	a,020h		;; 442c: fe 20       . 
	jr	nz,L4434	;; 442e: 20 04        .
	ld	(ix-67),04ch	;; 4430: dd 36 bd 4c .6.L
L4434:	ld	a,(ix-67)	;; 4434: dd 7e bd    .~.
	ld	(ix-122),a	;; 4437: dd 77 86    .w.
	ld	a,(L02e3)	;; 443a: 3a e3 02    :..
	ld	(ix-126),a	;; 443d: dd 77 82    .w.
	ld	l,a		;; 4440: 6f          o
	ld	h,000h		;; 4441: 26 00       &.
	add	hl,hl		;; 4443: 29          )
	ld	de,L1cc2	;; 4444: 11 c2 1c    ...
	add	hl,de		;; 4447: 19          .
	rst4			;; 4448: e7          .
	db	80h
	rst3			;; 444a: df          .
	db	3
	push	hl		;; 444c: e5          .
	call	L5f05		;; 444d: cd 05 5f    .._
	push	hl		;; 4450: e5          .
	call	L6760		;; 4451: cd 60 67    .`g
	ld	a,(ix-67)	;; 4454: dd 7e bd    .~.
	push	af		;; 4457: f5          .
	rst3			;; 4458: df          .
	db	83h
	push	hl		;; 445a: e5          .
	ld	hl,0ff85h	;; 445b: 21 85 ff    ...
	rst2			;; 445e: d7          .
	call	L75ea		;; 445f: cd ea 75    ..u
	ld	a,037h		;; 4462: 3e 37       >7
	call	L8bb0		;; 4464: cd b0 8b    ...
	ld	hl,(L1d41)	;; 4467: 2a 41 1d    *A.
	push	hl		;; 446a: e5          .
	call	L3cc3		;; 446b: cd c3 3c    ..<
	ld	bc,(L1789)	;; 446e: ed 4b 89 17 .K..
	rst3			;; 4472: df          .
	db	83h
	or	a,a		;; 4474: b7          .
	sbc	hl,bc		;; 4475: ed 42       .B
	ld	a,000h		;; 4477: 3e 00       >.
	ccf			;; 4479: 3f          ?
	rla			;; 447a: 17          .
	push	af		;; 447b: f5          .
	ld	c,(ix-125)	;; 447c: dd 4e 83    .N.
	ld	b,(ix-124)	;; 447f: dd 46 84    .F.
	ld	hl,(L1787)	;; 4482: 2a 87 17    *..
	or	a,a		;; 4485: b7          .
	sbc	hl,bc		;; 4486: ed 42       .B
	ld	a,000h		;; 4488: 3e 00       >.
	ccf			;; 448a: 3f          ?
	rla			;; 448b: 17          .
	ld	b,a		;; 448c: 47          G
	pop	af		;; 448d: f1          .
	and	a,b		;; 448e: a0          .
	rra			;; 448f: 1f          .
	jr	nc,L4498	;; 4490: 30 06       0.
	ld	a,(L02e6)	;; 4492: 3a e6 02    :..
	ld	(ix-126),a	;; 4495: dd 77 82    .w.
L4498:	ld	a,(ix-126)	;; 4498: dd 7e 82    .~.
	push	af		;; 449b: f5          .
	call	L2bcc		;; 449c: cd cc 2b    ..+
	jr	L44e4		;; 449f: 18 43       .C

L44a1:	call	L42e6		;; 44a1: cd e6 42    ..B
	call	L2c3e		;; 44a4: cd 3e 2c    .>,
	call	L1dda		;; 44a7: cd da 1d    ...
	jr	L44e4		;; 44aa: 18 38       .8

L44ac:	ld	hl,(L322b)	;; 44ac: 2a 2b 32    *+2
	push	hl		;; 44af: e5          .
	call	L37c0		;; 44b0: cd c0 37    ..7
	jr	L44e4		;; 44b3: 18 2f       ./

L44b5:	jr	L44e4		;; 44b5: 18 2d       .-

L44b7:	call	L0a8f		;; 44b7: cd 8f 0a    ...
	jr	L44e4		;; 44ba: 18 28       .(

L44bc:	ld	b,00bh		;; 44bc: 06 0b       ..
	call	L8ddc		;; 44be: cd dc 8d    ...
	db ' ' ! dw L44b5
	db '?' ! dw L43b8
	db 'A' ! dw L44ac
	db 'B' ! dw L43b8
	db 'C' ! dw L43b8
	db 'I' ! dw L441e
	db 'L' ! dw L43b8
	db 'R' ! dw L43b8
	db 'T' ! dw L43b8
	db 'W' ! dw L43b8
	db 'Y' ! dw L44a1
	dw	L44b7
L44e4:	ld	a,(L1785)	;; 44e4: 3a 85 17    :..
	cp	a,041h		;; 44e7: fe 41       .A
	jr	z,L44f1		;; 44e9: 28 06       (.
	ld	a,020h		;; 44eb: 3e 20       > 
	push	af		;; 44ed: f5          .
	call	L50de		;; 44ee: cd de 50    ..P
L44f1:	jp	L8d56		;; 44f1: c3 56 8d    .V.

L44f4:	call	L8d27		;; 44f4: cd 27 8d    .'.
	db	0f8h,0eh
	ld	a,(L02e3)	;; 44f9: 3a e3 02    :..
	ld	(ix-125),a	;; 44fc: dd 77 83    .w.
	ld	(ix-124),a	;; 44ff: dd 77 84    .w.
	ld	l,a		;; 4502: 6f          o
	ld	h,000h		;; 4503: 26 00       &.
	add	hl,hl		;; 4505: 29          )
	ld	de,L1cf4	;; 4506: 11 f4 1c    ...
	add	hl,de		;; 4509: 19          .
	rst4			;; 450a: e7          .
	db	80h
	rst3			;; 450c: df          .
	db	6
	ld	a,(L1786)	;; 450e: 3a 86 17    :..
	cp	a,02fh		;; 4511: fe 2f       ./
	jr	nz,L4540	;; 4513: 20 2b        +
	ld	a,(L02e3)	;; 4515: 3a e3 02    :..
	ld	hl,L02e5	;; 4518: 21 e5 02    ...
	cp	a,(hl)		;; 451b: be          .
	jr	nc,L4527	;; 451c: 30 09       0.
	ld	a,(ix-124)	;; 451e: dd 7e 84    .~.
	inc	a		;; 4521: 3c          <
	ld	(ix-124),a	;; 4522: dd 77 84    .w.
	jr	L452a		;; 4525: 18 03       ..

L4527:	call	L0a8f		;; 4527: cd 8f 0a    ...
L452a:	ld	l,(ix-124)	;; 452a: dd 6e 84    .n.
	ld	h,000h		;; 452d: 26 00       &.
	add	hl,hl		;; 452f: 29          )
	ld	de,L1cf4	;; 4530: 11 f4 1c    ...
	add	hl,de		;; 4533: 19          .
	rst4			;; 4534: e7          .
	db	80h
	rst3			;; 4536: df          .
	db	6
	push	hl		;; 4538: e5          .
	call	L5f05		;; 4539: cd 05 5f    .._
	rst3			;; 453c: df          .
	db	8
	jr	L454f		;; 453e: 18 0f       ..

L4540:	call	L0965		;; 4540: cd 65 09    .e.
	call	L0977		;; 4543: cd 77 09    .w.
	ld	a,(ix-124)	;; 4546: dd 7e 84    .~.
	push	af		;; 4549: f5          .
	call	L329a		;; 454a: cd 9a 32    ..2
	rst3			;; 454d: df          .
	db	8
L454f:	ld	a,(L0193)	;; 454f: 3a 93 01    :..
	ld	(ix-126),a	;; 4552: dd 77 82    .w.
	ld	a,(L1786)	;; 4555: 3a 86 17    :..
	cp	a,03bh		;; 4558: fe 3b       .;
	jr	nz,L45bd	;; 455a: 20 61        a
	ld	a,(L02e3)	;; 455c: 3a e3 02    :..
	ld	hl,L02e5	;; 455f: 21 e5 02    ...
	cp	a,(hl)		;; 4562: be          .
	jr	nc,L45b7	;; 4563: 30 52       0R
	ld	a,(L02e3)	;; 4565: 3a e3 02    :..
	inc	a		;; 4568: 3c          <
	ld	(ix-123),a	;; 4569: dd 77 85    .w.
	ld	l,a		;; 456c: 6f          o
	ld	h,000h		;; 456d: 26 00       &.
	add	hl,hl		;; 456f: 29          )
	ld	de,L1cf4	;; 4570: 11 f4 1c    ...
	add	hl,de		;; 4573: 19          .
	push	hl		;; 4574: e5          .
	ld	hl,(L322b)	;; 4575: 2a 2b 32    *+2
	rst4			;; 4578: e7          .
	db	81h
	ld	l,(ix-123)	;; 457a: dd 6e 85    .n.
	ld	h,000h		;; 457d: 26 00       &.
	add	hl,hl		;; 457f: 29          )
	ld	de,L1c90	;; 4580: 11 90 1c    ...
	add	hl,de		;; 4583: 19          .
	push	hl		;; 4584: e5          .
	ld	a,(L02e3)	;; 4585: 3a e3 02    :..
	ld	l,a		;; 4588: 6f          o
	ld	h,000h		;; 4589: 26 00       &.
	add	hl,hl		;; 458b: 29          )
	ld	de,L1c90	;; 458c: 11 90 1c    ...
	add	hl,de		;; 458f: 19          .
	pop	de		;; 4590: d1          .
	ldi			;; 4591: ed a0       ..
	ldi			;; 4593: ed a0       ..
	ld	l,(ix-123)	;; 4595: dd 6e 85    .n.
	ld	h,000h		;; 4598: 26 00       &.
	add	hl,hl		;; 459a: 29          )
	ld	de,L1c5e	;; 459b: 11 5e 1c    .^.
	add	hl,de		;; 459e: 19          .
	push	hl		;; 459f: e5          .
	ld	a,(L02e3)	;; 45a0: 3a e3 02    :..
	ld	l,a		;; 45a3: 6f          o
	ld	h,000h		;; 45a4: 26 00       &.
	add	hl,hl		;; 45a6: 29          )
	ld	de,L1c5e	;; 45a7: 11 5e 1c    .^.
	add	hl,de		;; 45aa: 19          .
	pop	de		;; 45ab: d1          .
	ldi			;; 45ac: ed a0       ..
	ldi			;; 45ae: ed a0       ..
	ld	a,(ix-123)	;; 45b0: dd 7e 85    .~.
	push	af		;; 45b3: f5          .
	call	L29df		;; 45b4: cd df 29    ..)
L45b7:	ld	a,(L018f)	;; 45b7: 3a 8f 01    :..
	ld	(ix-126),a	;; 45ba: dd 77 82    .w.
L45bd:	ld	a,(L02e2)	;; 45bd: 3a e2 02    :..
	push	af		;; 45c0: f5          .
	ld	a,(ix-126)	;; 45c1: dd 7e 82    .~.
	push	af		;; 45c4: f5          .
	call	L0889		;; 45c5: cd 89 08    ...
	ld	a,03bh		;; 45c8: 3e 3b       >;
	push	af		;; 45ca: f5          .
	call	L0597		;; 45cb: cd 97 05    ...
	ld	a,(L1786)	;; 45ce: 3a 86 17    :..
	push	af		;; 45d1: f5          .
	rst3			;; 45d2: df          .
	db	86h
	push	hl		;; 45d4: e5          .
	rst3			;; 45d5: df          .
	db	88h
	push	hl		;; 45d7: e5          .
	call	L3c2a		;; 45d8: cd 2a 3c    .*<
	call	L1b50		;; 45db: cd 50 1b    .P.
	ld	a,(ix-125)	;; 45de: dd 7e 83    .~.
	push	af		;; 45e1: f5          .
	call	L2bcc		;; 45e2: cd cc 2b    ..+
	call	L1e32		;; 45e5: cd 32 1e    .2.
	ld	a,058h		;; 45e8: 3e 58       >X
	push	af		;; 45ea: f5          .
	call	L0466		;; 45eb: cd 66 04    .f.
	jp	L8d56		;; 45ee: c3 56 8d    .V.

L45f1:	call	L8d27		;; 45f1: cd 27 8d    .'.
	db	0,6
	ld	a,(L02ea)	;; 45f6: 3a ea 02    :..
	dec	a		;; 45f9: 3d          =
	ld	(L02e9),a	;; 45fa: 32 e9 02    2..
	add	a,002h		;; 45fd: c6 02       ..
	ld	(L02e8),a	;; 45ff: 32 e8 02    2..
	ld	a,002h		;; 4602: 3e 02       >.
	push	af		;; 4604: f5          .
	call	L1d5d		;; 4605: cd 5d 1d    .].
	jp	L8d56		;; 4608: c3 56 8d    .V.

L460b:	call	L8d27		;; 460b: cd 27 8d    .'.
	db	0fah,0ch
	ld	hl,L1d56	;; 4610: 21 56 1d    .V.
	ld	(hl),000h	;; 4613: 36 00       6.
	ld	a,(L1785)	;; 4615: 3a 85 17    :..
	cp	a,050h		;; 4618: fe 50       .P
	jr	nz,L4621	;; 461a: 20 05        .
	ld	hl,L1785	;; 461c: 21 85 17    ...
	ld	(hl),053h	;; 461f: 36 53       6S
L4621:	ld	a,(L1785)	;; 4621: 3a 85 17    :..
	ld	(L1d3f),a	;; 4624: 32 3f 1d    2?.
	call	L1dda		;; 4627: cd da 1d    ...
	ld	hl,(L1789)	;; 462a: 2a 89 17    *..
	push	hl		;; 462d: e5          .
	call	L602a		;; 462e: cd 2a 60    .*`
	push	hl		;; 4631: e5          .
	call	L6760		;; 4632: cd 60 67    .`g
	ld	a,(L1d40)	;; 4635: 3a 40 1d    :@.
	xor	a,001h		;; 4638: ee 01       ..
	rra			;; 463a: 1f          .
	jr	nc,L4648	;; 463b: 30 0b       0.
	ld	hl,00000h	;; 463d: 21 00 00    ...
	push	hl		;; 4640: e5          .
	call	L5e78		;; 4641: cd 78 5e    .x^
	push	hl		;; 4644: e5          .
	call	L6760		;; 4645: cd 60 67    .`g
L4648:	ld	(ix-121),000h	;; 4648: dd 36 87 00 .6..
	ld	a,(ix-121)	;; 464c: dd 7e 87    .~.
	ld	(ix-122),a	;; 464f: dd 77 86    .w.
L4652:	ld	a,(L1d40)	;; 4652: 3a 40 1d    :@.
	rra			;; 4655: 1f          .
	jp	nc,L47d2	;; 4656: d2 d2 47    ..G
	ld	hl,(L1d43)	;; 4659: 2a 43 1d    *C.
	rst3			;; 465c: df          .
	db	2
	ld	a,(L02ee)	;; 465e: 3a ee 02    :..
	or	a,a		;; 4661: b7          .
	jr	nz,L467a	;; 4662: 20 16        .
	rst3			;; 4664: df          .
	db	82h
	ld	(L1787),hl	;; 4666: 22 87 17    "..
	ld	a,(L02e3)	;; 4669: 3a e3 02    :..
	ld	l,a		;; 466c: 6f          o
	ld	h,000h		;; 466d: 26 00       &.
	add	hl,hl		;; 466f: 29          )
	ld	de,L1cf4	;; 4670: 11 f4 1c    ...
	add	hl,de		;; 4673: 19          .
	push	hl		;; 4674: e5          .
	ld	hl,(L1787)	;; 4675: 2a 87 17    *..
	rst4			;; 4678: e7          .
	db	81h
L467a:	ld	a,(L1d45)	;; 467a: 3a 45 1d    :E.
	or	a,a		;; 467d: b7          .
	jr	nz,L46d5	;; 467e: 20 55        U
	ld	a,(L1785)	;; 4680: 3a 85 17    :..
	cp	a,042h		;; 4683: fe 42       .B
	call	L8c09		;; 4685: cd 09 8c    ...
	push	af		;; 4688: f5          .
	ld	a,(L1785)	;; 4689: 3a 85 17    :..
	cp	a,054h		;; 468c: fe 54       .T
	call	L8c09		;; 468e: cd 09 8c    ...
	ld	b,a		;; 4691: 47          G
	pop	af		;; 4692: f1          .
	or	a,b		;; 4693: b0          .
	rra			;; 4694: 1f          .
	jr	nc,L46d2	;; 4695: 30 3b       0;
	ld	a,(L02ee)	;; 4697: 3a ee 02    :..
	or	a,a		;; 469a: b7          .
	jr	nz,L46ae	;; 469b: 20 11        .
	ld	a,(L02e3)	;; 469d: 3a e3 02    :..
	ld	l,a		;; 46a0: 6f          o
	ld	h,000h		;; 46a1: 26 00       &.
	add	hl,hl		;; 46a3: 29          )
	ld	de,L1c90	;; 46a4: 11 90 1c    ...
	add	hl,de		;; 46a7: 19          .
	push	hl		;; 46a8: e5          .
	ld	hl,(L1d41)	;; 46a9: 2a 41 1d    *A.
	rst4			;; 46ac: e7          .
	db	81h
L46ae:	ld	hl,L1d43	;; 46ae: 21 43 1d    .C.
	push	hl		;; 46b1: e5          .
	call	L6273		;; 46b2: cd 73 62    .sb
	call	L0799		;; 46b5: cd 99 07    ...
	call	L0799		;; 46b8: cd 99 07    ...
	rst3			;; 46bb: df          .
	db	82h
	push	hl		;; 46bd: e5          .
	call	L5428		;; 46be: cd 28 54    .(T
	ld	a,(L1d46)	;; 46c1: 3a 46 1d    :F.
	cp	a,04fh		;; 46c4: fe 4f       .O
	jr	nz,L46d2	;; 46c6: 20 0a        .
	call	L0799		;; 46c8: cd 99 07    ...
	ld	hl,(L1d47)	;; 46cb: 2a 47 1d    *G.
	push	hl		;; 46ce: e5          .
	call	L5428		;; 46cf: cd 28 54    .(T
L46d2:	jp	L475a		;; 46d2: c3 5a 47    .ZG

L46d5:	ld	a,(L1785)	;; 46d5: 3a 85 17    :..
	cp	a,053h		;; 46d8: fe 53       .S
	call	L8c09		;; 46da: cd 09 8c    ...
	push	af		;; 46dd: f5          .
	ld	a,(L1d45)	;; 46de: 3a 45 1d    :E.
	push	af		;; 46e1: f5          .
	call	L3fc1		;; 46e2: cd c1 3f    ..?
	xor	a,001h		;; 46e5: ee 01       ..
	ld	b,a		;; 46e7: 47          G
	pop	af		;; 46e8: f1          .
	and	a,b		;; 46e9: a0          .
	push	af		;; 46ea: f5          .
	ld	a,(L1785)	;; 46eb: 3a 85 17    :..
	cp	a,03bh		;; 46ee: fe 3b       .;
	call	L8c09		;; 46f0: cd 09 8c    ...
	push	af		;; 46f3: f5          .
	ld	a,(L1d45)	;; 46f4: 3a 45 1d    :E.
	push	af		;; 46f7: f5          .
	call	L3fc1		;; 46f8: cd c1 3f    ..?
	ld	b,a		;; 46fb: 47          G
	pop	af		;; 46fc: f1          .
	and	a,b		;; 46fd: a0          .
	ld	b,a		;; 46fe: 47          G
	pop	af		;; 46ff: f1          .
	or	a,b		;; 4700: b0          .
	push	af		;; 4701: f5          .
	ld	a,(L1785)	;; 4702: 3a 85 17    :..
	cp	a,054h		;; 4705: fe 54       .T
	call	L8c09		;; 4707: cd 09 8c    ...
	ld	b,a		;; 470a: 47          G
	pop	af		;; 470b: f1          .
	or	a,b		;; 470c: b0          .
	rra			;; 470d: 1f          .
	jr	nc,L475a	;; 470e: 30 4a       0J
	ld	a,(L02ee)	;; 4710: 3a ee 02    :..
	or	a,a		;; 4713: b7          .
	jr	nz,L4727	;; 4714: 20 11        .
	ld	a,(L02e3)	;; 4716: 3a e3 02    :..
	ld	l,a		;; 4719: 6f          o
	ld	h,000h		;; 471a: 26 00       &.
	add	hl,hl		;; 471c: 29          )
	ld	de,L1c5e	;; 471d: 11 5e 1c    .^.
	add	hl,de		;; 4720: 19          .
	push	hl		;; 4721: e5          .
	ld	hl,(L1d41)	;; 4722: 2a 41 1d    *A.
	rst4			;; 4725: e7          .
	db	81h
L4727:	ld	a,004h		;; 4727: 3e 04       >.
	push	af		;; 4729: f5          .
	call	L0771		;; 472a: cd 71 07    .q.
	ld	a,(L1d45)	;; 472d: 3a 45 1d    :E.
	push	af		;; 4730: f5          .
	call	L0597		;; 4731: cd 97 05    ...
	rst3			;; 4734: df          .
	db	82h
	push	hl		;; 4736: e5          .
	call	L5428		;; 4737: cd 28 54    .(T
	ld	a,(L1d48)	;; 473a: 3a 48 1d    :H.
	or	a,a		;; 473d: b7          .
	jr	z,L474d		;; 473e: 28 0d       (.
	ld	a,02ch		;; 4740: 3e 2c       >,
	push	af		;; 4742: f5          .
	call	L0597		;; 4743: cd 97 05    ...
	ld	a,(L1d48)	;; 4746: 3a 48 1d    :H.
	push	af		;; 4749: f5          .
	call	L0597		;; 474a: cd 97 05    ...
L474d:	call	L0799		;; 474d: cd 99 07    ...
	ld	hl,L1d43	;; 4750: 21 43 1d    .C.
	push	hl		;; 4753: e5          .
	call	L5c84		;; 4754: cd 84 5c    ..\
	call	L5c3d		;; 4757: cd 3d 5c    .=\
L475a:	call	L67a6		;; 475a: cd a6 67    ..g
	ld	a,(ix-122)	;; 475d: dd 7e 86    .~.
	ld	hl,L02ee	;; 4760: 21 ee 02    ...
	cp	a,(hl)		;; 4763: be          .
	jr	nc,L476c	;; 4764: 30 06       0.
	ld	a,(L02ee)	;; 4766: 3a ee 02    :..
	ld	(ix-122),a	;; 4769: dd 77 86    .w.
L476c:	ld	a,(L02ee)	;; 476c: 3a ee 02    :..
	cp	a,(ix-121)	;; 476f: dd be 87    ...
	jr	z,L47cf		;; 4772: 28 5b       ([
	call	L0977		;; 4774: cd 77 09    .w.
	ld	a,(L02e3)	;; 4777: 3a e3 02    :..
	ld	hl,L02e4	;; 477a: 21 e4 02    ...
	cp	a,(hl)		;; 477d: be          .
	jr	nz,L47bd	;; 477e: 20 3d        =
	ld	a,(ix-121)	;; 4780: dd 7e 87    .~.
	ld	c,a		;; 4783: 4f          O
	ld	b,000h		;; 4784: 06 00       ..
	ld	l,(ix-122)	;; 4786: dd 6e 86    .n.
	ld	h,000h		;; 4789: 26 00       &.
	or	a,a		;; 478b: b7          .
	sbc	hl,bc		;; 478c: ed 42       .B
	ld	a,l		;; 478e: 7d          }
	ld	(ix-123),a	;; 478f: dd 77 85    .w.
	ld	a,(L02e6)	;; 4792: 3a e6 02    :..
	ld	(ix-124),a	;; 4795: dd 77 84    .w.
	ld	a,(ix-122)	;; 4798: dd 7e 86    .~.
	add	a,002h		;; 479b: c6 02       ..
	ld	(ix-121),a	;; 479d: dd 77 87    .w.
	push	af		;; 47a0: f5          .
	ld	bc,0fff6h	;; 47a1: 01 f6 ff    ...
	ld	a,(L02ef)	;; 47a4: 3a ef 02    :..
	ld	l,a		;; 47a7: 6f          o
	ld	h,000h		;; 47a8: 26 00       &.
	add	hl,bc		;; 47aa: 09          .
	ld	b,h		;; 47ab: 44          D
	ld	c,l		;; 47ac: 4d          M
	pop	af		;; 47ad: f1          .
	ld	l,a		;; 47ae: 6f          o
	ld	h,000h		;; 47af: 26 00       &.
	rst4			;; 47b1: e7          .
	db	85h
	call	pe,L8c01	;; 47b3: ec 01 8c    ...
	jp	p,L47bb		;; 47b6: f2 bb 47    ..G
	jr	L47d2		;; 47b9: 18 17       ..

L47bb:	jr	L47c4		;; 47bb: 18 07       ..

L47bd:	ld	a,(L02e3)	;; 47bd: 3a e3 02    :..
	inc	a		;; 47c0: 3c          <
	ld	(ix-124),a	;; 47c1: dd 77 84    .w.
L47c4:	ld	a,(ix-124)	;; 47c4: dd 7e 84    .~.
	push	af		;; 47c7: f5          .
	ld	a,(ix-121)	;; 47c8: dd 7e 87    .~.
	push	af		;; 47cb: f5          .
	call	L0889		;; 47cc: cd 89 08    ...
L47cf:	jp	L4652		;; 47cf: c3 52 46    .RF

L47d2:	call	L0977		;; 47d2: cd 77 09    .w.
L47d5:	ld	a,(ix-121)	;; 47d5: dd 7e 87    .~.
	or	a,a		;; 47d8: b7          .
	call	L8c09		;; 47d9: cd 09 8c    ...
	push	af		;; 47dc: f5          .
	ld	a,(L02e3)	;; 47dd: 3a e3 02    :..
	ld	hl,L02e4	;; 47e0: 21 e4 02    ...
	cp	a,(hl)		;; 47e3: be          .
	ld	a,000h		;; 47e4: 3e 00       >.
	rla			;; 47e6: 17          .
	ld	b,a		;; 47e7: 47          G
	pop	af		;; 47e8: f1          .
	and	a,b		;; 47e9: a0          .
	rra			;; 47ea: 1f          .
	jr	nc,L4800	;; 47eb: 30 13       0.
	ld	a,(L02e3)	;; 47ed: 3a e3 02    :..
	ld	hl,L02e9	;; 47f0: 21 e9 02    ...
	cp	a,(hl)		;; 47f3: be          .
	jr	nz,L47f8	;; 47f4: 20 02        .
	jr	L4803		;; 47f6: 18 0b       ..

L47f8:	call	L0c91		;; 47f8: cd 91 0c    ...
	call	L0977		;; 47fb: cd 77 09    .w.
	jr	L47d5		;; 47fe: 18 d5       ..

L4800:	call	L314c		;; 4800: cd 4c 31    .L1
L4803:	call	L1dda		;; 4803: cd da 1d    ...
	jp	L8d56		;; 4806: c3 56 8d    .V.

L4809:	call	L8d27		;; 4809: cd 27 8d    .'.
	db	0,6
	ld	a,(L0189)	;; 480e: 3a 89 01    :..
	ld	(L02e9),a	;; 4811: 32 e9 02    2..
	ld	a,(L018a)	;; 4814: 3a 8a 01    :..
	ld	(L02e8),a	;; 4817: 32 e8 02    2..
	ld	a,(L018b)	;; 481a: 3a 8b 01    :..
	ld	(L02e7),a	;; 481d: 32 e7 02    2..
	ld	a,001h		;; 4820: 3e 01       >.
	push	af		;; 4822: f5          .
	call	L1d5d		;; 4823: cd 5d 1d    .].
	jp	L8d56		;; 4826: c3 56 8d    .V.

L4829:	call	L8d27		;; 4829: cd 27 8d    .'.
	db	0ffh,7
	ld	(ix-126),001h	;; 482e: dd 36 82 01 .6..
	call	L1e41		;; 4832: cd 41 1e    .A.
	ld	a,(L1785)	;; 4835: 3a 85 17    :..
	call	L48fe		;; 4838: cd fe 48    ..H
L483b:	call	L45f1		;; 483b: cd f1 45    ..E
	jp	L492f		;; 483e: c3 2f 49    ./I

L4841:	ld	a,(L02e4)	;; 4841: 3a e4 02    :..
	ld	(L02e9),a	;; 4844: 32 e9 02    2..
	ld	(L02e8),a	;; 4847: 32 e8 02    2..
	dec	a		;; 484a: 3d          =
	ld	(L02e7),a	;; 484b: 32 e7 02    2..
	ld	a,001h		;; 484e: 3e 01       >.
	push	af		;; 4850: f5          .
	call	L1d5d		;; 4851: cd 5d 1d    .].
	jp	L492f		;; 4854: c3 2f 49    ./I

L4857:	call	L4809		;; 4857: cd 09 48    ..H
	jp	L492f		;; 485a: c3 2f 49    ./I

L485d:	ld	a,(L02ea)	;; 485d: 3a ea 02    :..
	add	a,002h		;; 4860: c6 02       ..
	ld	b,a		;; 4862: 47          G
	ld	a,(L02e3)	;; 4863: 3a e3 02    :..
	cp	a,b		;; 4866: b8          .
	jr	nc,L486e	;; 4867: 30 05       0.
	call	L45f1		;; 4869: cd f1 45    ..E
	jr	L489b		;; 486c: 18 2d       .-

L486e:	ld	a,(L02e4)	;; 486e: 3a e4 02    :..
	dec	a		;; 4871: 3d          =
	ld	b,a		;; 4872: 47          G
	ld	a,(L02e3)	;; 4873: 3a e3 02    :..
	cp	a,b		;; 4876: b8          .
	jr	c,L4887		;; 4877: 38 0e       8.
	ld	bc,0fffeh	;; 4879: 01 fe ff    ...
	ld	a,(L02e4)	;; 487c: 3a e4 02    :..
	ld	l,a		;; 487f: 6f          o
	ld	h,000h		;; 4880: 26 00       &.
	add	hl,bc		;; 4882: 09          .
	ld	a,l		;; 4883: 7d          }
	ld	(L02e3),a	;; 4884: 32 e3 02    2..
L4887:	ld	a,(L02e3)	;; 4887: 3a e3 02    :..
	ld	(L02e9),a	;; 488a: 32 e9 02    2..
	ld	a,(L02e3)	;; 488d: 3a e3 02    :..
	add	a,002h		;; 4890: c6 02       ..
	ld	(L02e8),a	;; 4892: 32 e8 02    2..
	ld	a,001h		;; 4895: 3e 01       >.
	push	af		;; 4897: f5          .
	call	L1d5d		;; 4898: cd 5d 1d    .].
L489b:	jp	L492f		;; 489b: c3 2f 49    ./I

L489e:	ld	a,(L0181)	;; 489e: 3a 81 01    :..
	xor	a,001h		;; 48a1: ee 01       ..
	ld	(L0181),a	;; 48a3: 32 81 01    2..
	jp	L492f		;; 48a6: c3 2f 49    ./I

L48a9:	ld	a,(L0182)	;; 48a9: 3a 82 01    :..
	xor	a,001h		;; 48ac: ee 01       ..
	ld	(L0182),a	;; 48ae: 32 82 01    2..
	jp	L492f		;; 48b1: c3 2f 49    ./I

L48b4:	ld	a,001h		;; 48b4: 3e 01       >.
	push	af		;; 48b6: f5          .
	call	L1ed3		;; 48b7: cd d3 1e    ...
	ld	a,007h		;; 48ba: 3e 07       >.
	push	af		;; 48bc: f5          .
	call	L1762		;; 48bd: cd 62 17    .b.
	call	L0977		;; 48c0: cd 77 09    .w.
	call	L1e8e		;; 48c3: cd 8e 1e    ...
	ld	a,(L1c5c)	;; 48c6: 3a 5c 1c    :\.
	cp	a,00dh		;; 48c9: fe 0d       ..
	jr	nz,L48d2	;; 48cb: 20 05        .
	ld	hl,L1c5c	;; 48cd: 21 5c 1c    .\.
	ld	(hl),000h	;; 48d0: 36 00       6.
L48d2:	ld	a,(L1c5c)	;; 48d2: 3a 5c 1c    :\.
	ld	(L0180),a	;; 48d5: 32 80 01    2..
	call	L0965		;; 48d8: cd 65 09    .e.
	call	L0977		;; 48db: cd 77 09    .w.
	jr	L492f		;; 48de: 18 4f       .O

L48e0:	call	L460b		;; 48e0: cd 0b 46    ..F
	ld	(ix-126),000h	;; 48e3: dd 36 82 00 .6..
	jr	L492f		;; 48e7: 18 46       .F

L48e9:	ld	hl,L1d3f	;; 48e9: 21 3f 1d    .?.
	ld	(hl),000h	;; 48ec: 36 00       6.
	jr	L492f		;; 48ee: 18 3f       .?

L48f0:	ld	hl,L1d55	;; 48f0: 21 55 1d    .U.
	ld	(hl),001h	;; 48f3: 36 01       6.
	jr	L492f		;; 48f5: 18 38       .8

L48f7:	jr	L492f		;; 48f7: 18 36       .6

L48f9:	call	L0a8f		;; 48f9: cd 8f 0a    ...
	jr	L492f		;; 48fc: 18 31       .1

L48fe:	ld	b,00eh		;; 48fe: 06 0e       ..
	call	L8ddc		;; 4900: cd dc 8d    ...
	db ' ' ! dw L48f7
	db ';' ! dw L48e0
	db 'B' ! dw L48e0
	db 'C' ! dw L4841
	db 'F' ! dw L489e
	db 'I' ! dw L48e9
	db 'O' ! dw L485d
	db 'P' ! dw L48e0
	db 'R' ! dw L483b
	db 'S' ! dw L48b4
	db 'T' ! dw L48e0
	db 'U' ! dw L48a9
	db 'V' ! dw L4857
	db 'Z' ! dw L48f0
	dw	L48f9
L492f:	ld	a,(ix-126)	;; 492f: dd 7e 82    .~.
	rra			;; 4932: 1f          .
	jr	nc,L4938	;; 4933: 30 03       0.
	call	L351f		;; 4935: cd 1f 35    ..5
L4938:	jp	L8d56		;; 4938: c3 56 8d    .V.

L493b:	call	L8d27		;; 493b: cd 27 8d    .'.
	db	0f9h,0dh
	ld	hl,L1d56	;; 4940: 21 56 1d    .V.
	ld	(hl),000h	;; 4943: 36 00       6.
	ld	a,(L1785)	;; 4945: 3a 85 17    :..
	ld	(L1d3f),a	;; 4948: 32 3f 1d    2?.
	call	L1dda		;; 494b: cd da 1d    ...
	ld	(ix-120),000h	;; 494e: dd 36 88 00 .6..
	ld	a,(ix-120)	;; 4952: dd 7e 88    .~.
	ld	(ix-121),a	;; 4955: dd 77 87    .w.
	ld	(ix-126),000h	;; 4958: dd 36 82 00 .6..
L495c:	ld	a,(ix-126)	;; 495c: dd 7e 82    .~.
	cp	a,013h		;; 495f: fe 13       ..
	jp	z,L4a33		;; 4961: ca 33 4a    .3J
	ld	l,(ix-126)	;; 4964: dd 6e 82    .n.
	ld	h,000h		;; 4967: 26 00       &.
	add	hl,hl		;; 4969: 29          )
	ld	de,L3172	;; 496a: 11 72 31    .r1
	add	hl,de		;; 496d: 19          .
	rst4			;; 496e: e7          .
	db	80h
	rst3			;; 4970: df          .
	db	3
	ld	a,(L02ee)	;; 4972: 3a ee 02    :..
	or	a,a		;; 4975: b7          .
	jr	nz,L49ae	;; 4976: 20 36        6
	rst3			;; 4978: df          .
	db	83h
	ld	(L1787),hl	;; 497a: 22 87 17    "..
	ld	a,(L02e3)	;; 497d: 3a e3 02    :..
	ld	l,a		;; 4980: 6f          o
	ld	h,000h		;; 4981: 26 00       &.
	add	hl,hl		;; 4983: 29          )
	ld	de,L1cf4	;; 4984: 11 f4 1c    ...
	add	hl,de		;; 4987: 19          .
	push	hl		;; 4988: e5          .
	ld	hl,(L1787)	;; 4989: 2a 87 17    *..
	rst4			;; 498c: e7          .
	db	81h
	ld	a,(L02e3)	;; 498e: 3a e3 02    :..
	ld	l,a		;; 4991: 6f          o
	ld	h,000h		;; 4992: 26 00       &.
	add	hl,hl		;; 4994: 29          )
	ld	de,L1c5e	;; 4995: 11 5e 1c    .^.
	add	hl,de		;; 4998: 19          .
	ld	(hl),000h	;; 4999: 36 00       6.
	inc	hl		;; 499b: 23          #
	ld	(hl),000h	;; 499c: 36 00       6.
	ld	a,(L02e3)	;; 499e: 3a e3 02    :..
	ld	l,a		;; 49a1: 6f          o
	ld	h,000h		;; 49a2: 26 00       &.
	add	hl,hl		;; 49a4: 29          )
	ld	de,L1c90	;; 49a5: 11 90 1c    ...
	add	hl,de		;; 49a8: 19          .
	ld	(hl),000h	;; 49a9: 36 00       6.
	inc	hl		;; 49ab: 23          #
	ld	(hl),000h	;; 49ac: 36 00       6.
L49ae:	rst3			;; 49ae: df          .
	db	83h
	push	hl		;; 49b0: e5          .
	call	L5428		;; 49b1: cd 28 54    .(T
	call	L0799		;; 49b4: cd 99 07    ...
	ld	a,(ix-126)	;; 49b7: dd 7e 82    .~.
	inc	a		;; 49ba: 3c          <
	ld	(ix-126),a	;; 49bb: dd 77 82    .w.
	ld	a,(ix-121)	;; 49be: dd 7e 87    .~.
	ld	hl,L02ee	;; 49c1: 21 ee 02    ...
	cp	a,(hl)		;; 49c4: be          .
	jr	nc,L49cd	;; 49c5: 30 06       0.
	ld	a,(L02ee)	;; 49c7: 3a ee 02    :..
	ld	(ix-121),a	;; 49ca: dd 77 87    .w.
L49cd:	ld	a,(L02ee)	;; 49cd: 3a ee 02    :..
	cp	a,(ix-120)	;; 49d0: dd be 88    ...
	jr	z,L4a30		;; 49d3: 28 5b       ([
	call	L0977		;; 49d5: cd 77 09    .w.
	ld	a,(L02e3)	;; 49d8: 3a e3 02    :..
	ld	hl,L02e4	;; 49db: 21 e4 02    ...
	cp	a,(hl)		;; 49de: be          .
	jr	nz,L4a1e	;; 49df: 20 3d        =
	ld	a,(ix-120)	;; 49e1: dd 7e 88    .~.
	ld	c,a		;; 49e4: 4f          O
	ld	b,000h		;; 49e5: 06 00       ..
	ld	l,(ix-121)	;; 49e7: dd 6e 87    .n.
	ld	h,000h		;; 49ea: 26 00       &.
	or	a,a		;; 49ec: b7          .
	sbc	hl,bc		;; 49ed: ed 42       .B
	ld	a,l		;; 49ef: 7d          }
	ld	(ix-122),a	;; 49f0: dd 77 86    .w.
	ld	a,(L02e6)	;; 49f3: 3a e6 02    :..
	ld	(ix-123),a	;; 49f6: dd 77 85    .w.
	ld	a,(ix-121)	;; 49f9: dd 7e 87    .~.
	add	a,002h		;; 49fc: c6 02       ..
	ld	(ix-120),a	;; 49fe: dd 77 88    .w.
	push	af		;; 4a01: f5          .
	ld	bc,0fff6h	;; 4a02: 01 f6 ff    ...
	ld	a,(L02ef)	;; 4a05: 3a ef 02    :..
	ld	l,a		;; 4a08: 6f          o
	ld	h,000h		;; 4a09: 26 00       &.
	add	hl,bc		;; 4a0b: 09          .
	ld	b,h		;; 4a0c: 44          D
	ld	c,l		;; 4a0d: 4d          M
	pop	af		;; 4a0e: f1          .
	ld	l,a		;; 4a0f: 6f          o
	ld	h,000h		;; 4a10: 26 00       &.
	rst4			;; 4a12: e7          .
	db	85h
	call	pe,L8c01	;; 4a14: ec 01 8c    ...
	jp	p,L4a1c		;; 4a17: f2 1c 4a    ..J
	jr	L4a33		;; 4a1a: 18 17       ..

L4a1c:	jr	L4a25		;; 4a1c: 18 07       ..

L4a1e:	ld	a,(L02e3)	;; 4a1e: 3a e3 02    :..
	inc	a		;; 4a21: 3c          <
	ld	(ix-123),a	;; 4a22: dd 77 85    .w.
L4a25:	ld	a,(ix-123)	;; 4a25: dd 7e 85    .~.
	push	af		;; 4a28: f5          .
	ld	a,(ix-120)	;; 4a29: dd 7e 88    .~.
	push	af		;; 4a2c: f5          .
	call	L0889		;; 4a2d: cd 89 08    ...
L4a30:	jp	L495c		;; 4a30: c3 5c 49    .\I

L4a33:	call	L0977		;; 4a33: cd 77 09    .w.
L4a36:	ld	a,(ix-120)	;; 4a36: dd 7e 88    .~.
	or	a,a		;; 4a39: b7          .
	call	L8c09		;; 4a3a: cd 09 8c    ...
	push	af		;; 4a3d: f5          .
	ld	a,(L02e3)	;; 4a3e: 3a e3 02    :..
	ld	hl,L02e4	;; 4a41: 21 e4 02    ...
	cp	a,(hl)		;; 4a44: be          .
	ld	a,000h		;; 4a45: 3e 00       >.
	rla			;; 4a47: 17          .
	ld	b,a		;; 4a48: 47          G
	pop	af		;; 4a49: f1          .
	and	a,b		;; 4a4a: a0          .
	rra			;; 4a4b: 1f          .
	jr	nc,L4a61	;; 4a4c: 30 13       0.
	ld	a,(L02e3)	;; 4a4e: 3a e3 02    :..
	ld	hl,L02e9	;; 4a51: 21 e9 02    ...
	cp	a,(hl)		;; 4a54: be          .
	jr	nz,L4a59	;; 4a55: 20 02        .
	jr	L4a64		;; 4a57: 18 0b       ..

L4a59:	call	L0c91		;; 4a59: cd 91 0c    ...
	call	L0977		;; 4a5c: cd 77 09    .w.
	jr	L4a36		;; 4a5f: 18 d5       ..

L4a61:	call	L314c		;; 4a61: cd 4c 31    .L1
L4a64:	call	L1dda		;; 4a64: cd da 1d    ...
	jp	L8d56		;; 4a67: c3 56 8d    .V.

L4a6a:	call	L8d27		;; 4a6a: cd 27 8d    .'.
	db	0,6
	call	L1e41		;; 4a6f: cd 41 1e    .A.
	ld	a,(L1785)	;; 4a72: 3a 85 17    :..
	call	L4a93		;; 4a75: cd 93 4a    ..J
L4a78:	call	L460b		;; 4a78: cd 0b 46    ..F
	jr	L4ab2		;; 4a7b: 18 35       .5

L4a7d:	call	L493b		;; 4a7d: cd 3b 49    .;I
	jr	L4ab2		;; 4a80: 18 30       .0

L4a82:	ld	hl,L1d3f	;; 4a82: 21 3f 1d    .?.
	ld	(hl),000h	;; 4a85: 36 00       6.
	call	L351f		;; 4a87: cd 1f 35    ..5
	jr	L4ab2		;; 4a8a: 18 26       .&

L4a8c:	jr	L4ab2		;; 4a8c: 18 24       .$

L4a8e:	call	L0a8f		;; 4a8e: cd 8f 0a    ...
	jr	L4ab2		;; 4a91: 18 1f       ..

L4a93:	ld	b,008h		;; 4a93: 06 08       ..
	call	L8ddc		;; 4a95: cd dc 8d    ...
	db ' ' ! dw L4a8c
	db ';' ! dw L4a78
	db 'B' ! dw L4a78
	db 'F' ! dw L4a7d
	db 'I' ! dw L4a82
	db 'P' ! dw L4a78
	db 'S' ! dw L4a78
	db 'T' ! dw L4a78
	dw	L4a8e
L4ab2:	jp	L8d56		;; 4ab2: c3 56 8d    .V.

L4ab5:	call	L8d27		;; 4ab5: cd 27 8d    .'.
	db	0ffh,7
	ld	a,(L02e1)	;; 4aba: 3a e1 02    :..
	call	L4acc		;; 4abd: cd cc 4a    ..J
L4ac0:	ld	(ix-126),001h	;; 4ac0: dd 36 82 01 .6..
	jr	L4ad8		;; 4ac4: 18 12       ..

L4ac6:	ld	(ix-126),010h	;; 4ac6: dd 36 82 10 .6..
	jr	L4ad8		;; 4aca: 18 0c       ..

L4acc:	ld	bc,00102h	;; 4acc: 01 02 01    ...
	call	L8d90		;; 4acf: cd 90 8d    ...
	dw	L4ac0
	dw	L4ac6
	dw	L8e06
L4ad8:	ld	a,(L02e6)	;; 4ad8: 3a e6 02    :..
	ld	l,a		;; 4adb: 6f          o
	ld	h,000h		;; 4adc: 26 00       &.
	add	hl,hl		;; 4ade: 29          )
	ld	de,L1cf4	;; 4adf: 11 f4 1c    ...
	add	hl,de		;; 4ae2: 19          .
	rst4			;; 4ae3: e7          .
	db	80h
	rst4			;; 4ae5: e7          .
	db	87h
	push	hl		;; 4ae7: e5          .
	push	bc		;; 4ae8: c5          .
	ld	a,(ix-126)	;; 4ae9: dd 7e 82    .~.
	rst4			;; 4aec: e7          .
	db	86h
	call	L87f6		;; 4aee: cd f6 87    ...
	ld	h,b		;; 4af1: 60          `
	ld	l,c		;; 4af2: 69          i
	ld	(L1789),hl	;; 4af3: 22 89 17    "..
	call	L2c3e		;; 4af6: cd 3e 2c    .>,
	call	L30cb		;; 4af9: cd cb 30    ..0
	call	L1e32		;; 4afc: cd 32 1e    .2.
	jp	L8d56		;; 4aff: c3 56 8d    .V.

L4b02:	call	L8d27		;; 4b02: cd 27 8d    .'.
	db	0ffh,7
	ld	a,(L02e6)	;; 4b07: 3a e6 02    :..
	ld	(ix-126),a	;; 4b0a: dd 77 82    .w.
L4b0d:	ld	a,(ix-126)	;; 4b0d: dd 7e 82    .~.
	ld	hl,L02e5	;; 4b10: 21 e5 02    ...
	cp	a,(hl)		;; 4b13: be          .
	ld	a,000h		;; 4b14: 3e 00       >.
	rla			;; 4b16: 17          .
	push	af		;; 4b17: f5          .
	ld	l,(ix-126)	;; 4b18: dd 6e 82    .n.
	ld	h,000h		;; 4b1b: 26 00       &.
	add	hl,hl		;; 4b1d: 29          )
	ld	de,L1cf4	;; 4b1e: 11 f4 1c    ...
	add	hl,de		;; 4b21: 19          .
	ld	bc,(L1789)	;; 4b22: ed 4b 89 17 .K..
	rst4			;; 4b26: e7          .
	db	80h
	or	a,a		;; 4b28: b7          .
	sbc	hl,bc		;; 4b29: ed 42       .B
	call	L8c09		;; 4b2b: cd 09 8c    ...
	ld	b,a		;; 4b2e: 47          G
	pop	af		;; 4b2f: f1          .
	and	a,b		;; 4b30: a0          .
	rra			;; 4b31: 1f          .
	jr	nc,L4b3d	;; 4b32: 30 09       0.
	ld	a,(ix-126)	;; 4b34: dd 7e 82    .~.
	inc	a		;; 4b37: 3c          <
	ld	(ix-126),a	;; 4b38: dd 77 82    .w.
	jr	L4b0d		;; 4b3b: 18 d0       ..

L4b3d:	ld	l,(ix-126)	;; 4b3d: dd 6e 82    .n.
	ld	h,000h		;; 4b40: 26 00       &.
	add	hl,hl		;; 4b42: 29          )
	ld	de,L1cf4	;; 4b43: 11 f4 1c    ...
	add	hl,de		;; 4b46: 19          .
	ld	bc,(L1789)	;; 4b47: ed 4b 89 17 .K..
	rst4			;; 4b4b: e7          .
	db	80h
	or	a,a		;; 4b4d: b7          .
	sbc	hl,bc		;; 4b4e: ed 42       .B
	jr	nz,L4b60	;; 4b50: 20 0e        .
	call	L3c0d		;; 4b52: cd 0d 3c    ..<
	ld	b,h		;; 4b55: 44          D
	ld	c,l		;; 4b56: 4d          M
	ld	hl,(L1789)	;; 4b57: 2a 89 17    *..
	add	hl,bc		;; 4b5a: 09          .
	ld	(L1789),hl	;; 4b5b: 22 89 17    "..
	jr	L4b6f		;; 4b5e: 18 0f       ..

L4b60:	ld	l,(ix-126)	;; 4b60: dd 6e 82    .n.
	ld	h,000h		;; 4b63: 26 00       &.
	add	hl,hl		;; 4b65: 29          )
	ld	de,L1cf4	;; 4b66: 11 f4 1c    ...
	add	hl,de		;; 4b69: 19          .
	rst4			;; 4b6a: e7          .
	db	80h
	ld	(L1789),hl	;; 4b6c: 22 89 17    "..
L4b6f:	call	L2c3e		;; 4b6f: cd 3e 2c    .>,
	call	L30cb		;; 4b72: cd cb 30    ..0
	call	L1e32		;; 4b75: cd 32 1e    .2.
	jp	L8d56		;; 4b78: c3 56 8d    .V.

L4b7b:	call	L8d27		;; 4b7b: cd 27 8d    .'.
	db	0feh,8
	ld	hl,(L1787)	;; 4b80: 2a 87 17    *..
	rst3			;; 4b83: df          .
	db	2
	ld	bc,(L1789)	;; 4b85: ed 4b 89 17 .K..
	or	a,a		;; 4b89: b7          .
	sbc	hl,bc		;; 4b8a: ed 42       .B
	jr	nz,L4b98	;; 4b8c: 20 0a        .
	call	L3c0d		;; 4b8e: cd 0d 3c    ..<
	ld	b,h		;; 4b91: 44          D
	ld	c,l		;; 4b92: 4d          M
	rst3			;; 4b93: df          .
	db	82h
	add	hl,bc		;; 4b95: 09          .
	rst3			;; 4b96: df          .
	db	2
L4b98:	rst3			;; 4b98: df          .
	db	82h
	ld	(L1789),hl	;; 4b9a: 22 89 17    "..
	ld	a,(L1d3f)	;; 4b9d: 3a 3f 1d    :?.
	or	a,a		;; 4ba0: b7          .
	jr	z,L4bae		;; 4ba1: 28 0b       (.
	ld	a,(L1d3f)	;; 4ba3: 3a 3f 1d    :?.
	ld	(L1785),a	;; 4ba6: 32 85 17    2..
	call	L460b		;; 4ba9: cd 0b 46    ..F
	jr	L4bb1		;; 4bac: 18 03       ..

L4bae:	call	L351f		;; 4bae: cd 1f 35    ..5
L4bb1:	jp	L8d56		;; 4bb1: c3 56 8d    .V.

L4bb4:	call	L8d27		;; 4bb4: cd 27 8d    .'.
	db	0,6
	ld	a,(L02e1)	;; 4bb9: 3a e1 02    :..
	cp	a,002h		;; 4bbc: fe 02       ..
	jr	nz,L4bf7	;; 4bbe: 20 37        7
	ld	a,(L02e6)	;; 4bc0: 3a e6 02    :..
	ld	l,a		;; 4bc3: 6f          o
	ld	h,000h		;; 4bc4: 26 00       &.
	add	hl,hl		;; 4bc6: 29          )
	ld	de,L1cf4	;; 4bc7: 11 f4 1c    ...
	add	hl,de		;; 4bca: 19          .
	rst4			;; 4bcb: e7          .
	db	80h
	ld	(L1789),hl	;; 4bcd: 22 89 17    "..
	push	hl		;; 4bd0: e5          .
	ld	a,(L02e5)	;; 4bd1: 3a e5 02    :..
	ld	l,a		;; 4bd4: 6f          o
	ld	h,000h		;; 4bd5: 26 00       &.
	add	hl,hl		;; 4bd7: 29          )
	ld	de,L1cf4	;; 4bd8: 11 f4 1c    ...
	add	hl,de		;; 4bdb: 19          .
	rst4			;; 4bdc: e7          .
	db	80h
	rst4			;; 4bde: e7          .
	db	87h
	push	hl		;; 4be0: e5          .
	push	bc		;; 4be1: c5          .
	ld	hl,(L1789)	;; 4be2: 2a 89 17    *..
	rst4			;; 4be5: e7          .
	db	87h
	call	L87f6		;; 4be7: cd f6 87    ...
	call	L8823		;; 4bea: cd 23 88    .#.
	call	L87f6		;; 4bed: cd f6 87    ...
	ld	h,b		;; 4bf0: 60          `
	ld	l,c		;; 4bf1: 69          i
	ld	(L1789),hl	;; 4bf2: 22 89 17    "..
	jr	L4c3d		;; 4bf5: 18 46       .F

L4bf7:	ld	bc,(L1789)	;; 4bf7: ed 4b 89 17 .K..
	ld	hl,L0100	;; 4bfb: 21 00 01    ...
	or	a,a		;; 4bfe: b7          .
	sbc	hl,bc		;; 4bff: ed 42       .B
	jr	c,L4c0b		;; 4c01: 38 08       8.
	call	L322e		;; 4c03: cd 2e 32    ..2
	ld	(L1789),hl	;; 4c06: 22 89 17    "..
	jr	L4c3d		;; 4c09: 18 32       .2

L4c0b:	call	L8d60		;; 4c0b: cd 60 8d    .`.
	dw	L104c
	push	hl		;; 4c10: e5          .
	push	bc		;; 4c11: c5          .
	ld	hl,(L1789)	;; 4c12: 2a 89 17    *..
	rst4			;; 4c15: e7          .
	db	87h
	call	L8870		;; 4c17: cd 70 88    .p.
	jp	p,L4c22		;; 4c1a: f2 22 4c    ."L
	call	L39a3		;; 4c1d: cd a3 39    ..9
	jr	L4c3d		;; 4c20: 18 1b       ..

L4c22:	ld	a,(L02e6)	;; 4c22: 3a e6 02    :..
	ld	c,a		;; 4c25: 4f          O
	ld	b,000h		;; 4c26: 06 00       ..
	ld	a,(L02e5)	;; 4c28: 3a e5 02    :..
	ld	l,a		;; 4c2b: 6f          o
	ld	h,000h		;; 4c2c: 26 00       &.
	or	a,a		;; 4c2e: b7          .
	sbc	hl,bc		;; 4c2f: ed 42       .B
	inc	hl		;; 4c31: 23          #
	ld	b,h		;; 4c32: 44          D
	ld	c,l		;; 4c33: 4d          M
	ld	hl,(L1789)	;; 4c34: 2a 89 17    *..
	or	a,a		;; 4c37: b7          .
	sbc	hl,bc		;; 4c38: ed 42       .B
	ld	(L1789),hl	;; 4c3a: 22 89 17    "..
L4c3d:	ld	a,(L1d3f)	;; 4c3d: 3a 3f 1d    :?.
	or	a,a		;; 4c40: b7          .
	jr	z,L4c54		;; 4c41: 28 11       (.
	ld	hl,00000h	;; 4c43: 21 00 00    ...
	ld	(L1789),hl	;; 4c46: 22 89 17    "..
	ld	a,(L1d3f)	;; 4c49: 3a 3f 1d    :?.
	ld	(L1785),a	;; 4c4c: 32 85 17    2..
	call	L460b		;; 4c4f: cd 0b 46    ..F
	jr	L4c57		;; 4c52: 18 03       ..

L4c54:	call	L351f		;; 4c54: cd 1f 35    ..5
L4c57:	jp	L8d56		;; 4c57: c3 56 8d    .V.

L4c5a:	call	L8d27		;; 4c5a: cd 27 8d    .'.
	db	0,0ch
	ld	bc,0ffd0h	;; 4c5f: 01 d0 ff    ...
	ld	l,(ix-121)	;; 4c62: dd 6e 87    .n.
	ld	h,000h		;; 4c65: 26 00       &.
	add	hl,bc		;; 4c67: 09          .
	push	hl		;; 4c68: e5          .
	call	L8c26		;; 4c69: cd 26 8c    .&.
	db	82h
	call	L8815		;; 4c6d: cd 15 88    ...
	call	L8636		;; 4c70: cd 36 86    .6.
	push	hl		;; 4c73: e5          .
	push	bc		;; 4c74: c5          .
	ld	hl,(L322b)	;; 4c75: 2a 2b 32    *+2
	rst4			;; 4c78: e7          .
	db	87h
	call	L87e7		;; 4c7a: cd e7 87    ...
	ld	h,b		;; 4c7d: 60          `
	ld	l,c		;; 4c7e: 69          i
	ld	(L1789),hl	;; 4c7f: 22 89 17    "..
	call	L2c3e		;; 4c82: cd 3e 2c    .>,
	ld	a,(L02e1)	;; 4c85: 3a e1 02    :..
	cp	a,002h		;; 4c88: fe 02       ..
	jr	nz,L4c91	;; 4c8a: 20 05        .
	call	L2c52		;; 4c8c: cd 52 2c    .R,
	jr	L4c94		;; 4c8f: 18 03       ..

L4c91:	call	L30cb		;; 4c91: cd cb 30    ..0
L4c94:	call	L1dda		;; 4c94: cd da 1d    ...
	jp	L8d56		;; 4c97: c3 56 8d    .V.

L4c9a:	call	L8d27		;; 4c9a: cd 27 8d    .'.
	db	0fch,0ah
	ld	(ix-125),000h	;; 4c9f: dd 36 83 00 .6..
	ld	a,(L02e8)	;; 4ca3: 3a e8 02    :..
	ld	(ix-123),a	;; 4ca6: dd 77 85    .w.
L4ca9:	ld	a,(L02e7)	;; 4ca9: 3a e7 02    :..
	cp	a,(ix-123)	;; 4cac: dd be 85    ...
	jr	c,L4d03		;; 4caf: 38 52       8R
	ld	a,(L02ef)	;; 4cb1: 3a ef 02    :..
	ld	(ix-124),a	;; 4cb4: dd 77 84    .w.
L4cb7:	ld	a,000h		;; 4cb7: 3e 00       >.
	cp	a,(ix-124)	;; 4cb9: dd be 84    ...
	jr	nc,L4cf2	;; 4cbc: 30 34       04
	ld	a,(ix-123)	;; 4cbe: dd 7e 85    .~.
	push	af		;; 4cc1: f5          .
	ld	a,(ix-124)	;; 4cc2: dd 7e 84    .~.
	push	af		;; 4cc5: f5          .
	call	L0542		;; 4cc6: cd 42 05    .B.
	ld	(ix-126),a	;; 4cc9: dd 77 82    .w.
	cp	a,027h		;; 4ccc: fe 27       .'
	jr	nz,L4cdc	;; 4cce: 20 0c        .
	ld	a,(ix-125)	;; 4cd0: dd 7e 83    .~.
	rra			;; 4cd3: 1f          .
	jr	nc,L4cd8	;; 4cd4: 30 02       0.
	jr	L4d03		;; 4cd6: 18 2b       .+

L4cd8:	ld	(ix-125),001h	;; 4cd8: dd 36 83 01 .6..
L4cdc:	ld	a,(ix-125)	;; 4cdc: dd 7e 83    .~.
	rra			;; 4cdf: 1f          .
	jr	nc,L4ce9	;; 4ce0: 30 07       0.
	ld	a,(ix-126)	;; 4ce2: dd 7e 82    .~.
	push	af		;; 4ce5: f5          .
	call	L0466		;; 4ce6: cd 66 04    .f.
L4ce9:	ld	a,(ix-124)	;; 4ce9: dd 7e 84    .~.
	dec	a		;; 4cec: 3d          =
	ld	(ix-124),a	;; 4ced: dd 77 84    .w.
	jr	L4cb7		;; 4cf0: 18 c5       ..

L4cf2:	ld	a,(ix-125)	;; 4cf2: dd 7e 83    .~.
	rra			;; 4cf5: 1f          .
	jr	nc,L4cfa	;; 4cf6: 30 02       0.
	jr	L4d03		;; 4cf8: 18 09       ..

L4cfa:	ld	a,(ix-123)	;; 4cfa: dd 7e 85    .~.
	inc	a		;; 4cfd: 3c          <
	ld	(ix-123),a	;; 4cfe: dd 77 85    .w.
	jr	L4ca9		;; 4d01: 18 a6       ..

L4d03:	ld	a,(ix-125)	;; 4d03: dd 7e 83    .~.
	rra			;; 4d06: 1f          .
	jr	nc,L4d1b	;; 4d07: 30 12       0.
	ld	a,027h		;; 4d09: 3e 27       >'
	push	af		;; 4d0b: f5          .
	call	L0466		;; 4d0c: cd 66 04    .f.
	ld	a,049h		;; 4d0f: 3e 49       >I
	push	af		;; 4d11: f5          .
	call	L0466		;; 4d12: cd 66 04    .f.
	ld	a,053h		;; 4d15: 3e 53       >S
	push	af		;; 4d17: f5          .
	call	L0466		;; 4d18: cd 66 04    .f.
L4d1b:	jp	L8d56		;; 4d1b: c3 56 8d    .V.

L4d1e:	call	L8d27		;; 4d1e: cd 27 8d    .'.
	db	0feh,8
	ld	a,(L02e4)	;; 4d23: 3a e4 02    :..
	ld	b,a		;; 4d26: 47          G
	ld	a,000h		;; 4d27: 3e 00       >.
	call	L894e		;; 4d29: cd 4e 89    .N.
	ld	(ix-126),b	;; 4d2c: dd 70 82    .p.
	jr	c,L4d46		;; 4d2f: 38 15       8.
L4d31:	ld	(ix-125),a	;; 4d31: dd 77 83    .w.
	ld	l,a		;; 4d34: 6f          o
	ld	h,000h		;; 4d35: 26 00       &.
	ld	de,L1d26	;; 4d37: 11 26 1d    .&.
	add	hl,de		;; 4d3a: 19          .
	ld	(hl),020h	;; 4d3b: 36 20       6 
	ld	a,(ix-125)	;; 4d3d: dd 7e 83    .~.
	inc	a		;; 4d40: 3c          <
	dec	(ix-126)	;; 4d41: dd 35 82    .5.
	jr	nz,L4d31	;; 4d44: 20 eb        .
L4d46:	jp	L8d56		;; 4d46: c3 56 8d    .V.

L4d49:	ld	hl,L4d4f	;start here
	jp	L8e78		;; 4d4c: c3 78 8e    .x.

L4d4f:				;return here
 if userst
	call	L8c5b
 endif
	ld	hl,L0100	;; 4d52: 21 00 01    ...
	ld	(L316b),hl	;; 4d55: 22 6b 31    "k1
	call	L1698		;; 4d58: cd 98 16    ...
	call	L0e03		;; 4d5b: cd 03 0e    ...
	ld	a,000h		;; 4d5e: 3e 00       >.
	push	af		;; 4d60: f5          .
	ld	a,(L02e4)	;; 4d61: 3a e4 02    :..
	push	af		;; 4d64: f5          .
	call	L0a65		;; 4d65: cd 65 0a    .e.
	call	L4809		;; 4d68: cd 09 48    ..H
	call	L4d1e		;; 4d6b: cd 1e 4d    ..M
	ld	hl,L1786	;; 4d6e: 21 86 17    ...
	ld	(hl),020h	;; 4d71: 36 20       6 
	ld	hl,L1785	;; 4d73: 21 85 17    ...
	ld	(hl),020h	;; 4d76: 36 20       6 
	call	L0dc4		;; 4d78: cd c4 0d    ...
	call	L0fbe		;; 4d7b: cd be 0f    ...
	call	L314c		;; 4d7e: cd 4c 31    .L1
	call	L14d1		;; 4d81: cd d1 14    ...
	ld	a,(L1050)	;; 4d84: 3a 50 10    :P.
	or	a,a		;; 4d87: b7          .
	jr	nz,L4d95	;; 4d88: 20 0b        .
	ld	a,058h		;; 4d8a: 3e 58       >X
	push	af		;; 4d8c: f5          .
	call	L1811		;; 4d8d: cd 11 18    ...
	jp	L50d7		;; 4d90: c3 d7 50    ..P

	jr	L4db6		;; 4d93: 18 21       ..

L4d95:	call	L6db3		;; 4d95: cd b3 6d    ..m
	ld	a,02eh		;; 4d98: 3e 2e       >.
	push	af		;; 4d9a: f5          .
	call	L50de		;; 4d9b: cd de 50    ..P
	call	L322e		;; 4d9e: cd 2e 32    ..2
	ld	(L1789),hl	;; 4da1: 22 89 17    "..
	call	L351f		;; 4da4: cd 1f 35    ..5
	call	L8d60		;; 4da7: cd 60 8d    .`.
	dw	L104c
	ld	h,b		;; 4dac: 60          `
	ld	l,c		;; 4dad: 69          i
	ld	(L316d),hl	;; 4dae: 22 6d 31    "m1
	ld	hl,L3171	;; 4db1: 21 71 31    .q1
	ld	(hl),000h	;; 4db4: 36 00       6.
L4db6:	ld	a,(L3171)	;; 4db6: 3a 71 31    :q1
	xor	a,001h		;; 4db9: ee 01       ..
	rra			;; 4dbb: 1f          .
	jp	nc,L50d7	;; 4dbc: d2 d7 50    ..P
	ld	hl,L1c5a	;; 4dbf: 21 5a 1c    .Z.
	ld	(hl),000h	;; 4dc2: 36 00       6.
	ld	a,(L02e3)	;; 4dc4: 3a e3 02    :..
	ld	(L02e2),a	;; 4dc7: 32 e2 02    2..
	ld	l,a		;; 4dca: 6f          o
	ld	h,000h		;; 4dcb: 26 00       &.
	add	hl,hl		;; 4dcd: 29          )
	ld	de,L1cf4	;; 4dce: 11 f4 1c    ...
	add	hl,de		;; 4dd1: 19          .
	rst4			;; 4dd2: e7          .
	db	80h
	ld	(L322b),hl	;; 4dd4: 22 2b 32    "+2
	ld	hl,L1786	;; 4dd7: 21 86 17    ...
	ld	(hl),020h	;; 4dda: 36 20       6 
	ld	a,(L3225)	;; 4ddc: 3a 25 32    :%2
	rra			;; 4ddf: 1f          .
	jr	nc,L4dea	;; 4de0: 30 08       0.
	call	L1a30		;; 4de2: cd 30 1a    .0.
	ld	hl,L3225	;; 4de5: 21 25 32    .%2
	ld	(hl),000h	;; 4de8: 36 00       6.
L4dea:	ld	a,(L02f0)	;; 4dea: 3a f0 02    :..
	rra			;; 4ded: 1f          .
	jr	nc,L4e28	;; 4dee: 30 38       08
	ld	hl,L02f0	;; 4df0: 21 f0 02    ...
	ld	(hl),000h	;; 4df3: 36 00       6.
	ld	a,001h		;; 4df5: 3e 01       >.
	push	af		;; 4df7: f5          .
	call	L1ed3		;; 4df8: cd d3 1e    ...
	ld	a,008h		;; 4dfb: 3e 08       >.
	push	af		;; 4dfd: f5          .
	call	L1762		;; 4dfe: cd 62 17    .b.
	call	L0977		;; 4e01: cd 77 09    .w.
L4e04:	ld	hl,L1786	;; 4e04: 21 86 17    ...
	push	hl		;; 4e07: e5          .
	call	L0f25		;; 4e08: cd 25 0f    .%.
	ld	a,(L1786)	;; 4e0b: 3a 86 17    :..
	or	a,a		;; 4e0e: b7          .
	jr	nz,L4e04	;; 4e0f: 20 f3        .
L4e11:	ld	hl,L1786	;; 4e11: 21 86 17    ...
	push	hl		;; 4e14: e5          .
	call	L0f82		;; 4e15: cd 82 0f    ...
	ld	a,(L1786)	;; 4e18: 3a 86 17    :..
	cp	a,01bh		;; 4e1b: fe 1b       ..
	jr	nz,L4e11	;; 4e1d: 20 f2        .
	ld	a,000h		;; 4e1f: 3e 00       >.
	push	af		;; 4e21: f5          .
	call	L1ed3		;; 4e22: cd d3 1e    ...
	call	L351f		;; 4e25: cd 1f 35    ..5
L4e28:	ld	a,(L322d)	;; 4e28: 3a 2d 32    :-2
	rra			;; 4e2b: 1f          .
	jr	nc,L4e31	;; 4e2c: 30 03       0.
	call	L5368		;; 4e2e: cd 68 53    .hS
L4e31:	ld	hl,L322d	;; 4e31: 21 2d 32    .-2
	ld	(hl),001h	;; 4e34: 36 01       6.
	call	L3041		;; 4e36: cd 41 30    .A0
	ld	a,(L02ea)	;; 4e39: 3a ea 02    :..
	dec	a		;; 4e3c: 3d          =
	ld	b,a		;; 4e3d: 47          G
	ld	a,(L1c5b)	;; 4e3e: 3a 5b 1c    :[.
	cp	a,b		;; 4e41: b8          .
	jr	nz,L4e52	;; 4e42: 20 0e        .
	ld	hl,(L1789)	;; 4e44: 2a 89 17    *..
	push	hl		;; 4e47: e5          .
	call	L65f5		;; 4e48: cd f5 65    ..e
	ld	a,(L1c5b)	;; 4e4b: 3a 5b 1c    :[.
	dec	a		;; 4e4e: 3d          =
	ld	(L1c5b),a	;; 4e4f: 32 5b 1c    2[.
L4e52:	ld	hl,L1786	;; 4e52: 21 86 17    ...
	push	hl		;; 4e55: e5          .
	call	L0f82		;; 4e56: cd 82 0f    ...
	ld	hl,L1785	;; 4e59: 21 85 17    ...
	ld	(hl),000h	;; 4e5c: 36 00       6.
	ld	a,(L1786)	;; 4e5e: 3a 86 17    :..
	ld	hl,L018e	;; 4e61: 21 8e 01    ...
	cp	a,(hl)		;; 4e64: be          .
	jr	nz,L4e6c	;; 4e65: 20 05        .
	ld	hl,L1786	;; 4e67: 21 86 17    ...
	ld	(hl),045h	;; 4e6a: 36 45       6E
L4e6c:	ld	a,(L1786)	;; 4e6c: 3a 86 17    :..
	ld	hl,L018d	;; 4e6f: 21 8d 01    ...
	cp	a,(hl)		;; 4e72: be          .
	jr	nz,L4e7a	;; 4e73: 20 05        .
	ld	hl,L1786	;; 4e75: 21 86 17    ...
	ld	(hl),058h	;; 4e78: 36 58       6X
L4e7a:	ld	a,(L1786)	;; 4e7a: 3a 86 17    :..
	push	af		;; 4e7d: f5          .
	call	L1de9		;; 4e7e: cd e9 1d    ...
	ld	(L1786),a	;; 4e81: 32 86 17    2..
	push	af		;; 4e84: f5          .
	call	L75c9		;; 4e85: cd c9 75    ..u
	db	0ch,0,0,0,0,0,0,0,0,'(',0,84h,5
	call	L7450		;; 4e95: cd 50 74    .Pt
	jr	z,L4ea1		;; 4e98: 28 07       (.
	ld	hl,L322a	;; 4e9a: 21 2a 32    .*2
	ld	(hl),000h	;; 4e9d: 36 00       6.
	jr	L4ea9		;; 4e9f: 18 08       ..

L4ea1:	call	L1a30		;; 4ea1: cd 30 1a    .0.
	ld	hl,L3225	;; 4ea4: 21 25 32    .%2
	ld	(hl),001h	;; 4ea7: 36 01       6.
L4ea9:	ld	a,(L1786)	;; 4ea9: 3a 86 17    :..
	cp	a,030h		;; 4eac: fe 30       .0
	ld	a,000h		;; 4eae: 3e 00       >.
	ccf			;; 4eb0: 3f          ?
	rla			;; 4eb1: 17          .
	push	af		;; 4eb2: f5          .
	ld	a,(L1786)	;; 4eb3: 3a 86 17    :..
	cp	a,03ah		;; 4eb6: fe 3a       .:
	ld	a,000h		;; 4eb8: 3e 00       >.
	rla			;; 4eba: 17          .
	ld	b,a		;; 4ebb: 47          G
	pop	af		;; 4ebc: f1          .
	and	a,b		;; 4ebd: a0          .
	rra			;; 4ebe: 1f          .
	jr	nc,L4ed3	;; 4ebf: 30 12       0.
	ld	a,(L1786)	;; 4ec1: 3a 86 17    :..
	push	af		;; 4ec4: f5          .
	ld	bc,00001h	;; 4ec5: 01 01 00    ...
	ld	hl,00000h	;; 4ec8: 21 00 00    ...
	push	hl		;; 4ecb: e5          .
	push	bc		;; 4ecc: c5          .
	call	L4c5a		;; 4ecd: cd 5a 4c    .ZL
	jp	L50d4		;; 4ed0: c3 d4 50    ..P

L4ed3:	ld	a,(L1786)	;; 4ed3: 3a 86 17    :..
	call	L507c		;; 4ed6: cd 7c 50    .|P
L4ed9:	ld	a,(L322a)	;; 4ed9: 3a 2a 32    :*2
	inc	a		;; 4edc: 3c          <
	ld	(L322a),a	;; 4edd: 32 2a 32    2*2
	cp	a,004h		;; 4ee0: fe 04       ..
	jr	nz,L4ee7	;; 4ee2: 20 03        .
	call	L730c		;; 4ee4: cd 0c 73    ..s
L4ee7:	call	L0a8f		;; 4ee7: cd 8f 0a    ...
	jp	L50d4		;; 4eea: c3 d4 50    ..P

L4eed:	call	L1e41		;; 4eed: cd 41 1e    .A.
	ld	a,(L1785)	;; 4ef0: 3a 85 17    :..
	cp	a,030h		;; 4ef3: fe 30       .0
	ld	a,000h		;; 4ef5: 3e 00       >.
	ccf			;; 4ef7: 3f          ?
	rla			;; 4ef8: 17          .
	push	af		;; 4ef9: f5          .
	ld	a,(L1785)	;; 4efa: 3a 85 17    :..
	cp	a,03ah		;; 4efd: fe 3a       .:
	ld	a,000h		;; 4eff: 3e 00       >.
	rla			;; 4f01: 17          .
	ld	b,a		;; 4f02: 47          G
	pop	af		;; 4f03: f1          .
	and	a,b		;; 4f04: a0          .
	rra			;; 4f05: 1f          .
	jr	nc,L4f19	;; 4f06: 30 11       0.
	ld	a,(L1785)	;; 4f08: 3a 85 17    :..
	push	af		;; 4f0b: f5          .
	ld	bc,0ffffh	;; 4f0c: 01 ff ff    ...
	ld	hl,0ffffh	;; 4f0f: 21 ff ff    ...
	push	hl		;; 4f12: e5          .
	push	bc		;; 4f13: c5          .
	call	L4c5a		;; 4f14: cd 5a 4c    .ZL
	jr	L4f23		;; 4f17: 18 0a       ..

L4f19:	ld	a,(L1785)	;; 4f19: 3a 85 17    :..
	cp	a,020h		;; 4f1c: fe 20       . 
	jr	z,L4f23		;; 4f1e: 28 03       (.
	call	L0a8f		;; 4f20: cd 8f 0a    ...
L4f23:	jp	L50d4		;; 4f23: c3 d4 50    ..P

L4f26:	call	L433f		;; 4f26: cd 3f 43    .?C
	jp	L50d4		;; 4f29: c3 d4 50    ..P

L4f2c:	ld	a,(L02e1)	;; 4f2c: 3a e1 02    :..
	cp	a,001h		;; 4f2f: fe 01       ..
	jr	nz,L4f38	;; 4f31: 20 05        .
	call	L439f		;; 4f33: cd 9f 43    ..C
	jr	L4f3b		;; 4f36: 18 03       ..

L4f38:	call	L0a8f		;; 4f38: cd 8f 0a    ...
L4f3b:	jp	L50d4		;; 4f3b: c3 d4 50    ..P

L4f3e:	ld	a,(L02e6)	;; 4f3e: 3a e6 02    :..
	ld	hl,L02e3	;; 4f41: 21 e3 02    ...
	cp	a,(hl)		;; 4f44: be          .
	jr	nc,L4f5d	;; 4f45: 30 16       0.
	ld	a,(L1d56)	;; 4f47: 3a 56 1d    :V.
	ld	hl,L02e3	;; 4f4a: 21 e3 02    ...
	cp	a,(hl)		;; 4f4d: be          .
	jr	c,L4f53		;; 4f4e: 38 03       8.
	call	L2c3e		;; 4f50: cd 3e 2c    .>,
L4f53:	ld	a,(L02e2)	;; 4f53: 3a e2 02    :..
	dec	a		;; 4f56: 3d          =
	push	af		;; 4f57: f5          .
	call	L0953		;; 4f58: cd 53 09    .S.
	jr	L4f60		;; 4f5b: 18 03       ..

L4f5d:	call	L4ab5		;; 4f5d: cd b5 4a    ..J
L4f60:	jp	L50d4		;; 4f60: c3 d4 50    ..P

L4f63:	ld	a,(L02e3)	;; 4f63: 3a e3 02    :..
	ld	hl,L02e5	;; 4f66: 21 e5 02    ...
	cp	a,(hl)		;; 4f69: be          .
	jr	nc,L4f76	;; 4f6a: 30 0a       0.
	ld	a,(L02e3)	;; 4f6c: 3a e3 02    :..
	inc	a		;; 4f6f: 3c          <
	push	af		;; 4f70: f5          .
	call	L0953		;; 4f71: cd 53 09    .S.
	jr	L4f79		;; 4f74: 18 03       ..

L4f76:	call	L4b02		;; 4f76: cd 02 4b    ..K
L4f79:	jp	L50d4		;; 4f79: c3 d4 50    ..P

L4f7c:	call	L4b02		;; 4f7c: cd 02 4b    ..K
	jp	L50d4		;; 4f7f: c3 d4 50    ..P

L4f82:	call	L4ab5		;; 4f82: cd b5 4a    ..J
	jp	L50d4		;; 4f85: c3 d4 50    ..P

L4f88:	jp	L50d4		;; 4f88: c3 d4 50    ..P

L4f8b:	call	L420b		;; 4f8b: cd 0b 42    ..B
	ld	a,(L1786)	;; 4f8e: 3a 86 17    :..
	cp	a,041h		;; 4f91: fe 41       .A
	jr	nz,L4fa4	;; 4f93: 20 0f        .
	ld	a,011h		;; 4f95: 3e 11       >.
	push	af		;; 4f97: f5          .
	call	L322e		;; 4f98: cd 2e 32    ..2
	push	hl		;; 4f9b: e5          .
	call	L1f12		;; 4f9c: cd 12 1f    ...
	ld	(L1789),hl	;; 4f9f: 22 89 17    "..
	jr	L4fb4		;; 4fa2: 18 10       ..

L4fa4:	ld	a,(L02e3)	;; 4fa4: 3a e3 02    :..
	ld	l,a		;; 4fa7: 6f          o
	ld	h,000h		;; 4fa8: 26 00       &.
	add	hl,hl		;; 4faa: 29          )
	ld	de,L1cc2	;; 4fab: 11 c2 1c    ...
	add	hl,de		;; 4fae: 19          .
	rst4			;; 4faf: e7          .
	db	80h
	ld	(L1789),hl	;; 4fb1: 22 89 17    "..
L4fb4:	call	L351f		;; 4fb4: cd 1f 35    ..5
	ld	a,(L1786)	;; 4fb7: 3a 86 17    :..
	cp	a,041h		;; 4fba: fe 41       .A
	jr	nz,L4fc7	;; 4fbc: 20 09        .
	ld	a,020h		;; 4fbe: 3e 20       > 
	push	af		;; 4fc0: f5          .
	call	L50de		;; 4fc1: cd de 50    ..P
	call	L1dda		;; 4fc4: cd da 1d    ...
L4fc7:	jp	L50d4		;; 4fc7: c3 d4 50    ..P

L4fca:	call	L4b7b		;; 4fca: cd 7b 4b    .{K
	jp	L50d4		;; 4fcd: c3 d4 50    ..P

L4fd0:	call	L4bb4		;; 4fd0: cd b4 4b    ..K
	jp	L50d4		;; 4fd3: c3 d4 50    ..P

L4fd6:	ld	a,(L02e1)	;; 4fd6: 3a e1 02    :..
	cp	a,001h		;; 4fd9: fe 01       ..
	jr	nz,L4fe2	;; 4fdb: 20 05        .
	call	L343b		;; 4fdd: cd 3b 34    .;4
	jr	L4fe5		;; 4fe0: 18 03       ..

L4fe2:	call	L0a8f		;; 4fe2: cd 8f 0a    ...
L4fe5:	jp	L50d4		;; 4fe5: c3 d4 50    ..P

L4fe8:	call	L367c		;; 4fe8: cd 7c 36    .|6
	jp	L50d4		;; 4feb: c3 d4 50    ..P

L4fee:	call	L1e41		;; 4fee: cd 41 1e    .A.
	ld	a,(L1785)	;; 4ff1: 3a 85 17    :..
	push	af		;; 4ff4: f5          .
	call	L1811		;; 4ff5: cd 11 18    ...
	call	L314c		;; 4ff8: cd 4c 31    .L1
	ld	a,020h		;; 4ffb: 3e 20       > 
	push	af		;; 4ffd: f5          .
	call	L50de		;; 4ffe: cd de 50    ..P
	call	L351f		;; 5001: cd 1f 35    ..5
	jp	L50d4		;; 5004: c3 d4 50    ..P

L5007:	call	L4116		;; 5007: cd 16 41    ..A
	jp	L50d4		;; 500a: c3 d4 50    ..P

L500d:	call	L39cc		;; 500d: cd cc 39    ..9
	call	L1dda		;; 5010: cd da 1d    ...
	jp	L50d4		;; 5013: c3 d4 50    ..P

L5016:	call	L4829		;; 5016: cd 29 48    .)H
	jp	L50d4		;; 5019: c3 d4 50    ..P

L501c:	call	L4a6a		;; 501c: cd 6a 4a    .jJ
	jp	L50d4		;; 501f: c3 d4 50    ..P

L5022:	ld	a,(L02e7)	;; 5022: 3a e7 02    :..
	ld	hl,L02e8	;; 5025: 21 e8 02    ...
	cp	a,(hl)		;; 5028: be          .
	jr	nc,L502e	;; 5029: 30 03       0.
	call	L4809		;; 502b: cd 09 48    ..H
L502e:	ld	a,(L02e7)	;; 502e: 3a e7 02    :..
	ld	hl,L02e8	;; 5031: 21 e8 02    ...
	cp	a,(hl)		;; 5034: be          .
	jr	nc,L503c	;; 5035: 30 05       0.
	call	L0a8f		;; 5037: cd 8f 0a    ...
	jr	L5046		;; 503a: 18 0a       ..

L503c:	ld	a,(L02e3)	;; 503c: 3a e3 02    :..
	push	af		;; 503f: f5          .
	call	L3773		;; 5040: cd 73 37    .s7
	call	L1e32		;; 5043: cd 32 1e    .2.
L5046:	jp	L50d4		;; 5046: c3 d4 50    ..P

L5049:	call	L44f4		;; 5049: cd f4 44    ..D
	jp	L50d4		;; 504c: c3 d4 50    ..P

L504f:	call	L423e		;; 504f: cd 3e 42    .>B
	jp	L50d4		;; 5052: c3 d4 50    ..P

L5055:	ld	hl,(L316b)	;; 5055: 2a 6b 31    *k1
	push	hl		;; 5058: e5          .
	call	L37c0		;; 5059: cd c0 37    ..7
	jr	L50d4		;; 505c: 18 76       .v

L505e:	call	L4c9a		;; 505e: cd 9a 4c    ..L
	jr	L50d4		;; 5061: 18 71       .q

L5063:	ld	a,(L1d3f)	;; 5063: 3a 3f 1d    :?.
	or	a,a		;; 5066: b7          .
	jr	z,L5075		;; 5067: 28 0c       (.
	ld	a,049h		;; 5069: 3e 49       >I
	push	af		;; 506b: f5          .
	call	L0466		;; 506c: cd 66 04    .f.
	ld	a,044h		;; 506f: 3e 44       >D
	push	af		;; 5071: f5          .
	call	L0466		;; 5072: cd 66 04    .f.
L5075:	jr	L50d4		;; 5075: 18 5d       .]

L5077:	call	L0a8f		;; 5077: cd 8f 0a    ...
	jr	L50d4		;; 507a: 18 58       .X

L507c:	ld	b,01bh		;; 507c: 06 1b       ..
	call	L8ddc		;; 507e: cd dc 8d    ...
	db ' ' ! dw L5063
	db '''' ! dw L505e
	db '-' ! dw L4eed
	db '.' ! dw L5055
	db '/' ! dw L5049
	db ';' ! dw L5049
	db 'A' ! dw L4f8b
	db 'B' ! dw L4fd6
	db 'C' ! dw L4fca
	db 'D' ! dw L501c
	db 'E' ! dw L4f3e
	db 'F' ! dw L4f8b
	db 'G' ! dw L4ed9
	db 'J' ! dw L4fee
	db 'K' ! dw L4fe8
	db 'L' ! dw L500d
	db 'M' ! dw L4f88
	db 'O' ! dw L5016
	db 'P' ! dw L4f26
	db 'Q' ! dw L5007
	db 'R' ! dw L4fd0
	db 'S' ! dw L4f2c
	db 'V' ! dw L5022
	db 'W' ! dw L4f82
	db 'X' ! dw L4f63
	db 'Y' ! dw L504f
	db 'Z' ! dw L4f7c
	dw	L5077
L50d4:	jp	L4db6		;; 50d4: c3 b6 4d    ..M

L50d7:	call	L0f05		;; 50d7: cd 05 0f    ...
	jp	L92b3		;; 50da: c3 b3 92    ...

L50dd:	db	0
L50de:	call	L8d27		;; 50de: cd 27 8d    .'.
	db	9eh,'j'
	ld	a,(L0f9e)	;; 50e3: 3a 9e 0f    :..
	ld	(L01b1),a	;; 50e6: 32 b1 01    2..
	ld	hl,L02ec	;; 50e9: 21 ec 02    ...
	ld	(hl),009h	;; 50ec: 36 09       6.
	ld	a,(L017f)	;; 50ee: 3a 7f 01    :..
	cp	a,003h		;; 50f1: fe 03       ..
	call	pe,L8c01	;; 50f3: ec 01 8c    ...
	jp	p,L5103		;; 50f6: f2 03 51    ..Q
	ld	hl,L02ec	;; 50f9: 21 ec 02    ...
	ld	(hl),001h	;; 50fc: 36 01       6.
	ld	hl,L1c5b	;; 50fe: 21 5b 1c    .[.
	ld	(hl),007h	;; 5101: 36 07       6.
L5103:	ld	a,(L017f)	;; 5103: 3a 7f 01    :..
	cp	a,003h		;; 5106: fe 03       ..
	call	pe,L8c01	;; 5108: ec 01 8c    ...
	call	L8c18		;; 510b: cd 18 8c    ...
	push	af		;; 510e: f5          .
	ld	a,(L017f)	;; 510f: 3a 7f 01    :..
	cp	a,002h		;; 5112: fe 02       ..
	call	pe,L8c01	;; 5114: ec 01 8c    ...
	call	L8c18		;; 5117: cd 18 8c    ...
	push	af		;; 511a: f5          .
	ld	a,(ix-27)	;; 511b: dd 7e e5    .~.
	cp	a,020h		;; 511e: fe 20       . 
	call	L8c0e		;; 5120: cd 0e 8c    ...
	ld	b,a		;; 5123: 47          G
	pop	af		;; 5124: f1          .
	and	a,b		;; 5125: a0          .
	ld	b,a		;; 5126: 47          G
	pop	af		;; 5127: f1          .
	or	a,b		;; 5128: b0          .
	rra			;; 5129: 1f          .
	jp	nc,L533b	;; 512a: d2 3b 53    .;S
	ld	hl,L1c5b	;; 512d: 21 5b 1c    .[.
	ld	(hl),007h	;; 5130: 36 07       6.
	ld	hl,L01b0	;; 5132: 21 b0 01    ...
	call	L75ea		;; 5135: cd ea 75    ..u
	call	L793e		;; 5138: cd 3e 79    .>y
	ld	(ix-43),a	;; 513b: dd 77 d5    .w.
	rra			;; 513e: 1f          .
	jr	nc,L51a1	;; 513f: 30 60       0`
	ld	hl,0ffd6h	;; 5141: 21 d6 ff    ...
	rst2			;; 5144: d7          .
	push	hl		;; 5145: e5          .
	ld	hl,00052h	;; 5146: 21 52 00    .R.
	push	hl		;; 5149: e5          .
	ld	hl,L01b0	;; 514a: 21 b0 01    ...
	call	L75ea		;; 514d: cd ea 75    ..u
	call	L7995		;; 5150: cd 95 79    ..y
	ld	hl,0ffd6h	;; 5153: 21 d6 ff    ...
	rst2			;; 5156: d7          .
	push	hl		;; 5157: e5          .
	ld	hl,00052h	;; 5158: 21 52 00    .R.
	push	hl		;; 515b: e5          .
	call	L78b6		;; 515c: cd b6 78    ..x
L515f:	call	L763d		;; 515f: cd 3d 76    .=v
	rst3			;; 5162: df          .
	db	0d6h
	push	hl		;; 5164: e5          .
	call	L7682		;; 5165: cd 82 76    ..v
	call	L7bf4		;; 5168: cd f4 7b    ..{
	push	hl		;; 516b: e5          .
	ld	hl,0ff83h	;; 516c: 21 83 ff    ...
	rst2			;; 516f: d7          .
	pop	de		;; 5170: d1          .
	ex	de,hl		;; 5171: eb          .
	ld	bc,00052h	;; 5172: 01 52 00    .R.
	ldir			;; 5175: ed b0       ..
	call	L7aed		;; 5177: cd ed 7a    ..z
	call	L768c		;; 517a: cd 8c 76    ..v
	rst3			;; 517d: df          .
	db	0d6h
	push	hl		;; 517f: e5          .
	call	L7ba1		;; 5180: cd a1 7b    ..{
	push	af		;; 5183: f5          .
	ld	a,(ix-125)	;; 5184: dd 7e 83    .~.
	cp	a,(ix-27)	;; 5187: dd be e5    ...
	call	L8c09		;; 518a: cd 09 8c    ...
	ld	b,a		;; 518d: 47          G
	pop	af		;; 518e: f1          .
	or	a,b		;; 518f: b0          .
	push	af		;; 5190: f5          .
	ld	a,(ix-125)	;; 5191: dd 7e 83    .~.
	cp	a,03fh		;; 5194: fe 3f       .?
	call	L8c09		;; 5196: cd 09 8c    ...
	ld	b,a		;; 5199: 47          G
	pop	af		;; 519a: f1          .
	or	a,b		;; 519b: b0          .
	rra			;; 519c: 1f          .
	jr	nc,L515f	;; 519d: 30 c0       0.
	jr	L51c2		;; 519f: 18 21       ..

L51a1:	ld	a,(ix-27)	;; 51a1: dd 7e e5    .~.
	ld	(ix-125),a	;; 51a4: dd 77 83    .w.
	ld	bc,03f01h	;; 51a7: 01 01 3f    ..?
	push	bc		;; 51aa: c5          .
	ld	hl,L01b0	;; 51ab: 21 b0 01    ...
	call	L75ea		;; 51ae: cd ea 75    ..u
	call	L8b20		;; 51b1: cd 20 8b    . .
	ld	hl,0ff84h	;; 51b4: 21 84 ff    ...
	rst2			;; 51b7: d7          .
	ld	a,050h		;; 51b8: 3e 50       >P
	call	L8b81		;; 51ba: cd 81 8b    ...
	ld	hl,L017f	;; 51bd: 21 7f 01    ...
	ld	(hl),000h	;; 51c0: 36 00       6.
L51c2:	ld	a,(ix-125)	;; 51c2: dd 7e 83    .~.
	ld	(L50dd),a	;; 51c5: 32 dd 50    2.P
	call	L1ae6		;; 51c8: cd e6 1a    ...
	ld	a,(L1c5b)	;; 51cb: 3a 5b 1c    :[.
	ld	b,a		;; 51ce: 47          G
	ld	a,000h		;; 51cf: 3e 00       >.
	call	L894e		;; 51d1: cd 4e 89    .N.
	ld	(ix-126),b	;; 51d4: dd 70 82    .p.
	jp	c,L532f		;; 51d7: da 2f 53    ./S
L51da:	ld	(ix-30),a	;; 51da: dd 77 e2    .w.
	ld	bc,00000h	;; 51dd: 01 00 00    ...
	ld	l,a		;; 51e0: 6f          o
	ld	h,000h		;; 51e1: 26 00       &.
	add	hl,bc		;; 51e3: 09          .
	inc	hl		;; 51e4: 23          #
	ld	a,l		;; 51e5: 7d          }
	push	af		;; 51e6: f5          .
	call	L0953		;; 51e7: cd 53 09    .S.
	ld	(ix-33),000h	;; 51ea: dd 36 df 00 .6..
	ld	(ix-31),001h	;; 51ee: dd 36 e1 01 .6..
	call	L51f8		;; 51f2: cd f8 51    ..Q
	db	'OFF'
L51f8:	call	L75e5		;; 51f8: cd e5 75    ..u
	db	3
	ld	hl,0ffdah	;; 51fc: 21 da ff    ...
	rst2			;; 51ff: d7          .
	ld	a,003h		;; 5200: 3e 03       >.
	call	L8b81		;; 5202: cd 81 8b    ...
L5205:	ld	a,(ix-124)	;; 5205: dd 7e 84    .~.
	ld	b,a		;; 5208: 47          G
	ld	a,(ix-31)	;; 5209: dd 7e e1    .~.
	push	af		;; 520c: f5          .
	ld	a,b		;; 520d: 78          x
	pop	bc		;; 520e: c1          .
	cp	a,b		;; 520f: b8          .
	jp	c,L52f1		;; 5210: da f1 52    ..R
	ld	a,(ix-33)	;; 5213: dd 7e df    .~.
	rra			;; 5216: 1f          .
	jr	nc,L523a	;; 5217: 30 21       0.
	ld	a,(ix-39)	;; 5219: dd 7e d9    .~.
	inc	a		;; 521c: 3c          <
	ld	(ix-39),a	;; 521d: dd 77 d9    .w.
	rst4			;; 5220: e7          .
	db	84h
	rst2			;; 5222: d7          .
	ld	de,0ffdah	;; 5223: 11 da ff    ...
	add	hl,de		;; 5226: 19          .
	ld	a,(hl)		;; 5227: 7e          ~
	push	af		;; 5228: f5          .
	call	L0597		;; 5229: cd 97 05    ...
	ld	a,(ix-39)	;; 522c: dd 7e d9    .~.
	cp	a,003h		;; 522f: fe 03       ..
	jr	nz,L5237	;; 5231: 20 04        .
	ld	(ix-33),000h	;; 5233: dd 36 df 00 .6..
L5237:	jp	L52e7		;; 5237: c3 e7 52    ..R

L523a:	ld	l,(ix-31)	;; 523a: dd 6e e1    .n.
	ld	h,000h		;; 523d: 26 00       &.
	rst2			;; 523f: d7          .
	ld	de,0ff84h	;; 5240: 11 84 ff    ...
	add	hl,de		;; 5243: 19          .
	ld	a,(hl)		;; 5244: 7e          ~
	ld	(ix-32),a	;; 5245: dd 77 e0    .w.
	cp	a,025h		;; 5248: fe 25       .%
	jp	nz,L52d2	;; 524a: c2 d2 52    ..R
	ld	(ix-39),001h	;; 524d: dd 36 d9 01 .6..
	ld	(ix-34),000h	;; 5251: dd 36 de 00 .6..
	ld	a,(ix-125)	;; 5255: dd 7e 83    .~.
	cp	a,04fh		;; 5258: fe 4f       .O
	jr	nz,L52d0	;; 525a: 20 74        t
	ld	a,(ix-31)	;; 525c: dd 7e e1    .~.
	inc	a		;; 525f: 3c          <
	ld	l,a		;; 5260: 6f          o
	ld	h,000h		;; 5261: 26 00       &.
	rst2			;; 5263: d7          .
	ld	de,0ff84h	;; 5264: 11 84 ff    ...
	add	hl,de		;; 5267: 19          .
	ld	a,(hl)		;; 5268: 7e          ~
	call	L529d		;; 5269: cd 9d 52    ..R
L526c:	ld	a,(L0181)	;; 526c: 3a 81 01    :..
	ld	(ix-34),a	;; 526f: dd 77 de    .w.
	jr	L52ad		;; 5272: 18 39       .9

L5274:	ld	a,(L0182)	;; 5274: 3a 82 01    :..
	ld	(ix-34),a	;; 5277: dd 77 de    .w.
	jr	L52ad		;; 527a: 18 31       .1

L527c:	ld	a,(L0180)	;; 527c: 3a 80 01    :..
	or	a,a		;; 527f: b7          .
	jr	z,L529b		;; 5280: 28 19       (.
	call	L5288		;; 5282: cd 88 52    ..R
	db	''' '''
L5288:	call	L75e5		;; 5288: cd e5 75    ..u
	db	3
	ld	hl,0ffdah	;; 528c: 21 da ff    ...
	rst2			;; 528f: d7          .
	ld	a,003h		;; 5290: 3e 03       >.
	call	L8b81		;; 5292: cd 81 8b    ...
	ld	a,(L0180)	;; 5295: 3a 80 01    :..
	ld	(ix-36),a	;; 5298: dd 77 dc    .w.
L529b:	jr	L52ad		;; 529b: 18 10       ..

L529d:	ld	b,003h		;; 529d: 06 03       ..
	call	L8ddc		;; 529f: cd dc 8d    ...
	db 'f' ! dw L526c
	db 's' ! dw L527c
	db 'u' ! dw L5274
	dw	L8e06
L52ad:	ld	a,(ix-34)	;; 52ad: dd 7e de    .~.
	rra			;; 52b0: 1f          .
	jr	nc,L52c6	;; 52b1: 30 13       0.
	call	L52b9		;; 52b3: cd b9 52    ..R
	db	'ON '
L52b9:	call	L75e5		;; 52b9: cd e5 75    ..u
	db	3
	ld	hl,0ffdah	;; 52bd: 21 da ff    ...
	rst2			;; 52c0: d7          .
	ld	a,003h		;; 52c1: 3e 03       >.
	call	L8b81		;; 52c3: cd 81 8b    ...
L52c6:	ld	a,(ix-37)	;; 52c6: dd 7e db    .~.
	ld	(ix-32),a	;; 52c9: dd 77 e0    .w.
	ld	(ix-33),001h	;; 52cc: dd 36 df 01 .6..
L52d0:	jr	L52e0		;; 52d0: 18 0e       ..

L52d2:	ld	a,(ix-32)	;; 52d2: dd 7e e0    .~.
	push	af		;; 52d5: f5          .
	ld	a,(L017c)	;; 52d6: 3a 7c 01    :|.
	push	af		;; 52d9: f5          .
	call	L72f2		;; 52da: cd f2 72    ..r
	ld	(ix-32),a	;; 52dd: dd 77 e0    .w.
L52e0:	ld	a,(ix-32)	;; 52e0: dd 7e e0    .~.
	push	af		;; 52e3: f5          .
	call	L0597		;; 52e4: cd 97 05    ...
L52e7:	ld	a,(ix-31)	;; 52e7: dd 7e e1    .~.
	inc	a		;; 52ea: 3c          <
	ld	(ix-31),a	;; 52eb: dd 77 e1    .w.
	jp	L5205		;; 52ee: c3 05 52    ..R

L52f1:	call	L0977		;; 52f1: cd 77 09    .w.
	ld	a,(ix-30)	;; 52f4: dd 7e e2    .~.
	ld	hl,L1c5b	;; 52f7: 21 5b 1c    .[.
	cp	a,(hl)		;; 52fa: be          .
	jr	z,L5325		;; 52fb: 28 28       ((
	ld	a,(ix-43)	;; 52fd: dd 7e d5    .~.
	rra			;; 5300: 1f          .
	jr	nc,L5325	;; 5301: 30 22       0"
	call	L763d		;; 5303: cd 3d 76    .=v
	ld	l,(ix-42)	;; 5306: dd 6e d6    .n.
	ld	h,(ix-41)	;; 5309: dd 66 d7    .f.
	push	hl		;; 530c: e5          .
	call	L7682		;; 530d: cd 82 76    ..v
	call	L7bf4		;; 5310: cd f4 7b    ..{
	push	hl		;; 5313: e5          .
	ld	hl,0ff83h	;; 5314: 21 83 ff    ...
	rst2			;; 5317: d7          .
	pop	de		;; 5318: d1          .
	ex	de,hl		;; 5319: eb          .
	ld	bc,00052h	;; 531a: 01 52 00    .R.
	ldir			;; 531d: ed b0       ..
	call	L7aed		;; 531f: cd ed 7a    ..z
	call	L768c		;; 5322: cd 8c 76    ..v
L5325:	ld	a,(ix-30)	;; 5325: dd 7e e2    .~.
	inc	a		;; 5328: 3c          <
	dec	(ix-126)	;; 5329: dd 35 82    .5.
	jp	nz,L51da	;; 532c: c2 da 51    ..Q
L532f:	ld	a,(ix-43)	;; 532f: dd 7e d5    .~.
	rra			;; 5332: 1f          .
	jr	nc,L533b	;; 5333: 30 06       0.
	rst3			;; 5335: df          .
	db	0d6h
	push	hl		;; 5337: e5          .
	call	L78e7		;; 5338: cd e7 78    ..x
L533b:	ld	a,(L02ec)	;; 533b: 3a ec 02    :..
	ld	(L02eb),a	;; 533e: 32 eb 02    2..
	inc	a		;; 5341: 3c          <
	ld	(L02ea),a	;; 5342: 32 ea 02    2..
	ld	a,(L02e1)	;; 5345: 3a e1 02    :..
	push	af		;; 5348: f5          .
	call	L1d5d		;; 5349: cd 5d 1d    .].
	ld	a,(L02e2)	;; 534c: 3a e2 02    :..
	ld	hl,L02ea	;; 534f: 21 ea 02    ...
	cp	a,(hl)		;; 5352: be          .
	jr	c,L535a		;; 5353: 38 05       8.
	call	L1e32		;; 5355: cd 32 1e    .2.
	jr	L535d		;; 5358: 18 03       ..

L535a:	call	L1dda		;; 535a: cd da 1d    ...
L535d:	ld	hl,L1c5b	;; 535d: 21 5b 1c    .[.
	ld	(hl),000h	;; 5360: 36 00       6.
	call	L76d6		;; 5362: cd d6 76    ..v
	jp	L8d56		;; 5365: c3 56 8d    .V.

L5368:	call	L8d27		;; 5368: cd 27 8d    .'.
	db	0,6
	ld	a,(L50dd)	;; 536d: 3a dd 50    :.P
	cp	a,020h		;; 5370: fe 20       . 
	call	L8c0e		;; 5372: cd 0e 8c    ...
	push	af		;; 5375: f5          .
	ld	a,000h		;; 5376: 3e 00       >.
	ld	hl,L1c5b	;; 5378: 21 5b 1c    .[.
	cp	a,(hl)		;; 537b: be          .
	ld	a,000h		;; 537c: 3e 00       >.
	rla			;; 537e: 17          .
	ld	b,a		;; 537f: 47          G
	pop	af		;; 5380: f1          .
	or	a,b		;; 5381: b0          .
	rra			;; 5382: 1f          .
	jr	nc,L538b	;; 5383: 30 06       0.
	ld	a,020h		;; 5385: 3e 20       > 
	push	af		;; 5387: f5          .
	call	L50de		;; 5388: cd de 50    ..P
L538b:	jp	L8d56		;; 538b: c3 56 8d    .V.

L538e:	call	L8d27		;; 538e: cd 27 8d    .'.
	db	0,8
	ld	a,099h		;; 5393: 3e 99       >.
	cp	a,(ix-125)	;; 5395: dd be 83    ...
	jr	nc,L53a0	;; 5398: 30 06       0.
	ld	a,030h		;; 539a: 3e 30       >0
	push	af		;; 539c: f5          .
	call	L0597		;; 539d: cd 97 05    ...
L53a0:	ld	a,009h		;; 53a0: 3e 09       >.
	cp	a,(ix-125)	;; 53a2: dd be 83    ...
	jr	nc,L53b7	;; 53a5: 30 10       0.
	ld	a,(ix-125)	;; 53a7: dd 7e 83    .~.
	push	af		;; 53aa: f5          .
	call	L5412		;; 53ab: cd 12 54    ..T
	ld	a,(L01ae)	;; 53ae: 3a ae 01    :..
	push	af		;; 53b1: f5          .
	call	L0597		;; 53b2: cd 97 05    ...
	jr	L53be		;; 53b5: 18 07       ..

L53b7:	ld	a,(ix-125)	;; 53b7: dd 7e 83    .~.
	push	af		;; 53ba: f5          .
	call	L07a7		;; 53bb: cd a7 07    ...
L53be:	jp	L8d56		;; 53be: c3 56 8d    .V.

L53c1:	call	L8d27		;; 53c1: cd 27 8d    .'.
	db	0,8
	ld	c,(ix-126)	;; 53c6: dd 4e 82    .N.
	ld	b,(ix-125)	;; 53c9: dd 46 83    .F.
	ld	hl,L9999	;; 53cc: 21 99 99    ...
	or	a,a		;; 53cf: b7          .
	sbc	hl,bc		;; 53d0: ed 42       .B
	jr	nc,L53da	;; 53d2: 30 06       0.
	ld	a,030h		;; 53d4: 3e 30       >0
	push	af		;; 53d6: f5          .
	call	L0597		;; 53d7: cd 97 05    ...
L53da:	ld	c,(ix-126)	;; 53da: dd 4e 82    .N.
	ld	b,(ix-125)	;; 53dd: dd 46 83    .F.
	ld	hl,00009h	;; 53e0: 21 09 00    ...
	or	a,a		;; 53e3: b7          .
	sbc	hl,bc		;; 53e4: ed 42       .B
	jr	nc,L53f7	;; 53e6: 30 0f       0.
	rst3			;; 53e8: df          .
	db	82h
	push	hl		;; 53ea: e5          .
	call	L5428		;; 53eb: cd 28 54    .(T
	ld	a,(L01ae)	;; 53ee: 3a ae 01    :..
	push	af		;; 53f1: f5          .
	call	L0597		;; 53f2: cd 97 05    ...
	jr	L53fd		;; 53f5: 18 06       ..

L53f7:	rst3			;; 53f7: df          .
	db	82h
	push	hl		;; 53f9: e5          .
	call	L07d2		;; 53fa: cd d2 07    ...
L53fd:	jp	L8d56		;; 53fd: c3 56 8d    .V.

L5400:	pop	hl		;; 5400: e1          .
	pop	af		;; 5401: f1          .
	push	hl		;; 5402: e5          .
	cp	a,00ah		;; 5403: fe 0a       ..
	jr	nc,L540b	;; 5405: 30 04       0.
	add	a,030h		;; 5407: c6 30       .0
	jr	L540d		;; 5409: 18 02       ..

L540b:	add	a,037h		;; 540b: c6 37       .7
L540d:	push	af		;; 540d: f5          .
	call	L0597		;; 540e: cd 97 05    ...
	ret			;; 5411: c9          .

L5412:	pop	hl		;; 5412: e1          .
	pop	af		;; 5413: f1          .
	push	hl		;; 5414: e5          .
	push	af		;; 5415: f5          .
	push	af		;; 5416: f5          .
	ld	a,010h		;; 5417: 3e 10       >.
	call	L89b1		;; 5419: cd b1 89    ...
	push	af		;; 541c: f5          .
	call	L5400		;; 541d: cd 00 54    ..T
	pop	af		;; 5420: f1          .
	and	a,00fh		;; 5421: e6 0f       ..
	push	af		;; 5423: f5          .
	call	L5400		;; 5424: cd 00 54    ..T
	ret			;; 5427: c9          .

L5428:	pop	de		;; 5428: d1          .
	pop	hl		;; 5429: e1          .
	push	de		;; 542a: d5          .
	push	hl		;; 542b: e5          .
	ld	a,h		;; 542c: 7c          |
	push	af		;; 542d: f5          .
	call	L5412		;; 542e: cd 12 54    ..T
	pop	hl		;; 5431: e1          .
	ld	a,l		;; 5432: 7d          }
	push	af		;; 5433: f5          .
	call	L5412		;; 5434: cd 12 54    ..T
	ret			;; 5437: c9          .

	db	0f3h,1,2,2,2,2,'y',2
L5440:	db	1ah,3,0,0,0,0,0,0,'88',18h,0,'8',18h,'8',10h
	db	8,1,0c0h,0,3,0,3,0,'8',7,'0',10h,'008',0
	db	0,4,0,0,0,0,0,0,0,0,0,0,0,0,';',1
	db	'_',1,'g',1,0,0,'g',1,'s',1,'s',1,87h,1,8ah,1
	db	8ah,1,90h,1,0,0,9ah,1,0,0,0a3h,1,0,0,0abh,1
	db	0b6h,1,0c1h,1,0c9h,1,0c9h,1,0d1h,1,0d8h,1,0,0,0,0
	db	0ech,1
L54a2:	db	0,0ffh
	db	'NO','P'+80h
	db	76h,0ffh
	db	'[HAL','T'+80h
	db	80h,0c0h
	db	'a','r'+80h
	db	40h,0c0h
	db	'LD q,','r'+80h
	db	0c0h,0c7h
	db	'RET ','e'+80h
	db	4,0c6h
	db	'j ','q'+80h
	db	0c6h,0c7h
	db	'a','n'+80h
	db	0c9h,0ffh
	db	'[RE','T'+80h
	db	20h,0e7h
	db	'JR c,','x'+80h
	db	10h,0ffh
	db	'DJNZ ','x'+80h
	db	18h,0ffh
	db	'[JR ','x'+80h
	db	6,0c7h
	db	'LD q,','n'+80h
	db	0c3h,0ffh
	db	'[JP ','l'+80h
	db	0cdh,0ffh
	db	'CALL ','l'+80h
	db	22h,0efh
	db	'LD (l),','h'+80h
	db	2ah,0efh
	db	'LD h,(l',')'+80h
	db	0c2h,0c7h
	db	'JP e,','l'+80h
	db	0c4h,0c7h
	db	'CALL e,','l'+80h
	db	1,0cfh
	db	'LD s,','l'+80h
	db	7,0e7h
	db	'f','A'+80h
	db	27h,0ffh
	db	'DA','A'+80h
	db	2fh,0ffh
	db	'CP','L'+80h
	db	37h,0ffh
	db	'SC','F'+80h
	db	3fh,0ffh
	db	'CC','F'+80h
	db	0e3h,0ffh
	db	'EX (SP),H','L'+80h
	db	0e9h,0ffh
	db	'[JP (HL',')'+80h
	db	0ebh,0ffh
	db	'EX DE,H','L'+80h
	db	0f3h,0ffh
	db	'D','I'+80h
	db	0f9h,0ffh
	db	'LD SP,H','L'+80h
	db	0fbh,0ffh
	db	'E','I'+80h
	db	0d9h,0ffh
	db	'EX','X'+80h
	db	2,0efh
	db	'LD (t),','A'+80h
	db	0ah,0efh
	db	'LD A,(t',')'+80h
	db	0c1h,0cbh
	db	'z ','u'+80h
	db	3,0c7h
	db	'i ','s'+80h
	db	9,0cfh
	db	'ADD HL,','s'+80h
	db	0c7h,0c7h
	db	'RST ','w'+80h
	db	0d3h,0ffh
	db	'OUT (p),','A'+80h
	db	0dbh,0ffh
	db	'IN A,(p',')'+80h
	db	0cbh,0ffh
	db	'*','0'+80h
	db	0ddh,0ffh
	db	'*','1'+80h
	db	0fdh,0ffh
	db	'*','2'+80h
	db	0edh,0ffh
	db	'*','3'+80h
	db	8,0ffh
	db	'EX AF,AF',''''+80h
	db	0,0,0
	db	'ADD A',','+80h
	db	'ADC A',','+80h
	db	'SUB',' '+80h
	db	'SBC A',','+80h
	db	'AND',' '+80h
	db	'XOR',' '+80h
	db	'OR',' '+80h
	db	'CP',' '+80h
	db	'0'+80h
	db	'1'+80h
	db	'2'+80h
	db	'3'+80h
	db	'4'+80h
	db	'5'+80h
	db	'6'+80h
	db	'7'+80h
	db	'N','Z'+80h
	db	'Z'+80h
	db	'N','C'+80h
	db	'C'+80h
	db	'P','O'+80h
	db	'P','E'+80h
	db	'P'+80h
	db	'M'+80h
	db	'RL','C'+80h
	db	'RR','C'+80h
	db	'R','L'+80h
	db	'R','R'+80h
	db	'SL','A'+80h
	db	'SR','A'+80h
	db	'?'+80h
	db	'SR','L'+80h
	db	'H','L'+80h
	db	'A'+80h
	db	'IN','C'+80h
	db	'DE','C'+80h
	db	'?'+80h
	db	'BI','T'+80h
	db	'RE','S'+80h
	db	'SE','T'+80h
	db	'L','D'+80h
	db	'C','P'+80h
	db	'I','N'+80h
	db	'OU','T'+80h
	db	'L','D'+80h
	db	'C','P'+80h
	db	'I','N'+80h
	db	'O','T'+80h
	db	'B'+80h
	db	'C'+80h
	db	'D'+80h
	db	'E'+80h
	db	'H'+80h
	db	'L'+80h
	db	'(HL',')'+80h
	db	'A'+80h
	db	'B'+80h
	db	'C'+80h
	db	'D'+80h
	db	'E'+80h
	db	'H'+80h
	db	'L'+80h
	db	'(HL',')'+80h
	db	'A'+80h
	db	'B','C'+80h
	db	'D','E'+80h
	db	'H','L'+80h
	db	'S','P'+80h
	db	'B','C'+80h
	db	'D','E'+80h
	db	'H','L'+80h
	db	'A','F'+80h
	db	'B','C'+80h
	db	'D','E'+80h
	db	'y'+80h
	db	'S','P'+80h
	db	'0'+80h
	db	'8'+80h
	db	'10','H'+80h
	db	'18','H'+80h
	db	'20','H'+80h
	db	'28','H'+80h
	db	'30','H'+80h
	db	'38','H'+80h
	db	'PO','P'+80h
	db	'PUS','H'+80h
	db	0,0c0h
	db	'g ','r'+80h
	db	0,0
	db	'k b,','r'+80h
	db	0,0,0
	db	23h,0f7h
	db	'i ','y'+80h
	db	0e1h,0fbh
	db	'z ','y'+80h
	db	0e3h,0ffh
	db	'EX (SP),','y'+80h
	db	0e9h,0ffh
	db	'[JP (y',')'+80h
	db	0f9h,0ffh
	db	'LD SP,','y'+80h
	db	9,0cfh
	db	'ADD y,','v'+80h
	db	86h,0c7h
	db	'a','d'+80h
	db	34h,0feh
	db	'j ','d'+80h
	db	76h,0ffh
	db	'?'+80h
	db	46h,0c7h
	db	'LD q,','d'+80h
	db	70h,0f8h
	db	'LD d,','r'+80h
	db	36h,0ffh
	db	'LD d,','n'+80h
	db	21h,0ffh
	db	'LD y,','l'+80h
	db	22h,0ffh
	db	'LD (l),','y'+80h
	db	2ah,0ffh
	db	'LD y,(l',')'+80h
	db	0cbh,0ffh
	db	'*','4'+80h
	db	0,0,0
	db	44h,0ffh
	db	'NE','G'+80h
	db	45h,0ffh
	db	'[RET','N'+80h
	db	47h,0ffh
	db	'LD I,','A'+80h
	db	57h,0ffh
	db	'LD A,','I'+80h
	db	4dh,0ffh
	db	'[RET','I'+80h
	db	4fh,0ffh
	db	'LD R,','A'+80h
	db	5fh,0ffh
	db	'LD A,','R'+80h
	db	67h,0ffh
	db	'RR','D'+80h
	db	6fh,0ffh
	db	'RL','D'+80h
	db	0a0h,0fch
	db	'm','I'+80h
	db	0a8h,0fch
	db	'm','D'+80h
	db	0b0h,0fch
	db	'oI','R'+80h
	db	0b8h,0fch
	db	'oD','R'+80h
	db	46h,0ffh
	db	'IM ','0'+80h
	db	56h,0ffh
	db	'IM ','1'+80h
	db	5eh,0ffh
	db	'IM ','2'+80h
	db	40h,0c7h
	db	'IN q,(C',')'+80h
	db	41h,0c7h
	db	'OUT (C),','q'+80h
	db	42h,0cfh
	db	'SBC HL,','s'+80h
	db	4ah,0cfh
	db	'ADC HL,','s'+80h
	db	43h,0cfh
	db	'LD (l),','s'+80h
	db	4bh,0cfh
	db	'LD s,(l',')'+80h
	db	0,0,0
	db	6,0c7h
	db	'g ','d'+80h
	db	6,7
	db	'k b,','d'+80h
	db	0,0,0
	db	0,0
L57cd:	call	L8d27		;; 57cd: cd 27 8d    .'.
	db	0e2h,'('
	rst3			;; 57d2: df          .
	db	0a2h
	push	hl		;; 57d4: e5          .
	ld	l,(ix-95)	;; 57d5: dd 6e a1    .n.
	ld	h,000h		;; 57d8: 26 00       &.
	ld	bc,00001h	;; 57da: 01 01 00    ...
	push	bc		;; 57dd: c5          .
	push	hl		;; 57de: e5          .
	call	L73c9		;; 57df: cd c9 73    ..s
	call	L75c9		;; 57e2: cd c9 75    ..u
	db	8,0,0,0,0,0,0,0,80h
	call	L7514		;; 57ee: cd 14 75    ..u
	call	L7397		;; 57f1: cd 97 73    ..s
	db	10h
	ld	hl,0ff9dh	;; 57f5: 21 9d ff    ...
	rst2			;; 57f8: d7          .
	push	hl		;; 57f9: e5          .
	call	L60f2		;; 57fa: cd f2 60    ..`
	ld	(ix-126),001h	;; 57fd: dd 36 82 01 .6..
	ld	a,(L1c53)	;; 5801: 3a 53 1c    :S.
	xor	a,001h		;; 5804: ee 01       ..
	rra			;; 5806: 1f          .
	jp	nc,L589e	;; 5807: d2 9e 58    ..X
	ld	a,(L1d51)	;; 580a: 3a 51 1d    :Q.
	xor	a,001h		;; 580d: ee 01       ..
	ld	(ix-100),a	;; 580f: dd 77 9c    .w.
	ld	hl,0ff8ch	;; 5812: 21 8c ff    ...
	rst2			;; 5815: d7          .
	push	hl		;; 5816: e5          .
	call	L75c9		;; 5817: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,4,0,90h
	call	L7546		;; 5826: cd 46 75    .Fu
	db	10h
	ld	a,(ix-95)	;; 582a: dd 7e a1    .~.
	push	af		;; 582d: f5          .
	call	L75c9		;; 582e: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,0,10h,4
	call	L7450		;; 583d: cd 50 74    .Pt
	jr	z,L585d		;; 5840: 28 1b       (.
	ld	(ix-100),001h	;; 5842: dd 36 9c 01 .6..
	ld	hl,0ff8ch	;; 5846: 21 8c ff    ...
	rst2			;; 5849: d7          .
	push	hl		;; 584a: e5          .
	call	L75c9		;; 584b: cd c9 75    ..u
	db	0ah,0,0,0,0,0,0,0,0,8,10h
	call	L7546		;; 5859: cd 46 75    .Fu
	db	10h
L585d:	ld	a,(ix-95)	;; 585d: dd 7e a1    .~.
	push	af		;; 5860: f5          .
	call	L75c9		;; 5861: cd c9 75    ..u
	db	0ch,0,0,0,0,0,0,0,0,0,'@',1,3
	call	L7450		;; 5871: cd 50 74    .Pt
	jr	nz,L589e	;; 5874: 20 28        (
	ld	a,(ix-100)	;; 5876: dd 7e 9c    .~.
	rra			;; 5879: 1f          .
	jr	nc,L5893	;; 587a: 30 17       0.
	rst3			;; 587c: df          .
	db	0a2h
	push	hl		;; 587e: e5          .
	ld	hl,0ff8ch	;; 587f: 21 8c ff    ...
	rst2			;; 5882: d7          .
	call	L75be		;; 5883: cd be 75    ..u
	db	10h
	call	L7397		;; 5887: cd 97 73    ..s
	db	10h
	ld	hl,0ff9dh	;; 588b: 21 9d ff    ...
	rst2			;; 588e: d7          .
	push	hl		;; 588f: e5          .
	call	L60f2		;; 5890: cd f2 60    ..`
L5893:	ld	a,(L1c53)	;; 5893: 3a 53 1c    :S.
	rra			;; 5896: 1f          .
	jr	nc,L589e	;; 5897: 30 05       0.
	ld	hl,L1c59	;; 5899: 21 59 1c    .Y.
	ld	(hl),023h	;; 589c: 36 23       6#
L589e:	ld	a,(L1c53)	;; 589e: 3a 53 1c    :S.
	rra			;; 58a1: 1f          .
	jr	nc,L58ce	;; 58a2: 30 2a       0*
	ld	(ix-126),000h	;; 58a4: dd 36 82 00 .6..
	ld	a,(L0181)	;; 58a8: 3a 81 01    :..
	ld	(ix-97),a	;; 58ab: dd 77 9f    .w.
	ld	a,(L1c10)	;; 58ae: 3a 10 1c    :..
	or	a,a		;; 58b1: b7          .
	jr	nz,L58c1	;; 58b2: 20 0d        .
	ld	a,(L1c59)	;; 58b4: 3a 59 1c    :Y.
	or	a,a		;; 58b7: b7          .
	jr	nz,L58bf	;; 58b8: 20 05        .
	ld	hl,L1c59	;; 58ba: 21 59 1c    .Y.
	ld	(hl),02bh	;; 58bd: 36 2b       6+
L58bf:	jr	L58cc		;; 58bf: 18 0b       ..

L58c1:	ld	a,(L1c11)	;; 58c1: 3a 11 1c    :..
	cp	a,020h		;; 58c4: fe 20       . 
	jr	nz,L58cc	;; 58c6: 20 04        .
	ld	(ix-97),001h	;; 58c8: dd 36 9f 01 .6..
L58cc:	jr	L58d7		;; 58cc: 18 09       ..

L58ce:	ld	(ix-97),001h	;; 58ce: dd 36 9f 01 .6..
	ld	hl,L1c59	;; 58d2: 21 59 1c    .Y.
	ld	(hl),02ah	;; 58d5: 36 2a       6*
L58d7:	ld	a,(ix-95)	;; 58d7: dd 7e a1    .~.
	call	L59e8		;; 58da: cd e8 59    ..Y
L58dd:	ld	a,(L1c53)	;; 58dd: 3a 53 1c    :S.
	xor	a,001h		;; 58e0: ee 01       ..
	rra			;; 58e2: 1f          .
	jr	nc,L58ea	;; 58e3: 30 05       0.
	ld	hl,L1c59	;; 58e5: 21 59 1c    .Y.
	ld	(hl),02eh	;; 58e8: 36 2e       6.
L58ea:	ld	(ix-126),000h	;; 58ea: dd 36 82 00 .6..
	ld	a,(ix-94)	;; 58ee: dd 7e a2    .~.
	push	af		;; 58f1: f5          .
	call	L20b8		;; 58f2: cd b8 20    .. 
	push	af		;; 58f5: f5          .
	ld	a,(ix-95)	;; 58f6: dd 7e a1    .~.
	cp	a,04eh		;; 58f9: fe 4e       .N
	call	L8c09		;; 58fb: cd 09 8c    ...
	ld	b,a		;; 58fe: 47          G
	pop	af		;; 58ff: f1          .
	and	a,b		;; 5900: a0          .
	push	af		;; 5901: f5          .
	ld	a,(L1c0e)	;; 5902: 3a 0e 1c    :..
	cp	a,04dh		;; 5905: fe 4d       .M
	call	L8c09		;; 5907: cd 09 8c    ...
	ld	b,a		;; 590a: 47          G
	pop	af		;; 590b: f1          .
	and	a,b		;; 590c: a0          .
	rra			;; 590d: 1f          .
	jr	nc,L593c	;; 590e: 30 2c       0,
	ld	a,027h		;; 5910: 3e 27       >'
	push	af		;; 5912: f5          .
	call	L0597		;; 5913: cd 97 05    ...
	ld	a,(ix-94)	;; 5916: dd 7e a2    .~.
	push	af		;; 5919: f5          .
	call	L0597		;; 591a: cd 97 05    ...
	ld	a,027h		;; 591d: 3e 27       >'
	push	af		;; 591f: f5          .
	call	L0597		;; 5920: cd 97 05    ...
	ld	a,003h		;; 5923: 3e 03       >.
	push	af		;; 5925: f5          .
	call	L0d9b		;; 5926: cd 9b 0d    ...
	call	L592e		;; 5929: cd 2e 59    ..Y
	db	'; '
L592e:	call	L75e5		;; 592e: cd e5 75    ..u
	db	2
	ld	a,037h		;; 5932: 3e 37       >7
	call	L8bb0		;; 5934: cd b0 8b    ...
	call	L0803		;; 5937: cd 03 08    ...
	jr	L594c		;; 593a: 18 10       ..

L593c:	ld	a,(L1c53)	;; 593c: 3a 53 1c    :S.
	and	a,(ix-97)	;; 593f: dd a6 9f    ...
	rra			;; 5942: 1f          .
	jr	nc,L594c	;; 5943: 30 07       0.
	ld	a,(ix-95)	;; 5945: dd 7e a1    .~.
	push	af		;; 5948: f5          .
	call	L0597		;; 5949: cd 97 05    ...
L594c:	ld	a,(ix-97)	;; 594c: dd 7e 9f    .~.
	rra			;; 594f: 1f          .
	jr	nc,L59bd	;; 5950: 30 6b       0k
	ld	a,(L1c53)	;; 5952: 3a 53 1c    :S.
	rra			;; 5955: 1f          .
	jr	nc,L5961	;; 5956: 30 09       0.
	ld	a,(ix-94)	;; 5958: dd 7e a2    .~.
	push	af		;; 595b: f5          .
	call	L5412		;; 595c: cd 12 54    ..T
	jr	L59bd		;; 595f: 18 5c       .\

L5961:	ld	a,(ix-95)	;; 5961: dd 7e a1    .~.
	push	af		;; 5964: f5          .
	call	L75c9		;; 5965: cd c9 75    ..u
	db	0ch,0,0,0,0,0,0,0,0,0,0,0,3
	call	L7450		;; 5975: cd 50 74    .Pt
	call	L8c0e		;; 5978: cd 0e 8c    ...
	push	af		;; 597b: f5          .
	ld	bc,00080h	;; 597c: 01 80 00    ...
	rst3			;; 597f: df          .
	db	0a2h
	or	a,a		;; 5981: b7          .
	sbc	hl,bc		;; 5982: ed 42       .B
	ld	a,000h		;; 5984: 3e 00       >.
	ccf			;; 5986: 3f          ?
	rla			;; 5987: 17          .
	ld	b,a		;; 5988: 47          G
	pop	af		;; 5989: f1          .
	and	a,b		;; 598a: a0          .
	rra			;; 598b: 1f          .
	jr	nc,L59b6	;; 598c: 30 28       0(
	ld	a,(L02e3)	;; 598e: 3a e3 02    :..
	push	af		;; 5991: f5          .
	ld	a,(L02ee)	;; 5992: 3a ee 02    :..
	dec	a		;; 5995: 3d          =
	push	af		;; 5996: f5          .
	call	L0889		;; 5997: cd 89 08    ...
	ld	a,02dh		;; 599a: 3e 2d       >-
	push	af		;; 599c: f5          .
	call	L0597		;; 599d: cd 97 05    ...
	ld	bc,00100h	;; 59a0: 01 00 01    ...
	ld	hl,00000h	;; 59a3: 21 00 00    ...
	push	hl		;; 59a6: e5          .
	push	bc		;; 59a7: c5          .
	rst3			;; 59a8: df          .
	db	0a2h
	rst4			;; 59aa: e7          .
	db	87h
	call	L87f6		;; 59ac: cd f6 87    ...
	ld	a,c		;; 59af: 79          y
	push	af		;; 59b0: f5          .
	call	L538e		;; 59b1: cd 8e 53    ..S
	jr	L59bd		;; 59b4: 18 07       ..

L59b6:	ld	a,(ix-94)	;; 59b6: dd 7e a2    .~.
	push	af		;; 59b9: f5          .
	call	L538e		;; 59ba: cd 8e 53    ..S
L59bd:	jr	L59fb		;; 59bd: 18 3c       .<

L59bf:	ld	a,(L1c53)	;; 59bf: 3a 53 1c    :S.
	xor	a,001h		;; 59c2: ee 01       ..
	and	a,(ix-97)	;; 59c4: dd a6 9f    ...
	rra			;; 59c7: 1f          .
	jr	nc,L59e6	;; 59c8: 30 1c       0.
	ld	a,(ix-95)	;; 59ca: dd 7e a1    .~.
	cp	a,054h		;; 59cd: fe 54       .T
	jr	nz,L59d9	;; 59cf: 20 08        .
	rst3			;; 59d1: df          .
	db	0a2h
	push	hl		;; 59d3: e5          .
	call	L53c1		;; 59d4: cd c1 53    ..S
	jr	L59e6		;; 59d7: 18 0d       ..

L59d9:	ld	a,(ix-95)	;; 59d9: dd 7e a1    .~.
	push	af		;; 59dc: f5          .
	call	L0597		;; 59dd: cd 97 05    ...
	rst3			;; 59e0: df          .
	db	0a2h
	push	hl		;; 59e2: e5          .
	call	L5428		;; 59e3: cd 28 54    .(T
L59e6:	jr	L59fb		;; 59e6: 18 13       ..

L59e8:	ld	b,004h		;; 59e8: 06 04       ..
	call	L8ddc		;; 59ea: cd dc 8d    ...
	db 'N' ! dw L58dd
	db 'P' ! dw L58dd
	db 'X' ! dw L58dd
	db 'Y' ! dw L58dd
	dw	L59bf
L59fb:	ld	a,(L1c53)	;; 59fb: 3a 53 1c    :S.
	rra			;; 59fe: 1f          .
	jr	nc,L5a35	;; 59ff: 30 34       04
	rst3			;; 5a01: df          .
	db	9dh
	push	hl		;; 5a03: e5          .
	call	L6760		;; 5a04: cd 60 67    .`g
	ld	a,(L0182)	;; 5a07: 3a 82 01    :..
	rra			;; 5a0a: 1f          .
	jr	nc,L5a14	;; 5a0b: 30 07       0.
	ld	hl,L1d43	;; 5a0d: 21 43 1d    .C.
	push	hl		;; 5a10: e5          .
	call	L5c84		;; 5a11: cd 84 5c    ..\
L5a14:	ld	a,(L1d48)	;; 5a14: 3a 48 1d    :H.
	or	a,a		;; 5a17: b7          .
	call	L8c0e		;; 5a18: cd 0e 8c    ...
	ld	hl,L3170	;; 5a1b: 21 70 31    .p1
	and	a,(hl)		;; 5a1e: a6          .
	rra			;; 5a1f: 1f          .
	jr	nc,L5a35	;; 5a20: 30 13       0.
	ld	a,(L1d48)	;; 5a22: 3a 48 1d    :H.
	ld	(L1d50),a	;; 5a25: 32 50 1d    2P.
	ld	a,(L1c59)	;; 5a28: 3a 59 1c    :Y.
	cp	a,020h		;; 5a2b: fe 20       . 
	jr	nz,L5a35	;; 5a2d: 20 06        .
	ld	a,(L1d50)	;; 5a2f: 3a 50 1d    :P.
	ld	(L1c59),a	;; 5a32: 32 59 1c    2Y.
L5a35:	ld	a,(ix-126)	;; 5a35: dd 7e 82    .~.
	rra			;; 5a38: 1f          .
	jr	nc,L5a70	;; 5a39: 30 35       05
	ld	a,(ix-95)	;; 5a3b: dd 7e a1    .~.
	cp	a,054h		;; 5a3e: fe 54       .T
	jr	nz,L5a70	;; 5a40: 20 2e        .
	ld	bc,00100h	;; 5a42: 01 00 01    ...
	rst3			;; 5a45: df          .
	db	0a2h
	or	a,a		;; 5a47: b7          .
	sbc	hl,bc		;; 5a48: ed 42       .B
	ld	a,000h		;; 5a4a: 3e 00       >.
	ccf			;; 5a4c: 3f          ?
	rla			;; 5a4d: 17          .
	push	af		;; 5a4e: f5          .
	call	L8d60		;; 5a4f: cd 60 8d    .`.
	dw	L104c
	push	hl		;; 5a54: e5          .
	push	bc		;; 5a55: c5          .
	rst3			;; 5a56: df          .
	db	0a2h
	rst4			;; 5a58: e7          .
	db	87h
	call	L8890		;; 5a5a: cd 90 88    ...
	call	L8c13		;; 5a5d: cd 13 8c    ...
	ld	b,a		;; 5a60: 47          G
	pop	af		;; 5a61: f1          .
	and	a,b		;; 5a62: a0          .
	rra			;; 5a63: 1f          .
	jr	nc,L5a70	;; 5a64: 30 0a       0.
	ld	(ix-126),000h	;; 5a66: dd 36 82 00 .6..
	ld	a,(L01a3)	;; 5a6a: 3a a3 01    :..
	ld	(L316f),a	;; 5a6d: 32 6f 31    2o1
L5a70:	ld	a,(L1d51)	;; 5a70: 3a 51 1d    :Q.
	and	a,(ix-126)	;; 5a73: dd a6 82    ...
	rra			;; 5a76: 1f          .
	jp	nc,L5b01	;; 5a77: d2 01 5b    ..[
	ld	hl,L1c10	;; 5a7a: 21 10 1c    ...
	ld	(hl),000h	;; 5a7d: 36 00       6.
	rst3			;; 5a7f: df          .
	db	0a2h
	rst3			;; 5a81: df          .
	db	6
	ld	a,(ix-95)	;; 5a83: dd 7e a1    .~.
	ld	(ix-120),a	;; 5a86: dd 77 88    .w.
	ld	(ix-117),000h	;; 5a89: dd 36 8b 00 .6..
	ld	hl,0ff86h	;; 5a8d: 21 86 ff    ...
	rst2			;; 5a90: d7          .
	push	hl		;; 5a91: e5          .
	ld	hl,L1c10	;; 5a92: 21 10 1c    ...
	call	L75ea		;; 5a95: cd ea 75    ..u
	ld	a,042h		;; 5a98: 3e 42       >B
	call	L8bb0		;; 5a9a: cd b0 8b    ...
	rst3			;; 5a9d: df          .
	db	0a2h
	push	hl		;; 5a9f: e5          .
	call	L60a4		;; 5aa0: cd a4 60    ..`
	push	hl		;; 5aa3: e5          .
	call	L6241		;; 5aa4: cd 41 62    .Ab
	rst3			;; 5aa7: df          .
	db	0a2h
	push	hl		;; 5aa9: e5          .
	call	L10d3		;; 5aaa: cd d3 10    ...
	xor	a,001h		;; 5aad: ee 01       ..
	rra			;; 5aaf: 1f          .
	jr	nc,L5af0	;; 5ab0: 30 3e       0>
	ld	a,(ix-95)	;; 5ab2: dd 7e a1    .~.
	call	L5aca		;; 5ab5: cd ca 5a    ..Z
L5ab8:	ld	(ix-123),049h	;; 5ab8: dd 36 85 49 .6.I
	jr	L5add		;; 5abc: 18 1f       ..

L5abe:	ld	(ix-123),057h	;; 5abe: dd 36 85 57 .6.W
	jr	L5add		;; 5ac2: 18 19       ..

L5ac4:	ld	(ix-123),042h	;; 5ac4: dd 36 85 42 .6.B
	jr	L5add		;; 5ac8: 18 13       ..

L5aca:	ld	b,004h		;; 5aca: 06 04       ..
	call	L8ddc		;; 5acc: cd dc 8d    ...
	db 'C' ! dw L5ab8
	db 'L' ! dw L5ab8
	db 'R' ! dw L5ab8
	db 'W' ! dw L5abe
	dw	L5ac4
L5add:	rst3			;; 5add: df          .
	db	0a2h
	push	hl		;; 5adf: e5          .
	ld	a,(ix-123)	;; 5ae0: dd 7e 85    .~.
	push	af		;; 5ae3: f5          .
	rst3			;; 5ae4: df          .
	db	0a2h
	push	hl		;; 5ae6: e5          .
	call	L5f05		;; 5ae7: cd 05 5f    .._
	push	hl		;; 5aea: e5          .
	call	L6475		;; 5aeb: cd 75 64    .ud
	rst3			;; 5aee: df          .
	db	3
L5af0:	ld	hl,L3169	;; 5af0: 21 69 31    .i1
	ld	(hl),001h	;; 5af3: 36 01       6.
	ld	a,(L3170)	;; 5af5: 3a 70 31    :p1
	rra			;; 5af8: 1f          .
	jr	nc,L5b01	;; 5af9: 30 06       0.
	ld	a,(L01a3)	;; 5afb: 3a a3 01    :..
	ld	(L316f),a	;; 5afe: 32 6f 31    2o1
L5b01:	jp	L8d56		;; 5b01: c3 56 8d    .V.

L5b04:	call	L8d27		;; 5b04: cd 27 8d    .'.
	db	0,0ah
	ld	a,(L018c)	;; 5b09: 3a 8c 01    :..
	rra			;; 5b0c: 1f          .
	jr	nc,L5b53	;; 5b0d: 30 44       0D
	ld	a,003h		;; 5b0f: 3e 03       >.
	push	af		;; 5b11: f5          .
	call	L0d9b		;; 5b12: cd 9b 0d    ...
	ld	a,03bh		;; 5b15: 3e 3b       >;
	push	af		;; 5b17: f5          .
	call	L0597		;; 5b18: cd 97 05    ...
	ld	a,024h		;; 5b1b: 3e 24       >$
	push	af		;; 5b1d: f5          .
	call	L0597		;; 5b1e: cd 97 05    ...
	ld	a,07fh		;; 5b21: 3e 7f       >.
	cp	a,(ix-125)	;; 5b23: dd be 83    ...
	jr	nc,L5b41	;; 5b26: 30 19       0.
	ld	a,02dh		;; 5b28: 3e 2d       >-
	push	af		;; 5b2a: f5          .
	call	L0597		;; 5b2b: cd 97 05    ...
	ld	a,(ix-125)	;; 5b2e: dd 7e 83    .~.
	ld	c,a		;; 5b31: 4f          O
	ld	b,000h		;; 5b32: 06 00       ..
	ld	hl,000feh	;; 5b34: 21 fe 00    ...
	or	a,a		;; 5b37: b7          .
	sbc	hl,bc		;; 5b38: ed 42       .B
	ld	a,l		;; 5b3a: 7d          }
	push	af		;; 5b3b: f5          .
	call	L5412		;; 5b3c: cd 12 54    ..T
	jr	L5b50		;; 5b3f: 18 0f       ..

L5b41:	ld	a,02bh		;; 5b41: 3e 2b       >+
	push	af		;; 5b43: f5          .
	call	L0597		;; 5b44: cd 97 05    ...
	ld	a,(ix-125)	;; 5b47: dd 7e 83    .~.
	add	a,002h		;; 5b4a: c6 02       ..
	push	af		;; 5b4c: f5          .
	call	L5412		;; 5b4d: cd 12 54    ..T
L5b50:	call	L0799		;; 5b50: cd 99 07    ...
L5b53:	jp	L8d56		;; 5b53: c3 56 8d    .V.

L5b56:	call	L8d27		;; 5b56: cd 27 8d    .'.
	db	0feh,0ah
	rst3			;; 5b5b: df          .
	db	84h
	ld	b,(hl)		;; 5b5d: 46          F
	inc	b		;; 5b5e: 04          .
	jr	L5b6b		;; 5b5f: 18 0a       ..

L5b61:	push	bc		;; 5b61: c5          .
	inc	hl		;; 5b62: 23          #
	push	hl		;; 5b63: e5          .
	ld	a,(hl)		;; 5b64: 7e          ~
	push	af		;; 5b65: f5          .
	call	L0414		;; 5b66: cd 14 04    ...
	pop	hl		;; 5b69: e1          .
	pop	bc		;; 5b6a: c1          .
L5b6b:	djnz	L5b61		;; 5b6b: 10 f4       ..
	jp	L8d56		;; 5b6d: c3 56 8d    .V.

L5b70:	db	0,0
L5b72:	db	0,0
L5b74:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0
L5bac:	call	L8d27		;; 5bac: cd 27 8d    .'.
	db	0ffh,0bh
	rst3			;; 5bb1: df          .
	db	83h
	ld	a,h		;; 5bb3: 7c          |
	or	a,l		;; 5bb4: b5          .
	jr	nz,L5bbd	;; 5bb5: 20 06        .
	rst3			;; 5bb7: df          .
	db	85h
	ld	(hl),000h	;; 5bb9: 36 00       6.
	jr	L5bd6		;; 5bbb: 18 19       ..

L5bbd:	rst3			;; 5bbd: df          .
	db	83h
	push	hl		;; 5bbf: e5          .
	rst3			;; 5bc0: df          .
	db	85h
	push	hl		;; 5bc2: e5          .
	rst3			;; 5bc3: df          .
	db	83h
	ld	de,00000h	;; 5bc5: 11 00 00    ...
	push	de		;; 5bc8: d5          .
	push	hl		;; 5bc9: e5          .
	call	L75f8		;; 5bca: cd f8 75    ..u
	call	L8852		;; 5bcd: cd 52 88    .R.
	ld	h,b		;; 5bd0: 60          `
	ld	l,c		;; 5bd1: 69          i
	push	hl		;; 5bd2: e5          .
	call	L72fe		;; 5bd3: cd fe 72    ..r
L5bd6:	jp	L8d56		;; 5bd6: c3 56 8d    .V.

L5bd9:	call	L8d27		;; 5bd9: cd 27 8d    .'.
	db	0feh,0ch
	rst3			;; 5bde: df          .
	db	84h
	ld	(hl),000h	;; 5be0: 36 00       6.
	inc	hl		;; 5be2: 23          #
	ld	(hl),000h	;; 5be3: 36 00       6.
	rst3			;; 5be5: df          .
	db	86h
	ld	a,(hl)		;; 5be7: 7e          ~
	or	a,a		;; 5be8: b7          .
	jr	z,L5c3a		;; 5be9: 28 4f       (O
	rst3			;; 5beb: df          .
	db	86h
	ld	a,(hl)		;; 5bed: 7e          ~
	inc	a		;; 5bee: 3c          <
	ld	(ix-125),a	;; 5bef: dd 77 83    .w.
	ld	hl,(L1a28)	;; 5bf2: 2a 28 1a    *(.
	rst4			;; 5bf5: e7          .
	db	87h
	push	hl		;; 5bf7: e5          .
	push	bc		;; 5bf8: c5          .
	ld	hl,(L1a2a)	;; 5bf9: 2a 2a 1a    **.
	rst4			;; 5bfc: e7          .
	db	87h
	call	L87f6		;; 5bfe: cd f6 87    ...
	push	hl		;; 5c01: e5          .
	push	bc		;; 5c02: c5          .
	ld	a,(ix-125)	;; 5c03: dd 7e 83    .~.
	rst4			;; 5c06: e7          .
	db	86h
	call	L8870		;; 5c08: cd 70 88    .p.
	jp	m,L5c3a		;; 5c0b: fa 3a 5c    .:\
	ld	hl,(L1a28)	;; 5c0e: 2a 28 1a    *(.
	rst4			;; 5c11: e7          .
	db	87h
	push	hl		;; 5c13: e5          .
	push	bc		;; 5c14: c5          .
	ld	a,(ix-125)	;; 5c15: dd 7e 83    .~.
	rst4			;; 5c18: e7          .
	db	86h
	call	L87f6		;; 5c1a: cd f6 87    ...
	ld	h,b		;; 5c1d: 60          `
	ld	l,c		;; 5c1e: 69          i
	ld	(L1a28),hl	;; 5c1f: 22 28 1a    "(.
	rst3			;; 5c22: df          .
	db	84h
	push	hl		;; 5c24: e5          .
	ld	hl,(L1a28)	;; 5c25: 2a 28 1a    *(.
	rst4			;; 5c28: e7          .
	db	81h
	rst3			;; 5c2a: df          .
	db	86h
	push	hl		;; 5c2c: e5          .
	ld	hl,(L1a28)	;; 5c2d: 2a 28 1a    *(.
	push	hl		;; 5c30: e5          .
	ld	l,(ix-125)	;; 5c31: dd 6e 83    .n.
	ld	h,000h		;; 5c34: 26 00       &.
	push	hl		;; 5c36: e5          .
	call	L72fe		;; 5c37: cd fe 72    ..r
L5c3a:	jp	L8d56		;; 5c3a: c3 56 8d    .V.

L5c3d:	call	L8d27		;; 5c3d: cd 27 8d    .'.
	db	0ffh,7
	ld	a,(L5b74)	;; 5c42: 3a 74 5b    :t[
	or	a,a		;; 5c45: b7          .
	jr	z,L5c81		;; 5c46: 28 39       (9
	ld	a,004h		;; 5c48: 3e 04       >.
	push	af		;; 5c4a: f5          .
	call	L0d9b		;; 5c4b: cd 9b 0d    ...
	ld	a,03bh		;; 5c4e: 3e 3b       >;
	push	af		;; 5c50: f5          .
	call	L0597		;; 5c51: cd 97 05    ...
	ld	(ix-126),001h	;; 5c54: dd 36 82 01 .6..
L5c58:	ld	a,(L5b74)	;; 5c58: 3a 74 5b    :t[
	ld	b,a		;; 5c5b: 47          G
	ld	a,(ix-126)	;; 5c5c: dd 7e 82    .~.
	push	af		;; 5c5f: f5          .
	ld	a,b		;; 5c60: 78          x
	pop	bc		;; 5c61: c1          .
	cp	a,b		;; 5c62: b8          .
	jr	c,L5c7c		;; 5c63: 38 17       8.
	ld	l,(ix-126)	;; 5c65: dd 6e 82    .n.
	ld	h,000h		;; 5c68: 26 00       &.
	ld	de,L5b74	;; 5c6a: 11 74 5b    .t[
	add	hl,de		;; 5c6d: 19          .
	ld	a,(hl)		;; 5c6e: 7e          ~
	push	af		;; 5c6f: f5          .
	call	L0597		;; 5c70: cd 97 05    ...
	ld	a,(ix-126)	;; 5c73: dd 7e 82    .~.
	inc	a		;; 5c76: 3c          <
	ld	(ix-126),a	;; 5c77: dd 77 82    .w.
	jr	L5c58		;; 5c7a: 18 dc       ..

L5c7c:	ld	hl,L5b74	;; 5c7c: 21 74 5b    .t[
	ld	(hl),000h	;; 5c7f: 36 00       6.
L5c81:	jp	L8d56		;; 5c81: c3 56 8d    .V.

L5c84:	call	L8d27		;; 5c84: cd 27 8d    .'.
	db	'n',9ah
	ld	l,(ix+20)	;; 5c89: dd 6e 14    .n.
	ld	h,(ix+21)	;; 5c8c: dd 66 15    .f.
	push	hl		;; 5c8f: e5          .
	ld	hl,0000eh	;; 5c90: 21 0e 00    ...
	rst2			;; 5c93: d7          .
	pop	de		;; 5c94: d1          .
	ex	de,hl		;; 5c95: eb          .
	ld	bc,00006h	;; 5c96: 01 06 00    ...
	ldir			;; 5c99: ed b0       ..
	ld	hl,0ffc5h	;; 5c9b: 21 c5 ff    ...
	rst2			;; 5c9e: d7          .
	push	hl		;; 5c9f: e5          .
	ld	l,(ix+17)	;; 5ca0: dd 6e 11    .n.
	ld	h,(ix+18)	;; 5ca3: dd 66 12    .f.
	push	hl		;; 5ca6: e5          .
	call	L5bac		;; 5ca7: cd ac 5b    ..[
	ld	hl,L5b74	;; 5caa: 21 74 5b    .t[
	ld	(hl),000h	;; 5cad: 36 00       6.
	ld	a,(ix+16)	;; 5caf: dd 7e 10    .~.
	ld	(ix+9),a	;; 5cb2: dd 77 09    .w.
	ld	a,(ix-59)	;; 5cb5: dd 7e c5    .~.
	or	a,a		;; 5cb8: b7          .
	jp	z,L5d50		;; 5cb9: ca 50 5d    .P]
	ld	a,(L0181)	;; 5cbc: 3a 81 01    :..
	rra			;; 5cbf: 1f          .
	jr	nc,L5cd6	;; 5cc0: 30 14       0.
	ld	a,(ix+9)	;; 5cc2: dd 7e 09    .~.
	push	af		;; 5cc5: f5          .
	call	L0597		;; 5cc6: cd 97 05    ...
	ld	l,(ix+14)	;; 5cc9: dd 6e 0e    .n.
	ld	h,(ix+15)	;; 5ccc: dd 66 0f    .f.
	push	hl		;; 5ccf: e5          .
	call	L5428		;; 5cd0: cd 28 54    .(T
	call	L0799		;; 5cd3: cd 99 07    ...
L5cd6:	ld	a,(L0180)	;; 5cd6: 3a 80 01    :..
	ld	b,a		;; 5cd9: 47          G
	ld	c,001h		;; 5cda: 0e 01       ..
	push	bc		;; 5cdc: c5          .
	ld	hl,0ffc5h	;; 5cdd: 21 c5 ff    ...
	rst2			;; 5ce0: d7          .
	call	L75ea		;; 5ce1: cd ea 75    ..u
	call	L8ad7		;; 5ce4: cd d7 8a    ...
	ld	a,c		;; 5ce7: 79          y
	ld	(ix+8),a	;; 5ce8: dd 77 08    .w.
	ld	hl,0ffc5h	;; 5ceb: 21 c5 ff    ...
	rst2			;; 5cee: d7          .
	call	L75ea		;; 5cef: cd ea 75    ..u
	ld	hl,0ff82h	;; 5cf2: 21 82 ff    ...
	rst2			;; 5cf5: d7          .
	ld	a,042h		;; 5cf6: 3e 42       >B
	call	L8b81		;; 5cf8: cd 81 8b    ...
	ld	a,(ix+8)	;; 5cfb: dd 7e 08    .~.
	or	a,a		;; 5cfe: b7          .
	jr	z,L5d3e		;; 5cff: 28 3d       (=
	ld	hl,0ff82h	;; 5d01: 21 82 ff    ...
	rst2			;; 5d04: d7          .
	push	hl		;; 5d05: e5          .
	ld	a,(ix+8)	;; 5d06: dd 7e 08    .~.
	push	af		;; 5d09: f5          .
	ld	a,(ix-126)	;; 5d0a: dd 7e 82    .~.
	push	af		;; 5d0d: f5          .
	ld	a,(ix+8)	;; 5d0e: dd 7e 08    .~.
	ld	c,a		;; 5d11: 4f          O
	ld	b,000h		;; 5d12: 06 00       ..
	pop	af		;; 5d14: f1          .
	ld	l,a		;; 5d15: 6f          o
	ld	h,000h		;; 5d16: 26 00       &.
	or	a,a		;; 5d18: b7          .
	sbc	hl,bc		;; 5d19: ed 42       .B
	inc	hl		;; 5d1b: 23          #
	ld	a,l		;; 5d1c: 7d          }
	push	af		;; 5d1d: f5          .
	call	L8a48		;; 5d1e: cd 48 8a    .H.
	ld	hl,0ffc5h	;; 5d21: 21 c5 ff    ...
	rst2			;; 5d24: d7          .
	call	L75ea		;; 5d25: cd ea 75    ..u
	ld	hl,L5b74	;; 5d28: 21 74 5b    .t[
	ld	a,037h		;; 5d2b: 3e 37       >7
	call	L8b81		;; 5d2d: cd 81 8b    ...
	ld	hl,L5b74	;; 5d30: 21 74 5b    .t[
	push	hl		;; 5d33: e5          .
	ld	a,001h		;; 5d34: 3e 01       >.
	push	af		;; 5d36: f5          .
	ld	a,(ix+8)	;; 5d37: dd 7e 08    .~.
	push	af		;; 5d3a: f5          .
	call	L8a48		;; 5d3b: cd 48 8a    .H.
L5d3e:	ld	hl,0ff82h	;; 5d3e: 21 82 ff    ...
	rst2			;; 5d41: d7          .
	call	L75ea		;; 5d42: cd ea 75    ..u
	ld	a,037h		;; 5d45: 3e 37       >7
	call	L8bb0		;; 5d47: cd b0 8b    ...
	call	L0803		;; 5d4a: cd 03 08    ...
	jp	L5e1b		;; 5d4d: c3 1b 5e    ..^

L5d50:	ld	a,(ix+9)	;; 5d50: dd 7e 09    .~.
	cp	a,03bh		;; 5d53: fe 3b       .;
	jp	z,L5e1b		;; 5d55: ca 1b 5e    ..^
	ld	a,(ix+9)	;; 5d58: dd 7e 09    .~.
	push	af		;; 5d5b: f5          .
	call	L0597		;; 5d5c: cd 97 05    ...
	ld	l,(ix+14)	;; 5d5f: dd 6e 0e    .n.
	ld	h,(ix+15)	;; 5d62: dd 66 0f    .f.
	ld	(ix+10),l	;; 5d65: dd 75 0a    .u.
	ld	(ix+11),h	;; 5d68: dd 74 0b    .t.
	ld	a,(ix+9)	;; 5d6b: dd 7e 09    .~.
	push	af		;; 5d6e: f5          .
	call	L75c9		;; 5d6f: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,10h,'@',1
	call	L7450		;; 5d7e: cd 50 74    .Pt
	call	L8c0e		;; 5d81: cd 0e 8c    ...
	push	af		;; 5d84: f5          .
	ld	bc,00100h	;; 5d85: 01 00 01    ...
	ld	l,(ix+10)	;; 5d88: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 5d8b: dd 66 0b    .f.
	or	a,a		;; 5d8e: b7          .
	sbc	hl,bc		;; 5d8f: ed 42       .B
	ld	a,000h		;; 5d91: 3e 00       >.
	rla			;; 5d93: 17          .
	ld	b,a		;; 5d94: 47          G
	pop	af		;; 5d95: f1          .
	and	a,b		;; 5d96: a0          .
	push	af		;; 5d97: f5          .
	ld	a,(ix+9)	;; 5d98: dd 7e 09    .~.
	push	af		;; 5d9b: f5          .
	call	L75c9		;; 5d9c: cd c9 75    ..u
	db	0ch,0,0,0,0,0,0,0,0,0,0,0,3
	call	L7450		;; 5dac: cd 50 74    .Pt
	call	L8c0e		;; 5daf: cd 0e 8c    ...
	push	af		;; 5db2: f5          .
	ld	bc,0ff80h	;; 5db3: 01 80 ff    ...
	ld	l,(ix+10)	;; 5db6: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 5db9: dd 66 0b    .f.
	or	a,a		;; 5dbc: b7          .
	sbc	hl,bc		;; 5dbd: ed 42       .B
	ld	a,000h		;; 5dbf: 3e 00       >.
	ccf			;; 5dc1: 3f          ?
	rla			;; 5dc2: 17          .
	push	af		;; 5dc3: f5          .
	ld	bc,00080h	;; 5dc4: 01 80 00    ...
	ld	l,(ix+10)	;; 5dc7: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 5dca: dd 66 0b    .f.
	or	a,a		;; 5dcd: b7          .
	sbc	hl,bc		;; 5dce: ed 42       .B
	ld	a,000h		;; 5dd0: 3e 00       >.
	rla			;; 5dd2: 17          .
	ld	b,a		;; 5dd3: 47          G
	pop	af		;; 5dd4: f1          .
	or	a,b		;; 5dd5: b0          .
	ld	b,a		;; 5dd6: 47          G
	pop	af		;; 5dd7: f1          .
	and	a,b		;; 5dd8: a0          .
	ld	b,a		;; 5dd9: 47          G
	pop	af		;; 5dda: f1          .
	or	a,b		;; 5ddb: b0          .
	rra			;; 5ddc: 1f          .
	jr	nc,L5e11	;; 5ddd: 30 32       02
	ld	bc,0ff80h	;; 5ddf: 01 80 ff    ...
	ld	l,(ix+10)	;; 5de2: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 5de5: dd 66 0b    .f.
	or	a,a		;; 5de8: b7          .
	sbc	hl,bc		;; 5de9: ed 42       .B
	jr	c,L5e08		;; 5deb: 38 1b       8.
	ld	l,(ix+10)	;; 5ded: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 5df0: dd 66 0b    .f.
	rst4			;; 5df3: e7          .
	db	87h
	push	hl		;; 5df5: e5          .
	push	bc		;; 5df6: c5          .
	ld	bc,0ff00h	;; 5df7: 01 00 ff    ...
	ld	hl,00000h	;; 5dfa: 21 00 00    ...
	call	L87f6		;; 5dfd: cd f6 87    ...
	ld	h,b		;; 5e00: 60          `
	ld	l,c		;; 5e01: 69          i
	ld	(ix+10),l	;; 5e02: dd 75 0a    .u.
	ld	(ix+11),h	;; 5e05: dd 74 0b    .t.
L5e08:	ld	a,(ix+10)	;; 5e08: dd 7e 0a    .~.
	push	af		;; 5e0b: f5          .
	call	L5412		;; 5e0c: cd 12 54    ..T
	jr	L5e1b		;; 5e0f: 18 0a       ..

L5e11:	ld	l,(ix+10)	;; 5e11: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 5e14: dd 66 0b    .f.
	push	hl		;; 5e17: e5          .
	call	L5428		;; 5e18: cd 28 54    .(T
L5e1b:	jp	L8d56		;; 5e1b: c3 56 8d    .V.

L5e1e:	call	L8d27		;; 5e1e: cd 27 8d    .'.
	db	0,0ah
	rst3			;; 5e23: df          .
	db	84h
	push	hl		;; 5e25: e5          .
	rst3			;; 5e26: df          .
	db	82h
	push	hl		;; 5e28: e5          .
	ld	hl,00006h	;; 5e29: 21 06 00    ...
	push	hl		;; 5e2c: e5          .
	call	L72fe		;; 5e2d: cd fe 72    ..r
	jp	L8d56		;; 5e30: c3 56 8d    .V.

L5e33:	call	L8d27		;; 5e33: cd 27 8d    .'.
	db	0fah,10h
	rst3			;; 5e38: df          .
	db	88h
	push	hl		;; 5e3a: e5          .
	ld	hl,0ff82h	;; 5e3b: 21 82 ff    ...
	rst2			;; 5e3e: d7          .
	pop	de		;; 5e3f: d1          .
	ex	de,hl		;; 5e40: eb          .
	ld	bc,00006h	;; 5e41: 01 06 00    ...
	ldir			;; 5e44: ed b0       ..
	ld	bc,(L5b72)	;; 5e46: ed 4b 72 5b .Kr[
	rst3			;; 5e4a: df          .
	db	8ah
	or	a,a		;; 5e4c: b7          .
	sbc	hl,bc		;; 5e4d: ed 42       .B
	ld	a,000h		;; 5e4f: 3e 00       >.
	ccf			;; 5e51: 3f          ?
	rla			;; 5e52: 17          .
	push	af		;; 5e53: f5          .
	ld	bc,(L1a2a)	;; 5e54: ed 4b 2a 1a .K*.
	rst3			;; 5e58: df          .
	db	8ah
	or	a,a		;; 5e5a: b7          .
	sbc	hl,bc		;; 5e5b: ed 42       .B
	ld	a,000h		;; 5e5d: 3e 00       >.
	rla			;; 5e5f: 17          .
	ld	b,a		;; 5e60: 47          G
	pop	af		;; 5e61: f1          .
	and	a,b		;; 5e62: a0          .
	rra			;; 5e63: 1f          .
	jr	nc,L5e75	;; 5e64: 30 0f       0.
	ld	hl,0ff82h	;; 5e66: 21 82 ff    ...
	rst2			;; 5e69: d7          .
	push	hl		;; 5e6a: e5          .
	rst3			;; 5e6b: df          .
	db	8ah
	push	hl		;; 5e6d: e5          .
	ld	hl,00006h	;; 5e6e: 21 06 00    ...
	push	hl		;; 5e71: e5          .
	call	L72fe		;; 5e72: cd fe 72    ..r
L5e75:	jp	L8d56		;; 5e75: c3 56 8d    .V.

L5e78:	call	L8d27		;; 5e78: cd 27 8d    .'.
	db	0f6h,12h
	ld	hl,(L5b72)	;; 5e7d: 2a 72 5b    *r[
	rst3			;; 5e80: df          .
	db	8
L5e82:	ld	bc,(L1a2a)	;; 5e82: ed 4b 2a 1a .K*.
	rst3			;; 5e86: df          .
	db	88h
	or	a,a		;; 5e88: b7          .
	sbc	hl,bc		;; 5e89: ed 42       .B
	jr	z,L5eb1		;; 5e8b: 28 24       ($
	rst3			;; 5e8d: df          .
	db	88h
	push	hl		;; 5e8f: e5          .
	ld	hl,0ff82h	;; 5e90: 21 82 ff    ...
	rst2			;; 5e93: d7          .
	push	hl		;; 5e94: e5          .
	call	L5e1e		;; 5e95: cd 1e 5e    ..^
	ld	c,(ix-116)	;; 5e98: dd 4e 8c    .N.
	ld	b,(ix-115)	;; 5e9b: dd 46 8d    .F.
	rst3			;; 5e9e: df          .
	db	82h
	or	a,a		;; 5ea0: b7          .
	sbc	hl,bc		;; 5ea1: ed 42       .B
	jr	c,L5ea7		;; 5ea3: 38 02       8.
	jr	L5eb6		;; 5ea5: 18 0f       ..

L5ea7:	ld	bc,00006h	;; 5ea7: 01 06 00    ...
	rst3			;; 5eaa: df          .
	db	88h
	add	hl,bc		;; 5eac: 09          .
	rst3			;; 5ead: df          .
	db	8
	jr	L5e82		;; 5eaf: 18 d1       ..

L5eb1:	ld	hl,00000h	;; 5eb1: 21 00 00    ...
	rst3			;; 5eb4: df          .
	db	8
L5eb6:	rst3			;; 5eb6: df          .
	db	88h
	rst3			;; 5eb8: df          .
	db	0ah
	jp	L8d56		;; 5eba: c3 56 8d    .V.

L5ebd:	call	L8d27		;; 5ebd: cd 27 8d    .'.
	db	0f6h,12h
	rst3			;; 5ec2: df          .
	db	8ch
	push	hl		;; 5ec4: e5          .
	call	L5e78		;; 5ec5: cd 78 5e    .x^
	rst3			;; 5ec8: df          .
	db	8
	ld	a,h		;; 5eca: 7c          |
	or	a,l		;; 5ecb: b5          .
	jr	z,L5efe		;; 5ecc: 28 30       (0
L5ece:	rst3			;; 5ece: df          .
	db	88h
	push	hl		;; 5ed0: e5          .
	ld	hl,0ff82h	;; 5ed1: 21 82 ff    ...
	rst2			;; 5ed4: d7          .
	push	hl		;; 5ed5: e5          .
	call	L5e1e		;; 5ed6: cd 1e 5e    ..^
	ld	c,(ix-116)	;; 5ed9: dd 4e 8c    .N.
	ld	b,(ix-115)	;; 5edc: dd 46 8d    .F.
	rst3			;; 5edf: df          .
	db	82h
	or	a,a		;; 5ee1: b7          .
	sbc	hl,bc		;; 5ee2: ed 42       .B
	jr	z,L5ee8		;; 5ee4: 28 02       (.
	jr	L5efe		;; 5ee6: 18 16       ..

L5ee8:	ld	bc,00006h	;; 5ee8: 01 06 00    ...
	rst3			;; 5eeb: df          .
	db	88h
	add	hl,bc		;; 5eed: 09          .
	rst3			;; 5eee: df          .
	db	8
	ld	bc,(L1a2a)	;; 5ef0: ed 4b 2a 1a .K*.
	or	a,a		;; 5ef4: b7          .
	sbc	hl,bc		;; 5ef5: ed 42       .B
	jr	nz,L5ece	;; 5ef7: 20 d5        .
	ld	hl,00000h	;; 5ef9: 21 00 00    ...
	rst3			;; 5efc: df          .
	db	8
L5efe:	rst3			;; 5efe: df          .
	db	88h
	rst3			;; 5f00: df          .
	db	0ah
	jp	L8d56		;; 5f02: c3 56 8d    .V.

L5f05:	call	L8d27		;; 5f05: cd 27 8d    .'.
	db	0e6h,'"'
	ld	hl,(L5b72)	;; 5f0a: 2a 72 5b    *r[
	rst3			;; 5f0d: df          .
	db	18h
	ld	bc,(L1a2a)	;; 5f0f: ed 4b 2a 1a .K*.
	or	a,a		;; 5f13: b7          .
	sbc	hl,bc		;; 5f14: ed 42       .B
	jr	nz,L5f1f	;; 5f16: 20 07        .
	ld	hl,00000h	;; 5f18: 21 00 00    ...
	rst3			;; 5f1b: df          .
	db	18h
	jr	L5f3c		;; 5f1d: 18 1d       ..

L5f1f:	rst3			;; 5f1f: df          .
	db	98h
	push	hl		;; 5f21: e5          .
	ld	hl,0ff90h	;; 5f22: 21 90 ff    ...
	rst2			;; 5f25: d7          .
	push	hl		;; 5f26: e5          .
	call	L5e1e		;; 5f27: cd 1e 5e    ..^
	ld	c,(ix-100)	;; 5f2a: dd 4e 9c    .N.
	ld	b,(ix-99)	;; 5f2d: dd 46 9d    .F.
	rst3			;; 5f30: df          .
	db	90h
	or	a,a		;; 5f32: b7          .
	sbc	hl,bc		;; 5f33: ed 42       .B
	jr	c,L5f3c		;; 5f35: 38 05       8.
	ld	hl,00000h	;; 5f37: 21 00 00    ...
	rst3			;; 5f3a: df          .
	db	18h
L5f3c:	rst3			;; 5f3c: df          .
	db	98h
	ld	a,h		;; 5f3e: 7c          |
	or	a,l		;; 5f3f: b5          .
	jp	z,L6023		;; 5f40: ca 23 60    .#`
	ld	hl,00000h	;; 5f43: 21 00 00    ...
	rst3			;; 5f46: df          .
	db	0ch
	ld	hl,(L1a2a)	;; 5f48: 2a 2a 1a    **.
	rst4			;; 5f4b: e7          .
	db	87h
	push	hl		;; 5f4d: e5          .
	push	bc		;; 5f4e: c5          .
	ld	hl,(L5b72)	;; 5f4f: 2a 72 5b    *r[
	rst4			;; 5f52: e7          .
	db	87h
	call	L87f6		;; 5f54: cd f6 87    ...
	push	hl		;; 5f57: e5          .
	push	bc		;; 5f58: c5          .
	ld	bc,00006h	;; 5f59: 01 06 00    ...
	ld	hl,00000h	;; 5f5c: 21 00 00    ...
	call	L85d6		;; 5f5f: cd d6 85    ...
	ld	h,b		;; 5f62: 60          `
	ld	l,c		;; 5f63: 69          i
	rst3			;; 5f64: df          .
	db	8
L5f66:	rst3			;; 5f66: df          .
	db	88h
	rst4			;; 5f68: e7          .
	db	87h
	push	hl		;; 5f6a: e5          .
	push	bc		;; 5f6b: c5          .
	rst3			;; 5f6c: df          .
	db	8ch
	rst4			;; 5f6e: e7          .
	db	87h
	call	L87f6		;; 5f70: cd f6 87    ...
	push	hl		;; 5f73: e5          .
	push	bc		;; 5f74: c5          .
	ld	bc,00002h	;; 5f75: 01 02 00    ...
	ld	hl,00000h	;; 5f78: 21 00 00    ...
	call	L8870		;; 5f7b: cd 70 88    .p.
	jp	m,L5fd6		;; 5f7e: fa d6 5f    .._
	rst3			;; 5f81: df          .
	db	88h
	rst4			;; 5f83: e7          .
	db	87h
	push	hl		;; 5f85: e5          .
	push	bc		;; 5f86: c5          .
	rst3			;; 5f87: df          .
	db	8ch
	rst4			;; 5f89: e7          .
	db	87h
	call	L87f6		;; 5f8b: cd f6 87    ...
	ld	h,b		;; 5f8e: 60          `
	ld	l,c		;; 5f8f: 69          i
	rst3			;; 5f90: df          .
	db	0eh
	rst3			;; 5f92: df          .
	db	8eh
	srl	h		;; 5f94: cb 3c       .<
	rr	l		;; 5f96: cb 1d       ..
	ld	b,h		;; 5f98: 44          D
	ld	c,l		;; 5f99: 4d          M
	rst3			;; 5f9a: df          .
	db	8ch
	add	hl,bc		;; 5f9c: 09          .
	rst3			;; 5f9d: df          .
	db	0ah
	rst3			;; 5f9f: df          .
	db	8ah
	push	hl		;; 5fa1: e5          .
	ld	hl,00006h	;; 5fa2: 21 06 00    ...
	call	L87b7		;; 5fa5: cd b7 87    ...
	push	hl		;; 5fa8: e5          .
	push	bc		;; 5fa9: c5          .
	ld	hl,(L5b72)	;; 5faa: 2a 72 5b    *r[
	rst4			;; 5fad: e7          .
	db	87h
	call	L87e7		;; 5faf: cd e7 87    ...
	ld	h,b		;; 5fb2: 60          `
	ld	l,c		;; 5fb3: 69          i
	push	hl		;; 5fb4: e5          .
	ld	hl,0ff82h	;; 5fb5: 21 82 ff    ...
	rst2			;; 5fb8: d7          .
	push	hl		;; 5fb9: e5          .
	call	L5e1e		;; 5fba: cd 1e 5e    ..^
	ld	c,(ix-100)	;; 5fbd: dd 4e 9c    .N.
	ld	b,(ix-99)	;; 5fc0: dd 46 9d    .F.
	rst3			;; 5fc3: df          .
	db	82h
	or	a,a		;; 5fc5: b7          .
	sbc	hl,bc		;; 5fc6: ed 42       .B
	jr	nc,L5fd0	;; 5fc8: 30 06       0.
	rst3			;; 5fca: df          .
	db	8ah
	rst3			;; 5fcc: df          .
	db	0ch
	jr	L5fd4		;; 5fce: 18 04       ..

L5fd0:	rst3			;; 5fd0: df          .
	db	8ah
	rst3			;; 5fd2: df          .
	db	8
L5fd4:	jp	L5f66		;; 5fd4: 18 90       ..

L5fd6:	rst3			;; 5fd6: df          .
	db	8ch
	push	hl		;; 5fd8: e5          .
	ld	hl,00006h	;; 5fd9: 21 06 00    ...
	call	L87b7		;; 5fdc: cd b7 87    ...
	push	hl		;; 5fdf: e5          .
	push	bc		;; 5fe0: c5          .
	ld	hl,(L5b72)	;; 5fe1: 2a 72 5b    *r[
	rst4			;; 5fe4: e7          .
	db	87h
	call	L87e7		;; 5fe6: cd e7 87    ...
	ld	h,b		;; 5fe9: 60          `
	ld	l,c		;; 5fea: 69          i
	rst3			;; 5feb: df          .
	db	18h
L5fed:	ld	bc,00006h	;; 5fed: 01 06 00    ...
	rst3			;; 5ff0: df          .
	db	98h
	add	hl,bc		;; 5ff2: 09          .
	rst3			;; 5ff3: df          .
	db	16h
	ld	bc,(L1a2a)	;; 5ff5: ed 4b 2a 1a .K*.
	or	a,a		;; 5ff9: b7          .
	sbc	hl,bc		;; 5ffa: ed 42       .B
	jr	nz,L6000	;; 5ffc: 20 02        .
	jr	L6023		;; 5ffe: 18 23       .#

L6000:	rst3			;; 6000: df          .
	db	96h
	push	hl		;; 6002: e5          .
	ld	hl,0ff90h	;; 6003: 21 90 ff    ...
	rst2			;; 6006: d7          .
	push	hl		;; 6007: e5          .
	call	L5e1e		;; 6008: cd 1e 5e    ..^
	ld	c,(ix-100)	;; 600b: dd 4e 9c    .N.
	ld	b,(ix-99)	;; 600e: dd 46 9d    .F.
	rst3			;; 6011: df          .
	db	90h
	or	a,a		;; 6013: b7          .
	sbc	hl,bc		;; 6014: ed 42       .B
	jr	c,L601a		;; 6016: 38 02       8.
	jr	L6023		;; 6018: 18 09       ..

L601a:	rst3			;; 601a: df          .
	db	96h
	rst3			;; 601c: df          .
	db	18h
	ld	a,000h		;; 601e: 3e 00       >.
	rra			;; 6020: 1f          .
	jr	nc,L5fed	;; 6021: 30 ca       0.
L6023:	rst3			;; 6023: df          .
	db	98h
	rst3			;; 6025: df          .
	db	1ah
	jp	L8d56		;; 6027: c3 56 8d    .V.

L602a:	call	L8d27		;; 602a: cd 27 8d    .'.
	db	0f4h,14h
	ld	bc,(L1a2a)	;; 602f: ed 4b 2a 1a .K*.
	ld	hl,(L5b72)	;; 6033: 2a 72 5b    *r[
	or	a,a		;; 6036: b7          .
	sbc	hl,bc		;; 6037: ed 42       .B
	jr	nz,L6042	;; 6039: 20 07        .
	ld	hl,00000h	;; 603b: 21 00 00    ...
	rst3			;; 603e: df          .
	db	0ch
	jr	L609f		;; 6040: 18 5d       .]

L6042:	ld	hl,(L5b72)	;; 6042: 2a 72 5b    *r[
	push	hl		;; 6045: e5          .
	ld	hl,0ff82h	;; 6046: 21 82 ff    ...
	rst2			;; 6049: d7          .
	push	hl		;; 604a: e5          .
	call	L5e1e		;; 604b: cd 1e 5e    ..^
	ld	c,(ix-114)	;; 604e: dd 4e 8e    .N.
	ld	b,(ix-113)	;; 6051: dd 46 8f    .F.
	rst3			;; 6054: df          .
	db	82h
	or	a,a		;; 6056: b7          .
	sbc	hl,bc		;; 6057: ed 42       .B
	jr	nz,L6062	;; 6059: 20 07        .
	ld	hl,(L5b72)	;; 605b: 2a 72 5b    *r[
	rst3			;; 605e: df          .
	db	0ch
	jr	L609f		;; 6060: 18 3d       .=

L6062:	rst3			;; 6062: df          .
	db	8eh
	push	hl		;; 6064: e5          .
	call	L5f05		;; 6065: cd 05 5f    .._
	rst3			;; 6068: df          .
	db	0ah
	ld	a,h		;; 606a: 7c          |
	or	a,l		;; 606b: b5          .
	jr	z,L609b		;; 606c: 28 2d       (-
	ld	bc,00006h	;; 606e: 01 06 00    ...
	rst3			;; 6071: df          .
	db	8ah
	add	hl,bc		;; 6073: 09          .
	rst3			;; 6074: df          .
	db	8
	ld	bc,(L1a2a)	;; 6076: ed 4b 2a 1a .K*.
	or	a,a		;; 607a: b7          .
	sbc	hl,bc		;; 607b: ed 42       .B
	jr	z,L609b		;; 607d: 28 1c       (.
	rst3			;; 607f: df          .
	db	88h
	push	hl		;; 6081: e5          .
	ld	hl,0ff82h	;; 6082: 21 82 ff    ...
	rst2			;; 6085: d7          .
	push	hl		;; 6086: e5          .
	call	L5e1e		;; 6087: cd 1e 5e    ..^
	ld	c,(ix-114)	;; 608a: dd 4e 8e    .N.
	ld	b,(ix-113)	;; 608d: dd 46 8f    .F.
	rst3			;; 6090: df          .
	db	82h
	or	a,a		;; 6092: b7          .
	sbc	hl,bc		;; 6093: ed 42       .B
	jr	nz,L609b	;; 6095: 20 04        .
	rst3			;; 6097: df          .
	db	88h
	rst3			;; 6099: df          .
	db	0ah
L609b:	rst3			;; 609b: df          .
	db	8ah
	rst3			;; 609d: df          .
	db	0ch
L609f:	rst3			;; 609f: df          .
	db	8ch
	jp	L8d56		;; 60a1: c3 56 8d    .V.

L60a4:	call	L8d27		;; 60a4: cd 27 8d    .'.
	db	0f4h,14h
	rst3			;; 60a9: df          .
	db	8eh
	push	hl		;; 60ab: e5          .
	call	L602a		;; 60ac: cd 2a 60    .*`
	rst3			;; 60af: df          .
	db	0ah
	ld	a,h		;; 60b1: 7c          |
	or	a,l		;; 60b2: b5          .
	jr	z,L60eb		;; 60b3: 28 36       (6
L60b5:	ld	bc,00006h	;; 60b5: 01 06 00    ...
	rst3			;; 60b8: df          .
	db	8ah
	add	hl,bc		;; 60ba: 09          .
	rst3			;; 60bb: df          .
	db	8
	ld	bc,(L1a2a)	;; 60bd: ed 4b 2a 1a .K*.
	or	a,a		;; 60c1: b7          .
	sbc	hl,bc		;; 60c2: ed 42       .B
	jr	nz,L60c8	;; 60c4: 20 02        .
	jr	L60eb		;; 60c6: 18 23       .#

L60c8:	rst3			;; 60c8: df          .
	db	88h
	push	hl		;; 60ca: e5          .
	ld	hl,0ff82h	;; 60cb: 21 82 ff    ...
	rst2			;; 60ce: d7          .
	push	hl		;; 60cf: e5          .
	call	L5e1e		;; 60d0: cd 1e 5e    ..^
	ld	c,(ix-126)	;; 60d3: dd 4e 82    .N.
	ld	b,(ix-125)	;; 60d6: dd 46 83    .F.
	rst3			;; 60d9: df          .
	db	8eh
	or	a,a		;; 60db: b7          .
	sbc	hl,bc		;; 60dc: ed 42       .B
	jr	nc,L60e2	;; 60de: 30 02       0.
	jr	L60eb		;; 60e0: 18 09       ..

L60e2:	rst3			;; 60e2: df          .
	db	88h
	rst3			;; 60e4: df          .
	db	0ah
	ld	a,000h		;; 60e6: 3e 00       >.
	rra			;; 60e8: 1f          .
	jr	nc,L60b5	;; 60e9: 30 ca       0.
L60eb:	rst3			;; 60eb: df          .
	db	8ah
	rst3			;; 60ed: df          .
	db	0ch
	jp	L8d56		;; 60ef: c3 56 8d    .V.

L60f2:	call	L8d27		;; 60f2: cd 27 8d    .'.
	db	0f7h,'#'
	call	L60fc		;; 60f7: cd fc 60    ..`
	db	'??'
L60fc:	call	L75e5		;; 60fc: cd e5 75    ..u
	db	2
	ld	hl,L1c10	;; 6100: 21 10 1c    ...
	ld	a,042h		;; 6103: 3e 42       >B
	call	L8b81		;; 6105: cd 81 8b    ...
	rst3			;; 6108: df          .
	db	9dh
	push	hl		;; 610a: e5          .
	call	L602a		;; 610b: cd 2a 60    .*`
	rst3			;; 610e: df          .
	db	8
	ld	hl,L1c53	;; 6110: 21 53 1c    .S.
	ld	(hl),000h	;; 6113: 36 00       6.
	rst3			;; 6115: df          .
	db	88h
	ld	a,h		;; 6117: 7c          |
	or	a,l		;; 6118: b5          .
	call	L8c0e		;; 6119: cd 0e 8c    ...
	ld	(ix-118),a	;; 611c: dd 77 8a    .w.
L611f:	ld	a,(ix-118)	;; 611f: dd 7e 8a    .~.
	rra			;; 6122: 1f          .
	jp	nc,L61a1	;; 6123: d2 a1 61    ..a
	rst3			;; 6126: df          .
	db	88h
	push	hl		;; 6128: e5          .
	ld	hl,0ff82h	;; 6129: 21 82 ff    ...
	rst2			;; 612c: d7          .
	push	hl		;; 612d: e5          .
	call	L5e1e		;; 612e: cd 1e 5e    ..^
	ld	c,(ix-99)	;; 6131: dd 4e 9d    .N.
	ld	b,(ix-98)	;; 6134: dd 46 9e    .F.
	rst3			;; 6137: df          .
	db	82h
	or	a,a		;; 6139: b7          .
	sbc	hl,bc		;; 613a: ed 42       .B
	call	L8c09		;; 613c: cd 09 8c    ...
	push	af		;; 613f: f5          .
	ld	a,(ix-124)	;; 6140: dd 7e 84    .~.
	or	a,a		;; 6143: b7          .
	call	L8c0e		;; 6144: cd 0e 8c    ...
	ld	b,a		;; 6147: 47          G
	pop	af		;; 6148: f1          .
	and	a,b		;; 6149: a0          .
	rra			;; 614a: 1f          .
	jr	nc,L6178	;; 614b: 30 2b       0+
	ld	a,(ix-124)	;; 614d: dd 7e 84    .~.
	push	af		;; 6150: f5          .
	ld	hl,0ff8dh	;; 6151: 21 8d ff    ...
	rst2			;; 6154: d7          .
	call	L75be		;; 6155: cd be 75    ..u
	db	10h
	call	L7450		;; 6159: cd 50 74    .Pt
	jr	z,L6178		;; 615c: 28 1a       (.
	ld	hl,L1c53	;; 615e: 21 53 1c    .S.
	ld	(hl),001h	;; 6161: 36 01       6.
	rst3			;; 6163: df          .
	db	8bh
	push	hl		;; 6165: e5          .
	rst3			;; 6166: df          .
	db	88h
	rst4			;; 6168: e7          .
	db	81h
	ld	hl,L1c10	;; 616a: 21 10 1c    ...
	push	hl		;; 616d: e5          .
	rst3			;; 616e: df          .
	db	85h
	push	hl		;; 6170: e5          .
	call	L5bac		;; 6171: cd ac 5b    ..[
	ld	(ix-118),000h	;; 6174: dd 36 8a 00 .6..
L6178:	ld	c,(ix-126)	;; 6178: dd 4e 82    .N.
	ld	b,(ix-125)	;; 617b: dd 46 83    .F.
	rst3			;; 617e: df          .
	db	9dh
	or	a,a		;; 6180: b7          .
	sbc	hl,bc		;; 6181: ed 42       .B
	jr	nc,L6189	;; 6183: 30 04       0.
	ld	(ix-118),000h	;; 6185: dd 36 8a 00 .6..
L6189:	ld	bc,00006h	;; 6189: 01 06 00    ...
	rst3			;; 618c: df          .
	db	88h
	add	hl,bc		;; 618e: 09          .
	rst3			;; 618f: df          .
	db	8
	ld	bc,(L1a2a)	;; 6191: ed 4b 2a 1a .K*.
	or	a,a		;; 6195: b7          .
	sbc	hl,bc		;; 6196: ed 42       .B
	jr	nz,L619e	;; 6198: 20 04        .
	ld	(ix-118),000h	;; 619a: dd 36 8a 00 .6..
L619e:	jp	L611f		;; 619e: c3 1f 61    ..a

L61a1:	jp	L8d56		;; 61a1: c3 56 8d    .V.

L61a4:	call	L8d27		;; 61a4: cd 27 8d    .'.
	db	0fah,0eh
	ld	bc,00006h	;; 61a9: 01 06 00    ...
	ld	hl,(L1a2a)	;; 61ac: 2a 2a 1a    **.
	add	hl,bc		;; 61af: 09          .
	rst3			;; 61b0: df          .
	db	4
	ld	hl,00000h	;; 61b2: 21 00 00    ...
	rst3			;; 61b5: df          .
	db	6
	ld	c,(ix-124)	;; 61b7: dd 4e 84    .N.
	ld	b,(ix-123)	;; 61ba: dd 46 85    .F.
	ld	hl,(L1a28)	;; 61bd: 2a 28 1a    *(.
	or	a,a		;; 61c0: b7          .
	sbc	hl,bc		;; 61c1: ed 42       .B
	jp	c,L623c		;; 61c3: 38 77       8w
	ld	hl,(L1a2a)	;; 61c5: 2a 2a 1a    **.
	rst4			;; 61c8: e7          .
	db	87h
	push	hl		;; 61ca: e5          .
	push	bc		;; 61cb: c5          .
	ld	bc,00006h	;; 61cc: 01 06 00    ...
	ld	hl,00000h	;; 61cf: 21 00 00    ...
	call	L87f6		;; 61d2: cd f6 87    ...
	push	hl		;; 61d5: e5          .
	push	bc		;; 61d6: c5          .
	rst3			;; 61d7: df          .
	db	88h
	rst4			;; 61d9: e7          .
	db	87h
	call	L8890		;; 61db: cd 90 88    ...
	jr	z,L622a		;; 61de: 28 4a       (J
	rst3			;; 61e0: df          .
	db	88h
	ld	a,h		;; 61e2: 7c          |
	or	a,l		;; 61e3: b5          .
	jr	nz,L61fa	;; 61e4: 20 14        .
	ld	hl,(L5b72)	;; 61e6: 2a 72 5b    *r[
	rst4			;; 61e9: e7          .
	db	87h
	push	hl		;; 61eb: e5          .
	push	bc		;; 61ec: c5          .
	ld	bc,00006h	;; 61ed: 01 06 00    ...
	ld	hl,00000h	;; 61f0: 21 00 00    ...
	call	L87f6		;; 61f3: cd f6 87    ...
	ld	h,b		;; 61f6: 60          `
	ld	l,c		;; 61f7: 69          i
	rst3			;; 61f8: df          .
	db	8
L61fa:	ld	hl,(L1a2a)	;; 61fa: 2a 2a 1a    **.
	rst4			;; 61fd: e7          .
	db	87h
	push	hl		;; 61ff: e5          .
	push	bc		;; 6200: c5          .
	rst3			;; 6201: df          .
	db	88h
	rst4			;; 6203: e7          .
	db	87h
	call	L87f6		;; 6205: cd f6 87    ...
	push	hl		;; 6208: e5          .
	push	bc		;; 6209: c5          .
	ld	bc,00006h	;; 620a: 01 06 00    ...
	ld	hl,00000h	;; 620d: 21 00 00    ...
	call	L87f6		;; 6210: cd f6 87    ...
	ld	h,b		;; 6213: 60          `
	ld	l,c		;; 6214: 69          i
	rst3			;; 6215: df          .
	db	2
	ld	a,h		;; 6217: 7c          |
	or	a,l		;; 6218: b5          .
	jr	z,L622a		;; 6219: 28 0f       (.
	ld	hl,(L1a2a)	;; 621b: 2a 2a 1a    **.
	dec	hl		;; 621e: 2b          +
	push	hl		;; 621f: e5          .
	rst3			;; 6220: df          .
	db	84h
	dec	hl		;; 6222: 2b          +
	push	hl		;; 6223: e5          .
	rst3			;; 6224: df          .
	db	82h
	push	hl		;; 6226: e5          .
	call	L7305		;; 6227: cd 05 73    ..s
L622a:	ld	bc,00006h	;; 622a: 01 06 00    ...
	rst3			;; 622d: df          .
	db	88h
	add	hl,bc		;; 622f: 09          .
	rst3			;; 6230: df          .
	db	6
	rst3			;; 6232: df          .
	db	84h
	ld	(L1a2a),hl	;; 6234: 22 2a 1a    "*.
	ld	hl,L1c54	;; 6237: 21 54 1c    .T.
	ld	(hl),000h	;; 623a: 36 00       6.
L623c:	rst3			;; 623c: df          .
	db	86h
	jp	L8d56		;; 623e: c3 56 8d    .V.

L6241:	call	L8d27		;; 6241: cd 27 8d    .'.
	db	0fah,'S'
	rst3			;; 6246: df          .
	db	0cdh
	push	hl		;; 6248: e5          .
	ld	hl,0ff82h	;; 6249: 21 82 ff    ...
	rst2			;; 624c: d7          .
	pop	de		;; 624d: d1          .
	ex	de,hl		;; 624e: eb          .
	ld	bc,00006h	;; 624f: 01 06 00    ...
	ldir			;; 6252: ed b0       ..
	ld	hl,0ff8ah	;; 6254: 21 8a ff    ...
	rst2			;; 6257: d7          .
	push	hl		;; 6258: e5          .
	ld	hl,0ff85h	;; 6259: 21 85 ff    ...
	rst2			;; 625c: d7          .
	push	hl		;; 625d: e5          .
	call	L5bd9		;; 625e: cd d9 5b    ..[
	rst3			;; 6261: df          .
	db	88h
	push	hl		;; 6263: e5          .
	call	L61a4		;; 6264: cd a4 61    ..a
	push	hl		;; 6267: e5          .
	ld	hl,0ff82h	;; 6268: 21 82 ff    ...
	rst2			;; 626b: d7          .
	push	hl		;; 626c: e5          .
	call	L5e33		;; 626d: cd 33 5e    .3^
	jp	L8d56		;; 6270: c3 56 8d    .V.

L6273:	call	L8d27		;; 6273: cd 27 8d    .'.
	db	0f9h,0fh
	rst3			;; 6278: df          .
	db	89h
	push	hl		;; 627a: e5          .
	ld	hl,0ff83h	;; 627b: 21 83 ff    ...
	rst2			;; 627e: d7          .
	pop	de		;; 627f: d1          .
	ex	de,hl		;; 6280: eb          .
	ld	bc,00006h	;; 6281: 01 06 00    ...
	ldir			;; 6284: ed b0       ..
	ld	a,(ix-122)	;; 6286: dd 7e 86    .~.
	push	af		;; 6289: f5          .
	call	L0597		;; 628a: cd 97 05    ...
	ld	a,(ix-122)	;; 628d: dd 7e 86    .~.
	cp	a,04fh		;; 6290: fe 4f       .O
	jr	nz,L629c	;; 6292: 20 08        .
	call	L0799		;; 6294: cd 99 07    ...
	call	L0799		;; 6297: cd 99 07    ...
	jr	L62aa		;; 629a: 18 0e       ..

L629c:	ld	a,(ix-121)	;; 629c: dd 7e 87    .~.
	push	af		;; 629f: f5          .
	call	L0597		;; 62a0: cd 97 05    ...
	ld	a,(ix-120)	;; 62a3: dd 7e 88    .~.
	push	af		;; 62a6: f5          .
	call	L0597		;; 62a7: cd 97 05    ...
L62aa:	jp	L8d56		;; 62aa: c3 56 8d    .V.

L62ad:	call	L8d27		;; 62ad: cd 27 8d    .'.
	db	0,0ah
	ld	a,(ix-123)	;; 62b2: dd 7e 85    .~.
	cp	a,020h		;; 62b5: fe 20       . 
	jr	z,L62c1		;; 62b7: 28 08       (.
	rst3			;; 62b9: df          .
	db	82h
	push	hl		;; 62bb: e5          .
	ld	a,(ix-123)	;; 62bc: dd 7e 85    .~.
	pop	hl		;; 62bf: e1          .
	ld	(hl),a		;; 62c0: 77          w
L62c1:	jp	L8d56		;; 62c1: c3 56 8d    .V.

L62c4:	call	L8d27		;; 62c4: cd 27 8d    .'.
	db	0fah,0eh
	rst3			;; 62c9: df          .
	db	88h
	push	hl		;; 62cb: e5          .
	ld	hl,0ff82h	;; 62cc: 21 82 ff    ...
	rst2			;; 62cf: d7          .
	pop	de		;; 62d0: d1          .
	ex	de,hl		;; 62d1: eb          .
	ld	bc,00006h	;; 62d2: 01 06 00    ...
	ldir			;; 62d5: ed b0       ..
	ld	a,(ix-123)	;; 62d7: dd 7e 85    .~.
	cp	a,04fh		;; 62da: fe 4f       .O
	jr	z,L6340		;; 62dc: 28 62       (b
	ld	a,(ix-123)	;; 62de: dd 7e 85    .~.
	cp	a,020h		;; 62e1: fe 20       . 
	jr	z,L632a		;; 62e3: 28 45       (E
	ld	a,(ix-123)	;; 62e5: dd 7e 85    .~.
	push	af		;; 62e8: f5          .
	ld	hl,L1c0f	;; 62e9: 21 0f 1c    ...
	push	hl		;; 62ec: e5          .
	call	L62ad		;; 62ed: cd ad 62    ..b
	ld	hl,L1d54	;; 62f0: 21 54 1d    .T.
	ld	(hl),000h	;; 62f3: 36 00       6.
	ld	a,(L1c0f)	;; 62f5: 3a 0f 1c    :..
	call	L6312		;; 62f8: cd 12 63    ..c
L62fb:	ld	hl,L1d54	;; 62fb: 21 54 1d    .T.
	ld	(hl),003h	;; 62fe: 36 03       6.
	jr	L6325		;; 6300: 18 23       .#

L6302:	ld	hl,L1d54	;; 6302: 21 54 1d    .T.
	ld	(hl),004h	;; 6305: 36 04       6.
	jr	L6325		;; 6307: 18 1c       ..

L6309:	ld	hl,L1d54	;; 6309: 21 54 1d    .T.
	ld	(hl),002h	;; 630c: 36 02       6.
	jr	L6325		;; 630e: 18 15       ..

L6310:	jr	L6325		;; 6310: 18 13       ..

L6312:	ld	b,004h		;; 6312: 06 04       ..
	call	L8ddc		;; 6314: cd dc 8d    ...
	db 'L' ! dw L6309
	db 'Q' ! dw L6302
	db 'T' ! dw L62fb
	db 'W' ! dw L6309
	dw	L6310
L6325:	rst3			;; 6325: df          .
	db	82h
	ld	(L1d52),hl	;; 6327: 22 52 1d    "R.
L632a:	ld	a,(ix-122)	;; 632a: dd 7e 86    .~.
	push	af		;; 632d: f5          .
	ld	hl,L1c0e	;; 632e: 21 0e 1c    ...
	push	hl		;; 6331: e5          .
	call	L62ad		;; 6332: cd ad 62    ..b
	ld	a,(ix-121)	;; 6335: dd 7e 87    .~.
	push	af		;; 6338: f5          .
	ld	hl,L1c0d	;; 6339: 21 0d 1c    ...
	push	hl		;; 633c: e5          .
	call	L62ad		;; 633d: cd ad 62    ..b
L6340:	jp	L8d56		;; 6340: c3 56 8d    .V.

L6343:	call	L8d27		;; 6343: cd 27 8d    .'.
	db	0f7h,11h
	ld	hl,L1d54	;; 6348: 21 54 1d    .T.
	ld	(hl),000h	;; 634b: 36 00       6.
	ld	hl,L1c0f	;; 634d: 21 0f 1c    ...
	ld	(hl),049h	;; 6350: 36 49       6I
	ld	hl,L1c0e	;; 6352: 21 0e 1c    ...
	ld	(hl),04dh	;; 6355: 36 4d       6M
	ld	hl,L1c0d	;; 6357: 21 0d 1c    ...
	ld	(hl),048h	;; 635a: 36 48       6H
	ld	hl,L1c0c	;; 635c: 21 0c 1c    ...
	ld	(hl),020h	;; 635f: 36 20       6 
	ld	hl,L1c0b	;; 6361: 21 0b 1c    ...
	ld	(hl),020h	;; 6364: 36 20       6 
	ld	hl,L1c0a	;; 6366: 21 0a 1c    ...
	ld	(hl),020h	;; 6369: 36 20       6 
	ld	hl,(L5b72)	;; 636b: 2a 72 5b    *r[
	rst3			;; 636e: df          .
	db	9
	ld	bc,(L1a2a)	;; 6370: ed 4b 2a 1a .K*.
	or	a,a		;; 6374: b7          .
	sbc	hl,bc		;; 6375: ed 42       .B
	call	L8c0e		;; 6377: cd 0e 8c    ...
	ld	(ix-120),a	;; 637a: dd 77 88    .w.
L637d:	ld	a,(ix-120)	;; 637d: dd 7e 88    .~.
	rra			;; 6380: 1f          .
	jp	nc,L642c	;; 6381: d2 2c 64    .,d
	rst3			;; 6384: df          .
	db	89h
	push	hl		;; 6386: e5          .
	ld	hl,0ff82h	;; 6387: 21 82 ff    ...
	rst2			;; 638a: d7          .
	push	hl		;; 638b: e5          .
	call	L5e1e		;; 638c: cd 1e 5e    ..^
	ld	c,(ix-117)	;; 638f: dd 4e 8b    .N.
	ld	b,(ix-116)	;; 6392: dd 46 8c    .F.
	rst3			;; 6395: df          .
	db	82h
	or	a,a		;; 6397: b7          .
	sbc	hl,bc		;; 6398: ed 42       .B
	jr	c,L63a0		;; 639a: 38 04       8.
	ld	(ix-120),000h	;; 639c: dd 36 88 00 .6..
L63a0:	ld	a,(ix-124)	;; 63a0: dd 7e 84    .~.
	or	a,a		;; 63a3: b7          .
	jr	nz,L63e3	;; 63a4: 20 3d        =
	ld	a,(ix-123)	;; 63a6: dd 7e 85    .~.
	cp	a,04fh		;; 63a9: fe 4f       .O
	jr	z,L63e1		;; 63ab: 28 34       (4
	ld	c,(ix-117)	;; 63ad: dd 4e 8b    .N.
	ld	b,(ix-116)	;; 63b0: dd 46 8c    .F.
	rst3			;; 63b3: df          .
	db	82h
	or	a,a		;; 63b5: b7          .
	sbc	hl,bc		;; 63b6: ed 42       .B
	jr	nz,L63cc	;; 63b8: 20 12        .
	ld	a,(ix-123)	;; 63ba: dd 7e 85    .~.
	ld	(L1c0c),a	;; 63bd: 32 0c 1c    2..
	ld	a,(ix-122)	;; 63c0: dd 7e 86    .~.
	ld	(L1c0b),a	;; 63c3: 32 0b 1c    2..
	ld	a,(ix-121)	;; 63c6: dd 7e 87    .~.
	ld	(L1c0a),a	;; 63c9: 32 0a 1c    2..
L63cc:	ld	c,(ix-126)	;; 63cc: dd 4e 82    .N.
	ld	b,(ix-125)	;; 63cf: dd 46 83    .F.
	rst3			;; 63d2: df          .
	db	8bh
	or	a,a		;; 63d4: b7          .
	sbc	hl,bc		;; 63d5: ed 42       .B
	jr	c,L63e1		;; 63d7: 38 08       8.
	ld	hl,0ff82h	;; 63d9: 21 82 ff    ...
	rst2			;; 63dc: d7          .
	push	hl		;; 63dd: e5          .
	call	L62c4		;; 63de: cd c4 62    ..b
L63e1:	jr	L6414		;; 63e1: 18 31       .1

L63e3:	ld	a,(L1c0f)	;; 63e3: 3a 0f 1c    :..
	cp	a,055h		;; 63e6: fe 55       .U
	jr	nz,L6414	;; 63e8: 20 2a        *
	ld	c,(ix-126)	;; 63ea: dd 4e 82    .N.
	ld	b,(ix-125)	;; 63ed: dd 46 83    .F.
	rst3			;; 63f0: df          .
	db	8bh
	or	a,a		;; 63f2: b7          .
	sbc	hl,bc		;; 63f3: ed 42       .B
	jr	c,L6414		;; 63f5: 38 1d       8.
	ld	a,(ix-124)	;; 63f7: dd 7e 84    .~.
	push	af		;; 63fa: f5          .
	call	L75c9		;; 63fb: cd c9 75    ..u
	db	0bh,0,0,0,0,0,0,0,0,8,10h,4
	call	L7450		;; 640a: cd 50 74    .Pt
	jr	z,L6414		;; 640d: 28 05       (.
	ld	hl,L1c0f	;; 640f: 21 0f 1c    ...
	ld	(hl),049h	;; 6412: 36 49       6I
L6414:	ld	bc,00006h	;; 6414: 01 06 00    ...
	rst3			;; 6417: df          .
	db	89h
	add	hl,bc		;; 6419: 09          .
	rst3			;; 641a: df          .
	db	9
	ld	bc,(L1a2a)	;; 641c: ed 4b 2a 1a .K*.
	or	a,a		;; 6420: b7          .
	sbc	hl,bc		;; 6421: ed 42       .B
	jr	nz,L6429	;; 6423: 20 04        .
	ld	(ix-120),000h	;; 6425: dd 36 88 00 .6..
L6429:	jp	L637d		;; 6429: c3 7d 63    .}c

L642c:	jp	L8d56		;; 642c: c3 56 8d    .V.

L642f:	call	L8d27		;; 642f: cd 27 8d    .'.
	db	0f9h,11h
	rst3			;; 6434: df          .
	db	8bh
	push	hl		;; 6436: e5          .
	ld	hl,0ff82h	;; 6437: 21 82 ff    ...
	rst2			;; 643a: d7          .
	push	hl		;; 643b: e5          .
	call	L5e1e		;; 643c: cd 1e 5e    ..^
	rst3			;; 643f: df          .
	db	8bh
	ld	a,h		;; 6441: 7c          |
	or	a,l		;; 6442: b5          .
	call	L8c0e		;; 6443: cd 0e 8c    ...
	push	af		;; 6446: f5          .
	ld	c,(ix-119)	;; 6447: dd 4e 89    .N.
	ld	b,(ix-118)	;; 644a: dd 46 8a    .F.
	rst3			;; 644d: df          .
	db	82h
	or	a,a		;; 644f: b7          .
	sbc	hl,bc		;; 6450: ed 42       .B
	call	L8c09		;; 6452: cd 09 8c    ...
	ld	b,a		;; 6455: 47          G
	pop	af		;; 6456: f1          .
	and	a,b		;; 6457: a0          .
	push	af		;; 6458: f5          .
	ld	a,(ix-124)	;; 6459: dd 7e 84    .~.
	or	a,a		;; 645c: b7          .
	call	L8c09		;; 645d: cd 09 8c    ...
	ld	b,a		;; 6460: 47          G
	pop	af		;; 6461: f1          .
	and	a,b		;; 6462: a0          .
	push	af		;; 6463: f5          .
	ld	a,(ix-123)	;; 6464: dd 7e 85    .~.
	cp	a,04fh		;; 6467: fe 4f       .O
	call	L8c0e		;; 6469: cd 0e 8c    ...
	ld	b,a		;; 646c: 47          G
	pop	af		;; 646d: f1          .
	and	a,b		;; 646e: a0          .
	ld	(ix-120),a	;; 646f: dd 77 88    .w.
	jp	L8d56		;; 6472: c3 56 8d    .V.

L6475:	call	L8d27		;; 6475: cd 27 8d    .'.
	db	0f1h,1bh
	ld	bc,(L316b)	;; 647a: ed 4b 6b 31 .Kk1
	rst3			;; 647e: df          .
	db	95h
	or	a,a		;; 6480: b7          .
	sbc	hl,bc		;; 6481: ed 42       .B
	ld	a,000h		;; 6483: 3e 00       >.
	rla			;; 6485: 17          .
	push	af		;; 6486: f5          .
	ld	bc,(L316d)	;; 6487: ed 4b 6d 31 .Km1
	rst3			;; 648b: df          .
	db	95h
	or	a,a		;; 648d: b7          .
	sbc	hl,bc		;; 648e: ed 42       .B
	ld	a,000h		;; 6490: 3e 00       >.
	rla			;; 6492: 17          .
	ld	b,a		;; 6493: 47          G
	pop	af		;; 6494: f1          .
	and	a,b		;; 6495: a0          .
	rra			;; 6496: 1f          .
	jr	nc,L649e	;; 6497: 30 05       0.
	rst3			;; 6499: df          .
	db	95h
	ld	(L316d),hl	;; 649b: 22 6d 31    "m1
L649e:	ld	(ix-118),000h	;; 649e: dd 36 8a 00 .6..
	rst3			;; 64a2: df          .
	db	91h
	rst3			;; 64a4: df          .
	db	0dh
	ld	a,h		;; 64a6: 7c          |
	or	a,l		;; 64a7: b5          .
	jr	nz,L64b1	;; 64a8: 20 07        .
	ld	hl,(L5b72)	;; 64aa: 2a 72 5b    *r[
	rst3			;; 64ad: df          .
	db	0bh
	jr	L64b9		;; 64af: 18 08       ..

L64b1:	ld	bc,00006h	;; 64b1: 01 06 00    ...
	rst3			;; 64b4: df          .
	db	8dh
	add	hl,bc		;; 64b6: 09          .
	rst3			;; 64b7: df          .
	db	0bh
L64b9:	ld	bc,(L1a2a)	;; 64b9: ed 4b 2a 1a .K*.
	rst3			;; 64bd: df          .
	db	8bh
	or	a,a		;; 64bf: b7          .
	sbc	hl,bc		;; 64c0: ed 42       .B
	jr	nc,L64d8	;; 64c2: 30 14       0.
	rst3			;; 64c4: df          .
	db	8bh
	push	hl		;; 64c6: e5          .
	rst3			;; 64c7: df          .
	db	95h
	push	hl		;; 64c9: e5          .
	call	L642f		;; 64ca: cd 2f 64    ./d
	rra			;; 64cd: 1f          .
	jr	nc,L64d8	;; 64ce: 30 08       0.
	ld	(ix-118),001h	;; 64d0: dd 36 8a 01 .6..
	rst3			;; 64d4: df          .
	db	8bh
	rst3			;; 64d6: df          .
	db	8
L64d8:	rst3			;; 64d8: df          .
	db	8dh
	push	hl		;; 64da: e5          .
	rst3			;; 64db: df          .
	db	95h
	push	hl		;; 64dd: e5          .
	call	L642f		;; 64de: cd 2f 64    ./d
	rra			;; 64e1: 1f          .
	jr	nc,L64ec	;; 64e2: 30 08       0.
	ld	(ix-118),001h	;; 64e4: dd 36 8a 01 .6..
	rst3			;; 64e8: df          .
	db	8dh
	rst3			;; 64ea: df          .
	db	8
L64ec:	ld	a,(ix-118)	;; 64ec: dd 7e 8a    .~.
	rra			;; 64ef: 1f          .
	jr	nc,L64ff	;; 64f0: 30 0d       0.
	rst3			;; 64f2: df          .
	db	88h
	push	hl		;; 64f4: e5          .
	ld	hl,0ff82h	;; 64f5: 21 82 ff    ...
	rst2			;; 64f8: d7          .
	push	hl		;; 64f9: e5          .
	call	L5e1e		;; 64fa: cd 1e 5e    ..^
	jr	L6521		;; 64fd: 18 22       ."

L64ff:	ld	(ix-124),000h	;; 64ff: dd 36 84 00 .6..
	rst3			;; 6503: df          .
	db	95h
	rst3			;; 6505: df          .
	db	2
	ld	(ix-123),020h	;; 6507: dd 36 85 20 .6. 
	ld	(ix-122),020h	;; 650b: dd 36 86 20 .6. 
	ld	(ix-121),020h	;; 650f: dd 36 87 20 .6. 
	rst3			;; 6513: df          .
	db	8dh
	push	hl		;; 6515: e5          .
	call	L61a4		;; 6516: cd a4 61    ..a
	rst3			;; 6519: df          .
	db	8
	ld	a,h		;; 651b: 7c          |
	or	a,l		;; 651c: b5          .
	jr	nz,L6521	;; 651d: 20 02        .
	jr	L6570		;; 651f: 18 4f       .O

L6521:	ld	a,(ix-108)	;; 6521: dd 7e 94    .~.
	push	af		;; 6524: f5          .
	call	L75c9		;; 6525: cd c9 75    ..u
	db	0ah,0,0,0,0,0,0,0,0,0,'`'
	call	L7450		;; 6533: cd 50 74    .Pt
	jr	z,L6540		;; 6536: 28 08       (.
	ld	a,(ix-108)	;; 6538: dd 7e 94    .~.
	ld	(ix-122),a	;; 653b: dd 77 86    .w.
	jr	L6565		;; 653e: 18 25       .%

L6540:	ld	a,(ix-108)	;; 6540: dd 7e 94    .~.
	push	af		;; 6543: f5          .
	call	L75c9		;; 6544: cd c9 75    ..u
	db	0ah,0,0,0,0,0,0,4,0,10h,1
	call	L7450		;; 6552: cd 50 74    .Pt
	jr	z,L655f		;; 6555: 28 08       (.
	ld	a,(ix-108)	;; 6557: dd 7e 94    .~.
	ld	(ix-121),a	;; 655a: dd 77 87    .w.
	jr	L6565		;; 655d: 18 06       ..

L655f:	ld	a,(ix-108)	;; 655f: dd 7e 94    .~.
	ld	(ix-123),a	;; 6562: dd 77 85    .w.
L6565:	rst3			;; 6565: df          .
	db	88h
	push	hl		;; 6567: e5          .
	ld	hl,0ff82h	;; 6568: 21 82 ff    ...
	rst2			;; 656b: d7          .
	push	hl		;; 656c: e5          .
	call	L5e33		;; 656d: cd 33 5e    .3^
L6570:	ld	hl,L1c54	;; 6570: 21 54 1c    .T.
	ld	(hl),000h	;; 6573: 36 00       6.
	rst3			;; 6575: df          .
	db	88h
	rst3			;; 6577: df          .
	db	0fh
	jp	L8d56		;; 6579: c3 56 8d    .V.

L657c:	call	L8d27		;; 657c: cd 27 8d    .'.
	db	0f8h,10h
	rst3			;; 6581: df          .
	db	8ah
	push	hl		;; 6583: e5          .
	ld	hl,0ff84h	;; 6584: 21 84 ff    ...
	rst2			;; 6587: d7          .
	push	hl		;; 6588: e5          .
	call	L5e1e		;; 6589: cd 1e 5e    ..^
	ld	bc,(L5b72)	;; 658c: ed 4b 72 5b .Kr[
	rst3			;; 6590: df          .
	db	8ah
	or	a,a		;; 6592: b7          .
	sbc	hl,bc		;; 6593: ed 42       .B
	ld	a,000h		;; 6595: 3e 00       >.
	ccf			;; 6597: 3f          ?
	rla			;; 6598: 17          .
	push	af		;; 6599: f5          .
	ld	bc,(L1a2a)	;; 659a: ed 4b 2a 1a .K*.
	rst3			;; 659e: df          .
	db	8ah
	or	a,a		;; 65a0: b7          .
	sbc	hl,bc		;; 65a1: ed 42       .B
	ld	a,000h		;; 65a3: 3e 00       >.
	rla			;; 65a5: 17          .
	ld	b,a		;; 65a6: 47          G
	pop	af		;; 65a7: f1          .
	and	a,b		;; 65a8: a0          .
	rra			;; 65a9: 1f          .
	jr	nc,L65f2	;; 65aa: 30 46       0F
	ld	hl,(L1a2a)	;; 65ac: 2a 2a 1a    **.
	rst4			;; 65af: e7          .
	db	87h
	push	hl		;; 65b1: e5          .
	push	bc		;; 65b2: c5          .
	rst3			;; 65b3: df          .
	db	8ah
	rst4			;; 65b5: e7          .
	db	87h
	call	L87f6		;; 65b7: cd f6 87    ...
	push	hl		;; 65ba: e5          .
	push	bc		;; 65bb: c5          .
	ld	bc,00006h	;; 65bc: 01 06 00    ...
	ld	hl,00000h	;; 65bf: 21 00 00    ...
	call	L87f6		;; 65c2: cd f6 87    ...
	ld	h,b		;; 65c5: 60          `
	ld	l,c		;; 65c6: 69          i
	rst3			;; 65c7: df          .
	db	2
	ld	a,h		;; 65c9: 7c          |
	or	a,l		;; 65ca: b5          .
	jr	z,L65dd		;; 65cb: 28 10       (.
	ld	bc,00006h	;; 65cd: 01 06 00    ...
	rst3			;; 65d0: df          .
	db	8ah
	add	hl,bc		;; 65d2: 09          .
	push	hl		;; 65d3: e5          .
	rst3			;; 65d4: df          .
	db	8ah
	push	hl		;; 65d6: e5          .
	rst3			;; 65d7: df          .
	db	82h
	push	hl		;; 65d9: e5          .
	call	L72fe		;; 65da: cd fe 72    ..r
L65dd:	ld	hl,(L1a2a)	;; 65dd: 2a 2a 1a    **.
	rst4			;; 65e0: e7          .
	db	87h
	push	hl		;; 65e2: e5          .
	push	bc		;; 65e3: c5          .
	ld	bc,00006h	;; 65e4: 01 06 00    ...
	ld	hl,00000h	;; 65e7: 21 00 00    ...
	call	L87f6		;; 65ea: cd f6 87    ...
	ld	h,b		;; 65ed: 60          `
	ld	l,c		;; 65ee: 69          i
	ld	(L1a2a),hl	;; 65ef: 22 2a 1a    "*.
L65f2:	jp	L8d56		;; 65f2: c3 56 8d    .V.

L65f5:	call	L8d27		;; 65f5: cd 27 8d    .'.
	db	0eeh,1ah
	ld	a,(L02ec)	;; 65fa: 3a ec 02    :..
	push	af		;; 65fd: f5          .
	call	L0953		;; 65fe: cd 53 09    .S.
	ld	hl,(L5b72)	;; 6601: 2a 72 5b    *r[
	rst3			;; 6604: df          .
	db	12h
L6606:	ld	bc,(L1a2a)	;; 6606: ed 4b 2a 1a .K*.
	rst3			;; 660a: df          .
	db	92h
	or	a,a		;; 660c: b7          .
	sbc	hl,bc		;; 660d: ed 42       .B
	call	L8c0e		;; 660f: cd 0e 8c    ...
	push	af		;; 6612: f5          .
	ld	a,(L02eb)	;; 6613: 3a eb 02    :..
	ld	hl,L02e3	;; 6616: 21 e3 02    ...
	cp	a,(hl)		;; 6619: be          .
	ld	a,000h		;; 661a: 3e 00       >.
	ccf			;; 661c: 3f          ?
	rla			;; 661d: 17          .
	ld	b,a		;; 661e: 47          G
	pop	af		;; 661f: f1          .
	and	a,b		;; 6620: a0          .
	rra			;; 6621: 1f          .
	jp	nc,L66c2	;; 6622: d2 c2 66    ..f
	ld	a,(L1c5b)	;; 6625: 3a 5b 1c    :[.
	ld	hl,L02e3	;; 6628: 21 e3 02    ...
	cp	a,(hl)		;; 662b: be          .
	jr	nz,L6635	;; 662c: 20 07        .
	ld	a,(L1c5b)	;; 662e: 3a 5b 1c    :[.
	dec	a		;; 6631: 3d          =
	ld	(L1c5b),a	;; 6632: 32 5b 1c    2[.
L6635:	ld	bc,00006h	;; 6635: 01 06 00    ...
	rst3			;; 6638: df          .
	db	92h
	add	hl,bc		;; 663a: 09          .
	rst3			;; 663b: df          .
	db	10h
	rst3			;; 663d: df          .
	db	92h
	push	hl		;; 663f: e5          .
	ld	hl,0ff88h	;; 6640: 21 88 ff    ...
	rst2			;; 6643: d7          .
	push	hl		;; 6644: e5          .
	call	L5e1e		;; 6645: cd 1e 5e    ..^
	ld	a,(ix-118)	;; 6648: dd 7e 8a    .~.
	or	a,a		;; 664b: b7          .
	jp	nz,L66bb	;; 664c: 20 6d        m
	rst3			;; 664e: df          .
	db	94h
	rst3			;; 6650: df          .
	db	0eh
	ld	bc,(L1a2a)	;; 6652: ed 4b 2a 1a .K*.
	rst3			;; 6656: df          .
	db	90h
	or	a,a		;; 6658: b7          .
	sbc	hl,bc		;; 6659: ed 42       .B
	jr	z,L666c		;; 665b: 28 0f       (.
	rst3			;; 665d: df          .
	db	90h
	push	hl		;; 665f: e5          .
	ld	hl,0ff82h	;; 6660: 21 82 ff    ...
	rst2			;; 6663: d7          .
	push	hl		;; 6664: e5          .
	call	L5e1e		;; 6665: cd 1e 5e    ..^
	rst3			;; 6668: df          .
	db	82h
	rst3			;; 666a: df          .
	db	0eh
L666c:	ld	c,(ix-108)	;; 666c: dd 4e 94    .N.
	ld	b,(ix-107)	;; 666f: dd 46 95    .F.
	rst3			;; 6672: df          .
	db	8eh
	or	a,a		;; 6674: b7          .
	sbc	hl,bc		;; 6675: ed 42       .B
	jr	c,L66bb		;; 6677: 38 42       8B
	ld	a,02fh		;; 6679: 3e 2f       >/
	push	af		;; 667b: f5          .
	call	L0597		;; 667c: cd 97 05    ...
	call	L0799		;; 667f: cd 99 07    ...
	rst3			;; 6682: df          .
	db	88h
	push	hl		;; 6684: e5          .
	call	L5428		;; 6685: cd 28 54    .(T
	call	L0799		;; 6688: cd 99 07    ...
	ld	hl,0ff88h	;; 668b: 21 88 ff    ...
	rst2			;; 668e: d7          .
	push	hl		;; 668f: e5          .
	call	L6273		;; 6690: cd 73 62    .sb
	call	L0799		;; 6693: cd 99 07    ...
	ld	bc,0fff6h	;; 6696: 01 f6 ff    ...
	ld	a,(L02ef)	;; 6699: 3a ef 02    :..
	ld	l,a		;; 669c: 6f          o
	ld	h,000h		;; 669d: 26 00       &.
	add	hl,bc		;; 669f: 09          .
	ld	b,h		;; 66a0: 44          D
	ld	c,l		;; 66a1: 4d          M
	ld	a,(L02ee)	;; 66a2: 3a ee 02    :..
	ld	l,a		;; 66a5: 6f          o
	ld	h,000h		;; 66a6: 26 00       &.
	rst4			;; 66a8: e7          .
	db	85h
	call	pe,L8c01	;; 66aa: ec 01 8c    ...
	jp	p,L66bb		;; 66ad: f2 bb 66    ..f
	call	L0977		;; 66b0: cd 77 09    .w.
	ld	a,(L02e3)	;; 66b3: 3a e3 02    :..
	inc	a		;; 66b6: 3c          <
	push	af		;; 66b7: f5          .
	call	L0953		;; 66b8: cd 53 09    .S.
L66bb:	rst3			;; 66bb: df          .
	db	90h
	rst3			;; 66bd: df          .
	db	12h
	jp	L6606		;; 66bf: c3 06 66    ..f

L66c2:	ld	a,(L02eb)	;; 66c2: 3a eb 02    :..
	ld	hl,L02e3	;; 66c5: 21 e3 02    ...
	cp	a,(hl)		;; 66c8: be          .
	jr	c,L66ce		;; 66c9: 38 03       8.
	call	L0977		;; 66cb: cd 77 09    .w.
L66ce:	jp	L8d56		;; 66ce: c3 56 8d    .V.

L66d1:	call	L8d27		;; 66d1: cd 27 8d    .'.
	db	0f8h,0eh
	ld	hl,(L5b72)	;; 66d6: 2a 72 5b    *r[
	rst3			;; 66d9: df          .
	db	8
L66db:	ld	bc,(L1a2a)	;; 66db: ed 4b 2a 1a .K*.
	rst3			;; 66df: df          .
	db	88h
	or	a,a		;; 66e1: b7          .
	sbc	hl,bc		;; 66e2: ed 42       .B
	jr	z,L6719		;; 66e4: 28 33       (3
	rst3			;; 66e6: df          .
	db	88h
	push	hl		;; 66e8: e5          .
	ld	hl,0ff82h	;; 66e9: 21 82 ff    ...
	rst2			;; 66ec: d7          .
	push	hl		;; 66ed: e5          .
	call	L5e1e		;; 66ee: cd 1e 5e    ..^
	ld	a,(ix-124)	;; 66f1: dd 7e 84    .~.
	or	a,a		;; 66f4: b7          .
	call	L8c09		;; 66f5: cd 09 8c    ...
	push	af		;; 66f8: f5          .
	ld	a,(ix-123)	;; 66f9: dd 7e 85    .~.
	cp	a,04fh		;; 66fc: fe 4f       .O
	call	L8c09		;; 66fe: cd 09 8c    ...
	ld	b,a		;; 6701: 47          G
	pop	af		;; 6702: f1          .
	and	a,b		;; 6703: a0          .
	rra			;; 6704: 1f          .
	jr	nc,L670f	;; 6705: 30 08       0.
	rst3			;; 6707: df          .
	db	88h
	push	hl		;; 6709: e5          .
	call	L657c		;; 670a: cd 7c 65    .|e
	jr	L66db		;; 670d: 18 cc       ..

L670f:	ld	bc,00006h	;; 670f: 01 06 00    ...
	rst3			;; 6712: df          .
	db	88h
	add	hl,bc		;; 6714: 09          .
	rst3			;; 6715: df          .
	db	8
	jr	L66db		;; 6717: 18 c2       ..

L6719:	jp	L8d56		;; 6719: c3 56 8d    .V.

L671c:	call	L8d27		;; 671c: cd 27 8d    .'.
	db	0fah,10h
	ld	(ix-124),000h	;; 6721: dd 36 84 00 .6..
	rst3			;; 6725: df          .
	db	8ah
	rst3			;; 6727: df          .
	db	2
	ld	(ix-123),04fh	;; 6729: dd 36 85 4f .6.O
	rst3			;; 672d: df          .
	db	88h
	rst3			;; 672f: df          .
	db	6
	rst3			;; 6731: df          .
	db	8ah
	push	hl		;; 6733: e5          .
	call	L5f05		;; 6734: cd 05 5f    .._
	push	hl		;; 6737: e5          .
	call	L61a4		;; 6738: cd a4 61    ..a
	push	hl		;; 673b: e5          .
	ld	hl,0ff82h	;; 673c: 21 82 ff    ...
	rst2			;; 673f: d7          .
	push	hl		;; 6740: e5          .
	call	L5e33		;; 6741: cd 33 5e    .3^
	jp	L8d56		;; 6744: c3 56 8d    .V.

L6747:	call	L8d27		;; 6747: cd 27 8d    .'.
	db	0,0ah
	rst3			;; 674c: df          .
	db	84h
	push	hl		;; 674e: e5          .
	rst3			;; 674f: df          .
	db	82h
	push	hl		;; 6751: e5          .
	call	L132e		;; 6752: cd 2e 13    ...
	xor	a,001h		;; 6755: ee 01       ..
	rra			;; 6757: 1f          .
	jr	nc,L675d	;; 6758: 30 03       0.
	call	L0a8f		;; 675a: cd 8f 0a    ...
L675d:	jp	L8d56		;; 675d: c3 56 8d    .V.

L6760:	call	L8d27		;; 6760: cd 27 8d    .'.
	db	0feh,0ah
	rst3			;; 6765: df          .
	db	84h
	ld	(L1d41),hl	;; 6767: 22 41 1d    "A.
	ld	a,h		;; 676a: 7c          |
	or	a,l		;; 676b: b5          .
	call	L8c0e		;; 676c: cd 0e 8c    ...
	ld	(L1d40),a	;; 676f: 32 40 1d    2@.
	rra			;; 6772: 1f          .
	jr	nc,L67a3	;; 6773: 30 2e       0.
	ld	hl,(L1d41)	;; 6775: 2a 41 1d    *A.
	push	hl		;; 6778: e5          .
	ld	hl,L1d43	;; 6779: 21 43 1d    .C.
	push	hl		;; 677c: e5          .
	call	L5e1e		;; 677d: cd 1e 5e    ..^
	ld	bc,00006h	;; 6780: 01 06 00    ...
	ld	hl,(L1d41)	;; 6783: 2a 41 1d    *A.
	add	hl,bc		;; 6786: 09          .
	rst3			;; 6787: df          .
	db	2
	ld	bc,(L1a2a)	;; 6789: ed 4b 2a 1a .K*.
	or	a,a		;; 678d: b7          .
	sbc	hl,bc		;; 678e: ed 42       .B
	call	L8c0e		;; 6790: cd 0e 8c    ...
	ld	(L1d49),a	;; 6793: 32 49 1d    2I.
	rra			;; 6796: 1f          .
	jr	nc,L67a3	;; 6797: 30 0a       0.
	rst3			;; 6799: df          .
	db	82h
	push	hl		;; 679b: e5          .
	ld	hl,L1d4a	;; 679c: 21 4a 1d    .J.
	push	hl		;; 679f: e5          .
	call	L5e1e		;; 67a0: cd 1e 5e    ..^
L67a3:	jp	L8d56		;; 67a3: c3 56 8d    .V.

L67a6:	call	L8d27		;; 67a6: cd 27 8d    .'.
	db	0feh,8
	ld	bc,00006h	;; 67ab: 01 06 00    ...
	ld	hl,(L1d41)	;; 67ae: 2a 41 1d    *A.
	add	hl,bc		;; 67b1: 09          .
	rst3			;; 67b2: df          .
	db	2
	ld	bc,(L1a2a)	;; 67b4: ed 4b 2a 1a .K*.
	or	a,a		;; 67b8: b7          .
	sbc	hl,bc		;; 67b9: ed 42       .B
	jr	nz,L67c2	;; 67bb: 20 05        .
	ld	hl,00000h	;; 67bd: 21 00 00    ...
	rst3			;; 67c0: df          .
	db	2
L67c2:	rst3			;; 67c2: df          .
	db	82h
	push	hl		;; 67c4: e5          .
	call	L6760		;; 67c5: cd 60 67    .`g
	jp	L8d56		;; 67c8: c3 56 8d    .V.

L67cb:	call	L8d27		;; 67cb: cd 27 8d    .'.
	db	0fbh,0bh
	ld	hl,00000h	;; 67d0: 21 00 00    ...
	rst3			;; 67d3: df          .
	db	3
L67d5:	ld	hl,(L02f3)	;; 67d5: 2a f3 02    *..
	push	hl		;; 67d8: e5          .
	call	L7bb7		;; 67d9: cd b7 7b    ..{
	rra			;; 67dc: 1f          .
	jr	nc,L67e1	;; 67dd: 30 02       0.
	jp	L6857		;; 67df: 18 76       .v

L67e1:	call	L763d		;; 67e1: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 67e4: 2a f3 02    *..
	push	hl		;; 67e7: e5          .
	call	L7682		;; 67e8: cd 82 76    ..v
	call	L7bf4		;; 67eb: cd f4 7b    ..{
	ld	a,(hl)		;; 67ee: 7e          ~
	rst4			;; 67ef: e7          .
	db	8ah
	ld	(iy-42),a	;; 67f1: fd 77 d6    .w.
	call	L7aed		;; 67f4: cd ed 7a    ..z
	call	L768c		;; 67f7: cd 8c 76    ..v
	rst4			;; 67fa: e7          .
	db	8ah
	ld	a,(iy-42)	;; 67fc: fd 7e d6    .~.
	cp	a,020h		;; 67ff: fe 20       . 
	jr	nz,L6805	;; 6801: 20 02        .
	jr	L67d5		;; 6803: 18 d0       ..

L6805:	jr	L682c		;; 6805: 18 25       .%

L6807:	ld	hl,(L02f3)	;; 6807: 2a f3 02    *..
	push	hl		;; 680a: e5          .
	call	L7bb7		;; 680b: cd b7 7b    ..{
	rra			;; 680e: 1f          .
	jr	nc,L6813	;; 680f: 30 02       0.
	jr	L6857		;; 6811: 18 44       .D

L6813:	call	L763d		;; 6813: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 6816: 2a f3 02    *..
	push	hl		;; 6819: e5          .
	call	L7682		;; 681a: cd 82 76    ..v
	call	L7bf4		;; 681d: cd f4 7b    ..{
	ld	a,(hl)		;; 6820: 7e          ~
	rst4			;; 6821: e7          .
	db	8ah
	ld	(iy-42),a	;; 6823: fd 77 d6    .w.
	call	L7aed		;; 6826: cd ed 7a    ..z
	call	L768c		;; 6829: cd 8c 76    ..v
L682c:	rst4			;; 682c: e7          .
	db	8ah
	ld	a,(iy-42)	;; 682e: fd 7e d6    .~.
	push	af		;; 6831: f5          .
	ld	hl,0ff82h	;; 6832: 21 82 ff    ...
	rst2			;; 6835: d7          .
	push	hl		;; 6836: e5          .
	call	L19c8		;; 6837: cd c8 19    ...
	rra			;; 683a: 1f          .
	jr	nc,L6857	;; 683b: 30 1a       0.
	rst3			;; 683d: df          .
	db	83h
	push	hl		;; 683f: e5          .
	ld	hl,00010h	;; 6840: 21 10 00    ...
	call	L87b7		;; 6843: cd b7 87    ...
	push	hl		;; 6846: e5          .
	push	bc		;; 6847: c5          .
	ld	a,(ix-126)	;; 6848: dd 7e 82    .~.
	call	L8807		;; 684b: cd 07 88    ...
	call	L87e7		;; 684e: cd e7 87    ...
	ld	h,b		;; 6851: 60          `
	ld	l,c		;; 6852: 69          i
	rst3			;; 6853: df          .
	db	3
	jr	L6807		;; 6855: 18 b0       ..

L6857:	rst3			;; 6857: df          .
	db	83h
	rst3			;; 6859: df          .
	db	5
	jp	L8d56		;; 685b: c3 56 8d    .V.

L685e:	call	L8d27		;; 685e: cd 27 8d    .'.
	db	80h,86h
	ld	hl,L1098	;; 6863: 21 98 10    ...
	call	L75ea		;; 6866: cd ea 75    ..u
	ld	hl,0ff88h	;; 6869: 21 88 ff    ...
	rst2			;; 686c: d7          .
	ld	a,004h		;; 686d: 3e 04       >.
	call	L8b81		;; 686f: cd 81 8b    ...
	ld	a,(L1785)	;; 6872: 3a 85 17    :..
	cp	a,047h		;; 6875: fe 47       .G
	jr	nz,L688d	;; 6877: 20 14        .
	call	L6880		;; 6879: cd 80 68    ..h
	db	'.BRK'
L6880:	call	L75e5		;; 6880: cd e5 75    ..u
	db	4
	ld	hl,0ff88h	;; 6884: 21 88 ff    ...
	rst2			;; 6887: d7          .
	ld	a,004h		;; 6888: 3e 04       >.
	call	L8b81		;; 688a: cd 81 8b    ...
L688d:	ld	hl,L1074	;; 688d: 21 74 10    .t.
	call	L75ea		;; 6890: cd ea 75    ..u
	ld	hl,0ff88h	;; 6893: 21 88 ff    ...
	rst2			;; 6896: d7          .
	call	L75ea		;; 6897: cd ea 75    ..u
	call	L8b20		;; 689a: cd 20 8b    . .
	ld	hl,0ffd7h	;; 689d: 21 d7 ff    ...
	rst2			;; 68a0: d7          .
	ld	a,028h		;; 68a1: 3e 28       >(
	call	L8b81		;; 68a3: cd 81 8b    ...
	ld	(ix-111),000h	;; 68a6: dd 36 91 00 .6..
	ld	hl,0ffd7h	;; 68aa: 21 d7 ff    ...
	rst2			;; 68ad: d7          .
	call	L75ea		;; 68ae: cd ea 75    ..u
	call	L793e		;; 68b1: cd 3e 79    .>y
	rra			;; 68b4: 1f          .
	jp	nc,L6b5d	;; 68b5: d2 5d 6b    .]k
	ld	hl,L02f3	;; 68b8: 21 f3 02    ...
	push	hl		;; 68bb: e5          .
	ld	hl,00000h	;; 68bc: 21 00 00    ...
	push	hl		;; 68bf: e5          .
	ld	hl,0ffd7h	;; 68c0: 21 d7 ff    ...
	rst2			;; 68c3: d7          .
	call	L75ea		;; 68c4: cd ea 75    ..u
	call	L7995		;; 68c7: cd 95 79    ..y
	ld	hl,L02f3	;; 68ca: 21 f3 02    ...
	push	hl		;; 68cd: e5          .
	ld	hl,00000h	;; 68ce: 21 00 00    ...
	push	hl		;; 68d1: e5          .
	call	L78b6		;; 68d2: cd b6 78    ..x
L68d5:	ld	hl,(L02f3)	;; 68d5: 2a f3 02    *..
	push	hl		;; 68d8: e5          .
	call	L7ba1		;; 68d9: cd a1 7b    ..{
	xor	a,001h		;; 68dc: ee 01       ..
	rra			;; 68de: 1f          .
	jp	nc,L6b54	;; 68df: d2 54 6b    .Tk
	call	L0496		;; 68e2: cd 96 04    ...
	rra			;; 68e5: 1f          .
	jr	nc,L68eb	;; 68e6: 30 03       0.
	jp	L6b54		;; 68e8: c3 54 6b    .Tk

L68eb:	ld	hl,(L02f3)	;; 68eb: 2a f3 02    *..
	push	hl		;; 68ee: e5          .
	call	L7bb7		;; 68ef: cd b7 7b    ..{
	rra			;; 68f2: 1f          .
	jr	nc,L6904	;; 68f3: 30 0f       0.
	call	L7649		;; 68f5: cd 49 76    .Iv
	ld	hl,(L02f3)	;; 68f8: 2a f3 02    *..
	push	hl		;; 68fb: e5          .
	call	L7682		;; 68fc: cd 82 76    ..v
	call	L768c		;; 68ff: cd 8c 76    ..v
	jr	L68d5		;; 6902: 18 d1       ..

L6904:	call	L763d		;; 6904: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 6907: 2a f3 02    *..
	push	hl		;; 690a: e5          .
	call	L7682		;; 690b: cd 82 76    ..v
	call	L7bf4		;; 690e: cd f4 7b    ..{
	ld	a,(hl)		;; 6911: 7e          ~
	ld	(ix-110),a	;; 6912: dd 77 92    .w.
	call	L7aed		;; 6915: cd ed 7a    ..z
	call	L768c		;; 6918: cd 8c 76    ..v
	rst4			;; 691b: e7          .
	db	82h
	call	L67cb		;; 691d: cd cb 67    ..g
	ld	(ix+0),l	;; 6920: dd 75 00    .u.
	ld	(ix+1),h	;; 6923: dd 74 01    .t.
	push	hl		;; 6926: e5          .
	call	L60a4		;; 6927: cd a4 60    ..`
	rst3			;; 692a: df          .
	db	0fh
	ld	a,(L1785)	;; 692c: 3a 85 17    :..
	cp	a,047h		;; 692f: fe 47       .G
	jr	nz,L6949	;; 6931: 20 16        .
	ld	l,(ix+0)	;; 6933: dd 6e 00    .n.
	ld	h,(ix+1)	;; 6936: dd 66 01    .f.
	push	hl		;; 6939: e5          .
	ld	a,(ix-110)	;; 693a: dd 7e 92    .~.
	push	af		;; 693d: f5          .
	rst3			;; 693e: df          .
	db	8fh
	push	hl		;; 6940: e5          .
	call	L6475		;; 6941: cd 75 64    .ud
	rst3			;; 6944: df          .
	db	0fh
	jp	L6b18		;; 6946: c3 18 6b    ..k

L6949:	ld	a,(ix-110)	;; 6949: dd 7e 92    .~.
	call	L6b0b		;; 694c: cd 0b 6b    ..k
L694f:	jp	L6b18		;; 694f: c3 18 6b    ..k

L6952:	ld	hl,(L02f3)	;; 6952: 2a f3 02    *..
	push	hl		;; 6955: e5          .
	call	L7ba1		;; 6956: cd a1 7b    ..{
	push	af		;; 6959: f5          .
	ld	hl,(L02f3)	;; 695a: 2a f3 02    *..
	push	hl		;; 695d: e5          .
	call	L7bb7		;; 695e: cd b7 7b    ..{
	ld	b,a		;; 6961: 47          G
	pop	af		;; 6962: f1          .
	or	a,b		;; 6963: b0          .
	xor	a,001h		;; 6964: ee 01       ..
	rra			;; 6966: 1f          .
	jp	nc,L69f2	;; 6967: d2 f2 69    ..i
	call	L763d		;; 696a: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 696d: 2a f3 02    *..
	push	hl		;; 6970: e5          .
	call	L7682		;; 6971: cd 82 76    ..v
	call	L7bf4		;; 6974: cd f4 7b    ..{
	ld	a,(hl)		;; 6977: 7e          ~
	ld	(ix-42),a	;; 6978: dd 77 d6    .w.
	call	L7aed		;; 697b: cd ed 7a    ..z
	call	L768c		;; 697e: cd 8c 76    ..v
	ld	a,(ix-42)	;; 6981: dd 7e d6    .~.
	cp	a,04fh		;; 6984: fe 4f       .O
	jr	nz,L699a	;; 6986: 20 12        .
	ld	l,(ix+0)	;; 6988: dd 6e 00    .n.
	ld	h,(ix+1)	;; 698b: dd 66 01    .f.
	push	hl		;; 698e: e5          .
	rst4			;; 698f: e7          .
	db	82h
	call	L67cb		;; 6991: cd cb 67    ..g
	push	hl		;; 6994: e5          .
	call	L6747		;; 6995: cd 47 67    .Gg
	jr	L69ef		;; 6998: 18 55       .U

L699a:	ld	a,(ix-42)	;; 699a: dd 7e d6    .~.
	cp	a,021h		;; 699d: fe 21       ..
	jr	nz,L69bb	;; 699f: 20 1a        .
	ld	l,(ix+0)	;; 69a1: dd 6e 00    .n.
	ld	h,(ix+1)	;; 69a4: dd 66 01    .f.
	push	hl		;; 69a7: e5          .
	rst4			;; 69a8: e7          .
	db	82h
	call	L67cb		;; 69aa: cd cb 67    ..g
	push	hl		;; 69ad: e5          .
	call	L1230		;; 69ae: cd 30 12    .0.
	xor	a,001h		;; 69b1: ee 01       ..
	rra			;; 69b3: 1f          .
	jr	nc,L69b9	;; 69b4: 30 03       0.
	call	L0a8f		;; 69b6: cd 8f 0a    ...
L69b9:	jr	L69ef		;; 69b9: 18 34       .4

L69bb:	ld	a,(ix-42)	;; 69bb: dd 7e d6    .~.
	push	af		;; 69be: f5          .
	call	L75c9		;; 69bf: cd c9 75    ..u
	db	0ch,0,0,0,0,0,80h,0,0,0feh,0ffh,0ffh,7
	call	L7450		;; 69cf: cd 50 74    .Pt
	jr	z,L69ef		;; 69d2: 28 1b       (.
	ld	l,(ix+0)	;; 69d4: dd 6e 00    .n.
	ld	h,(ix+1)	;; 69d7: dd 66 01    .f.
	push	hl		;; 69da: e5          .
	ld	a,(ix-42)	;; 69db: dd 7e d6    .~.
	push	af		;; 69de: f5          .
	ld	l,(ix+0)	;; 69df: dd 6e 00    .n.
	ld	h,(ix+1)	;; 69e2: dd 66 01    .f.
	push	hl		;; 69e5: e5          .
	call	L5f05		;; 69e6: cd 05 5f    .._
	push	hl		;; 69e9: e5          .
	call	L6475		;; 69ea: cd 75 64    .ud
	rst3			;; 69ed: df          .
	db	0fh
L69ef:	jp	L6952		;; 69ef: c3 52 69    .Ri

L69f2:	jp	L6b18		;; 69f2: c3 18 6b    ..k

L69f5:	ld	(ix-109),000h	;; 69f5: dd 36 93 00 .6..
	ld	(ix-121),000h	;; 69f9: dd 36 87 00 .6..
	ld	a,(ix-42)	;; 69fd: dd 7e d6    .~.
	cp	a,02ch		;; 6a00: fe 2c       .,
	jr	nz,L6a32	;; 6a02: 20 2e        .
	call	L763d		;; 6a04: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 6a07: 2a f3 02    *..
	push	hl		;; 6a0a: e5          .
	call	L7682		;; 6a0b: cd 82 76    ..v
	call	L7bf4		;; 6a0e: cd f4 7b    ..{
	ld	a,(hl)		;; 6a11: 7e          ~
	ld	(ix-121),a	;; 6a12: dd 77 87    .w.
	call	L7aed		;; 6a15: cd ed 7a    ..z
	call	L768c		;; 6a18: cd 8c 76    ..v
	call	L763d		;; 6a1b: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 6a1e: 2a f3 02    *..
	push	hl		;; 6a21: e5          .
	call	L7682		;; 6a22: cd 82 76    ..v
	call	L7bf4		;; 6a25: cd f4 7b    ..{
	ld	a,(hl)		;; 6a28: 7e          ~
	ld	(ix-42),a	;; 6a29: dd 77 d6    .w.
	call	L7aed		;; 6a2c: cd ed 7a    ..z
	call	L768c		;; 6a2f: cd 8c 76    ..v
L6a32:	ld	hl,(L02f3)	;; 6a32: 2a f3 02    *..
	push	hl		;; 6a35: e5          .
	call	L7bb7		;; 6a36: cd b7 7b    ..{
	xor	a,001h		;; 6a39: ee 01       ..
	rra			;; 6a3b: 1f          .
	jr	nc,L6a75	;; 6a3c: 30 37       07
	call	L763d		;; 6a3e: cd 3d 76    .=v
	ld	hl,(L02f3)	;; 6a41: 2a f3 02    *..
	push	hl		;; 6a44: e5          .
	call	L7682		;; 6a45: cd 82 76    ..v
	call	L7bf4		;; 6a48: cd f4 7b    ..{
	ld	a,(hl)		;; 6a4b: 7e          ~
	ld	(ix-42),a	;; 6a4c: dd 77 d6    .w.
	call	L7aed		;; 6a4f: cd ed 7a    ..z
	call	L768c		;; 6a52: cd 8c 76    ..v
	ld	a,(ix-109)	;; 6a55: dd 7e 93    .~.
	cp	a,042h		;; 6a58: fe 42       .B
	jr	nc,L6a73	;; 6a5a: 30 17       0.
	ld	a,(ix-42)	;; 6a5c: dd 7e d6    .~.
	ld	b,a		;; 6a5f: 47          G
	ld	c,001h		;; 6a60: 0e 01       ..
	push	bc		;; 6a62: c5          .
	ld	hl,0ff93h	;; 6a63: 21 93 ff    ...
	rst2			;; 6a66: d7          .
	push	hl		;; 6a67: e5          .
	ld	a,042h		;; 6a68: 3e 42       >B
	push	af		;; 6a6a: f5          .
	ld	a,(ix-109)	;; 6a6b: dd 7e 93    .~.
	inc	a		;; 6a6e: 3c          <
	push	af		;; 6a6f: f5          .
	call	L8a7e		;; 6a70: cd 7e 8a    .~.
L6a73:	jr	L6a32		;; 6a73: 18 bd       ..

L6a75:	ld	l,(ix+0)	;; 6a75: dd 6e 00    .n.
	ld	h,(ix+1)	;; 6a78: dd 66 01    .f.
	rst3			;; 6a7b: df          .
	db	2
	ld	a,(ix-110)	;; 6a7d: dd 7e 92    .~.
	ld	(ix-124),a	;; 6a80: dd 77 84    .w.
	ld	hl,L1c53	;; 6a83: 21 53 1c    .S.
	ld	(hl),000h	;; 6a86: 36 00       6.
	ld	a,(ix-110)	;; 6a88: dd 7e 92    .~.
	cp	a,03fh		;; 6a8b: fe 3f       .?
	jr	z,L6adf		;; 6a8d: 28 50       (P
	ld	l,(ix+0)	;; 6a8f: dd 6e 00    .n.
	ld	h,(ix+1)	;; 6a92: dd 66 01    .f.
	push	hl		;; 6a95: e5          .
	ld	l,(ix-110)	;; 6a96: dd 6e 92    .n.
	ld	h,000h		;; 6a99: 26 00       &.
	ld	bc,00001h	;; 6a9b: 01 01 00    ...
	push	bc		;; 6a9e: c5          .
	push	hl		;; 6a9f: e5          .
	call	L73c9		;; 6aa0: cd c9 73    ..s
	call	L7397		;; 6aa3: cd 97 73    ..s
	db	10h
	ld	hl,0ff8dh	;; 6aa7: 21 8d ff    ...
	rst2			;; 6aaa: d7          .
	push	hl		;; 6aab: e5          .
	call	L60f2		;; 6aac: cd f2 60    ..`
	ld	a,(L1c10)	;; 6aaf: 3a 10 1c    :..
	or	a,a		;; 6ab2: b7          .
	call	L8c09		;; 6ab3: cd 09 8c    ...
	ld	hl,L1c53	;; 6ab6: 21 53 1c    .S.
	and	a,(hl)		;; 6ab9: a6          .
	push	af		;; 6aba: f5          .
	ld	a,(ix-109)	;; 6abb: dd 7e 93    .~.
	or	a,a		;; 6abe: b7          .
	call	L8c0e		;; 6abf: cd 0e 8c    ...
	ld	b,a		;; 6ac2: 47          G
	pop	af		;; 6ac3: f1          .
	and	a,b		;; 6ac4: a0          .
	rra			;; 6ac5: 1f          .
	jr	nc,L6adf	;; 6ac6: 30 17       0.
	rst3			;; 6ac8: df          .
	db	8dh
	push	hl		;; 6aca: e5          .
	call	L657c		;; 6acb: cd 7c 65    .|e
	ld	l,(ix+0)	;; 6ace: dd 6e 00    .n.
	ld	h,(ix+1)	;; 6ad1: dd 66 01    .f.
	push	hl		;; 6ad4: e5          .
	call	L60a4		;; 6ad5: cd a4 60    ..`
	rst3			;; 6ad8: df          .
	db	0fh
	ld	hl,L1c53	;; 6ada: 21 53 1c    .S.
	ld	(hl),000h	;; 6add: 36 00       6.
L6adf:	ld	a,(L1c53)	;; 6adf: 3a 53 1c    :S.
	xor	a,001h		;; 6ae2: ee 01       ..
	push	af		;; 6ae4: f5          .
	ld	a,(ix-109)	;; 6ae5: dd 7e 93    .~.
	or	a,a		;; 6ae8: b7          .
	call	L8c0e		;; 6ae9: cd 0e 8c    ...
	ld	b,a		;; 6aec: 47          G
	pop	af		;; 6aed: f1          .
	or	a,b		;; 6aee: b0          .
	rra			;; 6aef: 1f          .
	jr	nc,L6b09	;; 6af0: 30 17       0.
	ld	hl,0ff82h	;; 6af2: 21 82 ff    ...
	rst2			;; 6af5: d7          .
	push	hl		;; 6af6: e5          .
	ld	hl,0ff93h	;; 6af7: 21 93 ff    ...
	rst2			;; 6afa: d7          .
	call	L75ea		;; 6afb: cd ea 75    ..u
	ld	a,042h		;; 6afe: 3e 42       >B
	call	L8bb0		;; 6b00: cd b0 8b    ...
	rst3			;; 6b03: df          .
	db	8fh
	push	hl		;; 6b05: e5          .
	call	L6241		;; 6b06: cd 41 62    .Ab
L6b09:	jr	L6b18		;; 6b09: 18 0d       ..

L6b0b:	ld	b,002h		;; 6b0b: 06 02       ..
	call	L8ddc		;; 6b0d: cd dc 8d    ...
	db '-' ! dw L6952
	db '{' ! dw L694f
	dw	L69f5
L6b18:	ld	a,(ix-111)	;; 6b18: dd 7e 91    .~.
	or	a,a		;; 6b1b: b7          .
	jr	nz,L6b31	;; 6b1c: 20 13        .
	ld	l,(ix+0)	;; 6b1e: dd 6e 00    .n.
	ld	h,(ix+1)	;; 6b21: dd 66 01    .f.
	ld	(L1787),hl	;; 6b24: 22 87 17    "..
	call	L1ace		;; 6b27: cd ce 1a    ...
	call	L1ae6		;; 6b2a: cd e6 1a    ...
	ld	(ix-111),008h	;; 6b2d: dd 36 91 08 .6..
L6b31:	ld	a,(ix-111)	;; 6b31: dd 7e 91    .~.
	dec	a		;; 6b34: 3d          =
	ld	(ix-111),a	;; 6b35: dd 77 91    .w.
	ld	hl,(L02f3)	;; 6b38: 2a f3 02    *..
	push	hl		;; 6b3b: e5          .
	call	L7ba1		;; 6b3c: cd a1 7b    ..{
	xor	a,001h		;; 6b3f: ee 01       ..
	rra			;; 6b41: 1f          .
	jr	nc,L6b51	;; 6b42: 30 0d       0.
	call	L7649		;; 6b44: cd 49 76    .Iv
	ld	hl,(L02f3)	;; 6b47: 2a f3 02    *..
	push	hl		;; 6b4a: e5          .
	call	L7682		;; 6b4b: cd 82 76    ..v
	call	L768c		;; 6b4e: cd 8c 76    ..v
L6b51:	jp	L68d5		;; 6b51: c3 d5 68    ..h

L6b54:	ld	hl,(L02f3)	;; 6b54: 2a f3 02    *..
	push	hl		;; 6b57: e5          .
	call	L78e7		;; 6b58: cd e7 78    ..x
	jr	L6b75		;; 6b5b: 18 18       ..

L6b5d:	ld	hl,0ffd7h	;; 6b5d: 21 d7 ff    ...
	rst2			;; 6b60: d7          .
	call	L75ea		;; 6b61: cd ea 75    ..u
	ld	a,037h		;; 6b64: 3e 37       >7
	call	L8bb0		;; 6b66: cd b0 8b    ...
	call	L0803		;; 6b69: cd 03 08    ...
	ld	a,03fh		;; 6b6c: 3e 3f       >?
	push	af		;; 6b6e: f5          .
	call	L0597		;; 6b6f: cd 97 05    ...
	call	L0977		;; 6b72: cd 77 09    .w.
L6b75:	jp	L8d56		;; 6b75: c3 56 8d    .V.

L6b78:	call	L8d27		;; 6b78: cd 27 8d    .'.
	db	'm',99h
	call	L0965		;; 6b7d: cd 65 09    .e.
	ld	a,(L02f2)	;; 6b80: 3a f2 02    :..
	ld	(ix+18),a	;; 6b83: dd 77 12    .w.
	ld	hl,L02f2	;; 6b86: 21 f2 02    ...
	ld	(hl),001h	;; 6b89: 36 01       6.
	ld	hl,L1074	;; 6b8b: 21 74 10    .t.
	call	L75ea		;; 6b8e: cd ea 75    ..u
	ld	hl,L1098	;; 6b91: 21 98 10    ...
	call	L75ea		;; 6b94: cd ea 75    ..u
	call	L8b20		;; 6b97: cd 20 8b    . .
	ld	hl,0ffd1h	;; 6b9a: 21 d1 ff    ...
	rst2			;; 6b9d: d7          .
	ld	a,014h		;; 6b9e: 3e 14       >.
	call	L8b81		;; 6ba0: cd 81 8b    ...
	ld	hl,0ffd1h	;; 6ba3: 21 d1 ff    ...
	rst2			;; 6ba6: d7          .
	call	L75ea		;; 6ba7: cd ea 75    ..u
	ld	bc,04201h	;; 6baa: 01 01 42    ..B
	push	bc		;; 6bad: c5          .
	call	L8b20		;; 6bae: cd 20 8b    . .
	ld	hl,0fffbh	;; 6bb1: 21 fb ff    ...
	rst2			;; 6bb4: d7          .
	ld	a,014h		;; 6bb5: 3e 14       >.
	call	L8b81		;; 6bb7: cd 81 8b    ...
	ld	hl,L1074	;; 6bba: 21 74 10    .t.
	call	L75ea		;; 6bbd: cd ea 75    ..u
	call	L6bc7		;; 6bc0: cd c7 6b    ..k
	db	'.$$$'
L6bc7:	call	L75e5		;; 6bc7: cd e5 75    ..u
	db	4
	call	L8b20		;; 6bcb: cd 20 8b    . .
	ld	hl,0ffe6h	;; 6bce: 21 e6 ff    ...
	rst2			;; 6bd1: d7          .
	ld	a,014h		;; 6bd2: 3e 14       >.
	call	L8b81		;; 6bd4: cd 81 8b    ...
	ld	hl,0fffbh	;; 6bd7: 21 fb ff    ...
	rst2			;; 6bda: d7          .
	call	L75ea		;; 6bdb: cd ea 75    ..u
	call	L793e		;; 6bde: cd 3e 79    .>y
	rra			;; 6be1: 1f          .
	jr	nc,L6bfd	;; 6be2: 30 19       0.
	ld	hl,L02f3	;; 6be4: 21 f3 02    ...
	push	hl		;; 6be7: e5          .
	ld	hl,00000h	;; 6be8: 21 00 00    ...
	push	hl		;; 6beb: e5          .
	ld	hl,0fffbh	;; 6bec: 21 fb ff    ...
	rst2			;; 6bef: d7          .
	call	L75ea		;; 6bf0: cd ea 75    ..u
	call	L7995		;; 6bf3: cd 95 79    ..y
	ld	hl,(L02f3)	;; 6bf6: 2a f3 02    *..
	push	hl		;; 6bf9: e5          .
	call	L78ea		;; 6bfa: cd ea 78    ..x
L6bfd:	ld	hl,L02f3	;; 6bfd: 21 f3 02    ...
	push	hl		;; 6c00: e5          .
	ld	hl,00000h	;; 6c01: 21 00 00    ...
	push	hl		;; 6c04: e5          .
	ld	hl,0ffe6h	;; 6c05: 21 e6 ff    ...
	rst2			;; 6c08: d7          .
	call	L75ea		;; 6c09: cd ea 75    ..u
	call	L7995		;; 6c0c: cd 95 79    ..y
	ld	hl,L02f3	;; 6c0f: 21 f3 02    ...
	push	hl		;; 6c12: e5          .
	ld	hl,00000h	;; 6c13: 21 00 00    ...
	push	hl		;; 6c16: e5          .
	call	L78ba		;; 6c17: cd ba 78    ..x
L6c1a:	ld	hl,0ff84h	;; 6c1a: 21 84 ff    ...
	rst2			;; 6c1d: d7          .
	push	hl		;; 6c1e: e5          .
	ld	hl,0ff82h	;; 6c1f: 21 82 ff    ...
	rst2			;; 6c22: d7          .
	push	hl		;; 6c23: e5          .
	call	L11e0		;; 6c24: cd e0 11    ...
	rra			;; 6c27: 1f          .
	jr	nc,L6c6c	;; 6c28: 30 42       0B
	rst3			;; 6c2a: df          .
	db	84h
	ld	a,h		;; 6c2c: 7c          |
	or	a,l		;; 6c2d: b5          .
	call	L8c0e		;; 6c2e: cd 0e 8c    ...
	push	af		;; 6c31: f5          .
	ld	bc,00100h	;; 6c32: 01 00 01    ...
	rst3			;; 6c35: df          .
	db	82h
	or	a,a		;; 6c37: b7          .
	sbc	hl,bc		;; 6c38: ed 42       .B
	call	L8c0e		;; 6c3a: cd 0e 8c    ...
	ld	b,a		;; 6c3d: 47          G
	pop	af		;; 6c3e: f1          .
	or	a,b		;; 6c3f: b0          .
	rra			;; 6c40: 1f          .
	jr	nc,L6c6a	;; 6c41: 30 27       0'
	ld	a,02dh		;; 6c43: 3e 2d       >-
	push	af		;; 6c45: f5          .
	call	L0597		;; 6c46: cd 97 05    ...
	rst3			;; 6c49: df          .
	db	84h
	push	hl		;; 6c4b: e5          .
	call	L5428		;; 6c4c: cd 28 54    .(T
	call	L6c55		;; 6c4f: cd 55 6c    .Ul
	db	',',21h,' '
L6c55:	call	L75e5		;; 6c55: cd e5 75    ..u
	db	3
	ld	a,037h		;; 6c59: 3e 37       >7
	call	L8bb0		;; 6c5b: cd b0 8b    ...
	call	L0803		;; 6c5e: cd 03 08    ...
	rst3			;; 6c61: df          .
	db	82h
	push	hl		;; 6c63: e5          .
	call	L5428		;; 6c64: cd 28 54    .(T
	call	L0c91		;; 6c67: cd 91 0c    ...
L6c6a:	jr	L6c1a		;; 6c6a: 18 ae       ..

L6c6c:	ld	hl,(L5b72)	;; 6c6c: 2a 72 5b    *r[
	ld	(ix+19),l	;; 6c6f: dd 75 13    .u.
	ld	(ix+20),h	;; 6c72: dd 74 14    .t.
L6c75:	ld	bc,(L1a2a)	;; 6c75: ed 4b 2a 1a .K*.
	ld	l,(ix+19)	;; 6c79: dd 6e 13    .n.
	ld	h,(ix+20)	;; 6c7c: dd 66 14    .f.
	or	a,a		;; 6c7f: b7          .
	sbc	hl,bc		;; 6c80: ed 42       .B
	call	L8c0e		;; 6c82: cd 0e 8c    ...
	push	af		;; 6c85: f5          .
	ld	a,(L02f0)	;; 6c86: 3a f0 02    :..
	xor	a,001h		;; 6c89: ee 01       ..
	ld	b,a		;; 6c8b: 47          G
	pop	af		;; 6c8c: f1          .
	and	a,b		;; 6c8d: a0          .
	rra			;; 6c8e: 1f          .
	jp	nc,L6d28	;; 6c8f: d2 28 6d    .(m
	ld	l,(ix+19)	;; 6c92: dd 6e 13    .n.
	ld	h,(ix+20)	;; 6c95: dd 66 14    .f.
	push	hl		;; 6c98: e5          .
	ld	hl,0ff86h	;; 6c99: 21 86 ff    ...
	rst2			;; 6c9c: d7          .
	push	hl		;; 6c9d: e5          .
	call	L5e1e		;; 6c9e: cd 1e 5e    ..^
	ld	a,(ix-120)	;; 6ca1: dd 7e 88    .~.
	or	a,a		;; 6ca4: b7          .
	jr	nz,L6cca	;; 6ca5: 20 23        #
	ld	a,(ix-119)	;; 6ca7: dd 7e 89    .~.
	cp	a,04fh		;; 6caa: fe 4f       .O
	jr	z,L6cc8		;; 6cac: 28 1a       (.
	ld	a,02dh		;; 6cae: 3e 2d       >-
	push	af		;; 6cb0: f5          .
	call	L0597		;; 6cb1: cd 97 05    ...
	rst3			;; 6cb4: df          .
	db	86h
	push	hl		;; 6cb6: e5          .
	call	L5428		;; 6cb7: cd 28 54    .(T
	ld	a,02ch		;; 6cba: 3e 2c       >,
	push	af		;; 6cbc: f5          .
	call	L0597		;; 6cbd: cd 97 05    ...
	ld	hl,0ff86h	;; 6cc0: 21 86 ff    ...
	rst2			;; 6cc3: d7          .
	push	hl		;; 6cc4: e5          .
	call	L6273		;; 6cc5: cd 73 62    .sb
L6cc8:	jr	L6d12		;; 6cc8: 18 48       .H

L6cca:	ld	a,(ix-120)	;; 6cca: dd 7e 88    .~.
	push	af		;; 6ccd: f5          .
	call	L0597		;; 6cce: cd 97 05    ...
	rst3			;; 6cd1: df          .
	db	86h
	push	hl		;; 6cd3: e5          .
	call	L5428		;; 6cd4: cd 28 54    .(T
	ld	a,(ix-117)	;; 6cd7: dd 7e 8b    .~.
	or	a,a		;; 6cda: b7          .
	jr	z,L6cea		;; 6cdb: 28 0d       (.
	ld	a,02ch		;; 6cdd: 3e 2c       >,
	push	af		;; 6cdf: f5          .
	call	L0597		;; 6ce0: cd 97 05    ...
	ld	a,(ix-117)	;; 6ce3: dd 7e 8b    .~.
	push	af		;; 6ce6: f5          .
	call	L0597		;; 6ce7: cd 97 05    ...
L6cea:	call	L0799		;; 6cea: cd 99 07    ...
	ld	hl,0ff8ch	;; 6ced: 21 8c ff    ...
	rst2			;; 6cf0: d7          .
	push	hl		;; 6cf1: e5          .
	rst3			;; 6cf2: df          .
	db	89h
	push	hl		;; 6cf4: e5          .
	call	L5bac		;; 6cf5: cd ac 5b    ..[
	call	L7643		;; 6cf8: cd 43 76    .Cv
	ld	hl,(L02f3)	;; 6cfb: 2a f3 02    *..
	push	hl		;; 6cfe: e5          .
	call	L7682		;; 6cff: cd 82 76    ..v
	ld	hl,0ff8ch	;; 6d02: 21 8c ff    ...
	rst2			;; 6d05: d7          .
	call	L75ea		;; 6d06: cd ea 75    ..u
	ld	a,000h		;; 6d09: 3e 00       >.
	push	af		;; 6d0b: f5          .
	call	L77c3		;; 6d0c: cd c3 77    ..w
	call	L768c		;; 6d0f: cd 8c 76    ..v
L6d12:	call	L0c91		;; 6d12: cd 91 0c    ...
	ld	bc,00006h	;; 6d15: 01 06 00    ...
	ld	l,(ix+19)	;; 6d18: dd 6e 13    .n.
	ld	h,(ix+20)	;; 6d1b: dd 66 14    .f.
	add	hl,bc		;; 6d1e: 09          .
	ld	(ix+19),l	;; 6d1f: dd 75 13    .u.
	ld	(ix+20),h	;; 6d22: dd 74 14    .t.
	jp	L6c75		;; 6d25: c3 75 6c    .ul

L6d28:	ld	a,(L02f0)	;; 6d28: 3a f0 02    :..
	xor	a,001h		;; 6d2b: ee 01       ..
	rra			;; 6d2d: 1f          .
	jr	nc,L6da3	;; 6d2e: 30 73       0s
	ld	hl,0ffd1h	;; 6d30: 21 d1 ff    ...
	rst2			;; 6d33: d7          .
	call	L75ea		;; 6d34: cd ea 75    ..u
	call	L793e		;; 6d37: cd 3e 79    .>y
	rra			;; 6d3a: 1f          .
	jr	nc,L6d91	;; 6d3b: 30 54       0T
	ld	hl,L1c54	;; 6d3d: 21 54 1c    .T.
	ld	(hl),001h	;; 6d40: 36 01       6.
	ld	hl,(L02f3)	;; 6d42: 2a f3 02    *..
	push	hl		;; 6d45: e5          .
	call	L78e7		;; 6d46: cd e7 78    ..x
	ld	hl,L02f3	;; 6d49: 21 f3 02    ...
	push	hl		;; 6d4c: e5          .
	ld	hl,00000h	;; 6d4d: 21 00 00    ...
	push	hl		;; 6d50: e5          .
	ld	hl,0ffd1h	;; 6d51: 21 d1 ff    ...
	rst2			;; 6d54: d7          .
	call	L75ea		;; 6d55: cd ea 75    ..u
	call	L7995		;; 6d58: cd 95 79    ..y
	ld	hl,L02f3	;; 6d5b: 21 f3 02    ...
	push	hl		;; 6d5e: e5          .
	ld	hl,00000h	;; 6d5f: 21 00 00    ...
	push	hl		;; 6d62: e5          .
	ld	hl,0fffbh	;; 6d63: 21 fb ff    ...
	rst2			;; 6d66: d7          .
	call	L75ea		;; 6d67: cd ea 75    ..u
	call	L7820		;; 6d6a: cd 20 78    . x
	ld	hl,(L02f3)	;; 6d6d: 2a f3 02    *..
	push	hl		;; 6d70: e5          .
	call	L78e7		;; 6d71: cd e7 78    ..x
	ld	hl,L02f3	;; 6d74: 21 f3 02    ...
	push	hl		;; 6d77: e5          .
	ld	hl,00000h	;; 6d78: 21 00 00    ...
	push	hl		;; 6d7b: e5          .
	ld	hl,0ffe6h	;; 6d7c: 21 e6 ff    ...
	rst2			;; 6d7f: d7          .
	call	L75ea		;; 6d80: cd ea 75    ..u
	call	L7995		;; 6d83: cd 95 79    ..y
	ld	hl,L02f3	;; 6d86: 21 f3 02    ...
	push	hl		;; 6d89: e5          .
	ld	hl,00000h	;; 6d8a: 21 00 00    ...
	push	hl		;; 6d8d: e5          .
	call	L78b6		;; 6d8e: cd b6 78    ..x
L6d91:	ld	hl,L02f3	;; 6d91: 21 f3 02    ...
	push	hl		;; 6d94: e5          .
	ld	hl,00000h	;; 6d95: 21 00 00    ...
	push	hl		;; 6d98: e5          .
	ld	hl,0ffd1h	;; 6d99: 21 d1 ff    ...
	rst2			;; 6d9c: d7          .
	call	L75ea		;; 6d9d: cd ea 75    ..u
	call	L7820		;; 6da0: cd 20 78    . x
L6da3:	ld	hl,(L02f3)	;; 6da3: 2a f3 02    *..
	push	hl		;; 6da6: e5          .
	call	L78e7		;; 6da7: cd e7 78    ..x
	ld	a,(ix+18)	;; 6daa: dd 7e 12    .~.
	ld	(L02f2),a	;; 6dad: 32 f2 02    2..
	jp	L8d56		;; 6db0: c3 56 8d    .V.

L6db3:	call	L8d27		;; 6db3: cd 27 8d    .'.
	db	0feh,8
	ld	hl,L1c54	;; 6db8: 21 54 1c    .T.
	ld	(hl),001h	;; 6dbb: 36 01       6.
	call	L7611		;; 6dbd: cd 11 76    ..v
	push	hl		;; 6dc0: e5          .
	push	bc		;; 6dc1: c5          .
	ld	hl,(L01dd)	;; 6dc2: 2a dd 01    *..
	rst4			;; 6dc5: e7          .
	db	87h
	call	L87f6		;; 6dc7: cd f6 87    ...
	ld	h,b		;; 6dca: 60          `
	ld	l,c		;; 6dcb: 69          i
	rst3			;; 6dcc: df          .
	db	2
	ld	hl,L5b72	;; 6dce: 21 72 5b    .r[
	push	hl		;; 6dd1: e5          .
	rst3			;; 6dd2: df          .
	db	82h
	push	hl		;; 6dd4: e5          .
	call	L7391		;; 6dd5: cd 91 73    ..s
	ld	hl,(L5b72)	;; 6dd8: 2a 72 5b    *r[
	ld	(L1a2a),hl	;; 6ddb: 22 2a 1a    "*.
	ld	c,(ix-126)	;; 6dde: dd 4e 82    .N.
	ld	b,(ix-125)	;; 6de1: dd 46 83    .F.
	add	hl,bc		;; 6de4: 09          .
	ld	(L5b70),hl	;; 6de5: 22 70 5b    "p[
	ld	(L1a28),hl	;; 6de8: 22 28 1a    "(.
	jp	L8d56		;; 6deb: c3 56 8d    .V.

L6dee:	db	0,0
L6df0:	db	0,0
L6df2:	db	0
L6df3:	db	0,0
L6df5:	db	0,0
L6df7:	db	0,0
L6df9:	db	0
L6dfa:	db	0,0
L6dfc:	db	0,0
L6dfe:	db	0
L6dff:	db	0
L6e00:	db	0
L6e01:	db	0
L6e02:	db	0,0
L6e04:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L6e14:	call	L8d27		;; 6e14: cd 27 8d    .'.
	db	0,8
	ld	a,(ix-125)	;; 6e19: dd 7e 83    .~.
	ld	(L6e01),a	;; 6e1c: 32 01 6e    2.n
	ld	hl,(L6df0)	;; 6e1f: 2a f0 6d    *.m
	inc	hl		;; 6e22: 23          #
	push	hl		;; 6e23: e5          .
	call	L1355		;; 6e24: cd 55 13    .U.
	ld	(L6e00),a	;; 6e27: 32 00 6e    2.n
	cp	a,080h		;; 6e2a: fe 80       ..
	jr	c,L6e3c		;; 6e2c: 38 0e       8.
	ld	bc,0ff00h	;; 6e2e: 01 00 ff    ...
	ld	a,(L6e00)	;; 6e31: 3a 00 6e    :.n
	ld	l,a		;; 6e34: 6f          o
	ld	h,000h		;; 6e35: 26 00       &.
	add	hl,bc		;; 6e37: 09          .
	ld	a,l		;; 6e38: 7d          }
	ld	(L6e00),a	;; 6e39: 32 00 6e    2.n
L6e3c:	jp	L8d56		;; 6e3c: c3 56 8d    .V.

L6e3f:	call	L8d27		;; 6e3f: cd 27 8d    .'.
	db	0,6
	ld	a,049h		;; 6e44: 3e 49       >I
	push	af		;; 6e46: f5          .
	call	L0597		;; 6e47: cd 97 05    ...
	ld	a,(L6e01)	;; 6e4a: 3a 01 6e    :.n
	push	af		;; 6e4d: f5          .
	call	L0597		;; 6e4e: cd 97 05    ...
	jp	L8d56		;; 6e51: c3 56 8d    .V.

L6e54:	call	L8d27		;; 6e54: cd 27 8d    .'.
	db	0feh,0ah
	ld	hl,00000h	;; 6e59: 21 00 00    ...
	ld	(L6e02),hl	;; 6e5c: 22 02 6e    ".n
	rst3			;; 6e5f: df          .
	db	84h
	ld	de,L54a2	;; 6e61: 11 a2 54    ..T
	add	hl,de		;; 6e64: 19          .
	ld	a,(hl)		;; 6e65: 7e          ~
	and	a,07fh		;; 6e66: e6 7f       ..
	call	L7165		;; 6e68: cd 65 71    .eq
L6e6b:	rst3			;; 6e6b: df          .
	db	84h
	inc	hl		;; 6e6d: 23          #
	ld	de,L54a2	;; 6e6e: 11 a2 54    ..T
	add	hl,de		;; 6e71: 19          .
	ld	a,(hl)		;; 6e72: 7e          ~
	and	a,07fh		;; 6e73: e6 7f       ..
	ld	(L6dff),a	;; 6e75: 32 ff 6d    2.m
	ld	a,(L6dff)	;; 6e78: 3a ff 6d    :.m
	ld	l,a		;; 6e7b: 6f          o
	ld	h,000h		;; 6e7c: 26 00       &.
	add	hl,hl		;; 6e7e: 29          )
	ld	de,L5440-68h	;; 6e7f: 11 d8 53    ..S
	add	hl,de		;; 6e82: 19          .
	rst4			;; 6e83: e7          .
	db	80h
	ld	(L6e02),hl	;; 6e85: 22 02 6e    ".n
	ld	a,(L6dff)	;; 6e88: 3a ff 6d    :.m
	call	L6ea8		;; 6e8b: cd a8 6e    ..n
L6e8e:	ld	a,058h		;; 6e8e: 3e 58       >X
	push	af		;; 6e90: f5          .
	call	L6e14		;; 6e91: cd 14 6e    ..n
	jr	L6eba		;; 6e94: 18 24       .$

L6e96:	ld	a,059h		;; 6e96: 3e 59       >Y
	push	af		;; 6e98: f5          .
	call	L6e14		;; 6e99: cd 14 6e    ..n
	jr	L6eba		;; 6e9c: 18 1c       ..

L6e9e:	jr	L6eba		;; 6e9e: 18 1a       ..

L6ea0:	ld	a,061h		;; 6ea0: 3e 61       >a
	push	af		;; 6ea2: f5          .
	call	L0597		;; 6ea3: cd 97 05    ...
	jr	L6eba		;; 6ea6: 18 12       ..

L6ea8:	ld	bc,03005h	;; 6ea8: 01 05 30    ..0
	call	L8d90		;; 6eab: cd 90 8d    ...
	dw	L6e9e
	dw	L6e8e
	dw	L6e96
	dw	L6e9e
	dw	L6e9e
	dw	L6ea0
L6eba:	jp	L7172		;; 6eba: c3 72 71    .rq

L6ebd:	ld	a,062h		;; 6ebd: 3e 62       >b
	push	af		;; 6ebf: f5          .
	call	L0597		;; 6ec0: cd 97 05    ...
	ld	hl,(L6dee)	;; 6ec3: 2a ee 6d    *.m
	ld	(L6df0),hl	;; 6ec6: 22 f0 6d    ".m
	jp	L7172		;; 6ec9: c3 72 71    .rq

L6ecc:	rst3			;; 6ecc: df          .
	db	84h
	ld	de,L54a2	;; 6ece: 11 a2 54    ..T
	add	hl,de		;; 6ed1: 19          .
	ld	a,(hl)		;; 6ed2: 7e          ~
	ld	(L6dfe),a	;; 6ed3: 32 fe 6d    2.m
	and	a,07fh		;; 6ed6: e6 7f       ..
	ld	(L6dff),a	;; 6ed8: 32 ff 6d    2.m
	cp	a,05bh		;; 6edb: fe 5b       .[
	jp	c,L712a		;; 6edd: da 2a 71    .*q
	ld	a,(L6dff)	;; 6ee0: 3a ff 6d    :.m
	ld	l,a		;; 6ee3: 6f          o
	ld	h,000h		;; 6ee4: 26 00       &.
	ld	de,L5440-59h	;; 6ee6: 11 e7 53    ..S
	add	hl,de		;; 6ee9: 19          .
	ld	a,(hl)		;; 6eea: 7e          ~
	ld	(L6df9),a	;; 6eeb: 32 f9 6d    2.m
	or	a,a		;; 6eee: b7          .
	jp	nz,L7089	;; 6eef: c2 89 70    ..p
	ld	a,(L6dff)	;; 6ef2: 3a ff 6d    :.m
	call	L706a		;; 6ef5: cd 6a 70    .jp
L6ef8:	ld	hl,L1c5a	;; 6ef8: 21 5a 1c    .Z.
	ld	(hl),001h	;; 6efb: 36 01       6.
	jp	L7086		;; 6efd: c3 86 70    ..p

L6f00:	ld	a,028h		;; 6f00: 3e 28       >(
	push	af		;; 6f02: f5          .
	call	L0597		;; 6f03: cd 97 05    ...
	call	L6e3f		;; 6f06: cd 3f 6e    .?n
	ld	a,02bh		;; 6f09: 3e 2b       >+
	push	af		;; 6f0b: f5          .
	call	L0597		;; 6f0c: cd 97 05    ...
	ld	a,(L6e00)	;; 6f0f: 3a 00 6e    :.n
	ld	l,a		;; 6f12: 6f          o
	ld	h,000h		;; 6f13: 26 00       &.
	push	hl		;; 6f15: e5          .
	ld	a,(L6e01)	;; 6f16: 3a 01 6e    :.n
	push	af		;; 6f19: f5          .
	call	L57cd		;; 6f1a: cd cd 57    ..W
	ld	a,(L6e01)	;; 6f1d: 3a 01 6e    :.n
	ld	(L1c55),a	;; 6f20: 32 55 1c    2U.
	ld	a,(L6e00)	;; 6f23: 3a 00 6e    :.n
	ld	l,a		;; 6f26: 6f          o
	ld	h,000h		;; 6f27: 26 00       &.
	ld	(L1c56),hl	;; 6f29: 22 56 1c    "V.
	ld	a,029h		;; 6f2c: 3e 29       >)
	push	af		;; 6f2e: f5          .
	call	L0597		;; 6f2f: cd 97 05    ...
	ld	hl,(L6df0)	;; 6f32: 2a f0 6d    *.m
	inc	hl		;; 6f35: 23          #
	ld	(L6df0),hl	;; 6f36: 22 f0 6d    ".m
	jp	L7086		;; 6f39: c3 86 70    ..p

L6f3c:	ld	hl,L6e04	;; 6f3c: 21 04 6e    ..n
	call	L75be		;; 6f3f: cd be 75    ..u
	db	10h
	call	L75c9		;; 6f43: cd c9 75    ..u
	db	10h,0,0,0,0,0,0,0,0,0,0,0,0,0
	ld	bc,0027ch	;; 6f54: 01 7c 02    .|.
	call	L74e3		;; 6f57: cd e3 74    ..t
	ld	bc,00001h	;; 6f5a: 01 01 00    ...
	push	bc		;; 6f5d: c5          .
	call	L74d1		;; 6f5e: cd d1 74    ..t
	jr	z,L6f9c		;; 6f61: 28 39       (9
	ld	a,028h		;; 6f63: 3e 28       >(
	push	af		;; 6f65: f5          .
	ld	hl,L6e04	;; 6f66: 21 04 6e    ..n
	call	L75be		;; 6f69: cd be 75    ..u
	db	10h
	call	L7450		;; 6f6d: cd 50 74    .Pt
	jr	z,L6f95		;; 6f70: 28 23       (#
	ld	a,(L6df2)	;; 6f72: 3a f2 6d    :.m
	call	L6f86		;; 6f75: cd 86 6f    ..o
L6f78:	ld	hl,L1c55	;; 6f78: 21 55 1c    .U.
	ld	(hl),042h	;; 6f7b: 36 42       6B
	jr	L6f93		;; 6f7d: 18 14       ..

L6f7f:	ld	hl,L1c55	;; 6f7f: 21 55 1c    .U.
	ld	(hl),057h	;; 6f82: 36 57       6W
	jr	L6f93		;; 6f84: 18 0d       ..

L6f86:	ld	b,002h		;; 6f86: 06 02       ..
	call	L8ddc		;; 6f88: cd dc 8d    ...
	db '2' ! dw L6f78
	db ':' ! dw L6f78
	dw	L6f7f
L6f93:	jr	L6f9a		;; 6f93: 18 05       ..

L6f95:	ld	hl,L1c55	;; 6f95: 21 55 1c    .U.
	ld	(hl),054h	;; 6f98: 36 54       6T
L6f9a:	jr	L6fb8		;; 6f9a: 18 1c       ..

L6f9c:	ld	bc,00002h	;; 6f9c: 01 02 00    ...
	ld	hl,(L6df7)	;; 6f9f: 2a f7 6d    *.m
	add	hl,bc		;; 6fa2: 09          .
	ld	de,L54a2	;; 6fa3: 11 a2 54    ..T
	add	hl,de		;; 6fa6: 19          .
	ld	a,(hl)		;; 6fa7: 7e          ~
	cp	a,043h		;; 6fa8: fe 43       .C
	jr	nz,L6fb3	;; 6faa: 20 07        .
	ld	hl,L1c55	;; 6fac: 21 55 1c    .U.
	ld	(hl),043h	;; 6faf: 36 43       6C
	jr	L6fb8		;; 6fb1: 18 05       ..

L6fb3:	ld	hl,L1c55	;; 6fb3: 21 55 1c    .U.
	ld	(hl),04ch	;; 6fb6: 36 4c       6L
L6fb8:	ld	hl,(L6df0)	;; 6fb8: 2a f0 6d    *.m
	push	hl		;; 6fbb: e5          .
	call	L14b1		;; 6fbc: cd b1 14    ...
	ld	(L1c56),hl	;; 6fbf: 22 56 1c    "V.
	push	hl		;; 6fc2: e5          .
	ld	a,(L1c55)	;; 6fc3: 3a 55 1c    :U.
	push	af		;; 6fc6: f5          .
	call	L57cd		;; 6fc7: cd cd 57    ..W
	ld	bc,00002h	;; 6fca: 01 02 00    ...
	ld	hl,(L6df0)	;; 6fcd: 2a f0 6d    *.m
	add	hl,bc		;; 6fd0: 09          .
	ld	(L6df0),hl	;; 6fd1: 22 f0 6d    ".m
	jp	L7086		;; 6fd4: c3 86 70    ..p

L6fd7:	ld	bc,0ffe0h	;; 6fd7: 01 e0 ff    ...
	ld	a,(L6dff)	;; 6fda: 3a ff 6d    :.m
	ld	l,a		;; 6fdd: 6f          o
	ld	h,000h		;; 6fde: 26 00       &.
	add	hl,bc		;; 6fe0: 09          .
	ld	a,l		;; 6fe1: 7d          }
	ld	(L1c55),a	;; 6fe2: 32 55 1c    2U.
	ld	hl,(L6df0)	;; 6fe5: 2a f0 6d    *.m
	push	hl		;; 6fe8: e5          .
	call	L1355		;; 6fe9: cd 55 13    .U.
	ld	l,a		;; 6fec: 6f          o
	ld	h,000h		;; 6fed: 26 00       &.
	ld	(L1c56),hl	;; 6fef: 22 56 1c    "V.
	push	hl		;; 6ff2: e5          .
	ld	a,(L1c55)	;; 6ff3: 3a 55 1c    :U.
	push	af		;; 6ff6: f5          .
	call	L57cd		;; 6ff7: cd cd 57    ..W
	ld	hl,(L6df0)	;; 6ffa: 2a f0 6d    *.m
	inc	hl		;; 6ffd: 23          #
	ld	(L6df0),hl	;; 6ffe: 22 f0 6d    ".m
	jp	L7086		;; 7001: c3 86 70    ..p

L7004:	ld	hl,(L6df0)	;; 7004: 2a f0 6d    *.m
	push	hl		;; 7007: e5          .
	call	L1355		;; 7008: cd 55 13    .U.
	ld	(ix-126),a	;; 700b: dd 77 82    .w.
	ld	bc,(L6df0)	;; 700e: ed 4b f0 6d .K.m
	ld	l,a		;; 7012: 6f          o
	ld	h,000h		;; 7013: 26 00       &.
	add	hl,bc		;; 7015: 09          .
	inc	hl		;; 7016: 23          #
	ld	(L6dfc),hl	;; 7017: 22 fc 6d    ".m
	ld	a,07fh		;; 701a: 3e 7f       >.
	cp	a,(ix-126)	;; 701c: dd be 82    ...
	jr	nc,L7036	;; 701f: 30 15       0.
	ld	hl,(L6dfc)	;; 7021: 2a fc 6d    *.m
	rst4			;; 7024: e7          .
	db	87h
	push	hl		;; 7026: e5          .
	push	bc		;; 7027: c5          .
	ld	bc,00100h	;; 7028: 01 00 01    ...
	ld	hl,00000h	;; 702b: 21 00 00    ...
	call	L87f6		;; 702e: cd f6 87    ...
	ld	h,b		;; 7031: 60          `
	ld	l,c		;; 7032: 69          i
	ld	(L6dfc),hl	;; 7033: 22 fc 6d    ".m
L7036:	ld	hl,L1c55	;; 7036: 21 55 1c    .U.
	ld	(hl),052h	;; 7039: 36 52       6R
	ld	hl,(L6dfc)	;; 703b: 2a fc 6d    *.m
	ld	(L1c56),hl	;; 703e: 22 56 1c    "V.
	push	hl		;; 7041: e5          .
	ld	a,(L1c55)	;; 7042: 3a 55 1c    :U.
	push	af		;; 7045: f5          .
	call	L57cd		;; 7046: cd cd 57    ..W
	ld	hl,(L6df0)	;; 7049: 2a f0 6d    *.m
	push	hl		;; 704c: e5          .
	ld	a,(ix-126)	;; 704d: dd 7e 82    .~.
	push	af		;; 7050: f5          .
	call	L5b04		;; 7051: cd 04 5b    ..[
	ld	hl,(L6df0)	;; 7054: 2a f0 6d    *.m
	inc	hl		;; 7057: 23          #
	ld	(L6df0),hl	;; 7058: 22 f0 6d    ".m
	jr	L7086		;; 705b: 18 29       .)

L705d:	call	L6e3f		;; 705d: cd 3f 6e    .?n
	jr	L7086		;; 7060: 18 24       .$

L7062:	ld	a,05ch		;; 7062: 3e 5c       >\
	push	af		;; 7064: f5          .
	call	L0597		;; 7065: cd 97 05    ...
	jr	L7086		;; 7068: 18 1c       ..

L706a:	ld	b,007h		;; 706a: 06 07       ..
	call	L8ddc		;; 706c: cd dc 8d    ...
	db '[' ! dw L6ef8
	db 'd' ! dw L6f00
	db 'l' ! dw L6f3c
	db 'n' ! dw L6fd7
	db 'p' ! dw L6fd7
	db 'x' ! dw L7004
	db 'y' ! dw L705d
	dw	L7062
L7086:	jp	L7128		;; 7086: c3 28 71    .(q

L7089:	ld	a,(L6dff)	;; 7089: 3a ff 6d    :.m
	cp	a,077h		;; 708c: fe 77       .w
	jr	nz,L70b0	;; 708e: 20 20         
	ld	hl,L1c55	;; 7090: 21 55 1c    .U.
	ld	(hl),043h	;; 7093: 36 43       6C
	ld	a,(L6df2)	;; 7095: 3a f2 6d    :.m
	push	af		;; 7098: f5          .
	ld	a,038h		;; 7099: 3e 38       >8
	push	af		;; 709b: f5          .
	call	L72f2		;; 709c: cd f2 72    ..r
	ld	l,a		;; 709f: 6f          o
	ld	h,000h		;; 70a0: 26 00       &.
	ld	(L1c56),hl	;; 70a2: 22 56 1c    "V.
	push	hl		;; 70a5: e5          .
	ld	a,(L1c55)	;; 70a6: 3a 55 1c    :U.
	push	af		;; 70a9: f5          .
	call	L57cd		;; 70aa: cd cd 57    ..W
	jp	L7128		;; 70ad: c3 28 71    .(q

L70b0:	ld	a,(L6df2)	;; 70b0: 3a f2 6d    :.m
	push	af		;; 70b3: f5          .
	ld	a,(L6df9)	;; 70b4: 3a f9 6d    :.m
	push	af		;; 70b7: f5          .
	call	L72f2		;; 70b8: cd f2 72    ..r
	ld	(L6df3),a	;; 70bb: 32 f3 6d    2.m
L70be:	ld	a,(L6df9)	;; 70be: 3a f9 6d    :.m
	and	a,001h		;; 70c1: e6 01       ..
	or	a,a		;; 70c3: b7          .
	jr	nz,L70d8	;; 70c4: 20 12        .
	ld	a,(L6df9)	;; 70c6: 3a f9 6d    :.m
	srl	a		;; 70c9: cb 3f       .?
	ld	(L6df9),a	;; 70cb: 32 f9 6d    2.m
	ld	a,(L6df3)	;; 70ce: 3a f3 6d    :.m
	srl	a		;; 70d1: cb 3f       .?
	ld	(L6df3),a	;; 70d3: 32 f3 6d    2.m
	jr	L70be		;; 70d6: 18 e6       ..

L70d8:	ld	a,(L6dff)	;; 70d8: 3a ff 6d    :.m
	ld	l,a		;; 70db: 6f          o
	ld	h,000h		;; 70dc: 26 00       &.
	add	hl,hl		;; 70de: 29          )
	ld	de,L5440-94h	;; 70e2: 19          .
	add	hl,de		;; 70e2: 19          .
	rst4			;; 70e3: e7          .
	db	80h
	ld	(L6dfa),hl	;; 70e5: 22 fa 6d    ".m
L70e8:	ld	a,(L6df3)	;; 70e8: 3a f3 6d    :.m
	or	a,a		;; 70eb: b7          .
	jr	z,L7113		;; 70ec: 28 25       (%
	ld	a,(L6df3)	;; 70ee: 3a f3 6d    :.m
	dec	a		;; 70f1: 3d          =
	ld	(L6df3),a	;; 70f2: 32 f3 6d    2.m
L70f5:	ld	hl,(L6dfa)	;; 70f5: 2a fa 6d    *.m
	ld	de,L54a2	;; 70f8: 11 a2 54    ..T
	add	hl,de		;; 70fb: 19          .
	ld	a,(hl)		;; 70fc: 7e          ~
	cp	a,080h		;; 70fd: fe 80       ..
	jr	nc,L710a	;; 70ff: 30 09       0.
	ld	hl,(L6dfa)	;; 7101: 2a fa 6d    *.m
	inc	hl		;; 7104: 23          #
	ld	(L6dfa),hl	;; 7105: 22 fa 6d    ".m
	jr	L70f5		;; 7108: 18 eb       ..

L710a:	ld	hl,(L6dfa)	;; 710a: 2a fa 6d    *.m
	inc	hl		;; 710d: 23          #
	ld	(L6dfa),hl	;; 710e: 22 fa 6d    ".m
	jr	L70e8		;; 7111: 18 d5       ..

L7113:	ld	a,(L6dfe)	;; 7113: 3a fe 6d    :.m
	ld	(ix-125),a	;; 7116: dd 77 83    .w.
	ld	hl,(L6dfa)	;; 7119: 2a fa 6d    *.m
	push	hl		;; 711c: e5          .
	rst4			;; 711d: e7          .
	db	8ah
	call	L6e54		;; 711f: cd 54 6e    .Tn
	ld	a,(ix-125)	;; 7122: dd 7e 83    .~.
	ld	(L6dfe),a	;; 7125: 32 fe 6d    2.m
L7128:	jr	L7140		;; 7128: 18 16       ..

L712a:	ld	a,(L6dff)	;; 712a: 3a ff 6d    :.m
	cp	a,020h		;; 712d: fe 20       . 
	jr	nz,L7139	;; 712f: 20 08        .
	ld	a,002h		;; 7131: 3e 02       >.
	push	af		;; 7133: f5          .
	call	L0d9b		;; 7134: cd 9b 0d    ...
	jr	L7140		;; 7137: 18 07       ..

L7139:	ld	a,(L6dff)	;; 7139: 3a ff 6d    :.m
	push	af		;; 713c: f5          .
	call	L0597		;; 713d: cd 97 05    ...
L7140:	rst3			;; 7140: df          .
	db	84h
	inc	hl		;; 7142: 23          #
	rst3			;; 7143: df          .
	db	4
	ld	a,(L6dfe)	;; 7145: 3a fe 6d    :.m
	cp	a,080h		;; 7148: fe 80       ..
	ld	a,000h		;; 714a: 3e 00       >.
	ccf			;; 714c: 3f          ?
	rla			;; 714d: 17          .
	push	af		;; 714e: f5          .
	ld	bc,(L6dee)	;; 714f: ed 4b ee 6d .K.m
	ld	hl,(L6df0)	;; 7153: 2a f0 6d    *.m
	or	a,a		;; 7156: b7          .
	sbc	hl,bc		;; 7157: ed 42       .B
	call	L8c09		;; 7159: cd 09 8c    ...
	ld	b,a		;; 715c: 47          G
	pop	af		;; 715d: f1          .
	or	a,b		;; 715e: b0          .
	rra			;; 715f: 1f          .
	jp	nc,L6ecc	;; 7160: d2 cc 6e    ..n
	jr	L7172		;; 7163: 18 0d       ..

L7165:	ld	b,002h		;; 7165: 06 02       ..
	call	L8ddc		;; 7167: cd dc 8d    ...
	db '*' ! dw L6e6b
	db '?' ! dw L6ebd
	dw	L6ecc
L7172:	jp	L8d56		;; 7172: c3 56 8d    .V.

L7175:	call	L8d27		;; 7175: cd 27 8d    .'.
	db	0ffh,9
	ld	hl,L3170	;; 717a: 21 70 31    .p1
	ld	(hl),000h	;; 717d: 36 00       6.
	rst3			;; 717f: df          .
	db	83h
	ld	(L6df0),hl	;; 7181: 22 f0 6d    ".m
	ld	(L6dee),hl	;; 7184: 22 ee 6d    ".m
	ld	hl,00000h	;; 7187: 21 00 00    ...
	ld	(L6df5),hl	;; 718a: 22 f5 6d    ".m
L718d:	ld	hl,(L6df0)	;; 718d: 2a f0 6d    *.m
	push	hl		;; 7190: e5          .
	call	L1355		;; 7191: cd 55 13    .U.
	ld	(L6df2),a	;; 7194: 32 f2 6d    2.m
	cp	a,0cdh		;; 7197: fe cd       ..
	jr	nz,L71a2	;; 7199: 20 07        .
	ld	hl,L3170	;; 719b: 21 70 31    .p1
	ld	(hl),001h	;; 719e: 36 01       6.
	jr	L71b5		;; 71a0: 18 13       ..

L71a2:	ld	a,(L6df2)	;; 71a2: 3a f2 6d    :.m
	push	af		;; 71a5: f5          .
	ld	a,0c7h		;; 71a6: 3e c7       >.
	push	af		;; 71a8: f5          .
	call	L72f2		;; 71a9: cd f2 72    ..r
	cp	a,0c7h		;; 71ac: fe c7       ..
	jr	nz,L71b5	;; 71ae: 20 05        .
	ld	hl,L3170	;; 71b0: 21 70 31    .p1
	ld	(hl),001h	;; 71b3: 36 01       6.
L71b5:	ld	hl,(L6df0)	;; 71b5: 2a f0 6d    *.m
	inc	hl		;; 71b8: 23          #
	ld	(L6df0),hl	;; 71b9: 22 f0 6d    ".m
	ld	bc,(L5440)	;; 71bc: ed 4b 40 54 .K@T
	ld	hl,(L6df5)	;; 71c0: 2a f5 6d    *.m
	or	a,a		;; 71c3: b7          .
	sbc	hl,bc		;; 71c4: ed 42       .B
	jr	nz,L71d2	;; 71c6: 20 0a        .
	ld	hl,(L6df0)	;; 71c8: 2a f0 6d    *.m
	push	hl		;; 71cb: e5          .
	call	L1355		;; 71cc: cd 55 13    .U.
	ld	(L6df2),a	;; 71cf: 32 f2 6d    2.m
L71d2:	ld	hl,(L6df5)	;; 71d2: 2a f5 6d    *.m
	ld	(L6df7),hl	;; 71d5: 22 f7 6d    ".m
	ld	hl,L6df3	;; 71d8: 21 f3 6d    ..m
	ld	(hl),000h	;; 71db: 36 00       6.
	ld	hl,(L6df5)	;; 71dd: 2a f5 6d    *.m
	inc	hl		;; 71e0: 23          #
	ld	(L6df5),hl	;; 71e1: 22 f5 6d    ".m
L71e4:	ld	hl,(L6df5)	;; 71e4: 2a f5 6d    *.m
	inc	hl		;; 71e7: 23          #
	ld	(L6df5),hl	;; 71e8: 22 f5 6d    ".m
	ld	hl,(L6df5)	;; 71eb: 2a f5 6d    *.m
	ld	de,L54a2	;; 71ee: 11 a2 54    ..T
	add	hl,de		;; 71f1: 19          .
	ld	a,(hl)		;; 71f2: 7e          ~
	ld	(L6dfe),a	;; 71f3: 32 fe 6d    2.m
	cp	a,080h		;; 71f6: fe 80       ..
	jr	c,L71e4		;; 71f8: 38 ea       8.
	ld	hl,(L6df7)	;; 71fa: 2a f7 6d    *.m
	inc	hl		;; 71fd: 23          #
	ld	de,L54a2	;; 71fe: 11 a2 54    ..T
	add	hl,de		;; 7201: 19          .
	ld	a,(hl)		;; 7202: 7e          ~
	push	af		;; 7203: f5          .
	ld	a,(L6df2)	;; 7204: 3a f2 6d    :.m
	push	af		;; 7207: f5          .
	call	L72f2		;; 7208: cd f2 72    ..r
	push	af		;; 720b: f5          .
	ld	hl,(L6df7)	;; 720c: 2a f7 6d    *.m
	ld	de,L54a2	;; 720f: 11 a2 54    ..T
	add	hl,de		;; 7212: 19          .
	pop	af		;; 7213: f1          .
	cp	a,(hl)		;; 7214: be          .
	jp	nz,L729e	;; 7215: c2 9e 72    ..r
	ld	hl,(L6df7)	;; 7218: 2a f7 6d    *.m
	inc	hl		;; 721b: 23          #
	ld	(L6df5),hl	;; 721c: 22 f5 6d    ".m
	ld	hl,L6df3	;; 721f: 21 f3 6d    ..m
	ld	(hl),000h	;; 7222: 36 00       6.
	ld	hl,L6e04	;; 7224: 21 04 6e    ..n
	push	hl		;; 7227: e5          .
	ld	bc,00001h	;; 7228: 01 01 00    ...
	push	bc		;; 722b: c5          .
	call	L7546		;; 722c: cd 46 75    .Fu
	db	10h
L7230:	ld	hl,(L6df5)	;; 7230: 2a f5 6d    *.m
	inc	hl		;; 7233: 23          #
	ld	(L6df5),hl	;; 7234: 22 f5 6d    ".m
	ld	hl,(L6df5)	;; 7237: 2a f5 6d    *.m
	ld	de,L54a2	;; 723a: 11 a2 54    ..T
	add	hl,de		;; 723d: 19          .
	ld	a,(hl)		;; 723e: 7e          ~
	ld	(L6dfe),a	;; 723f: 32 fe 6d    2.m
	ld	hl,L6e04	;; 7242: 21 04 6e    ..n
	push	hl		;; 7245: e5          .
	ld	hl,L6e04	;; 7246: 21 04 6e    ..n
	call	L75be		;; 7249: cd be 75    ..u
	db	10h
	ld	a,(L6dfe)	;; 724d: 3a fe 6d    :.m
	and	a,07fh		;; 7250: e6 7f       ..
	ld	l,a		;; 7252: 6f          o
	ld	h,000h		;; 7253: 26 00       &.
	ld	bc,00001h	;; 7255: 01 01 00    ...
	push	bc		;; 7258: c5          .
	push	hl		;; 7259: e5          .
	call	L73c9		;; 725a: cd c9 73    ..s
	call	L7514		;; 725d: cd 14 75    ..u
	call	L7546		;; 7260: cd 46 75    .Fu
	db	10h
	ld	a,(L6dfe)	;; 7264: 3a fe 6d    :.m
	cp	a,080h		;; 7267: fe 80       ..
	jr	c,L7230		;; 7269: 38 c5       8.
	ld	bc,00002h	;; 726b: 01 02 00    ...
	ld	hl,(L6df7)	;; 726e: 2a f7 6d    *.m
	add	hl,bc		;; 7271: 09          .
	push	hl		;; 7272: e5          .
	rst4			;; 7273: e7          .
	db	82h
	call	L6e54		;; 7275: cd 54 6e    .Tn
	ld	hl,(L6e02)	;; 7278: 2a 02 6e    *.n
	ld	(L6df5),hl	;; 727b: 22 f5 6d    ".m
	ld	hl,(L6df0)	;; 727e: 2a f0 6d    *.m
	rst4			;; 7281: e7          .
	db	87h
	push	hl		;; 7283: e5          .
	push	bc		;; 7284: c5          .
	ld	hl,(L6dee)	;; 7285: 2a ee 6d    *.m
	rst4			;; 7288: e7          .
	db	87h
	call	L87f6		;; 728a: cd f6 87    ...
	ld	a,c		;; 728d: 79          y
	ld	(L1c58),a	;; 728e: 32 58 1c    2X.
	or	a,a		;; 7291: b7          .
	jr	nz,L729a	;; 7292: 20 06        .
	ld	a,063h		;; 7294: 3e 63       >c
	push	af		;; 7296: f5          .
	call	L0597		;; 7297: cd 97 05    ...
L729a:	jr	L72ca		;; 729a: 18 2e       ..

	jr	L72c7		;; 729c: 18 29       .)

L729e:	ld	hl,(L6df5)	;; 729e: 2a f5 6d    *.m
	inc	hl		;; 72a1: 23          #
	ld	(L6df5),hl	;; 72a2: 22 f5 6d    ".m
	ld	bc,00002h	;; 72a5: 01 02 00    ...
	ld	hl,(L6df5)	;; 72a8: 2a f5 6d    *.m
	add	hl,bc		;; 72ab: 09          .
	ld	de,L54a2	;; 72ac: 11 a2 54    ..T
	add	hl,de		;; 72af: 19          .
	ld	a,(hl)		;; 72b0: 7e          ~
	or	a,a		;; 72b1: b7          .
	jr	nz,L72c7	;; 72b2: 20 13        .
	ld	hl,L1c58	;; 72b4: 21 58 1c    .X.
	ld	(hl),000h	;; 72b7: 36 00       6.
	ld	hl,00000h	;; 72b9: 21 00 00    ...
	ld	(L6e02),hl	;; 72bc: 22 02 6e    ".n
	ld	a,064h		;; 72bf: 3e 64       >d
	push	af		;; 72c1: f5          .
	call	L0597		;; 72c2: cd 97 05    ...
	jr	L72ca		;; 72c5: 18 03       ..

L72c7:	jp	L71d2		;; 72c7: c3 d2 71    ..q

L72ca:	ld	hl,(L6e02)	;; 72ca: 2a 02 6e    *.n
	ld	a,h		;; 72cd: 7c          |
	or	a,l		;; 72ce: b5          .
	jp	nz,L718d	;; 72cf: c2 8d 71    ..q
	jp	L8d56		;; 72d2: c3 56 8d    .V.

L72d5:	pop	hl		;call BIOS
	pop	af		;; 72d6: f1          .
	ld	c,a		;; 72d7: 4f          O
	pop	af		;; 72d8: f1          .
	push	hl		;; 72d9: e5          .
	push	ix		;; 72da: dd e5       ..
	ld	hl,L72e5	;; 72dc: 21 e5 72    ..r
	push	hl		;; 72df: e5          .
	ld	hl,(00001h)	;; 72e0: 2a 01 00    *..
	ld	l,a		;; 72e3: 6f          o
	jp	(hl)		;; 72e4: e9          .

L72e5:	pop	ix		;; 72e5: dd e1       ..
	ret			;; 72e7: c9          .

L72e8:	pop	de		;; 72e8: d1          .
	pop	hl		;; 72e9: e1          .
	push	de		;; 72ea: d5          .
	jp	(hl)		;; 72eb: e9          .

	pop	hl		;; 72ec: e1          .
	pop	de		;; 72ed: d1          .
	pop	bc		;; 72ee: c1          .
	ld	a,b		;; 72ef: 78          x
	or	a,d		;; 72f0: b2          .
	jp	(hl)		;; 72f1: e9          .

L72f2:	pop	hl		;; 72f2: e1          .
	pop	de		;; 72f3: d1          .
	pop	bc		;; 72f4: c1          .
	ld	a,b		;; 72f5: 78          x
	and	a,d		;; 72f6: a2          .
	jp	(hl)		;; 72f7: e9          .

	pop	hl		;; 72f8: e1          .
	pop	de		;; 72f9: d1          .
	pop	bc		;; 72fa: c1          .
	ld	a,b		;; 72fb: 78          x
	xor	a,d		;; 72fc: aa          .
	jp	(hl)		;; 72fd: e9          .

L72fe:	pop	hl		;; 72fe: e1          .
	pop	bc		;; 72ff: c1          .
	pop	de		;; 7300: d1          .
	ex	(sp),hl		;; 7301: e3          .
	ldir			;; 7302: ed b0       ..
	ret			;; 7304: c9          .

L7305:	pop	hl		;; 7305: e1          .
	pop	bc		;; 7306: c1          .
	pop	de		;; 7307: d1          .
	ex	(sp),hl		;; 7308: e3          .
	lddr			;; 7309: ed b8       ..
	ret			;; 730b: c9          .

L730c:	push	ix		;; 730c: dd e5       ..
L730e:	ld	hl,L737c	;; 730e: 21 7c 73    .|s
	ld	de,L737d	;; 7311: 11 7d 73    .}s
	ld	bc,00014h	;; 7314: 01 14 00    ...
	ld	(hl),000h	;; 7317: 36 00       6.
	ldir			;; 7319: ed b0       ..
	ld	de,L7370	;; 731b: 11 70 73    .ps
	push	de		;; 731e: d5          .
	ld	c,00fh		;; 731f: 0e 0f       ..
	call	00005h		;; 7321: cd 05 00    ...
	pop	de		;; 7324: d1          .
	inc	a		;; 7325: 3c          <
	jr	nz,L7330	;; 7326: 20 08        .
	ld	c,016h		;; 7328: 0e 16       ..
	call	00005h		;; 732a: cd 05 00    ...
	inc	a		;; 732d: 3c          <
	jr	nz,L733d	;; 732e: 20 0d        .
L7330:	ld	a,(L737b)	;; 7330: 3a 7b 73    :{s
	cp	a,039h		;; 7333: fe 39       .9
	jr	nc,L736d	;; 7335: 30 36       06
	inc	a		;; 7337: 3c          <
	ld	(L737b),a	;; 7338: 32 7b 73    2{s
	jr	L730e		;; 733b: 18 d1       ..

L733d:	ld	hl,L1234	;; 733d: 21 34 12    .4.
	push	hl		;; 7340: e5          .
	add	hl,hl		;; 7341: 29          )
	push	hl		;; 7342: e5          .
	ld	de,00000h	;; 7343: 11 00 00    ...
L7346:	push	de		;; 7346: d5          .
	ld	c,01ah		;; 7347: 0e 1a       ..
	call	00005h		;; 7349: cd 05 00    ...
	ld	c,015h		;; 734c: 0e 15       ..
	ld	de,L7370	;; 734e: 11 70 73    .ps
	call	00005h		;; 7351: cd 05 00    ...
	pop	de		;; 7354: d1          .
	or	a,a		;; 7355: b7          .
	jr	nz,L7363	;; 7356: 20 0b        .
	ld	hl,00080h	;; 7358: 21 80 00    ...
	add	hl,de		;; 735b: 19          .
	ex	de,hl		;; 735c: eb          .
	ld	a,(00002h)	;; 735d: 3a 02 00    :..
	cp	a,d		;; 7360: ba          .
	jr	nz,L7346	;; 7361: 20 e3        .
L7363:	pop	hl		;; 7363: e1          .
	pop	hl		;; 7364: e1          .
	ld	c,010h		;; 7365: 0e 10       ..
	ld	de,L7370	;; 7367: 11 70 73    .ps
	call	00005h		;; 736a: cd 05 00    ...
L736d:	pop	ix		;; 736d: dd e1       ..
	ret			;; 736f: c9          .

L7370:	db	0,'DZ-BUG  00'
L737b:	db	'1'
L737c:	db	0
L737d:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0
L7391:	jp	L9016		;; 7391: c3 16 90    ...

	jp	L90d9		;; 7394: c3 d9 90    ...

L7397:	call	L7569		;; 7397: cd 69 75    .iu
	pop	iy		;; 739a: fd e1       ..
	ld	a,c		;; 739c: 79          y
	sub	a,b		;; 739d: 90          .
	jr	z,L73af		;; 739e: 28 0f       (.
	jr	c,L73b2		;; 73a0: 38 10       8.
	dec	hl		;; 73a2: 2b          +
	ex	de,hl		;; 73a3: eb          .
	ld	h,000h		;; 73a4: 26 00       &.
	ld	l,b		;; 73a6: 68          h
	add	hl,sp		;; 73a7: 39          9
	ld	c,b		;; 73a8: 48          H
	ld	b,000h		;; 73a9: 06 00       ..
	lddr			;; 73ab: ed b8       ..
	ex	de,hl		;; 73ad: eb          .
	ld	sp,hl		;; 73ae: f9          .
L73af:	inc	sp		;; 73af: 33          3
	jp	(iy)		;; 73b0: fd e9       ..

L73b2:	ld	h,0ffh		;; 73b2: 26 ff       &.
	ld	l,a		;; 73b4: 6f          o
	inc	hl		;; 73b5: 23          #
	add	hl,sp		;; 73b6: 39          9
	ld	sp,hl		;; 73b7: f9          .
	ex	de,hl		;; 73b8: eb          .
	ld	b,000h		;; 73b9: 06 00       ..
	ldir			;; 73bb: ed b0       ..
	ex	de,hl		;; 73bd: eb          .
L73be:	ld	(hl),000h	;; 73be: 36 00       6.
	inc	hl		;; 73c0: 23          #
	inc	a		;; 73c1: 3c          <
	jr	nz,L73be	;; 73c2: 20 fa        .
	push	iy		;; 73c4: fd e5       ..
	jp	L8d49		;; 73c6: c3 49 8d    .I.

L73c9:	pop	hl		;; 73c9: e1          .
	pop	bc		;; 73ca: c1          .
	push	bc		;; 73cb: c5          .
	push	bc		;; 73cc: c5          .
	push	hl		;; 73cd: e5          .
	pop	hl		;; 73ce: e1          .
	pop	bc		;; 73cf: c1          .
	pop	de		;; 73d0: d1          .
	push	hl		;; 73d1: e5          .
	ld	h,b		;; 73d2: 60          `
	ld	l,c		;; 73d3: 69          i
	or	a,a		;; 73d4: b7          .
	sbc	hl,de		;; 73d5: ed 52       .R
	ret	m		;; 73d7: f8          .
	inc	hl		;; 73d8: 23          #
	push	hl		;; 73d9: e5          .
	ld	a,b		;; 73da: 78          x
	or	a,d		;; 73db: b2          .
	jp	m,L743b		;; 73dc: fa 3b 74    .;t
	ld	hl,0f808h	;; 73df: 21 08 f8    ...
	add	hl,bc		;; 73e2: 09          .
	jr	c,L743b		;; 73e3: 38 56       8V
	push	de		;; 73e5: d5          .
	ld	hl,00006h	;; 73e6: 21 06 00    ...
	add	hl,sp		;; 73e9: 39          9
	ld	a,(hl)		;; 73ea: 7e          ~
	ld	d,b		;; 73eb: 50          P
	ld	e,c		;; 73ec: 59          Y
	call	L742e		;; 73ed: cd 2e 74    ..t
	inc	de		;; 73f0: 13          .
	ld	c,a		;; 73f1: 4f          O
	sub	a,e		;; 73f2: 93          .
	jr	nc,L7412	;; 73f3: 30 1d       0.
	ld	(hl),e		;; 73f5: 73          s
	ld	b,000h		;; 73f6: 06 00       ..
	ld	hl,00007h	;; 73f8: 21 07 00    ...
	add	hl,bc		;; 73fb: 09          .
	ld	b,h		;; 73fc: 44          D
	ld	c,l		;; 73fd: 4d          M
	ld	hl,00000h	;; 73fe: 21 00 00    ...
	add	hl,sp		;; 7401: 39          9
	ex	de,hl		;; 7402: eb          .
	ld	h,0ffh		;; 7403: 26 ff       &.
	ld	l,a		;; 7405: 6f          o
	add	hl,sp		;; 7406: 39          9
	ld	sp,hl		;; 7407: f9          .
	ex	de,hl		;; 7408: eb          .
	ldir			;; 7409: ed b0       ..
	ex	de,hl		;; 740b: eb          .
L740c:	ld	(hl),000h	;; 740c: 36 00       6.
	inc	hl		;; 740e: 23          #
	inc	a		;; 740f: 3c          <
	jr	nz,L740c	;; 7410: 20 fa        .
L7412:	pop	de		;; 7412: d1          .
	pop	bc		;; 7413: c1          .
	call	L8d49		;; 7414: cd 49 8d    .I.
L7417:	ld	a,e		;; 7417: 7b          {
	call	L75b4		;; 7418: cd b4 75    ..u
	push	de		;; 741b: d5          .
	call	L742e		;; 741c: cd 2e 74    ..t
	ld	hl,00005h	;; 741f: 21 05 00    ...
	add	hl,de		;; 7422: 19          .
	add	hl,sp		;; 7423: 39          9
	or	a,(hl)		;; 7424: b6          .
	ld	(hl),a		;; 7425: 77          w
	pop	de		;; 7426: d1          .
	inc	de		;; 7427: 13          .
	dec	bc		;; 7428: 0b          .
	ld	a,b		;; 7429: 78          x
	or	a,c		;; 742a: b1          .
	jr	nz,L7417	;; 742b: 20 ea        .
	ret			;; 742d: c9          .

L742e:	srl	d		;; 742e: cb 3a       .:
	rr	e		;; 7430: cb 1b       ..
	srl	d		;; 7432: cb 3a       .:
	rr	e		;; 7434: cb 1b       ..
	srl	d		;; 7436: cb 3a       .:
	rr	e		;; 7438: cb 1b       ..
	ret			;; 743a: c9          .

L743b:	pop	de		;; 743b: d1          .
	ld	a,056h		;; 743c: 3e 56       >V
	ld	c,002h		;; 743e: 0e 02       ..
	call	L921e		;; 7440: cd 1e 92    ...
	ret			;; 7443: c9          .

	call	L7598		;; 7444: cd 98 75    ..u
	inc	hl		;; 7447: 23          #
	ld	a,(hl)		;; 7448: 7e          ~
	inc	hl		;; 7449: 23          #
	ld	e,a		;; 744a: 5f          _
	rla			;; 744b: 17          .
	sub	a,a		;; 744c: 97          .
	ld	d,a		;; 744d: 57          W
	jr	L7470		;; 744e: 18 20       . 

L7450:	call	L7598		;; 7450: cd 98 75    ..u
	inc	hl		;; 7453: 23          #
	ld	e,(hl)		;; 7454: 5e          ^
	inc	hl		;; 7455: 23          #
	ld	d,000h		;; 7456: 16 00       ..
	jr	L7470		;; 7458: 18 16       ..

	call	L7598		;; 745a: cd 98 75    ..u
	ld	e,(hl)		;; 745d: 5e          ^
	inc	hl		;; 745e: 23          #
	ld	d,(hl)		;; 745f: 56          V
	inc	hl		;; 7460: 23          #
	jr	L7470		;; 7461: 18 0d       ..

	call	L7598		;; 7463: cd 98 75    ..u
	ld	e,(hl)		;; 7466: 5e          ^
	inc	hl		;; 7467: 23          #
	ld	d,(hl)		;; 7468: 56          V
	inc	hl		;; 7469: 23          #
	ld	a,(hl)		;; 746a: 7e          ~
	inc	hl		;; 746b: 23          #
	or	a,(hl)		;; 746c: b6          .
	inc	hl		;; 746d: 23          #
	jr	nz,L7490	;; 746e: 20 20         
L7470:	push	hl		;; 7470: e5          .
	ld	a,e		;; 7471: 7b          {
	call	L75b4		;; 7472: cd b4 75    ..u
	ld	b,003h		;; 7475: 06 03       ..
L7477:	srl	d		;; 7477: cb 3a       .:
	rr	e		;; 7479: cb 1b       ..
	djnz	L7477		;; 747b: 10 fa       ..
	ld	h,000h		;; 747d: 26 00       &.
	ld	l,c		;; 747f: 69          i
	dec	hl		;; 7480: 2b          +
	or	a,a		;; 7481: b7          .
	sbc	hl,de		;; 7482: ed 52       .R
	jr	c,L748f		;; 7484: 38 09       8.
	ld	hl,00005h	;; 7486: 21 05 00    ...
	add	hl,sp		;; 7489: 39          9
	add	hl,de		;; 748a: 19          .
	and	a,(hl)		;; 748b: a6          .
	pop	hl		;; 748c: e1          .
	jr	L7491		;; 748d: 18 02       ..

L748f:	pop	hl		;; 748f: e1          .
L7490:	xor	a,a		;; 7490: af          .
L7491:	pop	iy		;; 7491: fd e1       ..
	ld	sp,hl		;; 7493: f9          .
	jp	(iy)		;; 7494: fd e9       ..

L7496:	ld	a,b		;; 7496: 78          x
	sub	a,c		;; 7497: 91          .
	push	af		;; 7498: f5          .
	jr	c,L749c		;; 7499: 38 01       8.
	ld	b,c		;; 749b: 41          A
L749c:	ld	c,000h		;; 749c: 0e 00       ..
L749e:	ld	a,(de)		;; 749e: 1a          .
	cpl			;; 749f: 2f          /
	and	a,(hl)		;; 74a0: a6          .
	jr	nz,L74c8	;; 74a1: 20 25        %
	ld	a,(de)		;; 74a3: 1a          .
	xor	a,(hl)		;; 74a4: ae          .
	jr	z,L74a9		;; 74a5: 28 02       (.
	ld	c,001h		;; 74a7: 0e 01       ..
L74a9:	inc	de		;; 74a9: 13          .
	inc	hl		;; 74aa: 23          #
	djnz	L749e		;; 74ab: 10 f1       ..
	pop	af		;; 74ad: f1          .
	ret	z		;; 74ae: c8          .
	jr	c,L74ba		;; 74af: 38 09       8.
	ld	b,a		;; 74b1: 47          G
L74b2:	ld	a,(de)		;; 74b2: 1a          .
	or	a,a		;; 74b3: b7          .
	jr	nz,L74c5	;; 74b4: 20 0f        .
	inc	de		;; 74b6: 13          .
	djnz	L74b2		;; 74b7: 10 f9       ..
	ret			;; 74b9: c9          .

L74ba:	neg			;; 74ba: ed 44       .D
	ld	b,a		;; 74bc: 47          G
L74bd:	ld	a,(hl)		;; 74bd: 7e          ~
	or	a,a		;; 74be: b7          .
	jr	nz,L74c9	;; 74bf: 20 08        .
	inc	hl		;; 74c1: 23          #
	djnz	L74bd		;; 74c2: 10 f9       ..
	ret			;; 74c4: c9          .

L74c5:	ld	c,001h		;; 74c5: 0e 01       ..
	ret			;; 74c7: c9          .

L74c8:	pop	de		;; 74c8: d1          .
L74c9:	ld	c,0ffh		;; 74c9: 0e ff       ..
	ret			;; 74cb: c9          .

	call	L75a4		;; 74cc: cd a4 75    ..u
	jr	L74d8		;; 74cf: 18 07       ..

L74d1:	call	L75a4		;; 74d1: cd a4 75    ..u
	ex	de,hl		;; 74d4: eb          .
	ld	a,b		;; 74d5: 78          x
	ld	b,c		;; 74d6: 41          A
	ld	c,a		;; 74d7: 4f          O
L74d8:	call	L7496		;; 74d8: cd 96 74    ..t
	pop	hl		;; 74db: e1          .
	pop	iy		;; 74dc: fd e1       ..
	ld	sp,hl		;; 74de: f9          .
	ld	a,c		;; 74df: 79          y
	or	a,a		;; 74e0: b7          .
	jp	(iy)		;; 74e1: fd e9       ..

L74e3:	call	L75a4		;; 74e3: cd a4 75    ..u
	ld	a,c		;; 74e6: 79          y
	cp	a,b		;; 74e7: b8          .
	jr	c,L74f7		;; 74e8: 38 0d       8.
	ex	de,hl		;; 74ea: eb          .
	push	hl		;; 74eb: e5          .
L74ec:	ld	a,(de)		;; 74ec: 1a          .
	and	a,(hl)		;; 74ed: a6          .
	ld	(hl),a		;; 74ee: 77          w
	inc	de		;; 74ef: 13          .
	inc	hl		;; 74f0: 23          #
	djnz	L74ec		;; 74f1: 10 f9       ..
	pop	hl		;; 74f3: e1          .
	dec	hl		;; 74f4: 2b          +
	jr	L750e		;; 74f5: 18 17       ..

L74f7:	push	bc		;; 74f7: c5          .
L74f8:	ld	a,(de)		;; 74f8: 1a          .
	and	a,(hl)		;; 74f9: a6          .
	ld	(hl),a		;; 74fa: 77          w
	inc	de		;; 74fb: 13          .
	inc	hl		;; 74fc: 23          #
	dec	b		;; 74fd: 05          .
	dec	c		;; 74fe: 0d          .
	jr	nz,L74f8	;; 74ff: 20 f7        .
L7501:	inc	de		;; 7501: 13          .
	djnz	L7501		;; 7502: 10 fd       ..
	pop	bc		;; 7504: c1          .
	ld	b,000h		;; 7505: 06 00       ..
	inc	bc		;; 7507: 03          .
	dec	de		;; 7508: 1b          .
	dec	hl		;; 7509: 2b          +
	lddr			;; 750a: ed b8       ..
	ex	de,hl		;; 750c: eb          .
	inc	hl		;; 750d: 23          #
L750e:	pop	de		;; 750e: d1          .
	pop	iy		;; 750f: fd e1       ..
	ld	sp,hl		;; 7511: f9          .
	jp	(iy)		;; 7512: fd e9       ..

L7514:	call	L75a4		;; 7514: cd a4 75    ..u
	ld	a,b		;; 7517: 78          x
	cp	a,c		;; 7518: b9          .
	jr	c,L7529		;; 7519: 38 0e       8.
	push	de		;; 751b: d5          .
	ex	de,hl		;; 751c: eb          .
	ld	b,c		;; 751d: 41          A
L751e:	ld	a,(de)		;; 751e: 1a          .
	or	a,(hl)		;; 751f: b6          .
	ld	(hl),a		;; 7520: 77          w
	inc	de		;; 7521: 13          .
	inc	hl		;; 7522: 23          #
	djnz	L751e		;; 7523: 10 f9       ..
	pop	hl		;; 7525: e1          .
	dec	hl		;; 7526: 2b          +
	jr	L7540		;; 7527: 18 17       ..

L7529:	push	bc		;; 7529: c5          .
L752a:	ld	a,(de)		;; 752a: 1a          .
	or	a,(hl)		;; 752b: b6          .
	ld	(hl),a		;; 752c: 77          w
	inc	de		;; 752d: 13          .
	inc	hl		;; 752e: 23          #
	dec	c		;; 752f: 0d          .
	djnz	L752a		;; 7530: 10 f8       ..
L7532:	inc	hl		;; 7532: 23          #
	dec	c		;; 7533: 0d          .
	jr	nz,L7532	;; 7534: 20 fc        .
	pop	bc		;; 7536: c1          .
	ld	b,000h		;; 7537: 06 00       ..
	inc	bc		;; 7539: 03          .
	dec	de		;; 753a: 1b          .
	dec	hl		;; 753b: 2b          +
	lddr			;; 753c: ed b8       ..
	ex	de,hl		;; 753e: eb          .
	inc	hl		;; 753f: 23          #
L7540:	pop	de		;; 7540: d1          .
	pop	iy		;; 7541: fd e1       ..
	ld	sp,hl		;; 7543: f9          .
	jp	(iy)		;; 7544: fd e9       ..

L7546:	call	L7569		;; 7546: cd 69 75    .iu
	pop	iy		;; 7549: fd e1       ..
	push	de		;; 754b: d5          .
	ld	e,(hl)		;; 754c: 5e          ^
	inc	hl		;; 754d: 23          #
	ld	d,(hl)		;; 754e: 56          V
	inc	hl		;; 754f: 23          #
	ex	(sp),hl		;; 7550: e3          .
	ld	a,b		;; 7551: 78          x
	sub	a,c		;; 7552: 91          .
	jr	nc,L7557	;; 7553: 30 02       0.
	ld	c,b		;; 7555: 48          H
	xor	a,a		;; 7556: af          .
L7557:	ld	b,000h		;; 7557: 06 00       ..
	ldir			;; 7559: ed b0       ..
	or	a,a		;; 755b: b7          .
	jr	z,L7565		;; 755c: 28 07       (.
	ex	de,hl		;; 755e: eb          .
	ld	b,a		;; 755f: 47          G
L7560:	ld	(hl),000h	;; 7560: 36 00       6.
	inc	hl		;; 7562: 23          #
	djnz	L7560		;; 7563: 10 fb       ..
L7565:	pop	hl		;; 7565: e1          .
	ld	sp,hl		;; 7566: f9          .
	jp	(iy)		;; 7567: fd e9       ..

L7569:	pop	iy		;; 7569: fd e1       ..
	call	L7598		;; 756b: cd 98 75    ..u
	ex	(sp),hl		;; 756e: e3          .
	ld	b,(hl)		;; 756f: 46          F
	inc	hl		;; 7570: 23          #
	ex	(sp),hl		;; 7571: e3          .
	ld	a,b		;; 7572: 78          x
	cp	a,c		;; 7573: b9          .
	jr	nc,L7596	;; 7574: 30 20       0 
	ld	a,c		;; 7576: 79          y
	sub	a,b		;; 7577: 90          .
	ld	b,a		;; 7578: 47          G
	xor	a,a		;; 7579: af          .
L757a:	dec	hl		;; 757a: 2b          +
	or	a,(hl)		;; 757b: b6          .
	djnz	L757a		;; 757c: 10 fc       ..
	ex	(sp),iy		;; 757e: fd e3       ..
	or	a,a		;; 7580: b7          .
	jr	z,L758e		;; 7581: 28 0b       (.
	push	iy		;; 7583: fd e5       ..
	ld	a,056h		;; 7585: 3e 56       >V
	ld	c,002h		;; 7587: 0e 02       ..
	call	L921e		;; 7589: cd 1e 92    ...
	pop	iy		;; 758c: fd e1       ..
L758e:	call	L7598		;; 758e: cd 98 75    ..u
	ld	b,(iy-1)	;; 7591: fd 46 ff    .F.
	ex	(sp),iy		;; 7594: fd e3       ..
L7596:	jp	(iy)		;; 7596: fd e9       ..

L7598:	ld	hl,00004h	;; 7598: 21 04 00    ...
	add	hl,sp		;; 759b: 39          9
	ld	b,000h		;; 759c: 06 00       ..
	ld	c,(hl)		;; 759e: 4e          N
	inc	hl		;; 759f: 23          #
	ld	d,h		;; 75a0: 54          T
	ld	e,l		;; 75a1: 5d          ]
	add	hl,bc		;; 75a2: 09          .
	ret			;; 75a3: c9          .

L75a4:	pop	iy		;; 75a4: fd e1       ..
	call	L7598		;; 75a6: cd 98 75    ..u
	push	de		;; 75a9: d5          .
	ld	b,(hl)		;; 75aa: 46          F
	inc	hl		;; 75ab: 23          #
	ex	de,hl		;; 75ac: eb          .
	ld	h,000h		;; 75ad: 26 00       &.
	ld	l,b		;; 75af: 68          h
	add	hl,de		;; 75b0: 19          .
	ex	(sp),hl		;; 75b1: e3          .
	jp	(iy)		;; 75b2: fd e9       ..

L75b4:	and	a,007h		;; 75b4: e6 07       ..
	inc	a		;; 75b6: 3c          <
	ld	b,a		;; 75b7: 47          G
	xor	a,a		;; 75b8: af          .
	scf			;; 75b9: 37          7
L75ba:	rla			;; 75ba: 17          .
	djnz	L75ba		;; 75bb: 10 fd       ..
	ret			;; 75bd: c9          .

L75be:	pop	iy		;; 75be: fd e1       ..
L75c0:	ld	b,000h		;; 75c0: 06 00       ..
	ld	c,(iy+0)	;; 75c2: fd 4e 00    .N.
	inc	iy		;; 75c5: fd 23       .#
	jr	L75d3		;; 75c7: 18 0a       ..

L75c9:	pop	hl		;; 75c9: e1          .
	ld	b,000h		;; 75ca: 06 00       ..
	ld	c,(hl)		;; 75cc: 4e          N
	inc	hl		;; 75cd: 23          #
	push	hl		;; 75ce: e5          .
	pop	iy		;; 75cf: fd e1       ..
	add	iy,bc		;; 75d1: fd 09       ..
L75d3:	ex	de,hl		;; 75d3: eb          .
	ld	h,0ffh		;; 75d4: 26 ff       &.
	ld	a,c		;; 75d6: 79          y
	cpl			;; 75d7: 2f          /
	ld	l,a		;; 75d8: 6f          o
	add	hl,sp		;; 75d9: 39          9
	ld	sp,hl		;; 75da: f9          .
	ld	(hl),c		;; 75db: 71          q
	inc	hl		;; 75dc: 23          #
	ex	de,hl		;; 75dd: eb          .
	ldir			;; 75de: ed b0       ..
	push	iy		;; 75e0: fd e5       ..
	jp	L8d49		;; 75e2: c3 49 8d    .I.

L75e5:	pop	iy		;; 75e5: fd e1       ..
	pop	hl		;; 75e7: e1          .
	jr	L75c0		;; 75e8: 18 d6       ..

L75ea:	pop	iy		;; 75ea: fd e1       ..
	ld	a,(hl)		;; 75ec: 7e          ~
	inc	hl		;; 75ed: 23          #
	ld	b,000h		;; 75ee: 06 00       ..
	ld	c,a		;; 75f0: 4f          O
	or	a,a		;; 75f1: b7          .
	jr	nz,L75d3	;; 75f2: 20 df        .
	push	af		;; 75f4: f5          .
	inc	sp		;; 75f5: 33          3
	jp	(iy)		;; 75f6: fd e9       ..

L75f8:	pop	iy		;; 75f8: fd e1       ..
	pop	hl		;; 75fa: e1          .
	pop	de		;; 75fb: d1          .
	ld	a,(hl)		;; 75fc: 7e          ~
	ld	c,a		;; 75fd: 4f          O
	ld	b,000h		;; 75fe: 06 00       ..
	ld	h,b		;; 7600: 60          `
	ld	l,b		;; 7601: 68          h
	jp	(iy)		;; 7602: fd e9       ..

L7604:	pop	hl		;; 7604: e1          .
	pop	bc		;; 7605: c1          .
	ex	(sp),hl		;; 7606: e3          .
	ex	de,hl		;; 7607: eb          .
	ld	hl,00080h	;; 7608: 21 80 00    ...
	ld	c,b		;; 760b: 48          H
	ld	b,000h		;; 760c: 06 00       ..
	ldir			;; 760e: ed b0       ..
	ret			;; 7610: c9          .

L7611:	call	L8d27		;; 7611: cd 27 8d    .'.
	db	0fch,0ah
	call	L7620		;; 7616: cd 20 76    . v
	call	L8c3a		;; 7619: cd 3a 8c    .:.
	db	82h
	jp	L8d56		;; 761d: c3 56 8d    .V.

L7620:	pop	iy		;; 7620: fd e1       ..
	ld	hl,(L91b9)	;; 7622: 2a b9 91    *..
	add	hl,sp		;; 7625: 39          9
	ld	c,l		;; 7626: 4d          M
	ld	b,h		;; 7627: 44          D
	ld	hl,00000h	;; 7628: 21 00 00    ...
	jp	(iy)		;; 762b: fd e9       ..

L762d:	db	0
L762e:	db	0,0
L7630:	db	0
L7631:	db	0,0,0,0,0,0,0,0,0,0,0,0
L763d:	ld	hl,(L0103)	;; 763d: 2a 03 01    *..
	xor	a,a		;; 7640: af          .
	jr	L7655		;; 7641: 18 12       ..

L7643:	ld	hl,(L0105)	;; 7643: 2a 05 01    *..
	xor	a,a		;; 7646: af          .
	jr	L7655		;; 7647: 18 0c       ..

L7649:	ld	hl,(L0103)	;; 7649: 2a 03 01    *..
	ld	a,001h		;; 764c: 3e 01       >.
	jr	L7655		;; 764e: 18 05       ..

L7650:	ld	hl,(L0105)	;; 7650: 2a 05 01    *..
	ld	a,002h		;; 7653: 3e 02       >.
L7655:	pop	de		;; 7655: d1          .
	ld	(L91bd),de	;; 7656: ed 53 bd 91 .S..
	push	de		;; 765a: d5          .
	push	hl		;; 765b: e5          .
	push	af		;; 765c: f5          .
	ld	a,(L762d)	;; 765d: 3a 2d 76    :-v
	or	a,a		;; 7660: b7          .
	jr	z,L7675		;; 7661: 28 12       (.
	cp	a,004h		;; 7663: fe 04       ..
	jr	z,L76ad		;; 7665: 28 46       (F
	ld	bc,0000ch	;; 7667: 01 0c 00    ...
	ld	hl,L7630	;; 766a: 21 30 76    .0v
	add	hl,bc		;; 766d: 09          .
	ex	de,hl		;; 766e: eb          .
	ld	hl,0fffdh	;; 766f: 21 fd ff    ...
	add	hl,de		;; 7672: 19          .
	lddr			;; 7673: ed b8       ..
L7675:	inc	a		;; 7675: 3c          <
	ld	(L762d),a	;; 7676: 32 2d 76    2-v
	pop	af		;; 7679: f1          .
	pop	hl		;; 767a: e1          .
	ld	(L762e),hl	;; 767b: 22 2e 76    ".v
	ld	(L7630),a	;; 767e: 32 30 76    20v
	ret			;; 7681: c9          .

L7682:	call	L7c4b		;; 7682: cd 4b 7c    .K|
	ld	(L762e),ix	;; 7685: dd 22 2e 76 .".v
	pop	ix		;; 7689: dd e1       ..
	ret			;; 768b: c9          .

L768c:	ld	a,(L7630)	;; 768c: 3a 30 76    :0v
	cp	a,001h		;; 768f: fe 01       ..
	call	z,L7c0b		;; 7691: cc 0b 7c    ..|
	ld	a,(L7630)	;; 7694: 3a 30 76    :0v
	cp	a,002h		;; 7697: fe 02       ..
	call	z,L7c29		;; 7699: cc 29 7c    .)|
	ld	hl,L762d	;; 769c: 21 2d 76    .-v
	dec	(hl)		;; 769f: 35          5
	ret	z		;; 76a0: c8          .
	ld	hl,L7631	;; 76a1: 21 31 76    .1v
	ld	de,L762e	;; 76a4: 11 2e 76    ..v
	ld	bc,0000ch	;; 76a7: 01 0c 00    ...
	ldir			;; 76aa: ed b0       ..
	ret			;; 76ac: c9          .

L76ad:	ld	a,046h		;; 76ad: 3e 46       >F
	ld	b,01bh		;; 76af: 06 1b       ..
	ld	c,005h		;; 76b1: 0e 05       ..
	ld	de,L76b9	;; 76b3: 11 b9 76    ..v
	call	L921e		;; 76b6: cd 1e 92    ...
L76b9:	db	'Read/write nesti'
	db	'ng too deep'
L76d4:	db	0,0
L76d6:	pop	hl		;; 76d6: e1          .
	ld	(L91bd),hl	;; 76d7: 22 bd 91    "..
	push	hl		;; 76da: e5          .
	push	ix		;; 76db: dd e5       ..
	pop	hl		;; 76dd: e1          .
	ld	de,0ff7ah	;; 76de: 11 7a ff    .z.
	add	hl,de		;; 76e1: 19          .
	ld	c,(hl)		;; 76e2: 4e          N
	inc	hl		;; 76e3: 23          #
	ld	b,(hl)		;; 76e4: 46          F
	push	ix		;; 76e5: dd e5       ..
L76e7:	ld	ix,(L91bb)	;; 76e7: dd 2a bb 91 .*..
	ld	l,(ix+14)	;; 76eb: dd 6e 0e    .n.
	ld	h,(ix+15)	;; 76ee: dd 66 0f    .f.
	push	hl		;; 76f1: e5          .
	or	a,a		;; 76f2: b7          .
	sbc	hl,sp		;; 76f3: ed 72       .r
	pop	hl		;; 76f5: e1          .
	jr	c,L7709		;; 76f6: 38 11       8.
	sbc	hl,bc		;; 76f8: ed 42       .B
	jr	nc,L7709	;; 76fa: 30 0d       0.
	call	L7736		;; 76fc: cd 36 77    .6w
	ld	(L91bb),hl	;; 76ff: 22 bb 91    "..
	ld	a,h		;; 7702: 7c          |
	or	a,l		;; 7703: b5          .
	jr	nz,L76e7	;; 7704: 20 e1        .
L7706:	pop	ix		;; 7706: dd e1       ..
	ret			;; 7708: c9          .

L7709:	ld	l,(ix+2)	;; 7709: dd 6e 02    .n.
	ld	h,(ix+3)	;; 770c: dd 66 03    .f.
	ld	a,h		;; 770f: 7c          |
	or	a,l		;; 7710: b5          .
	jr	z,L7706		;; 7711: 28 f3       (.
	push	hl		;; 7713: e5          .
	ex	(sp),ix		;; 7714: dd e3       ..
	pop	de		;; 7716: d1          .
	ld	l,(ix+14)	;; 7717: dd 6e 0e    .n.
	ld	h,(ix+15)	;; 771a: dd 66 0f    .f.
	push	hl		;; 771d: e5          .
	or	a,a		;; 771e: b7          .
	sbc	hl,sp		;; 771f: ed 72       .r
	pop	hl		;; 7721: e1          .
	jr	c,L7709		;; 7722: 38 e5       8.
	sbc	hl,bc		;; 7724: ed 42       .B
	jr	nc,L7709	;; 7726: 30 e1       0.
	push	de		;; 7728: d5          .
	call	L7736		;; 7729: cd 36 77    .6w
	pop	ix		;; 772c: dd e1       ..
	ld	(ix+2),l	;; 772e: dd 75 02    .u.
	ld	(ix+3),h	;; 7731: dd 74 03    .t.
	jr	L7709		;; 7734: 18 d3       ..

L7736:	push	bc		;; 7736: c5          .
	xor	a,a		;; 7737: af          .
	call	L92ea		;; 7738: cd ea 92    ...
	bit	5,(ix+4)	;; 773b: dd cb 04 6e ...n
	jr	nz,L775f	;; 773f: 20 1e        .
	ld	l,(ix+18)	;; 7741: dd 6e 12    .n.
	ld	h,(ix+19)	;; 7744: dd 66 13    .f.
	ld	a,h		;; 7747: 7c          |
	or	a,l		;; 7748: b5          .
	jr	z,L775f		;; 7749: 28 14       (.
	ld	(L76d4),hl	;; 774b: 22 d4 76    ".v
	ld	hl,L76d4	;; 774e: 21 d4 76    ..v
	push	hl		;; 7751: e5          .
	ld	h,(ix+20)	;; 7752: dd 66 14    .f.
	ld	l,000h		;; 7755: 2e 00       ..
	srl	h		;; 7757: cb 3c       .<
	rr	l		;; 7759: cb 1d       ..
	push	hl		;; 775b: e5          .
	call	L90d9		;; 775c: cd d9 90    ...
L775f:	ld	l,(ix+2)	;; 775f: dd 6e 02    .n.
	ld	h,(ix+3)	;; 7762: dd 66 03    .f.
	push	hl		;; 7765: e5          .
	ld	l,(ix+14)	;; 7766: dd 6e 0e    .n.
	ld	h,(ix+15)	;; 7769: dd 66 0f    .f.
	push	hl		;; 776c: e5          .
	ld	hl,00048h	;; 776d: 21 48 00    .H.
	push	hl		;; 7770: e5          .
	call	L90d9		;; 7771: cd d9 90    ...
	pop	hl		;; 7774: e1          .
	pop	bc		;; 7775: c1          .
	ret			;; 7776: c9          .

L7777:	pop	hl		;; 7777: e1          .
	pop	bc		;; 7778: c1          .
	ex	(sp),hl		;; 7779: e3          .
	push	hl		;; 777a: e5          .
	ld	(hl),000h	;; 777b: 36 00       6.
L777d:	push	hl		;; 777d: e5          .
	push	bc		;; 777e: c5          .
	call	L7aed		;; 777f: cd ed 7a    ..z
	pop	bc		;; 7782: c1          .
	pop	hl		;; 7783: e1          .
	ld	iy,(L762e)	;; 7784: fd 2a 2e 76 .*.v
	res	4,(iy+5)	;; 7788: fd cb 05 a6 ....
	bit	1,(iy+5)	;; 778c: fd cb 05 4e ...N
	jr	nz,L77a0	;; 7790: 20 0e        .
	ld	a,(iy+23)	;; 7792: fd 7e 17    .~.
	inc	hl		;; 7795: 23          #
	ld	(hl),a		;; 7796: 77          w
	ex	(sp),hl		;; 7797: e3          .
	inc	(hl)		;; 7798: 34          4
	ex	(sp),hl		;; 7799: e3          .
	set	4,(iy+5)	;; 779a: fd cb 05 e6 ....
	djnz	L777d		;; 779e: 10 dd       ..
L77a0:	pop	hl		;; 77a0: e1          .
	ret			;; 77a1: c9          .

L77a2:	pop	hl		;; 77a2: e1          .
	pop	af		;; 77a3: f1          .
	or	a,a		;; 77a4: b7          .
	jr	z,L77ad		;; 77a5: 28 06       (.
	pop	bc		;; 77a7: c1          .
	ld	c,001h		;; 77a8: 0e 01       ..
	push	bc		;; 77aa: c5          .
	jr	L77cb		;; 77ab: 18 1e       ..

L77ad:	ld	a,001h		;; 77ad: 3e 01       >.
	push	af		;; 77af: f5          .
	push	hl		;; 77b0: e5          .
	ld	a,057h		;; 77b1: 3e 57       >W
	ld	c,002h		;; 77b3: 0e 02       ..
	call	L921e		;; 77b5: cd 1e 92    ...
	jr	L77a2		;; 77b8: 18 e8       ..

	pop	hl		;; 77ba: e1          .
	pop	bc		;; 77bb: c1          .
	ld	c,001h		;; 77bc: 0e 01       ..
	push	bc		;; 77be: c5          .
	ld	a,001h		;; 77bf: 3e 01       >.
	jr	L77cb		;; 77c1: 18 08       ..

L77c3:	pop	hl		;; 77c3: e1          .
	pop	af		;; 77c4: f1          .
	pop	bc		;; 77c5: c1          .
	push	bc		;; 77c6: c5          .
	or	a,a		;; 77c7: b7          .
	jr	nz,L77cb	;; 77c8: 20 01        .
	ld	a,c		;; 77ca: 79          y
L77cb:	ld	b,a		;; 77cb: 47          G
	call	L7808		;; 77cc: cd 08 78    ..x
	push	hl		;; 77cf: e5          .
	ld	hl,00002h	;; 77d0: 21 02 00    ...
	add	hl,sp		;; 77d3: 39          9
	ld	a,(hl)		;; 77d4: 7e          ~
	or	a,a		;; 77d5: b7          .
	jr	z,L77e1		;; 77d6: 28 09       (.
L77d8:	inc	hl		;; 77d8: 23          #
	ld	a,(hl)		;; 77d9: 7e          ~
	call	L77f9		;; 77da: cd f9 77    ..w
	dec	c		;; 77dd: 0d          .
	djnz	L77d8		;; 77de: 10 f8       ..
	add	hl,bc		;; 77e0: 09          .
L77e1:	inc	hl		;; 77e1: 23          #
	pop	de		;; 77e2: d1          .
	ld	sp,hl		;; 77e3: f9          .
	ex	de,hl		;; 77e4: eb          .
	jp	(hl)		;; 77e5: e9          .

	pop	hl		;; 77e6: e1          .
	pop	af		;; 77e7: f1          .
	ex	(sp),hl		;; 77e8: e3          .
	ld	c,(hl)		;; 77e9: 4e          N
	ld	b,a		;; 77ea: 47          G
	ld	a,(hl)		;; 77eb: 7e          ~
	or	a,a		;; 77ec: b7          .
	ret	z		;; 77ed: c8          .
	call	L7808		;; 77ee: cd 08 78    ..x
L77f1:	inc	hl		;; 77f1: 23          #
	ld	a,(hl)		;; 77f2: 7e          ~
	call	L77f9		;; 77f3: cd f9 77    ..w
	djnz	L77f1		;; 77f6: 10 f9       ..
	ret			;; 77f8: c9          .

L77f9:	push	hl		;; 77f9: e5          .
	push	bc		;; 77fa: c5          .
	ld	iy,(L762e)	;; 77fb: fd 2a 2e 76 .*.v
	ld	(iy+23),a	;; 77ff: fd 77 17    .w.
	call	L7b7b		;; 7802: cd 7b 7b    .{{
	pop	bc		;; 7805: c1          .
	pop	hl		;; 7806: e1          .
	ret			;; 7807: c9          .

L7808:	ld	a,c		;; 7808: 79          y
	cp	a,b		;; 7809: b8          .
	ret	nc		;; 780a: d0          .
	ld	a,020h		;; 780b: 3e 20       > 
	call	L77f9		;; 780d: cd f9 77    ..w
	dec	b		;; 7810: 05          .
	jr	L7808		;; 7811: 18 f5       ..

L7813:	pop	hl		;; 7813: e1          .
	pop	bc		;; 7814: c1          .
	pop	de		;; 7815: d1          .
	push	hl		;; 7816: e5          .
	call	L7c4b		;; 7817: cd 4b 7c    .K|
	call	L7eb9		;; 781a: cd b9 7e    ..~
	pop	ix		;; 781d: dd e1       ..
	ret			;; 781f: c9          .

L7820:	pop	hl		;; 7820: e1          .
	ld	(L91bd),hl	;; 7821: 22 bd 91    "..
	ld	a,003h		;; 7824: 3e 03       >.
	call	L8062		;; 7826: cd 62 80    .b.
	call	L8f18		;; 7829: cd 18 8f    ...
	push	hl		;; 782c: e5          .
	ex	(sp),ix		;; 782d: dd e3       ..
	ld	a,001h		;; 782f: 3e 01       >.
	call	L92ea		;; 7831: cd ea 92    ...
	set	4,(ix+4)	;; 7834: dd cb 04 e6 ....
	push	ix		;; 7838: dd e5       ..
	pop	hl		;; 783a: e1          .
	ld	de,00024h	;; 783b: 11 24 00    .$.
	add	hl,de		;; 783e: 19          .
	ld	a,(0005ch)	;; 783f: 3a 5c 00    :\.
	or	a,a		;; 7842: b7          .
	jr	z,L785c		;; 7843: 28 17       (.
	cp	a,(hl)		;; 7845: be          .
	jr	z,L7860		;; 7846: 28 18       (.
	ld	d,a		;; 7848: 57          W
	ld	a,(hl)		;; 7849: 7e          ~
	or	a,a		;; 784a: b7          .
	jr	nz,L789a	;; 784b: 20 4d        M
	push	de		;; 784d: d5          .
	push	hl		;; 784e: e5          .
	ld	c,019h		;; 784f: 0e 19       ..
	call	L91c3		;; 7851: cd c3 91    ...
	pop	hl		;; 7854: e1          .
	pop	de		;; 7855: d1          .
	inc	a		;; 7856: 3c          <
	cp	a,d		;; 7857: ba          .
	jr	nz,L789a	;; 7858: 20 40        @
	jr	L7860		;; 785a: 18 04       ..

L785c:	ld	a,(hl)		;; 785c: 7e          ~
	ld	(0005ch),a	;; 785d: 32 5c 00    2\.
L7860:	push	hl		;; 7860: e5          .
	ld	de,0005ch	;; 7861: 11 5c 00    .\.
	ld	c,013h		;; 7864: 0e 13       ..
	call	L91c3		;; 7866: cd c3 91    ...
	ld	hl,0005ch	;; 7869: 21 5c 00    .\.
	ld	de,0006ch	;; 786c: 11 6c 00    .l.
	ld	b,00ch		;; 786f: 06 0c       ..
L7871:	ld	a,(hl)		;; 7871: 7e          ~
	ld	(de),a		;; 7872: 12          .
	ex	(sp),hl		;; 7873: e3          .
	ld	c,(hl)		;; 7874: 4e          N
	ld	(hl),a		;; 7875: 77          w
	inc	hl		;; 7876: 23          #
	ex	(sp),hl		;; 7877: e3          .
	ld	(hl),c		;; 7878: 71          q
	inc	hl		;; 7879: 23          #
	inc	de		;; 787a: 13          .
	djnz	L7871		;; 787b: 10 f4       ..
	pop	de		;; 787d: d1          .
	ld	de,0005ch	;; 787e: 11 5c 00    .\.
	ld	c,017h		;; 7881: 0e 17       ..
	call	L91c3		;; 7883: cd c3 91    ...
	inc	a		;; 7886: 3c          <
	jr	z,L788f		;; 7887: 28 06       (.
L7889:	pop	ix		;; 7889: dd e1       ..
	ld	hl,(L91bd)	;; 788b: 2a bd 91    *..
	jp	(hl)		;; 788e: e9          .

L788f:	ld	a,(L8e6e)	;; 788f: 3a 6e 8e    :n.
	cp	a,001h		;; 7892: fe 01       ..
	jr	z,L7889		;; 7894: 28 f3       (.
	ld	a,044h		;; 7896: 3e 44       >D
	jr	L789c		;; 7898: 18 02       ..

L789a:	ld	a,046h		;; 789a: 3e 46       >F
L789c:	ld	b,00fh		;; 789c: 06 0f       ..
	ld	c,005h		;; 789e: 0e 05       ..
	ld	de,L78a6	;; 78a0: 11 a6 78    ..x
	call	L921e		;; 78a3: cd 1e 92    ...
L78a6:	db	'Error in RENAME'
L78b5:	db	0
L78b6:	ld	a,016h		;; 78b6: 3e 16       >.
	jr	L78bc		;; 78b8: 18 02       ..

L78ba:	ld	a,00bh		;; 78ba: 3e 0b       >.
L78bc:	ld	(L78b5),a	;; 78bc: 32 b5 78    2.x
	pop	hl		;; 78bf: e1          .
	ld	(L91bd),hl	;; 78c0: 22 bd 91    "..
	call	L8f18		;; 78c3: cd 18 8f    ...
	push	hl		;; 78c6: e5          .
	ex	(sp),ix		;; 78c7: dd e3       ..
	rra			;; 78c9: 1f          .
	call	c,L8107		;; 78ca: dc 07 81    ...
	ld	a,001h		;; 78cd: 3e 01       >.
	call	L92ea		;; 78cf: cd ea 92    ...
	ld	a,(L78b5)	;; 78d2: 3a b5 78    :.x
	ld	(ix+5),a	;; 78d5: dd 77 05    .w.
	ld	l,(ix+10)	;; 78d8: dd 6e 0a    .n.
	ld	h,(ix+11)	;; 78db: dd 66 0b    .f.
	call	L78e6		;; 78de: cd e6 78    ..x
	pop	ix		;; 78e1: dd e1       ..
	ld	hl,(L91bd)	;; 78e3: 2a bd 91    *..
L78e6:	jp	(hl)		;; 78e6: e9          .

L78e7:	xor	a,a		;; 78e7: af          .
	jr	L78ec		;; 78e8: 18 02       ..

L78ea:	ld	a,001h		;; 78ea: 3e 01       >.
L78ec:	pop	hl		;; 78ec: e1          .
	ld	(L91bd),hl	;; 78ed: 22 bd 91    "..
	ex	(sp),hl		;; 78f0: e3          .
	push	hl		;; 78f1: e5          .
	ex	(sp),ix		;; 78f2: dd e3       ..
	push	af		;; 78f4: f5          .
	ld	a,h		;; 78f5: 7c          |
	or	a,a		;; 78f6: b7          .
	jr	z,L7919		;; 78f7: 28 20       ( 
	cp	a,(hl)		;; 78f9: be          .
	jr	nz,L7919	;; 78fa: 20 1d        .
	inc	hl		;; 78fc: 23          #
	ld	a,l		;; 78fd: 7d          }
	cp	a,(hl)		;; 78fe: be          .
	jr	nz,L7919	;; 78ff: 20 18        .
	xor	a,a		;; 7901: af          .
	call	L92ea		;; 7902: cd ea 92    ...
	pop	af		;; 7905: f1          .
	or	a,a		;; 7906: b7          .
	jr	z,L7916		;; 7907: 28 0d       (.
	push	ix		;; 7909: dd e5       ..
	pop	hl		;; 790b: e1          .
	ld	de,00024h	;; 790c: 11 24 00    .$.
	add	hl,de		;; 790f: 19          .
	ex	de,hl		;; 7910: eb          .
	ld	c,013h		;; 7911: 0e 13       ..
	call	L91c3		;; 7913: cd c3 91    ...
L7916:	pop	ix		;; 7916: dd e1       ..
	ret			;; 7918: c9          .

L7919:	pop	af		;; 7919: f1          .
	pop	ix		;; 791a: dd e1       ..
	ld	a,046h		;; 791c: 3e 46       >F
	ld	b,00ch		;; 791e: 06 0c       ..
	ld	c,003h		;; 7920: 0e 03       ..
	ld	de,L7929	;; 7922: 11 29 79    .)y
	call	L921e		;; 7925: cd 1e 92    ...
	ret			;; 7928: c9          .

L7929:	db	'CLOSE/ERASE erro'
	db	'r'
L793a:	db	0
	xor	a,a		;; 793b: af          .
	jr	L7940		;; 793c: 18 02       ..

L793e:	ld	a,001h		;; 793e: 3e 01       >.
L7940:	ld	(L793a),a	;; 7940: 32 3a 79    2:y
	pop	hl		;; 7943: e1          .
	ld	(L91bd),hl	;; 7944: 22 bd 91    "..
	ld	a,001h		;; 7947: 3e 01       >.
	call	L8062		;; 7949: cd 62 80    .b.
	cp	a,001h		;; 794c: fe 01       ..
	ld	a,000h		;; 794e: 3e 00       >.
	jr	nz,L7990	;; 7950: 20 3e        >
	ld	a,(L793a)	;; 7952: 3a 3a 79    ::y
	or	a,a		;; 7955: b7          .
	jr	z,L798e		;; 7956: 28 36       (6
	ld	c,011h		;; 7958: 0e 11       ..
	ld	de,0005ch	;; 795a: 11 5c 00    .\.
	call	L91c3		;; 795d: cd c3 91    ...
	inc	a		;; 7960: 3c          <
	jr	nz,L798e	;; 7961: 20 2b        +
	ld	a,(L8e6e)	;; 7963: 3a 6e 8e    :n.
	cp	a,020h		;; 7966: fe 20       . 
	ld	a,000h		;; 7968: 3e 00       >.
	jr	c,L7990		;; 796a: 38 24       8$
	ld	c,020h		;; 796c: 0e 20       . 
	ld	e,0ffh		;; 796e: 1e ff       ..
	call	L91c3		;; 7970: cd c3 91    ...
	or	a,a		;; 7973: b7          .
	jr	z,L7990		;; 7974: 28 1a       (.
	ld	hl,00062h	;; 7976: 21 62 00    .b.
	setb	7,(hl)		;; 7979: cb fe       ..
	ld	c,00fh		;; 797b: 0e 0f       ..
	ld	de,0005ch	;; 797d: 11 5c 00    .\.
	call	L91c3		;; 7980: cd c3 91    ...
	inc	a		;; 7983: 3c          <
	jr	z,L7990		;; 7984: 28 0a       (.
	ld	c,010h		;; 7986: 0e 10       ..
	ld	de,0005ch	;; 7988: 11 5c 00    .\.
	call	L91c3		;; 798b: cd c3 91    ...
L798e:	ld	a,001h		;; 798e: 3e 01       >.
L7990:	ld	hl,(L91bd)	;; 7990: 2a bd 91    *..
	jp	(hl)		;; 7993: e9          .

L7994:	db	0

L7995:	pop	hl		;; 7995: e1          .
	ld	(L91bd),hl	;; 7996: 22 bd 91    "..
	ld	a,002h		;; 7999: 3e 02       >.
	call	L8062		;; 799b: cd 62 80    .b.
	ld	(L7994),a	;; 799e: 32 94 79    2.y
	call	L8f18		;; 79a1: cd 18 8f    ...
	push	hl		;; 79a4: e5          .
	ex	(sp),ix		;; 79a5: dd e3       ..
	xor	a,a		;; 79a7: af          .
	call	L92ea		;; 79a8: cd ea 92    ...
	res	5,(ix+4)	;; 79ab: dd cb 04 ae ....
	ld	a,(L7994)	;; 79af: 3a 94 79    :.y
	cp	a,002h		;; 79b2: fe 02       ..
	jr	z,L79d3		;; 79b4: 28 1d       (.
	call	L8107		;; 79b6: cd 07 81    ...
	push	ix		;; 79b9: dd e5       ..
	pop	hl		;; 79bb: e1          .
	ld	de,00024h	;; 79bc: 11 24 00    .$.
	add	hl,de		;; 79bf: 19          .
	ex	de,hl		;; 79c0: eb          .
	ld	hl,0005ch	;; 79c1: 21 5c 00    .\.
	ld	bc,0000ch	;; 79c4: 01 0c 00    ...
	ldir			;; 79c7: ed b0       ..
	set	4,(ix+4)	;; 79c9: dd cb 04 e6 ....
	pop	ix		;; 79cd: dd e1       ..
	ld	hl,(L91bd)	;; 79cf: 2a bd 91    *..
	jp	(hl)		;; 79d2: e9          .

L79d3:	res	3,(ix+4)	;; 79d3: dd cb 04 9e ....
	ld	a,(0005dh)	;; 79d7: 3a 5d 00    :].
	ld	hl,L7a4a	;; 79da: 21 4a 7a    .Jz
	ld	de,00009h	;; 79dd: 11 09 00    ...
	ld	b,006h		;; 79e0: 06 06       ..
L79e2:	cp	a,(hl)		;; 79e2: be          .
	jr	z,L7a03		;; 79e3: 28 1e       (.
	add	hl,de		;; 79e5: 19          .
	djnz	L79e2		;; 79e6: 10 fa       ..
L79e8:	ld	a,04eh		;; 79e8: 3e 4e       >N
	ld	b,00fh		;; 79ea: 06 0f       ..
	ld	c,005h		;; 79ec: 0e 05       ..
	ld	de,L79f4	;; 79ee: 11 f4 79    ..y
	call	L921e		;; 79f1: cd 1e 92    ...
L79f4:	db	'Bad device name'
L7a03:	db	':^',0
	inc	hl		;; 7a06: 23          #
	cp	a,(hl)		;; 7a07: be          .
	jr	nz,L79e8	;; 7a08: 20 de        .
	ld	a,(0005fh)	;; 7a0a: 3a 5f 00    :_.
	inc	hl		;; 7a0d: 23          #
	cp	a,(hl)		;; 7a0e: be          .
	jr	nz,L79e8	;; 7a0f: 20 d7        .
	inc	hl		;; 7a11: 23          #
	ex	de,hl		;; 7a12: eb          .
	push	ix		;; 7a13: dd e5       ..
	pop	hl		;; 7a15: e1          .
	ld	bc,00006h	;; 7a16: 01 06 00    ...
	add	hl,bc		;; 7a19: 09          .
	ex	de,hl		;; 7a1a: eb          .
	ld	bc,00006h	;; 7a1b: 01 06 00    ...
	ldir			;; 7a1e: ed b0       ..
	ex	de,hl		;; 7a20: eb          .
	ld	de,L7aa7	;; 7a21: 11 a7 7a    ..z
	ld	(hl),e		;; 7a24: 73          s
	inc	hl		;; 7a25: 23          #
	ld	(hl),d		;; 7a26: 72          r
	bit	0,(ix+4)	;; 7a27: dd cb 04 46 ...F
	jr	nz,L7a44	;; 7a2b: 20 17        .
	ld	a,(ix+24)	;; 7a2d: dd 7e 18    .~.
	sub	a,001h		;; 7a30: d6 01       ..
	or	a,(ix+25)	;; 7a32: dd b6 19    ...
	jr	nz,L7a80	;; 7a35: 20 49        I
	push	ix		;; 7a37: dd e5       ..
	pop	hl		;; 7a39: e1          .
	ld	de,00017h	;; 7a3a: 11 17 00    ...
	add	hl,de		;; 7a3d: 19          .
	ld	(ix+16),l	;; 7a3e: dd 75 10    .u.
	ld	(ix+17),h	;; 7a41: dd 74 11    .t.
L7a44:	pop	ix		;; 7a44: dd e1       ..
	ld	hl,(L91bd)	;; 7a46: 2a bd 91    *..
	jp	(hl)		;; 7a49: e9          .

L7a4a:	db	'CON'
	dw	L8fc0
	dw	L8ffc
	dw	L7a98
	db	'KBD'
	dw	L7abe
	dw	L7a80
	dw	L7aa7
	db	'LST'
	dw	L7a80
	dw	L7ad9
	dw	L7aa7
	db	'NUL'
	dw	L7a80
	dw	L7aa7
	dw	L7aa7
	db	'PUN'
	dw	L7a80
	dw	L7ad2
	dw	L7aa7
	db	'RDR'
	dw	L7ac9
	dw	L7a80
	dw	L7aa7
L7a80:	ld	a,044h		;; 7a80: 3e 44       >D
	ld	de,L7a8c	;; 7a82: 11 8c 7a    ..z
	ld	b,00ch		;; 7a85: 06 0c       ..
	ld	c,005h		;; 7a87: 0e 05       ..
	call	L921e		;; 7a89: cd 1e 92    ...
L7a8c:	db	'Device error'
L7a98:	bit	0,(ix+4)	;; 7a98: dd cb 04 46 ...F
	ret	nz		;; 7a9c: c0          .
	ld	hl,L7aa8	;; 7a9d: 21 a8 7a    ..z
	ld	(ix+6),l	;; 7aa0: dd 75 06    .u.
	ld	(ix+7),h	;; 7aa3: dd 74 07    .t.
	ret			;; 7aa6: c9          .

L7aa7:	ret			;; 7aa7: c9          .

L7aa8:	ld	c,001h		;; 7aa8: 0e 01       ..
	call	L91c3		;; 7aaa: cd c3 91    ...
	ld	(ix+23),a	;; 7aad: dd 77 17    .w.
	cp	a,003h		;; 7ab0: fe 03       ..
	jp	z,00000h	;; 7ab2: ca 00 00    ...
	cp	a,00dh		;; 7ab5: fe 0d       ..
	ret	nz		;; 7ab7: c0          .
	ld	e,00ah		;; 7ab8: 1e 0a       ..
	ld	c,002h		;; 7aba: 0e 02       ..
	jr	L7ade		;; 7abc: 18 20       . 

L7abe:	ld	c,006h		;; 7abe: 0e 06       ..
	ld	e,0ffh		;; 7ac0: 1e ff       ..
	call	L91c3		;; 7ac2: cd c3 91    ...
	ld	(ix+23),a	;; 7ac5: dd 77 17    .w.
	ret			;; 7ac8: c9          .

L7ac9:	ld	c,003h		;; 7ac9: 0e 03       ..
	call	L91c3		;; 7acb: cd c3 91    ...
	ld	(ix+23),a	;; 7ace: dd 77 17    .w.
	ret			;; 7ad1: c9          .

L7ad2:	ld	c,004h		;; 7ad2: 0e 04       ..
	ld	e,(ix+23)	;; 7ad4: dd 5e 17    .^.
	jr	L7ade		;; 7ad7: 18 05       ..

L7ad9:	ld	c,005h		;; 7ad9: 0e 05       ..
	ld	e,(ix+23)	;; 7adb: dd 5e 17    .^.
L7ade:	call	L91c3		;; 7ade: cd c3 91    ...
	ret			;; 7ae1: c9          .

L7ae2:	ld	d,000h		;; 7ae2: 16 00       ..
	push	ix		;; 7ae4: dd e5       ..
	pop	hl		;; 7ae6: e1          .
	add	hl,de		;; 7ae7: 19          .
	ld	e,(hl)		;; 7ae8: 5e          ^
	inc	hl		;; 7ae9: 23          #
	ld	d,(hl)		;; 7aea: 56          V
	ex	de,hl		;; 7aeb: eb          .
L7aec:	jp	(hl)		;; 7aec: e9          .

L7aed:	ld	hl,(L762e)	;; 7aed: 2a 2e 76    *.v
	push	hl		;; 7af0: e5          .
	ex	(sp),ix		;; 7af1: dd e3       ..
	jr	L7af8		;; 7af3: 18 03       ..

	call	L7c4b		;; 7af5: cd 4b 7c    .K|
L7af8:	call	L7b14		;; 7af8: cd 14 7b    ..{
	call	L7c63		;; 7afb: cd 63 7c    .c|
	set	4,(ix+5)	;; 7afe: dd cb 05 e6 ....
	pop	ix		;; 7b02: dd e1       ..
	ret			;; 7b04: c9          .

L7b05:	ld	a,(ix+5)	;; 7b05: dd 7e 05    .~.
	and	a,00ch		;; 7b08: e6 0c       ..
	jp	z,L7c81		;; 7b0a: ca 81 7c    ..|
	bit	4,(ix+5)	;; 7b0d: dd cb 05 66 ...f
	ret	z		;; 7b11: c8          .
	jr	L7b1f		;; 7b12: 18 0b       ..

L7b14:	ld	a,(ix+5)	;; 7b14: dd 7e 05    .~.
	bit	2,a		;; 7b17: cb 57       .W
	jp	z,L7c7d		;; 7b19: ca 7d 7c    .}|
	bit	4,a		;; 7b1c: cb 67       .g
	ret	z		;; 7b1e: c8          .
L7b1f:	bit	6,(ix+5)	;; 7b1f: dd cb 05 76 ...v
	jr	nz,L7b72	;; 7b23: 20 4d        M
	ld	l,(ix+6)	;; 7b25: dd 6e 06    .n.
	ld	h,(ix+7)	;; 7b28: dd 66 07    .f.
	call	L7aec		;; 7b2b: cd ec 7a    ..z
	res	4,(ix+5)	;; 7b2e: dd cb 05 a6 ....
	bit	0,(ix+4)	;; 7b32: dd cb 04 46 ...F
	ret	z		;; 7b36: c8          .
	ld	a,(ix+23)	;; 7b37: dd 7e 17    .~.
	cp	a,01ah		;; 7b3a: fe 1a       ..
	jr	z,L7b68		;; 7b3c: 28 2a       (*
	cp	a,00ah		;; 7b3e: fe 0a       ..
	jr	z,L7b4e		;; 7b40: 28 0c       (.
	res	1,(ix+5)	;; 7b42: dd cb 05 8e ....
	cp	a,00dh		;; 7b46: fe 0d       ..
	ret	nz		;; 7b48: c0          .
	ld	(ix+26),a	;; 7b49: dd 77 1a    .w.
	jr	L7b5f		;; 7b4c: 18 11       ..

L7b4e:	bit	1,(ix+5)	;; 7b4e: dd cb 05 4e ...N
	jr	z,L7b5f		;; 7b52: 28 0b       (.
	ld	a,(ix+26)	;; 7b54: dd 7e 1a    .~.
	cp	a,00dh		;; 7b57: fe 0d       ..
	jr	z,L7b1f		;; 7b59: 28 c4       (.
	ld	(ix+26),00ah	;; 7b5b: dd 36 1a 0a .6..
L7b5f:	ld	(ix+23),020h	;; 7b5f: dd 36 17 20 .6. 
	set	1,(ix+5)	;; 7b63: dd cb 05 ce ....
	ret			;; 7b67: c9          .

L7b68:	set	6,(ix+5)	;; 7b68: dd cb 05 f6 ....
	bit	1,(ix+5)	;; 7b6c: dd cb 05 4e ...N
	jr	z,L7b5f		;; 7b70: 28 ed       (.
L7b72:	res	6,(ix+5)	;; 7b72: dd cb 05 b6 ....
	set	0,(ix+5)	;; 7b76: dd cb 05 c6 ....
	ret			;; 7b7a: c9          .

L7b7b:	ld	hl,(L762e)	;; 7b7b: 2a 2e 76    *.v
	push	hl		;; 7b7e: e5          .
	ex	(sp),ix		;; 7b7f: dd e3       ..
	jr	L7b86		;; 7b81: 18 03       ..

	call	L7c4b		;; 7b83: cd 4b 7c    .K|
L7b86:	call	L7c88		;; 7b86: cd 88 7c    ..|
	ld	l,(ix+8)	;; 7b89: dd 6e 08    .n.
	ld	h,(ix+9)	;; 7b8c: dd 66 09    .f.
	call	L7aec		;; 7b8f: cd ec 7a    ..z
	res	1,(ix+5)	;; 7b92: dd cb 05 8e ....
	pop	ix		;; 7b96: dd e1       ..
	ret			;; 7b98: c9          .

	ld	hl,(L0103)	;; 7b99: 2a 03 01    *..
	push	hl		;; 7b9c: e5          .
	ex	(sp),ix		;; 7b9d: dd e3       ..
	jr	L7ba4		;; 7b9f: 18 03       ..

L7ba1:	call	L7c4b		;; 7ba1: cd 4b 7c    .K|
L7ba4:	call	L7b05		;; 7ba4: cd 05 7b    ..{
	ld	a,(ix+5)	;; 7ba7: dd 7e 05    .~.
	and	a,001h		;; 7baa: e6 01       ..
	pop	ix		;; 7bac: dd e1       ..
	ret			;; 7bae: c9          .

	ld	hl,(L0103)	;; 7baf: 2a 03 01    *..
	push	hl		;; 7bb2: e5          .
	ex	(sp),ix		;; 7bb3: dd e3       ..
	jr	L7bba		;; 7bb5: 18 03       ..

L7bb7:	call	L7c4b		;; 7bb7: cd 4b 7c    .K|
L7bba:	call	L7b05		;; 7bba: cd 05 7b    ..{
	bit	0,(ix+5)	;; 7bbd: dd cb 05 46 ...F
	jp	nz,L7c6c	;; 7bc1: c2 6c 7c    .l|
	ld	a,(ix+5)	;; 7bc4: dd 7e 05    .~.
	rra			;; 7bc7: 1f          .
	and	a,001h		;; 7bc8: e6 01       ..
	pop	ix		;; 7bca: dd e1       ..
	ret			;; 7bcc: c9          .

	ld	hl,(L0105)	;; 7bcd: 2a 05 01    *..
	push	hl		;; 7bd0: e5          .
	ex	(sp),ix		;; 7bd1: dd e3       ..
	jr	L7bd8		;; 7bd3: 18 03       ..

	call	L7c4b		;; 7bd5: cd 4b 7c    .K|
L7bd8:	call	L7c88		;; 7bd8: cd 88 7c    ..|
	ld	(ix+23),00dh	;; 7bdb: dd 36 17 0d .6..
	ld	e,008h		;; 7bdf: 1e 08       ..
	call	L7ae2		;; 7be1: cd e2 7a    ..z
	ld	(ix+23),00ch	;; 7be4: dd 36 17 0c .6..
	ld	e,008h		;; 7be8: 1e 08       ..
	call	L7ae2		;; 7bea: cd e2 7a    ..z
	set	1,(ix+5)	;; 7bed: dd cb 05 ce ....
	pop	ix		;; 7bf1: dd e1       ..
	ret			;; 7bf3: c9          .

L7bf4:	ld	hl,(L762e)	;; 7bf4: 2a 2e 76    *.v
	push	hl		;; 7bf7: e5          .
	ex	(sp),ix		;; 7bf8: dd e3       ..
	jr	L7bff		;; 7bfa: 18 03       ..

	call	L7c4b		;; 7bfc: cd 4b 7c    .K|
L7bff:	call	L7b05		;; 7bff: cd 05 7b    ..{
	ld	l,(ix+16)	;; 7c02: dd 6e 10    .n.
	ld	h,(ix+17)	;; 7c05: dd 66 11    .f.
	pop	ix		;; 7c08: dd e1       ..
	ret			;; 7c0a: c9          .

L7c0b:	ld	hl,(L762e)	;; 7c0b: 2a 2e 76    *.v
	push	hl		;; 7c0e: e5          .
	ex	(sp),ix		;; 7c0f: dd e3       ..
	call	L7b14		;; 7c11: cd 14 7b    ..{
L7c14:	call	L7c63		;; 7c14: cd 63 7c    .c|
	bit	1,(ix+5)	;; 7c17: dd cb 05 4e ...N
	jr	nz,L7c22	;; 7c1b: 20 05        .
	call	L7b1f		;; 7c1d: cd 1f 7b    ..{
	jr	L7c14		;; 7c20: 18 f2       ..

L7c22:	set	4,(ix+5)	;; 7c22: dd cb 05 e6 ....
	pop	ix		;; 7c26: dd e1       ..
	ret			;; 7c28: c9          .

L7c29:	ld	hl,(L762e)	;; 7c29: 2a 2e 76    *.v
	push	hl		;; 7c2c: e5          .
	ex	(sp),ix		;; 7c2d: dd e3       ..
	call	L7c88		;; 7c2f: cd 88 7c    ..|
	ld	(ix+23),00dh	;; 7c32: dd 36 17 0d .6..
	ld	e,008h		;; 7c36: 1e 08       ..
	call	L7ae2		;; 7c38: cd e2 7a    ..z
	ld	(ix+23),00ah	;; 7c3b: dd 36 17 0a .6..
	ld	e,008h		;; 7c3f: 1e 08       ..
	call	L7ae2		;; 7c41: cd e2 7a    ..z
	set	1,(ix+5)	;; 7c44: dd cb 05 ce ....
	pop	ix		;; 7c48: dd e1       ..
	ret			;; 7c4a: c9          .

L7c4b:	pop	iy		;; 7c4b: fd e1       ..
	pop	hl		;; 7c4d: e1          .
	ld	(L91bd),hl	;; 7c4e: 22 bd 91    "..
	ex	(sp),hl		;; 7c51: e3          .
	push	hl		;; 7c52: e5          .
	ex	(sp),ix		;; 7c53: dd e3       ..
	ld	a,h		;; 7c55: 7c          |
	or	a,a		;; 7c56: b7          .
	jr	z,L7c81		;; 7c57: 28 28       ((
	cp	a,(hl)		;; 7c59: be          .
	jr	nz,L7c81	;; 7c5a: 20 25        %
	inc	hl		;; 7c5c: 23          #
	ld	a,l		;; 7c5d: 7d          }
	cp	a,(hl)		;; 7c5e: be          .
	jr	nz,L7c81	;; 7c5f: 20 20         
	jp	(iy)		;; 7c61: fd e9       ..

L7c63:	bit	0,(ix+5)	;; 7c63: dd cb 05 46 ...F
	ret	z		;; 7c67: c8          .
	ld	c,005h		;; 7c68: 0e 05       ..
	jr	L7c6e		;; 7c6a: 18 02       ..

L7c6c:	ld	c,007h		;; 7c6c: 0e 07       ..
L7c6e:	pop	ix		;; 7c6e: dd e1       ..
	ld	a,046h		;; 7c70: 3e 46       >F
	ld	b,00eh		;; 7c72: 06 0e       ..
	ld	de,L7c9b	;; 7c74: 11 9b 7c    ..|
	call	L921e		;; 7c77: cd 1e 92    ...
	ld	a,001h		;; 7c7a: 3e 01       >.
	ret			;; 7c7c: c9          .

L7c7d:	ld	b,008h		;; 7c7d: 06 08       ..
	jr	L7c83		;; 7c7f: 18 02       ..

L7c81:	ld	b,010h		;; 7c81: 06 10       ..
L7c83:	ld	de,L7ca9	;; 7c83: 11 a9 7c    ..|
	jr	L7c92		;; 7c86: 18 0a       ..

L7c88:	bit	3,(ix+5)	;; 7c88: dd cb 05 5e ...^
	ret	nz		;; 7c8c: c0          .
	ld	de,L7cb9	;; 7c8d: 11 b9 7c    ..|
	ld	b,00ah		;; 7c90: 06 0a       ..
L7c92:	ld	a,046h		;; 7c92: 3e 46       >F
	ld	c,005h		;; 7c94: 0e 05       ..
	pop	ix		;; 7c96: dd e1       ..
	jp	L921e		;; 7c98: c3 1e 92    ...

L7c9b:	db	'At end-of-file'
L7ca9:	db	'No reset/rewrite'
L7cb9:	db	'No rewrite'
L7cc3:	push	ix		;; 7cc3: dd e5       ..
	ex	(sp),hl		;; 7cc5: e3          .
	ld	de,00024h	;; 7cc6: 11 24 00    .$.
	add	hl,de		;; 7cc9: 19          .
	ex	de,hl		;; 7cca: eb          .
	pop	hl		;; 7ccb: e1          .
	ret			;; 7ccc: c9          .

L7ccd:	ld	e,(ix+18)	;; 7ccd: dd 5e 12    .^.
	ld	d,(ix+19)	;; 7cd0: dd 56 13    .V.
	push	de		;; 7cd3: d5          .
	pop	iy		;; 7cd4: fd e1       ..
	ret			;; 7cd6: c9          .

L7cd7:	ld	l,(ix+28)	;; 7cd7: dd 6e 1c    .n.
	ld	c,(ix+26)	;; 7cda: dd 4e 1a    .N.
	ld	b,(ix+27)	;; 7cdd: dd 46 1b    .F.
	ret			;; 7ce0: c9          .

L7ce1:	ld	l,(ix+71)	;; 7ce1: dd 6e 47    .nG
	ld	c,(ix+69)	;; 7ce4: dd 4e 45    .NE
	ld	b,(ix+70)	;; 7ce7: dd 46 46    .FF
	ret			;; 7cea: c9          .

L7ceb:	ld	(ix+28),l	;; 7ceb: dd 75 1c    .u.
	ld	(ix+26),c	;; 7cee: dd 71 1a    .q.
	ld	(ix+27),b	;; 7cf1: dd 70 1b    .p.
	ret			;; 7cf4: c9          .

L7cf5:	ld	(ix+31),l	;; 7cf5: dd 75 1f    .u.
	ld	(ix+29),c	;; 7cf8: dd 71 1d    .q.
	ld	(ix+30),b	;; 7cfb: dd 70 1e    .p.
	ret			;; 7cfe: c9          .

L7cff:	ld	a,c		;; 7cff: 79          y
	cp	a,(ix+26)	;; 7d00: dd be 1a    ...
	ret	nz		;; 7d03: c0          .
	ld	a,b		;; 7d04: 78          x
	cp	a,(ix+27)	;; 7d05: dd be 1b    ...
	ret	nz		;; 7d08: c0          .
	ld	a,l		;; 7d09: 7d          }
	cp	a,(ix+28)	;; 7d0a: dd be 1c    ...
	ret			;; 7d0d: c9          .

L7d0e:	ld	l,(ix+16)	;; 7d0e: dd 6e 10    .n.
	ld	h,(ix+17)	;; 7d11: dd 66 11    .f.
	ld	e,(ix+24)	;; 7d14: dd 5e 18    .^.
	ld	d,000h		;; 7d17: 16 00       ..
	add	hl,de		;; 7d19: 19          .
	ld	(ix+16),l	;; 7d1a: dd 75 10    .u.
	ld	(ix+17),h	;; 7d1d: dd 74 11    .t.
	inc	(ix+22)		;; 7d20: dd 34 16    .4.
	ret			;; 7d23: c9          .

L7d24:	ld	a,l		;; 7d24: 7d          }
	cp	a,(ix+31)	;; 7d25: dd be 1f    ...
	ret	nz		;; 7d28: c0          .
	ld	a,b		;; 7d29: 78          x
	cp	a,(ix+30)	;; 7d2a: dd be 1e    ...
	ret	nz		;; 7d2d: c0          .
	ld	a,c		;; 7d2e: 79          y
	cp	a,(ix+29)	;; 7d2f: dd be 1d    ...
	ret			;; 7d32: c9          .

L7d33:	res	0,(ix+5)	;; 7d33: dd cb 05 86 ....
	ld	a,(ix+22)	;; 7d37: dd 7e 16    .~.
	call	L7ccd		;; 7d3a: cd cd 7c    ..|
	cp	a,(iy+127)	;; 7d3d: fd be 7f    ...
	ret	c		;; 7d40: d8          .
	call	L7cd7		;; 7d41: cd d7 7c    ..|
	inc	c		;; 7d44: 0c          .
	jr	nz,L7d4b	;; 7d45: 20 04        .
	inc	b		;; 7d47: 04          .
	jr	nz,L7d4b	;; 7d48: 20 01        .
	inc	l		;; 7d4a: 2c          ,
L7d4b:	call	L7d24		;; 7d4b: cd 24 7d    .$}
	ret	c		;; 7d4e: d8          .
	set	0,(ix+5)	;; 7d4f: dd cb 05 c6 ....
	ret			;; 7d53: c9          .

L7d54:	ld	a,(ix+26)	;; 7d54: dd 7e 1a    .~.
	add	a,(ix+20)	;; 7d57: dd 86 14    ...
	ld	(ix+26),a	;; 7d5a: dd 77 1a    .w.
	ret	nc		;; 7d5d: d0          .
	inc	(ix+27)		;; 7d5e: dd 34 1b    .4.
	ret	nz		;; 7d61: c0          .
	inc	(ix+28)		;; 7d62: dd 34 1c    .4.
	ret			;; 7d65: c9          .

L7d66:	ld	a,(L8e6e)	;; 7d66: 3a 6e 8e    :n.
	cp	a,002h		;; 7d69: fe 02       ..
	jr	nz,L7d7c	;; 7d6b: 20 0f        .
	call	L7cc3		;; 7d6d: cd c3 7c    ..|
	ld	c,023h		;; 7d70: 0e 23       .#
	call	L91c3		;; 7d72: cd c3 91    ...
	call	L7ce1		;; 7d75: cd e1 7c    ..|
	call	L7cf5		;; 7d78: cd f5 7c    ..|
	ret			;; 7d7b: c9          .

L7d7c:	call	L7cc3		;; 7d7c: cd c3 7c    ..|
	ld	c,010h		;; 7d7f: 0e 10       ..
	call	L91c3		;; 7d81: cd c3 91    ...
L7d84:	ld	h,(ix+48)	;; 7d84: dd 66 30    .f0
	ld	l,000h		;; 7d87: 2e 00       ..
	srl	h		;; 7d89: cb 3c       .<
	rr	l		;; 7d8b: cb 1d       ..
	ld	b,000h		;; 7d8d: 06 00       ..
	ld	c,(ix+51)	;; 7d8f: dd 4e 33    .N3
	add	hl,bc		;; 7d92: 09          .
	ld	(ix+29),l	;; 7d93: dd 75 1d    .u.
	ld	(ix+30),h	;; 7d96: dd 74 1e    .t.
	ld	(ix+31),000h	;; 7d99: dd 36 1f 00 .6..
	inc	(ix+48)		;; 7d9d: dd 34 30    .40
	call	L7cc3		;; 7da0: cd c3 7c    ..|
	ld	c,00fh		;; 7da3: 0e 0f       ..
	call	L91c3		;; 7da5: cd c3 91    ...
	inc	a		;; 7da8: 3c          <
	jr	z,L7dba		;; 7da9: 28 0f       (.
	ld	(ix+68),000h	;; 7dab: dd 36 44 00 .6D.
	call	L7cc3		;; 7daf: cd c3 7c    ..|
	ld	c,014h		;; 7db2: 0e 14       ..
	call	L91c3		;; 7db4: cd c3 91    ...
	or	a,a		;; 7db7: b7          .
	jr	z,L7d84		;; 7db8: 28 ca       (.
L7dba:	ld	(ix+48),000h	;; 7dba: dd 36 30 00 .60.
	call	L7cc3		;; 7dbe: cd c3 7c    ..|
	ld	c,00fh		;; 7dc1: 0e 0f       ..
	call	L91c3		;; 7dc3: cd c3 91    ...
	ret			;; 7dc6: c9          .

L7dc7:	ld	l,(ix+26)	;; 7dc7: dd 6e 1a    .n.
	ld	h,(ix+27)	;; 7dca: dd 66 1b    .f.
	add	hl,hl		;; 7dcd: 29          )
	srl	l		;; 7dce: cb 3d       .=
	ld	(ix+68),l	;; 7dd0: dd 75 44    .uD
	ld	a,h		;; 7dd3: 7c          |
	sub	a,(ix+48)	;; 7dd4: dd 96 30    ..0
	ret	z		;; 7dd7: c8          .
	push	hl		;; 7dd8: e5          .
	ld	c,010h		;; 7dd9: 0e 10       ..
	call	L7cc3		;; 7ddb: cd c3 7c    ..|
	bit	3,(ix+5)	;; 7dde: dd cb 05 5e ...^
	call	nz,L91c3	;; 7de2: c4 c3 91    ...
	pop	hl		;; 7de5: e1          .
	ld	(ix+48),h	;; 7de6: dd 74 30    .t0
	call	L7cc3		;; 7de9: cd c3 7c    ..|
	ld	c,00fh		;; 7dec: 0e 0f       ..
	call	L91c3		;; 7dee: cd c3 91    ...
	ret			;; 7df1: c9          .

L7df2:	ld	a,c		;; 7df2: 79          y
	call	L7cd7		;; 7df3: cd d7 7c    ..|
	ld	(ix+69),c	;; 7df6: dd 71 45    .qE
	ld	(ix+70),b	;; 7df9: dd 70 46    .pF
	ld	(ix+71),l	;; 7dfc: dd 75 47    .uG
	ld	b,(ix+20)	;; 7dff: dd 46 14    .F.
	ld	c,a		;; 7e02: 4f          O
	call	L7ccd		;; 7e03: cd cd 7c    ..|
L7e06:	push	de		;; 7e06: d5          .
	push	bc		;; 7e07: c5          .
	ld	c,01ah		;; 7e08: 0e 1a       ..
	call	L91c3		;; 7e0a: cd c3 91    ...
	call	L7cc3		;; 7e0d: cd c3 7c    ..|
	pop	bc		;; 7e10: c1          .
	push	bc		;; 7e11: c5          .
	call	L91c3		;; 7e12: cd c3 91    ...
	pop	bc		;; 7e15: c1          .
	pop	de		;; 7e16: d1          .
	or	a,a		;; 7e17: b7          .
	jr	nz,L7e2e	;; 7e18: 20 14        .
	ld	hl,00080h	;; 7e1a: 21 80 00    ...
	add	hl,de		;; 7e1d: 19          .
	ex	de,hl		;; 7e1e: eb          .
	inc	(ix+69)		;; 7e1f: dd 34 45    .4E
	jr	nz,L7e2c	;; 7e22: 20 08        .
	inc	(ix+70)		;; 7e24: dd 34 46    .4F
	jr	nz,L7e2c	;; 7e27: 20 03        .
	inc	(ix+71)		;; 7e29: dd 34 47    .4G
L7e2c:	djnz	L7e06		;; 7e2c: 10 d8       ..
L7e2e:	push	af		;; 7e2e: f5          .
	ld	de,00080h	;; 7e2f: 11 80 00    ...
	ld	c,01ah		;; 7e32: 0e 1a       ..
	call	L91c3		;; 7e34: cd c3 91    ...
	pop	af		;; 7e37: f1          .
	ret			;; 7e38: c9          .

L7e39:	call	L7ccd		;; 7e39: cd cd 7c    ..|
	ld	(ix+16),e	;; 7e3c: dd 73 10    .s.
	ld	(ix+17),d	;; 7e3f: dd 72 11    .r.
	call	L7cd7		;; 7e42: cd d7 7c    ..|
	call	L7d24		;; 7e45: cd 24 7d    .$}
	set	0,(ix+5)	;; 7e48: dd cb 05 c6 ....
	jr	nc,L7e68	;; 7e4c: 30 1a       0.
	res	0,(ix+5)	;; 7e4e: dd cb 05 86 ....
	ld	a,(L8e6e)	;; 7e52: 3a 6e 8e    :n.
	ld	c,021h		;; 7e55: 0e 21       ..
	cp	a,002h		;; 7e57: fe 02       ..
	jr	nc,L7e63	;; 7e59: 30 08       0.
	call	L7dc7		;; 7e5b: cd c7 7d    ..}
	inc	a		;; 7e5e: 3c          <
	jr	z,L7e68		;; 7e5f: 28 07       (.
	ld	c,014h		;; 7e61: 0e 14       ..
L7e63:	call	L7df2		;; 7e63: cd f2 7d    ..}
	or	a,a		;; 7e66: b7          .
	ret	z		;; 7e67: c8          .
L7e68:	ld	a,001h		;; 7e68: 3e 01       >.
	ret			;; 7e6a: c9          .

L7e6b:	call	L7e39		;; 7e6b: cd 39 7e    .9~
	ld	(ix+22),000h	;; 7e6e: dd 36 16 00 .6..
	or	a,a		;; 7e72: b7          .
	ret	z		;; 7e73: c8          .
	call	L7ccd		;; 7e74: cd cd 7c    ..|
	ld	a,(ix+24)	;; 7e77: dd 7e 18    .~.
	ld	(iy+126),a	;; 7e7a: fd 77 7e    .w~
	ld	(iy+127),000h	;; 7e7d: fd 36 7f 00 .6..
	res	3,(ix+23)	;; 7e81: dd cb 17 9e ....
	ret			;; 7e85: c9          .

L7e86:	ld	a,(L8e6e)	;; 7e86: 3a 6e 8e    :n.
	ld	c,022h		;; 7e89: 0e 22       ."
	cp	a,002h		;; 7e8b: fe 02       ..
	jr	nc,L7ea3	;; 7e8d: 30 14       0.
	call	L7dc7		;; 7e8f: cd c7 7d    ..}
	inc	a		;; 7e92: 3c          <
	jr	nz,L7ea1	;; 7e93: 20 0c        .
	call	L7cc3		;; 7e95: cd c3 7c    ..|
	ld	c,016h		;; 7e98: 0e 16       ..
	call	L91c3		;; 7e9a: cd c3 91    ...
	inc	a		;; 7e9d: 3c          <
	jp	z,L8020		;; 7e9e: ca 20 80    . .
L7ea1:	ld	c,015h		;; 7ea1: 0e 15       ..
L7ea3:	call	L7df2		;; 7ea3: cd f2 7d    ..}
	or	a,a		;; 7ea6: b7          .
	jp	nz,L8020	;; 7ea7: c2 20 80    . .
	res	3,(ix+23)	;; 7eaa: dd cb 17 9e ....
	call	L7ce1		;; 7eae: cd e1 7c    ..|
	call	L7d24		;; 7eb1: cd 24 7d    .$}
	ret	c		;; 7eb4: d8          .
	call	L7cf5		;; 7eb5: cd f5 7c    ..|
	ret			;; 7eb8: c9          .

L7eb9:	bit	1,(ix+23)	;; 7eb9: dd cb 17 4e ...N
	jr	nz,L7f03	;; 7ebd: 20 44        D
	bit	3,(ix+4)	;; 7ebf: dd cb 04 5e ...^
	jp	z,L802b		;; 7ec3: ca 2b 80    .+.
	push	de		;; 7ec6: d5          .
	push	bc		;; 7ec7: c5          .
	call	L7d66		;; 7ec8: cd 66 7d    .f}
	ld	(ix+23),000h	;; 7ecb: dd 36 17 00 .6..
	ld	bc,L7f96	;; 7ecf: 01 96 7f    ...
	ld	de,L7f93	;; 7ed2: 11 93 7f    ...
	ld	hl,L7ff8	;; 7ed5: 21 f8 7f    ...
	bit	6,(ix+4)	;; 7ed8: dd cb 04 76 ...v
	jr	z,L7ee7		;; 7edc: 28 09       (.
	ld	bc,L7f9d	;; 7ede: 01 9d 7f    ...
	ld	de,L7fac	;; 7ee1: 11 ac 7f    ...
	ld	hl,L7fe9	;; 7ee4: 21 e9 7f    ...
L7ee7:	ld	(ix+6),c	;; 7ee7: dd 71 06    .q.
	ld	(ix+7),b	;; 7eea: dd 70 07    .p.
	ld	(ix+8),e	;; 7eed: dd 73 08    .s.
	ld	(ix+9),d	;; 7ef0: dd 72 09    .r.
	ld	(ix+12),l	;; 7ef3: dd 75 0c    .u.
	ld	(ix+13),h	;; 7ef6: dd 74 0d    .t.
	pop	bc		;; 7ef9: c1          .
	pop	de		;; 7efa: d1          .
	ld	(ix+28),0ffh	;; 7efb: dd 36 1c ff .6..
	set	1,(ix+23)	;; 7eff: dd cb 17 ce ....
L7f03:	bit	7,d		;; 7f03: cb 7a       .z
	jr	z,L7f0d		;; 7f05: 28 06       (.
	call	L8013		;; 7f07: cd 13 80    ...
	ld	de,00000h	;; 7f0a: 11 00 00    ...
L7f0d:	push	de		;; 7f0d: d5          .
	push	bc		;; 7f0e: c5          .
	bit	6,(ix+4)	;; 7f0f: dd cb 04 76 ...v
	jr	nz,L7f33	;; 7f13: 20 1e        .
	ld	c,(ix+20)	;; 7f15: dd 4e 14    .N.
	ld	b,000h		;; 7f18: 06 00       ..
	ld	h,b		;; 7f1a: 60          `
	ld	l,b		;; 7f1b: 68          h
	call	L8636		;; 7f1c: cd 36 86    .6.
	ld	a,l		;; 7f1f: 7d          }
	and	a,0f0h		;; 7f20: e6 f0       ..
	or	a,h		;; 7f22: b4          .
	call	nz,L8013	;; 7f23: c4 13 80    ...
	call	L7cff		;; 7f26: cd ff 7c    ..|
	jr	z,L7f8e		;; 7f29: 28 63       (c
	call	L7ceb		;; 7f2b: cd eb 7c    ..|
	call	L7e39		;; 7f2e: cd 39 7e    .9~
	jr	L7f8e		;; 7f31: 18 5b       .[

L7f33:	push	de		;; 7f33: d5          .
	push	bc		;; 7f34: c5          .
	ld	c,(ix+21)	;; 7f35: dd 4e 15    .N.
	ld	b,000h		;; 7f38: 06 00       ..
	ld	hl,00000h	;; 7f3a: 21 00 00    ...
	call	L85d6		;; 7f3d: cd d6 85    ...
	ld	a,l		;; 7f40: 7d          }
	and	a,0f0h		;; 7f41: e6 f0       ..
	or	a,h		;; 7f43: b4          .
	jr	z,L7f4d		;; 7f44: 28 07       (.
	pop	de		;; 7f46: d1          .
	pop	de		;; 7f47: d1          .
	call	L8013		;; 7f48: cd 13 80    ...
	push	bc		;; 7f4b: c5          .
	push	bc		;; 7f4c: c5          .
L7f4d:	push	hl		;; 7f4d: e5          .
	push	bc		;; 7f4e: c5          .
	call	L7cff		;; 7f4f: cd ff 7c    ..|
	jr	z,L7f67		;; 7f52: 28 13       (.
	bit	3,(ix+23)	;; 7f54: dd cb 17 5e ...^
	call	nz,L7e86	;; 7f58: c4 86 7e    ..~
	pop	bc		;; 7f5b: c1          .
	pop	hl		;; 7f5c: e1          .
	call	L7ceb		;; 7f5d: cd eb 7c    ..|
	push	hl		;; 7f60: e5          .
	push	bc		;; 7f61: c5          .
	call	L7e6b		;; 7f62: cd 6b 7e    .k~
	jr	L7f74		;; 7f65: 18 0d       ..

L7f67:	call	L7ccd		;; 7f67: cd cd 7c    ..|
	ld	(ix+16),e	;; 7f6a: dd 73 10    .s.
	ld	(ix+17),d	;; 7f6d: dd 72 11    .r.
	ld	(ix+22),000h	;; 7f70: dd 36 16 00 .6..
L7f74:	ld	c,(ix+21)	;; 7f74: dd 4e 15    .N.
	ld	b,000h		;; 7f77: 06 00       ..
	ld	l,b		;; 7f79: 68          h
	ld	h,b		;; 7f7a: 60          `
	call	L8636		;; 7f7b: cd 36 86    .6.
	call	L87f6		;; 7f7e: cd f6 87    ...
	ld	a,c		;; 7f81: 79          y
	or	a,a		;; 7f82: b7          .
	jr	z,L7f8b		;; 7f83: 28 06       (.
L7f85:	call	L7d0e		;; 7f85: cd 0e 7d    ..}
	dec	a		;; 7f88: 3d          =
	jr	nz,L7f85	;; 7f89: 20 fa        .
L7f8b:	call	L7d33		;; 7f8b: cd 33 7d    .3}
L7f8e:	res	4,(ix+5)	;; 7f8e: dd cb 05 a6 ....
	ret			;; 7f92: c9          .

L7f93:	call	L7e86		;; 7f93: cd 86 7e    ..~
L7f96:	call	L7d54		;; 7f96: cd 54 7d    .T}
	call	L7e39		;; 7f99: cd 39 7e    .9~
	ret			;; 7f9c: c9          .

L7f9d:	call	L7d0e		;; 7f9d: cd 0e 7d    ..}
	ld	a,(ix+22)	;; 7fa0: dd 7e 16    .~.
	cp	a,(ix+21)	;; 7fa3: dd be 15    ...
	jr	z,L7fdb		;; 7fa6: 28 33       (3
	call	L7d33		;; 7fa8: cd 33 7d    .3}
	ret			;; 7fab: c9          .

L7fac:	set	3,(ix+23)	;; 7fac: dd cb 17 de ....
	call	L7d0e		;; 7fb0: cd 0e 7d    ..}
	call	L7ccd		;; 7fb3: cd cd 7c    ..|
	ld	a,(ix+22)	;; 7fb6: dd 7e 16    .~.
	cp	a,(iy+127)	;; 7fb9: fd be 7f    ...
	jp	m,L7fd4		;; 7fbc: fa d4 7f    ...
	ld	(iy+127),a	;; 7fbf: fd 77 7f    .w.
	call	L7cd7		;; 7fc2: cd d7 7c    ..|
	call	L7d24		;; 7fc5: cd 24 7d    .$}
	jr	c,L7fd4		;; 7fc8: 38 0a       8.
	inc	c		;; 7fca: 0c          .
	jr	nz,L7fd1	;; 7fcb: 20 04        .
	inc	b		;; 7fcd: 04          .
	jr	nz,L7fd1	;; 7fce: 20 01        .
	inc	l		;; 7fd0: 2c          ,
L7fd1:	call	L7cf5		;; 7fd1: cd f5 7c    ..|
L7fd4:	ld	a,(ix+22)	;; 7fd4: dd 7e 16    .~.
	cp	a,(ix+21)	;; 7fd7: dd be 15    ...
	ret	nz		;; 7fda: c0          .
L7fdb:	bit	3,(ix+23)	;; 7fdb: dd cb 17 5e ...^
	call	nz,L7e86	;; 7fdf: c4 86 7e    ..~
	call	L7d54		;; 7fe2: cd 54 7d    .T}
	call	L7e6b		;; 7fe5: cd 6b 7e    .k~
	ret			;; 7fe8: c9          .

L7fe9:	bit	7,(ix+5)	;; 7fe9: dd cb 05 7e ...~
	jr	nz,L7ff8	;; 7fed: 20 09        .
	push	af		;; 7fef: f5          .
	bit	3,(ix+23)	;; 7ff0: dd cb 17 5e ...^
	call	nz,L7e86	;; 7ff4: c4 86 7e    ..~
	pop	af		;; 7ff7: f1          .
L7ff8:	push	af		;; 7ff8: f5          .
	call	L7cc3		;; 7ff9: cd c3 7c    ..|
	ld	c,010h		;; 7ffc: 0e 10       ..
	call	L91c3		;; 7ffe: cd c3 91    ...
	pop	af		;; 8001: f1          .
	rra			;; 8002: 1f          .
	ret	c		;; 8003: d8          .
	bit	4,(ix+4)	;; 8004: dd cb 04 66 ...f
	ret	nz		;; 8008: c0          .
	call	L7cc3		;; 8009: cd c3 7c    ..|
	ld	c,013h		;; 800c: 0e 13       ..
	call	L91c3		;; 800e: cd c3 91    ...
	ret			;; 8011: c9          .

	jp	(hl)		;; 8012: e9          .

L8013:	ld	a,055h		;; 8013: 3e 55       >U
	ld	c,006h		;; 8015: 0e 06       ..
	call	L921e		;; 8017: cd 1e 92    ...
	ld	bc,00000h	;; 801a: 01 00 00    ...
	ld	h,b		;; 801d: 60          `
	ld	l,b		;; 801e: 68          h
	ret			;; 801f: c9          .

L8020:	set	7,(ix+5)	;; 8020: dd cb 05 fe ....
	ld	de,L8047	;; 8024: 11 47 80    .G.
	ld	b,009h		;; 8027: 06 09       ..
	jr	L8030		;; 8029: 18 05       ..

L802b:	ld	de,L8037	;; 802b: 11 37 80    .7.
	ld	b,010h		;; 802e: 06 10       ..
L8030:	ld	a,044h		;; 8030: 3e 44       >D
	ld	c,005h		;; 8032: 0e 05       ..
	jp	L921e		;; 8034: c3 1e 92    ...

L8037:	db	'Must be discfile'
L8047:	db	'Disc full'
L8050:	db	0
L8051:	db	0
L8052:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L8062:	pop	iy		;; 8062: fd e1       ..
	ld	(L8050),a	;; 8064: 32 50 80    2P.
L8067:	pop	hl		;; 8067: e1          .
	ld	a,h		;; 8068: 7c          |
	cp	a,020h		;; 8069: fe 20       . 
	jr	nz,L8076	;; 806b: 20 09        .
	ld	a,l		;; 806d: 7d          }
	or	a,a		;; 806e: b7          .
	jr	z,L8076		;; 806f: 28 05       (.
	dec	a		;; 8071: 3d          =
	push	af		;; 8072: f5          .
	inc	sp		;; 8073: 33          3
	jr	L8067		;; 8074: 18 f1       ..

L8076:	push	hl		;; 8076: e5          .
	ld	hl,L8052	;; 8077: 21 52 80    .R.
	ld	(hl),000h	;; 807a: 36 00       6.
	ex	de,hl		;; 807c: eb          .
	ld	hl,00000h	;; 807d: 21 00 00    ...
	add	hl,sp		;; 8080: 39          9
	ld	b,000h		;; 8081: 06 00       ..
	ld	c,(hl)		;; 8083: 4e          N
	push	hl		;; 8084: e5          .
	add	hl,bc		;; 8085: 09          .
	inc	hl		;; 8086: 23          #
	ex	(sp),hl		;; 8087: e3          .
	ld	a,c		;; 8088: 79          y
	or	a,a		;; 8089: b7          .
	jr	z,L80a5		;; 808a: 28 19       (.
	push	de		;; 808c: d5          .
L808d:	inc	hl		;; 808d: 23          #
	ld	a,(hl)		;; 808e: 7e          ~
	cp	a,020h		;; 808f: fe 20       . 
	jr	z,L80a4		;; 8091: 28 11       (.
	cp	a,02ch		;; 8093: fe 2c       .,
	jr	z,L80a4		;; 8095: 28 0d       (.
	inc	de		;; 8097: 13          .
	ld	(de),a		;; 8098: 12          .
	ex	(sp),hl		;; 8099: e3          .
	inc	(hl)		;; 809a: 34          4
	ld	a,(hl)		;; 809b: 7e          ~
	ex	(sp),hl		;; 809c: e3          .
	cp	a,00fh		;; 809d: fe 0f       ..
	jr	z,L80a4		;; 809f: 28 03       (.
	dec	c		;; 80a1: 0d          .
	jr	nz,L808d	;; 80a2: 20 e9        .
L80a4:	pop	de		;; 80a4: d1          .
L80a5:	pop	hl		;; 80a5: e1          .
	ld	sp,hl		;; 80a6: f9          .
	push	iy		;; 80a7: fd e5       ..
	cp	a,00fh		;; 80a9: fe 0f       ..
	jr	z,L80ea		;; 80ab: 28 3d       (=
	inc	de		;; 80ad: 13          .
	push	de		;; 80ae: d5          .
	ld	c,a		;; 80af: 4f          O
	push	bc		;; 80b0: c5          .
	ld	hl,0005ch	;; 80b1: 21 5c 00    .\.
	push	hl		;; 80b4: e5          .
	call	L8495		;; 80b5: cd 95 84    ...
	ld	hl,00068h	;; 80b8: 21 68 00    .h.
	ld	(hl),000h	;; 80bb: 36 00       6.
	ld	hl,L8050	;; 80bd: 21 50 80    .P.
	ld	b,(hl)		;; 80c0: 46          F
	djnz	L80c4		;; 80c1: 10 01       ..
	ret			;; 80c3: c9          .

L80c4:	or	a,a		;; 80c4: b7          .
	jr	z,L80d3		;; 80c5: 28 0c       (.
	cp	a,003h		;; 80c7: fe 03       ..
	jr	z,L80f1		;; 80c9: 28 26       (&
	djnz	L80ce		;; 80cb: 10 01       ..
	ret			;; 80cd: c9          .

L80ce:	cp	a,001h		;; 80ce: fe 01       ..
	jr	nz,L80f1	;; 80d0: 20 1f        .
	ret			;; 80d2: c9          .

L80d3:	ld	de,L80da	;; 80d3: 11 da 80    ...
	ld	b,010h		;; 80d6: 06 10       ..
	jr	L80ff		;; 80d8: 18 25       .%

L80da:	db	'? (empty string)'
L80ea:	ld	a,(L8050)	;; 80ea: 3a 50 80    :P.
	dec	a		;; 80ed: 3d          =
	ld	a,003h		;; 80ee: 3e 03       >.
	ret	z		;; 80f0: c8          .
L80f1:	ld	hl,L8051	;; 80f1: 21 51 80    .Q.
	push	hl		;; 80f4: e5          .
	ld	(hl),03fh	;; 80f5: 36 3f       6?
	inc	hl		;; 80f7: 23          #
	ld	a,(hl)		;; 80f8: 7e          ~
	ld	(hl),020h	;; 80f9: 36 20       6 
	add	a,002h		;; 80fb: c6 02       ..
	ld	b,a		;; 80fd: 47          G
	pop	de		;; 80fe: d1          .
L80ff:	ld	a,04eh		;; 80ff: 3e 4e       >N
	ld	c,005h		;; 8101: 0e 05       ..
	call	L921e		;; 8103: cd 1e 92    ...

L8106:	db	0

L8107:	call	L81bd		;; 8107: cd bd 81    ...
	ld	hl,L813c	;; 810a: 21 3c 81    .<.
	ld	bc,0000ch	;; 810d: 01 0c 00    ...
	ldir			;; 8110: ed b0       ..
	ex	de,hl		;; 8112: eb          .
	ld	bc,0fffch	;; 8113: 01 fc ff    ...
	add	hl,bc		;; 8116: 09          .
	ex	de,hl		;; 8117: eb          .
	ld	hl,L8e6c	;; 8118: 21 6c 8e    .l.
	ld	a,(hl)		;; 811b: 7e          ~
	add	a,001h		;; 811c: c6 01       ..
	daa			;; 811e: 27          '
	ld	(hl),a		;; 811f: 77          w
	push	af		;; 8120: f5          .
	call	L8148		;; 8121: cd 48 81    .H.
	pop	af		;; 8124: f1          .
	inc	hl		;; 8125: 23          #
	ld	a,(hl)		;; 8126: 7e          ~
	adc	a,000h		;; 8127: ce 00       ..
	daa			;; 8129: 27          '
	ld	(hl),a		;; 812a: 77          w
	call	L8148		;; 812b: cd 48 81    .H.
	ld	hl,L81d0	;; 812e: 21 d0 81    ...
	ld	(ix+10),l	;; 8131: dd 75 0a    .u.
	ld	(ix+11),h	;; 8134: dd 74 0b    .t.
	set	3,(ix+4)	;; 8137: dd cb 04 de ....
	ret			;; 813b: c9          .

L813c:	db	0,'PTEM0000$$$'
L8148:	ld	c,a		;; 8148: 4f          O
	and	a,00fh		;; 8149: e6 0f       ..
	or	a,030h		;; 814b: f6 30       .0
	ld	(de),a		;; 814d: 12          .
	dec	de		;; 814e: 1b          .
	ld	a,c		;; 814f: 79          y
	rra			;; 8150: 1f          .
	rra			;; 8151: 1f          .
	rra			;; 8152: 1f          .
	rra			;; 8153: 1f          .
	and	a,00fh		;; 8154: e6 0f       ..
	or	a,030h		;; 8156: f6 30       .0
	ld	(de),a		;; 8158: 12          .
	dec	de		;; 8159: 1b          .
	ret			;; 815a: c9          .

L815b:	ld	l,(ix+24)	;; 815b: dd 6e 18    .n.
	ld	h,(ix+25)	;; 815e: dd 66 19    .f.
	ld	a,l		;; 8161: 7d          }
	and	a,0c0h		;; 8162: e6 c0       ..
	or	a,h		;; 8164: b4          .
	jr	z,L8170		;; 8165: 28 09       (.
	ld	bc,0007fh	;; 8167: 01 7f 00    ...
	add	hl,bc		;; 816a: 09          .
	add	hl,hl		;; 816b: 29          )
	ld	(ix+20),h	;; 816c: dd 74 14    .t.
	ret			;; 816f: c9          .

L8170:	ex	de,hl		;; 8170: eb          .
	ld	hl,0007eh	;; 8171: 21 7e 00    .~.
	sub	a,a		;; 8174: 97          .
L8175:	inc	a		;; 8175: 3c          <
	or	a,a		;; 8176: b7          .
	sbc	hl,de		;; 8177: ed 52       .R
	jp	p,L8175		;; 8179: f2 75 81    .u.
	dec	a		;; 817c: 3d          =
	ld	(ix+21),a	;; 817d: dd 77 15    .w.
	ld	(ix+20),001h	;; 8180: dd 36 14 01 .6..
	set	6,(ix+4)	;; 8184: dd cb 04 f6 ....
	ret			;; 8188: c9          .

L8189:	ld	hl,L82e5	;; 8189: 21 e5 82    ...
	ld	de,L833d	;; 818c: 11 3d 83    .=.
	bit	0,(ix+4)	;; 818f: dd cb 04 46 ...F
	jr	nz,L81a7	;; 8193: 20 12        .
	ld	hl,L8303	;; 8195: 21 03 83    ...
	ld	de,L835b	;; 8198: 11 5b 83    .[.
	bit	6,(ix+4)	;; 819b: dd cb 04 76 ...v
	jr	nz,L81a7	;; 819f: 20 06        .
	ld	hl,L8333	;; 81a1: 21 33 83    .3.
	ld	de,L837b	;; 81a4: 11 7b 83    .{.
L81a7:	ld	(ix+6),l	;; 81a7: dd 75 06    .u.
	ld	(ix+7),h	;; 81aa: dd 74 07    .t.
	ld	(ix+8),e	;; 81ad: dd 73 08    .s.
	ld	(ix+9),d	;; 81b0: dd 72 09    .r.
	ld	hl,L8294	;; 81b3: 21 94 82    ...
	ld	(ix+12),l	;; 81b6: dd 75 0c    .u.
	ld	(ix+13),h	;; 81b9: dd 74 0d    .t.
	ret			;; 81bc: c9          .

L81bd:	push	ix		;; 81bd: dd e5       ..
	ex	(sp),hl		;; 81bf: e3          .
	ld	de,00024h	;; 81c0: 11 24 00    .$.
	add	hl,de		;; 81c3: 19          .
	ex	de,hl		;; 81c4: eb          .
	pop	hl		;; 81c5: e1          .
	ret			;; 81c6: c9          .

L81c7:	ld	de,00080h	;; 81c7: 11 80 00    ...
	ld	c,01ah		;; 81ca: 0e 1a       ..
	call	L91c3		;; 81cc: cd c3 91    ...
	ret			;; 81cf: c9          .

L81d0:	bit	0,(ix+4)	;; 81d0: dd cb 04 46 ...F
	call	z,L815b		;; 81d4: cc 5b 81    .[.
	ld	a,(ix+18)	;; 81d7: dd 7e 12    .~.
	or	a,(ix+19)	;; 81da: dd b6 13    ...
	jr	nz,L81f4	;; 81dd: 20 15        .
	push	ix		;; 81df: dd e5       ..
	pop	hl		;; 81e1: e1          .
	ld	de,00012h	;; 81e2: 11 12 00    ...
	add	hl,de		;; 81e5: 19          .
	push	hl		;; 81e6: e5          .
	ld	b,(ix+20)	;; 81e7: dd 46 14    .F.
	ld	c,000h		;; 81ea: 0e 00       ..
	srl	b		;; 81ec: cb 38       .8
	rr	c		;; 81ee: cb 19       ..
	push	bc		;; 81f0: c5          .
	call	L9013		;; 81f1: cd 13 90    ...
L81f4:	call	L81bd		;; 81f4: cd bd 81    ...
	push	de		;; 81f7: d5          .
	ld	hl,0000ch	;; 81f8: 21 0c 00    ...
	add	hl,de		;; 81fb: 19          .
	ld	b,018h		;; 81fc: 06 18       ..
L81fe:	ld	(hl),000h	;; 81fe: 36 00       6.
	inc	hl		;; 8200: 23          #
	djnz	L81fe		;; 8201: 10 fb       ..
	res	7,(ix+42)	;; 8203: dd cb 2a be ..*.
	bit	3,(ix+5)	;; 8207: dd cb 05 5e ...^
	jr	nz,L8218	;; 820b: 20 0b        .
	ld	a,(L8e6e)	;; 820d: 3a 6e 8e    :n.
	cp	a,001h		;; 8210: fe 01       ..
	jr	z,L8218		;; 8212: 28 04       (.
	set	7,(ix+42)	;; 8214: dd cb 2a fe ..*.
L8218:	bit	2,(ix+5)	;; 8218: dd cb 05 56 ...V
	jr	z,L822f		;; 821c: 28 11       (.
	ld	c,00fh		;; 821e: 0e 0f       ..
	call	L91c3		;; 8220: cd c3 91    ...
	inc	a		;; 8223: 3c          <
	jr	nz,L823f	;; 8224: 20 19        .
	bit	3,(ix+5)	;; 8226: dd cb 05 5e ...^
	jr	nz,L8234	;; 822a: 20 08        .
	jp	L8436		;; 822c: c3 36 84    .6.

L822f:	ld	c,013h		;; 822f: 0e 13       ..
	call	L91c3		;; 8231: cd c3 91    ...
L8234:	pop	de		;; 8234: d1          .
	push	de		;; 8235: d5          .
	ld	c,016h		;; 8236: 0e 16       ..
	call	L91c3		;; 8238: cd c3 91    ...
	inc	a		;; 823b: 3c          <
	jp	z,L8408		;; 823c: ca 08 84    ...
L823f:	pop	hl		;; 823f: e1          .
	ld	(ix+22),001h	;; 8240: dd 36 16 01 .6..
	bit	3,(ix+5)	;; 8244: dd cb 05 5e ...^
	call	nz,L8254	;; 8248: c4 54 82    .T.
	call	L8189		;; 824b: cd 89 81    ...
	ld	(ix+23),000h	;; 824e: dd 36 17 00 .6..
	xor	a,a		;; 8252: af          .
	ret			;; 8253: c9          .

L8254:	ld	(ix+22),000h	;; 8254: dd 36 16 00 .6..
	ld	l,(ix+18)	;; 8258: dd 6e 12    .n.
	ld	h,(ix+19)	;; 825b: dd 66 13    .f.
	bit	0,(ix+4)	;; 825e: dd cb 04 46 ...F
	jr	nz,L826c	;; 8262: 20 08        .
	ld	(ix+16),l	;; 8264: dd 75 10    .u.
	ld	(ix+17),h	;; 8267: dd 74 11    .t.
	jr	L8272		;; 826a: 18 06       ..

L826c:	ld	(ix+24),l	;; 826c: dd 75 18    .u.
	ld	(ix+25),h	;; 826f: dd 74 19    .t.
L8272:	ld	a,(ix+20)	;; 8272: dd 7e 14    .~.
L8275:	ld	b,080h		;; 8275: 06 80       ..
L8277:	ld	(hl),000h	;; 8277: 36 00       6.
	inc	hl		;; 8279: 23          #
	djnz	L8277		;; 827a: 10 fb       ..
	dec	a		;; 827c: 3d          =
	jr	nz,L8275	;; 827d: 20 f6        .
	ret			;; 827f: c9          .

L8280:	ld	l,(ix+18)	;; 8280: dd 6e 12    .n.
	ld	h,(ix+19)	;; 8283: dd 66 13    .f.
	ld	bc,0007fh	;; 8286: 01 7f 00    ...
	add	hl,bc		;; 8289: 09          .
	ld	a,(ix+22)	;; 828a: dd 7e 16    .~.
	ld	(hl),a		;; 828d: 77          w
	dec	hl		;; 828e: 2b          +
	ld	a,(ix+24)	;; 828f: dd 7e 18    .~.
	ld	(hl),a		;; 8292: 77          w
	ret			;; 8293: c9          .

L8294:	push	af		;; 8294: f5          .
	bit	3,(ix+5)	;; 8295: dd cb 05 5e ...^
	jr	z,L82c4		;; 8299: 28 29       ()
	bit	7,(ix+5)	;; 829b: dd cb 05 7e ...~
	jr	nz,L82c4	;; 829f: 20 23        #
	bit	6,(ix+4)	;; 82a1: dd cb 04 76 ...v
	jr	nz,L82b4	;; 82a5: 20 0d        .
	bit	0,(ix+4)	;; 82a7: dd cb 04 46 ...F
	jr	z,L82c4		;; 82ab: 28 17       (.
	ld	(ix+23),01ah	;; 82ad: dd 36 17 1a .6..
	call	L8344		;; 82b1: cd 44 83    .D.
L82b4:	ld	a,(ix+22)	;; 82b4: dd 7e 16    .~.
	or	a,a		;; 82b7: b7          .
	jr	z,L82c4		;; 82b8: 28 0a       (.
	bit	6,(ix+4)	;; 82ba: dd cb 04 76 ...v
	call	nz,L8280	;; 82be: c4 80 82    ...
	call	L8386		;; 82c1: cd 86 83    ...
L82c4:	call	L81bd		;; 82c4: cd bd 81    ...
	ld	c,010h		;; 82c7: 0e 10       ..
	call	L91c3		;; 82c9: cd c3 91    ...
	inc	a		;; 82cc: 3c          <
	pop	bc		;; 82cd: c1          .
	jp	z,L83e8		;; 82ce: ca e8 83    ...
	res	7,(ix+42)	;; 82d1: dd cb 2a be ..*.
	ld	a,b		;; 82d5: 78          x
	rra			;; 82d6: 1f          .
	ret	c		;; 82d7: d8          .
	call	L81bd		;; 82d8: cd bd 81    ...
	ld	c,013h		;; 82db: 0e 13       ..
	bit	4,(ix+4)	;; 82dd: dd cb 04 66 ...f
	call	z,L91c3		;; 82e1: cc c3 91    ...
	ret			;; 82e4: c9          .

L82e5:	ld	l,(ix+24)	;; 82e5: dd 6e 18    .n.
	ld	h,(ix+25)	;; 82e8: dd 66 19    .f.
	inc	hl		;; 82eb: 23          #
	dec	(ix+22)		;; 82ec: dd 35 16    .5.
	jr	nz,L82f8	;; 82ef: 20 07        .
	call	L8382		;; 82f1: cd 82 83    ...
	ld	(ix+22),080h	;; 82f4: dd 36 16 80 .6..
L82f8:	ld	(ix+24),l	;; 82f8: dd 75 18    .u.
	ld	(ix+25),h	;; 82fb: dd 74 19    .t.
	ld	a,(hl)		;; 82fe: 7e          ~
	ld	(ix+23),a	;; 82ff: dd 77 17    .w.
	ret			;; 8302: c9          .

L8303:	ld	l,(ix+16)	;; 8303: dd 6e 10    .n.
	ld	h,(ix+17)	;; 8306: dd 66 11    .f.
	ld	c,(ix+24)	;; 8309: dd 4e 18    .N.
	ld	b,000h		;; 830c: 06 00       ..
	add	hl,bc		;; 830e: 09          .
	dec	(ix+22)		;; 830f: dd 35 16    .5.
	jr	nz,L8336	;; 8312: 20 22        "
	call	L8382		;; 8314: cd 82 83    ...
	push	hl		;; 8317: e5          .
	pop	iy		;; 8318: fd e1       ..
	bit	0,(ix+5)	;; 831a: dd cb 05 46 ...F
	jr	nz,L832b	;; 831e: 20 0b        .
	ld	a,(iy+126)	;; 8320: fd 7e 7e    .~~
	and	a,03fh		;; 8323: e6 3f       .?
	cp	a,(ix+24)	;; 8325: dd be 18    ...
	jp	nz,L83d2	;; 8328: c2 d2 83    ...
L832b:	ld	a,(iy+127)	;; 832b: fd 7e 7f    .~.
	ld	(ix+22),a	;; 832e: dd 77 16    .w.
	jr	L8336		;; 8331: 18 03       ..

L8333:	call	L8382		;; 8333: cd 82 83    ...
L8336:	ld	(ix+16),l	;; 8336: dd 75 10    .u.
	ld	(ix+17),h	;; 8339: dd 74 11    .t.
	ret			;; 833c: c9          .

L833d:	bit	5,(ix+5)	;; 833d: dd cb 05 6e ...n
	call	nz,L8ffc	;; 8341: c4 fc 8f    ...
L8344:	ld	l,(ix+24)	;; 8344: dd 6e 18    .n.
	ld	h,(ix+25)	;; 8347: dd 66 19    .f.
	ld	a,(ix+23)	;; 834a: dd 7e 17    .~.
	ld	(hl),a		;; 834d: 77          w
	inc	hl		;; 834e: 23          #
	ld	(ix+24),l	;; 834f: dd 75 18    .u.
	ld	(ix+25),h	;; 8352: dd 74 19    .t.
	inc	(ix+22)		;; 8355: dd 34 16    .4.
	ret	p		;; 8358: f0          .
	jr	L837b		;; 8359: 18 20       . 

L835b:	ld	l,(ix+16)	;; 835b: dd 6e 10    .n.
	ld	h,(ix+17)	;; 835e: dd 66 11    .f.
	ld	c,(ix+24)	;; 8361: dd 4e 18    .N.
	ld	b,000h		;; 8364: 06 00       ..
	add	hl,bc		;; 8366: 09          .
	ld	(ix+16),l	;; 8367: dd 75 10    .u.
	ld	(ix+17),h	;; 836a: dd 74 11    .t.
	ld	a,(ix+22)	;; 836d: dd 7e 16    .~.
	inc	a		;; 8370: 3c          <
	ld	(ix+22),a	;; 8371: dd 77 16    .w.
	cp	a,(ix+21)	;; 8374: dd be 15    ...
	ret	nz		;; 8377: c0          .
	call	L8280		;; 8378: cd 80 82    ...
L837b:	call	L8386		;; 837b: cd 86 83    ...
	call	L8254		;; 837e: cd 54 82    .T.
	ret			;; 8381: c9          .

L8382:	ld	a,014h		;; 8382: 3e 14       >.
	jr	L8388		;; 8384: 18 02       ..

L8386:	ld	a,015h		;; 8386: 3e 15       >.
L8388:	ld	(L8106),a	;; 8388: 32 06 81    2..
	call	L81bd		;; 838b: cd bd 81    ...
	ld	l,(ix+18)	;; 838e: dd 6e 12    .n.
	ld	h,(ix+19)	;; 8391: dd 66 13    .f.
	push	hl		;; 8394: e5          .
	ld	a,(ix+20)	;; 8395: dd 7e 14    .~.
L8398:	push	af		;; 8398: f5          .
	push	de		;; 8399: d5          .
	push	hl		;; 839a: e5          .
	pop	de		;; 839b: d1          .
	push	de		;; 839c: d5          .
	ld	c,01ah		;; 839d: 0e 1a       ..
	call	L91c3		;; 839f: cd c3 91    ...
	pop	hl		;; 83a2: e1          .
	pop	de		;; 83a3: d1          .
	push	de		;; 83a4: d5          .
	push	hl		;; 83a5: e5          .
	ld	a,(L8106)	;; 83a6: 3a 06 81    :..
	ld	c,a		;; 83a9: 4f          O
	call	L91c3		;; 83aa: cd c3 91    ...
	or	a,a		;; 83ad: b7          .
	jr	nz,L83bf	;; 83ae: 20 0f        .
	pop	hl		;; 83b0: e1          .
	pop	de		;; 83b1: d1          .
	pop	af		;; 83b2: f1          .
	ld	bc,00080h	;; 83b3: 01 80 00    ...
	add	hl,bc		;; 83b6: 09          .
	dec	a		;; 83b7: 3d          =
	jr	nz,L8398	;; 83b8: 20 de        .
	call	L81c7		;; 83ba: cd c7 81    ...
	pop	hl		;; 83bd: e1          .
	ret			;; 83be: c9          .

L83bf:	pop	hl		;; 83bf: e1          .
	pop	hl		;; 83c0: e1          .
	pop	hl		;; 83c1: e1          .
	call	L81c7		;; 83c2: cd c7 81    ...
	pop	hl		;; 83c5: e1          .
	ld	a,(L8106)	;; 83c6: 3a 06 81    :..
	cp	a,015h		;; 83c9: fe 15       ..
	jr	z,L841d		;; 83cb: 28 50       (P
	set	0,(ix+5)	;; 83cd: dd cb 05 c6 ....
	ret			;; 83d1: c9          .

L83d2:	ld	de,L83d9	;; 83d2: 11 d9 83    ...
	ld	b,00fh		;; 83d5: 06 0f       ..
	jr	L8426		;; 83d7: 18 4d       .M

L83d9:	db	'Wrong file type'
L83e8:	res	2,(ix+5)	;; 83e8: dd cb 05 96 ....
	res	3,(ix+5)	;; 83ec: dd cb 05 9e ....
	ld	de,L83f7	;; 83f0: 11 f7 83    ...
	ld	b,011h		;; 83f3: 06 11       ..
	jr	L8426		;; 83f5: 18 2f       ./

L83f7:	db	'Cannot close fil'
	db	'e'
L8408:	ld	de,L840f	;; 8408: 11 0f 84    ...
	ld	b,00eh		;; 840b: 06 0e       ..
	jr	L8422		;; 840d: 18 13       ..

L840f:	db	'Directory full'
L841d:	ld	de,L842d	;; 841d: 11 2d 84    .-.
	ld	b,009h		;; 8420: 06 09       ..
L8422:	set	7,(ix+5)	;; 8422: dd cb 05 fe ....
L8426:	ld	a,044h		;; 8426: 3e 44       >D
	ld	c,005h		;; 8428: 0e 05       ..
	call	L921e		;; 842a: cd 1e 92    ...
L842d:	db	'Disc full'
L8436:	res	2,(ix+5)	;; 8436: dd cb 05 96 ....
	pop	de		;; 843a: d1          .
	ld	a,(L8e77)	;; 843b: 3a 77 8e    :w.
	or	a,a		;; 843e: b7          .
	ld	a,001h		;; 843f: 3e 01       >.
	ret	z		;; 8441: c8          .
	pop	bc		;; 8442: c1          .
	push	de		;; 8443: d5          .
	push	de		;; 8444: d5          .
	ld	hl,0000bh	;; 8445: 21 0b 00    ...
	add	hl,de		;; 8448: 19          .
	ld	a,(de)		;; 8449: 1a          .
	or	a,a		;; 844a: b7          .
	jr	z,L8454		;; 844b: 28 07       (.
	add	a,040h		;; 844d: c6 40       .@
	inc	hl		;; 844f: 23          #
	ld	(hl),a		;; 8450: 77          w
	inc	hl		;; 8451: 23          #
	ld	(hl),03ah	;; 8452: 36 3a       6:
L8454:	ld	b,008h		;; 8454: 06 08       ..
	call	L8477		;; 8456: cd 77 84    .w.
	inc	hl		;; 8459: 23          #
	ld	(hl),02eh	;; 845a: 36 2e       6.
	ld	b,003h		;; 845c: 06 03       ..
	call	L8477		;; 845e: cd 77 84    .w.
	jr	nz,L8464	;; 8461: 20 01        .
	dec	hl		;; 8463: 2b          +
L8464:	pop	de		;; 8464: d1          .
	push	hl		;; 8465: e5          .
	ld	hl,L8489	;; 8466: 21 89 84    ...
	ld	bc,0000ch	;; 8469: 01 0c 00    ...
	ldir			;; 846c: ed b0       ..
	pop	hl		;; 846e: e1          .
	pop	de		;; 846f: d1          .
	or	a,a		;; 8470: b7          .
	sbc	hl,de		;; 8471: ed 52       .R
	ld	b,l		;; 8473: 45          E
	inc	b		;; 8474: 04          .
	jr	L8426		;; 8475: 18 af       ..

L8477:	ld	c,b		;; 8477: 48          H
L8478:	inc	de		;; 8478: 13          .
	inc	hl		;; 8479: 23          #
	ld	a,(de)		;; 847a: 1a          .
	and	a,07fh		;; 847b: e6 7f       ..
	ld	(hl),a		;; 847d: 77          w
	djnz	L8478		;; 847e: 10 f8       ..
	ld	a,020h		;; 8480: 3e 20       > 
L8482:	cp	a,(hl)		;; 8482: be          .
	ret	nz		;; 8483: c0          .
	dec	hl		;; 8484: 2b          +
	dec	c		;; 8485: 0d          .
	jr	nz,L8482	;; 8486: 20 fa        .
	ret			;; 8488: c9          .

L8489:	db	'Not found:  '

L8495:	pop	hl		;; 8495: e1          .
	pop	iy		;; 8496: fd e1       ..
	pop	bc		;; 8498: c1          .
	ex	(sp),hl		;; 8499: e3          .
	ex	de,hl		;; 849a: eb          .
	push	iy		;; 849b: fd e5       ..
	pop	hl		;; 849d: e1          .
	ld	(hl),000h	;; 849e: 36 00       6.
	ld	b,00bh		;; 84a0: 06 0b       ..
L84a2:	inc	hl		;; 84a2: 23          #
	ld	(hl),020h	;; 84a3: 36 20       6 
	djnz	L84a2		;; 84a5: 10 fb       ..
	ld	a,c		;; 84a7: 79          y
	or	a,a		;; 84a8: b7          .
	ret	z		;; 84a9: c8          .
L84aa:	ld	a,(de)		;; 84aa: 1a          .
	cp	a,020h		;; 84ab: fe 20       . 
	jr	nz,L84b5	;; 84ad: 20 06        .
	inc	de		;; 84af: 13          .
	dec	c		;; 84b0: 0d          .
	jr	nz,L84aa	;; 84b1: 20 f7        .
	sub	a,a		;; 84b3: 97          .
	ret			;; 84b4: c9          .

L84b5:	inc	c		;; 84b5: 0c          .
	push	iy		;; 84b6: fd e5       ..
	pop	hl		;; 84b8: e1          .
	inc	hl		;; 84b9: 23          #
	ld	b,009h		;; 84ba: 06 09       ..
L84bc:	dec	c		;; 84bc: 0d          .
	jp	z,L8540		;; 84bd: ca 40 85    .@.
	ld	a,(de)		;; 84c0: 1a          .
	inc	de		;; 84c1: 13          .
	cp	a,020h		;; 84c2: fe 20       . 
	jr	z,L8540		;; 84c4: 28 7a       (z
	cp	a,03ah		;; 84c6: fe 3a       .:
	jr	z,L8516		;; 84c8: 28 4c       (L
	cp	a,02eh		;; 84ca: fe 2e       ..
	jr	z,L84ff		;; 84cc: 28 31       (1
	cp	a,02ah		;; 84ce: fe 2a       .*
	jr	z,L854b		;; 84d0: 28 79       (y
	cp	a,02ch		;; 84d2: fe 2c       .,
	jr	z,L854b		;; 84d4: 28 75       (u
	cp	a,03bh		;; 84d6: fe 3b       .;
	jr	c,L84de		;; 84d8: 38 04       8.
	cp	a,040h		;; 84da: fe 40       .@
	jr	c,L854b		;; 84dc: 38 6d       8m
L84de:	cp	a,060h		;; 84de: fe 60       .`
	jr	c,L84e4		;; 84e0: 38 02       8.
	and	a,05fh		;; 84e2: e6 5f       ._
L84e4:	cp	a,05bh		;; 84e4: fe 5b       .[
	jr	z,L854b		;; 84e6: 28 63       (c
	cp	a,05dh		;; 84e8: fe 5d       .]
	jr	z,L854b		;; 84ea: 28 5f       (_
	ld	(hl),a		;; 84ec: 77          w
	inc	hl		;; 84ed: 23          #
	djnz	L84bc		;; 84ee: 10 cc       ..
	bit	6,(iy+0)	;; 84f0: fd cb 00 76 ...v
	jr	nz,L8540	;; 84f4: 20 4a        J
	ld	a,(iy+9)	;; 84f6: fd 7e 09    .~.
	cp	a,020h		;; 84f9: fe 20       . 
	jr	z,L8540		;; 84fb: 28 43       (C
	jr	L854b		;; 84fd: 18 4c       .L

L84ff:	bit	6,(iy+0)	;; 84ff: fd cb 00 76 ...v
	jr	nz,L854b	;; 8503: 20 46        F
	set	6,(iy+0)	;; 8505: fd cb 00 f6 ....
	push	iy		;; 8509: fd e5       ..
	pop	hl		;; 850b: e1          .
	push	bc		;; 850c: c5          .
	ld	bc,00009h	;; 850d: 01 09 00    ...
	add	hl,bc		;; 8510: 09          .
	pop	bc		;; 8511: c1          .
	ld	b,003h		;; 8512: 06 03       ..
	jr	L84bc		;; 8514: 18 a6       ..

L8516:	bit	7,(iy+0)	;; 8516: fd cb 00 7e ...~
	jr	nz,L854b	;; 851a: 20 2f        /
	ld	a,b		;; 851c: 78          x
	cp	a,008h		;; 851d: fe 08       ..
	jr	z,L8528		;; 851f: 28 07       (.
	cp	a,006h		;; 8521: fe 06       ..
	jr	nz,L854b	;; 8523: 20 26        &
	ld	a,002h		;; 8525: 3e 02       >.
	ret			;; 8527: c9          .

L8528:	ld	a,(iy+1)	;; 8528: fd 7e 01    .~.
	sub	a,040h		;; 852b: d6 40       .@
	jr	c,L854b		;; 852d: 38 1c       8.
	cp	a,011h		;; 852f: fe 11       ..
	jr	nc,L854b	;; 8531: 30 18       0.
	setb	7,a		;; 8533: cb ff       ..
	ld	(iy+0),a	;; 8535: fd 77 00    .w.
	ld	(iy+1),020h	;; 8538: fd 36 01 20 .6. 
	dec	c		;; 853c: 0d          .
	jp	L84b5		;; 853d: c3 b5 84    ...

L8540:	ld	a,(iy+0)	;; 8540: fd 7e 00    .~.
	and	a,01fh		;; 8543: e6 1f       ..
	ld	(iy+0),a	;; 8545: fd 77 00    .w.
	ld	a,001h		;; 8548: 3e 01       >.
	ret			;; 854a: c9          .

L854b:	ld	a,003h		;; 854b: 3e 03       >.
	ret			;; 854d: c9          .

	call	L882e		;; 854e: cd 2e 88    ...
	pop	iy		;; 8551: fd e1       ..
	pop	de		;; 8553: d1          .
	ex	(sp),hl		;; 8554: e3          .
	ex	(sp),iy		;; 8555: fd e3       ..
	ld	a,040h		;; 8557: 3e 40       >@
	jr	L8567		;; 8559: 18 0c       ..

L855b:	ld	a,h		;; 855b: 7c          |
	pop	iy		;; 855c: fd e1       ..
	pop	de		;; 855e: d1          .
	ex	(sp),hl		;; 855f: e3          .
	ex	(sp),iy		;; 8560: fd e3       ..
	or	a,a		;; 8562: b7          .
	jp	m,L85c8		;; 8563: fa c8 85    ...
	sub	a,a		;; 8566: 97          .
L8567:	push	bc		;; 8567: c5          .
	ld	b,d		;; 8568: 42          B
	ld	c,e		;; 8569: 4b          K
	bit	7,h		;; 856a: cb 7c       .|
	jr	z,L8573		;; 856c: 28 05       (.
	call	L8831		;; 856e: cd 31 88    .1.
	or	a,080h		;; 8571: f6 80       ..
L8573:	pop	de		;; 8573: d1          .
	push	ix		;; 8574: dd e5       ..
	push	af		;; 8576: f5          .
	push	bc		;; 8577: c5          .
	ex	(sp),iy		;; 8578: fd e3       ..
	pop	bc		;; 857a: c1          .
	ld	a,b		;; 857b: 78          x
	or	a,c		;; 857c: b1          .
	or	a,d		;; 857d: b2          .
	jr	nz,L8599	;; 857e: 20 19        .
	or	a,e		;; 8580: b3          .
	jp	z,L85c6		;; 8581: ca c6 85    ...
	cp	a,002h		;; 8584: fe 02       ..
	jr	nz,L8599	;; 8586: 20 11        .
	push	iy		;; 8588: fd e5       ..
	pop	hl		;; 858a: e1          .
	rr	l		;; 858b: cb 1d       ..
	ld	hl,00000h	;; 858d: 21 00 00    ...
	rl	l		;; 8590: cb 15       ..
	pop	af		;; 8592: f1          .
	push	hl		;; 8593: e5          .
	ld	hl,00000h	;; 8594: 21 00 00    ...
	jr	L85a2		;; 8597: 18 09       ..

L8599:	call	L869e		;; 8599: cd 9e 86    ...
	push	af		;; 859c: f5          .
	pop	iy		;; 859d: fd e1       ..
	pop	af		;; 859f: f1          .
	push	iy		;; 85a0: fd e5       ..
L85a2:	rla			;; 85a2: 17          .
	jr	nc,L85c2	;; 85a3: 30 1d       0.
	rla			;; 85a5: 17          .
	jr	nc,L85ad	;; 85a6: 30 05       0.
	ld	bc,00000h	;; 85a8: 01 00 00    ...
	ld	d,b		;; 85ab: 50          P
	ld	e,b		;; 85ac: 58          X
L85ad:	ld	a,h		;; 85ad: 7c          |
	or	a,l		;; 85ae: b5          .
	ex	(sp),hl		;; 85af: e3          .
	or	a,h		;; 85b0: b4          .
	or	a,l		;; 85b1: b5          .
	ex	(sp),hl		;; 85b2: e3          .
	jr	z,L85c2		;; 85b3: 28 0d       (.
	ex	de,hl		;; 85b5: eb          .
	push	bc		;; 85b6: c5          .
	pop	iy		;; 85b7: fd e1       ..
	pop	bc		;; 85b9: c1          .
	or	a,a		;; 85ba: b7          .
	sbc	hl,bc		;; 85bb: ed 42       .B
	push	iy		;; 85bd: fd e5       ..
	ex	(sp),hl		;; 85bf: e3          .
	sbc	hl,de		;; 85c0: ed 52       .R
L85c2:	pop	bc		;; 85c2: c1          .
	pop	ix		;; 85c3: dd e1       ..
	ret			;; 85c5: c9          .

L85c6:	pop	de		;; 85c6: d1          .
	pop	de		;; 85c7: d1          .
L85c8:	ld	a,04ah		;; 85c8: 3e 4a       >J
	ld	c,002h		;; 85ca: 0e 02       ..
	call	L921e		;; 85cc: cd 1e 92    ...
	ld	hl,00000h	;; 85cf: 21 00 00    ...
	ld	bc,00001h	;; 85d2: 01 01 00    ...
	ret			;; 85d5: c9          .

L85d6:	sub	a,a		;; 85d6: 97          .
	bit	7,h		;; 85d7: cb 7c       .|
	jr	z,L85e0		;; 85d9: 28 05       (.
	call	L8831		;; 85db: cd 31 88    .1.
	ld	a,080h		;; 85de: 3e 80       >.
L85e0:	pop	iy		;; 85e0: fd e1       ..
	pop	de		;; 85e2: d1          .
	ex	(sp),hl		;; 85e3: e3          .
	ex	(sp),iy		;; 85e4: fd e3       ..
	push	bc		;; 85e6: c5          .
	ld	b,d		;; 85e7: 42          B
	ld	c,e		;; 85e8: 4b          K
	bit	7,h		;; 85e9: cb 7c       .|
	jr	z,L85f2		;; 85eb: 28 05       (.
	add	a,0c0h		;; 85ed: c6 c0       ..
	call	L8831		;; 85ef: cd 31 88    .1.
L85f2:	pop	de		;; 85f2: d1          .
	push	ix		;; 85f3: dd e5       ..
	push	af		;; 85f5: f5          .
	push	bc		;; 85f6: c5          .
	ex	(sp),iy		;; 85f7: fd e3       ..
	pop	bc		;; 85f9: c1          .
	ld	a,b		;; 85fa: 78          x
	or	a,c		;; 85fb: b1          .
	or	a,d		;; 85fc: b2          .
	jr	nz,L8615	;; 85fd: 20 16        .
	or	a,e		;; 85ff: b3          .
	jp	z,L8626		;; 8600: ca 26 86    .&.
	cp	a,002h		;; 8603: fe 02       ..
	jr	nz,L8615	;; 8605: 20 0e        .
	push	iy		;; 8607: fd e5       ..
	pop	bc		;; 8609: c1          .
	pop	af		;; 860a: f1          .
	sra	h		;; 860b: cb 2c       .,
	rr	l		;; 860d: cb 1d       ..
	rr	b		;; 860f: cb 18       ..
	rr	c		;; 8611: cb 19       ..
	jr	L861f		;; 8613: 18 0a       ..

L8615:	call	L869e		;; 8615: cd 9e 86    ...
	pop	af		;; 8618: f1          .
	push	ix		;; 8619: dd e5       ..
	pop	hl		;; 861b: e1          .
	push	iy		;; 861c: fd e5       ..
	pop	bc		;; 861e: c1          .
L861f:	rla			;; 861f: 17          .
	call	c,L8831		;; 8620: dc 31 88    .1.
	pop	ix		;; 8623: dd e1       ..
	ret			;; 8625: c9          .

L8626:	pop	de		;; 8626: d1          .
	pop	de		;; 8627: d1          .
	ld	a,04ah		;; 8628: 3e 4a       >J
	ld	c,002h		;; 862a: 0e 02       ..
	call	L921e		;; 862c: cd 1e 92    ...
	ld	hl,00000h	;; 862f: 21 00 00    ...
	ld	bc,00001h	;; 8632: 01 01 00    ...
	ret			;; 8635: c9          .

L8636:	sub	a,a		;; 8636: 97          .
	bit	7,h		;; 8637: cb 7c       .|
	jr	z,L8640		;; 8639: 28 05       (.
	call	L8831		;; 863b: cd 31 88    .1.
	ld	a,080h		;; 863e: 3e 80       >.
L8640:	pop	iy		;; 8640: fd e1       ..
	pop	de		;; 8642: d1          .
	ex	(sp),hl		;; 8643: e3          .
	ex	(sp),iy		;; 8644: fd e3       ..
	push	bc		;; 8646: c5          .
	ld	b,d		;; 8647: 42          B
	ld	c,e		;; 8648: 4b          K
	bit	7,h		;; 8649: cb 7c       .|
	jr	z,L8652		;; 864b: 28 05       (.
	add	a,0c0h		;; 864d: c6 c0       ..
	call	L8831		;; 864f: cd 31 88    .1.
L8652:	pop	de		;; 8652: d1          .
	push	af		;; 8653: f5          .
	push	bc		;; 8654: c5          .
	push	de		;; 8655: d5          .
	push	bc		;; 8656: c5          .
	push	iy		;; 8657: fd e5       ..
	ld	a,h		;; 8659: 7c          |
	or	a,l		;; 865a: b5          .
	jr	z,L866b		;; 865b: 28 0e       (.
	pop	bc		;; 865d: c1          .
	ld	a,b		;; 865e: 78          x
	or	a,c		;; 865f: b1          .
	jp	nz,L868c	;; 8660: c2 8c 86    ...
	pop	bc		;; 8663: c1          .
	ld	b,h		;; 8664: 44          D
	ld	c,l		;; 8665: 4d          M
	call	L890c		;; 8666: cd 0c 89    ...
	jr	L8674		;; 8669: 18 09       ..

L866b:	pop	bc		;; 866b: c1          .
	pop	de		;; 866c: d1          .
	ld	a,b		;; 866d: 78          x
	or	a,c		;; 866e: b1          .
	jr	z,L867e		;; 866f: 28 0d       (.
	call	L890c		;; 8671: cd 0c 89    ...
L8674:	ld	a,b		;; 8674: 78          x
	and	a,080h		;; 8675: e6 80       ..
	or	a,h		;; 8677: b4          .
	or	a,l		;; 8678: b5          .
	jp	nz,L868d	;; 8679: c2 8d 86    ...
	ld	h,b		;; 867c: 60          `
	ld	l,c		;; 867d: 69          i
L867e:	pop	bc		;; 867e: c1          .
	pop	de		;; 867f: d1          .
	push	hl		;; 8680: e5          .
	call	L890c		;; 8681: cd 0c 89    ...
	pop	de		;; 8684: d1          .
	add	hl,de		;; 8685: 19          .
	pop	af		;; 8686: f1          .
	or	a,a		;; 8687: b7          .
	call	m,L8831		;; 8688: fc 31 88    .1.
	ret			;; 868b: c9          .

L868c:	pop	de		;; 868c: d1          .
L868d:	pop	de		;; 868d: d1          .
	pop	de		;; 868e: d1          .
	pop	de		;; 868f: d1          .
	ld	a,04fh		;; 8690: 3e 4f       >O
	ld	c,002h		;; 8692: 0e 02       ..
	call	L921e		;; 8694: cd 1e 92    ...
	ld	hl,00000h	;; 8697: 21 00 00    ...
	ld	bc,00001h	;; 869a: 01 01 00    ...
	ret			;; 869d: c9          .

L869e:	push	hl		;; 869e: e5          .
	ld	a,h		;; 869f: 7c          |
	or	a,l		;; 86a0: b5          .
	jr	z,L86aa		;; 86a1: 28 07       (.
	ld	a,020h		;; 86a3: 3e 20       > 
	ld	hl,00000h	;; 86a5: 21 00 00    ...
	jr	L86ae		;; 86a8: 18 04       ..

L86aa:	ld	a,010h		;; 86aa: 3e 10       >.
	ex	(sp),iy		;; 86ac: fd e3       ..
L86ae:	pop	ix		;; 86ae: dd e1       ..
	push	hl		;; 86b0: e5          .
L86b1:	add	iy,iy		;; 86b1: fd 29       .)
	rla			;; 86b3: 17          .
	add	ix,ix		;; 86b4: dd 29       .)
	ex	(sp),hl		;; 86b6: e3          .
	adc	hl,hl		;; 86b7: ed 6a       .j
	ex	(sp),hl		;; 86b9: e3          .
	adc	hl,hl		;; 86ba: ed 6a       .j
	rra			;; 86bc: 1f          .
	jr	nc,L86c1	;; 86bd: 30 02       0.
	inc	ix		;; 86bf: dd 23       .#
L86c1:	ex	(sp),hl		;; 86c1: e3          .
	or	a,a		;; 86c2: b7          .
	sbc	hl,de		;; 86c3: ed 52       .R
	ex	(sp),hl		;; 86c5: e3          .
	sbc	hl,bc		;; 86c6: ed 42       .B
	jp	p,L86d2		;; 86c8: f2 d2 86    ...
	ex	(sp),hl		;; 86cb: e3          .
	add	hl,de		;; 86cc: 19          .
	ex	(sp),hl		;; 86cd: e3          .
	adc	hl,bc		;; 86ce: ed 4a       .J
	jr	L86d4		;; 86d0: 18 02       ..

L86d2:	inc	iy		;; 86d2: fd 23       .#
L86d4:	dec	a		;; 86d4: 3d          =
	jr	nz,L86b1	;; 86d5: 20 da        .
	pop	af		;; 86d7: f1          .
	ret			;; 86d8: c9          .

	call	L88cf		;; 86d9: cd cf 88    ...
	ex	de,hl		;; 86dc: eb          .
	pop	hl		;; 86dd: e1          .
	pop	bc		;; 86de: c1          .
	push	hl		;; 86df: e5          .
	ld	h,040h		;; 86e0: 26 40       &@
	jr	L86ef		;; 86e2: 18 0b       ..

	ex	de,hl		;; 86e4: eb          .
	pop	hl		;; 86e5: e1          .
	pop	bc		;; 86e6: c1          .
	push	hl		;; 86e7: e5          .
	ld	a,d		;; 86e8: 7a          z
	or	a,a		;; 86e9: b7          .
	jp	m,L872c		;; 86ea: fa 2c 87    .,.
	ld	h,000h		;; 86ed: 26 00       &.
L86ef:	bit	7,b		;; 86ef: cb 78       .x
	jr	z,L8704		;; 86f1: 28 11       (.
	setb	7,h		;; 86f3: cb fc       ..
	ld	a,b		;; 86f5: 78          x
	cpl			;; 86f6: 2f          /
	ld	b,a		;; 86f7: 47          G
	ld	a,c		;; 86f8: 79          y
	cpl			;; 86f9: 2f          /
	ld	c,a		;; 86fa: 4f          O
	inc	bc		;; 86fb: 03          .
	jr	L8704		;; 86fc: 18 06       ..

L86fe:	ex	de,hl		;; 86fe: eb          .
	pop	hl		;; 86ff: e1          .
	pop	bc		;; 8700: c1          .
	push	hl		;; 8701: e5          .
	ld	h,000h		;; 8702: 26 00       &.
L8704:	push	hl		;; 8704: e5          .
	ld	a,d		;; 8705: 7a          z
	or	a,a		;; 8706: b7          .
	jr	nz,L8718	;; 8707: 20 0f        .
	or	a,e		;; 8709: b3          .
	jr	z,L872b		;; 870a: 28 1f       (.
	cp	a,002h		;; 870c: fe 02       ..
	jr	nz,L8718	;; 870e: 20 08        .
	ld	h,d		;; 8710: 62          b
	ld	l,d		;; 8711: 6a          j
	rr	c		;; 8712: cb 19       ..
	rl	l		;; 8714: cb 15       ..
	jr	L871b		;; 8716: 18 03       ..

L8718:	call	L87c6		;; 8718: cd c6 87    ...
L871b:	pop	af		;; 871b: f1          .
	rla			;; 871c: 17          .
	ret	nc		;; 871d: d0          .
	rla			;; 871e: 17          .
	jr	nc,L8724	;; 871f: 30 03       0.
	ld	de,00000h	;; 8721: 11 00 00    ...
L8724:	ld	a,h		;; 8724: 7c          |
	or	a,l		;; 8725: b5          .
	ret	z		;; 8726: c8          .
	ex	de,hl		;; 8727: eb          .
	sbc	hl,de		;; 8728: ed 52       .R
	ret			;; 872a: c9          .

L872b:	pop	hl		;; 872b: e1          .
L872c:	ld	a,04ah		;; 872c: 3e 4a       >J
	ld	c,002h		;; 872e: 0e 02       ..
	call	L921e		;; 8730: cd 1e 92    ...
	ld	hl,00001h	;; 8733: 21 01 00    ...
	ret			;; 8736: c9          .

	ex	de,hl		;; 8737: eb          .
	pop	hl		;; 8738: e1          .
	pop	bc		;; 8739: c1          .
	push	hl		;; 873a: e5          .
	ld	a,b		;; 873b: 78          x
	xor	a,d		;; 873c: aa          .
	and	a,080h		;; 873d: e6 80       ..
	ld	l,a		;; 873f: 6f          o
	ld	a,b		;; 8740: 78          x
	or	a,a		;; 8741: b7          .
	jp	p,L874b		;; 8742: f2 4b 87    .K.
	cpl			;; 8745: 2f          /
	ld	b,a		;; 8746: 47          G
	ld	a,c		;; 8747: 79          y
	cpl			;; 8748: 2f          /
	ld	c,a		;; 8749: 4f          O
	inc	bc		;; 874a: 03          .
L874b:	ld	a,d		;; 874b: 7a          z
	or	a,a		;; 874c: b7          .
	jp	p,L875e		;; 874d: f2 5e 87    .^.
	cpl			;; 8750: 2f          /
	ld	d,a		;; 8751: 57          W
	ld	a,e		;; 8752: 7b          {
	cpl			;; 8753: 2f          /
	ld	e,a		;; 8754: 5f          _
	inc	de		;; 8755: 13          .
	jr	L875e		;; 8756: 18 06       ..

L8758:	ex	de,hl		;; 8758: eb          .
	pop	hl		;; 8759: e1          .
	pop	bc		;; 875a: c1          .
	push	hl		;; 875b: e5          .
	ld	l,040h		;; 875c: 2e 40       .@
L875e:	push	hl		;; 875e: e5          .
	ld	a,d		;; 875f: 7a          z
	or	a,a		;; 8760: b7          .
	jr	nz,L8770	;; 8761: 20 0d        .
	or	a,e		;; 8763: b3          .
	jr	z,L8785		;; 8764: 28 1f       (.
	cp	a,002h		;; 8766: fe 02       ..
	jr	nz,L8770	;; 8768: 20 06        .
	srl	b		;; 876a: cb 38       .8
	rr	c		;; 876c: cb 19       ..
	jr	L8773		;; 876e: 18 03       ..

L8770:	call	L87c6		;; 8770: cd c6 87    ...
L8773:	pop	de		;; 8773: d1          .
	ld	h,b		;; 8774: 60          `
	ld	l,c		;; 8775: 69          i
	bit	6,e		;; 8776: cb 73       .s
	ret	nz		;; 8778: c0          .
	bit	7,e		;; 8779: cb 7b       .{
	jp	nz,L88d3	;; 877b: c2 d3 88    ...
	bit	7,h		;; 877e: cb 7c       .|
	ret	z		;; 8780: c8          .
	ld	a,04fh		;; 8781: 3e 4f       >O
	jr	L8788		;; 8783: 18 03       ..

L8785:	pop	hl		;; 8785: e1          .
	ld	a,04ah		;; 8786: 3e 4a       >J
L8788:	ld	c,002h		;; 8788: 0e 02       ..
	call	L921e		;; 878a: cd 1e 92    ...
	ld	hl,00001h	;; 878d: 21 01 00    ...
	ret			;; 8790: c9          .

L8791:	ex	de,hl		;; 8791: eb          .
	pop	hl		;; 8792: e1          .
	pop	bc		;; 8793: c1          .
	push	hl		;; 8794: e5          .
	ld	a,b		;; 8795: 78          x
	xor	a,d		;; 8796: aa          .
	ld	l,a		;; 8797: 6f          o
	ld	a,b		;; 8798: 78          x
	or	a,a		;; 8799: b7          .
	jp	p,L87a3		;; 879a: f2 a3 87    ...
	cpl			;; 879d: 2f          /
	ld	b,a		;; 879e: 47          G
	ld	a,c		;; 879f: 79          y
	cpl			;; 87a0: 2f          /
	ld	c,a		;; 87a1: 4f          O
	inc	bc		;; 87a2: 03          .
L87a3:	ld	a,d		;; 87a3: 7a          z
	or	a,a		;; 87a4: b7          .
	jp	p,L87ae		;; 87a5: f2 ae 87    ...
	cpl			;; 87a8: 2f          /
	ld	d,a		;; 87a9: 57          W
	ld	a,e		;; 87aa: 7b          {
	cpl			;; 87ab: 2f          /
	ld	e,a		;; 87ac: 5f          _
	inc	de		;; 87ad: 13          .
L87ae:	push	hl		;; 87ae: e5          .
	call	L890c		;; 87af: cd 0c 89    ...
	pop	af		;; 87b2: f1          .
	ret	p		;; 87b3: f0          .
	jp	L8831		;; 87b4: c3 31 88    .1.

L87b7:	ex	de,hl		;; 87b7: eb          .
	pop	hl		;; 87b8: e1          .
	pop	bc		;; 87b9: c1          .
	push	hl		;; 87ba: e5          .
	ld	l,000h		;; 87bb: 2e 00       ..
	call	L890c		;; 87bd: cd 0c 89    ...
	bit	7,h		;; 87c0: cb 7c       .|
	ret	z		;; 87c2: c8          .
	jp	L8840		;; 87c3: c3 40 88    .@.

L87c6:	ld	hl,00000h	;; 87c6: 21 00 00    ...
	ld	a,b		;; 87c9: 78          x
	ld	b,010h		;; 87ca: 06 10       ..
	or	a,a		;; 87cc: b7          .
	jr	nz,L87d3	;; 87cd: 20 04        .
	ld	a,c		;; 87cf: 79          y
	ld	bc,00800h	;; 87d0: 01 00 08    ...
L87d3:	sla	c		;; 87d3: cb 21       ..
	rl	a		;; 87d5: cb 17       ..
	rl	l		;; 87d7: cb 15       ..
	rl	h		;; 87d9: cb 14       ..
	sbc	hl,de		;; 87db: ed 52       .R
	jr	nc,L87e2	;; 87dd: 30 03       0.
	add	hl,de		;; 87df: 19          .
	jr	L87e3		;; 87e0: 18 01       ..

L87e2:	inc	c		;; 87e2: 0c          .
L87e3:	djnz	L87d3		;; 87e3: 10 ee       ..
	ld	b,a		;; 87e5: 47          G
	ret			;; 87e6: c9          .

L87e7:	pop	iy		;; 87e7: fd e1       ..
	ex	(sp),hl		;; 87e9: e3          .
	add	hl,bc		;; 87ea: 09          .
	ld	b,h		;; 87eb: 44          D
	ld	c,l		;; 87ec: 4d          M
	pop	de		;; 87ed: d1          .
	pop	hl		;; 87ee: e1          .
	adc	hl,de		;; 87ef: ed 5a       .Z
	jp	pe,L884e	;; 87f1: ea 4e 88    .N.
	jp	(iy)		;; 87f4: fd e9       ..

L87f6:	pop	iy		;; 87f6: fd e1       ..
	ex	(sp),hl		;; 87f8: e3          .
	or	a,a		;; 87f9: b7          .
	sbc	hl,bc		;; 87fa: ed 42       .B
	ld	b,h		;; 87fc: 44          D
	ld	c,l		;; 87fd: 4d          M
	pop	de		;; 87fe: d1          .
	pop	hl		;; 87ff: e1          .
	sbc	hl,de		;; 8800: ed 52       .R
	jp	pe,L884e	;; 8802: ea 4e 88    .N.
	jp	(iy)		;; 8805: fd e9       ..

L8807:	ld	c,a		;; 8807: 4f          O
	rla			;; 8808: 17          .
	sbc	a,a		;; 8809: 9f          .
	ld	b,a		;; 880a: 47          G
	ld	l,a		;; 880b: 6f          o
	ld	h,a		;; 880c: 67          g
	ret			;; 880d: c9          .

L880e:	ld	b,h		;; 880e: 44          D
	ld	c,l		;; 880f: 4d          M
	rl	h		;; 8810: cb 14       ..
	sbc	hl,hl		;; 8812: ed 62       .b
	ret			;; 8814: c9          .

L8815:	pop	iy		;; 8815: fd e1       ..
	ex	de,hl		;; 8817: eb          .
	pop	hl		;; 8818: e1          .
	push	hl		;; 8819: e5          .
	rl	h		;; 881a: cb 14       ..
	sbc	hl,hl		;; 881c: ed 62       .b
	ex	(sp),hl		;; 881e: e3          .
	push	hl		;; 881f: e5          .
	ex	de,hl		;; 8820: eb          .
	jp	(iy)		;; 8821: fd e9       ..

L8823:	pop	iy		;; 8823: fd e1       ..
	ld	de,00000h	;; 8825: 11 00 00    ...
	ex	de,hl		;; 8828: eb          .
	ex	(sp),hl		;; 8829: e3          .
	push	hl		;; 882a: e5          .
	ex	de,hl		;; 882b: eb          .
	jp	(iy)		;; 882c: fd e9       ..

L882e:	bit	7,h		;; 882e: cb 7c       .|
	ret	z		;; 8830: c8          .
L8831:	ex	de,hl		;; 8831: eb          .
	ld	hl,00000h	;; 8832: 21 00 00    ...
	or	a,a		;; 8835: b7          .
	sbc	hl,bc		;; 8836: ed 42       .B
	ld	b,h		;; 8838: 44          D
	ld	c,l		;; 8839: 4d          M
	ld	hl,00000h	;; 883a: 21 00 00    ...
	sbc	hl,de		;; 883d: ed 52       .R
	ret	po		;; 883f: e0          .
L8840:	ex	(sp),hl		;; 8840: e3          .
	push	bc		;; 8841: c5          .
	push	hl		;; 8842: e5          .
	ld	a,04fh		;; 8843: 3e 4f       >O
	ld	c,002h		;; 8845: 0e 02       ..
	call	L921e		;; 8847: cd 1e 92    ...
	pop	hl		;; 884a: e1          .
	pop	bc		;; 884b: c1          .
	ex	(sp),hl		;; 884c: e3          .
	ret			;; 884d: c9          .

L884e:	push	iy		;; 884e: fd e5       ..
	jr	L8840		;; 8850: 18 ee       ..

L8852:	inc	c		;; 8852: 0c          .
	ret	nz		;; 8853: c0          .
	inc	b		;; 8854: 04          .
	ret	nz		;; 8855: c0          .
	inc	l		;; 8856: 2c          ,
	ret	nz		;; 8857: c0          .
	inc	h		;; 8858: 24          $
	ret	po		;; 8859: e0          .
	jr	L8840		;; 885a: 18 e4       ..

L885c:	ld	a,c		;; 885c: 79          y
	sub	a,001h		;; 885d: d6 01       ..
	ld	c,a		;; 885f: 4f          O
	ld	a,b		;; 8860: 78          x
	sbc	a,000h		;; 8861: de 00       ..
	ld	b,a		;; 8863: 47          G
	ld	de,00000h	;; 8864: 11 00 00    ...
	sbc	hl,de		;; 8867: ed 52       .R
	jp	pe,L8840	;; 8869: ea 40 88    .@.
	or	a,c		;; 886c: b1          .
	or	a,l		;; 886d: b5          .
	or	a,h		;; 886e: b4          .
	ret			;; 886f: c9          .

L8870:	pop	iy		;; 8870: fd e1       ..
	ex	(sp),hl		;; 8872: e3          .
	or	a,a		;; 8873: b7          .
	sbc	hl,bc		;; 8874: ed 42       .B
	pop	de		;; 8876: d1          .
	pop	hl		;; 8877: e1          .
	push	af		;; 8878: f5          .
	sbc	hl,de		;; 8879: ed 52       .R
	pop	de		;; 887b: d1          .
	jp	pe,L8887	;; 887c: ea 87 88    ...
	jr	nz,L8885	;; 887f: 20 04        .
L8881:	res	7,e		;; 8881: cb bb       ..
	push	de		;; 8883: d5          .
	pop	af		;; 8884: f1          .
L8885:	jp	(iy)		;; 8885: fd e9       ..

L8887:	ld	a,040h		;; 8887: 3e 40       >@
	jp	m,L888d		;; 8889: fa 8d 88    ...
	rla			;; 888c: 17          .
L888d:	or	a,a		;; 888d: b7          .
	jp	(iy)		;; 888e: fd e9       ..

L8890:	pop	iy		;; 8890: fd e1       ..
	ex	de,hl		;; 8892: eb          .
	ld	h,b		;; 8893: 60          `
	ld	l,c		;; 8894: 69          i
	pop	bc		;; 8895: c1          .
	or	a,a		;; 8896: b7          .
	sbc	hl,bc		;; 8897: ed 42       .B
	pop	bc		;; 8899: c1          .
	push	af		;; 889a: f5          .
	ex	de,hl		;; 889b: eb          .
	sbc	hl,bc		;; 889c: ed 42       .B
	pop	de		;; 889e: d1          .
	jp	pe,L8887	;; 889f: ea 87 88    ...
	jr	z,L8881		;; 88a2: 28 dd       (.
	jp	(iy)		;; 88a4: fd e9       ..

L88a6:	push	hl		;; 88a6: e5          .
	push	bc		;; 88a7: c5          .
	pop	de		;; 88a8: d1          .
	ex	de,hl		;; 88a9: eb          .
	or	a,a		;; 88aa: b7          .
	sbc	hl,de		;; 88ab: ed 52       .R
	jr	L88b3		;; 88ad: 18 04       ..

	push	hl		;; 88af: e5          .
	or	a,a		;; 88b0: b7          .
	sbc	hl,bc		;; 88b1: ed 42       .B
L88b3:	ld	b,h		;; 88b3: 44          D
	ld	c,l		;; 88b4: 4d          M
	call	pe,L88d3	;; 88b5: ec d3 88    ...
	inc	bc		;; 88b8: 03          .
	ld	a,h		;; 88b9: 7c          |
	rla			;; 88ba: 17          .
	pop	hl		;; 88bb: e1          .
	ret			;; 88bc: c9          .

	ex	de,hl		;; 88bd: eb          .
	ld	h,b		;; 88be: 60          `
	ld	l,c		;; 88bf: 69          i
	or	a,a		;; 88c0: b7          .
	sbc	hl,de		;; 88c1: ed 52       .R
	jr	L88ca		;; 88c3: 18 05       ..

	ld	d,h		;; 88c5: 54          T
	ld	e,l		;; 88c6: 5d          ]
	or	a,a		;; 88c7: b7          .
	sbc	hl,bc		;; 88c8: ed 42       .B
L88ca:	ld	b,h		;; 88ca: 44          D
	ld	c,l		;; 88cb: 4d          M
	inc	bc		;; 88cc: 03          .
	ex	de,hl		;; 88cd: eb          .
	ret			;; 88ce: c9          .

L88cf:	ld	a,h		;; 88cf: 7c          |
	or	a,07fh		;; 88d0: f6 7f       ..
	ret	p		;; 88d2: f0          .
L88d3:	ex	de,hl		;; 88d3: eb          .
	ld	hl,00000h	;; 88d4: 21 00 00    ...
	or	a,a		;; 88d7: b7          .
	sbc	hl,de		;; 88d8: ed 52       .R
	ret			;; 88da: c9          .

	pop	iy		;; 88db: fd e1       ..
	pop	de		;; 88dd: d1          .
	ld	e,d		;; 88de: 5a          Z
	ld	d,000h		;; 88df: 16 00       ..
	bit	7,e		;; 88e1: cb 7b       .{
	jr	z,L88e6		;; 88e3: 28 01       (.
	dec	d		;; 88e5: 15          .
L88e6:	push	de		;; 88e6: d5          .
	jp	(iy)		;; 88e7: fd e9       ..

L88e9:	ex	de,hl		;; 88e9: eb          .
	ld	hl,00000h	;; 88ea: 21 00 00    ...
	ld	a,c		;; 88ed: 79          y
	ld	c,e		;; 88ee: 4b          K
L88ef:	srl	a		;; 88ef: cb 3f       .?
	jr	nc,L88f4	;; 88f1: 30 01       0.
	add	hl,de		;; 88f3: 19          .
L88f4:	sla	e		;; 88f4: cb 23       .#
	rl	d		;; 88f6: cb 12       ..
	or	a,a		;; 88f8: b7          .
	jr	nz,L88ef	;; 88f9: 20 f4        .
	ld	a,b		;; 88fb: 78          x
	or	a,a		;; 88fc: b7          .
	ret	z		;; 88fd: c8          .
	ld	d,c		;; 88fe: 51          Q
	ld	e,000h		;; 88ff: 1e 00       ..
L8901:	srl	a		;; 8901: cb 3f       .?
	jr	nc,L8906	;; 8903: 30 01       0.
	add	hl,de		;; 8905: 19          .
L8906:	sla	d		;; 8906: cb 22       ."
	or	a,a		;; 8908: b7          .
	jr	nz,L8901	;; 8909: 20 f6        .
	ret			;; 890b: c9          .

L890c:	ld	hl,00000h	;; 890c: 21 00 00    ...
	ld	a,b		;; 890f: 78          x
	or	a,a		;; 8910: b7          .
	jr	z,L8926		;; 8911: 28 13       (.
	ld	b,010h		;; 8913: 06 10       ..
L8915:	or	a,a		;; 8915: b7          .
	bit	0,c		;; 8916: cb 41       .A
	jr	z,L891b		;; 8918: 28 01       (.
	add	hl,de		;; 891a: 19          .
L891b:	rr	h		;; 891b: cb 1c       ..
	rr	l		;; 891d: cb 1d       ..
	rra			;; 891f: 1f          .
	rr	c		;; 8920: cb 19       ..
	djnz	L8915		;; 8922: 10 f1       ..
	ld	b,a		;; 8924: 47          G
	ret			;; 8925: c9          .

L8926:	ld	b,008h		;; 8926: 06 08       ..
L8928:	or	a,a		;; 8928: b7          .
	bit	0,c		;; 8929: cb 41       .A
	jr	z,L892e		;; 892b: 28 01       (.
	add	hl,de		;; 892d: 19          .
L892e:	rr	h		;; 892e: cb 1c       ..
	rr	l		;; 8930: cb 1d       ..
	rr	c		;; 8932: cb 19       ..
	djnz	L8928		;; 8934: 10 f2       ..
	ld	b,l		;; 8936: 45          E
	ld	l,h		;; 8937: 6c          l
	ld	h,000h		;; 8938: 26 00       &.
	ret			;; 893a: c9          .

	ld	c,a		;; 893b: 4f          O
	ld	a,b		;; 893c: 78          x
	sub	a,c		;; 893d: 91          .
	jr	L8942		;; 893e: 18 02       ..

	ld	c,a		;; 8940: 4f          O
	sub	a,b		;; 8941: 90          .
L8942:	ld	b,a		;; 8942: 47          G
	jp	po,L8948	;; 8943: e2 48 89    .H.
	neg			;; 8946: ed 44       .D
L8948:	ld	a,c		;; 8948: 79          y
	scf			;; 8949: 37          7
	ret	m		;; 894a: f8          .
	inc	b		;; 894b: 04          .
	or	a,a		;; 894c: b7          .
	ret			;; 894d: c9          .

L894e:	ld	c,a		;; 894e: 4f          O
	ld	a,b		;; 894f: 78          x
	sub	a,c		;; 8950: 91          .
	jr	L8955		;; 8951: 18 02       ..

L8953:	ld	c,a		;; 8953: 4f          O
	sub	a,b		;; 8954: 90          .
L8955:	ld	b,a		;; 8955: 47          G
	inc	b		;; 8956: 04          .
	ld	a,c		;; 8957: 79          y
	ret			;; 8958: c9          .

	or	a,a		;; 8959: b7          .
	jp	p,L895f		;; 895a: f2 5f 89    ._.
	neg			;; 895d: ed 44       .D
L895f:	pop	hl		;; 895f: e1          .
	ex	(sp),hl		;; 8960: e3          .
	ld	c,040h		;; 8961: 0e 40       .@
	jr	L8974		;; 8963: 18 0f       ..

L8965:	pop	hl		;; 8965: e1          .
	ex	(sp),hl		;; 8966: e3          .
	ld	c,000h		;; 8967: 0e 00       ..
	ld	l,a		;; 8969: 6f          o
	jr	L897e		;; 896a: 18 12       ..

L896c:	pop	hl		;; 896c: e1          .
	ex	(sp),hl		;; 896d: e3          .
	or	a,a		;; 896e: b7          .
	jp	m,L89a7		;; 896f: fa a7 89    ...
	ld	c,000h		;; 8972: 0e 00       ..
L8974:	ld	l,a		;; 8974: 6f          o
	bit	7,h		;; 8975: cb 7c       .|
	jr	z,L897e		;; 8977: 28 05       (.
	setb	7,c		;; 8979: cb f9       ..
	sub	a,a		;; 897b: 97          .
	sub	a,h		;; 897c: 94          .
	ld	h,a		;; 897d: 67          g
L897e:	ld	a,l		;; 897e: 7d          }
	or	a,a		;; 897f: b7          .
	jr	z,L89a7		;; 8980: 28 25       (%
	ld	a,h		;; 8982: 7c          |
	or	a,a		;; 8983: b7          .
	ret	z		;; 8984: c8          .
	ld	b,008h		;; 8985: 06 08       ..
	ld	a,l		;; 8987: 7d          }
	sub	a,002h		;; 8988: d6 02       ..
	jr	nz,L8991	;; 898a: 20 05        .
	srl	h		;; 898c: cb 3c       .<
	rla			;; 898e: 17          .
	jr	L899c		;; 898f: 18 0b       ..

L8991:	sub	a,a		;; 8991: 97          .
L8992:	sla	h		;; 8992: cb 24       .$
	rla			;; 8994: 17          .
	cp	a,l		;; 8995: bd          .
	jr	c,L899a		;; 8996: 38 02       8.
	sub	a,l		;; 8998: 95          .
	inc	h		;; 8999: 24          $
L899a:	djnz	L8992		;; 899a: 10 f6       ..
L899c:	bit	7,c		;; 899c: cb 79       .y
	ret	z		;; 899e: c8          .
	neg			;; 899f: ed 44       .D
	ret	z		;; 89a1: c8          .
	bit	6,c		;; 89a2: cb 71       .q
	ret	nz		;; 89a4: c0          .
	add	a,l		;; 89a5: 85          .
	ret			;; 89a6: c9          .

L89a7:	ld	a,04ah		;; 89a7: 3e 4a       >J
	ld	c,002h		;; 89a9: 0e 02       ..
	call	L921e		;; 89ab: cd 1e 92    ...
	ld	a,001h		;; 89ae: 3e 01       >.
	ret			;; 89b0: c9          .

L89b1:	pop	hl		;; 89b1: e1          .
	ex	(sp),hl		;; 89b2: e3          .
	ld	c,040h		;; 89b3: 0e 40       .@
	ld	l,a		;; 89b5: 6f          o
	jr	L89d0		;; 89b6: 18 18       ..

	pop	hl		;; 89b8: e1          .
	ex	(sp),hl		;; 89b9: e3          .
	ld	c,000h		;; 89ba: 0e 00       ..
	or	a,a		;; 89bc: b7          .
	jp	p,L89c4		;; 89bd: f2 c4 89    ...
	setb	7,c		;; 89c0: cb f9       ..
	neg			;; 89c2: ed 44       .D
L89c4:	ld	l,a		;; 89c4: 6f          o
	bit	7,h		;; 89c5: cb 7c       .|
	jr	z,L89d0		;; 89c7: 28 07       (.
	ld	a,c		;; 89c9: 79          y
	xor	a,080h		;; 89ca: ee 80       ..
	ld	c,a		;; 89cc: 4f          O
	sub	a,a		;; 89cd: 97          .
	sub	a,h		;; 89ce: 94          .
	ld	h,a		;; 89cf: 67          g
L89d0:	ld	a,l		;; 89d0: 7d          }
	or	a,a		;; 89d1: b7          .
	jr	z,L89fe		;; 89d2: 28 2a       (*
	ld	a,h		;; 89d4: 7c          |
	or	a,a		;; 89d5: b7          .
	ret	z		;; 89d6: c8          .
	ld	b,008h		;; 89d7: 06 08       ..
	ld	a,l		;; 89d9: 7d          }
	sub	a,002h		;; 89da: d6 02       ..
	jr	nz,L89e2	;; 89dc: 20 04        .
	srl	h		;; 89de: cb 3c       .<
	jr	L89ed		;; 89e0: 18 0b       ..

L89e2:	sub	a,a		;; 89e2: 97          .
L89e3:	sla	h		;; 89e3: cb 24       .$
	rla			;; 89e5: 17          .
	cp	a,l		;; 89e6: bd          .
	jr	c,L89eb		;; 89e7: 38 02       8.
	sub	a,l		;; 89e9: 95          .
	inc	h		;; 89ea: 24          $
L89eb:	djnz	L89e3		;; 89eb: 10 f6       ..
L89ed:	ld	a,h		;; 89ed: 7c          |
	bit	6,c		;; 89ee: cb 71       .q
	ret	nz		;; 89f0: c0          .
	bit	7,c		;; 89f1: cb 79       .y
	jr	nz,L89fb	;; 89f3: 20 06        .
	or	a,a		;; 89f5: b7          .
	ret	p		;; 89f6: f0          .
	ld	a,04fh		;; 89f7: 3e 4f       >O
	jr	L8a00		;; 89f9: 18 05       ..

L89fb:	neg			;; 89fb: ed 44       .D
	ret			;; 89fd: c9          .

L89fe:	ld	a,04ah		;; 89fe: 3e 4a       >J
L8a00:	ld	c,002h		;; 8a00: 0e 02       ..
	call	L921e		;; 8a02: cd 1e 92    ...
	ld	a,001h		;; 8a05: 3e 01       >.
	ret			;; 8a07: c9          .

L8a08:	pop	hl		;; 8a08: e1          .
	ex	(sp),hl		;; 8a09: e3          .
	ld	c,000h		;; 8a0a: 0e 00       ..
	ld	l,a		;; 8a0c: 6f          o
	jr	L8a23		;; 8a0d: 18 14       ..

	pop	hl		;; 8a0f: e1          .
	ex	(sp),hl		;; 8a10: e3          .
	ld	c,a		;; 8a11: 4f          O
	or	a,a		;; 8a12: b7          .
	jp	p,L8a18		;; 8a13: f2 18 8a    ...
	neg			;; 8a16: ed 44       .D
L8a18:	ld	l,a		;; 8a18: 6f          o
	ld	a,c		;; 8a19: 79          y
	xor	a,h		;; 8a1a: ac          .
	ld	c,a		;; 8a1b: 4f          O
	bit	7,h		;; 8a1c: cb 7c       .|
	jr	z,L8a23		;; 8a1e: 28 03       (.
	sub	a,a		;; 8a20: 97          .
	sub	a,h		;; 8a21: 94          .
	ld	h,a		;; 8a22: 67          g
L8a23:	ld	a,l		;; 8a23: 7d          }
	or	a,a		;; 8a24: b7          .
	jr	z,L8a44		;; 8a25: 28 1d       (.
	ld	a,h		;; 8a27: 7c          |
	or	a,a		;; 8a28: b7          .
	jr	z,L8a44		;; 8a29: 28 19       (.
	ld	b,008h		;; 8a2b: 06 08       ..
	sub	a,a		;; 8a2d: 97          .
L8a2e:	or	a,a		;; 8a2e: b7          .
	bit	0,l		;; 8a2f: cb 45       .E
	jr	z,L8a34		;; 8a31: 28 01       (.
	add	a,h		;; 8a33: 84          .
L8a34:	rra			;; 8a34: 1f          .
	rr	l		;; 8a35: cb 1d       ..
	djnz	L8a2e		;; 8a37: 10 f5       ..
	ld	h,a		;; 8a39: 67          g
	bit	7,c		;; 8a3a: cb 79       .y
	ret	z		;; 8a3c: c8          .
	cpl			;; 8a3d: 2f          /
	ld	h,a		;; 8a3e: 67          g
	ld	a,l		;; 8a3f: 7d          }
	cpl			;; 8a40: 2f          /
	ld	l,a		;; 8a41: 6f          o
	inc	hl		;; 8a42: 23          #
	ret			;; 8a43: c9          .

L8a44:	ld	hl,00000h	;; 8a44: 21 00 00    ...
	ret			;; 8a47: c9          .

L8a48:	pop	iy		;; 8a48: fd e1       ..
	pop	af		;; 8a4a: f1          .
	pop	de		;; 8a4b: d1          .
	ld	e,a		;; 8a4c: 5f          _
	pop	hl		;; 8a4d: e1          .
	ld	a,d		;; 8a4e: 7a          z
	or	a,a		;; 8a4f: b7          .
	jr	z,L8a5c		;; 8a50: 28 0a       (.
	ld	a,(hl)		;; 8a52: 7e          ~
	sub	a,d		;; 8a53: 92          .
	jr	c,L8a5c		;; 8a54: 38 06       8.
	inc	a		;; 8a56: 3c          <
	sub	a,e		;; 8a57: 93          .
	jr	nc,L8a66	;; 8a58: 30 0c       0.
	ld	(hl),d		;; 8a5a: 72          r
	dec	(hl)		;; 8a5b: 35          5
L8a5c:	ld	a,054h		;; 8a5c: 3e 54       >T
	ld	c,002h		;; 8a5e: 0e 02       ..
	push	iy		;; 8a60: fd e5       ..
	call	L921e		;; 8a62: cd 1e 92    ...
	ret			;; 8a65: c9          .

L8a66:	jr	z,L8a7a		;; 8a66: 28 12       (.
	push	af		;; 8a68: f5          .
	ld	a,(hl)		;; 8a69: 7e          ~
	sub	a,e		;; 8a6a: 93          .
	ld	(hl),a		;; 8a6b: 77          w
	pop	af		;; 8a6c: f1          .
	ld	b,000h		;; 8a6d: 06 00       ..
	ld	c,d		;; 8a6f: 4a          J
	add	hl,bc		;; 8a70: 09          .
	ex	de,hl		;; 8a71: eb          .
	ld	h,000h		;; 8a72: 26 00       &.
	add	hl,de		;; 8a74: 19          .
	ld	c,a		;; 8a75: 4f          O
	ldir			;; 8a76: ed b0       ..
	jp	(iy)		;; 8a78: fd e9       ..

L8a7a:	ld	(hl),d		;; 8a7a: 72          r
	dec	(hl)		;; 8a7b: 35          5
	jp	(iy)		;; 8a7c: fd e9       ..

L8a7e:	pop	iy		;; 8a7e: fd e1       ..
	pop	af		;; 8a80: f1          .
	pop	de		;; 8a81: d1          .
	pop	hl		;; 8a82: e1          .
	ld	e,a		;; 8a83: 5f          _
	pop	bc		;; 8a84: c1          .
	push	bc		;; 8a85: c5          .
	or	a,a		;; 8a86: b7          .
	jr	z,L8ac3		;; 8a87: 28 3a       (:
	ld	a,(hl)		;; 8a89: 7e          ~
	inc	a		;; 8a8a: 3c          <
	cp	a,e		;; 8a8b: bb          .
	jr	c,L8ac3		;; 8a8c: 38 35       85
	ld	a,c		;; 8a8e: 79          y
	add	a,(hl)		;; 8a8f: 86          .
	jr	c,L8ac3		;; 8a90: 38 31       81
	ld	b,a		;; 8a92: 47          G
	ld	a,d		;; 8a93: 7a          z
	cp	a,b		;; 8a94: b8          .
	jr	c,L8ac3		;; 8a95: 38 2c       8,
	ld	a,c		;; 8a97: 79          y
	or	a,a		;; 8a98: b7          .
	jr	z,L8ad4		;; 8a99: 28 39       (9
	ld	a,(hl)		;; 8a9b: 7e          ~
	inc	a		;; 8a9c: 3c          <
	sub	a,e		;; 8a9d: 93          .
	jr	z,L8ab3		;; 8a9e: 28 13       (.
	push	hl		;; 8aa0: e5          .
	push	de		;; 8aa1: d5          .
	push	bc		;; 8aa2: c5          .
	ld	e,c		;; 8aa3: 59          Y
	ld	b,000h		;; 8aa4: 06 00       ..
	ld	c,(hl)		;; 8aa6: 4e          N
	add	hl,bc		;; 8aa7: 09          .
	ex	de,hl		;; 8aa8: eb          .
	ld	h,000h		;; 8aa9: 26 00       &.
	add	hl,de		;; 8aab: 19          .
	ex	de,hl		;; 8aac: eb          .
	ld	c,a		;; 8aad: 4f          O
	lddr			;; 8aae: ed b8       ..
	pop	bc		;; 8ab0: c1          .
	pop	de		;; 8ab1: d1          .
	pop	hl		;; 8ab2: e1          .
L8ab3:	ld	(hl),b		;; 8ab3: 70          p
	ld	b,000h		;; 8ab4: 06 00       ..
	ld	d,000h		;; 8ab6: 16 00       ..
	add	hl,de		;; 8ab8: 19          .
	ex	de,hl		;; 8ab9: eb          .
	ld	hl,00001h	;; 8aba: 21 01 00    ...
	add	hl,sp		;; 8abd: 39          9
	ldir			;; 8abe: ed b0       ..
	ld	sp,hl		;; 8ac0: f9          .
	jp	(iy)		;; 8ac1: fd e9       ..

L8ac3:	push	iy		;; 8ac3: fd e5       ..
	ld	a,054h		;; 8ac5: 3e 54       >T
	ld	c,002h		;; 8ac7: 0e 02       ..
	call	L921e		;; 8ac9: cd 1e 92    ...
	pop	iy		;; 8acc: fd e1       ..
	pop	hl		;; 8ace: e1          .
	push	hl		;; 8acf: e5          .
	ld	h,000h		;; 8ad0: 26 00       &.
	add	hl,sp		;; 8ad2: 39          9
	ld	sp,hl		;; 8ad3: f9          .
L8ad4:	inc	sp		;; 8ad4: 33          3
	jp	(iy)		;; 8ad5: fd e9       ..

L8ad7:	pop	iy		;; 8ad7: fd e1       ..
	ld	hl,00000h	;; 8ad9: 21 00 00    ...
	add	hl,sp		;; 8adc: 39          9
	ld	c,(hl)		;; 8add: 4e          N
	inc	hl		;; 8ade: 23          #
	ex	de,hl		;; 8adf: eb          .
	ld	h,000h		;; 8ae0: 26 00       &.
	ld	l,c		;; 8ae2: 69          i
	add	hl,de		;; 8ae3: 19          .
	ld	b,(hl)		;; 8ae4: 46          F
	inc	hl		;; 8ae5: 23          #
	ld	a,b		;; 8ae6: 78          x
	or	a,a		;; 8ae7: b7          .
	jr	z,L8b07		;; 8ae8: 28 1d       (.
	ld	a,c		;; 8aea: 79          y
	sub	a,b		;; 8aeb: 90          .
	jr	c,L8b07		;; 8aec: 38 19       8.
	ld	c,a		;; 8aee: 4f          O
	inc	c		;; 8aef: 0c          .
L8af0:	ld	a,(de)		;; 8af0: 1a          .
	cp	a,(hl)		;; 8af1: be          .
	jr	nz,L8b03	;; 8af2: 20 0f        .
	push	hl		;; 8af4: e5          .
	push	de		;; 8af5: d5          .
	push	bc		;; 8af6: c5          .
L8af7:	dec	b		;; 8af7: 05          .
	jr	z,L8b0a		;; 8af8: 28 10       (.
	inc	de		;; 8afa: 13          .
	inc	hl		;; 8afb: 23          #
	ld	a,(de)		;; 8afc: 1a          .
	cp	a,(hl)		;; 8afd: be          .
	jr	z,L8af7		;; 8afe: 28 f7       (.
	pop	bc		;; 8b00: c1          .
	pop	de		;; 8b01: d1          .
	pop	hl		;; 8b02: e1          .
L8b03:	inc	de		;; 8b03: 13          .
	dec	c		;; 8b04: 0d          .
	jr	nz,L8af0	;; 8b05: 20 e9        .
L8b07:	sub	a,a		;; 8b07: 97          .
	jr	L8b14		;; 8b08: 18 0a       ..

L8b0a:	pop	bc		;; 8b0a: c1          .
	pop	de		;; 8b0b: d1          .
	pop	hl		;; 8b0c: e1          .
	pop	de		;; 8b0d: d1          .
	push	de		;; 8b0e: d5          .
	ld	a,e		;; 8b0f: 7b          {
	sub	a,b		;; 8b10: 90          .
	inc	a		;; 8b11: 3c          <
	sub	a,c		;; 8b12: 91          .
	inc	a		;; 8b13: 3c          <
L8b14:	ld	d,000h		;; 8b14: 16 00       ..
	ld	e,b		;; 8b16: 58          X
	add	hl,de		;; 8b17: 19          .
	ld	sp,hl		;; 8b18: f9          .
	ld	c,a		;; 8b19: 4f          O
	ld	b,000h		;; 8b1a: 06 00       ..
	ld	h,b		;; 8b1c: 60          `
	ld	l,b		;; 8b1d: 68          h
	jp	(iy)		;; 8b1e: fd e9       ..

L8b20:	pop	iy		;; 8b20: fd e1       ..
	ld	hl,00000h	;; 8b22: 21 00 00    ...
	add	hl,sp		;; 8b25: 39          9
	ld	a,(hl)		;; 8b26: 7e          ~
	ex	de,hl		;; 8b27: eb          .
	ld	h,000h		;; 8b28: 26 00       &.
	ld	l,a		;; 8b2a: 6f          o
	add	hl,sp		;; 8b2b: 39          9
	inc	hl		;; 8b2c: 23          #
	add	a,(hl)		;; 8b2d: 86          .
	ex	de,hl		;; 8b2e: eb          .
	call	c,L8b7c		;; 8b2f: dc 7c 8b    .|.
	ex	de,hl		;; 8b32: eb          .
	ld	a,(de)		;; 8b33: 1a          .
	or	a,a		;; 8b34: b7          .
	jr	z,L8b56		;; 8b35: 28 1f       (.
	ld	c,a		;; 8b37: 4f          O
	ld	b,(hl)		;; 8b38: 46          F
	cp	a,b		;; 8b39: b8          .
	jr	nc,L8b59	;; 8b3a: 30 1d       0.
	ld	h,0ffh		;; 8b3c: 26 ff       &.
	neg			;; 8b3e: ed 44       .D
	ld	l,a		;; 8b40: 6f          o
	add	hl,de		;; 8b41: 19          .
	ld	sp,hl		;; 8b42: f9          .
	ex	de,hl		;; 8b43: eb          .
	ld	a,b		;; 8b44: 78          x
	add	a,c		;; 8b45: 81          .
	ld	b,000h		;; 8b46: 06 00       ..
	ld	c,a		;; 8b48: 4f          O
	inc	bc		;; 8b49: 03          .
	inc	bc		;; 8b4a: 03          .
	ldir			;; 8b4b: ed b0       ..
	ld	hl,00000h	;; 8b4d: 21 00 00    ...
	add	hl,sp		;; 8b50: 39          9
	ld	c,(hl)		;; 8b51: 4e          N
	inc	hl		;; 8b52: 23          #
	ldir			;; 8b53: ed b0       ..
	ld	(hl),a		;; 8b55: 77          w
L8b56:	ld	sp,hl		;; 8b56: f9          .
	jp	(iy)		;; 8b57: fd e9       ..

L8b59:	ex	de,hl		;; 8b59: eb          .
	ld	h,0ffh		;; 8b5a: 26 ff       &.
	ld	a,b		;; 8b5c: 78          x
	neg			;; 8b5d: ed 44       .D
	ld	l,a		;; 8b5f: 6f          o
	add	hl,sp		;; 8b60: 39          9
	ld	sp,hl		;; 8b61: f9          .
	ex	de,hl		;; 8b62: eb          .
	ld	a,b		;; 8b63: 78          x
	add	a,c		;; 8b64: 81          .
	ld	(hl),a		;; 8b65: 77          w
	push	hl		;; 8b66: e5          .
	ld	c,b		;; 8b67: 48          H
	ld	b,000h		;; 8b68: 06 00       ..
	inc	bc		;; 8b6a: 03          .
	ldir			;; 8b6b: ed b0       ..
	ex	de,hl		;; 8b6d: eb          .
	dec	de		;; 8b6e: 1b          .
	pop	hl		;; 8b6f: e1          .
	dec	hl		;; 8b70: 2b          +
	ld	c,a		;; 8b71: 4f          O
	ld	b,000h		;; 8b72: 06 00       ..
	inc	bc		;; 8b74: 03          .
	lddr			;; 8b75: ed b8       ..
	ex	de,hl		;; 8b77: eb          .
	inc	hl		;; 8b78: 23          #
	ld	sp,hl		;; 8b79: f9          .
	jp	(iy)		;; 8b7a: fd e9       ..

L8b7c:	ld	a,(de)		;; 8b7c: 1a          .
	cpl			;; 8b7d: 2f          /
	jp	L8bcd		;; 8b7e: c3 cd 8b    ...

L8b81:	pop	iy		;; 8b81: fd e1       ..
	ex	de,hl		;; 8b83: eb          .
	ld	hl,00000h	;; 8b84: 21 00 00    ...
	add	hl,sp		;; 8b87: 39          9
	cp	a,(hl)		;; 8b88: be          .
	call	c,L8bcd		;; 8b89: dc cd 8b    ...
	ld	b,000h		;; 8b8c: 06 00       ..
	ld	c,(hl)		;; 8b8e: 4e          N
	inc	bc		;; 8b8f: 03          .
	ldir			;; 8b90: ed b0       ..
	ld	sp,hl		;; 8b92: f9          .
	jp	(iy)		;; 8b93: fd e9       ..

L8b95:	pop	iy		;; 8b95: fd e1       ..
	ld	hl,00000h	;; 8b97: 21 00 00    ...
	add	hl,sp		;; 8b9a: 39          9
	ld	c,(hl)		;; 8b9b: 4e          N
	ld	b,000h		;; 8b9c: 06 00       ..
	inc	bc		;; 8b9e: 03          .
	add	hl,bc		;; 8b9f: 09          .
	ld	e,(hl)		;; 8ba0: 5e          ^
	inc	hl		;; 8ba1: 23          #
	ld	d,(hl)		;; 8ba2: 56          V
	push	de		;; 8ba3: d5          .
	ex	de,hl		;; 8ba4: eb          .
	ld	h,d		;; 8ba5: 62          b
	ld	l,e		;; 8ba6: 6b          k
	dec	hl		;; 8ba7: 2b          +
	dec	hl		;; 8ba8: 2b          +
	inc	bc		;; 8ba9: 03          .
	inc	bc		;; 8baa: 03          .
	lddr			;; 8bab: ed b8       ..
	pop	hl		;; 8bad: e1          .
	jp	(iy)		;; 8bae: fd e9       ..

L8bb0:	pop	iy		;; 8bb0: fd e1       ..
	ld	hl,00000h	;; 8bb2: 21 00 00    ...
	add	hl,sp		;; 8bb5: 39          9
	cp	a,(hl)		;; 8bb6: be          .
	call	c,L8bcd		;; 8bb7: dc cd 8b    ...
	sub	a,(hl)		;; 8bba: 96          .
	jr	z,L8bcb		;; 8bbb: 28 0e       (.
	ld	d,h		;; 8bbd: 54          T
	ld	e,l		;; 8bbe: 5d          ]
	ld	b,000h		;; 8bbf: 06 00       ..
	ld	c,a		;; 8bc1: 4f          O
	or	a,a		;; 8bc2: b7          .
	sbc	hl,bc		;; 8bc3: ed 42       .B
	ld	sp,hl		;; 8bc5: f9          .
	ex	de,hl		;; 8bc6: eb          .
	ld	c,(hl)		;; 8bc7: 4e          N
	inc	bc		;; 8bc8: 03          .
	ldir			;; 8bc9: ed b0       ..
L8bcb:	jp	(iy)		;; 8bcb: fd e9       ..

L8bcd:	push	de		;; 8bcd: d5          .
	push	af		;; 8bce: f5          .
	push	hl		;; 8bcf: e5          .
	push	iy		;; 8bd0: fd e5       ..
	ld	a,054h		;; 8bd2: 3e 54       >T
	ld	c,002h		;; 8bd4: 0e 02       ..
	call	L921e		;; 8bd6: cd 1e 92    ...
	pop	iy		;; 8bd9: fd e1       ..
	pop	hl		;; 8bdb: e1          .
	pop	af		;; 8bdc: f1          .
	ld	c,(hl)		;; 8bdd: 4e          N
	ld	(hl),a		;; 8bde: 77          w
	push	hl		;; 8bdf: e5          .
	ld	b,000h		;; 8be0: 06 00       ..
	add	hl,bc		;; 8be2: 09          .
	ex	de,hl		;; 8be3: eb          .
	pop	hl		;; 8be4: e1          .
	ld	c,a		;; 8be5: 4f          O
	add	hl,bc		;; 8be6: 09          .
	inc	bc		;; 8be7: 03          .
	lddr			;; 8be8: ed b8       ..
	ex	de,hl		;; 8bea: eb          .
	pop	de		;; 8beb: d1          .
	pop	bc		;; 8bec: c1          .
	inc	hl		;; 8bed: 23          #
	ld	sp,hl		;; 8bee: f9          .
	push	bc		;; 8bef: c5          .
	ret			;; 8bf0: c9          .

	pop	iy		;; 8bf1: fd e1       ..
	pop	bc		;; 8bf3: c1          .
	push	bc		;; 8bf4: c5          .
	ld	h,000h		;; 8bf5: 26 00       &.
	ld	l,c		;; 8bf7: 69          i
	add	hl,sp		;; 8bf8: 39          9
	inc	hl		;; 8bf9: 23          #
	ld	sp,hl		;; 8bfa: f9          .
	ld	b,000h		;; 8bfb: 06 00       ..
	ld	h,b		;; 8bfd: 60          `
	ld	l,b		;; 8bfe: 68          h
	jp	(iy)		;; 8bff: fd e9       ..

L8c01:	ld	a,040h		;; 8c01: 3e 40       >@
	jp	m,L8c07		;; 8c03: fa 07 8c    ...
	rla			;; 8c06: 17          .
L8c07:	or	a,a		;; 8c07: b7          .
	ret			;; 8c08: c9          .

L8c09:	ld	a,001h		;; 8c09: 3e 01       >.
	ret	z		;; 8c0b: c8          .
	dec	a		;; 8c0c: 3d          =
	ret			;; 8c0d: c9          .

L8c0e:	ld	a,001h		;; 8c0e: 3e 01       >.
	ret	nz		;; 8c10: c0          .
	dec	a		;; 8c11: 3d          =
	ret			;; 8c12: c9          .

L8c13:	ld	a,001h		;; 8c13: 3e 01       >.
	ret	m		;; 8c15: f8          .
	dec	a		;; 8c16: 3d          =
	ret			;; 8c17: c9          .

L8c18:	ld	a,001h		;; 8c18: 3e 01       >.
	ret	p		;; 8c1a: f0          .
	dec	a		;; 8c1b: 3d          =
	ret			;; 8c1c: c9          .

	or	a,a		;; 8c1d: b7          .
	ret	p		;; 8c1e: f0          .
	neg			;; 8c1f: ed 44       .D
	ret			;; 8c21: c9          .

	push	iy		;; 8c22: fd e5       ..
	jr	L8c28		;; 8c24: 18 02       ..

L8c26:	push	ix		;; 8c26: dd e5       ..
L8c28:	pop	de		;; 8c28: d1          .
	pop	hl		;; 8c29: e1          .
	ld	a,(hl)		;; 8c2a: 7e          ~
	inc	hl		;; 8c2b: 23          #
	push	hl		;; 8c2c: e5          .
	ex	de,hl		;; 8c2d: eb          .
	ld	e,a		;; 8c2e: 5f          _
	rla			;; 8c2f: 17          .
	sbc	a,a		;; 8c30: 9f          .
	ld	d,a		;; 8c31: 57          W
	add	hl,de		;; 8c32: 19          .
	jp	L8d67		;; 8c33: c3 67 8d    .g.

	push	iy		;; 8c36: fd e5       ..
	jr	L8c3c		;; 8c38: 18 02       ..

L8c3a:	push	ix		;; 8c3a: dd e5       ..
L8c3c:	pop	de		;; 8c3c: d1          .
	ex	(sp),hl		;; 8c3d: e3          .
	ld	a,(hl)		;; 8c3e: 7e          ~
	inc	hl		;; 8c3f: 23          #
	ex	(sp),hl		;; 8c40: e3          .
	push	hl		;; 8c41: e5          .
	ld	l,a		;; 8c42: 6f          o
	rla			;; 8c43: 17          .
	sbc	a,a		;; 8c44: 9f          .
	ld	h,a		;; 8c45: 67          g
	add	hl,de		;; 8c46: 19          .
	pop	de		;; 8c47: d1          .
	ld	(hl),c		;; 8c48: 71          q
	inc	hl		;; 8c49: 23          #
	ld	(hl),b		;; 8c4a: 70          p
	inc	hl		;; 8c4b: 23          #
	ld	(hl),e		;; 8c4c: 73          s
	inc	hl		;; 8c4d: 23          #
	ld	(hl),d		;; 8c4e: 72          r
	inc	hl		;; 8c4f: 23          #
	ex	de,hl		;; 8c50: eb          .
	ret			;; 8c51: c9          .

	pop	iy		;; 8c52: fd e1       ..
	pop	bc		;; 8c54: c1          .
	pop	de		;; 8c55: d1          .
	pop	hl		;; 8c56: e1          .
	ldir			;; 8c57: ed b0       ..
	jp	(iy)		;; 8c59: fd e9       ..

 if userst
L8c5b:	ld	hl,(L8c82)	;; 8c5b: 2a 82 8c    *..
	ld	(rst2v),hl	;; 8c5e: 22 10 00    "..
	ld	hl,(L8c82+2)	;; 8c61: 2a 84 8c    *..
	ld	(rst2v+2),hl	;; 8c64: 22 12 00    "..
	ld	hl,(L8c82+4)	;; 8c67: 2a 86 8c    *..
	ld	(rst2v+4),hl	;; 8c6a: 22 14 00    "..
	ld	a,0c3h		;; 8c6d: 3e c3       >.
	ld	(rst3v),a	;; 8c6f: 32 18 00    2..
	ld	(rst4v),a	;; 8c72: 32 20 00    2 .
	ld	hl,L8c87	;; 8c75: 21 87 8c    ...
	ld	(rst3v+1),hl	;; 8c78: 22 19 00    "..
	ld	hl,L8ca6	;; 8c7b: 21 a6 8c    ...
	ld	(rst4v+1),hl	;; 8c7e: 22 21 00    "..
	ret			;; 8c81: c9          .
 endif

L8c82:	push	ix		;; 8c82: dd e5       ..
	pop	de		;; 8c84: d1          .
	add	hl,de		;; 8c85: 19          .
	ret			;; 8c86: c9          .

L8c87:	ex	(sp),hl		;; 8c87: e3          .
	ld	e,(hl)		;; 8c88: 5e          ^
	inc	hl		;; 8c89: 23          #
	ex	(sp),hl		;; 8c8a: e3          .
	ld	d,0ffh		;; 8c8b: 16 ff       ..
	push	ix		;; 8c8d: dd e5       ..
	bit	7,e		;; 8c8f: cb 7b       .{
	jp	z,L8c9b		;; 8c91: ca 9b 8c    ...
	pop	hl		;; 8c94: e1          .
	add	hl,de		;; 8c95: 19          .
	ld	e,(hl)		;; 8c96: 5e          ^
	inc	hl		;; 8c97: 23          #
	ld	d,(hl)		;; 8c98: 56          V
	ex	de,hl		;; 8c99: eb          .
	ret			;; 8c9a: c9          .

L8c9b:	ex	(sp),hl		;; 8c9b: e3          .
	setb	7,e		;; 8c9c: cb fb       ..
	add	hl,de		;; 8c9e: 19          .
	pop	de		;; 8c9f: d1          .
	ld	(hl),e		;; 8ca0: 73          s
	inc	hl		;; 8ca1: 23          #
	ld	(hl),d		;; 8ca2: 72          r
	inc	hl		;; 8ca3: 23          #
	ex	de,hl		;; 8ca4: eb          .
	ret			;; 8ca5: c9          .

L8ca6:	ex	(sp),hl		;; 8ca6: e3          .
	ld	d,(hl)		;; 8ca7: 56          V
	inc	hl		;; 8ca8: 23          #
	bit	7,d		;; 8ca9: cb 7a       .z
	jr	nz,L8cb5	;; 8cab: 20 08        .
	ld	e,(hl)		;; 8cad: 5e          ^
	inc	hl		;; 8cae: 23          #
	ex	(sp),hl		;; 8caf: e3          .
	ld	(L8e70),de	;; 8cb0: ed 53 70 8e .Sp.
	ret			;; 8cb4: c9          .

L8cb5:	ex	(sp),hl		;; 8cb5: e3          .
	rr	d		;; 8cb6: cb 1a       ..
	jr	c,L8cc7		;; 8cb8: 38 0d       8.
	rr	d		;; 8cba: cb 1a       ..
	jr	c,L8cd6		;; 8cbc: 38 18       8.
	rr	d		;; 8cbe: cb 1a       ..
	jr	c,L8d0f		;; 8cc0: 38 4d       8M
	ld	e,(hl)		;; 8cc2: 5e          ^
	inc	hl		;; 8cc3: 23          #
	ld	d,(hl)		;; 8cc4: 56          V
	ex	de,hl		;; 8cc5: eb          .
	ret			;; 8cc6: c9          .

L8cc7:	rr	d		;; 8cc7: cb 1a       ..
	jr	c,L8cf2		;; 8cc9: 38 27       8'
	rr	d		;; 8ccb: cb 1a       ..
	jr	c,L8d14		;; 8ccd: 38 45       8E
	ex	de,hl		;; 8ccf: eb          .
	pop	hl		;; 8cd0: e1          .
	ex	(sp),hl		;; 8cd1: e3          .
	ld	(hl),e		;; 8cd2: 73          s
	inc	hl		;; 8cd3: 23          #
	ld	(hl),d		;; 8cd4: 72          r
	ret			;; 8cd5: c9          .

L8cd6:	rr	d		;; 8cd6: cb 1a       ..
	jp	c,L8d1b		;; 8cd8: da 1b 8d    ...
	push	af		;; 8cdb: f5          .
	ld	a,d		;; 8cdc: 7a          z
	and	a,00fh		;; 8cdd: e6 0f       ..
	push	ix		;; 8cdf: dd e5       ..
L8ce1:	pop	iy		;; 8ce1: fd e1       ..
	dec	a		;; 8ce3: 3d          =
	jp	m,L8cf0		;; 8ce4: fa f0 8c    ...
	ld	d,(iy-127)	;; 8ce7: fd 56 81    .V.
	ld	e,(iy-128)	;; 8cea: fd 5e 80    .^.
	push	de		;; 8ced: d5          .
	jr	L8ce1		;; 8cee: 18 f1       ..

L8cf0:	pop	af		;; 8cf0: f1          .
	ret			;; 8cf1: c9          .

L8cf2:	rr	d		;; 8cf2: cb 1a       ..
	jr	c,L8d21		;; 8cf4: 38 2b       8+
	push	af		;; 8cf6: f5          .
	ld	a,d		;; 8cf7: 7a          z
	and	a,00fh		;; 8cf8: e6 0f       ..
	push	ix		;; 8cfa: dd e5       ..
	pop	de		;; 8cfc: d1          .
	or	a,a		;; 8cfd: b7          .
	jr	z,L8d0c		;; 8cfe: 28 0c       (.
L8d00:	push	de		;; 8d00: d5          .
	pop	iy		;; 8d01: fd e1       ..
	ld	d,(iy-127)	;; 8d03: fd 56 81    .V.
	ld	e,(iy-128)	;; 8d06: fd 5e 80    .^.
	dec	a		;; 8d09: 3d          =
	jr	nz,L8d00	;; 8d0a: 20 f4        .
L8d0c:	add	hl,de		;; 8d0c: 19          .
	pop	af		;; 8d0d: f1          .
	ret			;; 8d0e: c9          .

L8d0f:	ld	l,a		;; 8d0f: 6f          o
	rla			;; 8d10: 17          .
	sbc	a,a		;; 8d11: 9f          .
	ld	h,a		;; 8d12: 67          g
	ret			;; 8d13: c9          .

L8d14:	ex	de,hl		;; 8d14: eb          .
	ld	h,b		;; 8d15: 60          `
	ld	l,c		;; 8d16: 69          i
	or	a,a		;; 8d17: b7          .
	sbc	hl,de		;; 8d18: ed 52       .R
	ret			;; 8d1a: c9          .

L8d1b:	ld	c,a		;; 8d1b: 4f          O
	ld	b,000h		;; 8d1c: 06 00       ..
	ld	h,b		;; 8d1e: 60          `
	ld	l,b		;; 8d1f: 68          h
	ret			;; 8d20: c9          .

L8d21:	ld	b,h		;; 8d21: 44          D
	ld	c,l		;; 8d22: 4d          M
	ld	hl,00000h	;; 8d23: 21 00 00    ...
	ret			;; 8d26: c9          .

L8d27:	pop	hl		;; 8d27: e1          .
	pop	bc		;; 8d28: c1          .
	ld	e,(hl)		;; 8d29: 5e          ^
	inc	hl		;; 8d2a: 23          #
	ld	d,0ffh		;; 8d2b: 16 ff       ..
	ld	a,e		;; 8d2d: 7b          {
	or	a,a		;; 8d2e: b7          .
	jr	nz,L8d32	;; 8d2f: 20 01        .
	ld	d,a		;; 8d31: 57          W
L8d32:	ex	de,hl		;; 8d32: eb          .
	add	hl,sp		;; 8d33: 39          9
	ld	sp,hl		;; 8d34: f9          .
	push	iy		;; 8d35: fd e5       ..
	push	ix		;; 8d37: dd e5       ..
	push	bc		;; 8d39: c5          .
	ld	ix,00084h	;; 8d3a: dd 21 84 00 ....
	add	ix,sp		;; 8d3e: dd 39       .9
	ex	de,hl		;; 8d40: eb          .
	ld	e,(hl)		;; 8d41: 5e          ^
	inc	hl		;; 8d42: 23          #
	ld	d,000h		;; 8d43: 16 00       ..
	ex	de,hl		;; 8d45: eb          .
	add	hl,sp		;; 8d46: 39          9
	push	hl		;; 8d47: e5          .
	push	de		;; 8d48: d5          .
L8d49:	ld	hl,(L91b9)	;; 8d49: 2a b9 91    *..
	add	hl,sp		;; 8d4c: 39          9
	ret	c		;; 8d4d: d8          .
	ld	a,053h		;; 8d4e: 3e 53       >S
	push	de		;; 8d50: d5          .
	ld	c,000h		;; 8d51: 0e 00       ..
	call	L921e		;; 8d53: cd 1e 92    ...
L8d56:	ex	de,hl		;; 8d56: eb          .
	pop	hl		;; 8d57: e1          .
	pop	iy		;; 8d58: fd e1       ..
	pop	ix		;; 8d5a: dd e1       ..
	ld	sp,hl		;; 8d5c: f9          .
	ex	de,hl		;; 8d5d: eb          .
	jp	(iy)		;; 8d5e: fd e9       ..

L8d60:	pop	hl		;; 8d60: e1          .
	ld	e,(hl)		;; 8d61: 5e          ^
	inc	hl		;; 8d62: 23          #
	ld	d,(hl)		;; 8d63: 56          V
	inc	hl		;; 8d64: 23          #
	push	hl		;; 8d65: e5          .
	ex	de,hl		;; 8d66: eb          .
L8d67:	ld	c,(hl)		;; 8d67: 4e          N
	inc	hl		;; 8d68: 23          #
	ld	b,(hl)		;; 8d69: 46          F
	inc	hl		;; 8d6a: 23          #
	ld	e,(hl)		;; 8d6b: 5e          ^
	inc	hl		;; 8d6c: 23          #
	ld	d,(hl)		;; 8d6d: 56          V
	inc	hl		;; 8d6e: 23          #
	ex	de,hl		;; 8d6f: eb          .
	ret			;; 8d70: c9          .

L8d71:	ex	(sp),hl		;; 8d71: e3          .
	ld	e,(hl)		;; 8d72: 5e          ^
	inc	hl		;; 8d73: 23          #
	ld	d,(hl)		;; 8d74: 56          V
	inc	hl		;; 8d75: 23          #
	ex	(sp),hl		;; 8d76: e3          .
	ex	de,hl		;; 8d77: eb          .
	jr	L8d7d		;; 8d78: 18 03       ..

	ex	de,hl		;; 8d7a: eb          .
	pop	hl		;; 8d7b: e1          .
	ex	(sp),hl		;; 8d7c: e3          .
L8d7d:	ld	(hl),c		;; 8d7d: 71          q
	inc	hl		;; 8d7e: 23          #
	ld	(hl),b		;; 8d7f: 70          p
	inc	hl		;; 8d80: 23          #
	ld	(hl),e		;; 8d81: 73          s
	inc	hl		;; 8d82: 23          #
	ld	(hl),d		;; 8d83: 72          r
	inc	hl		;; 8d84: 23          #
	ex	de,hl		;; 8d85: eb          .
	ret			;; 8d86: c9          .

L8d87:	pop	iy		;; 8d87: fd e1       ..
	pop	de		;; 8d89: d1          .
	ex	(sp),hl		;; 8d8a: e3          .
	push	bc		;; 8d8b: c5          .
	ld	b,d		;; 8d8c: 42          B
	ld	c,e		;; 8d8d: 4b          K
	jp	(iy)		;; 8d8e: fd e9       ..

L8d90:	sub	a,b		;; 8d90: 90          .
	jr	nc,L8d9c	;; 8d91: 30 09       0.
	jr	L8da0		;; 8d93: 18 0b       ..

	sub	a,b		;; 8d95: 90          .
	jp	pe,L8da8	;; 8d96: ea a8 8d    ...
	jp	m,L8da0		;; 8d99: fa a0 8d    ...
L8d9c:	cp	a,c		;; 8d9c: b9          .
	jp	c,L8da1		;; 8d9d: da a1 8d    ...
L8da0:	ld	a,c		;; 8da0: 79          y
L8da1:	ld	l,a		;; 8da1: 6f          o
	ld	h,000h		;; 8da2: 26 00       &.
	ld	b,h		;; 8da4: 44          D
	add	hl,hl		;; 8da5: 29          )
	jr	L8dc9		;; 8da6: 18 21       ..

L8da8:	jr	nc,L8da0	;; 8da8: 30 f6       0.
	jr	L8d9c		;; 8daa: 18 f0       ..

	or	a,a		;; 8dac: b7          .
	sbc	hl,bc		;; 8dad: ed 42       .B
	jr	nc,L8dbc	;; 8daf: 30 0b       0.
	jr	L8dc2		;; 8db1: 18 0f       ..

	or	a,a		;; 8db3: b7          .
	sbc	hl,bc		;; 8db4: ed 42       .B
	jp	pe,L8dd7	;; 8db6: ea d7 8d    ...
	jp	m,L8dc2		;; 8db9: fa c2 8d    ...
L8dbc:	or	a,a		;; 8dbc: b7          .
	sbc	hl,de		;; 8dbd: ed 52       .R
	jp	c,L8dc5		;; 8dbf: da c5 8d    ...
L8dc2:	ld	hl,00000h	;; 8dc2: 21 00 00    ...
L8dc5:	add	hl,de		;; 8dc5: 19          .
	add	hl,hl		;; 8dc6: 29          )
	ld	b,d		;; 8dc7: 42          B
	ld	c,e		;; 8dc8: 4b          K
L8dc9:	pop	de		;; 8dc9: d1          .
	pop	iy		;; 8dca: fd e1       ..
	add	hl,de		;; 8dcc: 19          .
	push	de		;; 8dcd: d5          .
	ld	e,(hl)		;; 8dce: 5e          ^
	inc	hl		;; 8dcf: 23          #
	ld	d,(hl)		;; 8dd0: 56          V
	pop	hl		;; 8dd1: e1          .
	inc	bc		;; 8dd2: 03          .
	add	hl,bc		;; 8dd3: 09          .
	add	hl,bc		;; 8dd4: 09          .
	ex	de,hl		;; 8dd5: eb          .
	jp	(hl)		;; 8dd6: e9          .

L8dd7:	jr	nc,L8dc2	;; 8dd7: 30 e9       0.
	jr	L8dbc		;; 8dd9: 18 e1       ..

	ret			;; 8ddb: c9          .

L8ddc:	pop	hl		;; 8ddc: e1          .
	pop	iy		;; 8ddd: fd e1       ..
L8ddf:	cp	a,(hl)		;; 8ddf: be          .
	inc	hl		;; 8de0: 23          #
	jr	z,L8de7		;; 8de1: 28 04       (.
	inc	hl		;; 8de3: 23          #
	inc	hl		;; 8de4: 23          #
	djnz	L8ddf		;; 8de5: 10 f8       ..
L8de7:	ld	e,(hl)		;; 8de7: 5e          ^
	inc	hl		;; 8de8: 23          #
	ld	d,(hl)		;; 8de9: 56          V
	inc	hl		;; 8dea: 23          #
	ex	de,hl		;; 8deb: eb          .
	jp	(hl)		;; 8dec: e9          .

	ex	de,hl		;; 8ded: eb          .
	pop	hl		;; 8dee: e1          .
	pop	iy		;; 8def: fd e1       ..
L8df1:	ld	a,e		;; 8df1: 7b          {
	cp	a,(hl)		;; 8df2: be          .
	inc	hl		;; 8df3: 23          #
	jr	nz,L8dfd	;; 8df4: 20 07        .
	ld	a,d		;; 8df6: 7a          z
	cp	a,(hl)		;; 8df7: be          .
	inc	hl		;; 8df8: 23          #
	jr	nz,L8dfe	;; 8df9: 20 03        .
	jr	L8de7		;; 8dfb: 18 ea       ..

L8dfd:	inc	hl		;; 8dfd: 23          #
L8dfe:	inc	hl		;; 8dfe: 23          #
	cpi			;; 8dff: ed a1       ..
	jp	pe,L8df1	;; 8e01: ea f1 8d    ...
	jr	L8de7		;; 8e04: 18 e1       ..

L8e06:	push	de		;; 8e06: d5          .
	push	iy		;; 8e07: fd e5       ..
	ld	a,043h		;; 8e09: 3e 43       >C
	ld	c,002h		;; 8e0b: 0e 02       ..
	call	L921e		;; 8e0d: cd 1e 92    ...
	pop	de		;; 8e10: d1          .
	ret			;; 8e11: c9          .

L8e12:	db	0
L8e13:	db	0
L8e14:	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	db	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
L8e64:	db	0,0
L8e66:	db	0,0
L8e68:	db	0,0
L8e6a:	db	0,0
L8e6c:	db	0,0
L8e6e:	db	0,0
L8e70:	db	0,0
L8e72:	db	0,0
L8e74:	db	0
L8e75:	dw	L9343
L8e77:	db	1
L8e78:	ld	sp,(00006h)	;; 8e78: ed 7b 06 00 .{..
	ld	b,006h		;; 8e7c: 06 06       ..
L8e7e:	dec	sp		;; 8e7e: 3b          ;
	djnz	L8e7e		;; 8e7f: 10 fd       ..
	push	hl		;; 8e81: e5          .
	ld	(L91bd),hl	;; 8e82: 22 bd 91    "..
	ld	ix,00080h	;; 8e85: dd 21 80 00 ....
	add	ix,sp		;; 8e89: dd 39       .9
	ld	(L8e6a),ix	;; 8e8b: dd 22 6a 8e ."j.
	ld	hl,L8eef	;; 8e8f: 21 ef 8e    ...
	ld	(L91c1),hl	;; 8e92: 22 c1 91    "..
	ld	(L91bf),hl	;; 8e95: 22 bf 91    "..
	ld	(L8e72),hl	;; 8e98: 22 72 8e    "r.
	ld	hl,(L8e75)	;; 8e9b: 2a 75 8e    *u.
	ld	(L91b7),hl	;; 8e9e: 22 b7 91    "..
	ld	bc,00000h	;; 8ea1: 01 00 00    ...
	call	L91cf		;; 8ea4: cd cf 91    ...
	ld	hl,00000h	;; 8ea7: 21 00 00    ...
	ld	(L8e66),hl	;; 8eaa: 22 66 8e    "f.
	ld	hl,00080h	;; 8ead: 21 80 00    ...
	ld	(L8e64),hl	;; 8eb0: 22 64 8e    "d.
	ld	hl,L8e64	;; 8eb3: 21 64 8e    .d.
	ld	(L8e68),hl	;; 8eb6: 22 68 8e    "h.
	ld	hl,00000h	;; 8eb9: 21 00 00    ...
	ld	(L0103),hl	;; 8ebc: 22 03 01    "..
	ld	(L0105),hl	;; 8ebf: 22 05 01    "..
	ld	(L91bb),hl	;; 8ec2: 22 bb 91    "..
	ld	(L8e6c),hl	;; 8ec5: 22 6c 8e    "l.
	ld	(L8e70),hl	;; 8ec8: 22 70 8e    "p.
	call	L8ef2		;; 8ecb: cd f2 8e    ...
	xor	a,a		;; 8ece: af          .
	ld	(L8e74),a	;; 8ecf: 32 74 8e    2t.
	ld	hl,00050h	;; 8ed2: 21 50 00    .P.
	ld	(L8e12),hl	;; 8ed5: 22 12 8e    "..
	ld	c,00ch		;; 8ed8: 0e 0c       ..
	call	L91c3		;; 8eda: cd c3 91    ...
	ld	l,001h		;; 8edd: 2e 01       ..
	cp	a,020h		;; 8edf: fe 20       . 
	jr	c,L8ee4		;; 8ee1: 38 01       8.
	inc	l		;; 8ee3: 2c          ,
L8ee4:	ld	(L8e6e),hl	;; 8ee4: 22 6e 8e    "n.
	ld	c,01ah		;; 8ee7: 0e 1a       ..
	ld	de,00080h	;; 8ee9: 11 80 00    ...
	call	L91c3		;; 8eec: cd c3 91    ...
L8eef:	ret			;; 8eef: c9          .

L8ef0:	nop			;; 8ef0: 00          .
	nop			;; 8ef1: 00          .
L8ef2:	ld	hl,00000h	;; 8ef2: 21 00 00    ...
	ld	de,L0105	;; 8ef5: 11 05 01    ...
	push	de		;; 8ef8: d5          .
	push	hl		;; 8ef9: e5          .
	ld	de,L0103	;; 8efa: 11 03 01    ...
	push	de		;; 8efd: d5          .
	push	hl		;; 8efe: e5          .
	call	L8f18		;; 8eff: cd 18 8f    ...
	push	hl		;; 8f02: e5          .
	pop	iy		;; 8f03: fd e1       ..
	ld	(iy+5),016h	;; 8f05: fd 36 05 16 .6..
	call	L8f18		;; 8f09: cd 18 8f    ...
	push	hl		;; 8f0c: e5          .
	pop	iy		;; 8f0d: fd e1       ..
	ld	(iy+5),00bh	;; 8f0f: fd 36 05 0b .6..
	xor	a,a		;; 8f13: af          .
	ld	(L762d),a	;; 8f14: 32 2d 76    2-v
	ret			;; 8f17: c9          .

L8f18:	pop	hl		;; 8f18: e1          .
	pop	bc		;; 8f19: c1          .
	ex	(sp),hl		;; 8f1a: e3          .
	ld	e,(hl)		;; 8f1b: 5e          ^
	inc	hl		;; 8f1c: 23          #
	ld	d,(hl)		;; 8f1d: 56          V
	dec	hl		;; 8f1e: 2b          +
	push	hl		;; 8f1f: e5          .
	ld	a,d		;; 8f20: 7a          z
	or	a,a		;; 8f21: b7          .
	jr	z,L8f4c		;; 8f22: 28 28       ((
	ld	hl,(L91bb)	;; 8f24: 2a bb 91    *..
L8f27:	push	hl		;; 8f27: e5          .
	pop	iy		;; 8f28: fd e1       ..
	ld	a,h		;; 8f2a: 7c          |
	or	a,l		;; 8f2b: b5          .
	jr	z,L8f4c		;; 8f2c: 28 1e       (.
	sbc	hl,de		;; 8f2e: ed 52       .R
	jr	z,L8f3a		;; 8f30: 28 08       (.
	ld	l,(iy+2)	;; 8f32: fd 6e 02    .n.
	ld	h,(iy+3)	;; 8f35: fd 66 03    .f.
	jr	L8f27		;; 8f38: 18 ed       ..

L8f3a:	pop	hl		;; 8f3a: e1          .
	push	hl		;; 8f3b: e5          .
	ld	a,l		;; 8f3c: 7d          }
	cp	a,(iy+14)	;; 8f3d: fd be 0e    ...
	jr	nz,L8f4c	;; 8f40: 20 0a        .
	ld	a,h		;; 8f42: 7c          |
	cp	a,(iy+15)	;; 8f43: fd be 0f    ...
	jr	nz,L8f4c	;; 8f46: 20 04        .
	ex	de,hl		;; 8f48: eb          .
	pop	de		;; 8f49: d1          .
	xor	a,a		;; 8f4a: af          .
	ret			;; 8f4b: c9          .

L8f4c:	pop	hl		;; 8f4c: e1          .
	push	bc		;; 8f4d: c5          .
	push	hl		;; 8f4e: e5          .
	push	hl		;; 8f4f: e5          .
	push	hl		;; 8f50: e5          .
	ld	bc,00048h	;; 8f51: 01 48 00    .H.
	push	bc		;; 8f54: c5          .
	call	L9013		;; 8f55: cd 13 90    ...
	pop	hl		;; 8f58: e1          .
	ld	e,(hl)		;; 8f59: 5e          ^
	inc	hl		;; 8f5a: 23          #
	ld	d,(hl)		;; 8f5b: 56          V
	ld	h,d		;; 8f5c: 62          b
	ld	l,e		;; 8f5d: 6b          k
	ld	(hl),h		;; 8f5e: 74          t
	inc	hl		;; 8f5f: 23          #
	ld	(hl),l		;; 8f60: 75          u
	inc	hl		;; 8f61: 23          #
	ld	b,046h		;; 8f62: 06 46       .F
L8f64:	ld	(hl),000h	;; 8f64: 36 00       6.
	inc	hl		;; 8f66: 23          #
	djnz	L8f64		;; 8f67: 10 fb       ..
	push	de		;; 8f69: d5          .
	pop	iy		;; 8f6a: fd e1       ..
	ld	hl,(L91bb)	;; 8f6c: 2a bb 91    *..
	ld	(iy+2),l	;; 8f6f: fd 75 02    .u.
	ld	(iy+3),h	;; 8f72: fd 74 03    .t.
	ld	(L91bb),de	;; 8f75: ed 53 bb 91 .S..
	pop	bc		;; 8f79: c1          .
	ld	(iy+14),c	;; 8f7a: fd 71 0e    .q.
	ld	(iy+15),b	;; 8f7d: fd 70 0f    .p.
	ld	(iy+20),001h	;; 8f80: fd 36 14 01 .6..
	ld	(iy+21),080h	;; 8f84: fd 36 15 80 .6..
	pop	bc		;; 8f88: c1          .
	ld	a,b		;; 8f89: 78          x
	or	a,c		;; 8f8a: b1          .
	jr	z,L8f95		;; 8f8b: 28 08       (.
	ld	(iy+24),c	;; 8f8d: fd 71 18    .q.
	ld	(iy+25),b	;; 8f90: fd 70 19    .p.
	jr	L8fb2		;; 8f93: 18 1d       ..

L8f95:	set	0,(iy+4)	;; 8f95: fd cb 04 c6 ....
	ld	hl,00017h	;; 8f99: 21 17 00    ...
	add	hl,de		;; 8f9c: 19          .
	ld	(iy+16),l	;; 8f9d: fd 75 10    .u.
	ld	(iy+17),h	;; 8fa0: fd 74 11    .t.
	ld	(hl),020h	;; 8fa3: 36 20       6 
	ld	hl,00006h	;; 8fa5: 21 06 00    ...
	add	hl,de		;; 8fa8: 19          .
	ex	de,hl		;; 8fa9: eb          .
	ld	hl,L8fb8	;; 8faa: 21 b8 8f    ...
	ld	bc,00008h	;; 8fad: 01 08 00    ...
	ldir			;; 8fb0: ed b0       ..
L8fb2:	push	iy		;; 8fb2: fd e5       ..
	pop	hl		;; 8fb4: e1          .
	ld	a,001h		;; 8fb5: 3e 01       >.
	ret			;; 8fb7: c9          .

L8fb8:	dw	L8fc0
	dw	L8ffc
	dw	L9005
	dw	L9010

L8fc0:	ld	hl,L8e13	;; 8fc0: 21 13 8e    ...
	ld	a,(hl)		;; 8fc3: 7e          ~
	or	a,a		;; 8fc4: b7          .
	jr	z,L8fd4		;; 8fc5: 28 0d       (.
	dec	(hl)		;; 8fc7: 35          5
	ld	hl,(L8ef0)	;; 8fc8: 2a f0 8e    *..
	ld	a,(hl)		;; 8fcb: 7e          ~
	ld	(ix+23),a	;; 8fcc: dd 77 17    .w.
	inc	hl		;; 8fcf: 23          #
	ld	(L8ef0),hl	;; 8fd0: 22 f0 8e    "..
	ret			;; 8fd3: c9          .

L8fd4:	ld	de,L8e12	;; 8fd4: 11 12 8e    ...
	ld	c,00ah		;; 8fd7: 0e 0a       ..
	call	L91c3		;; 8fd9: cd c3 91    ...
	ld	hl,L8e14	;; 8fdc: 21 14 8e    ...
	ld	(L8ef0),hl	;; 8fdf: 22 f0 8e    "..
	ld	hl,L8e12	;; 8fe2: 21 12 8e    ...
	ld	b,(hl)		;; 8fe5: 46          F
	inc	hl		;; 8fe6: 23          #
	ld	a,(hl)		;; 8fe7: 7e          ~
	cp	a,b		;; 8fe8: b8          .
	jr	z,L8fc0		;; 8fe9: 28 d5       (.
	inc	(hl)		;; 8feb: 34          4
	ld	d,000h		;; 8fec: 16 00       ..
	ld	e,a		;; 8fee: 5f          _
	add	hl,de		;; 8fef: 19          .
	inc	hl		;; 8ff0: 23          #
	ld	(hl),00dh	;; 8ff1: 36 0d       6.
	ld	(ix+23),00ah	;; 8ff3: dd 36 17 0a .6..
	call	L8ffc		;; 8ff7: cd fc 8f    ...
	jr	L8fc0		;; 8ffa: 18 c4       ..

L8ffc:	ld	e,(ix+23)	;; 8ffc: dd 5e 17    .^.
	ld	c,002h		;; 8fff: 0e 02       ..
	call	L91c3		;; 9001: cd c3 91    ...
	ret			;; 9004: c9          .

L9005:	bit	2,(ix+5)	;; 9005: dd cb 05 56 ...V
	ret	z		;; 9009: c8          .
	ld	hl,L8e13	;; 900a: 21 13 8e    ...
	ld	(hl),000h	;; 900d: 36 00       6.
	ret			;; 900f: c9          .

L9010:	ret			;; 9010: c9          .

L9011:	dw	0

L9013:	pop	hl		;; 9013: e1          .
	jr	L901a		;; 9014: 18 04       ..

L9016:	pop	hl		;; 9016: e1          .
	ld	(L91bd),hl	;; 9017: 22 bd 91    "..
L901a:	pop	de		;; 901a: d1          .
	ex	(sp),hl		;; 901b: e3          .
	push	hl		;; 901c: e5          .
	ld	hl,00003h	;; 901d: 21 03 00    ...
	or	a,a		;; 9020: b7          .
	sbc	hl,de		;; 9021: ed 52       .R
	jr	c,L9028		;; 9023: 38 03       8.
	ld	de,00004h	;; 9025: 11 04 00    ...
L9028:	push	de		;; 9028: d5          .
	pop	iy		;; 9029: fd e1       ..
L902b:	ld	hl,(L8e68)	;; 902b: 2a 68 8e    *h.
	push	hl		;; 902e: e5          .
L902f:	pop	hl		;; 902f: e1          .
	push	hl		;; 9030: e5          .
	ld	e,(hl)		;; 9031: 5e          ^
	inc	hl		;; 9032: 23          #
	ld	d,(hl)		;; 9033: 56          V
	ld	a,d		;; 9034: 7a          z
	or	a,a		;; 9035: b7          .
	jr	nz,L903d	;; 9036: 20 05        .
	ld	de,L8e64	;; 9038: 11 64 8e    .d.
	jr	L9056		;; 903b: 18 19       ..

L903d:	ld	hl,00002h	;; 903d: 21 02 00    ...
	add	hl,de		;; 9040: 19          .
	ld	a,(hl)		;; 9041: 7e          ~
	inc	hl		;; 9042: 23          #
	ld	h,(hl)		;; 9043: 66          f
	ld	l,a		;; 9044: 6f          o
	push	iy		;; 9045: fd e5       ..
	pop	bc		;; 9047: c1          .
	or	a,a		;; 9048: b7          .
	sbc	hl,bc		;; 9049: ed 42       .B
	jr	c,L9056		;; 904b: 38 09       8.
	jr	z,L908c		;; 904d: 28 3d       (=
	ld	bc,00004h	;; 904f: 01 04 00    ...
	sbc	hl,bc		;; 9052: ed 42       .B
	jr	nc,L908c	;; 9054: 30 36       06
L9056:	pop	hl		;; 9056: e1          .
	push	de		;; 9057: d5          .
	ld	hl,(L8e68)	;; 9058: 2a 68 8e    *h.
	or	a,a		;; 905b: b7          .
	sbc	hl,de		;; 905c: ed 52       .R
	jr	nz,L902f	;; 905e: 20 cf        .
	pop	hl		;; 9060: e1          .
	push	iy		;; 9061: fd e5       ..
	pop	bc		;; 9063: c1          .
	ld	a,b		;; 9064: 78          x
	or	a,a		;; 9065: b7          .
	jr	nz,L9070	;; 9066: 20 08        .
	ld	a,c		;; 9068: 79          y
	and	a,0c0h		;; 9069: e6 c0       ..
	jr	nz,L9070	;; 906b: 20 03        .
	ld	bc,00100h	;; 906d: 01 00 01    ...
L9070:	ld	hl,(L91b7)	;; 9070: 2a b7 91    *..
	push	hl		;; 9073: e5          .
	push	bc		;; 9074: c5          .
	push	iy		;; 9075: fd e5       ..
	ld	hl,L91b7	;; 9077: 21 b7 91    ...
	push	hl		;; 907a: e5          .
	push	bc		;; 907b: c5          .
	call	L90d9		;; 907c: cd d9 90    ...
	pop	iy		;; 907f: fd e1       ..
	pop	bc		;; 9081: c1          .
	pop	hl		;; 9082: e1          .
	ld	(L91b7),hl	;; 9083: 22 b7 91    "..
	call	L91cf		;; 9086: cd cf 91    ...
	jp	L902b		;; 9089: c3 2b 90    .+.

L908c:	ld	hl,00002h	;; 908c: 21 02 00    ...
	add	hl,de		;; 908f: 19          .
	push	hl		;; 9090: e5          .
	ld	a,(hl)		;; 9091: 7e          ~
	inc	hl		;; 9092: 23          #
	ld	h,(hl)		;; 9093: 66          f
	ld	l,a		;; 9094: 6f          o
	push	iy		;; 9095: fd e5       ..
	pop	bc		;; 9097: c1          .
	or	a,a		;; 9098: b7          .
	sbc	hl,bc		;; 9099: ed 42       .B
	pop	bc		;; 909b: c1          .
	ld	a,l		;; 909c: 7d          }
	ld	(bc),a		;; 909d: 02          .
	inc	bc		;; 909e: 03          .
	ld	a,h		;; 909f: 7c          |
	ld	(bc),a		;; 90a0: 02          .
	push	hl		;; 90a1: e5          .
	add	hl,de		;; 90a2: 19          .
	ld	(L9011),hl	;; 90a3: 22 11 90    "..
	pop	hl		;; 90a6: e1          .
	ld	a,h		;; 90a7: 7c          |
	or	a,l		;; 90a8: b5          .
	jr	nz,L90c1	;; 90a9: 20 16        .
	ld	hl,(L8e68)	;; 90ab: 2a 68 8e    *h.
	or	a,a		;; 90ae: b7          .
	sbc	hl,de		;; 90af: ed 52       .R
	jr	nz,L90b9	;; 90b1: 20 06        .
	ld	hl,L8e64	;; 90b3: 21 64 8e    .d.
	ld	(L8e68),hl	;; 90b6: 22 68 8e    "h.
L90b9:	pop	hl		;; 90b9: e1          .
	push	hl		;; 90ba: e5          .
	ld	a,(de)		;; 90bb: 1a          .
	ld	(hl),a		;; 90bc: 77          w
	inc	de		;; 90bd: 13          .
	inc	hl		;; 90be: 23          #
	ld	a,(de)		;; 90bf: 1a          .
	ld	(hl),a		;; 90c0: 77          w
L90c1:	pop	hl		;; 90c1: e1          .
	ld	e,(hl)		;; 90c2: 5e          ^
	inc	hl		;; 90c3: 23          #
	ld	d,(hl)		;; 90c4: 56          V
	ex	de,hl		;; 90c5: eb          .
	ld	a,h		;; 90c6: 7c          |
	or	a,a		;; 90c7: b7          .
	jr	nz,L90cd	;; 90c8: 20 03        .
	ld	hl,L8e64	;; 90ca: 21 64 8e    .d.
L90cd:	ld	(L8e68),hl	;; 90cd: 22 68 8e    "h.
	ld	hl,(L9011)	;; 90d0: 2a 11 90    *..
	ex	de,hl		;; 90d3: eb          .
	pop	hl		;; 90d4: e1          .
	ld	(hl),e		;; 90d5: 73          s
	inc	hl		;; 90d6: 23          #
	ld	(hl),d		;; 90d7: 72          r
	ret			;; 90d8: c9          .

L90d9:	pop	hl		;; 90d9: e1          .
	pop	de		;; 90da: d1          .
	ex	(sp),hl		;; 90db: e3          .
	ld	c,(hl)		;; 90dc: 4e          N
	inc	hl		;; 90dd: 23          #
	ld	b,(hl)		;; 90de: 46          F
	ld	hl,00003h	;; 90df: 21 03 00    ...
	or	a,a		;; 90e2: b7          .
	sbc	hl,de		;; 90e3: ed 52       .R
	jr	c,L90ea		;; 90e5: 38 03       8.
	ld	de,00004h	;; 90e7: 11 04 00    ...
L90ea:	push	de		;; 90ea: d5          .
	pop	iy		;; 90eb: fd e1       ..
	ld	hl,(L91b7)	;; 90ed: 2a b7 91    *..
	or	a,a		;; 90f0: b7          .
	sbc	hl,bc		;; 90f1: ed 42       .B
	jr	c,L912d		;; 90f3: 38 38       88
	ld	hl,(L8e75)	;; 90f5: 2a 75 8e    *u.
	dec	hl		;; 90f8: 2b          +
	sbc	hl,bc		;; 90f9: ed 42       .B
	jr	nc,L912d	;; 90fb: 30 30       00
	ld	hl,(L8e68)	;; 90fd: 2a 68 8e    *h.
	push	hl		;; 9100: e5          .
	or	a,a		;; 9101: b7          .
	sbc	hl,bc		;; 9102: ed 42       .B
	pop	hl		;; 9104: e1          .
	jr	c,L910a		;; 9105: 38 03       8.
	ld	hl,L8e64	;; 9107: 21 64 8e    .d.
L910a:	push	hl		;; 910a: e5          .
L910b:	ld	e,(hl)		;; 910b: 5e          ^
	inc	hl		;; 910c: 23          #
	ld	d,(hl)		;; 910d: 56          V
	ex	de,hl		;; 910e: eb          .
	push	hl		;; 910f: e5          .
	ld	a,h		;; 9110: 7c          |
	or	a,a		;; 9111: b7          .
	jr	z,L9152		;; 9112: 28 3e       (>
	sbc	hl,bc		;; 9114: ed 42       .B
	jr	nc,L911e	;; 9116: 30 06       0.
	pop	hl		;; 9118: e1          .
	pop	de		;; 9119: d1          .
	push	hl		;; 911a: e5          .
	jp	L910b		;; 911b: c3 0b 91    ...

L911e:	push	iy		;; 911e: fd e5       ..
	pop	hl		;; 9120: e1          .
	add	hl,bc		;; 9121: 09          .
	pop	de		;; 9122: d1          .
	push	de		;; 9123: d5          .
	or	a,a		;; 9124: b7          .
	sbc	hl,de		;; 9125: ed 52       .R
	jr	c,L9152		;; 9127: 38 29       8)
	jr	z,L9134		;; 9129: 28 09       (.
	pop	hl		;; 912b: e1          .
	pop	hl		;; 912c: e1          .
L912d:	ld	a,050h		;; 912d: 3e 50       >P
	ld	c,000h		;; 912f: 0e 00       ..
	call	L921e		;; 9131: cd 1e 92    ...
L9134:	ld	hl,(L8e68)	;; 9134: 2a 68 8e    *h.
	or	a,a		;; 9137: b7          .
	sbc	hl,de		;; 9138: ed 52       .R
	jr	nz,L9142	;; 913a: 20 06        .
	ld	hl,L8e64	;; 913c: 21 64 8e    .d.
	ld	(L8e68),hl	;; 913f: 22 68 8e    "h.
L9142:	ld	a,(de)		;; 9142: 1a          .
	ld	(bc),a		;; 9143: 02          .
	inc	de		;; 9144: 13          .
	inc	bc		;; 9145: 03          .
	ld	a,(de)		;; 9146: 1a          .
	ld	(bc),a		;; 9147: 02          .
	dec	bc		;; 9148: 0b          .
	inc	de		;; 9149: 13          .
	ex	de,hl		;; 914a: eb          .
	ld	e,(hl)		;; 914b: 5e          ^
	inc	hl		;; 914c: 23          #
	ld	d,(hl)		;; 914d: 56          V
	add	iy,de		;; 914e: fd 19       ..
	jr	L915a		;; 9150: 18 08       ..

L9152:	pop	hl		;; 9152: e1          .
	push	hl		;; 9153: e5          .
	ld	a,l		;; 9154: 7d          }
	ld	(bc),a		;; 9155: 02          .
	inc	bc		;; 9156: 03          .
	ld	a,h		;; 9157: 7c          |
	ld	(bc),a		;; 9158: 02          .
	dec	bc		;; 9159: 0b          .
L915a:	pop	hl		;; 915a: e1          .
	ld	hl,(L91b7)	;; 915b: 2a b7 91    *..
	or	a,a		;; 915e: b7          .
	sbc	hl,bc		;; 915f: ed 42       .B
	push	iy		;; 9161: fd e5       ..
	pop	de		;; 9163: d1          .
	or	a,a		;; 9164: b7          .
	sbc	hl,de		;; 9165: ed 52       .R
	jr	nz,L9184	;; 9167: 20 1b        .
	ld	hl,(L91b7)	;; 9169: 2a b7 91    *..
	or	a,a		;; 916c: b7          .
	sbc	hl,de		;; 916d: ed 52       .R
	ld	(L91b7),hl	;; 916f: 22 b7 91    "..
	ld	de,L0100	;; 9172: 11 00 01    ...
	add	hl,de		;; 9175: 19          .
	ld	a,h		;; 9176: 7c          |
	cpl			;; 9177: 2f          /
	ld	h,a		;; 9178: 67          g
	ld	a,l		;; 9179: 7d          }
	cpl			;; 917a: 2f          /
	ld	l,a		;; 917b: 6f          o
	ld	(L91b9),hl	;; 917c: 22 b9 91    "..
	pop	hl		;; 917f: e1          .
	inc	hl		;; 9180: 23          #
	ld	(hl),000h	;; 9181: 36 00       6.
	ret			;; 9183: c9          .

L9184:	pop	hl		;; 9184: e1          .
	push	hl		;; 9185: e5          .
	inc	hl		;; 9186: 23          #
	inc	hl		;; 9187: 23          #
	ld	e,(hl)		;; 9188: 5e          ^
	inc	hl		;; 9189: 23          #
	ld	d,(hl)		;; 918a: 56          V
	pop	hl		;; 918b: e1          .
	push	hl		;; 918c: e5          .
	add	hl,de		;; 918d: 19          .
	or	a,a		;; 918e: b7          .
	sbc	hl,bc		;; 918f: ed 42       .B
	jr	nz,L91a8	;; 9191: 20 15        .
	pop	hl		;; 9193: e1          .
	ld	a,(bc)		;; 9194: 0a          .
	ld	(hl),a		;; 9195: 77          w
	inc	bc		;; 9196: 03          .
	inc	hl		;; 9197: 23          #
	ld	a,(bc)		;; 9198: 0a          .
	ld	(hl),a		;; 9199: 77          w
	dec	bc		;; 919a: 0b          .
	inc	hl		;; 919b: 23          #
	ld	e,(hl)		;; 919c: 5e          ^
	inc	hl		;; 919d: 23          #
	ld	d,(hl)		;; 919e: 56          V
	add	iy,de		;; 919f: fd 19       ..
	push	iy		;; 91a1: fd e5       ..
	pop	de		;; 91a3: d1          .
	ld	(hl),d		;; 91a4: 72          r
	dec	hl		;; 91a5: 2b          +
	ld	(hl),e		;; 91a6: 73          s
	ret			;; 91a7: c9          .

L91a8:	pop	hl		;; 91a8: e1          .
	ld	(hl),c		;; 91a9: 71          q
	inc	hl		;; 91aa: 23          #
	ld	(hl),b		;; 91ab: 70          p
	push	iy		;; 91ac: fd e5       ..
	pop	de		;; 91ae: d1          .
	inc	bc		;; 91af: 03          .
	inc	bc		;; 91b0: 03          .
	ld	a,e		;; 91b1: 7b          {
	ld	(bc),a		;; 91b2: 02          .
	inc	bc		;; 91b3: 03          .
	ld	a,d		;; 91b4: 7a          z
	ld	(bc),a		;; 91b5: 02          .
	ret			;; 91b6: c9          .

L91b7:	dw	0
L91b9:	dw	0
L91bb:	dw	0
L91bd:	dw	0
L91bf:	dw	0
L91c1:	dw	0

L91c3:	push	ix		;; 91c3: dd e5       ..
	push	iy		;; 91c5: fd e5       ..
	call	00005h		;; 91c7: cd 05 00    ...
	pop	iy		;; 91ca: fd e1       ..
	pop	ix		;; 91cc: dd e1       ..
	ret			;; 91ce: c9          .

L91cf:	ld	hl,(L91b7)	;; 91cf: 2a b7 91    *..
	add	hl,bc		;; 91d2: 09          .
	jr	c,L91e9		;; 91d3: 38 14       8.
	ld	(L91b7),hl	;; 91d5: 22 b7 91    "..
	ld	bc,00100h	;; 91d8: 01 00 01    ...
	add	hl,bc		;; 91db: 09          .
	jr	c,L91e9		;; 91dc: 38 0b       8.
	ld	a,h		;; 91de: 7c          |
	cpl			;; 91df: 2f          /
	ld	h,a		;; 91e0: 67          g
	ld	a,l		;; 91e1: 7d          }
	cpl			;; 91e2: 2f          /
	ld	l,a		;; 91e3: 6f          o
	ld	(L91b9),hl	;; 91e4: 22 b9 91    "..
	add	hl,sp		;; 91e7: 39          9
	ret	c		;; 91e8: d8          .
L91e9:	pop	de		;; 91e9: d1          .
	ld	a,048h		;; 91ea: 3e 48       >H
	ld	c,004h		;; 91ec: 0e 04       ..
	call	L921e		;; 91ee: cd 1e 92    ...
L91f1:	push	bc		;; 91f1: c5          .
	push	hl		;; 91f2: e5          .
	ld	c,002h		;; 91f3: 0e 02       ..
	call	L91c3		;; 91f5: cd c3 91    ...
	pop	hl		;; 91f8: e1          .
	pop	bc		;; 91f9: c1          .
	ret			;; 91fa: c9          .

L91fb:	ld	c,a		;; 91fb: 4f          O
	ld	b,002h		;; 91fc: 06 02       ..
	rra			;; 91fe: 1f          .
	rra			;; 91ff: 1f          .
	rra			;; 9200: 1f          .
	rra			;; 9201: 1f          .
L9202:	and	a,00fh		;; 9202: e6 0f       ..
	add	a,030h		;; 9204: c6 30       .0
	cp	a,03ah		;; 9206: fe 3a       .:
	jp	m,L920d		;; 9208: fa 0d 92    ...
	add	a,007h		;; 920b: c6 07       ..
L920d:	ld	e,a		;; 920d: 5f          _
	call	L91f1		;; 920e: cd f1 91    ...
	ld	a,c		;; 9211: 79          y
	djnz	L9202		;; 9212: 10 ee       ..
	ret			;; 9214: c9          .

	pop	hl		;; 9215: e1          .
	pop	af		;; 9216: f1          .
	ld	c,002h		;; 9217: 0e 02       ..
	push	hl		;; 9219: e5          .
	call	L921e		;; 921a: cd 1e 92    ...
	ret			;; 921d: c9          .

L921e:	or	a,a		;; 921e: b7          .
	ld	hl,(L91c1)	;; 921f: 2a c1 91    *..
	call	L92bd		;; 9222: cd bd 92    ...
	jr	nc,L922f	;; 9225: 30 08       0.
	rr	c		;; 9227: cb 19       ..
	rr	c		;; 9229: cb 19       ..
	ret	c		;; 922b: d8          .
	jp	L92b3		;; 922c: c3 b3 92    ...

L922f:	push	af		;; 922f: f5          .
	rr	c		;; 9230: cb 19       ..
	jr	nc,L923c	;; 9232: 30 08       0.
	ex	de,hl		;; 9234: eb          .
L9235:	ld	e,(hl)		;; 9235: 5e          ^
	inc	hl		;; 9236: 23          #
	call	L91f1		;; 9237: cd f1 91    ...
	djnz	L9235		;; 923a: 10 f9       ..
L923c:	push	bc		;; 923c: c5          .
	ld	c,009h		;; 923d: 0e 09       ..
	ld	de,L92be	;; 923f: 11 be 92    ...
	call	L91c3		;; 9242: cd c3 91    ...
	pop	bc		;; 9245: c1          .
	pop	af		;; 9246: f1          .
	push	bc		;; 9247: c5          .
	ld	e,a		;; 9248: 5f          _
	call	L91f1		;; 9249: cd f1 91    ...
	ld	c,009h		;; 924c: 0e 09       ..
	ld	de,L92c7	;; 924e: 11 c7 92    ...
	call	L91c3		;; 9251: cd c3 91    ...
	pop	bc		;; 9254: c1          .
	pop	de		;; 9255: d1          .
	pop	hl		;; 9256: e1          .
	push	hl		;; 9257: e5          .
	push	de		;; 9258: d5          .
	push	bc		;; 9259: c5          .
	ld	a,c		;; 925a: 79          y
	and	a,002h		;; 925b: e6 02       ..
	jr	z,L9262		;; 925d: 28 03       (.
	ld	hl,(L91bd)	;; 925f: 2a bd 91    *..
L9262:	ld	a,h		;; 9262: 7c          |
	call	L91fb		;; 9263: cd fb 91    ...
	ld	a,l		;; 9266: 7d          }
	call	L91fb		;; 9267: cd fb 91    ...
	ld	e,00dh		;; 926a: 1e 0d       ..
	call	L91f1		;; 926c: cd f1 91    ...
	ld	e,00ah		;; 926f: 1e 0a       ..
	call	L91f1		;; 9271: cd f1 91    ...
	ld	hl,(L91bf)	;; 9274: 2a bf 91    *..
	call	L92bd		;; 9277: cd bd 92    ...
	pop	bc		;; 927a: c1          .
	rr	c		;; 927b: cb 19       ..
	jp	nc,L92b3	;; 927d: d2 b3 92    ...
	ld	de,L92d4	;; 9280: 11 d4 92    ...
L9283:	ld	c,009h		;; 9283: 0e 09       ..
	call	L91c3		;; 9285: cd c3 91    ...
L9288:	ld	c,001h		;; 9288: 0e 01       ..
	call	L91c3		;; 928a: cd c3 91    ...
	cp	a,059h		;; 928d: fe 59       .Y
	jr	z,L92a8		;; 928f: 28 17       (.
	cp	a,079h		;; 9291: fe 79       .y
	jr	z,L92a8		;; 9293: 28 13       (.
	cp	a,04eh		;; 9295: fe 4e       .N
	jp	z,L92b3		;; 9297: ca b3 92    ...
	cp	a,06eh		;; 929a: fe 6e       .n
	jp	z,L92b3		;; 929c: ca b3 92    ...
	ld	de,L92e6	;; 929f: 11 e6 92    ...
	cp	a,020h		;; 92a2: fe 20       . 
	jr	nc,L9283	;; 92a4: 30 dd       0.
	jr	L9288		;; 92a6: 18 e0       ..

L92a8:	ld	e,00dh		;; 92a8: 1e 0d       ..
	call	L91f1		;; 92aa: cd f1 91    ...
	ld	e,00ah		;; 92ad: 1e 0a       ..
	call	L91f1		;; 92af: cd f1 91    ...
	ret			;; 92b2: c9          .

L92b3:	ld	hl,(L91bb)	;; 92b3: 2a bb 91    *..
	push	hl		;; 92b6: e5          .
	call	L932f		;; 92b7: cd 2f 93    ./.
	jp	00000h		;; 92ba: c3 00 00    ...

L92bd:	jp	(hl)		;; 92bd: e9          .

L92be:	db	0dh,0ah,'Error $'
L92c7:	db	' at address $'
L92d4:	db	'Continue ? (Y/N) $'
L92e6:	db	8,' ',8,'$'
L92ea:	ld	b,a		;; 92ea: 47          G
	ld	a,(ix+5)	;; 92eb: dd 7e 05    .~.
	and	a,00ch		;; 92ee: e6 0c       ..
	ret	z		;; 92f0: c8          .
	bit	3,a		;; 92f1: cb 5f       ._
	jr	z,L931f		;; 92f3: 28 2a       (*
	bit	7,(ix+5)	;; 92f5: dd cb 05 7e ...~
	jr	nz,L931f	;; 92f9: 20 24        $
	bit	0,(ix+4)	;; 92fb: dd cb 04 46 ...F
	jr	z,L931f		;; 92ff: 28 1e       (.
	bit	1,(ix+5)	;; 9301: dd cb 05 4e ...N
	jr	nz,L931f	;; 9305: 20 18        .
	push	bc		;; 9307: c5          .
	ld	l,(ix+8)	;; 9308: dd 6e 08    .n.
	ld	h,(ix+9)	;; 930b: dd 66 09    .f.
	push	hl		;; 930e: e5          .
	ld	(ix+23),00dh	;; 930f: dd 36 17 0d .6..
	call	L932e		;; 9313: cd 2e 93    ...
	pop	hl		;; 9316: e1          .
	ld	(ix+23),00ah	;; 9317: dd 36 17 0a .6..
	call	L932e		;; 931b: cd 2e 93    ...
	pop	bc		;; 931e: c1          .
L931f:	ld	l,(ix+12)	;; 931f: dd 6e 0c    .n.
	ld	h,(ix+13)	;; 9322: dd 66 0d    .f.
	ld	a,b		;; 9325: 78          x
	call	L932e		;; 9326: cd 2e 93    ...
	ld	(ix+5),010h	;; 9329: dd 36 05 10 .6..
	ret			;; 932d: c9          .

L932e:	jp	(hl)		;; 932e: e9          .

L932f:	pop	hl		;; 932f: e1          .
	ex	(sp),hl		;; 9330: e3          .
L9331:	ld	a,h		;; 9331: 7c          |
	or	a,a		;; 9332: b7          .
	ret	z		;; 9333: c8          .
	push	hl		;; 9334: e5          .
	pop	ix		;; 9335: dd e1       ..
	xor	a,a		;; 9337: af          .
	call	L92ea		;; 9338: cd ea 92    ...
	ld	l,(ix+2)	;; 933b: dd 6e 02    .n.
	ld	h,(ix+3)	;; 933e: dd 66 03    .f.
	jr	L9331		;; 9341: 18 ee       ..

L9343:	ds	1622
L9999:	ds	0

	end
